[2021-04-11 04:21] #2015 closed

[2021-04-11 18:32] #1119 closed

[2021-04-11 18:32] #2319 closed

[2021-04-12 01:29] #2757 closed

[2021-04-12 01:59] Xxllj834738992 commented on #2759
Sorry, I don't know how to do it. Could you please help me?

[2021-04-12 03:10] GsssC commented on #2759
@Xxllj834738992 just
[code]

[2021-04-12 03:16] Xxllj834738992 commented on #2759
Thanks a lot!

[2021-04-12 03:16] #2759 closed

[2021-04-12 03:52] #2580 closed

[2021-04-12 03:53] #2579 closed

[2021-04-13 03:02] Poorunga opened #2769 "failed to list *unstructured.Unstructured: the server could not find the requested resource"
**What happened**:
I created some istio crds(gateway, virtualservice, destinationrule), and I can get them through `kubectl`:
[code]
I want to use the list-watch capability on the `edgecore` to obtain gateway resources, but it failed. Edgecore's list-watch has been ensured to be turned on, because I can get services, pods, configmap and other resources through it.
The error of `dynamicController`

[2021-04-13 03:04] Poorunga commented on #2769
@fisherxu

[2021-04-13 06:40] ttlv commented on #2249
ble mapper had been merged,this issue can be closed

[2021-04-14 02:18] Xxllj834738992 opened #2772 "cloudcore.service failed"
-- Subject: Unit cloudcore.service has finished shutting down
-- Defined-By: systemd
-- Support: http://lists.freedesktop.org/mailman/listinfo/systemd-devel
--
-- Unit cloudcore.service has finished shutting down.
4月 14 09:54:34 cloud systemd[1]: Started cloudcore.service.
-- Subject: Unit cloudcore.service has finished start-up
-- Defined-By: systemd
-- Support: http://lists.freedesktop.org/mailm

[2021-04-14 02:50] Xxllj834738992 opened #2773 "cloudcore.service failed"
-- Subject: Unit cloudcore.service has finished shutting down
-- Defined-By: systemd
-- Support: http://lists.freedesktop.org/mailman/listinfo/systemd-devel
--
-- Unit cloudcore.service has finished shutting down.
4月 14 09:54:34 cloud systemd[1]: Started cloudcore.service.
-- Subject: Unit cloudcore.service has finished start-up
-- Defined-By: systemd
-- Support: http://lists.freedesktop.org/mailm

[2021-04-14 02:55] #2772 closed

[2021-04-14 06:52] GsssC commented on #2769
What kind of resource dose istio want to get when meet this error? : )

[2021-04-14 10:29] fisherxu opened #2775 "Move all mappers to kubeedge/mappers-go tracking issue"
Now we will move all mappers to kubeedge/mappers-go repo, here's the tracking issue and todo list.

- [ ] fix docs in website repo
- [ ] add make and e2e test in mappers-go repo

[2021-04-14 11:41] Poorunga commented on #2769
I did not deploy istio, I just created some istio crds, such as `gateway`, `virtualservice` and `destinationrule`. I can get them through `kubectl`:
[code]

But I can't get them through edgecore's list-watch:
[code]

The error of `dynamicController` is as follows:
[code]

[2021-04-14 12:52] GsssC commented on #2769
@Poorunga  could you show the definition of these crds in yaml?

And I can not find a kube api called gateway in /v1.

[2021-04-15 01:34] Poorunga commented on #2769
@GsssC  Thank you for your answer.
Here is my CRDs yaml:
[code]

[2021-04-15 02:11] GsssC commented on #2769
Kube APIs is divided into diffrent Groups and Version, which compose apiVersion like `apiVersion: apiextensions.k8s.io/v1beta1`. The Kube API RESTful HTTP URL is like:
1. `http://ip:port/api/{version}/namespaces/{namespace}/resource/name-foo`, (request namespaced APIs under Group "core")
2. `http://ip:port/apis/{group}/{version}/namespaces/{namespace}/resource/name-foo`, (request namespaced APIs u

[2021-04-15 06:06] DreamEagle0 opened #2776 "Should edgenode crash be considered in autonomy scenario?"
When cloud nodes cannot connect to a edge node, there are 2 scenarios:
1. network disconnection
2. edge node crashes

Consider the second scenario. When a edge node crashes, the pod in the edge node will not be evicted. In this case, the service of the pod will keep unavailable? Is there any way to fix this?

[2021-04-15 07:21] GsssC commented on #2761
try **kubectl delete namespaces kubeedge**, it will delete certifications.
And cloudcore will re-create these certifications when restart.

[2021-04-15 07:34] fisherxu commented on #2776
@DreamEagle0 Now we haven't done the detection for edge node for the scenario of network disconnection or crash.

There are some ideas to make edge nodes detect each other, but when the network of other nodes is also disconnected(use the same gateway), there is still no way to know whether the network is disconnected or crashed.

But I think we can add some detections api for users, who can decide

[2021-04-15 08:01] gy95 opened #2778 "Refactoring Device Module: use k8s v1alpha2.Device CRD structure, instead of self-defined device or twin property structure, to communicate between cloud and edge, between edge and device."
### devicetwin module refactoring key points：

1、One general principle is that all of messages between cloud and edge, or between edge and device, all apply for K8s device CRD structure as follows:

[code]

and so all related content arising out of changing message content structure should be modified accordingly. and we will not use the following structure or other similar self-defined structures

[2021-04-15 09:01] beyondyinjl2 opened #2779 "keadm gettoken validity issue"
1 What is the validity period of keadm gettoken?
2 keadm gettoken can modify the validity period of the token, or produce a new token?

[2021-04-15 09:41] zhu733756 opened #2780 "How about change the api verision of the crds to a stable version?"
**What happened and what you expected to happen**:
Currently, the crds are in different version. How about change the api version of the crds to apiextensions.k8s.io/v1 ?  It would help me a lot to manage these crds. Thanks.

[2021-04-15 09:44] fisherxu commented on #2780
Sure, we sould use tools like kubebuilder to generate the crd.

[2021-04-15 09:48] zhu733756 commented on #2780
Great. Thanks you again.

[2021-04-15 11:12] GsssC commented on #2779
1. 12h according to https://github.com/kubeedge/kubeedge/blob/f01eeff7f4cc870ebcc5eff290071e8aabc8e36d/cloud/pkg/cloudhub/servers/httpserver/signcerts.go#L88-L87
2. both not. `keadm gettoken` just read token stored in etcd and print out. you could also get by `kubectl get secret -nkubeedge tokensecret`

[2021-04-15 11:35] GsssC commented on #2773
4月 14 09:54:35 cloud cloudcore[90353]: F0414 09:54:35.018656 90353 server.go:67] listen tcp 0.0.0.0:10002: bind: address already in use

[2021-04-15 11:45] GsssC commented on #2763
@ttlv PTAL : )

[2021-04-15 13:24] Xxllj834738992 commented on #2773
Port 10002 occupied by cloudcore.

[2021-04-15 16:04] ttlv commented on #2763
@esakat well,I don't think it's a bug because the field of values must be filled, if null we will get a fatal error(index out of range ). You will find the coupling relationship between node and device(in counter example we don't have any device,I mean mapper) in other words device belongs to nodeA and can't belong to  nodeB at the same time. WDYT :)

[2021-04-16 01:59] jackgege90 opened #2782 "Edgecode has pod residue"
When the state of the edge node is out of sync with the cloud, can it be reset remotely? For example, I create a batch of micro services in the cloud and distribute them to node1, but I don't know why, when I delete them in the cloudcore, there is still a service running on node1. Due to port mapping, I can't create the service normally after republishing the micro service. Besides manual deletion

[2021-04-16 02:15] esakat commented on #2763
@ttlv thank you. you perfectly right.

to achieve this. the node selected by nodeSelector should be unique.
I understood this is not bug.

----
sorry following is my opinion.

but I was little confused by this specification.
`nodeSelector` looks it should be set `nodename` as `Value`.

I tried following

[code]

and apply this Device manifest.

[code]

There wasn't  error in cloudcore log.
but thi

[2021-04-16 04:19] GsssC commented on #2782
Sorry, now the only sync method is **"deleting node" , "keadm reset" and re"keadm join"**, same as "kubelet is wrong".
It is better to figure out why edgecore is out of sync.

[2021-04-16 09:08] beyondyinjl2 opened #2786 "How Metrics Server gets the disk"
supports CPU/Memory/Storage, but I don't see Storage.
kubectl top -h:
Display Resource (CPU/Memory/Storage) usage.
Available Commands:
  node        Display Resource (CPU/Memory/Storage) usage of nodes
  pod         Display Resource (CPU/Memory/Storage) usage of pods
But no disk information:
kubectl top node:
NAME          CPU(cores)   CPU%   MEMORY(bytes)   MEMORY%
edge-node-1   2510m        62%

[2021-04-16 15:00] vickiyan commented on #1662
Similar issue for me. I use kubeedge version 1.5 with Calico CNI plugin.  The caliconode pod could start successfully on edge node, but Pod deployed to edge node cannot  start successfully with status "Containercreating".

Is there any document for deploying CNI plugin?

[2021-04-16 15:15] vickiyan opened #2787 "does custom k8s cni plugin support for kubeedge"
**What happened and what you expected to happen**:
calico cni plugin doesn't work on edge node but works on k8s node.  Are k8s cni plugins like calico or other custom cni plugins supported on edge node? If yes, any document to deploy step-by-step as an example？

**How to reproduce it (as minimally and precisely as possible)**:
1.modify the edgecore.yaml as below:
1).close edgemesh "modules.edgemes

[2021-04-16 15:17] vickiyan opened #2788 "Does custom cni plugin like calico support on edge node?"
**What happened and what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
**What happened and what you expected to happen**:
calico cni plugin doesn't work on edge node but works on k8s node.  Are k8s cni plugins like calico or other custom cni plugins su

[2021-04-17 04:57] #2140 closed

[2021-04-17 09:50] ttlv commented on #2763
@esakat You are right, if you read the source code of the devicecontroller you will find the values(it must be nodename now) which you set in the device yaml is very important and your suggestion is good to me, I am goging to talk about this problem with other community‘s  members, welcome to join us :)

[2021-04-18 09:06] milindw96 opened #2789 "Facing issue while Setting-up KubeEdge from sourcecode"
Hello
i am trying to   setup  KubeEdge from sourcecode
but getting these error and unable to solve it can anyone please help me with it
----------------------------------------------------------------
followed doc https://kubeedge-docs.readthedocs.io/en/latest/setup/setup.html
Additional info:
[admin@localvm kubeedge]$ gcc --version
gcc (GCC) 10.2.1 20201125 (Red Hat 10.2.1-9)
Copyright (C) 2020 F

[2021-04-18 09:21] vickiyan commented on #2788
I resolved this issue via modifying the Calico daemonset yaml file , need to specify environment variable KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT for each container , because Pod running on edge cannot get In Cluster Config like those running on K8s cluster node.   Now calico cni plugin is working fine on both k8s and kubedge ,all pods running between cluster node and egde node could a

[2021-04-18 09:22] #2787 closed

[2021-04-18 09:22] vickiyan commented on #2787
duplicate issue with 2788

[2021-04-19 00:48] agwermann commented on #2357
I am facing a similar issue to connect EdgeCore and CloudCore.

[code]

When running `curl` against CloudCore I got the same connection refused.
[code]

But the cloud core service looks to be running.
[code]

@didier-durand, were you able to identify the problem in your setup?

[2021-04-19 02:48] charles-woshicai commented on #2240
/assign

Is this issue still not solved? If not, I could have a try.

[2021-04-19 02:48] GsssC commented on #1662
@mipearlska @vickiyan Delpoying cni on edgenode depends on a new kubeedge feature called  `ake`, plz focuz on issue #2760
![image](https://user-images.githubusercontent.com/29768082/115174872-a24ba000-a0fc-11eb-856c-28d406d3e69d.png)

User guide of deploying cni will be released this or next week.
: )

[2021-04-19 06:41] beyondyinjl2 opened #2791 "Copy the certificate to add the edge node to report an error"
kubeedge version: 1.5.0
Due to the validity period of the Token, it may become invalid and cause the failure to add the edge node.

On edge host:
[code]
On cloud host:
[code]
On edge host untar the certs.tgz file
[code]
On edge host:
[code]
 journalctl -u edgecore.service -b
[code]

[2021-04-19 07:46] daixiang0 commented on #2177
/lifecycle frozen

[2021-04-19 07:47] daixiang0 commented on #2240
@charles-woshicai thanks, you can try it :)

[2021-04-19 07:47] daixiang0 commented on #2229
/lifecycle frozen

[2021-04-19 07:48] daixiang0 commented on #2231
/lifecycle frozen

[2021-04-19 07:49] daixiang0 commented on #1893
/lifecycle frozen

[2021-04-19 07:50] daixiang0 commented on #1881
/lifecycle frozen

[2021-04-19 07:53] KyanWang commented on #2580
@Xxllj834738992 how did you fixed the issue?  Thank you

[2021-04-19 08:33] sunkai-XDD commented on #2791
maybe you can try add --token=xxx , otherwise, you certs can't been checked

[2021-04-19 08:37] sunkai-XDD commented on #2789
maybe it's the permissions problem,you can checkout root prv

[2021-04-19 09:06] milindw96 commented on #2789
looks like it's not an issue of root prv
[code]

[2021-04-19 09:12] fisherxu commented on #2789
@milindw96 Looks like the cloudcore has been compiled successfully, please goto `_output/local/bin` to checkout.

[2021-04-19 09:40] #2730 closed

[2021-04-19 16:31] felix0080 commented on #2764
/assign

[2021-04-19 16:40] younes199511 opened #2792 "Keadm gettoken failed error"
**What happened**:

Hello,
I'm new with kubeedge and i'm facing an issue with the deployment.
The command keadm gettoken returns the error below
![image](https://user-images.githubusercontent.com/44032734/115270634-cd55e400-a13c-11eb-9382-018217d5d85a.png)

I was able to deploy CloudCore successfully but i coudn't get the token to deploy the EdgeCore node.

**What you expected to happen**:

I expe

[2021-04-20 00:45] beyondyinjl2 commented on #2791
Due to the validity period of the Token, the validity period cannot be controlled. After the expiration, it may become invalid and cause the failure of adding the edge node, so I want to use the certificate to add the edge node.
Or is there any way to add edge nodes to prevent the failure of the addition

[2021-04-20 00:48] beyondyinjl2 commented on #2791
To add an edge node, do I have to use a token? How to ensure that the token does not expire when it is added? Is there any other way to add an edge node

[2021-04-20 00:55] #2513 closed

[2021-04-20 01:56] felix0080 commented on #2764
有更多的细节提供吗？

[2021-04-20 02:08] GsssC commented on #2792
@Rachel-Shao PTAL

[2021-04-20 02:11] GsssC commented on #2791
@Rachel-Shao PTAL

[2021-04-20 02:42] KyanWang commented on #2579
@Xxllj834738992  I have the same issue. How did you fix it?

[2021-04-20 02:45] Xxllj834738992 commented on #2580
Reinstall the system......

[2021-04-20 02:46] Xxllj834738992 commented on #2579
Reinstall the system....

[2021-04-20 04:14] fisherxu commented on #2789
I'm not sure why there's that warning, and in my host, have no warning.. @milindw96
[code]

[2021-04-20 05:28] milindw96 commented on #2789
Cool might be I did some mistake while following steps
Thanks for the help :-)

[2021-04-20 05:48] Rachel-Shao commented on #2792
It seems that you are not running cloudcore normally. Generally, there should be four secrets in the kubeedge namespace.
Like this ↓
![image](https://user-images.githubusercontent.com/34911960/115341946-085b2480-a1dc-11eb-95b2-5273c2d892bf.png)

 I think you can try to delete the existing casecret or delete the kubeedge namespace directly (because these old secrets may come from the cloudcore you

[2021-04-20 07:09] fisherxu commented on #2789
welcome :) So I will close the issue, free to reopen if have other issue.

[2021-04-20 07:09] fisherxu commented on #2789
/clsoe

[2021-04-20 07:09] fisherxu commented on #2789
/close

[2021-04-20 07:09] #2789 closed

[2021-04-20 08:17] Rachel-Shao commented on #2791
According to the source code, when configuring the certificate of edgehub, it will first obtain the certificate according to `edgehub.TLSCertFile` and `edgehub.TLSPrivateKeyFile`. The default values of these two parameters are `/etc/kubeedge/certs/server.crt` and `/etc/kubeedge/certs/server.key` respectively. If they are not obtained (maybe not generated by the cloud), then the certificate applica

[2021-04-20 08:23] younes199511 commented on #2792
Hello @Rachel-Shao
Thank's so much. It's working now.

I have just another question please: is there a simple way to test that the deployement of kubeedge (both cloud and edge cores) was successfull and everything works fine ?

Best regards

[2021-04-20 09:26] GsssC commented on #2778
@ttlv PTAL

[2021-04-21 01:35] Rachel-Shao commented on #2792
Are there any specific error messages with `[F0421]` flags?
If you can’t find it, you can `systemctl stop edgecore`  first, then run your edgecore binary file directly.
If no accident, it will pause and output a lot of logs, you can definitely find the error message.

[2021-04-21 07:04] #2780 closed

[2021-04-21 10:38] leofang94 commented on #2779
/reopen

[2021-04-21 10:40] GsssC commented on #2779
/reopen

[2021-04-21 10:47] Justin-Young opened #2795 "keadm init fail because use apiextensions.k8s.io/v1 CustomResourceDefinition"
**What happened and what you expected to happen**:
Hello,
After reset cloudcore, I wanna init again, but because something with api v1 CustomReSourceDefinition is wrong, init failed. I wanna know how to solve this problem, thank you!
![image](https://user-images.githubusercontent.com/53030626/115537255-38362500-a2cd-11eb-82d9-4fd0f4304513.png)
[code]
By the way, I have another problem, because of

[2021-04-21 11:57] redplanet00 commented on #2795
Hi,
I have the exact same problem (Error: CustomResourceDefinition.apiextensions.k8s.io "devices.devices.kubeedge.io" is invalid).
I am using Ubuntu 20.04 with the same Kubernetes and KubeEdge version.
As far as I know KubeEdge worked for me last week, and I haven't changed anything since.

[2021-04-21 14:51] #2485 closed

[2021-04-21 16:34] zhaochengwei opened #2797 "Error: CustomResourceDefinition.apiextensions.k8s.io "clusterobjectsyncs.reliablesyncs.kubeedge.io" is invalid: [spec.versions: Invalid value"
**What happened**:
**root@douding-test:/home/douding# keadm init
Kubernetes version verification passed, KubeEdge installation will start...
--2021-04-21 16:18:08--  https://raw.githubusercontent.com/kubeedge/kubeedge/master/build/crds/devices/devices_v1alpha1_device.yaml
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.111.133, ...
Conne

[2021-04-21 16:35] zhaochengwei commented on #2797
I tried keadm V1.6.1 realease and V1.3.1 release

[2021-04-21 16:37] zhaochengwei commented on #2797
root@douding-test:/home/douding# kubectl get nodes -o wide
NAME           STATUS   ROLES    AGE   VERSION   INTERNAL-IP     EXTERNAL-IP   OS-IMAGE             KERNEL-VERSION       CONTAINER-RUNTIME
douding-test   Ready    master   19m   v1.18.5   192.168.2.120   <none>        Ubuntu 18.04.5 LTS   4.15.0-142-generic   docker://20.10.6

[2021-04-21 16:38] zhaochengwei commented on #2797
I tried keadm V1.5. realease and still this error

[2021-04-21 16:46] zhaochengwei commented on #2797
then i use the latest kubeedge code and compile still got this
# git clone https://github.com/kubeedge/kubeedge.git $GOPATH/src/github.com/kubeedge/kubeedge
# cd $GOPATH/src/github.com/kubeedge/kubeedge
# make all WHAT=keadm
#  cd ./_output/local/bin/
# ./keadm init
Kubernetes version verification passed, KubeEdge installation will start...
Error: CustomResourceDefinition.apiextensions.k8s.io "dev

[2021-04-22 02:02] daixiang0 commented on #2797
Same as #2795

[2021-04-22 02:25] daixiang0 commented on #2795
/assign

[2021-04-22 02:38] daixiang0 commented on #2797
/close

Let us track this in #2975

[2021-04-22 02:38] #2797 closed

[2021-04-22 02:43] daixiang0 opened #2800 "Optimize keadm e2e test"
**What would you like to be added/modified**:

Optimize keadm e2e test by detect config changes.

**Why is this needed**:

Now we use config in master branch from github so that changes about config can not be cover, then it lead to some error, like #2795 #2797.

[2021-04-22 03:56] Poorunga commented on #2769
@GsssC Thank you for your help.

I try `curl http://127.0.0.1:10550/apis/networking.istio.io/v1alpha3/namespaces/edgemesh-test/gateways` on my edge node. It works well:
[code]

I try `kubectl get gateways -v10 -n edgemesh-test` on my k8s-master node. It also works well:
[code]

This information has provided me a lot of help, but I still don’t understand why the edgemesh container I run on the edge

[2021-04-22 04:11] GsssC commented on #2769
@Poorunga Thx, It is a bug, will fix soon!

[2021-04-22 04:24] GsssC commented on #2769
To fix this bug, would you offer edgecore.db in`/var/lib/kubeedge/edgecore.db`?
: )

[2021-04-22 05:13] GsssC opened #2801 "[AKE]The server could not find the requested resource"
**What happened**:
MetaServer' local storage response error "the server could not find the requested resource" when there is no resource , rather than a empty list. It is inconsistent with API Server response.
- MetaServer
![image](https://user-images.githubusercontent.com/29768082/115658974-674fa380-a36c-11eb-9aa8-9467a70fbabc.png)
- APIServer
![image](https://user-images.githubusercontent.com/29

[2021-04-22 05:13] GsssC commented on #2801
/assign

[2021-04-22 05:17] GsssC commented on #2801
@Rachel-Shao PTAL

[2021-04-22 05:20] GsssC commented on #2801
May need to delete these lines.
https://github.com/kubeedge/kubeedge/blob/ab85504164ade176148a1ff7fd026ec05d20fd03/edge/pkg/metamanager/metaserver/kubernetes/storage/sqlite/imitator/imitator.go#L151

[2021-04-22 05:53] Rachel-Shao opened #2802 "Separate the data of meta and metav2"
**What would you like to be added/modified**:
When MetaManager receives the event pushed from the dynamicController, it only needs to be stored in metav2

**Why is this needed**:
In the existing code, when the MetaManager receives a event, it will store the event in both metaV2 and meta, as shown in the following code(Insert case as an example):
https://github.com/kubeedge/kubeedge/blob/6ef7f0ca34

[2021-04-22 06:30] Poorunga commented on #2769
@GsssC   Thx, the database file has been emailed to you.

[2021-04-22 06:44] GsssC commented on #2769
Same as I thought, API `Gateway` is a kind of **unusual** resource, whose plurality is `gateways` rather than `gatewaies`
![image](https://user-images.githubusercontent.com/29768082/115667556-8e13d700-a378-11eb-8fe3-dcd13553a249.png)

To solve this bug throughlly need some times, you could add hard code here:
https://github.com/kubeedge/kubeedge/blob/51f363c01768a9f495359b03c484b90057e78d75/pkg/me

[2021-04-22 06:44] GsssC commented on #2769
/assign @GsssC
@Rachel-Shao PTAL

[2021-04-22 06:52] Poorunga commented on #2769
Sounds pretty good. Thank you so mush! @GsssC

[2021-04-22 06:54] GsssC commented on #2802
We could hijack messsage here if it is from `Application Center`.
https://github.com/kubeedge/kubeedge/blob/0fcd7052269a9c8b61e2f81054fabd19d455e61c/edge/pkg/metamanager/process.go#L678-L683

[2021-04-22 07:48] daixiang0 commented on #2800
#2803 fix issue that keadm always uses configs from master branch, still need to add a test to cover config change case.

If conifgs used by keadm changed, it copy changed configs to corresponding path then do test. If not, skip it.

@fisherxu WDYT?

[2021-04-22 08:35] feiluojiang opened #2807 "kubeedge为什么不支持nodePort；"
问下大佬们，kubeedge为什么不支持nodePort；

[2021-04-22 09:22] fisherxu commented on #2795
Have been fixed by #2799 , please try again :)
/close

[2021-04-22 09:22] #2795 closed

[2021-04-22 09:34] fisherxu commented on #2807
In most usage scenarios, the edge node is located in the private network, and have no public IP, so in the initial design, edgemesh doesn't support nodeport.

But now we have supported to install kube-proxy in edgenode, so you can use nodeport through kube-proxy.

[2021-04-23 14:59] Justin-Young commented on #2795
Thanks a lot!

[2021-04-24 12:56] zhaochengwei opened #2809 "Error:CustomResourceDefinition.apiextensions.k8s.io "devices.devices.kubeedge.io" is invalid"
**What happened and what you expected to happen**:
root@douding-test:~/keadm-v1.5.0-linux-amd64/keadm# ./keadm  init
Kubernetes version verification passed, KubeEdge installation will start...
Error: CustomResourceDefinition.apiextensions.k8s.io "devices.devices.kubeedge.io" is invalid: spec.versions: Invalid value: []apiextensions.CustomResourceDefinitionVersion{apiextensions.CustomResourceDefini

[2021-04-24 14:42] #2367 closed

[2021-04-25 02:01] daixiang0 commented on #2809
Similar as #2797 #2795

[2021-04-25 03:29] jidalong opened #2810 "Edge request API server , when cloudhub create objectsync for node or namespace resources which do not have namesapce, cloudhub report an error"
**What happened**:
Edge request API server , when cloudhub create objectsync for node or namespace resources which do not have namesapce, cloudhub report an error
**Edge:**
curl 192.168.93.191:10550/api/v1/nodes
**cloud:**
![image](https://user-images.githubusercontent.com/53475708/115979605-70818000-a5b9-11eb-9f84-7000adc38cdc.png)

**What you expected to happen**:

**How to reproduce it (as mini

[2021-04-25 09:07] Rachel-Shao commented on #2762
I encountered this problem once, but it was not resolved at the time. Here are some possible reasons:
#2220 (same problem)

Now I give a little bit of my thoughts：
It is obviously a certificate issue, so I generally choose to regenerate the certificate (I suggest to delete the `kubeedge`
namespace directly, and then restart `cloudcore`)

When edgenode joins the cluster, pay attention to the proces

[2021-04-25 18:08] zhaochengwei commented on #2809
release version also has problem?

[2021-04-26 00:49] #2801 closed

[2021-04-26 01:22] daixiang0 commented on #1498
/reopen
/lifecycle frozen

[2021-04-26 01:23] daixiang0 commented on #2809
I think now it is fiexed, you can try again.

[2021-04-26 02:33] #2773 closed

[2021-04-26 03:55] luoqian1999 opened #2814 "Unable to connect to the cloud after edge switch from wired network to wireless network"
**What happened and what you expected to happen**:
Through the installation of Keadm, the edge was successfully added to KubeEdge using a wired network.
![image](https://user-images.githubusercontent.com/67575704/116026622-adb34400-a685-11eb-9a14-65bc904a8637.png)
At this point, switch the edge network to the wireless network, and the edge will always be in the NotReady state.
![image](https://use

[2021-04-26 06:07] Rachel-Shao commented on #2810
Is there any error message returned when you execute `curl 192.168.93.191:10550/api/v1/nodes` ?

[2021-04-26 07:41] jidalong commented on #2810
After curl 10550/api/v1/nodes，edge can print the expected result whitout any errors，but cloud may print some error log in cloudhub like the picture above. Although cloudhub output the error logs, cloudcore and edgecore can still run.

[2021-04-26 09:44] magnate3 commented on #2761
@GsssC  after  try kubectl delete namespaces kubeedge, restart cloudcore and the error is
W0408 15:48:20.115527   40713 upstream.go:186] parse message:  resource type with error: resource type not found
W0408 15:48:20.135651   40713 upstream.go:92] Parse message:  resource type with error: unknown resource

[2021-04-27 04:04] zhaochengwei commented on #2809
Ok I will have a try

[2021-04-27 06:48] beyondyinjl2 commented on #2779
@GsssC  keadm gettoken gets token, is there any other way to get token? Is there kubeedge api document to get it, or k8s api to get it?

[2021-04-27 07:17] magnate3 opened #2816 "error: failed to parse ECPrivateKey, err: x509: failed to parse EC private key: asn1: structure error: length too large"
0427 15:15:12.522322   40945 server.go:324] failed to sign a certificate, error: failed to parse ECPrivateKey, err: x509: failed to parse EC private key: asn1: structure error: length too large
F0427 15:15:12.522342   40945 cloudhub.go:74] failed to parse ECPrivateKey, err: x509: failed to parse EC private key: asn1: structure error: length too large

root@ubuntu:~/cmd# ./cloudcore --version
KubeE

[2021-04-27 14:24] vickiyan opened #2817 "metrics missing"
**What happened**:
on edge node , run command "curl http://127.0.0.1:10350/metrics/cadvisor |grep container_memory_usage_bytes", pod and namespace field returns empty string.
![image](https://user-images.githubusercontent.com/8022093/116257989-1d6d2000-a7a7-11eb-9de3-d44d63615346.png)

meanwhile, run "kubectl top pod", pods on edge node won't display as well.
Btw, not all my kubeedge environment h

[2021-04-27 23:24] #2372 closed

[2021-04-28 00:46] beyondyinjl2 commented on #2533
This problem must come up

[2021-04-28 01:19] impl1874 opened #2818 "HA of CloudCore"
hi,I have some questions about HA.
my version:
- kubeede v1.6.1
- k8s 1.9.7

What is the best way to deploy a ha of cloudcore?
- [ ] [The HA of CloudCore(deployed in k8s cluster](https://github.com/kubeedge/kubeedge/tree/master/build/cloud/ha)
- [ ] keadm init after,copy config file to other cloudecore node

Which method is correct and officially recommended?

[2021-04-28 03:01] ttlv commented on #2764
/assign

[2021-04-28 03:07] vickiyan commented on #2817
This issue can be reproduced as below:
1. modify edgecore.yaml ,set edged.enableMetrics: false
2. restart edgecore service
3. modify edgecore.yaml ,set edged.enableMetrics: true
4. restart edgecore service
5. on edge node, curl http://127.0.0.1:10350/metrics/cadvisor |grep container_memory_usage_bytes, you'll see pod name is empty string

[2021-04-28 03:16] GsssC commented on #2779
kubectl get secret -nkubeedge tokensecret

you could get token by this.

[2021-04-28 04:27] fisherxu commented on #2816
Have you used your own certs? @magnate3

[2021-04-28 06:34] fisherxu commented on #2809
The issue has been fixed by #2799 , will close now, please reopen it if has any other issues :)

/close

[2021-04-28 06:34] #2809 closed

[2021-04-28 06:35] fisherxu commented on #2807
Close the issue now, please reopen it if has any other issues :)
/close

[2021-04-28 06:35] #2807 closed

[2021-04-28 07:15] Rachel-Shao commented on #2810
@jidalong   When Cloudhub processes messages, it first starts `ObjectSyncController`. `ObjectSyncController` is the controller of custom CRD objects `ObjectSync` and `ClusterObjectSync`. KubeEdge uses K8s CRD to store the latest resourceVersion of resources that have been successfully sent to Edge.

**`ClusterObjectSync` is used to store cluster-wide objects, and `ObjectSync` is used to store name

[2021-04-28 07:32] charles-woshicai commented on #2240
I think this issue should be fixed, please confirm. @daixiang0

[2021-04-28 08:32] daixiang0 commented on #2240
Please share new coverage result here.

[2021-04-28 09:21] impl1874 commented on #2818
v1.6.1 only support active and standby:[ ] [The HA of CloudCore(deployed in k8s cluster](https://github.com/kubeedge/kubeedge/tree/master/build/cloud/ha)

but support muti-active soon.because it is planned for the next version

[2021-04-28 09:21] #2818 closed

[2021-04-28 09:31] impl1874 commented on #2818
![image](https://user-images.githubusercontent.com/11623035/116381524-8dcb7e00-a847-11eb-8837-fcf25a40b0f2.png)

[2021-04-28 10:49] Justin-Young opened #2819 "E0428 05:20:04.019583 10210 objectsync.go:38] failed to get obj(gvr:/v1, Resource=pods,namespace:kube-system,name:kube-proxy-bp4h2), pods "kube-proxy-bp4h2" not found"
**What happened and what you expected to happen**:
When the edge node was not ready, I deleted a pod on that node. But the pod couldn't be deleted and was in a state of terminating, so I forcedly restarted the edge node because restarting edgecore.service didn't seem to work  -_-. After that, the pod was deleted, but the cloudcore always generates an error message like `E0428 05:20:04.019583   102

[2021-04-28 12:20] #2779 closed

[2021-04-28 12:37] GsssC commented on #2819
@Rachel-Shao PTAL

[2021-04-28 13:25] charles-woshicai commented on #2240
➜  kubeedge git:(master) ✗ go test -coverprofile=coverprofile.cov ./edge/pkg/devicetwin/dtmodule
ok      github.com/kubeedge/kubeedge/edge/pkg/devicetwin/dtmodule       1.285s  coverage: 77.8% of statements
➜  kubeedge git:(master) ✗ go tool cover -func=coverprofile.cov
github.com/kubeedge/kubeedge/edge/pkg/devicetwin/dtmodule/dtmodule.go:18:       InitWorker      100.0%
github.com/kubeedge/kubeed

[2021-04-28 13:25] charles-woshicai commented on #2240
Is it enough?

[2021-04-28 14:33] GsssC commented on #2814
Sorry we have not supported multi-network-interface now. Welcome to add this feature! :)
Edgecore will only try to use network interface recorded in here:
https://github.com/kubeedge/kubeedge/blob/5daf35a3a9f68340ba3bbb70f84d4e6230501221/pkg/apis/componentconfig/edgecore/v1alpha1/types.go#L173-L176

[2021-04-28 15:06] GsssC commented on #2814
Sorry we have not supported multi-network-interface now. Welcome to add this feature! :)

[2021-04-29 01:20] luoqian1999 commented on #2814
Thanks for your response,I've been aware of the problem.

[2021-04-29 02:13] songshusen1978 commented on #2634
9开头的这个IP地址感觉不像是k8s集群分出来的地址，看似节点地址也不是这个。能确定下这个IP是属于集群分出来的地址不，比如是clusterip podip或是节点IP。

[2021-04-29 02:17] Rachel-Shao commented on #2819
@Justin-Young   When you delete a pod normally, CloudHub will receive a msg whose operation is delete. Then the corresponding ObjectSync will be deleted.
But you used some inelegant deletion methods, which caused the pod to be deleted but the ObjectSync may still there. Therefore, the SyncController detects the ObjectSync when processing synchronization but finds that there is no corresponding pod

[2021-04-29 02:28] YuxiJin-tobeyjin commented on #2634
It's fake ip pool for service at edge side;
[code]

[2021-04-29 03:29] Jw-Jm opened #2820 "In current Cloud HA deployment, part of configuration Missing"
**What happened**:
In current Cloud HA deployment（02-ha-configmap.yaml.example）, part of configuration Missing

**What you expected to happen**:
Can configure modules such as DeviceController DynamicController EdgeController Router SyncController

**How to reproduce it (as minimally and precisely as possible)**:
Follow this document(https://github.com/kubeedge/kubeedge/blob/master/build/cloud/ha/R

[2021-04-29 07:32] fisherxu commented on #2814
Has any error logs when edge node can't connect to cloud node after switch to wireless?

[2021-04-29 08:06] daixiang0 commented on #2240
90% is better, close for now.

[2021-04-29 08:06] #2240 closed

[2021-04-29 08:36] Justin-Young commented on #2819
Okay, thank you very much! ^_^

[2021-04-29 09:43] yz271544 opened #2822 "Create a mosquitto container for data access that is isolated from eventbus, but it cannot be accessed through Service or headless Service"
**Which jobs are failing**:
I want create a mosquitto container for data access that is isolated from eventbus, but it cannot be accessed through service or headless service.

1. Environment
create k8s + kubeedge cluster use the virtualbox + vagrant.
master's Vagrantfile
[code]
Based on this environment, the cloud use eth1 as the out of docker0.
[code]
The cluster consists of 1 master, 2 workers,

[2021-04-29 12:42] fysd commented on #2632
Thank you！ Finally I slove the problem！
I found cloudcore.service is not in /etc/systemd/system, then I created the file ：

[Unit]
Description=cloudcore.service

[Service]
Type=simple
ExecStart=/usr/local/bin/cloudcore            (make sure it's your cloudcore path)

[Install]
WantedBy=multi-user.target

Then  "systemctl daemon-reload" ,and  "systemctl restart cloudcore.service"  worked.
Last, kub

[2021-04-30 07:15] #2817 closed

[2021-04-30 08:23] muxuelan opened #2825 "pod or pods in edged exist in conflits"
**What happened**:
1、kubectl create -f service.yaml，the name of service is hostname-svc-001
2、enter the edgecore.db，select form meta，two records about the service are includes which defferents in kind ,one is service, and the other is services
![image](https://user-images.githubusercontent.com/71764707/116661833-9ba80d00-a9c7-11eb-8014-ae33f3990cb0.png)
3、the result of pod is the same

![image](ht

[2021-04-30 10:36] #2378 closed

[2021-05-02 10:08] Xxllj834738992 opened #2826 "How to deploy Python program on kubeedge?"
I need to do such a scenario: model training and prediction in the cloud, data acquisition, preprocessing, feature extraction and other data processing in the edge.
Any help and discussion are welcome！
Thanks a lot！！

[2021-05-03 07:02] rahul-1020 commented on #1421
Hi all,
  Pod has been assigned to edge node but pods showing status "ContainerCreating " nginx is ruunig because i'm using "  hostNetwork: true ". most of the application not running using hostnetwork. please help how to resolve this issue.

[root@master ~]# kubectl get nodes
NAME      STATUS   ROLES    AGE   VERSION
master    Ready    master   37h   v1.19.0
worker1   Ready    edge     23h   v1.1

[2021-05-04 04:49] ttlv commented on #2764
customsized labels  is meanningful when edgenode first join and if we want to add or update the labels for node, we can use kubectl label command to make it rather than use the configyaml of edgecore, priority of the cloud is top1. so I think it's better  to make keadm to support.

[2021-05-05 11:42] bensch98 commented on #2826
I have a similiar use-case. Is it possible to use heterogeneous edge-devices, e.g. like some Raspberry Pi's and also some devices running Windows?

[2021-05-05 11:47] Xxllj834738992 commented on #2826
Yes, i have a Raspberry Pi's, please give me some advise. In addition, I hope to see your source code. Thanks a lot!

[2021-05-05 14:42] fysd opened #2829 "how to debugging kubeedge, is Goland available?"
**What happened and what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):

[2021-05-06 02:04] daixiang0 commented on #2161
/lifecycle frozen

[2021-05-06 10:31] fysd commented on #2829
Or what tool do you use to develop Kubeedge?

[2021-05-07 03:58] fisherxu commented on #2764
With this patch #2827, if we restart edgecore, maybe the label will still missing?

[2021-05-07 06:33] magnate3 commented on #2816
@fisherxu  all  certs produced by build/tools/certgen.sh

root@ubuntu:~/cmd# ls /etc/kubeedge/ca/
rootCA.crt  rootCA.key  rootCA.srl  streamCA.crt
root@ubuntu:~/cmd# ls /etc/kubeedge/certs/
edge.crt  edge.csr  edge.key  stream.crt  stream.csr  stream.key

[2021-05-07 09:00] yz271544 opened #2833 "edgecore metaclient.go:125] send sync message default/secret/default-token-jzznv failed"
**What happened**:

i tried to use the master branch of kubeedge for edgemesh tcp case, but edgecore always reported the following error.

[code]

and the tcp case is always pending, not pulled up at the edge.

[code]

**What you expected to happen**:

Expect the application to work well at the edge and to be able to communicate side by side through Edgemesh.

**How to reproduce it (as minimally a

[2021-05-07 14:05] yz271544 commented on #2833
I looked at Edgecore's logs and code. Guess is a bug.

[code]

**resType is not pod or configmap or secret or volume: esType is pods**
**resType is not pod or configmap or secret or volume: esType is secrets**

These errors seem to cause the resources issued from the cloud to not be processed by Edged. Cause the application to stay in the Pending state for a long time.

resourceType **pods** and *

[2021-05-08 01:36] heyc-iot-chinamobile opened #2834 "metrics collection failed for edge pods"
**What happened**:
kubectl top nodes command works fine, BUT
kubectl top pods "pods_at_edge" command failed, error message:
_Error from server (NotFound): podmetrics.metrics.k8s.io "pods_at_edge" not found_

**What you expected to happen**:
kubectl top pods command should works successfully:
_NAME               CPU(cores)   MEMORY(bytes)
pods_at_edge   4m               40Mi_

**How to reproduce it

[2021-05-08 01:42] #2820 closed

[2021-05-08 03:58] fisherxu commented on #291
/reopen

[2021-05-09 03:24] ttlv commented on #2764
If we use kubectl label command to add new label for edge node and should we synchronize the new label in the edgecore's config file ?

[2021-05-10 02:08] heyc-iot-chinamobile commented on #2834
Turns out to be a Docker version problem.
I upgrade Docker from 18.9.1 to 19.3.13, problem solved.
Should be added to the metrics documentations.

[2021-05-10 02:09] #2834 closed

[2021-05-10 03:40] magnate3 opened #2837 "edge.crt": x509: certificate signed by unknown authority"
certmanager.go:91] Error: failed to get edge certificate from the cloudcore, error: Get "https://10.10.14.82:10002/edge.crt": x509: certificate signed by unknown authority
goroutine 108 [running]:
Environment:

Kubernetes version (use kubectl version):
root@ubuntu:/cmd# kubectl version
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.1", GitCommit:"7879fc12a63337efff607952a323

[2021-05-10 08:03] fisherxu commented on #2764
No, I think the edgenode should patch the node spec, if labels in config changed, the labels of edgenode should be patched. @ttlv

[2021-05-13 07:17] Jeaniowang opened #2844 "[Init websocket connection failed x509: certificate is not valid for any names, but wanted to match xxx"
**What happened and what you expected to happen**:
Hi, we use kubeedge 1.6.1, when we conntect the Cloudcore by dns, the server option config as this "server: wss://KubeEdge:10000" in the edgecore.yaml, we met the error as follow picture,

![image](https://user-images.githubusercontent.com/19906335/118091684-b170f580-b3fd-11eb-829b-ddab2e249257.png)

 have someone meet this problem?

**How to repr

[2021-05-13 07:56] MiaoZhou commented on #2844
same problem

[2021-05-13 08:23] liamylian opened #2845 "EdgeMesh resolves wrong service"
**What happened**:

I deployed 3 services (2 service on edge node expose same containerProt and hostPort 80): `Httpd` service on `cluster worker node`, `Nginx` service on `edge node A`, `Caddy` service on `edge node B`.
I login to `edge node A`, and use `curl` to visit `http://nginx-svc.default.svc.cluster.local:12345`, but I got pages from wrong services: sometimes `Caddy` service,  sometimes `Ht

[2021-05-13 08:29] Jeaniowang commented on #2837
hi，we meet the same problem,did you solve it?

[2021-05-13 09:11] Jeaniowang commented on #2844
we solved this problem, help from this issue: [https://github.com/kubeedge/kubeedge/issues/2070](url)

![image](https://user-images.githubusercontent.com/19906335/118104041-357ea980-b40d-11eb-910f-6efdf4dbf100.png)

or see keadm help doc, add the --domainname config on the Cloud:
[https://github.com/kubeedge/kubeedge/blob/v1.6.1/docs/setup/keadm.md](url)

![image](https://user-images.githubusercon

[2021-05-13 09:15] Jeaniowang commented on #2837
We have a similar problem and solved by this issue, You can see if it works for you
[https://github.com/kubeedge/kubeedge/issues/2844](url)

[2021-05-13 19:01] #2409 closed

[2021-05-13 23:34] timmyyuan opened #2846 "Test failed: TestNewHTTPClientWithCA: Cannot create https client"
**What happened**:

I tried to run unit tests on `master` branch, but failed:

[code]

**What you expected to happen**:

The tests pass

**How to reproduce it (as minimally and precisely as possible)**:

Checkout the `master` branch and run `make test`

**Anything else we need to know?**:

**Environment**:
- <details><summary>Cloud nodes Environment:</summary>

  - Hardware configuration (e.g. `ls

[2021-05-15 19:00] xiangzho72 commented on #2845
Hello, I have a very similar issue:

### **What happened:**
Have a cluster( master node with edgecloud installed,  one worker node, two edge nodes(raspberry pi)).

1. Followed example/kubeedge-counter-demo and get two pods installed and running, pi-counter deployed on pi2.
2. Follow instructions in https://kubeedge.io/en/docs/advanced/edgemesh/, and nginx is deployed on pi2.
- On pi2:
   - curl lo

[2021-05-15 21:45] #2424 closed

[2021-05-16 16:58] bensch98 opened #2847 "keadm join - err: ln: failed to create hard link '/etc/systemd/system/edgecore.service': File exists"
**What happened and what you expected to happen**:
Hi guys,
I have setup a Kubernetes Cluster and installed Cloudcore. When I try to join with my edge device, I get following error message:
Does anyone know how to fix this?
[code]
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.21.1
- KubeEdge version(e.g. `cloudcore --version` and `ed

[2021-05-17 01:43] Rachel-Shao commented on #2847
delete `/etc/systemd/system/edgecore.service` and try again

[2021-05-17 07:15] rajibmitra commented on #2756
could you please assign this to me @fisherxu

[2021-05-17 08:15] bensch98 commented on #2847
Did following steps:

[code]

However in my cluster when running
[code]
I don't see any nodes that joined. Still only my master.

<details>
<summary><b>journalctl -u edgecore.service -b</b></summary>

[code]
</details>

<details>
<summary><b>systemctl status edgecore</b></summary>

[code]
</details>

[2021-05-17 09:18] Rachel-Shao commented on #2847
Your token may have expired, please re-acquire the token and rejoin.

[2021-05-17 09:52] bensch98 commented on #2847
@Rachel-Shao Token seems to be still the same:

[code]

I've also tried the commands as root user.

 Also reset the edge core:

[code]
And restarted it (same as in my 2nd comment):

[code]

Strangely enough there is no error message now, however the node is still not shown to me in the master via `kubectl get nodes`. I've also waited quite a while in case it takes sometime to join the cluster. Sth

[2021-05-17 15:10] ttlv commented on #2847
There must be some error, you can start edgecore manually in your terminal.for example, just input ```edgecore``` in your terminal, the logs of edgecore will be shown in the terminal.

[2021-05-17 15:13] ttlv commented on #2847
keadm should have the logic of deleteing```etc/systemd/system/edgecore.service``` when we use ```keadm join```command

[2021-05-17 16:27] bensch98 commented on #2847
@ttlv I reinstalled everything on the Raspberry Pi now. Please correct me, if I do something wrong :)

[code]

Terminal-Output after `keadm join`

[code]

The Pi did not join the cluster. When looking into `journalctl -u edgecore.service -b` I see following

[code]
As it says: *No such file or directory* I now execute `edgecore` like you said. For that I manually copied edgecore to /usr/local/bin:

[2021-05-18 02:25] ttlv commented on #2847
@bensch98 what's your kernal version of you raspberry if your kernal version is 5+ please look at this issue https://github.com/kubeedge/kubeedge/issues/1613

[2021-05-18 06:08] bensch98 commented on #2847
@ttlv Yes it is.

[code]
I'll take a look at the other issue!

[2021-05-18 07:27] bensch98 commented on #2847
@ttlv Thanks again for linking issue #1613 !
It fixed my problem.

[code]

[2021-05-18 07:27] #2847 closed

[2021-05-18 08:08] qdj0226 opened #2849 "edgecore Init websocket connection failed websocket: bad handshake"
**What happened**:
Hi guys,
When I tried to join the edge device, I failed to register cloudcore. The journalctl reported: bad handshake.
Does anyone know how to fix this?

`5月 18 15:40:48 k8s-node1 edgecore[27641]: E0518 15:40:48.036303   27641 edged_status.go:400] register node failed, error: timeout to send message
5月 18 15:40:48 k8s-node1 edgecore[27641]: E0518 15:40:48.036324   27641 edged_st

[2021-05-18 10:34] ccc7574 opened #2850 "kubeedge1.6 deploy nginx failed for 'Get ServiceAccount Token unsupported'"
**After kube edge cluster been init, I copy the deployment yaml from kubedge code repo**:
The nginx pod hang for the status "ContainerCreating",
then I checked the edgecore log and got below info, and I also checked the ca and cert file :

5月 18 18:06:39 banmaserver02 edgecore[121507]: E0518 18:06:39.702672  121507 nestedpendingoperations.go:301] Operation for "{volumeName:kubernetes.io/projected/

[2021-05-19 02:19] kevin-wangzefeng commented on #1560
![image](https://user-images.githubusercontent.com/6914660/118746925-a7cb1000-b88b-11eb-9649-b10eae17cea9.png)

[2021-05-19 02:21] kevin-wangzefeng commented on #1560
![active-active-ha-for-cloudcore](https://user-images.githubusercontent.com/6914660/118747087-f4165000-b88b-11eb-8eef-0125f463468a.PNG)

[2021-05-19 02:24] kevin-wangzefeng commented on #1560
Full design proposal will be submitted in a PR.

[2021-05-19 02:50] GsssC commented on #2846
which one?

[2021-05-19 07:05] ttlv commented on #2849
Please make sure the cloudcore is running normally in the cloud

[2021-05-19 07:12] ttlv commented on #2846
Please make sure ca and cert directory in the /etc/kubeedge

[2021-05-19 23:46] timmyyuan commented on #2846
@ttlv I follow the steps in kubeedge's [workflow file](https://github.com/kubeedge/kubeedge/blob/66c286ef412c543dd7de86e88a5089c0c1b797cd/.github/workflows/main.yaml#L76),  but can't figure out how to set ca and cert directory. Can I ask if there is any document to guide the configuration?

[2021-05-20 13:46] flixgithub opened #2855 "web app demo can not receive track info based on Kubeedge 1.6.1 build on Aliyun"
**What happened**:
1. the edge node show ready state in the cluster but not receive messge from topic "$hw/events/device/speaker-01/twin/update/document"
2. edgecore and mqtt and cloud core all are in the normal running state

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
Kubernetes version

[2021-05-21 01:58] cyj-user opened #2856 "Why Does the ParentID of an MT Message Be Used as the ParentID of a Response Message?"
In the file /staging/src/github.com/kubeedge/beehive/pkg/core/model/message.go , at the function named NewErrorMessage:
[code]
My question is，**why does the parentId of the received message be used as the parentId of the returned message when constructing the returned error information?** I think the parentId of the returned message should be the ID of the received message, representing a correspo

[2021-05-21 04:50] #2356 closed

[2021-05-21 13:39] ttlv commented on #2850
Cloud you please tell me what's your OS

[2021-05-21 13:52] ttlv opened #2859 "add ttlv to reviewer"
What type of PR is this?

What this PR does / why we need it:
add ttlv to devicetwin devicecontroller mapper module reviewer.

PRs authored:
https://github.com/kubeedge/mappers-go/pulls?q=pr+author%3Attlv+
https://github.com/kubeedge/kubeedge/pulls?q=+is%3Apr+author%3Attlv
reviews:
https://github.com/kubeedge/kubeedge/pulls?q=is%3Apr+reviewed-by%3Attlv+
https://github.com/kubeedge/mappers-go/pulls

[2021-05-22 06:45] touchuyht commented on #2856
I guess it's probably typing error. The parentID only makes sense when the message is sync message. NewErrorMessage creates a response to the sync message, and then the response message can be send by calling SendResp which uses the response message's parentID as anonChannel's key to find the channel of the sync message's sending module. In the cases which response messages are created by NewError

[2021-05-24 03:28] ttlv commented on #2859
/close

[2021-05-24 03:28] #2859 closed

[2021-05-24 03:54] wwwlookformetop opened #2861 "In the Kubeedge-Counter-demo example Why my mosquito cannot subscribe $hw/events/device/counter/twin/update news on this topic, will not be able to receive the equipment information"
![image](https://user-images.githubusercontent.com/23631902/119294191-7c2e9800-bc86-11eb-8ace-6410844f6d77.png)

In the Kubeedge-Counter-demo example
Why my mosquito cannot subscribe $hw/events/device/counter/twin/update/document on the subject of the message, will not be able to receive equipment information,But mosquitto_sub mosquitto_pub subscribing to publish messages is fine

[2021-05-24 05:33] wwwlookformetop commented on #2855
I also have this problem, and it is preliminarily judged that it is because of MQTT. As long as the topic with $sign, it cannot subscribe to publish

[2021-05-24 05:36] wwwlookformetop commented on #2855
Who can give us a hand ？

[2021-05-24 08:37] chenqiangzhishen commented on #339
We have the same and strong requirement for running kubeedge on windows, would reopen it and any plan for it? thx.

[2021-05-24 17:09] junji2 commented on #2669
Hello, I have encountered the same problem as yours. Have you solved it finally

[2021-05-25 01:59] fuchu commented on #2268
**I have the same problem.**
I have cost 3 days full of it. I find the #2133 & #2551 but they doesn't work.
**k8s version:**
[code]
**KubeEdge version:**
[code]
[code]

When I use the latest code version from branch master,the error log of csi-hostpath-controller-0 is:
[code]
After I follow the #2551, the error log is:
[code]
Is there anyone succeeded?

[2021-05-25 06:28] yz271544 opened #2862 "metamanager can't catch the default/secret/default-token-XXXXX. How is this resource synchronized to the edge?"
**What happened and what you expected to happen**:

May 20 15:13:04 ke-edge2 edgecore[4828]: E0520 15:13:04.027940    4828 metaclient.go:125] send sync message default/secret/default-token-r8tgw failed, error:timeout to get response, retries: 1
May 20 15:13:04 ke-edge2 edgecore[4828]: I0520 15:13:04.028193    4828 process.go:469] ########## process get: req[{Header:{ID:212af154-bfcc-40ee-b8f5-de5b

[2021-05-25 09:36] My-pleasure commented on #2856
I think it's ok that using the ParentID of the received message as the ParentID of the returned message when constructing the returned error information.
First, the returned error message is the same as the normal case, which is the response message.
For example, the Cloud sends a response message to the Edge side. When EdgeHub receives a message, it determines whether it is a response message in

[2021-05-25 15:01] Icedroid commented on #2729
How to set not download checksum file from github. It always failed download checksum and stuck in checksum step. I am in china.

[2021-05-26 01:48] joker-joker-joker commented on #1560
What is the difference between active-standby and active-active model? I find a article, https://blog.xuite.net/tw.nway/twblog/175386398, is this correct?

[2021-05-26 07:18] #2861 closed

[2021-05-26 07:19] wwwlookformetop commented on #2861
![image](https://user-images.githubusercontent.com/23631902/119618649-b68a6780-be35-11eb-943c-8a8cede9996e.png)

[2021-05-26 07:47] wwwlookformetop commented on #2855
I have already solved the problem, when you deploy related equipment, if your kubeedge version upgrade, your old equipment, it will not be able to update, causing the $/ hw/events/device/counter twin/update theme don't get the message

[2021-05-26 07:49] wwwlookformetop commented on #2855
![Uploading image.png…]()

[2021-05-26 07:49] wwwlookformetop commented on #2855
![image](https://user-images.githubusercontent.com/23631902/119622682-f4898a80-be39-11eb-87e6-c29a672c9dfa.png)

[2021-05-27 08:49] fuchu opened #2863 "CSI drive example not work in version v1.6.2"
**I have the same problem.**
I have cost 3 days full of it. I find the #2133 & #2551 but they doesn't work.
**k8s version:**
[code]
**KubeEdge version:**
[code]
[code]

When I use the latest code version from branch master,the error log of csi-hostpath-controller-0 is:
[code]
After I follow the #2551, the error log is:
[code]
Is there anyone succeeded?

_Originally posted by @fuchu in https://gith

[2021-05-27 20:48] bensch98 opened #2864 "Pod status remains "Pending""
**What happened and what you expected to happen**:
When I schedule a Pod or any other Kubernetes resource (e.g. ReplicaSet, Deployment, ...) its status will remain "Pending".
The example Pod is scheduled via node selector directly on my Raspberry Pi. When scheduling it on a Ubuntu 20.04 virtual machine, it won't work either.
[code]
I made my master node schedulable via: `kubectl taint nodes --all

[2021-05-28 03:32] koulq commented on #2105
hello，What is the configuration requirement of CloudCore for the cloud? Is there any official configuration recommendation? For example: CPU, memory, storage performance, now 40 nodes can not hold up, report the same error.

[2021-05-28 06:03] champels commented on #2850
I have the same issue. I'm executing from an Ubuntu 20.04.2 LTS in a MacOS virtual machine orchestrated with Multipass.

[2021-05-28 07:00] #2459 closed

[2021-05-28 09:11] GsssC opened #2865 "10 second delay when query meta server in offline mode"
**What happened**:
Every time curl metaserver in offline mode, get resp too slowly, about 10s.
![image](https://user-images.githubusercontent.com/29768082/119960107-326fe580-bfd7-11eb-8c0e-4044b6b21996.png)

**What you expected to happen**:
response result fastly when qurey metaserver in offline mode
**How to reproduce it (as minimally and precisely as possible)**:
curl metaserver when disconnecte

[2021-05-28 09:12] GsssC commented on #2865
/assign @Rachel-Shao

[2021-05-29 14:07] touchuyht commented on #2864
This is not kubeedge stuff. The kubectl describe pod ubuntu command already told you  the reason, 2 node(s) didn't match node selector. All you need to to is to label edge node with `kubectl label node raspberrypi type=pi`.

[2021-05-29 19:23] bensch98 commented on #2864
Even though I didn't mention it here, I labeled it before. I hope I didn't forget after resetting the cluster in between. Nonetheless it still not works. All of the Pods remain "Pending". I now even skipped the nodeSelector to avoid that mistake.

*pod-test.yaml*
[code]

*kubectl describe pod ubuntu*
[code]

*kubectl get pods --all-namespaces -o wide*
[code]

Also tried the same with an example ng

[2021-05-31 01:29] ccc7574 commented on #2850
My OS  is CentOS 7.9

[2021-05-31 02:54] Rachel-Shao commented on #2865
@GsssC  I think we can allocate multiple workers when the dynamiccontroller processes msg to improve its work efficiency.
In addition, we can also modify the timeout time (is it necessary to modify?) how do u think?

[2021-05-31 07:19] beyondyinjl2 commented on #2592
not solved

[2021-05-31 08:53] wwwlookformetop opened #2868 "metric-server can not collect the message of edge"
![image](https://user-images.githubusercontent.com/23631902/120167603-8590a500-c230-11eb-8cda-eab0fdf92b9a.png)
metric-server can not collect the message of edge

[2021-05-31 08:54] wwwlookformetop commented on #2868
![image](https://user-images.githubusercontent.com/23631902/120167892-d86a5c80-c230-11eb-901a-9b026203437b.png)

[2021-05-31 09:58] fisherxu opened #2869 "Import apiserver-network-proxy dependency instead copy in"
Ref: #2858

/assign @liufen90

[2021-06-01 09:47] #2844 closed

[2021-06-01 12:24] qugq0228 opened #2872 "Can not find apiServer connection id 35 in Tunnel session"
**What happened**:
The cloudcore log :
"E0601 11:58:26.032774       1 session.go:82] Proxy tunnel message [MESSAGE: connectid 35 MessageType DATA] to kube-apiserver error Can not find apiServer connection id 35 in Tunnel session [edge-xw8c96o4]"
![image](https://user-images.githubusercontent.com/19602837/120320750-1b056500-c315-11eb-98d2-1e1dfaa230db.png)

**What you expected to happen**:

**How t

[2021-06-02 06:17] liufen90 commented on #2869
I have refined code of apiserver-network-proxy. PR: https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/227

[2021-06-02 07:28] flixgithub commented on #2855
After i tried to change the kubeedge to 1.5.0 version(before is 1.6.1 ), i can receive the request and respsonse then them demo works, i think this will be some issues in the 1.6.x version between edge side and cloud side when communicate by the MQTT topic

[2021-06-03 09:21] #2150 closed

[2021-06-03 10:38] k-9527 commented on #2328
i have same question and reboot resolve it,but i want to know that's why?just do nothing!

[2021-06-03 13:58] bensch98 commented on #2864
Did not change any of the settings. After a reinstallation of keadm on the edge device and resetting the cluster it worked as expected.

[2021-06-03 13:58] #2864 closed

[2021-06-03 15:41] champels commented on #2850
@ccc7574, I have been able to solve it by myself. I discovered in the [compatibility matrix](https://github.com/kubeedge/kubeedge#kubernetes-compatibility) does not include Kubernetes 1.21. I installed a 1.19 version and is not longer producing this error.

[2021-06-04 02:45] k-9527 commented on #2862
The issue has been resolved yet? I also got this with version 1.5.0

[2021-06-05 10:19] #2323 closed

[2021-06-05 12:02] insrat opened #2884 "For `NegotiateTunnelPort`(cloud/cmd/cloudcore/app/server.go) method in version 1.7.0"
Please do code review.

When the ConfigMaps exists and localIP value in `IPTunnelPort` map, no valid value is returned.

[2021-06-06 00:15] #1613 closed

[2021-06-06 00:15] #2087 closed

[2021-06-06 00:15] #2041 closed

[2021-06-06 00:15] #1794 closed

[2021-06-06 00:15] #2190 closed

[2021-06-06 00:15] #2129 closed

[2021-06-06 00:15] #1974 closed

[2021-06-06 00:15] #2176 closed

[2021-06-06 00:15] #2052 closed

[2021-06-06 00:15] #2004 closed

[2021-06-06 00:15] #2171 closed

[2021-06-06 00:15] #2123 closed

[2021-06-06 00:15] #2144 closed

[2021-06-06 00:15] #1857 closed

[2021-06-06 00:15] #1743 closed

[2021-06-06 00:15] #2217 closed

[2021-06-06 00:15] #2221 closed

[2021-06-06 00:15] #2295 closed

[2021-06-06 00:15] #2281 closed

[2021-06-06 00:15] #2214 closed

[2021-06-06 00:15] #2321 closed

[2021-06-06 00:15] #2490 closed

[2021-06-06 03:19] #898 closed

[2021-06-06 03:19] #1364 closed

[2021-06-06 03:19] #1609 closed

[2021-06-06 03:19] #1993 closed

[2021-06-06 03:19] #2055 closed

[2021-06-06 03:19] #2195 closed

[2021-06-06 03:19] #2070 closed

[2021-06-06 03:19] #1691 closed

[2021-06-06 10:36] Hejianxiong commented on #1549
I have the same issue, However, I was use the kuberntes 1.21.0 version, kubeedge is latest.  I switch kubernetes to 1.19, everything is ok !

[2021-06-07 00:56] #2868 closed

[2021-06-07 02:00] fisherxu commented on #2884
We have merged a pr https://github.com/kubeedge/kubeedge/pull/2876, please take a look that whether it resolve this issue:)

[2021-06-07 04:37] jinglanghe opened #2886 "Edgemanager getted operating system of edge device incorrectly."
**What happened**:
Malfunction happens when deploying service with edgemanager on Atlas 500.
Atlas 500 is a Huawei Company's edge device, its operating system is Euler (Linux euler 4.19.36-vhulk1907.1.0.h909.eulerosv2r8.aarch64).
But, kubeedge gets "Ubuntu 18.04.5 LTS".

**What you expected to happen**:
kubeedge gets edge device's operating system incorrectly.

**Anything else we need to know?**:

[2021-06-07 06:22] jinglanghe opened #2887 "Deploying inferencing service with edgemanager on Atlas 500, “pod” status is consistently switching between Running and Init"
**What happened**:
Malfunction happens when deploying inferencing service with edgemanager on Atlas 500. Checking “pod” status with “kubectl get pod”, we found out that “pod” status is consistently switching between Running and Init, therefore inferencing service has not been able to run stably.
(There is no such problem running same image and models on Raspberry Pi; Thus, it is reasonable to assu

[2021-06-07 06:31] jinglanghe commented on #2886
Atlas 500 is Huawei's equipment.

[2021-06-07 06:31] jinglanghe commented on #2887
Atlas 500 is Huawei's equipment.

[2021-06-07 08:59] fisherxu commented on #1609
Please look at #2558

[2021-06-08 09:39] ansjin commented on #2740
@itselavia Did it work for you? For me when restarting the cloudcore after making the changes, I get the following error:

`
I0608 01:32:11.342390  280680 server.go:73] Version: v1.7.0
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x15df708]

goroutine 1 [running]:
github.com/kubeedge/kubeedge/cloud/cmd/cloudcor

[2021-06-09 03:00] YuxiJin-tobeyjin commented on #2442
Any news？

[2021-06-09 11:36] Congrool commented on #2669
Same problem here. I solved it through disabling the SELinux with cmd `setenforce 0`.

[2021-06-10 08:33] 1597583589 opened #2891 "altas500上是否支持使用keadm安装edgecore"
**What happened and what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):

[2021-06-10 08:40] Imy123 opened #2892 "In router module how set a wildcard topic for a RuleEndpoint"
**What happened and what you expected to happen**:In router module, I want to set a wildcard topic for RuleEndpoint
**How to reproduce it (as minimally and precisely as possible)**:
apiVersion: rules.kubeedge.io/v1
kind: RuleEndpoint
metadata:
  name: my-rest
  labels:
    description: test
spec:
  ruleEndpointType: "rest"
  properties: {}

---
apiVersion: rules.kubeedge.io/v1
kind: RuleEndpoint
m

[2021-06-11 10:16] #2872 closed

[2021-06-12 08:02] lsmlovefm opened #2899 "Device data cannot be synchronized to the edge"
The device side sends a message to the mqtt topic: $hw/events/device/dht11-sensor-1/twin/update, but the device twin database on the edge side is not updated. My message format is like this: "{ \"event_id\": \"\",\"timestamp\": 0,\"twin\": {\"temperature\":{\"actual\":{ \"value\": \"23\"}, \"metadata\": {\"type\": \"Updated\"} }, \"humidity\":{\"actual\": {\" value\": \"29\" },\"metadata\": {\"typ

[2021-06-12 11:45] Jeaniowang opened #2900 "how to get certs.tgz from cloud host to edge host(s) after 1.3 version"
**What happened and what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):
-
Hi all, we want to get cert by the old style before 1.3 version, does this support？
[](https://github.com/

[2021-06-13 21:53] #2492 closed

[2021-06-13 21:53] #2484 closed

[2021-06-13 21:53] #2429 closed

[2021-06-13 21:53] #2475 closed

[2021-06-13 21:53] #2314 closed

[2021-06-13 21:53] #2339 closed

[2021-06-13 21:53] #2364 closed

[2021-06-13 21:53] #2272 closed

[2021-06-13 21:53] #2432 closed

[2021-06-13 21:53] #2386 closed

[2021-06-14 05:56] #2088 closed

[2021-06-15 07:55] Jeaniowang opened #2902 "why upgradge kubeedge to 1.6.1, the container sys path changed on the host?"
**What happened and what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):
Hi all, after we upgrage kubeedge from 1.2.1 to 1.6.1, the container sys path changed, what this happend?

o

[2021-06-15 09:29] 1597583589 opened #2903 "dial websocket error(x509: certificate signed by unknown authority (possibly because of "x509: ECDSA verification failure" while trying to verify candidate authority certificate "KubeEdge"))"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Reason for failure**:

**Anything else we need to know**:

[2021-06-15 11:49] Jeaniowang commented on #2900
we find the method, use the certgen.sh on the cloud  by certgen.sh genCertAndKey edge

[2021-06-15 11:49] #2900 closed

[2021-06-15 12:20] #2869 closed

[2021-06-15 13:41] yz271544 opened #2905 "failed to get edge certificate from the cloudcore, error: Get "https://192.168.241.66:31002/edge.crt": x509: cannot validate certificate for 192.168.241.66 because it doesn't contain any IP SANs"
**What happened**:
[code]
**What you expected to happen**:
i want run the cloudcore in the pod
**01-namespace.yaml**
[code]
**02-serviceaccount.yaml**
[code]
**03-clusterrole.yaml **
[code]
**04-clusterrolebinding.yaml**
[code]
**05-configmap.yaml**
[code]
**cat 06-secret.yaml**
[code]
**07-deployment.yaml**
[code]
**08-service.yaml**
[code]

The cloudcore is running, looks like good.
[code]
[code

[2021-06-15 13:50] fisherxu commented on #2905
Please delete the certs and ca under `/etc/kubeedge` dir in cloudcore's host, and restart tnhe cloudcore, then have a try. I think you have the certs in the host, and cloudcore will reload them when restarting.

[2021-06-16 01:59] daixiang0 commented on #2461
/lifecycle frozen

[2021-06-16 02:00] daixiang0 commented on #2461
/reopen

[2021-06-16 02:00] daixiang0 commented on #2461
/close since  kubeedge/mappers-go#4

[2021-06-16 02:00] Rachel-Shao commented on #2903
There is a problem with the certificate, please try the method mentioned in this issue #1736

[2021-06-16 05:53] somnusx opened #2906 "Register node failed: timeout to get response"
**What happened**:服务端查看node节点notready，node节点telnet服务端10000地址可以通，但是客户端一直报Register node failed: timeout to get response，部署了400多台机器大概有七八台出现这种情况，有公网的地址，也有内网的地址
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:目前没发现怎么重现，只在部分机器出现这个情况

**Anything else we need to know?**:有的机器重启机器他就好了，重启edgecore服务不行，有些机器怎么重启都没用

**Environment**:
- Kubernetes version (use `k

[2021-06-16 08:00] blackdobb commented on #1662
hey, have you solve your problem ? i got the same issue

[2021-06-16 10:49] bensch98 opened #2908 "ERROR: Service 'edgecore' failed to build"
**What happened and what you expected to happen**:
I want to deploy edgecore in a docker container. For that I followed the steps in `./build/edge`. However, the installation always fails when I run `./run_daemon.sh build`. I expected it to build the image, so that I can run the container afterwards.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

The error specifically

[2021-06-16 13:10] gy95 commented on #2908
it's not recommened to run edgecore in container, deploying edgecore in container is only used for benchmark.
And the steps or docs in `./build/edge` have expired. Please refer https://kubeedge.io/en/docs/setup/keadm/ or https://kubeedge.io/en/docs/setup/local/ to install `cloudcore` and `edgecore`

If you want to build from source codes, you can just run command `make edgeimage` to build image, r

[2021-06-16 13:24] bensch98 commented on #2908
I have my cluster already running. At least parts of it... The problem is, that I need to connect to a Windows Edge device. Is there an alternative to running edgecore in a container? I actually want to prevent setting up a virtual machine on each windows device.

[2021-06-16 15:01] bensch98 commented on #2908
If I create the image via `make edgeimage` the image is created successfully. However, when running it, I still get an error:

`sudo docker run e6aec8334f1c`

[code]

I then mounted a edgecore.yaml file with: `docker run -v edgecore.yaml:etc/kubeedge/config` but got another error:
[code]

Also tried to mount `/var/run/docker.sock` but that didn't work.
I also couldn't find any docs for running it

[2021-06-17 01:06] yz271544 commented on #2905
Indeed, delete the ca and certs folders on the cloud host and need to recreate them from 01-namespace. This is fine.

[2021-06-17 01:06] #2905 closed

[2021-06-17 01:33] shumintao opened #2910 "麻烦问下，你们是如何调试的?"
是远程dlv调试的吗？

[2021-06-17 02:35] blackdobb opened #2911 "How to use flannel and kube-proxy on kubeedge"
**What happened and what you expected to happen**:
I want to use flannel and kube-proxy on kubeedge, but here comes to the problem, the flannel on my edge side always be like error:
[code]
**How to reproduce it (as minimally and precisely as possible)**:
I wish i it turns to running.
**Anything else we need to know?**:
I  modified kube-flannel daemonset about the affinity of the flannel part, also

[2021-06-17 02:42] blackdobb commented on #2287
hey, similar issues on me. How did you do at last?

[2021-06-17 02:43] gy95 commented on #2908
the edgecore is used to start containers. So if edgecore is running in the container mode, the new start containers will run in the container of edgecore. And IMO  the only recommanded way is to install cloudcore or edgecore on machine but not on container.

[2021-06-17 02:44] blackdobb commented on #2669
hey, similar issues on me, have you solved this?

[2021-06-17 02:49] liufen90 commented on #2892
router didn't support wildcard topic, maybe we can support this later, if you are interested in this feature, you can join us to support this feature.

[2021-06-17 02:49] liufen90 commented on #2892
cc @WintonChan

[2021-06-17 02:55] blackdobb commented on #2669
Hi, i may need your help, same issue on me, why status of the kube-flannel running on the edge side is error?
[code]
here are the logs:
[code]
Also, I have added the KUBERNETES_SERVICE_HOST, KUBERNETES_SERVICE_PORT environment variables on the kube-flannel daemonset

[2021-06-17 02:57] Imy123 commented on #2892
ok, how to join your team

[2021-06-17 16:29] zshwei commented on #1064
Hi there,
 Trying to build from MacOS. Is this also caused by the gcc ?

------------------------------------------
_weizha03@C02ZQ0KYLVDM kubeedge % make all WHAT=cloudcore
hack/verify-golang.sh
go detail version: go version go1.16.5 darwin/amd64
go version: 1.16.5
KUBEEDGE_OUTPUT_SUBPATH=_output/local hack/make-rules/build.sh cloudcore
make: *** [all] Error 1

weizha03@C02ZQ0KYLVDM kubeedge % gc

[2021-06-18 01:50] charles-woshicai commented on #2756
/assign

Let me try.

[2021-06-18 12:14] #2068 closed

[2021-06-18 14:06] Icedroid commented on #2906
我也遇到相同的问题，必须重启cloudcore
edgecore和cloudcore版本都是v1.7.0

[2021-06-20 11:28] #2522 closed

[2021-06-21 05:41] ttlv commented on #2891
Euler OS is not supported by keadm so you can't install edgecore by keadm

[2021-06-21 06:46] wd900309jay opened #2917 "question about the Collaboration between cloud and edge"
**What happened and what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):

[2021-06-21 07:04] fisherxu commented on #2917
What's your question? :) @wd900309jay

[2021-06-21 07:25] wd900309jay commented on #2917
Sorry, my English is pool!
My question is that I have a scene should be realizing.it is that when the connection of edge between cloud is disconnect, how can I manage the edge node by kubeedge go through the K8S Api on edge node.

我的问题是，当云端和边缘端的连接断开以后，边缘端如何通过kubeedge的特性，去管理该边缘节点，包括原本在云端实现的，由k8s api支持的应用部署、节点管理等操作。
如果kubeedge支持这种特性，边缘端会自动接管这些原本属于云端的操作权限么？
谢谢您！

[2021-06-21 07:42] #2524 closed

[2021-06-21 08:54] su600 commented on #1744
Hi, I have same problem, could please tell me how to fix this?
I can't find kubeedge_configure.md.

[2021-06-21 12:01] #2526 closed

[2021-06-22 06:47] francescokoh opened #2918 "Is it possible to use edgecore in 'part of cluster's node'?"
I got a question for using KubeEdge.

In multinode cluster, is it possible to use edgecore for some 'part of cluster's node'
I mean that some of nodes are controlled by edgecore and the other part of nodes are controlled by kubelet.

Is it possible?

[2021-06-22 09:25] wd900309jay opened #2919 "The question about how to deploy the edgesite"
Thanks for your check!

The edgesite was redefined in v1.17，but the deploy doc stay in old.
How to deploy edgesite is a secret.

Could you help me，I can't use old info to deploy it correct.

[2021-06-22 09:48] xujiaja opened #2920 "The subresource Status of the routing module crd resource Rule failed to update"
**What happened**:
When I am testing custom sending messages，I found that the number of times the message was forwarded was always 0，The resource field is Status.SuccessMessages
**What you expected to happen**:
When I send a message, the Rule.Status.SuccessMessages increases
**How to reproduce it (as minimally and precisely as possible)**:
Follow this [tutorial，](https://kubeedge.io/en/docs/develo

[2021-06-22 09:50] xujiaja commented on #2920
The same problem exists in resource Device.Dtatus, I have fixed this bug. Can I submit a merge request?

[2021-06-22 10:07] algebra2k commented on #2920
/lgtm

[2021-06-22 10:08] algebra2k commented on #2920
I think this pr makes sense, I had a similar problem.

[2021-06-23 07:56] zhu733756 opened #2921 "How to make a fixed metrics port for metrics server in version 1.7.0?"
**What happened and what you expected to happen**:
The metrics server query the metrics from the edge nodes with a dynamic port in v1.7.0.

**How to reproduce it (as minimally and precisely as possible)**:
There is a normal  k8s cluster with kubeedge v1.6.2.
Try to upgrade cloud components by modifying the image to kubeedge/cloudcore:v1.7.0.
 The metrics server occured errors like below:
![image](

[2021-06-24 02:58] beyondyinjl2 opened #2924 "The problem of edge gateway replacement"
**What happened and what you expected to happen**:
After testing, the edge gateway is broken. Change to the same node name and ip to install kubeedge. Add to the kubeedge cluster. The docker container deployed on the original bad gateway will not be automatically deployed to the new gateway. Re-kubectl apply deployment .yaml will not be deployed either. You must first kubectl delete node to delete

[2021-06-24 03:05] WintonChan commented on #2892
@Imy123 I found the router does not support wildcard topic  because messages send to cloud with the real topic need exact match. The res of message  from eventbus need support wildcard match.

[2021-06-25 00:51] #2525 closed

[2021-06-25 00:52] #2128 closed

[2021-06-25 05:11] yz271544 opened #2928 "edgecore runs for a long time and crashes."
**What happened**:
[code]
**What you expected to happen**:
The tests are all OK.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):
- <details><summary>Cloud nodes Environment:</summary>

  - Hardware configurat

[2021-06-27 01:58] #2528 closed

[2021-06-27 02:03] qugq0228 opened #2929 "timeout to get secrets or configmap response"
**What happened**:

send sync message kubeedge/secret/modbus-map-secret failed, error:timeout to get response, retries: 2
Couldn't get secret kubeedge/secret/modbus-map-secret: get secret from metaManager failed, err: timed out waiting for the condition

**What you expected to happen**:
can get response

**How to reproduce it (as minimally and precisely as possible)**:
when the node is first node

[2021-06-27 02:24] qugq0228 commented on #2929
there check if the msg resourceVersion <= ObjectResourceVersion，but sometime，if the network is unhealty，edge is possible to re request the same resource https://github.com/kubeedge/kubeedge/blob/a9ca6911539569ba961097448480fe89f7df9696/cloud/pkg/cloudhub/channelq/channelq.go#L115-L125

[2021-06-27 14:52] rzyeleven opened #2930 "the env of container injected from configmap can't be updated"
**What happened**:

here is  the part of  pod's template,  i want to inject the  specific kv of configmap' data to container's env. But  when i update the the key MQ_USER in the configmap. No matter i recreat the pod,   it is always not affected.

spec:
    containers:
      - env:
        - name: MQ_USER
          valueFrom:
            configMapKeyRef:
              key: MQ_USER
              na

[2021-06-27 23:23] #2534 closed

[2021-06-28 03:38] oydddddd opened #2932 "Bluetooth access to kubeedge"
Now.I have a bluetooth device. I want to Access to kubeedge. what shall do?

**Environment**:
- Kubernetes version v1.19.0
- KubeEdge version v 1.6.0

[2021-06-28 07:02] loveplxf commented on #2584
How was this problem solved in the end?

[2021-06-28 07:04] loveplxf commented on #1329
How was this problem solved in the end?

[2021-06-28 07:05] loveplxf commented on #1329
I have similar needs

[2021-06-28 07:22] loveplxf opened #2933 "About TwinValue, Can increase json support?"
**What would you like to be added/modified**:
I would like to add some special characters in pattern used for validate Device Twin Value, in particular I'm referring to
The current pattern used is "^[a-zA-Z0-9-_.,:/@#]{1,512}$", I would like to add also:
Braces: { }
Single quotes: '
Empty space:

**Why is this needed**:
In my case, I need to send more complex values through device twin value, like

[2021-06-28 08:52] anyushun commented on #2906
@fisherxu

[2021-06-28 09:20] llhuii commented on #2906
能贴一下对应cloudcore日志么?

[2021-06-29 03:20] daixiang0 opened #2936 "Fix reported vulnerabilities"
Some CVE issues exist, should better fix them, details refer to [this](https://deps.dev/go/github.com%2Fkubeedge%2Fkubeedge).

[2021-06-29 07:43] anyushun commented on #2833
@yz271544 Have you fixed the problem? Same problem with me

[2021-06-29 11:01] #2544 closed

[2021-07-01 13:40] #2545 closed

[2021-07-02 02:02] khalid-davis commented on #2928
What KubeEdge version are you using ?

[2021-07-02 02:58] yz271544 commented on #2928
v1.7.1

[2021-07-02 13:13] SchmidtJonathan1 opened #2940 "KubeEdge on RaspberryPi 4"
Hello,
i try to join kubeedge node to my cluster. I got no errors, but the node is not visible on the cluster primary node.

Is it possible to add a Raspberrypi 4 32bit to the cluster environment?

Thanks

[2021-07-03 12:52] #2515 closed

[2021-07-05 05:59] #2557 closed

[2021-07-05 17:53] #2565 closed

[2021-07-05 17:53] #2564 closed

[2021-07-06 13:59] SchmidtJonathan1 commented on #2940
Hello,
tried it already with different OS (Ubuntu, RaspOS) .. Every time got the message "./keadm: No such file or directory".

[2021-07-06 14:44] brunomptorres opened #2944 "Labels and Annotations don't get added on edge node reboot"
**What happened and what you expected to happen**:
After rebooting an edge node running Kube Edge the custom labels and annotations don't stay in place and we need to add them back manually. It would be our expectation to have everything back as it was before the reboot.

**How to reproduce it (as minimally and precisely as possible)**:
Reboot an Edge Node that has custom labels and/or annotations

[2021-07-07 14:51] #2561 closed

[2021-07-07 14:51] #2556 closed

[2021-07-08 06:42] yz271544 commented on #2928
## edgecore runs for a long time and crashes still.
### node for `dke-edge1`
[code]
### node for `dke-edge2`
[code]

[2021-07-08 08:28] pingenglj opened #2946 "CRI-O support working together with EdgeMesh"
**What happened and what you expected to happen**:
Hi, Im using CRI-O as CRI for KubeEdge as described here: https://kubeedge.io/en/docs/advanced/cri/#cri-o
However, as described here: https://kubeedge.io/en/docs/advanced/edgemesh/#limitation, EdgeMesh only works for Docker CRI.

How can I use CRI-O as CRI together with EdgeMesh?

I tried to disable EdgeMesh but then I require a CNI which is not y

[2021-07-08 08:55] MoXinQian opened #2947 "cloudcore as system service，fialed to restart!"
kubeedge1.7.0：
execute：sudo ln /etc/kubeedge/cloudcore.service /etc/systemd/system/cloudcore.service
errorinfo:
![image](https://user-images.githubusercontent.com/82023054/124893184-18c9b100-e00d-11eb-8fda-ba412730ae3b.png)

[2021-07-08 12:18] gccio commented on #2947
maybe you need to paste the log to us.

[2021-07-08 12:43] #2543 closed

[2021-07-08 12:43] #2553 closed

[2021-07-08 14:00] gccio commented on #2944
show me your edgecore.yaml

[2021-07-08 15:59] brunomptorres commented on #2944
[code]

[2021-07-09 01:10] gccio commented on #2944
try with this config
[code]
you can also set `annotation` and `taints`.

[2021-07-09 03:27] gccio commented on #2918
I think it is possible.

[2021-07-09 05:14] gccio commented on #2910
I debug it with log not break point.

[2021-07-09 09:49] SchmidtJonathan1 commented on #2940
Everything work.. I found the problem =)

[2021-07-09 09:49] #2940 closed

[2021-07-10 15:33] llhuii commented on #2906
@anyushun 这个是edgecore日志，而且太少了。

@somnusx 我模拟一下， 当cloudcore跟API server通信有问题时， 会出现`timeout to get response` . 还是麻烦贴一下cloudcore 对应时间段的日志，日志大的话传到一个地方。提供一下cloudcore/edgecore 配置文件会更有帮助。

@Icedroid 要重启cloudcore才能解决问题的话， 说明cloudcore出bug的可能更大， 所以能贴cloudcore日志吗？

[2021-07-11 08:02] #2141 closed

[2021-07-12 07:42] siredmar opened #2948 "Running Cloudcore on AKS (using gardener or vcluster)"
Hi!

I am trying to find a suitable setup for kubeedge running on a Azure AKS cluster. I know AKS does not support adding custom nodes, but it may work using a setup with gardener or vcluster. Does anyone here has any experience with such a setup and can verify that this works?

Note: We don't want to run a VM and manage the cluster manually

Cheers
Armin

[2021-07-13 01:04] Imy123 opened #2949 "Is Mapper an application or a driver?"
I want to know, mapper is a application or a driver

[2021-07-13 03:36] ttlv commented on #2249
/close

[2021-07-13 03:36] #2249 closed

[2021-07-13 04:07] ttlv commented on #2949
well good question, on the one hand mapper is a application which run in kubeedge and one the other hand mapper is a driver for the physical device.

[2021-07-13 04:32] ttlv opened #2950 "There is a bug in metaserver"
**What happened**:
I met a problem a few days ago when I use metaserver. I want to register some device instances objects when edgecore first start and everything is ok, I can use ```kubectl get device``` command to show the devices instances objects which created by metaserver。Then I use ``` kubectl delete device --all ``` command to delete all device instances objects。I use ``` curl -X GET  http

[2021-07-13 06:06] Imy123 commented on #2949
thinks, I have another question, Is the relationship between mapper and device one-to-one or one-to-many

[2021-07-13 09:43] ttlv commented on #2949
one to many is better.

[2021-07-13 09:48] Imy123 commented on #2949
thinks

[2021-07-13 09:49] #2949 closed

[2021-07-14 09:11] illyaSlobozhanin commented on #2740
@itselavia I generated all steps on k8s master node and copy all certs to needed dirs on cloudcore-edgecore nodes.

[2021-07-14 09:12] illyaSlobozhanin commented on #2740
BTW. This is not working if cloudcore setuped via k8s deployment. (I think about k8s apiserver, routing and ssl
)

[2021-07-15 02:52] 93425129 opened #2954 "keadm should make the --node-ip option available"
Feature Request:
When we join an edge node into the kubeedge cluster,  we want to choose an internal ip for the edge, because sometimes the default interface that the edgecore got is not the one we want.

Like the Kubernetes kubeadm's feature:
https://github.com/kubernetes/kubeadm/issues/203

we can do this in the keadm command:
keadm join --cloudcore-ipport=10.20.30.40:10000 --edgenode-name=testi

[2021-07-15 14:58] ChAnYaNG97 commented on #2665
same problem here

[2021-07-16 01:35] #2776 closed

[2021-07-17 07:12] #2571 closed

[2021-07-17 14:20] zh2k3ang opened #2956 "imitator.go:222] failed to unmarshal message content to unstructured obj: Object 'Kind' is missing in '{"metadata":{..."
**What happened**:
i got this error in edgecore.service
imitator.go:222] failed to unmarshal message content to unstructured obj: Object 'Kind' is missing in '{"metadata":{...
and i cannot get edge node from k8s master
**Environment**:
- Kubernetes version (use `kubectl version`): 1.19.12
- KubeEdge version: 1.7.1
- <details><summary>Cloud nodes Environment:</summary> Ali Cloud
  </details>

[2021-07-18 14:49] ChAnYaNG97 opened #2957 "pod gets stuck in pending status under armv8 arch."
**What happened**:
When creating pod, it has been scheduled to edge node but gets stuck in `Pending` status.

**What you expected to happen**:
The pod should be `Running`
**How to reproduce it (as minimally and precisely as possible)**:
On cloud node, `kubectl apply -f busubox.yaml`
[code]

**Anything else we need to know?**:
There is only one cloud node and one edge node in the cluster.

#### Nod

[2021-07-20 02:16] yanyhui opened #2959 "Has the cloudcore ha function been implemented in the latest version 1.7.1?"
Has the cloudcore ha function been implemented in the latest version 1.7.1?What's the status now?

[2021-07-20 02:27] yanyhui opened #2960 "The HA of CloudCore deployment tutorial and the latest version of 1.7.1 code can not match.Please update the latest version of cloudcore ha deployment tutorial"
**What happened**:
Deployment failed.
**What you expected to happen**:
The HA of CloudCore deployed successfully
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
The tutorial link address is ”https://github.com/kubeedge/kubeedge/tree/master/build/cloud/ha#the-ha-of-cloudcoredeployed-in-k8s-cluster“
**Environment**:
- Kubernetes version (use `ku

[2021-07-20 02:42] yanyhui opened #2961 "The latest version 1.7.1 reports an error when deploying cloudcore ha."
**What happened**:
The deployment is not ready all the time.
**What you expected to happen**:
Cloudcore ha deployed successfully
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
The latest version 1.7.1 reports an error when deploying cloudcore ha. The deployment file "03-ha-deployment.yaml.example" has readinessgates error. The logic of electi

[2021-07-20 04:05] cassiofariasmachado opened #2962 "TLS handshake error: bad certificate"
**What happened**:

I'm trying to run KubeEdge with a K8s Cluster configured with `kops` at AWS but I stuck in the following error:

[code]

I tried to follow this [comment](https://github.com/kubeedge/kubeedge/issues/2791#issuecomment-823078366) without success.

**How to reproduce it (as minimally and precisely as possible)**:

Creating K8s cluster

[code]

Installing Keadm (on cloud and edge):

[2021-07-20 08:27] #2574 closed

[2021-07-20 08:27] #2575 closed

[2021-07-20 08:27] #2351 closed

[2021-07-20 09:33] luo-kaguya opened #2963 "Edge node is not ready"
**What happened**:
My edge node is not ready, I want to know what is the problem, thank you!
![QQ截图20210720171537](https://user-images.githubusercontent.com/50018493/126295598-ebb83212-75ae-4616-a8bb-0609cde3d5cd.png)
![QQ图片20210720171349](https://user-images.githubusercontent.com/50018493/126295340-76ad90c1-d946-4ce0-a4b8-a2c9a9bf565b.png)
![QQ截图20210720171622](https://user-images.githubuserconte

[2021-07-20 13:36] Jeaniowang opened #2965 "EdgeHub has a bug when Client init"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):
- <details><summary>Cloud nodes Environment:</summary>

  - Hardware configuration (e.g. `lscpu`):
  - OS

[2021-07-21 01:34] sdghchj opened #2967 "get secret from metaManager failed, err: timed out waiting for the condition"
**What happened**:
When edgecore runs into the function getSecretsFromMetaManager, it reports error: "get secret from metaManager failed, err: timed out waiting for the condition"

The same issue: #1909

**What you expected to happen**:
get secrets successfully.

**How to reproduce it (as minimally and precisely as possible)**:
1. Install the edgecore whith a nodeName on an edge node;
2. Apply a d

[2021-07-21 03:23] tiezhuoyu opened #2968 "unable to load in-cluster configuration"
**What happened and what you expected to happen**:
Some pods like flannel and kubevirt-operator ran well on those nodes with kubelet, but failed on nodes with edged. The logs  report error 'unable to load in-cluster configuration, KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT must be defined.'

When creating a pod with kubelet, a function 'getServiceEnvVarMap(ns string, enableServiceLinks bo

[2021-07-21 08:25] stingshen opened #2969 "Make token TTL consistent"
**What would you like to be added/modified**:

Make token TTL consistent. Everytime, the TTL of token returned by `keadm gettoken` should be consistent. I expected the TTL isn't related to the time point when the token is got.

Currently, the TTL of token returned by `keadm gettoken` isn't consistent and is related to refresh point.

**Why is this needed**:

The TTL of token generated by `kubeadm`

[2021-07-22 09:20] lonelyCZ opened #2974 "keadm join --certPath not work"
**What happened**:
When I executed
`keadm join --cloudcore-ipport=192.168.11.100:10000 --certPath=/home/kubeedge/certs --kubeedge-version=1.7.1 --token=6ee3556fc2d8e6736326e701b17169a90663f5de4ee37ad9e795ea9f76f8dcbe.eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2MjcwMjk3MDZ9.JuA08MthCfyVtVCtUaUl_y3WGScQCfO6ReAE_PiY4Ks`

But the certPath was`t changed，and the tlsCertFile of edgecore.yaml also no

[2021-07-22 10:37] gccio commented on #2965
`eh.initial()` can not move out of the loop.
before reconnect to cloudhub, `eh.chClient.UnInit()` will close the websocket connection. the connection can not reopen once close.

[2021-07-22 11:39] SachinVarghese commented on #1235
Hey, was there any update on this issue? I am can still see it failing for init containers with `KubeEdge v1.7.1`

[2021-07-22 15:11] Jeaniowang commented on #2965
hi gccio, eh.initial() just instantiation eh.chClient,  eh.chClient.UnInit() close the eh.chClient.connection, when next time connection, eh.chClient.Init() will init eh.chClient.connection again.  it's a new connection

[2021-07-23 06:23] pengshengguo opened #2976 "边缘侧list-watch获取到的元数据和云上不同"
**What happened**:
边缘侧list-watch获取到的元数据和云上不同。通过“curl 127.0.0.1:10550/api/v1/pods”获取到的pods 和云上看的pod不一致，只有部分pod是一致的。

**What you expected to happen**:
期待边和云获取到相同的元数据

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.19.8
- KubeEdge version(e.g. `cloudcore --version` and `edgecore

[2021-07-23 06:26] Poorunga commented on #2976
/cc @fisherxu

[2021-07-23 07:51] siredmar opened #2977 "KubeEdge nodes get role=master"
**What happened**:
Adding nodes to the cluster results in the following roles:
[code]

All my nodes have the role=master meaning that on the nodes will run some master related stuff.
Looking at the nodes labels and roles presents this:
[code]

**What you expected to happen**:
I'd expect that my nodes won't get the master role.

**Environment**:
I have two clusters running in Azure AKS: `main` and

[2021-07-24 04:15] #2268 closed

[2021-07-26 03:54] ZBoIsHere commented on #2911
kubeedge v1.6.0 support list-watch on edge node, you can try reinstall flannel and kube-proxy at your edgenode.

[2021-07-26 10:45] KosukeKondo0527 opened #2979 "How to set tlsTunnel Files when you set up CloudCore as pod in k8s cluster"
**What happened and what you expected to happen**:
I deployed cloudcore:v1.7.1 Pod into k8s-cluster

and modified config for cloudstream

[code]

How to generate these flies is explained  by [this document](https://kubeedge.io/en/docs/advanced/debug/)
[code]

but these files don't not exist in the cloudcore, and  How to generate them is not explained
[code]

please tell me how to generate these fi

[2021-07-26 22:07] SachinVarghese commented on #2229
HI, @daixiang0 I have also been trying to get this working on edge nodes. Noticed your PR, looks good. Are there any updates on when your PR could be part of a release or even get merged? I would be keen to help test and get this reviewed. Cheers

[2021-07-27 01:34] daixiang0 commented on #2229
@kevin-wangzefeng @fisherxu WDYT?

[2021-07-27 03:01] a732264856 opened #2980 "Kube-proxy keeps showing ContainerCreating，kube-proxy also has some problems， I pasted the log and description here I need your help!"
Docker version 20.10.7
kubernetes version 1.21.2
kubeedge version 1.7.0

1:
kube-proxy（ContainerCreating，it is located at edge node 2,which is a Raspberry Pi 3B,with Ubuntu18.04 LTS）  Log content：
Error from server: Get "https://192.168.1.172:10350/containerLogs/kube-system/kube-proxy-75tv6/kube-proxy?tailLines=100": dial tcp 192.168.1.172:10350: connect: connection refused

kube-proxy desceribe:

[2021-07-27 07:04] a732264856 commented on #2980
nestedpendingoperations.go:301] Operation for "{volumeName:kubernetes.io/projected/62160bda-4f49-4847-a0c2-e71d0398ef91-kube-api-access-rx28m podName:62160bda-4f49-4847-a0c2-e71d0398ef91 nodeName:}" failed. No retries permitted until 2021-07-27 14:55:33.201969579 +0800 CST m=+22113.331719791 (durationBeforeRetry 2m2s). Error: "MountVolume.SetUp failed for volume \"kube-api-access-rx28m\" (UniqueNa

[2021-07-27 11:26] #2483 closed

[2021-07-27 11:26] #2586 closed

[2021-07-27 11:26] #2110 closed

[2021-07-28 02:37] YuxiJin-tobeyjin commented on #2634
still reproducible

[2021-07-28 02:44] lauchokyip opened #2981 "ServiceBus documentation is empty"
**What would you like to be added/modified**:
Add documentation on ServiceBus

**Why is this needed**:
To help user understands how ServiceBus operates

[2021-07-28 03:49] xianshun163 commented on #2138
if  this fix？

[2021-07-28 06:51] ttlv commented on #2950
/aaaign

[2021-07-28 06:51] ttlv commented on #2950
/assign

[2021-07-28 09:32] guanchaoli commented on #2092
请问你的cloud节点能直接访问到edge节点吗？我这边是cloud无法通过ip访问到edge节点的，然后metrics-server报错：
E0728 09:32:17.853926 1 server.go:132] unable to fully scrape metrics: unable to fully scrape metrics from node iot-test: unable to fetch metrics from node iot-test: Get "https://iot-test:10250/stats/summary?only_cpu_and_memory=true": dial tcp: lookup iot-test on 100.125.1.250:53: no such host

[2021-07-28 22:39] jeffzhu503 opened #2982 "keadm document link does not exist"
I am trying to install KubeEdge on the edge side.  The link to keadm does not work and get 404.
https://github.com/kubeedge/kubeedge/blob/master/docs/setup/keadm.md.

[2021-07-29 08:36] stingshen opened #2983 "service bus doesn't forward header from edge to cloud"
**What happened**:

All headers that sent from service on edge are lost from service bus

**What you expected to happen**:

Headers are forwarded successfully from edge to service via service bus.

**How to reproduce it (as minimally and precisely as possible)**:

1. Run a service on edge node. e.g. a metric service. The service reponse headers are as following:
    ![{f79d97de-8a53-404c-a2cf-d2c4

[2021-07-30 03:18] #2983 closed

[2021-07-30 06:06] YLyangling opened #2986 "failed to execute `kubectl logs/exec` for pod on edge node"
**What happened**:

Failed to execute `kubectl logs/exec` for pod on edge node.

[code]

**What you expected to happen**:

Successfully execute `kubectl logs/exec` for pod on edge node.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

I set the value of **cloudCoreConfig.CommonConfig.TunnelPort** to **10350**.

I find that the value o

[2021-07-30 06:31] YLyangling opened #2987 "the pod deletion succeeded but the delete error log is still generated"
**What happened**:

The pod deletion succeeded but the delete error log is still generated.

[code]

**What you expected to happen**:

No delete error log is generated when pod is successfully deleted.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.20.0
- KubeEdge ver

[2021-07-30 08:39] YLyangling commented on #2956
I had the same problem.

The problem is caused when the Edged component updates node.label during startup and node.Kind=nil

**Code position:** edge/pkg/edged/edged.go: 328

[code]

**Temporary solution:** node.Kind = "Node"

[2021-07-31 19:27] BenAsaf opened #2988 "keadm init: "Error: the server could not find the requested resource""
Hello,
First time users for KubeEdge and we're pretty much stuck at the beginning. Seems like there is a missing step in the Installation?

We tried to use this documentation: https://kubeedge.io/en/docs/setup/keadm/
And then we found this one: https://kubeedge-docs.readthedocs.io/en/latest/setup/setup.html

We didn't get to installing on Edge Device / Nodes because installation of Master fails.

[2021-08-01 02:23] #1417 closed

[2021-08-01 02:23] #1900 closed

[2021-08-01 02:23] #2521 closed

[2021-08-01 02:23] #2600 closed

[2021-08-01 09:08] BenAsaf commented on #2988
Adding some info:
On my Desktop PC all worked fine. I guess there is an issue with EC2?
Any clue?

[2021-08-01 14:36] #2577 closed

[2021-08-01 14:36] #2601 closed

[2021-08-01 15:54] bensch98 opened #2989 "Edge connection with EdgeMesh"
**What happened and what you expected to happen**:
I expect the same behavior as in the official [KubeEdge Docs](https://kubeedge.io/en/docs/advanced/edgemesh/). However there is no endpoint created when I run exactly the same commands as in the docs.

**How to reproduce it (as minimally and precisely as possible)**:
I have a Kubernetes/KubeEdge cluster running with my master node and one edge nod

[2021-08-02 08:45] #2987 closed

[2021-08-02 10:08] fisherxu opened #2994 "Configuration for CloudStream and EdgeStream module don't work"
**What happened**:
When I run `hack\local-up-kubeedge.sh` to start a local cluster, the CloudStream and EdgeStream in config file have been enabled, but after cloudcore/edgecore started, the CloudStream and EdgeStream is disabled.

Looks like the config file does't work after v1.7. And it works in v1.6.

/assign @gy95

**What you expected to happen**:

Make the configuration file work as expected.

[2021-08-02 10:09] fisherxu commented on #2994
cc @gy95 plal :)

[2021-08-02 10:11] gy95 commented on #2994
ok

[2021-08-03 07:17] gy95 commented on #2994
https://github.com/kubeedge/kubeedge/blob/fb51c63c0d2de502c0f4ee017e4078e6d02e9dbb/hack/local-up-kubeedge.sh#L103

[2021-08-03 07:55] snstaberah opened #2996 "wrong port for metrics interface of edgenode in version 1.7.1"
**What happened**:
when deploy  cloudcore in HA mode of version 1.7.1，I found that edgenode kubeletendpoint port in APIServer is modified like 10351、10352，and iptables is set
![image](https://user-images.githubusercontent.com/8952747/127977888-3b3b0a7e-3817-4e6f-aa00-d42a90197861.png)
but when i try to access  https://nodeip:10351/metrics ,the request is received by cloudcore,but the response  is

[2021-08-03 08:07] sdghchj commented on #2986
I guess it was running in container

[2021-08-03 08:09] sdghchj commented on #1560
How if cloudcore runs in containers ?

[2021-08-03 09:01] sdghchj commented on #2996
Sure it's a bug

[2021-08-03 12:21] #2994 closed

[2021-08-04 03:12] sdghchj commented on #2989
![image](https://user-images.githubusercontent.com/20944466/128116303-329a8258-e43c-4de3-9818-18998332e9d5.png)

[2021-08-04 08:41] tianxin8206 commented on #2989
I have the same issue.How to solve this?

[2021-08-04 09:02] leehuoche opened #2998 "how to start two containers in one edge node using crds?"
**What happened and what you expected to happen**:

We have one  kubeedge master node and one edge node. We want to start two containers on one edge node using one image. The difference between containers is their configuration.

The crds contains ` model.yaml, instatance1.yaml,instance2.yaml, deployment1.yaml,and deployment2.yaml `;  when I use `kubectl apply -f instance1.yaml` and `kubectl apply

[2021-08-04 09:43] leehuoche commented on #2998
My  colleague gives the answer : add an environment variable in the `deployment.yaml`

[2021-08-05 01:48] jeffzhu503 opened #3000 "Kubernetes Cluster requirements in order to deploy KubeEdge using Keadm"
I am trying to deploy KubeEdge in Google Cloud.  I have a few questions here:

1. I will first create a Kubernetes cluster for both Cloud and Edge side.  However, what is the requirement for the Kubernetes cluster?  Do we have any?
2. One of the limitations based on the document site is "
Currently, support of keadm is available for Ubuntu and CentOS OS. RaspberryPi supports is in-progress."  Why

[2021-08-05 02:28] llhuii commented on #2982
see [keadm-v1.7.1-linux-amd64.tar.gz](https://github.com/kubeedge/kubeedge/releases/download/v1.7.1/keadm-v1.7.1-linux-amd64.tar.gz) in kubeedge [releases](https://github.com/kubeedge/kubeedge/releases).

[2021-08-05 02:35] llhuii commented on #3000
1. Yes, see [this link](https://github.com/kubeedge/kubeedge#kubernetes-compatibility) for k8s requirement.
2. keadm has two subcommands:
   - `init`: should be executed in the machine in which you want to run [cloudcore](https://github.com/kubeedge/kubeedge#architecture)(cloud part of kubeedge).
   - `join`: should be executed in the machine in which you want to run [edgecore](https://github.com/

[2021-08-05 03:10] MoXinQian opened #3001 "edgecore bug--v1.7.1"
Sudden interruption of edge node！

![image](https://user-images.githubusercontent.com/82023054/128285024-c57390f0-7652-4fa7-b706-f51adcef23d9.png)

8月 04 20:15:21 hw-node01 edgecore[937]: E0804 20:15:21.780142     937 imitator.go:89] failed to access database:sql: transaction has already been committed or rolled back
8月 04 20:15:21 hw-node01 edgecore[937]: I0804 20:15:21.780614     937 process.go:

[2021-08-05 07:16] jeffzhu503 commented on #3000
To give you an example how Kubeflow writes its deployment steps: https://www.kubeflow.org/docs/distributions/gke/deploy/deploy-cli/ .  You can read the detail on the site.  Here is the layout of the deployment doc:
Prerequisites: how to set up the k8s cluster?  what kind of credentials? etc.
Install the required tools: how to install keadm.

For my particular question, how do I set up the Kubernet

[2021-08-05 10:08] #2596 closed

[2021-08-05 10:17] fisherxu opened #3002 "KubeEdge Support K8s v1.21"
**What would you like to be added/modified**:

Now when we use version v1.21 of K8s master, the application schduled to the edgenode can't run normally. Maybe need some adaption work in edgecontroller.

cc @gy95
**Why is this needed**:
Support  K8s v1.21.

[2021-08-05 10:17] fisherxu commented on #3002
We can use local-up to test.

[2021-08-05 10:18] gy95 commented on #3002
ok
/assign

[2021-08-05 12:01] gitolicious commented on #2956
Is this the correct fix and worth opening a PR?

For reference, the above code snippet relates to these lines:
https://github.com/kubeedge/kubeedge/blob/4e3be37c302075d444616af213d213bea82579b1/edge/pkg/edged/edged.go#L324-L329

[2021-08-05 12:08] SchmidtJonathan1 commented on #2988
Hello, got the same problem on my two virtual machines (CentOS 8 and Ubuntu 20.4).

[2021-08-05 12:13] BenAsaf commented on #2988
I didn't continue to try fixing it.
Hopefully someone can shed some light.

[2021-08-05 12:48] SchmidtJonathan1 commented on #2988
i figured it out.. Kubernetes version 1.22 released, if you use kubernetes 1.21 everthing works..

[2021-08-05 16:56] Poorunga opened #3003 "Can kubeedge support jobs"
**What happened and what you expected to happen**:
I created a k8s job, but the edge node cannot start the pod corresponding to the job

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.7.1
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`): v1.7.1

[2021-08-05 17:01] Poorunga commented on #2989
Can you print the edgecore log? We will analyze the problem based on the log content.
By the way, the new version of edgemesh may work better, you can refer to: https://github.com/kubeedge/edgemesh

[2021-08-06 01:32] #3003 closed

[2021-08-06 01:35] llhuii commented on #3000
Yes, It is better to add more docs about setting up prerequisites, @fisherxu @kevin-wangzefeng

For your questions:
1. From [the k8s requirements for kubeedge](https://github.com/kubeedge/kubeedge#kubernetes-compatibility), k8s 1.19 would be good. For about how to set up the k8s, you can search the k8s official docs to install this specified version.
2. Once you have choose the cloud and edge side

[2021-08-06 01:43] #2998 closed

[2021-08-06 02:25] sdghchj commented on #2989
So, Everyone of you can't see my screenshot picture?

[2021-08-06 03:41] MoXinQian opened #3004 "not surport nodeSelector feature（v1.7.1）"
I want the pod to be scheduled to certain nodes， I set bolew：
[code]
But only one node is scheduled

[2021-08-06 03:51] fisherxu commented on #3004
Thanks for pointing out the issue. And can you provide more details? The schedule work is done by k8s's scheduler in master, so do the pods all schduledsuccessfully?

[2021-08-06 04:20] jeffzhu503 opened #3005 "The environment to run keadm"
It is not exactly clear to me where to run this command: " keadm init --advertise-address="THE-EXPOSED-IP"

I would expect something like the following:
1. Shall I create a VM in the cloud or use my laptop?
2. OS Ubuntu is required and has been tested. Mac may work but it is not tested.
3. What kind of credential in order to run this keadm?
4. Can I run from one of pods in the Kubernetes cluster?

[2021-08-06 07:19] bensch98 commented on #2989
Sorry my for late response @sdghchj . Was actually the mistake, thx. Do you know if kubeedge supports Ingress? If yes, is the installation as described in the [Ingress docs](https://kubernetes.io/docs/concepts/services-networking/ingress/)? I want to make certain services available from outside the cluster.

[2021-08-06 09:00] sdghchj commented on #2989
In my knowledge so far,  it doesn't support.

[2021-08-06 09:48] mehulhirpara commented on #3005
Answering some of the questions

You need a k8s cluster before starting on KubeEdge. You can create a VM on your laptop and setup k8s cluster first and download keadm from [keadm v1.7.1](https://github.com/kubeedge/kubeedge/releases/download/v1.7.1/keadm-v1.7.1-linux-amd64.tar.gz)

[code]

[2021-08-06 10:00] mehulhirpara opened #3009 "failing to get token"
**What happened**: Trying to setup cloudcore using keadm. Completed cloudcore successfully, but failing to get token using command metioned below:

[code]

**What you expected to happen**: Expected to receive a token which I can use to join worker/edge node

**How to reproduce it (as minimally and precisely as possible)**: Just by running command "keadm gettoken"

**Anything else we need to know?*

[2021-08-06 18:16] #2989 closed

[2021-08-06 18:32] bensch98 commented on #3009
Is the Kubernetes cluster already running? Did you check if the config is really located at your specified path?
My config is always in $HOME/.kube/config

[2021-08-06 18:49] bensch98 commented on #3004
nodeSelector works just fine. Label your node:
[code]
Afterwards the Pods will only be scheduled there. I assume you mean only one of your pods is being scheduled after applying your deployment? Maybe you try to deploy multiple Pods using the same Port on the same node? That won't work and only one Pod will be running.
@MoXinQian Please provide your Pod/Deployment yaml files.

[2021-08-06 19:17] bensch98 commented on #3000
@llhuii I don't think it's necessary to set up a separate Kubernetes cluster on the edge node. I always just create the cluster on my master node using `kubeadm init`. Then setup cloudcore with `keadm init` and join it via `keadm join` on the edge device.

@jeffzhu503 Install docker, docker-compose, kubelet, kubectl, kubeadm, keadm on your master node. Create the cluster with:
[code]
You probably

[2021-08-07 10:14] mehulhirpara commented on #3009
Yes, k8s is running and config file location is at $HOME/.kube/config

[2021-08-09 01:38] llhuii commented on #3000
I meant the k8s cluster requirement was the cluster created by `kubeadm init` that you said.

[2021-08-09 07:03] mehulhirpara commented on #3009
Tried manually and found that default token is created and in the description there is "token" field instead of "tokensecret"

[code]

[2021-08-09 07:11] slomo28 commented on #2988
I encountered the same problem, I used V1.21.3 at the beginning, it worked fine, the second time I used V1.22.0, I encountered this problem, I switched back to the old version, the problem was solved.

[2021-08-09 07:24] slomo28 opened #3012 "kube-flannel and kube-proxy of work nodes is pending"
**What happened and what you expected to happen**:
The master node works properly, but the Kube-flannel and Kube-proxy of all work nodes are pending.
**How to reproduce it (as minimally and precisely as possible)**:
The work node is faulty after being added to the cluster
**Anything else we need to know?**:
Edgecore has been installed on the work node and all the images under "kubeadm config image

[2021-08-09 07:41] snstaberah commented on #2919
I found some relate doc here, but I'm also confused by how to use edgesite ,  more doc  is necessary to help user understand edgesite concept。
https://github.com/kubeedge/kubeedge/tree/master/edgesite

[2021-08-09 08:02] jeffzhu503 opened #3013 "Install KubeEdge in GCP err: no Auth Provider found for name "gcp" goroutine 1 [running]:"
We created a Kubernetes cluster in GCP and run Keadm init using the following config file.
- name: gke_devops-267820_us-central1-c_kubeedge-cloud-std
  user:
    auth-provider:
      config:
        access-token: ya29.c.Ko8BCwhw6UPe28gOegdTmUSohwmUVLNHcAi-eSNPsv9cKICzl_redgu5Bf9wj-SrVCPSEidzW-ZYUIZgcn1PgUj8lkVK21VIfsKXvlvv4o110YZOBkfj-5_XKY-xMudxazGy05rKmAP6SF0pSN3mW0IydEzPeaiAwonrDthm-WK_oCh9ZbPc

[2021-08-09 11:08] ZBoIsHere commented on #3012
so far, kube-flannel and kube-proxy can be installed in the cloudnode, if you want to install CNI and kube-proxy in the edgenode, you can reference to https://github.com/kubeedge/kubeedge/issues/2677; if you just want access service in the edgenode, you can try install[ edgemesh](https://github.com/kubeedge/edgemesh) in your edgenode.

[2021-08-09 11:09] ZBoIsHere commented on #3012
In addition, edgemesh and kube-proxy can't not installed in the same host.

[2021-08-09 11:16] ZBoIsHere commented on #3005
/assign

[2021-08-09 11:17] ZBoIsHere commented on #3005
this blog may help you
[KubeEdge在centos8.0下的安装部署详解](https://mp.weixin.qq.com/s?search_click_id=8336705840306415996-1628507703106-740319&sub=&__biz=MzIzNzU5NTYzMA==&mid=2247490514&idx=1&sn=66e8500384a5c2a36c1de23ea3b32f93&chksm=e8c76553dfb0ec458e1fd89dc5b506e2f47277553b564537de017b88103e793a017b41e36ccf&scene=3&subscene=10000&clicktime=1628507703&enterid=1628507703&ascene=0&devicetype=android-29&ve

[2021-08-09 11:17] ZBoIsHere commented on #3012
/assign

[2021-08-09 13:00] slomo28 commented on #3012
Thank for your help!

[2021-08-09 14:11] slomo28 commented on #3012
Should I delete kube-flannel and kube-proxy on the work node?I want to run 'kubeedge-counter-demo', but 'Kubeedge -pi-counter' is pending, is that because of the above problem?

[2021-08-09 14:11] slomo28 commented on #3012
Should I delete kube-flannel and kube-proxy on the work node?I want to run 'kubeedge-counter-demo', but 'Kubeedge -pi-counter' is pending, is that because of the above problem?

[2021-08-09 15:10] ZBoIsHere commented on #3012
edgemesh and kube-proxy will be able to install in the same host in the next version of kubeedge.
If kube-proxy is running in the edgenode, the edgecore will be failed, so in the edgenode, you can first close the kube-flannel and kube-proxy and restart the edgecore, then watch the counter-demo healthy or not.

[2021-08-09 17:26] Hisyamkamil opened #3015 "Failed build edgecore docker image arch arm32v7"
**What happened**: trying to build edgecore docker image for arm32v7 with follow instruction on https://github.com/kubeedge/kubeedge/tree/master/build/edge

`ERROR: Service 'edgecore' failed to build: The command '/bin/sh -c apk --no-cache update && apk --no-cache upgrade && apk --no-cache add build-base linux-headers sqlite-dev binutils-gold && CGO_ENABLED=1 go build -v -o /usr/local/bin/edgecore

[2021-08-09 20:02] jeffzhu503 commented on #3013
Found a previous bug: https://github.com/kubeedge/kubeedge/issues/2427.
We need to confirm if we support all three major public cloud providers.

[2021-08-09 21:22] #2365 closed

[2021-08-10 00:23] ttlv commented on #2764
/close

[2021-08-10 00:23] #2764 closed

[2021-08-10 02:12] llhuii commented on #3013
patch `https://github.com/kubeedge/kubeedge/blob/master/keadm/cmd/keadm/app/cmd/util/common.go` and run `make WHAT=keadm` to recompile keadm can solve this issue.
[code]

[2021-08-10 06:37] shmilyhome opened #3016 "Deadlock occurs using beehiveContext.SendSync"
**What happened**:
Deadlock occurs using beehiveContext.SendSync，Have a small probability
**What you expected to happen**:
Resolve deadlock
**How to reproduce it (as minimally and precisely as possible)**:
using beehiveContext.SendSync，But the cloudcore response time is just the critical point of the timeout time
**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kube

[2021-08-10 09:36] Imy123 opened #3017 "Skip existing files"
When I exec `./keadm init --advertise-address="192.168.5.112"`
I got
![image](https://user-images.githubusercontent.com/17736269/128843458-01ee099a-faba-4a44-a454-7c17e4c69131.png)

But I can get this file by  browser with https://raw.githubusercontent.com/kubeedge/kubeedge/release-1.7/build/crds/router/router_v1_ruleEndpoint.yaml

So I want if I have local file keadm can skip download this file

[2021-08-10 09:36] Imy123 commented on #3017
/keadm

[2021-08-10 09:39] zhu733756 commented on #2921
Same issue with #2996

[2021-08-10 10:00] #3017 closed

[2021-08-11 01:23] llhuii commented on #3013
`cloudcore`
[code]

[2021-08-11 01:59] aagu opened #3019 "daemonset pod scheduled but always in pending state"
**What happened**:
In my cluster, I deploy the edgemesh using daemonset along with cloudcore. When edge node was added to the cluster, the daemonset create a pod and k8s scheduled it to the edge node, but this pod was always in Pending state, unless manually delete the pod to force a pod schedule to the edge node, so the new pod can run on this edge node.
**What you expected to happen**:
The first

[2021-08-11 02:31] xianshun163 opened #3020 "Can't get configmap when the pod in the edgenode"
**What happened and what you expected to happen**:
I create a deployment , the deployment use a  configmapRef  like below:
 envFrom:
        - configMapRef:
            name:  config-env
when the deployment is run in the cloud node , it  can get the configmap, but when it run in the edge node, It can't get the config map.
**How to reproduce it (as minimally and precisely as possible)**:
Deploy the

[2021-08-11 05:45] siredmar commented on #3004
@MoXinQian this depends on how you are defining your workload. If you are using the kind "Deployment" with replica set to 1 it only gets deployed to one matching node. If you are using "DaemonSet" your workload will be scheduled on every matching node.
If you are the kind "Pod" than you should share your manifest yaml files as something else is strange. Did you label all your wanted nodes to match

[2021-08-11 06:37] sdghchj commented on #3016
Kind to remind you of stopping the ticker when you no longer use it.
More and more tickers not stopped will exhaust your CPU resource.

[2021-08-11 09:41] kevinniu666 commented on #2729
you just need to grep the wget process and kill it .

[2021-08-11 10:08] kevinniu666 opened #3022 "failed to retrieve log via "kubectl logs""
**What happened**:
I followed the steps in below document, but could not get the pod log from edge node.
https://kubeedge.io/en/docs/advanced/debug/

error message:
[root@vm10-10-0-160 ~]# kubectl logs nginx-deployment-7469c98999-k6t5w
Error from server: Get https://10.228.82.84:10350/containerLogs/default/nginx-deployment-7469c98999-k6t5w/nginx: x509: certificate is valid for 127.0.0.1, 10.228.82

[2021-08-11 16:01] rorosen opened #3023 "Edgecore logs are flooded by EDGE_Metrics_CONNECTOR after update to 1.7.1"
**What happened**:
Since an update from version 1.5.1 to version 1.7.1 (edgecore and cloudcore), the edgecore logs are permanently flooded by the EDGE_Metrics_CONNECTOR with "write metrics data" events.

A small section of the messages:
[code]

Usually, it prints several hundreds lines and stops at some point with the message:
[code]

However, a few seconds later it starts flooding the log once ag

[2021-08-12 05:40] MoXinQian commented on #3004
thanks

[2021-08-12 05:45] siredmar commented on #3004
Did this fix your problems? Can this issue get closed then?

[2021-08-12 08:20] #3002 closed

[2021-08-12 09:14] ZBoIsHere commented on #3019
/assign

[2021-08-12 09:17] ZBoIsHere commented on #3019
@aagu hello, could you apply another daemonset like hostname to see if every node has a helathy hostname pod

[2021-08-12 19:12] #2630 closed

[2021-08-13 00:47] jeffzhu503 commented on #3005
We set up another VM to install Cloudcore using keadm which connects a K8s standard cluster in GCP.   This scenario is verified.

[2021-08-13 00:47] #3005 closed

[2021-08-13 00:53] jeffzhu503 opened #3029 "Document the list of possible cloud and edge nodes"
We need a document that clearly identifies what is supported in KubeEdge to install cloudcore or edgecore.   For example,
GCP standard kubernetes and VM <===> GCP VM (edge node)
GCP standard kubernetes and VM <=?=> AWS VM (edge node)

We shall first list all verified settings, and then potential settings but have not been verified yet.

[2021-08-13 01:32] EnfangCui opened #3030 "kubeedge v1.7.0 install error: panic: runtime error: invalid memory address or nil pointer dereference"
I tried  ./keadm init --kubeedge-version=1.7.0 --advertise-address="139.198.190.221"
The results are as follows, it seems succeed.
[code]
But when I open   /var/log/kubeedge/cloudcore.log, it shows a error:

[code]

Actually it is failed. What should I do?

[2021-08-13 01:43] EnfangCui commented on #3030
This problem does not exist in version 1.7.1, so I changed to version 1.7.1. And this issue is closed.

[2021-08-13 01:43] #3030 closed

[2021-08-13 02:22] first-sight12 opened #3031 "The edge node is intermittently in notready state"
**what happened:**
The edge node intermittently enters the notready state. One edge node system automatically adds stains to enter the notready state and changes to the ready state after a period of time; However, the other edge node enters the not ready state; After a period of time, all edge nodes enter the not ready state again. After a few minutes, one of the edge nodes enters the not ready st

[2021-08-13 03:15] aagu commented on #3019
@ZBoIsHere Hi, as you suggested, I applied another daemonset like this:
[code]
but the status of this pod scheduled to edge node remain in Pending.

After dug into edgecore logs, I found this error message:
[code]

However, a pod from another namespace controlled by deployment successfully running on this node:
![image](https://user-images.githubusercontent.com/7698210/129299723-9199a7cd-0877-4b5f

[2021-08-13 03:30] aagu commented on #3019
I've also checked that meteserver worked as intented:
[code]
I don't known if metesever takes controll over meteclient in edged in kubeedge v1.7.1?

[2021-08-13 09:25] bluven opened #3033 "resolv.cont conent keep changing"
**What happened**:

I created a pod to do network diagnosing, sometimes I found the resolv.conf file kept changing. It's hard to believe, but it happended, I record it: [https://asciinema.org/a/O2TsjMpN2Pk8poCU5FkYWOeHr](https://asciinema.org/a/O2TsjMpN2Pk8poCU5FkYWOeHr)

pod spec:
[code]

**What you expected to happen**:

 resolv.conf of pod should remain unchanged.

**How to reproduce it (as min

[2021-08-13 09:45] bluven commented on #3033
After I delete all net-tool-edge2 containers and let edgecore recreate net-tool-edge2 pod,  the problem is gone, so I guess everytime I do `kubectl exec net-tool-edge2`, somehow edgecore use different net-tool-edge2 container.

[2021-08-13 10:12] sdghchj opened #3035 "Why not make eventbus client options configurable?"
![image](https://user-images.githubusercontent.com/20944466/129341278-2ee11b95-b118-4f5f-8799-f17cf2340aac.png)

**What would you like to be added/modified**:

Make client ID, username, password  configurable.

**Why is this needed**:

In consideration of security, we usually need the mqtt broker to authenticate all the device client including eventbus.

[2021-08-13 12:32] elrosar commented on #3023
I just noticed that this is also happening in a cluster running cloudcore v.1.7.1 and edgecore v.1.5.0. This is critical because edgecore v1.5.0 writes its log to `/tmp` where the info log will take up all the place until there is nothing left to write. This will lead to edgecore failing repeatedly because `no space left on device` errors.

Hence, this all is initiated by the update of the cloudco

[2021-08-13 21:56] #2638 closed

[2021-08-14 13:59] #2566 closed

[2021-08-14 13:59] #2569 closed

[2021-08-16 01:37] first-sight12 commented on #3023
Upgrade edgecore version from  v.1.5.0.  to v.1.7.1

[2021-08-16 02:07] first-sight12 commented on #3023
Upgrade edgecore version from v.1.5.0 to v.1.7.1

[2021-08-16 02:14] fisherxu commented on #3023
/cc @gy95

[2021-08-16 02:38] gy95 commented on #3023
these logs are from this, we could modify this log level from `Info` to `Debug`
https://github.com/kubeedge/kubeedge/blob/611e5d820b92d89f2be0df23bf7d5ef20fd09a72/pkg/stream/edgedmetricsconnection.go#L114
And one question, do you enable module `edgestream`? @elrosar

[2021-08-16 03:15] gy95 commented on #3009
just need to run `keadm gettoken` without specified configuration

[2021-08-16 03:17] gy95 commented on #2982
ref : https://kubeedge.io/en/docs/setup/keadm/

[2021-08-16 05:12] zhu733756 commented on #2921
This bug can be fixed by patching the following cmd:
[code]
In my case,  The largest tunnel port has been increased to 10359.

[2021-08-16 05:13] #2921 closed

[2021-08-16 07:15] elrosar commented on #3023
@gy95 yes, `edgestream` is enabled as we need logs and exec for the nodes. So it is no option for us to disable `edgestream` completely. I do not completely understand why these are logs from `edgestream` although the message says "metrics data", is this intended?

Changing the log level in the relevant line in `edgemetricsconnection.go` seems like a quick fix to hide these lines in the logs, but

[2021-08-16 08:53] #2928 closed

[2021-08-19 01:33] slomo28 opened #3040 "The Raspberry PI node cannot join the cluster."
**What happened and what you expected to happen**:
Raspberry PI failed to join the cluster.
**How to reproduce it (as minimally and precisely as possible)**:
After keadm join is executed on the raspberry PI node, edgecore is successfully run, but raspberry PI is not added to the cluster on the master node.
**Anything else we need to know?**:
Log display:
" Failed to start container manager, err: s

[2021-08-19 02:55] Poorunga opened #3041 "list-watch: cannot update secret resource"
**What happened**:

I used the list-watch capability provided by edgecore. And when I try to update the secret, I receive an error log:
[code]

My code:
[code]

You can also see these codes in https://github.com/kubeedge/edgemesh/blob/main/agent/pkg/tunnel/controller/controller.go

**What you expected to happen**:

I hope the secret update can be successful

**Environment**:
- Kubernetes version (

[2021-08-19 02:56] Poorunga commented on #3041
/cc @fisherxu

[2021-08-19 03:07] slomo28 commented on #3040
I have solved this problem by editing the cmdline.txt file under /boot/firmware, append "cgroup_memory=1 cgroup_enable=memory", and restart the raspberry PI.

[2021-08-19 03:09] fisherxu commented on #3040
@slomo28  Thanks for sharing the experience :) It's an issue related to raspi.

[2021-08-19 04:20] #2967 closed

[2021-08-19 06:25] beyondyinjl2 opened #3042 "Start edgecore error: Failed to start container manager, err: failed to initialize top level QOS containers: root container [kubepods] doesn't exist"
uname -a
Linux davinci-mini 4.19.95+ #1 SMP Wed Feb 24 17:32:53 CST 2021 aarch64 aarch64 aarch64 GNU/Linux

mosquitto -v
1629354086: mosquitto version 1.4.15 (build date Tue, 18 Jun 2019 11:42:22 -0300) starting
1629354086: Using default config.
1629354086: Opening ipv4 listen socket on port 1883.
1629354086: Error: Address already in use

docker version
Client: Docker Engine - Community
 Version:

[2021-08-19 12:49] #2612 closed

[2021-08-19 12:53] rorosen opened #3045 "Pods remain in state "Pending" when added while node is offline in v1.7.x"
**What happened**: All pods that are deployed while the respective edge node is offline remain in state "Pending", in v1.7.1 (Cloudcore and Edgecore). Re-deploying the pods in question while the edge node is online succeeds.

**What you expected to happen**: Pods should be running as soon as the edge node gets online.

**How to reproduce it (as minimally and precisely as possible)**:
* Stop edgeco

[2021-08-20 01:20] Poorunga commented on #3041
I solved this problem by modifying the ContentType, like:
[code]
Change ContentType from `application/vnd.kubernetes.protobuf` to `application/json`

[2021-08-20 01:30] fisherxu commented on #3041
Yes, now we only support json ContentType, and the client-go use json by default.

[2021-08-20 01:50] fisherxu commented on #3041
/close

[2021-08-20 01:50] #3041 closed

[2021-08-20 03:01] yoseihouyn commented on #1574
@wenhuwang i have the same issue.....
did u have any idea to fix it..
pls share your solution, thx!

[2021-08-20 09:06] lonelyCZ commented on #3042
I also encounter this problem.  Do you find the solution of this issue?

[2021-08-20 09:09] slomo28 opened #3046 "Temperature-demo failed to be deployed on raspberry PI.(Experience sharing)"
**Which jobs are failing**:

**Which test(s) are failing**:
Temperature-demo
**Since when has it been failing**:

**Reason for failure**:
The temperature- Mapper Pod could not be scheduled to the Raspberry PI node,because the label of nodeSelector did not match and the scheduler could not find the appropriate edge node.The node label is displayed as 'kubernetes.io/hostname=raspberrypi',but in the

[2021-08-20 10:06] wenhuwang commented on #1574
I finally configured `gpuPluginEnabled: false`, and then used it by hanging in the gpu device directory on the edge node.

[2021-08-21 06:17] vsharma23 commented on #291
Informative

[2021-08-21 09:08] lonelyCZ commented on #3042
I find a way to this problem that change config params in source code. Then recompile the edged.go code.

https://github.com/kubeedge/kubeedge/blob/d2cbad777ae00a444e193a18a3cbbc00a7317d33/vendor/k8s.io/kubernetes/pkg/features/kube_features.go#L683-L684

**Set this two params default params are false**
- SupportPodPidsLimit=false
- SupportNodePidsLimit=false

**then recompile the edged.go code**

[2021-08-21 10:04] #2988 closed

[2021-08-22 07:16] jeffzhu503 opened #3047 "Document for Keadm"
Please refer to this document for kubeadm.  We need something for Keadm and can start with commands init and debug.
https://kubernetes.io/docs/reference/setup-tools/kubeadm/

[2021-08-22 15:29] #2688 closed

[2021-08-22 15:29] #2677 closed

[2021-08-23 08:04] xiehaoina commented on #2850
Anyone would like to make kubeedge compatible to higher kubernernes ?

[2021-08-23 08:06] fisherxu commented on #2850
The latest version of K8s has been supported in KubeEdge v1.7.2 :) @all

[2021-08-23 09:18] assdddddff opened #3048 "websocket.go:90] Init websocket connection failed dial tcp 192.168.18.130:10000: connect: connection refused"
**What ``happened**:[root@kubeedge edge]# edgecore
2021-08-23 16:50:52.160874 I | INFO: Install client plugin, protocol: rest
2021-08-23 16:50:52.160985 I | INFO: Installed service discovery plugin: edge
I0823 16:50:52.163632    9623 server.go:72] Version: v1.7.0
I0823 16:50:52.166394    9623 sql.go:21] Begin to register twin db model
I0823 16:50:52.166529    9623 module.go:34] Module twin registe

[2021-08-23 09:19] assdddddff commented on #3048
how to deal with it?

[2021-08-23 11:02] #2736 closed

[2021-08-23 11:44] fisherxu commented on #3048
Can the edge node access to the `192.168.18.130:10000`? And is this the host's ip of cloudcore?

[2021-08-23 13:02] assdddddff commented on #3048
can't and the host's ip of cloudcore is 192.168.18.130. at previously it was possible to connect to the cloud using the above statement, But it doesn't work now.

[2021-08-23 13:45] fisherxu commented on #3048
Oh, is the cloudcore still running now?

[2021-08-23 15:31] assdddddff commented on #3048
I reboot the cloudcore,the following are some codes.
`[root@kubecloud ~]# keadm init --advertise-address=192.168.18.130 --kubeedge-version=1.7.0
Kubernetes version verification passed, KubeEdge installation will start...
kubeedge-v1.7.0-linux-amd64.tar.gz checksum:
checksum_kubeedge-v1.7.0-linux-amd64.tar.gz.txt content:
[Run as service] service file already exisits in /etc/kubeedge//cloudcore.ser

[2021-08-23 15:35] assdddddff commented on #3048
The cloud doesn't seem to be working

[2021-08-23 18:57] jeffzhu503 opened #3050 "Failed to join AWS edge node to a GCP cloudcore."
**What happened**:
We set up the Cloudcore in GCP and tried to have several edge nodes in the same or different public cloud providers join the same Cloudcore.  However we could not successfully do it.

Here are some error logs we collected from AWS:
oot@ip-172-31-46-190:/data/gopath/src/github.com/kubeedge/kubeedge# ps -ef |grep -i edgecore
root      9479     1  2 17:14 ?        00:00:00 /usr/loc

[2021-08-24 02:06] fisherxu commented on #3048
You'd better to try the v1.7.2, there's a panic bug in 1.7.0

[2021-08-24 03:50] assdddddff commented on #3048
ok

[2021-08-24 03:51] #3048 closed

[2021-08-24 06:39] EnfangCui opened #3051 "FailedMount MountVolume.SetUp failed for volume "kube-proxy-token""
KubeEdge v1.7.2
k8s v1.9
ubuntu 18.04

I encountered a problem when installing kubeedge on the edge node.

What I did:

[code]

The error:
[code]

[2021-08-25 00:07] EnfangCui commented on #3051
Sloved. The ca, certs, and config in /etc/kubeedge need to be deleted first before a new installation.

[2021-08-25 00:07] #3051 closed

[2021-08-25 01:51] fisherxu commented on #2850
/close

[2021-08-25 01:51] #2850 closed

[2021-08-25 07:55] yttan opened #3053 "edge use kubeconfig to list/watch apiserver?"
**What happened and what you expected to happen**:

I succeeded to get resources from metaserver using curl like this:

[code]

But when it comes to constructing a kubeconfig file to list/watch from apiserver, I got errors.

this is the kubeconfig file:

[code]

the command:

[code]

the log

[code]

From the log I see kubectl requests http://127.0.0.1:10550/api/

[code]

Anything I missed from th

[2021-08-26 01:40] EnfangCui opened #3056 "metamanager can't catch the default/secret/default-token-XXXXX"
KubeEdge v1.7.1
EdgeMesh Main Branch
ubuntu 18.04
k8s v1.9.3

**My environment：**
I have one cloud node and two edge node in diffierent public cloud. （cloud node is in qingyun, edgenode1 is in huaweicloud, edgenode2 is in tencentcloud）

**My problem:**
I have a problem that when I deploy a pod to edge node 2, the pod is always in a pending or ContainerCreating state. And the error is: metamanager

[2021-08-26 06:05] jidalong opened #3057 "metaServer report "concurrent map iteration and map write" panic by list-watch request"
**Environment**:
- Kubernetes version (use `kubectl version`): 1.18.5
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`): 1.7
- <details><summary>Cloud nodes Environment:</summary>

  - Hardware configuration (e.g. `lscpu`):
  - OS (e.g. `cat /etc/os-release`): centos 7.6
  - Kernel (e.g. `uname -a`): 3.10.0-514.el7.x86_64
  - Go version (e.g. `go version`): go1.14.2
  - Other

[2021-08-27 02:06] MoXinQian opened #3059 "cloudcore HA failed"
According to cloudcore ha tutorial，when i got to step that use keepalived  to ensure high availability，but the **check_cloudcore .sh** always callback 404，friends，how did you solve it?

[2021-08-27 07:29] salmanazmat666 opened #3062 "Unable to resolve service names"
**What happened and what you expected to happen**:
I have two pods and two services on edge. From one pod I cannot hit the http endpoint of other pod. Following curl fails

curl works if I use the IP of the container instead of service name.

**How to reproduce it (as minimally and precisely as possible)**:
Following are two yaml files for two pods and respective services.

I do `curl http://edgex

[2021-08-27 08:03] waynechan9 opened #3063 "modbus mapper in mappers-go cannot get time-series data properties"
**What happened**:
When I tried to deploy modbus mappers in [mappers-go/modbus](https://github.com/kubeedge/mappers-go/tree/main/mappers/modbus), and use the following [modbus device yaml](https://github.com/kubeedge/mappers-go/blob/main/build/crd-samples/devices/modbustcp-device-instance.yaml) to create the device,  I cannot get modbus data property "temperature".

[code]

I Just add `spec.data`

[2021-08-28 03:21] TianTianBigWang commented on #3063
Hello, I can get data when using my own modbus mapper.
So I want to know the misplaced part of `dataProperty` in `device-profile-config-xx`. Can I take a look at the `device-profille.json` of `device-profile-config-xx`?

[2021-08-28 06:11] #2751 closed

[2021-08-28 06:46] lonelyCZ opened #3067 "How to get valid cert when the network is disconnected in Edgecore"
**What happened and what you expected to happen**:
If the certificate expired when Edgecore was disconnected and then reconnected, how do it restore the connection.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --versi

[2021-08-28 07:29] waynechan9 commented on #3063
Hi, I retried a few times and took some screenshots. The dataProperty in the json of device-profile-config-xx.yaml is not in the data directory, and the parsing of mappers-go is based on data.dataProperties.

![modbustcp-device-instance](https://user-images.githubusercontent.com/4927150/131210029-b3a1e43b-3b00-4042-9fb2-cc604180880d.png)
![device-profile-config-edgenode-1](https://user-images.gith

[2021-08-28 08:03] MoYuanDan commented on #3063
Well, it does seem to be a bug, the attribute field does not correspond to the `mapper-go`.

[2021-08-28 13:38] CooperLi commented on #2788
Hi there, I met the same issue and change the daemon set yaml file like you said, however, the outcome still not correct, could you please put your Calico daemonset yaml file? Thanks a lot!

[2021-08-28 15:29] EnfangCui commented on #3056
Thank you very much. This problem has been solved.

[2021-08-28 15:29] #3056 closed

[2021-08-29 12:49] #2602 closed

[2021-08-30 05:37] jeffzhu503 commented on #3050
It was open when we installed cloudcore.

[2021-08-30 05:46] jeffzhu503 commented on #3000
@bensch98  With the help from @llhuii ,  I  successfully set up Cloudcore and Edgecore in GCP initially a few weeks ago.  But it stopped working after a weekend.  Then I had the problem to re-enable or re-join the edge nodes.
Btw, I found the document from Sedna: https://sedna2.readthedocs.io/en/latest/.  This is a good format that KubeEdge project shall also adopt!

[2021-08-30 06:49] zc2638 commented on #3050
[code]
Can you paste this information intact?

[2021-08-30 08:25] gy95 opened #3070 "Refactor edge metamanager"
**What would you like to be added/modified**:
Refactor edgecore metamanager
introduce a structure that contains resourceType and operation like below, introduce a global map value `processors` to contain different processors,

So we can distinguish or dispatch messages by resourceType and Operation to different processors to process messages.  and we can process message like function `func Process

[2021-08-30 08:26] gy95 commented on #3070
@fisherxu @kevin-wangzefeng   PTAL

[2021-08-30 11:53] gy95 opened #3074 "a bug in metamanager process delete message"
**What happened**:
there's a bug in metamanager process delete message, cannot use `imitator.DefaultV2Client.Inject` to delete meta
https://github.com/kubeedge/kubeedge/blob/2153f0ce090d9d418433f338af3eefd136b071d2/edge/pkg/metamanager/process.go#L220-L227
**What you expected to happen**:
fix it
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2021-08-31 01:51] #2996 closed

[2021-08-31 07:27] GsssC commented on #3053
@yttan sorry i am not working on this feature after graduation.You could query the active maintianer @fisherxu for roadmap or @Poorunga for problems in use. And now the metaserver is unsafe(no time to implement), I think commnity is willing to get a auth/rbac metaserver at edge, would u like to take this work?

[2021-08-31 11:18] Congrool opened #3086 "Use NodeLease when updating heartbeat timestamp of node"
**What would you like to be added/modified**:
When edged starts, a goroutine called [`syncNodeStatus`](https://github.com/kubeedge/kubeedge/blob/master/edge/pkg/edged/edged.go#L322) will continuously send msgs to the cloudcore to update nodeStatus every `NodeStatusUpdateFrequency` which defined in `edgecore.yaml` and its default value is 10s.

I found it that `MetaManager` will not send msgs to th

[2021-08-31 20:58] khemendra0 opened #3090 "OPC UA mapper pod is not starting in edge"
Hello everyone,

I am trying to install kubeedge and the run OPC-UA mapper on edge.
I setup kubeedge (cloud core and edgecore) by keadm tool.
when deploy OPC UA mapper, Pod is not starting.

Below are my Nodes details(not sure why master showing in notready ?, pls let me know if it is ok or have some issue):
![Selection_999(047)](https://user-images.githubusercontent.com/30586015/131573134-110e3b9

[2021-08-31 21:04] khemendra0 commented on #3090
Device model, device and deployment file for OPCUA mapper are attached here:
![Selection_999(050)](https://user-images.githubusercontent.com/30586015/131575659-0d4b2db3-73fb-47a4-bf7c-797d6cdddd23.png)

![Selection_999(051)](https://user-images.githubusercontent.com/30586015/131575673-7134ee2f-c305-4596-9cde-8708d4e1e466.png)

![Selection_999(049)](https://user-images.githubusercontent.com/3058601

[2021-08-31 22:23] tuninger opened #3091 "cloudcore is running,but tokensecret was not created."
**What happened and what you expected to happen**:
Starting cloudcore as a pod, cloudcore is started, but tokensecret is not created.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

- OS : CentOS Linux release 7.9.2009 (Core)
- Kernel: 3.10.0-1160.36.2.el7.x86_64

- ps -aux | grep cloudcore
root     37903  0.5  0.1 743984 34088 ?        Ssl

[2021-09-01 01:55] zhu733756 opened #3092 "Upgrade the API version of the CRDs to apiextensions.k8s.io/v1"
**What happened and what you expected to happen**:
Currently, the CRDs are in a different version. How about upgrading the API version of the CRDs to apiextensions.k8s.io/v1 ?  It would help me a lot to manage these CRDs. Thanks.

Related issues or prs:  #2780, # 2799, #2784

[2021-09-01 01:56] #3092 closed

[2021-09-01 01:56] zhu733756 opened #3093 "Upgrading the API version of the CRDs to apiextensions.k8s.io/v1"
**What happened and what you expected to happen**:
Currently, the CRDs are in a different version. How about upgrading the API version of the CRDs to apiextensions.k8s.io/v1 ?  It would help me a lot to manage these CRDs. Thanks.

Related issues or prs:  #2780, #2799, #2784

[2021-09-01 02:33] #3063 closed

[2021-09-01 02:42] benjaminhuo commented on #3093
Actually apiextensions.k8s.io/v1beta1 was removed from K8s v1.22, not deprecated

https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/

[2021-09-01 02:43] benjaminhuo commented on #3093
@daixiang0

[2021-09-01 02:51] daixiang0 commented on #3093
let's upgrade it :)

[2021-09-01 02:51] Yellow-L opened #3094 "device actual value can't upload user data because validation method doesn't contain special character some like '?' and '=' and so on."
**What happened**:
device twin actual value can't upload to cloudcore.

**How to reproduce it (as minimally and precisely as possible)**:
device twin actual value string contain character like '?' and '='

[code]

[2021-09-01 06:51] tuninger commented on #3091
kubeedge/cloud/pkg/cloudhub/cloudhub.go

func (a *cloudHub) Start() {
	if !cache.WaitForCacheSync(beehiveContext.Done(), a.informersSyncedFuncs...) {
		klog.Errorf("unable to sync caches for objectSyncController")
		os.Exit(1)
	}
**Always blocked in this method**

[2021-09-01 09:00] subpathdev opened #3100 "external PKI"
**What would you like to be added/modified**:

I would like to use a external PKI like [Hashi Corp Vault](https://www.vaultproject.io/) to generate all needed certificates.

**Why is this needed**:
By using an external PKI, we can increase the user experience and increase the security of the system.

[2021-09-01 09:01] subpathdev commented on #3100
/assign subpathdev

[2021-09-02 04:55] #3090 closed

[2021-09-02 05:45] khemendra0 opened #3105 "Not getting opcua readings on topic $hw/events/device/lamp/twin/update"
**What happened and what you expected to happen**:
OPCUA mappers is connecting with opcua server and get data. but I am not able to get data from mqtt broker on event $hw/events/device/lamp/twin/update
when I subscribe on topic $hw/events/device/lamp/twin/update, it should recieve opcua readings

**How to reproduce it (as minimally and precisely as possible)**:
1. Build and deployed OPCUA mappers

[2021-09-02 05:46] khemendra0 opened #3106 "Not getting opcua readings on topic $hw/events/device/lamp/twin/update"
**What happened and what you expected to happen**:
OPCUA mappers is connecting with opcua server and get data. but I am not able to get data from mqtt broker on event $hw/events/device/lamp/twin/update
when I subscribe on topic $hw/events/device/lamp/twin/update, it should recieve opcua readings

**How to reproduce it (as minimally and precisely as possible)**:
1. Build and deployed OPCUA mappers

[2021-09-02 07:32] stingshen opened #3107 "Support changing labels on cloud"
**What would you like to be added/modified**:

Some initial labels could be added to edgecore config file. But these labels would be reverted after edgecore restarts even though they are modified or deleted on cloud.

I propose add a config for initial labels. These labels can be modified or deleted later on cloud using `kubectl label`.

**Why is this needed**:

We need some labels to be set right

[2021-09-02 07:56] first-sight12 opened #3108 "edgemesh agent always pending"
**What happened**:
When edgemesh is deployed, edgemesh agent is always in pending state

[code]

Edge node to view edgecore status
![image](https://user-images.githubusercontent.com/88825053/131803622-be604c9a-1423-4366-9cb7-22e875842c6d.png)

![image](https://user-images.githubusercontent.com/88825053/131803569-a1af20fa-43f9-4c3e-a0cb-b2f69818a7e5.png)

**What you expected to happen**:

I hope to

[2021-09-02 08:25] stingshen commented on #3107
related: https://github.com/kubeedge/kubeedge/issues/2764

I think the behavior can fullfill my needs before this issue is fixed. The labels set by `keadm join --labels` only take effect after joining. The label doesn't revert after edegcore restarts.

Maybe we need another configuration for initial labels?

[2021-09-02 09:47] stingshen commented on #3107
There may be a bug with current label config. The label wouldn't be deleted after it is deleted from config file. For example:

1. label a=a, b=b is set in edgecore config file and they are synced to k8s.
2. delete b=b from edgecore config.
3. restart edgecore, but b=b isn't deleted.

[2021-09-02 11:01] khemendra0 commented on #3105
closed as duplicate

[2021-09-02 11:01] #3105 closed

[2021-09-03 04:04] sdghchj commented on #3059
The tutorial is not consistent with the source code.
The http server at port 10002 has no path named 'readyz'.

[2021-09-03 06:40] first-sight12 opened #3122 "Edgecore keeps restarting"
**What happened and what you expected to happen**:
After adding edge nodes, the following problems are found:
![image](https://user-images.githubusercontent.com/88825053/131960698-315511ac-1397-463a-acd1-02157ceab6f0.png)

So I changed "systemd" to "cgroupfs"
[code]

![image](https://user-images.githubusercontent.com/88825053/131960989-a485bcc4-09d9-4579-b268-e384f00dd831.png)

But I found another

[2021-09-03 07:20] gy95 commented on #3122
when edgecore keep restarting, are there some edgecore logs?

[2021-09-03 07:25] first-sight12 commented on #3122
You can see the following figure
![image](https://user-images.githubusercontent.com/88825053/131966903-4e721f79-e0d6-45fe-88d2-485d5557081b.png)

[2021-09-03 07:30] first-sight12 commented on #3122
This is the latest log, you can have a look
![image](https://user-images.githubusercontent.com/88825053/131967522-2f22261c-f062-420f-96f6-18938667e960.png)

[2021-09-03 07:51] gy95 commented on #3122
what log was printed before `stopped edgecore.service` this line,

[2021-09-03 07:55] first-sight12 commented on #3122
![image](https://user-images.githubusercontent.com/88825053/131970857-42649e69-63ae-4ef7-b4ef-abc9dba2ad3a.png)

[2021-09-03 07:58] gy95 commented on #3122
this block is about stack info, there should be some fatal logs before print these  goroutine stack, could you search before the stack or search `fatal` logs

[2021-09-03 08:21] gy95 commented on #3122
yes, that's the reason, could you please copy all of the goroutine stack info here. I'll fix this bug

[2021-09-03 08:31] first-sight12 commented on #3122
Could you have a look at this
[code]
![image](https://user-images.githubusercontent.com/88825053/131975604-094ae46e-1640-4d89-b4b0-c00e9ff54339.png)

[2021-09-03 08:46] gy95 commented on #3122
no, not these fatal logs, we could not find where concurrent map read/write occurs
we need goroutine stack infos, just after fatal error line , begins with goroutine xxx
or you could upload this file : `/var/log/kubeedge/cloudcore.log`., i'll search what we need infos to solve this problem

[2021-09-03 08:55] first-sight12 commented on #3122
[cloudcore.log](https://github.com/kubeedge/kubeedge/files/7104611/cloudcore.log)

[2021-09-03 08:58] gy95 commented on #3122
sorry 😭 , misspell, could you please upload the edgecore log file: `/var/log/kubeedge/edgecore.log`

[2021-09-03 09:21] first-sight12 commented on #3122
[edgecore..tar.gz](https://github.com/kubeedge/kubeedge/files/7104801/edgecore.tar.gz)

[2021-09-03 10:32] siredmar opened #3127 "Readd deprecated `InterfaceName` option in edgecore.yaml"
**What would you like to be added/modified**:
I'd like to have the ability to specify a specific network interface to have the control over the IP address that is used to register to tunnel server.

**Why is this needed**:
The scenario is: Over different local networks multiple edge devices have the same IP address, e.g. 192.168.0.5. The iptables rules redirect from the node IP to the node cloudco

[2021-09-03 11:27] siredmar opened #3128 "iptables missing in v1.8.0 clodcore container"
**What happened**:
I wanted to see the new feature that cloudcore adds the iptables rules for the edge nodes. However seeing in the logs makes it clear that iptables is missing in the docker image:
[code]

**What you expected to happen**:
I'd expected to have the iptables rules set correctly.

**How to reproduce it (as minimally and precisely as possible)**:
Just run the current v1.8.0 in a k8s cl

[2021-09-03 18:46] #2754 closed

[2021-09-04 02:58] gy95 commented on #3122
this is due to metamanager handler map concurrent read/write. and this problem is solved in PR #2955
But this PR also mentioned that not all concurrent map read/write panics have been solved. so i would find more reasons that result in the map concurrent read/write.
[code]

[2021-09-04 03:04] first-sight12 commented on #3122
I'll have a look and try

[2021-09-04 03:06] gy95 commented on #3122
And another reason is here, but I've find why this will result in concurrent map read/write panic. I'll analyze more details. 😄

[code]

[2021-09-04 03:27] first-sight12 commented on #3122
Well, thank you.

[2021-09-04 06:29] #2752 closed

[2021-09-04 21:58] #2286 closed

[2021-09-05 09:28] #3128 closed

[2021-09-06 03:59] fisherxu commented on #2884
/close

[2021-09-06 03:59] #2884 closed

[2021-09-06 09:46] #3127 closed

[2021-09-07 01:14] gy95 opened #3138 "improve the test coverage"
**What would you like to be added/modified**:
add more test to improve the test coverage.
**Why is this needed**:
improve the test coverage
kubeedge has already provided a script to display the test coverage.
just use `make test PROFILE=coverprofile` to print coverage
[code]
If we want to view coverage in detail, we could use `go tool cover -func=coverprofile` to find more details, and the output

[2021-09-07 09:04] stingshen commented on #3107
@fisherxu what do you think?

[2021-09-07 09:16] ansjin opened #3142 "KubeEdge Playground on Katacoda"
Hi,

I created a playground for KubeEdge deployment on Katacoda for `one cloud node and one edge node`. It has the following :

- Deployment of K8s using kubeadm
- Deployment of KubeEdge using Keadm
- Enabling Logs, and flannel
- Deployment of Sedna

Please check it out: https://www.katacoda.com/ansjin/scenarios/getting-started-with-kubeedge-sedna

[2021-09-07 10:20] zhu733756 commented on #3093
Hi, any updates？/cc @daixiang0

[2021-09-08 02:31] PearceDuan commented on #3001
I meet same problem now, is this solved or not?

[2021-09-08 04:06] YLyangling opened #3145 "cloudcore: Failed to ensure chain TUNNEL-PORT exists"
**What happened**:

CloudCore failed to create iptables chain **TUNNEL-PORT**.

**Error**:

[code]

**What you expected to happen**:

iptables chain **TUNNEL-PORT** should be created successfully.

**How to reproduce it (as minimally and precisely as possible)**:

- CloudCore container deployment.

- View CloudCore logs

[code]

**Environment**:
- Kubernetes version (use `kubectl version`): v1.20.

[2021-09-08 07:58] Imy123 commented on #3062
If your edgemesh not ready you can see this https://github.com/kubeedge/edgemesh/blob/main/README.md.
Then this is my resource file, use this file edgex can work normal.

[2021-09-08 07:58] Imy123 commented on #3062
apiVersion: apps/v1
kind: Deployment
metadata:
  name: edgex-app-rules-engine
  namespace: edgex
  labels:
    app: edgex-app-rules-engine
spec:
  replicas: 1
  template:
    metadata:
      namespace: edgex
      name: edgex-app-rules-engine
      labels:
        app: edgex-app-rules-engine
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:

[2021-09-08 08:40] jidalong commented on #2788
@CooperLi hello， I meet the same issue, have you solved this problem.

[2021-09-08 09:37] first-sight12 opened #3151 "When tested HTTP in edgemesh, I found that the service name was inconsistent with the code"
**What would you like to be added/modified**:
In the test sample of edgemesh, please keep the service name and code of HTTP test consistent

**Why is this needed**:
The service name in the code is hostname-svc.
![image](https://user-images.githubusercontent.com/88825053/132484844-e303702c-ecc4-4dea-af1f-973508228f01.png)

The service name accessed during edgemesh test is hostname-lb-svc
![image](h

[2021-09-08 09:51] #3145 closed

[2021-09-09 02:10] guanchaoli opened #3153 "too many message received, fifo overflow"
**What happened**:

After running edgecore for some time and deploy several apps to it, it shows the following log.  Also, the node is marked as 'NotReady' on Kubernetes. I will need to run `systemctl restart edgecore` to make it work again
[code]

**What you expected to happen**:

Edgecore does not show those error logs and its status should be Healthy

**How to reproduce it (as minimally and pre

[2021-09-09 02:39] YLyangling commented on #2986
Yes, cloudcore is running in container.

In Kubeedge-release-1.8, this problem has been solved.

[2021-09-09 02:39] #2986 closed

[2021-09-09 02:51] CooperLi commented on #2788
not yet, used `flannel` instead

[2021-09-09 03:13] CooperLi opened #3155 "rpm build support"
yum is package management component in most operating system.
To use yum install kubeedge, we need rpm package first
So it is important to have a **rpm spec** file for user to build kubeedge rpm package~

[2021-09-09 03:30] stingshen opened #3156 "edgecore doesn't report node ephemeral storage"
**What would you like to be added/modified**:

edgecore reports ephemeral storage which is the behavior of kubelet

![image](https://user-images.githubusercontent.com/6214067/132617827-a2960e10-c198-44b2-9f89-3efcb3d50f49.png)

**Why is this needed**:

To keep parity with kubelet. And the infomation is useful for admin and scheduler

[2021-09-09 03:50] CooperLi commented on #3155
Here is some proposals for kubeedge rpm package:

## Packages

There are 4 packages we need to provides:

- [keadm](#keadm)
- [cloudcore](#cloudcore)
- [edgecore](#edgecore)
- [edgesite](#edgesite)

### keadm

This package is used for `keadm init`  on the cloud side, and `keadm join` on the edgeside.

Keadm will require internet access when user type `keadm init/join`.

Since some nodes has **no i

[2021-09-09 05:59] haotaogeng opened #3158 "cloudcore cert error in log"
lots of errors seen in cloudcore logs, but kubeedge does work.

I0909 05:56:00.685287       1 log.go:181] http: TLS handshake error from 10.20.8.141:4734: tls: failed to verify client certificate: x509: certificate signed by unknown authority (possibly because of "x509: ECDSA verification failure" while trying to verify candidate authority certificate "KubeEdge")
I0909 05:56:01.448866       1 log.

[2021-09-10 08:55] Rachel-Shao commented on #3158
There may be some problems with the certificate. You can try to deploy a pod to verify the connection between edge and cloud.

[2021-09-10 09:00] haotaogeng commented on #3158
It is fixed. It is my fault.  Thanks for your help and it is ok to close this issue.

[2021-09-10 09:00] #3158 closed

[2021-09-11 07:07] PearceDuan commented on #3001
although i don't know  the root cause, but it seems temporary work for me after add time.Sleep() in Retry loop

vim ./edge/pkg/metamanager/metaserver/kubernetes/storage/sqlite/imitator/imitator.go

near line 90, add `time.Sleep(1*time.Second)` in the Retry loop

[code]

[2021-09-11 17:25] #2775 closed

[2021-09-13 01:09] Congrool commented on #3086
@fisherxu Hello, if the community needs this feature, I'd like to work on it.

[2021-09-13 01:13] fisherxu commented on #3086
Sure, please go ahead. We should use node lease.

[2021-09-13 02:19] MoXinQian commented on #3004
yes

[2021-09-13 02:20] MoXinQian commented on #3004
thanks，you can.

[2021-09-13 02:42] #2760 closed

[2021-09-13 14:14] Congrool commented on #3086
/assign

[2021-09-13 14:17] #2786 closed

[2021-09-13 14:17] #2782 closed

[2021-09-14 07:41] #3155 closed

[2021-09-14 11:57] #3156 closed

[2021-09-14 17:02] #2763 closed

[2021-09-15 01:32] llhuii commented on #3142
Hi, I have created all-in-one playground for Sedna with one liner:
- A Kubernetes v1.21 cluster
- KubeEdge v1.8 with two edge nodes

The one line script requires you:
- 2 CPUs or more
- 2GB free memory
- 10GB of free disk space
- Internet connection(docker hub, github etc.)
- Linux platform, such as ubuntu/centos
- Docker 17.06+

You can play it here https://www.katacoda.com/kubeedge-sedna/scenari

[2021-09-16 02:51] charles-woshicai commented on #2756
Latest status: not work with this but might be free to try in the next month. So keep it unstale.

[2021-09-16 06:58] #2357 closed

[2021-09-16 09:41] haoheipi commented on #3020
I got into trouble with the same problem and when I viewed the code it was because the method makeEnvironmentVariables  in that loading configuration from envFrom was removed .
I don't know why it was removed in this [pr](https://github.com/kubeedge/kubeedge/pull/1104) . If necessary, I am willing to submit my PR for this issue.  @fisherxu

[2021-09-16 09:44] fisherxu commented on #3020
Please goahead, and welcome the PR! @haoheipi

[2021-09-16 12:49] haoheipi commented on #3020
/assign @haoheipi

[2021-09-18 01:15] 18664599806 opened #3178 "Cloudcore should can be deploy on another node different from K8S apiServer。"
**What would you like to be added/modified**:
Cloudcore should can be deploy on another node different from K8S apiServer。

In my envirenment， when cloudcore is deployed on a different node from K8S apiServer， the edgeNode will failed to join .
The edgecore log shows that  the certification files is valid only for K8S apiServer Advertise-address ip, not valid for cloudcore advertise-address ip.

*

[2021-09-18 03:55] khalid-jobs opened #3180 "Can't get enviroment value of secret when the pod in the edge node"
**What happened**:
I create a deployment ,and the deployment use a secretKeyRef like below:
[code]
When the deployment runs in the cloud node, it works. But When it runs in the edge node, the container can not get the `CA_SERVER_TOKEN` value
**What you expected to happen**:
The pod in the edge node should can get the `CA_SERVER_TOKEN` env

**How to reproduce it (as minimally and precisely as possi

[2021-09-18 03:55] khalid-jobs commented on #3180
/assign

[2021-09-18 08:46] nuckydong opened #3182 "edge can not run on arm64 Ubuntu18"
**What happened and what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `v1.20.4`):
- KubeEdge version(e.g. `1.6.2`):

1 cloud already installed and run
2 amd64 edge side no problem
3 arm64 failed

some logs:

[code]

[2021-09-18 09:35] #3020 closed

[2021-09-19 00:44] #2792 closed

[2021-09-19 00:44] #2791 closed

[2021-09-19 00:44] #2778 closed

[2021-09-19 13:31] #2800 closed

[2021-09-19 13:31] #2769 closed

[2021-09-19 18:20] jeffzhu503 commented on #3050
@zc2638 I can't find the error message anymore.  Could you please confirm if you have tested this kind of scenario: the setup of KubeEdge in two different public clouds or networks?

[2021-09-20 03:13] zc2638 commented on #3182
Could you please post the content of `/etc/kubeedge/config/edgecore.yaml` ?

[2021-09-20 03:20] zc2638 commented on #3178
Could you please post relevant error information, including `/etc/kubeedge/config/cloudcore.yaml`.

[2021-09-20 03:23] zc2638 commented on #3153
This problem has been located, mainly due to the blockage of the channel communication channel inside edgecore, and will be planned to be repaired in the near future.

[2021-09-20 04:00] #2802 closed

[2021-09-20 08:02] zc2638 commented on #3050
This is related to your public cloud network configuration.
Could you tell me your cloud network situation?
For example, there is a layer of gateway proxy or VIP.

And could you please post the content of `/etc/kubeedge/config/edgecore.yaml` ?

[2021-09-22 03:27] llhuii commented on #3180
duplicate issue #2930

[2021-09-22 13:44] #2762 closed

[2021-09-22 14:26] vcozzolino commented on #2929
I have a similar issue. I'm trying to deploy a fluentd DaemonSet and the pods on the edge nodes remain forever in a pending state due to this error:

`
send sync message kube-logging-0/secret/fluentd-token-rmpd6 failed, error:timeout to get response, retries: 1
`

[2021-09-23 09:23] bensch98 commented on #3040
Had the same issue in the past. This is only necessary for kernel versions 5.x.x and above. As @fisherxu said, it's an issue related to the Pi and not the Image. Note that the `cmdline.txt` file can be located in slightly different directories depending on which OS you are running on the Pi.

[2021-09-23 09:29] khalid-jobs commented on #3180
/unassign

[2021-09-23 09:41] fisherxu commented on #3040
I think we can close this issue, feel free to reopen it for any other problem.

/close

[2021-09-23 09:41] #3040 closed

[2021-09-23 10:19] bensch98 opened #3194 "WSL2 Support"
**What happened and what you expected to happen**:
It tried joining a cluster with a edge node running on a WSL2 (Windows Subsystem for Linux) Machine. I was able to join the cluster, but no pods can be scheduled and the logs also show some errors.

**How to reproduce it (as minimally and precisely as possible)**:
- Install WSL2 wit Ubuntu 20.04 LTS
- Install `systemd` according to this [repo](htt

[2021-09-23 13:59] liyinxin opened #3195 "When i restart my master(cloud), then i can't get the edgenodes"
**What happened and what you expected to happen**:
when i start my master(cloud), i use kubectl get nodes, i find my edge  node is NotRedy!
**How to reproduce it (as minimally and precisely as possible)**:
I just restart my computer!
**Anything else we need to know?**:

**Environment**:ubuntu 16.04
- Kubernetes version (use `kubectl version`):kubectl 1.17.3
- KubeEdge version(e.g. `cloudcore --ver

[2021-09-23 15:49] #2761 closed

[2021-09-24 05:53] jeffzhu503 commented on #3050
I decided to recreate a new Kubernetes master node using kubeadm in GCP.  After it is completed, here is what I get.
 kubectl get pods --all-namespaces
NAMESPACE     NAME                                       READY   STATUS    RESTARTS       AGE
kube-system   calico-kube-controllers-74b8fbdb46-cq2rr   1/1     Running   0              5h43m
kube-system   calico-node-dm4cf                          1

[2021-09-24 05:54] jeffzhu503 commented on #3050
Now, I am running keadm init --kube-config=$HOME/.kube/config --advertise-address=35.193.86.243.  Here is the new error I am seeing:
9145 keadm.go:27] the server could not find the requested resource
goroutine 1 [running]:
k8s.io/klog/v2.stacks(0xc00012c001, 0xc000320160, 0x5c, 0xb0)
        /root/codes/src/github.com/kubeedge/kubeedge/vendor/k8s.io/klog/v2/klog.go:1021 +0xb9
k8s.io/klog/v2.(*logg

[2021-09-24 05:55] jeffzhu503 commented on #3050
What is the requested resource missing here?

[2021-09-24 06:22] jayce opened #3197 "run `kubectl logs` failure"
**What happened**:
I run `kubectl logs -f nginx-deployment-599b9698d8-qf4dc` on the masterNode
`Error from server: Get https://10.229.1.109:10350/containerLogs/default/nginx-deployment-599b9698d8-qf4dc/nginx?follow=true: dial tcp 10.229.1.109:10350: connect: connection refused`

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1. keadm reset
2. up

[2021-09-24 07:45] fisherxu commented on #3197
Can you please check the port in `node.status/daemonEndpoints`, it should be `10351`. @jayce

[code]

[2021-09-24 10:06] jayce commented on #3197
edgenode:

[code]

[2021-09-25 05:43] #2533 closed

[2021-09-25 23:35] #2810 closed

[2021-09-26 02:13] guanchaoli commented on #3153
Thank you for the reply. Could you mention this issue once the PR is created? 😁

[2021-09-26 04:00] fisherxu commented on #3197
It's not a bug, for multi-cloudcore, the ports in cloudcore will be 10351,10352..  And the `kubeletEndpoint` should be 10351. I think it's because the configmap `kubectl get cm tunnelport -nkubeedge` haven't been deleted when reset, so the `kubeletEndpoint` is 10350 in your cluster.

ref: https://github.com/kubeedge/kubeedge/issues/1560#issuecomment-843693951

[2021-09-26 17:00] #2632 closed

[2021-09-26 17:00] #2819 closed

[2021-09-26 17:00] #2814 closed

[2021-09-27 08:58] jayce commented on #3197
okay , it works when I restart the edgecore.

Since 1.8.0, the default of kubeletEndpoint is 10351, not 10350?

[2021-09-27 08:59] ChAnYaNG97 commented on #2498
Same issue here. Have you solved the problem yet?

[2021-09-27 09:09] fisherxu commented on #3197
In edged, it's 10350. And for cloudcore we will negotiate one port for one cloudcore instance, e.g. cloudcore1: 10351, cloudcore2: 10352...

And when edgenode connects to one cloudcore, the port in `kubeletEndpoint`/`nodestatus` will be updated to the port that cloudcoreN negotiated.

And we will also add some iptable rules that forward stream from apiserver to cloudcore.  Then 10351 ->  cloudcore

[2021-09-27 20:30] #2825 closed

[2021-09-28 02:01] zc2638 commented on #3050
Could you paste all the exception information?
It help locate the exception location.
@jeffzhu503

[2021-09-28 06:05] stingshen opened #3202 "edgecore doesn't report machine id"
**What would you like to be added/modified**:

Edgecore reports machine id. The id could be the content of `/etc/machine-id`

**Why is this needed**:

The behavior is parity with kubelet.

Our usecase: We use fluentd to collect logs from edge node and send to elasticsearch on master. Fluentd reports machine id and hostname as machine identity to elasticsearch. We can't use machine host name to fin

[2021-09-28 08:00] farawaychen opened #3206 "Whether KubeEdge supports master node migration"
**What happened and what you expected to happen**:
I have created a Kubeedge cluster now, whether KubeEdge supports switching k8S master node.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):v1.19.15
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):1.8

[2021-09-28 08:03] fisherxu commented on #3206
What's the meaning of  `switching k8S master node`?

[2021-09-28 08:23] farawaychen commented on #3206
Change the master of the K8S cluster to another device.IP is different.

[2021-09-28 08:26] fisherxu commented on #3206
Ohh, you need to migration all kubeedge related object to the related cluster.

[2021-09-28 08:46] farawaychen commented on #3206
How to related object?
1. On the new Master node, do I need to redeploy Cloudcore and generate a new token?
2. On the Edge node, do I need to execute "keadm reset" to join in the new k8s master node?

[2021-09-28 12:33] fisherxu commented on #3093
@zhu733756 Would you like open a new PR like several months ago to upgrade it?

[2021-09-29 01:49] zhu733756 commented on #3093
Yeah.

[2021-09-29 19:29] jeffzhu503 commented on #3050
F0929 19:25:00.911123   28403 keadm.go:27] the server could not find the requested resource
goroutine 1 [running]:
k8s.io/klog/v2.stacks(0xc00012c001, 0xc00032a2c0, 0x5c, 0xb0)
        /root/codes/src/github.com/kubeedge/kubeedge/vendor/k8s.io/klog/v2/klog.go:1021 +0xb9
k8s.io/klog/v2.(*loggingT).output(0x3d78bc0, 0xc000000003, 0x0, 0x0, 0xc0003af030, 0x3a3b201, 0x8, 0x1b, 0xe4e4
00)
        /root

[2021-09-29 19:32] jeffzhu503 commented on #3050
That is all I got from the screen. The top of the error message is the server could not find the requested resource
goroutine 1 [running].  And I have the second one in the team who received the same error message.

[2021-10-01 06:05] #1421 closed

[2021-10-02 18:58] #2826 closed

[2021-10-03 21:20] #2829 closed

[2021-10-03 21:20] #2822 closed

[2021-10-05 00:29] #2816 closed

[2021-10-07 12:26] 844700118 opened #3210 "How to configure listenInterface and subNet ?"
**How to configure listenInterface and subNet?**

EdgeMesh version: release-1.8

Kubernetes version (use kubectl version): 1.19

KubeEdge version(e.g. cloudcore --version and edgecore --version): 1.8

**1. cloud node**
  [root@localhost ~]#  ifconfig

    calibdd26de4518: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1440
      inet6 fe80::ecee:eeff:feee:eeee  prefixlen 64  scopeid 0x20<link>

[2021-10-10 16:40] #2837 closed

[2021-10-11 15:22] Congrool opened #3220 "Repeated `sed` replacement in local-up-kubeedge.sh"
**What happened**:
When we local up kubeedge with `local-up-kubeedge.sh` for the first time, it works well. While for the second, the third time, the directories or paths in the edgecore.yaml contain `/tmp/etc` will be replaced with `/tmp/tmp/etc` which will cause the fail of local-up .
After several times of local-up, the edgecore.yaml looks like this:
[code]
It happens because the local-up-kubee

[2021-10-11 15:25] Congrool commented on #3220
/assign
I'll fix this.

[2021-10-11 16:01] #3220 closed, assigned to nobody

[2021-10-12 22:26] #2845 closed

[2021-10-13 03:10] gy95 opened #3225 "make verify failed"
**What happened**:
running cmd `make verify` failed, the error output is
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):
- <details><summary>Cloud nodes Environment:</

[2021-10-13 08:26] #3225 closed, assigned to nobody

[2021-10-14 07:37] stingshen opened #3232 "cloudcore occupies massive CPU usage while kubectl exec exits abnormally"
**What happened**:

cloudcore occupies massive CPU usage whiel kubectl exec exits abnormally

**What you expected to happen**:

cloudcore never occupy so much CPU

**How to reproduce it (as minimally and precisely as possible)**:

1. kubectl exec into any pod on edge
2. kill the kubectl process or directly close the terminal
3. the CPU usage of cloudcore will be above 100% constantly

**Anything e

[2021-10-15 01:52] Congrool opened #3234 "[BUG] LastTransitionTime always changes with LastHeartbeatTime"
**What happened**:
I find that the LastTransitionTime of node ready condition always changes with LastHeartbeatTime (every 10s in default), even if the node is ready all the time.

We can use `kubectl describe node` to verify the problem.

![Screenshot_20211015_094218](https://user-images.githubusercontent.com/32788286/137419644-a7ab6c67-0a92-4864-aade-aa0bf058cf61.png)
![Screenshot_20211015_09422

[2021-10-15 09:21] YuxiJin-tobeyjin commented on #2919
+1, need docs, no idea how to use

[2021-10-15 14:17] Congrool commented on #3086
Now, the work is almost finished. Waiting for #3234  to be merged.

[2021-10-16 16:57] #2849 closed

[2021-10-17 03:33] #2846 closed

[2021-10-18 12:48] yookacn opened #3237 "Error: CustomResourceDefinition.apiextensions.k8s.io "devices.devices.kubeedge.io" is invalid: spec.versions: Invalid value: []"
**What happened**:
root@kubeedge-cloud: keadm init
Kubernetes version verification passed, KubeEdge installation will start...
Error: CustomResourceDefinition.apiextensions.k8s.io "devices.devices.kubeedge.io" is invalid: spec.versions: Invalid value: []apiextensions.CustomResourceDefinitionVersion{apiextensions.CustomResourceDefinitionVersion{Name:"v1alpha2", Served:true, Storage:true, Schema:(*a

[2021-10-19 02:53] #3234 closed

[2021-10-20 02:37] Rachel-Shao commented on #3237
There are some problems with version 1.7, please use version 1.7.1 or 1.8 to see if there are similar problems #3030

[2021-10-20 06:49] #3237 closed, assigned to nobody

[2021-10-22 06:51] zyliu0402 opened #3240 "keadm init error: "Error: the server could not find the requested resource""
**What happened**:
Error occurs in "keadm init" . "Error: the server could not find the requested resource"
k8s-v1.22.2, kubeedge(keadm)-v1.8.2
Acorrding to the Kubernetes Compatibility Table in readme.md, k8s-v1.22.2 match no kubeedge so far.So the error maybe caused by the dismatch of k8s version and kubeedge version. However, when install the k8s "sudo apt install -y kubelet kubeadm kubectl" ,l

[2021-10-26 02:19] TKTKTKK opened #3242 "modbus tcp mapper reconnect error"
![image](https://user-images.githubusercontent.com/38220403/138797184-ff72fcd9-c0f6-4eba-8b52-8f459df42242.png)
Always show "Get register failed: write tcp 172.16.0.243:47498->172.16.0.245:502: write: broken pipe"  , can't reconnect.

[2021-10-26 04:44] My-pleasure opened #3243 "There is a problem with the reliable messgae delivery"
**What happened**:

Because when a resource is delivered for the first time, an ACK from edgecore is required to create the corresponding ObjectSync. So the following could happen:
When you apply a Deployment or a single Pod when the node status is ready but the edgecore has been disconnected, no ObjectSync has been created, so the Pod will not be delivered any more even after the edgecore is conn

[2021-10-26 07:53] #3232 closed, assigned to nobody

[2021-10-27 11:10] vcozzolino opened #3249 "KubeEdge's role in dataplane operations"
Kubeedge offers primarily network features to support the edge-cloud interaction. From my understanding, Kubeedge is oblivious to application dataplane[1] operations such as data persistency, data resiliency, etc.. . Is this correct? Does Kubeedge offer any mechanisms to support applications to persist data across edge and cloud and protect against data loss?

For example, let's say I want to use

[2021-10-28 06:48] Msunshineboy opened #3251 "consume pod addition backoff: Back-off consume pod [traefik-ingress-controller-s86v9] addition error, backoff: [5m0s]"
when I perform edgecore --config edgecore.yaml，I have this error.
my kubernetes version is 1.17
kubeege version is 1.8.1

[2021-10-29 05:44] ttlv opened #3254 "Enhance Router Module and ServiceBus"
**What would you like to be added/modified**:
I want to enhance Router module which in CloudCore.I want to send message between ServiceBus and Rest just like we can send message between Rest to EventBus.So.it means the ServiceBus will upgrade to a  HTTP Server in the EdgeCore。What's more the ServiceBus provider in Router which belongs to CloucCore should implement Source interface
**Why is this ne

[2021-10-31 11:19] #2855 closed

[2021-11-01 02:35] zhu733756 opened #3259 "Proposal: enhance containerized deployment for Cloudcore"
**What would you like to be added/modified**:
Integrate the iptables manager component outside with a daemonset workload for better containerized deployment.

**Why is this needed**:

Since v1.8.0+, we have integrated the ability of iptables forward to cloudstream for getting edge side monitoring and container logs.  However,  when the cloudside is deployed by docker, it will not work.

Seems that

[2021-11-01 22:17] #2862 closed

[2021-11-02 07:51] zhu733756 commented on #3259
The description that "Seems that the iptables rules were generated in the Cloudcore container, not on the host:" is incorrect. I have not set the hostNetwork configuration.

And in this way, the container shares the host network. No need to forward to the node port.

See below:
[code]
Needs to open the switch of the edgemesh.

Hope this can help those who cannot query metrics. :)

[2021-11-02 09:57] hehuaidong commented on #2845
I have the same issue,i guess you did step 3 wrongly(Modify /etc/nsswitch.conf  && echo "net.ipv4.ip_forward = 1" >> /etc/sysctl.conf), you should do that on cloudNode, the guide is not clear

[2021-11-02 16:54] TianTianBigWang opened #3264 "Propose new device interface: Device Management Interface"
**What would you like to be added/modified**:
device management interface
**Why is this needed**:
## Motivation

- The current device management has poor scalability and cannot meet the usage scenarios well. When users use some edge computing frameworks, such as `EdgeX`, we cannot support these device frameworks well.
- There are many equipment communication protocols, models, and transmission for

[2021-11-04 02:33] TKTKTKK opened #3266 "run kubectl logs -> Debug endpoints are disabled"
**What happened:**

I run kubectl logs modbus-mapper-7cd79df694-jbzsn on the masterNode
show me : Debug endpoints are disabled.

**In the cloudcore.log :**
_I1103 10:58:14.293931    8909 session.go:125] Add a new apiserver connection APIServer_LogsConnection MessageID 4 in to Tunnel session [edge242]
I1103 10:58:14.295000    8909 containerlog_connection.go:92] APIServer_LogsConnection MessageID 4

[2021-11-04 03:44] gy95 commented on #2096
/assign

[2021-11-04 04:16] Icedroid commented on #2906
@llhuii 所有几十个节点的edgecore都出现了timeout to get response，edgecore的报错如下：
`
E1104 12:11:24.487090   18557 edged_status.go:400] register node failed, error: timeout to get response
E1104 12:11:24.487162   18557 edged_status.go:430] Register node failed: timeout to get response
`

cloudcore的报错如下：

`
I1104 04:15:24.007593 1 upstream.go:379] node: ecx-fj-quanzhou-1-axe-agent-01 already exists, do nothing
E11

[2021-11-05 02:13] helloeverone commented on #2068
hey,I encountered the same problem as you, did you solve it, I don’t know how to solve it.

[2021-11-05 03:38] TKTKTKK commented on #3266
"Debug endpoints are disabled"    in  https://github.com/kubeedge/kubeedge/blob/release-1.8/vendor/k8s.io/kubernetes/pkg/kubelet/server/server.go   InstallDebuggingDisabledHandlers.
Why does the program execute here ？Need teacher's help！！！ Or some possible reasons. Thanks very much.

[2021-11-05 09:15] allenleu opened #3273 "Problem creating Cloudcore"
During the deployment of version 1.8, I used ha-deployme.yaml to create deployment, and the number of deployments READY was 0. I noticed that there was a label in the ha-deployme.yaml.example file, readinessGates:

- conditionType: "kubeedge.io/CloudCoreIsLeader"

When I delete it and create deployment again, the number of READY is normal. Should I keep this label in the YAML file? What does it do

[2021-11-05 19:16] #2887 closed

[2021-11-05 19:17] #2886 closed

[2021-11-05 19:17] #1995 closed

[2021-11-05 19:17] #1432 closed

[2021-11-05 19:17] #1236 closed

[2021-11-05 19:17] #2273 closed

[2021-11-05 19:17] #2358 closed

[2021-11-05 19:17] #2262 closed

[2021-11-05 19:17] #2117 closed

[2021-11-05 19:17] #2127 closed

[2021-11-05 19:17] #2558 closed

[2021-11-05 19:17] #1642 closed

[2021-11-06 08:57] slomo28 opened #3274 "Cluster expansion and POD migration across nodes in offline state"
**What happened and what you expected to happen**:
So far, is it possible to automatically expand or shrink the cluster and migrate pod across nodes when the edge side is offline?Or is there anything else to ensure high availability offline?
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl ve

[2021-11-06 17:49] #2442 closed

[2021-11-09 02:19] king-jingxiang opened #3281 "`kubectl logs` i/o timeout"
**What happened**:
`iptables -t nat -A OUTPUT -p tcp --dport 10353 -j DNAT --to CLOUDCOREIP:30003`
kubectl logs timeout
[code]
cloudcore errors logs
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- KubeEdge version(e.g. `cloudcore -

[2021-11-09 03:19] baoquach14 commented on #3182
Hi KubeEdge team

My name is Bao Quach, I am lead tech developer working for Government department in Sydney.
I am new to Kubernetes and KubeEdge technologies.
currently doing POC of  installing and running Kubernetes and KubeEdge (CloudCore) on Ubuntu Virtual Servers and KubeEdge (EdgeCore) on Edge devices (100 to 4000 devices).
I am having a lot of problem getting Kubernetes and KubeEdge working

[2021-11-09 03:31] Rachel-Shao commented on #3266
I don’t know this too well, but from your log, it seems that an error was reported when `logConnection.Serve()` was executed after the `logConnection` was created, and the subsequent logs are also performing normal cleanup work, so I think it is problem with edgenode? Does edgecore have more logs?
https://github.com/kubeedge/kubeedge/blob/0aad4c932d91f78974f7005544108c1e5307058a/cloud/pkg/cloudstr

[2021-11-09 03:33] TKTKTKK commented on #3266
@Rachel-Shao 'edgedlogconnection.go:122] receive stop single, so stop logs scan ...'   That's all

[2021-11-09 03:42] TKTKTKK commented on #3266
@Rachel-Shao Command line  shows 'Debug endpoints are disabled' It's  in https://github.com/kubeedge/kubeedge/blob/release-1.8/vendor/k8s.io/kubernetes/pkg/kubelet/server/server.go InstallDebuggingDisabledHandlers.   It may be caused by  kubeCfg? I didn't see the relevant configuration requirements in the official documents
![image](https://user-images.githubusercontent.com/38220403/140857976-cc38

[2021-11-09 04:48] zc2638 commented on #3182
Hello Bao,
For `Cloudcore` exceptions, it may be caused by the inaccessibility of `Kubernetes ApiServer`.

For `Edgecore` exceptions, it is because the configuration file is not found.
It is recommended to use keadm to deploy, Refer: https://kubeedge-docs.readthedocs.io/en/latest/setup/kubeedge_install_keadm.html#setup-edge-side-kubeedge-worker-node

Please take a look, is it helpful to you?

[2021-11-09 06:33] lynxcat opened #3283 "The pod cannot be completed. The status is always being ContainerCreating"
**What happened**:
The pod cannot be completed. The status is always being ContainerCreating

[code]

**Environment**:
- Kubernetes version (use `kubectl version`): v1.21.5
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):v1.7.2
- <details><summary>Cloud nodes Environment:</summary>

  - Hardware configuration (e.g. `lscpu`):x86_64
  - OS (e.g. `cat /etc/os-release`):centos-

[2021-11-09 07:10] QeelinDarly commented on #3273
Maybe you should remove your labels, try again.

[2021-11-09 07:15] QeelinDarly commented on #3283
You can try to pull image in docker before you apply your pod.

[2021-11-09 08:01] allenleu commented on #3273
Yes, I removed the label and Cloudcore is working fine. I just don't know if this label is left over from the historical version. I see that there is no code for this label in version 1.7 or later. And, when I remove this label, is my deployed environment highly available?

[2021-11-09 08:34] baoquach14 commented on #3182
Hi Support team

Thank you for reply

I able to Edgcore working on Edge devices.

Please advise how to fix the following issue on Master Node
./cloudcore
I1109 11:25:00.130755 426539 server.go:73] Version: v1.8.2
**panic: failed to create system namespace
For Cloudcore exceptions, it may be caused by the inaccessibility of Kubernetes ApiServer.**

**$kubectl get nodes
error: error loading config f

[2021-11-09 08:42] zc2638 commented on #3182
Hi @baoquach14,
You can check whether there is this file in `/etc/kubernetes/admin.conf`.
If the file exists, copy the file to `~/.kube/config`.
(e.g. `cp -i /etc/kubernetes/admin.conf ~/.kube/config`)

[2021-11-09 10:04] baoquach14 commented on #3182
Hi Zc2638

The /etc/kubernetes/admin.conf exist
I run command $cp -i /etc/kubernetes/admin.conf ~/.kube/config
so works. Please the output below

root@masternode:~# ls -al /etc/kubernetes/admin.conf
-rwxrwxrwx 1 root root 5634 Nov  8 19:21 /etc/kubernetes/admin.conf
root@masternode:~# ls -al ~/.kube/config
total 16
drwxrwxrwx 2 root     root     4096 Nov  8 21:21 .
drwxrwxrwx 3 root     root     4

[2021-11-09 10:38] lynxcat commented on #3283
Thank you very much. The problem is solved. It is caused by permissions

[2021-11-09 10:38] #3283 closed

[2021-11-09 10:59] baoquach14 commented on #3182
Hi zc2638

$kubectl version   now works   . Thank you very much

Now I am able to move to next step on Master Node

./keadm init --kubeedge-version=1.8.2  --kube-config=/root/.kube/config
I get an error of Failed to get the version of K8s master. Please see exception below.
Can you please advsie what I need to do. Thank you very much for your help.

F1109 21:56:58.770140  669221 keadm.go:27] Faile

[2021-11-09 11:43] zc2638 commented on #3182
Could you show the contents of the `/root/.kube/config` file

[2021-11-09 12:11] Rachel-Shao commented on #3266
possible, `kubeCfg` is generated in the code. `EnableDebuggingHandlers` is true by default. In order to determine whether it is a problem with `kubeCfg` or `EnableDebuggingHandlers`, you can specify `--enable-debugging-handlers = true` when running kubelet (modify `/usr/lib/systemd/system/kubelet.service`) , if it is still an old problem, that's the problem of kubeCfg ╮(╯▽╰)╭

[2021-11-09 12:14] baoquach14 commented on #3182
Hi zc2638

Attached is my config.zip which contain config. Please unzip config.zip file

[config.zip](https://github.com/kubeedge/kubeedge/files/7504563/config.zip)

Regards, Bao

[2021-11-09 12:21] zc2638 commented on #3182
Please check k8s is running.
e.g. `kubectl get nodes`
e.g. `kubectl -n kube-system get pods`

[2021-11-09 12:29] zc2638 commented on #3182
It seems that the kubernetes cluster is not installed normally, you can check the official kubernetes documentation and reinstall.
@baoquach14

[2021-11-09 12:33] baoquach14 commented on #3182
I follow the steps from https://adamtheautomator.com/install-kubernetes-ubuntu to install Kubernetes.
I will check again.
Thank you for your help

[2021-11-09 12:47] Rachel-Shao commented on #3273
This is the description of `readinessGates`:  https://zhuanlan.zhihu.com/p/158664888
And there is also a description of the meaning of `conditionType: "kubeedge.io/CloudCoreIsLeader"` in `kubeedge/docs/proposals/cloudcore-ha-design.md`, which mentions: "_It means traffic is not forward to the back cloudcore until we Patch the status of "kubeedge.io/CloudCoreIsLeader" from "False" to "True" after t

[2021-11-09 17:47] #2899 closed

[2021-11-10 01:27] TKTKTKK commented on #3266
@Rachel-Shao  still an old problem , `--enable-debugging-handlers` is true by default. But I don't understand why my cloudcore can't get it. I installed `k8s` using `kubeadm`  , removed `kube-proxy` and `kube-flannel`. No other configuration changes

[2021-11-10 02:46] Rachel-Shao commented on #3266
@TKTKTKK   I tried it on my virtual machine, and  is available. emmmm
You can try again to make sure:
- relevant files on masternode exist: `streamCA.crt under /etc/kubeedge/ca` and `stream.crt stream.csr stream.key under /etc/kubeedge/certs`, it is recommended to use `kubeedge/build/tools/certgen.sh stream` to regenerate once again.
- enable cloudStream and edgeStream in `cloudcore.yaml` and `edg

[2021-11-10 02:53] TKTKTKK commented on #3266
@Rachel-Shao I have configured the above operations according to the official documents. Also rebuild the virtual machine，but the same problem.Which version do you use,I saw  this line of code `if kubeCfg != nil && kubeCfg.EnableDebuggingHandlers` was changed on August 13.

[2021-11-10 02:58] Rachel-Shao commented on #3266
Kubernetes version (use kubectl version): v1.17.2
KubeEdge version(e.g. cloudcore --version and edgecore --version): KubeEdge v1.8.1

[2021-11-10 03:02] TKTKTKK commented on #3266
@Rachel-Shao I will change from 1.8.0 to 1.8.1 and try again. But I didn't see any associated changes in the changelog

[2021-11-10 03:07] Rachel-Shao commented on #3266
strange, have you tried logging other pods? how

[2021-11-10 03:10] TKTKTKK commented on #3266
@Rachel-Shao  Tried  counter demo and modbus-mapper

[2021-11-10 04:01] TKTKTKK commented on #3266
@Rachel-Shao amazing!!!   KubeEdge 1.8.1. It's working properly.But I still want to know why that happened in the previous version 1.8.0.

[2021-11-10 05:46] Rachel-Shao commented on #3266
@TKTKTKK   I seem to have found the problem. There are 1.8.1 changes in `kubeedge/CHANGELOG/CHANGELOG-1.8.md`. One of them is to specify the value of `EnableDebuggingHandlers` #3134 , so everything is explained?

[2021-11-10 05:54] TKTKTKK commented on #3266
@Rachel-Shao That's probably why. But it's strange that 1.8.0 can't be used. No one has tried it on 1.8.0?

[2021-11-10 06:02] Rachel-Shao commented on #3266
Yes, you are the lucky one :)

[2021-11-10 06:05] TKTKTKK commented on #3266
Thank you for your reply ^_^.

[2021-11-10 06:12] QeelinDarly commented on #3281
Do you have open your cloudStream and edgeStream before your operation?

[2021-11-11 08:20] allenleu commented on #3273
Thank you for your reply. I've already seen this article, I have a question, the value of conditionType (kubeedge. IO/CloudCoreIsLeader) is defined in where? I can't find it in the 1.8 version of the code.

[2021-11-11 08:21] allenleu commented on #3273
Thank you for your reply. I've already seen this article, I have a question, the value of conditionType (kubeedge. IO/CloudCoreIsLeader) is defined in where? I can't find it in the 1.8 version of the code.

[2021-11-11 08:22] allenleu commented on #3273
Thank you for your reply. I've already seen this article, I have a question, the value of conditionType (kubeedge. IO/CloudCoreIsLeader) is defined in where? I can't find it in the 1.8 version of the code.

[2021-11-11 11:29] Rachel-Shao commented on #3273
The current code does not seem to update the value of `CloudCoreIsLeader`, but I found a pr in the past #1650, which contains content to modify the value of `CloudCoreIsLeader`.
This part of code has been deleted. This may be related to the future plan of cloudcore HA?  You may need to ask @fisherxu

[2021-11-11 11:43] aagu commented on #3019
@ZBoIsHere hello, is here any progress of this issue?

[2021-11-12 06:22] allenleu commented on #3273
OK，thanks. @fisherxu Can you help me out with this question？

[2021-11-12 09:23] king-jingxiang commented on #3281
the cloudStream and edgeStream is opened.

[code]

[code]

[2021-11-13 06:45] OJumpyo opened #3295 "how to configure prometheus to monitor edgenode in kubeedge via https?"
**What happened and what you expected to happen**:
#### what happened:
      1.  I have deployed a kubernetes group with 1 master node, 2 woker node and 2 edge node, by deploying kube-prometheus i have got the data from prometheus and viewed it on the Grafana. However, the metrics data on edge node I have not seen yet.
      2. I have configured the **kubectl logs** and **Collect metrics from edge

[2021-11-13 07:02] OJumpyo commented on #3295
by the way, I have also tried to deploy the kube-flannel in edge node after changing edgecore.yaml's config using cni, but only to get error that the kube-flannel pod logs as belows.
[code]

[2021-11-13 10:18] baoquach14 commented on #3182
Hi Zc2638
If run command $kubectl -n kube-system get pods its shows output of
NAME                                 READY   STATUS    RESTARTS      AGE
coredns-78fcd69978-gkc7w             0/1     Pending   0             25h
coredns-78fcd69978-vt2ch             0/1     Pending   0             25h
etcd-baomaster3                      1/1     Running   1 (41m ago)   25h
kube-apiserver-baomaster3

[2021-11-14 05:41] #2903 closed

[2021-11-14 05:41] #2902 closed

[2021-11-14 11:09] #2908 closed

[2021-11-14 11:09] #2669 closed

[2021-11-15 03:33] gege-pro commented on #2761
Have you solved this problem? I have the same problem as you

[2021-11-15 03:33] gege-pro commented on #2761
Have you solved this problem? I have the same problem as you

[2021-11-15 05:51] zc2638 commented on #3182
Hi Bao,

Please see #3240 .
It should be the same problem. Can it be solved.

[2021-11-15 06:06] baoquach14 commented on #3182
Hi Zc2638

Since KubeEdge Version 1.8.2 amd64 does NOT work Ubuntu version 20.0x.
Can you please let me know what KubeEdge version, amd64 will work Ubuntu version 20.0x ?
Should I try with keadm-v1.6.2-linux-amd64.tar.gz from https://github.com/kubeedge/kubeedge/releases

Thank you for your help

Regards, Bao

[2021-11-15 11:29] ustiugov commented on #439
Dear maintainers, what are the plans regarding Knative support?

[2021-11-15 12:28] baoquach14 commented on #3182
Hi Zc2638

Since KubeEdge Version 1.6.2 and 1.8.2 amd64 does NOT work with kubernetes-version=1.22.2  Ubuntu version 20.0x. It gives an error of the server could not find the requested resource.

Can please you advise how we can work around the problem. I am kind of block at this stage.

Thank you for your help

Regards, Bao

[2021-11-15 12:40] zc2638 commented on #3182
Some errors were not fixed in version v1.8.2, and kubernetes version v1.20+ is not supported in version v1.6.x.
Can you try using kubernetes 1.20 and below?

[2021-11-16 02:11] liyinxin opened #3298 "dial websocket error(x509: cannot validate certificate for 192.168.204.138 because it doesn't contain any IP SANs)"
**What happened**:
dial websocket error(x509: cannot validate certificate for 192.168.204.138 because it doesn't contain any IP SANs)
**What you expected to happen**:
My edgecore can connect to the cloudcore
**How to reproduce it (as minimally and precisely as possible)**:
Just cloudcore use keadm init, then edgecore join. The edgecore.service must dead,  I generate the CA CERT files with the cert

[2021-11-16 02:53] gy95 commented on #3298
no need to generate CAs by yourself, you only need to execute this below command in shell
[code]

ref: https://kubeedge.io/en/docs/setup/keadm/

[2021-11-16 02:58] liyinxin commented on #3298
@gy95 yes, I did these:
[code]
But the edgecore.service must dead, So I generate the CA and CERT the edgecore becoming running.

[2021-11-16 07:16] stingshen commented on #3108
The issue should mitigate after this commit: https://github.com/kubeedge/kubeedge/commit/bd19593fee28bc4d5cc788cc656c0b59c1a39574#diff-435879603c8c2c6b20c971bd976216fe2e635ca24de924ef494f888a910b4b64

Root cause: before the commit, node location cache would be updated only after the node ready condition shows up. But some times, k8s scheduler assigns the pod to node right before the node ready con

[2021-11-16 07:59] keyword1983 opened #3299 "Can change Expected value by mqtt topic updated?"
**What happened and what you expected to happen**:
I want change desired value in cr by  mqtt topic updated.

so i send msg to $hw/events/device/counter/twin/update

func createExpectedUpdateMessage(expectedValue string) DeviceTwinUpdate {
        var deviceTwinUpdateMessage DeviceTwinUpdate
        expectedMap := map[string]*MsgTwin{"status": {Expected: &TwinValue{Value: &expectedValue }, Metadat

[2021-11-16 10:11] zhu733756 opened #3300 "Plan for containerized deployment for cloudcore on k8s platform."
Plans:
- [x] Support helm repo for KubeEdge cloudcore. https://github.com/kubeedge/kubeedge/pull/3304
- [ ] Helm CI test.  #3418
- [ ] Custom keadm build for the edgecore. https://github.com/kubeedge/kubeedge/pull/3320
- [x] External iptables-manager component integration, considers a complete externality later and needs to optimize the code.  https://github.com/kubeedge/kubeedge/pull/3265

[2021-11-16 10:12] zhu733756 commented on #3300
/assign @zhu733756

[2021-11-16 11:28] Rachel-Shao commented on #3298
There have been many replies to this type of issue, such as #2762 #2905. You can search and try the solutions they mentioned:)

[2021-11-17 09:21] baoquach14 commented on #3182
Hi zc2638

Can you please let me know I can install kubernetes version 1.20
I run this command of "sudo apt-get install -y kubeadm kubelet kubectl" which install the the latest version of Kubernetes.

Thank you for your help

Regards, Bao

[2021-11-17 09:27] zc2638 commented on #3182
You can try with `apt-get install -y kubelet=1.20.0-00`
@baoquach14

[2021-11-17 10:14] fisherxu commented on #439
Now we have still not tested the knative runnig on kubeedge, but IMO, knative is run in the k8s control plane and talk to k8s api, then send pod to node, so I think it can work on kubeedge. @ustiugov

[2021-11-17 10:22] ustiugov commented on #439
@fisherxu thanks for the prompt response! we are going to give it a shot this/next week and report back