[2019-12-09 05:56] VipinKrizz commented on #1308
@subpathdev
I have installed normal gcc and it is the latest version only. But the error that i'm getting says something like

 #runtime/cgo
 exec: "arm-linux-gnueabi-gcc" : executable file not found in $PATH

this error am getting try to build binary using keadm.go (go build -o keadm keadm.go). This command is one which used to build the binary before and i suucessfully made the binary. But to us

[2019-12-09 06:01] VipinKrizz commented on #1308
@subpathdev
![gitissue](https://user-images.githubusercontent.com/58075083/70411143-6cfa6100-1a77-11ea-9b18-8503752bee6b.png)

[2019-12-09 06:18] dwSun opened #1311 "kubeedge 1.2 release schedule"
According to your meeting record of Oct 16th, 2019, Kube Edge v1.2 should be released Dec 6th.

 Is there any unreleased schedule changes?

[2019-12-09 07:28] VipinKrizz commented on #1308
@sids-b @subpathdev
Sir i have a doubt, to install kubeedge on raspberrypi where should i follow the steps given in the below link, on RaspberryPi 3b(running Ubuntu Mate) or on my laptop(running Ubuntu 18.04LTS).
https://docs.kubeedge.io/en/latest/setup/cross-compilation.html
i tried this link on raspberrypi, but nothing new has happened.
But if i need to try this on laptop, Aftr following the abo

[2019-12-09 11:17] VipinKrizz commented on #1308
@sids-b @subpathdev
Can you suggest me a solution for this error??

[2019-12-09 11:50] VipinKrizz commented on #1068
Anybody is still facing this problem?
Because i am also facing this error, While builing the binary of keadm.go in RaspberryPi i get this error message saying
 **#runtime/cgo
exec: "arm-linux-gnueabi-gcc" : executable file not found in $PATH
make: *** [Makefile:6: edgecore] Error 2**
I'm stuck here at this point while installing kubeedge on both laptop(Ubuntu 18.04LTS) and on RaspberryPi 3b(both U

[2019-12-09 13:42] kevin-wangzefeng commented on #1292
Hi @hjwoohakimwhj, we have a mapper (protocal adaptor) layer to make protocals plugable: users can implement their own mapper to convert any protocal to MQTT or http, which is easier for edge application development.

[2019-12-09 16:26] sids-b commented on #1068
@VipinKrizz , you need to install gcc on your node. It is a pre requisite for running sqlite

[2019-12-10 05:59] #1310 closed

[2019-12-10 06:52] VipinKrizz commented on #1068
@sids-b
Is sqlite required for installing kubeedge ?
And i have already installed gcc installed on my laptop as well as my Raspberrypi.
In raspberry pi i have also installed **gcc-arm-linux-gnueabi**
Still facing the issue.

[2019-12-10 13:49] kevin-wangzefeng commented on #1079
/milestone v1.2

[2019-12-10 14:23] kevin-wangzefeng commented on #1311
Hi @dwSun, we are still working on release development, the latest release update will be discussed on the community meeting tomorrow.

[2019-12-11 09:22] tengzhexiao commented on #1287
I have the same problem,does you settle it?

[2019-12-11 09:50] dwSun commented on #1311
I saw your meeting record at https://docs.google.com/document/d/1Sr5QS_Z04uPfRbA7PrXr3aPwCRpx7EtsyHq7mp6CnHs/edit#

So these features below will not be supported in v1.2?
- Support K8s exec&logs API for edge application
- Support ingress at edge.
- Support managing clusters at edge from cloud (aka. EdgeSite)

[2019-12-11 10:54] robertodellapenna opened #1313 "edgemesh DNS query for services not found in cluster"
I've created a pod deployment for using edgemesh according to https://docs.kubeedge.io/en/latest/guides/edgemesh_test_env_guide.html#example-for-edgemesh-test-env , and it is able to reach a service defined in the cluster:

**### my-container:**
ping my-service.default.svc.cluster

**### edgecore:**
I1211 11:38:44.195708   13223 dns.go:278] Service my-service.default.svc.cluster is found in this c

[2019-12-12 15:25] robertodellapenna commented on #1313
Update:

I've updated to the last version available in master, and now it works for services outside cluster (google) but not anymore for services inside cluster.

### my-container:
ping my-service.default.svc.cluster

### edgecore:
W1212 16:24:17.125282    7796 proxy.go:224] [L4 Proxy] Serivce default.my-service is not ready for Proxy.
I1212 16:24:17.125308    7796 dns.go:273] Service my-service.

[2019-12-13 08:04] robertodellapenna commented on #1313
I've solved.
The problem was the service.spec.ports name , I used "mqtt" but it not allowed.

[2019-12-13 08:04] #1313 closed

[2019-12-13 09:19] markwangC opened #1316 "When try to deploy the modbus mapper, the modbus container failed"
When try to deploy the modbus mapper, the container failed with below info.

root@edge-node:~/cmd# docker logs -f 4b6
CONNECTOR_DPL_NAME=dpl/deviceProfile.json
CONNECTOR_MQTT_IP=127.0.0.1
CONNECTOR_MQTT_PORT=1883
[2019-12-13T00:51:55.096] [INFO] appenders - start to watch dpl config
[2019-12-13T00:51:55.104] [INFO] appenders - start to check devicetwin state
[2019-12-13T00:51:55.169] [INFO] append

[2019-12-13 09:25] tengzhexiao commented on #1309
Why I passed some deployment test but the pod not find in k8s cluster? where dose the pods deployed?
![image](https://user-images.githubusercontent.com/23517745/70789219-8e3bb400-1dcd-11ea-8b3e-750daf22a805.png)

[2019-12-13 14:12] cwl233 opened #1317 "can not get the response of a http request which is not a service in k8s when using edgemesh"
**What happened**:
I am trying to use the edgemesh, following https://docs.kubeedge.io/en/latest/guides/edgemesh_test_env_guide.html .  I have run this
`root@aa5b59cf13be:/usr/local/bin# curl http://edgemesh-example-service.default.svc.cluster:8080`
and got the response sucessfully, like this
`HOSTNAME:server-68f66dd484-mjw9l IP:172.17.0.2`

But when I trying to curl baidu.com, I can not receive t

[2019-12-16 02:52] tengzhexiao opened #1318 "The edge_integration_test random failed..."
In the LAN ，but the integration_test failed by random.
**Which jobs are failing**:
sometime's failed in frist step,some times failed in ohter TC_TEST_APP_DEPLOYMENT_X
**Which test(s) are failing**:
random deployment step.
**Since when has it been failing**:
Since | create the test cluster.
**Reason for failure**:

**Anything else we need to know**:

below is the log:

[testcase.log](https://github

[2019-12-16 07:10] VipinKrizz commented on #1308
@sids-b I'm still nit getting any solution for my issue

[2019-12-16 10:08] #1303 closed

[2019-12-16 14:27] GsssC commented on #30
This issue should be closed @sids-b

[2019-12-17 03:28] fisherxu commented on #1318
I think you'd better add your go version/kubeedge version

[2019-12-17 08:13] ccccbjcn opened #1319 "Architecture diagram “edge part” is "edge core""
**What would you like to be added/modified**:
Architecture diagram “edge part”  is "edge core"
https://github.com/kubeedge/kubeedge/blob/master/docs/images/kubeedge_arch.png
**Why is this needed**:
"edge core" is proper for KubeEdge.

[2019-12-17 08:17] kevin-wangzefeng commented on #1311
No, these features are delayed.

[2019-12-17 08:57] fisherxu commented on #1319
Thanks for pointing out, will fix it soon :)

[2019-12-17 10:15] robertodellapenna opened #1320 "Cannot send packets on loopback address when using edgemesh initContainer"
Hi,
I'm trying to use mqtt client on my docker container (python:3.5-buster) deployed with initContainer as defined in https://docs.kubeedge.io/en/latest/guides/edgemesh_test_env_guide.html , but I cannot initialize the mqtt.Client because in the init method it creates two socket on 127.0.0.1 and gets blocking when the first one try to connect to the second one.
I've seen that in the initContainer

[2019-12-17 11:09] robertodellapenna commented on #1320
I confirm that deleting that lines it works and I am able to send packets on loopback socket and finally initialize mqtt.Client.

[2019-12-17 11:43] FengyunPan2 opened #1322 "The cadvisor need to improve and perfect"
**What would you like to be added/modified**:

**Why is this needed**:
Currently the cadvisor of edged is empty(can't work).
The cadvisor is useful for runtime manager and imageGC manager.

[2019-12-18 01:36] tengzhexiao commented on #1318
My go version is go1.12.5 linux/amd64, kubeedge version is v1.1.0-release

[2019-12-18 02:58] du2016 opened #1326 "constants in project should uniform definition"
I think the following object needs to be modified,move them into /common/constants:

- [ ] module
- [ ] group
- [ ] resource
- [ ] operations
- [ ] k8s resource or other reference object (should reference from client-go,such as namespace、PV、PVC)

[2019-12-18 03:07] du2016 commented on #1326
i think we should discuss some details:

1. one file or file name by kind
2. whether we should move default value define in /common/constants,or uniform define in module constants

@fisherxu @kadisi

[2019-12-18 03:13] kadisi commented on #1326
good idea,  @du2016 , I am working on the feature of kubeedge component config #1172  #1212 , and it will also involve the problem of constant definition. Welcome to discuss it together.

[2019-12-18 03:34] du2016 commented on #1326
that's  great, we can define default values by component config, when the proposal approved,i can work on this if needed .

[2019-12-18 03:34] #1326 closed

[2019-12-18 09:56] xixi-A commented on #1317
Hello,how you delployment the server.yaml? When I deploy it ,one of the  two server pod status is pending,do you have seen this question?

[2019-12-18 15:06] robertodellapenna opened #1329 "Add special characters in pattern used for validate device twin value"
**What would you like to be added/modified**:
I would like to add some special characters in pattern used for validate Device Twin Value, in particular I'm referring to https://github.com/kubeedge/kubeedge/blob/d0bb505e42f765adad80ef2e4e22d407a9719583/edge/pkg/devicetwin/dtcommon/util.go#L55-L59
The current pattern used is **"^[a-zA-Z0-9-_.,:/@#]{1,128}$"**, I would like to add also:
- Braces: **{

[2019-12-19 01:50] FengyunPan2 commented on #1318
Sometimes broken at TC_TEST_APP_DEPLOYMENT_4, Sometimes broken at TC_TEST_APP_DEPLOYMENT_5...

$ go version
go version go1.12.14 linux/amd64
master kubeedge.
----
Dec 18 11:03:18.273: INFO: TestCase:TC_TEST_APP_DEPLOYMENT_5: Test application deployment delete from edgecore     Status=FAILED

• Failure [246.004 seconds]
Application deployment in edgecore Testing
/home/panfy/golang_workspace/src/git

[2019-12-19 01:52] FengyunPan2 commented on #1318
https://github.com/kubeedge/kubeedge/issues/1309

[2019-12-19 02:22] markwangC opened #1330 "Only the last schedule called when have multiple schedules in the bluetooth_mapper"
**What happened**:

Only the last schedule would be called when using the bluetooth_mapper, if there were multiple schedules defined in the conf.yaml.
It is a code bug in the start function in controller pacakge. When using the goroutines on the loop iterator, the goroutines(schedule.ExecuteSchedule()) will only start until after the loop.

func (c *Config) Start() {
	c.initTopicMap()
	helper.Mqtt

[2019-12-19 07:26] tengzhexiao commented on #1318
in the examples:
https://docs.kubeedge.io/en/latest/setup/setup.html#deploy-application-on-cloud-side :

kubectl apply -f $GOPATH/src/github.com/kubeedge/kubeedge/build/deployment.yaml

I don't understand that how could make sure the pod in edge-node ?
In cloudside the kubectl apply is just effect on kubeedge ?
The device is the same, I create a device by testManager into kubeedge-cluster, its sho

[2019-12-19 08:11] borlandor opened #1332 "Does KubeEdge now support custom message routing features like IEF?"
Does KubeEdge support custom message routing features like IEF?
**What would you like to be added/modified**:
Custom message routing features similar to those in IEF should be added. The device data is sent to the custom topic of the edge node MQTT Broker. KubeEdge will forward these data to the cloud through the DIS channel. The cloud can extract these data and process and analyze the data.
**Why

[2019-12-19 14:33] bitvijays commented on #636
@sjw1230 Were you able to solve this issue?

[2019-12-19 16:20] huangdongkui commented on #1304
hi how do you solution the error :Error: not able add the apt key due to error : exit status 2

[2019-12-19 16:24] huangdongkui opened #1333 "not able add the apt key due to error"
root@hdk:~/go/src/github.com/kubeedge/kubeedge/keadm# ./keadm init --kubernetes-version=1.15.2 --kubeedge-version=1.1.0 --image-repository=registry.aliyuncs.com/google_containers
Same version of docker already installed in this host
Ubuntu distribution version is bionic
Deb suite to use: kubernetes-xenial
Hit:1 http://cn.archive.ubuntu.com/ubuntu bionic InRelease
Hit:2 http://cn.archive.ubuntu.com

[2019-12-20 03:37] acteq opened #1334 "too complex"
**What would you like to be added/modified**:
    simplify  the concepts, the architecture, the installation ,etc
**Why is this needed**:
   By [the document](https://docs.kubeedge.io),  instead of a cluster,  the edge part is basically a kubernetes work node.  But how to ensure the running of pods always?  nothing.  We still need a kubernetes cluster to ensure that,  so-called EdgeSite.
   So, wh

[2019-12-23 03:12] umbraclet16 opened #1338 "About port mapping"
According to #623 ,

which means deploying multiple pods with one image or different images using same ports on the same node is not feasible.

Port mapping is a common requirement when using container. I don't think creating a new image and changing the port is an efficient and proper solution.

I've tried to create a service to solve this but failed. Don't know if it's because KubeEdge doesn't s

[2019-12-23 04:43] cwl233 commented on #1317
@xixi-A
apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
  labels:
    app: whatapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: whatapp
  template:
    metadata:
      labels:
        app: whatapp
    spec:
      nodeSelector:
        name: edge-node-2
      containers:
      - name: whatapp
        image: docker.io/cloudnativelabs/whats-my-ip:latest
        ports:

[2019-12-23 06:35] xixi-A commented on #1317
@cwl233 thanks! I will try later，and I wonder your server.yaml and client.yaml deployed on the same edgenode or two different edgenode ? thank you!

[2019-12-23 06:43] novaxiaohui commented on #1295
I meet the same isuues and confused by  it for serveral days.

[2019-12-23 09:11] Hades32 opened #1340 "Docs should focus on users not devs"
When opening the docs and clicking on the very first "Getting started", you're being told to start by cloning the repo etc...

Although I think it's great to have good developer documentation, IMO the main focus of docs should be users.

So suggestion: move the developer part to the end.

[2019-12-23 09:20] Hades32 commented on #753
Is it possible to have it install its components into my already existing cluster?

[2019-12-23 11:04] cwl233 commented on #1317
@xixi-A two different edgenode.

[2019-12-23 13:56] #1319 closed

[2019-12-25 12:24] fisherxu commented on #1340
+1, good suggestion

[2019-12-25 12:31] fisherxu commented on #1334
+1, we need to improve the installation and the docs for the project.

We have two kinds of edgepart design, first is edge node, its control platform is on the cloud. The second one is edgesite, the control platform and node are all in edge side. They are two  different design.

The edge node contains the mini-kubelet, it used to manage the edge aplication schduled from cloud. And for itself it's

[2019-12-25 12:41] illusion202 opened #1345 "kubeedge v1.1.0版本边缘节点最多能够支持多少容器、设备，有相关的设计规格数据或者实际测试数据吗？"
**What would you like to be added/modified**:

**Why is this needed**:

[2019-12-25 14:03] GsssC commented on #1282
I met calico install error too.

As the code in edged.go, when edged retrieves the configmap, it just stores the configmap in a configMapStore, and a component called volumePluginMgr could use the Store but not.

[2019-12-25 14:37] GsssC commented on #1282
@fisherxu

[2019-12-25 17:00] xixi-A commented on #1317
@cwl233  Hello! I try to set the replicas from 2 to 1.Than my server and cilent pod is running.But when I  run curl http://edgemesh-example-service.default.svc.cluster:8000 ,there's error: curl: (6) Could not resolve host: edgemesh-example-service.default.svc.cluster. Besides,I try to run ctr -n k8s.io c ls , it print my container is none .And I wonder which docker image did you choose for test im

[2019-12-26 13:59] kuramal opened #1348 "To merge the default kube configuration for edgecontroller and devicecontroller"
**What would you like to be added/modified**:
To merge the default kube configuration for edgecontroller and devicecontroller
For now, the edgecontroller and devicecontroller have independent default kube config, Is it necessary to merge them?
**Why is this needed**:
edgecontroller and devicecontroller use the same kube config as default, get different configurations from the configuration file

[2019-12-26 14:02] kevin-wangzefeng commented on #1348
https://github.com/kubeedge/kubeedge/pull/1172 is the answer.

[2019-12-26 14:10] kuramal commented on #1348
ok, tks

[2019-12-26 14:10] #1348 closed

[2019-12-28 03:39] borlandor commented on #1332
Added as follows:
1. Through the kubeedge cloudhub-edgehub channel , message transmission between cloud-edge can take advantage of its platform attributes, such as link security and reliability.
2. Cloud-edge message have both uplink and downlink data, and may be real-time data streams (such as telemetry, remote control, or pictures).
3, It can support customized topic routing, and can customize m

[2019-12-30 09:05] wangmingjunabc opened #1351 "beehive"
**What would you like to be added/modified**:

**Why is this needed**:

[2019-12-30 09:20] bretagne-peiqi commented on #1287
Hello @fisherxu  I have same problem.

I would like to know: How edge core react with apiserver ? like kubelet watches apiserver or it does't react with apiserver.

From your architecture diagram, It seems edge core only react with cloud core. If so,  could you please explain how is the work flow when we creating a pod. (especially after schedule to a edge node by scheduler)

[2019-12-30 09:25] wangmingjunabc opened #1353 "why Cleanup function in moudle interface is not implemented in Cloudcore registration"
**What would you like to be added/modified**:
In kubeedge\cloud\cmd\cloudcore\app\server.go, the registerModules funciton do register cloudhub，edgecontroller and devicecontroller，but in these three funcitons， the structs passed to function core.Register are newCloudhub， newEdgeController and newDeviceController  all
of which do not implement Cleanup func of module interface in module.go。
**Why is

[2019-12-30 09:28] #1351 closed

[2019-12-30 09:29] bretagne-peiqi commented on #1287
in edgecore logs: bad anonName(xxxxxx-xxxxx-xxxx-xxx-xx) do nothing..

[2019-12-30 14:10] bitvijays opened #1356 "Installation of KubeEdge 1.1.0 is failing when installed with keadm"
Hello Everyone, Thank you for your awesome support. While installing KubeEdge 1.1.0 using keadm (Cloud component), the below error is encountered.

**What happened**:
cp: cannot stat '/etc/kubeedge/kubeedge/edge/edgecore': No such file or directory
Error: failed to run 'sh -c cd /etc/kubeedge/ && tar -C /etc/kubeedge/ -xvzf kubeedge-v1.1.0-linux-amd64.tar.gz && cp /etc/kubeedge/kubeedge/edge/edgec

[2019-12-30 14:12] fisherxu commented on #1345
@illusion202

The number of pods that kubeedge edge nodes can support is the same as kubelet, but it also depends on the resources of the edge nodes.

For the maximum number of devices connected to the edge node, we need further testing, and if interested, you can participate in our testing :)

[2019-12-30 14:33] fisherxu commented on #1353
@wangmingjunabc Now the Cleanup func has been deleted in module.go, please check in https://github.com/kubeedge/kubeedge/blob/master/staging/src/github.com/kubeedge/beehive/pkg/core/module.go#L17

[2019-12-30 14:34] fisherxu commented on #1353
cc @kadisi

[2019-12-30 23:36] bitvijays commented on #1186
@fisherxu Could you please re-open this issue?

Cloudcore.log

[code]
Edgecore.log

[code]

[2019-12-31 05:26] bretagne-peiqi commented on #1287
![cd9903c2696f341b5deb821c06c8e6b](https://user-images.githubusercontent.com/5621794/71611057-1c3adb80-2bd1-11ea-82da-80ed67dd21b8.png)

Here is logs for cloudcore bin..

[2019-12-31 07:26] rsdelhi91 opened #1359 "How can I deploy Istio on this?"
I believe integration with Istio is set in the roadmap for future release 2.0 onwards but given that I'd like to use this with Istio right now, can I get some feedback on how may I go about doing this?

It doesn't need to be production grade, just a PoC based implementation for a few microservices deployed on VMs acting as edge nodes would be ideal.

[2019-12-31 07:33] arcanique commented on #1338
As you described, we currently support two network pods in kubeedge. One is the host network, that is, the container shares a namespace with the host. Obviously, containers using the host network cannot have the same port number. Using hostNetworkSet by Setting spec.hostNetwork  as true . This field is false  by default.
The another is port mapping. In this way, the hostport of containers‘spec on

[2019-12-31 09:23] latelee opened #1360 "edgecore run failed on armv7l"
**What happened**:
I try to run edgecore on armv7l target board,but it failed. Some information is here:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
evertytime.

**Anything else we need to know?**:
when i run edgecore on ubuntu os, it is ok.

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`):
cross comiple from 1

[2019-12-31 09:26] latelee commented on #1356
I had the same problem, I setup kubeedge step by step by hand, not keadm. it is ok on ubuntu 16.04 64bit.

[2019-12-31 14:06] bitvijays commented on #1360
@latelee Did you compiled the edgecore on the arm machine? Also, did you changed the following line

[code]

in edge.yaml

Also, how have you installed the cloudcore? using keadm or compiled?

[2019-12-31 14:54] latelee commented on #1360
@bitvijays
I cross compile edgecore on ubuntu(x86) following https://docs.kubeedge.io/en/latest/setup/cross-compilation.html.I also change the edge.yaml.
futhermore, I install k8s(using kubeadm), cloudcore on one ubuntu(x86) os, and edgecore on another, I can get the right thing. just failed on armv7l.
I will try again, and update here if there‘s some good news.

[2020-01-02 04:15] fisherxu commented on #1353
Closed first, open again if there is still a problem :)
/close

[2020-01-02 04:15] #1353 closed

[2020-01-02 09:54] chenjie222 opened #1361 "cloudcore start failed"
[root@k8s-master cmd]# ./cloudcore
2020/01/02 17:53:58 RollingPolicy is empty, use default policy[size]
2020-01-02 17:53:58.602 +08:00 INFO go-archaius/archaius.go:53 Configuration files:
2020-01-02 17:53:58.602 +08:00 WARN config-manager/configurationmanager.go:140 empty configurtion from FileSource
2020-01-02 17:53:58.602 +08:00 INFO config-manager/configurationmanager.go:117 invoke dynamic hand

[2020-01-02 10:10] fisherxu commented on #1361
you need create the device CRD first :)

Please provide the version of the kubeedge cloudcore/edgecore, the version of k8s, thanks :)

[2020-01-02 10:17] luogangyi commented on #1287
I have digged into the warning "2019-11-27 16:53:45.583 +08:00 WARN context/context_channel.go:157 bad anonName(9cd88a66-73bb-4e70-ab17-bab1ac78c53a), do nothing"
It is becasue metamager.process.processUpdate call sendToCloud and sendToEdge both. And sendToEdge will close the anonymous(named by message parentID) which result in missing channel warning when  sendToCloud wants to write this channel

[2020-01-03 03:05] luogangyi commented on #523
kube-proxy is not required for edge node.
We can pass --skip-phases=addon/kube-proxy when we do kubeadmin init after K8S 1.16 or manually delete the daemonset kubectl -n kube-system delete ds kube-proxy.

Details in https://docs.cilium.io/en/v1.6/gettingstarted/kubeproxy-free/

[2020-01-03 14:01] cwl233 opened #1364 "Network unreachable in container"
**What happened**:

I deployed my deployment, but kubeedge ran my container first, then the kubeedge/pause:3.1 container.
So my container can not access the network.

This problem does not happen every time.
When it happens, the "docker ps" command show like this:
![image](https://user-images.githubusercontent.com/50825450/71726320-b7ea7700-2e71-11ea-8c84-5ddfb7dda122.png)

And in this case, I wou

[2020-01-04 22:59] changtimwu commented on #1356
I end up creating a symbolic link
[code]

and then hit by another environment problem which could be easily fixed by specifying options in `--ignore-preflight-errors`.

IMO `keadm` should be implemented as a shell script since it's just a `kubeadm` wrapper.

[2020-01-05 13:03] qinzhuoxing commented on #1295
My config file exits, but I still have the same question...how could I do???

[2020-01-06 02:37] kadisi commented on #1295
devicecontroller.kube.master  must set `“”`

[2020-01-06 03:08] qinzhuoxing commented on #1295
Thanks a lot, but now I have another question when I do ./cloudcore: read ca file  error open : no such file or directory, but the files does exits.

[2020-01-06 03:09] qinzhuoxing commented on #1295
Thanks a lot, but now I have another question when I do ./cloudcore: read ca file error open : no such file or directory, but the files does exit.

[2020-01-06 03:10] kadisi commented on #1295
@qinzhuoxing  please show your cloudcore config file , and detail error message.

[2020-01-06 03:22] qinzhuoxing commented on #1295
I have resolved my question! Some mistakes are in controller.yaml.

[2020-01-06 03:48] zhuanghang opened #1367 "Edge end pods communicate with each other"
How do applications communicate with each other at the edge, such as pod and database pod

[2020-01-06 06:12] sids-b commented on #1367
We can use services for pod to pod communication running on edge nodes. Current limitation is that pod to pod communication works only if nodes are in the same subnet.
Please see test guide for reference https://github.com/kubeedge/kubeedge/blob/master/docs/guides/edgemesh_test_env_guide.md

[2020-01-06 10:03] latelee commented on #1360
I tried again today, still failed, some output info:
[code]
I figure out that there is no edge0 on my ARM target board.
But I found it on my Ubuntu os:
[code]
Maybe there is sth that I miss,  try again later.

[2020-01-06 12:53] mumutu66 commented on #1154
installed with master branch

got similar error
[code]

and try to enable default Accounting from [Link](https://github.com/openshift/machine-config-operator/pull/581) but no effect

[2020-01-06 13:15] qinzhuoxing commented on #1138
message: eba2e190-1b95-4740-845b-3a875d0c64ea process failure, node qzx-node01-a not found
why the node is not found, but edge and cloud can communication

[2020-01-06 13:37] qinzhuoxing opened #1369 "message: eba2e190-1b95-4740-845b-3a875d0c64ea process failure, node qzx-node01-a not found"
**What happened**:
At the beginning, node.json was applied:
kubectl apply -f ~/cmd/yaml/node.json
Then I ran ./edgecore and ./cloudcore, the output is as follows:

edge:
 dial wss://192.168.1.44:10000/e632aba927ea4ac2b575ec1603d56f10/qzx-node01-a/events successfully
I0106 21:03:40.693453    1721 websocket.go:79] Websocket connect to cloud access successful
I0106 21:03:40.693754    1721 process.go:

[2020-01-06 14:12] qinzhuoxing commented on #1369
cloudcore配置文件：
controller:
  kube:
    master: ""     # kube-apiserver address (such as:http://localhost:8080)
    content_type: "application/vnd.kubernetes.protobuf"
    qps: 5
    burst: 10
    node_update_frequency: 10
    kubeconfig: "/root/.kube/config"   #Enter absolute path to kubeconfig file to enable https connection to k8s apiserv
er, if master and kubeconfig are both set, master will ov

[2020-01-06 14:13] qinzhuoxing commented on #1369
{
  "kind": "Node",
  "apiVersion": "v1",
  "metadata": {
    "name": "qzx-ndoe01-a",
    "labels": {
      "name": "edge-node",
      "node-role.kubernetes.io/edge": "edge"
    }
  }
}

[2020-01-06 14:45] latelee commented on #1360
I found the reason of `panic: runtime error: index out of range`，
file kubeedge/edgemesh/pkg/proxy/proxy.go, function `addServer`:
[code]
see the issue: https://github.com/kubeedge/kubeedge/issues/1181
When I fixed the bug, the edge node is ready(see edge-node-arm):
[code]
But still got the error:
[code]
I had no idea about this.

[2020-01-07 01:05] kadisi commented on #1154
i think you should create '/var/lib/edged/plugins' first.

and have you created deviceinstance  and devicemodel crd ?

[2020-01-07 03:21] fisherxu opened #1371 "Reliable message delivery tracking issue"
**What would you like to be added/modified**:

As proposal in #1343, we will implement the reliable transmission message mechanism.
This issue will track the tasks in development.

#### Alpha release (target v1.2)
- [x] Add resource version in message struct. #1368
- [x] Add CRD API which used to save the sending status. #1373
- [x] Implement the message queue and message sending/receiving between

[2020-01-07 07:49] mumutu66 commented on #1154
solved the problem .. the doc in source code is out-of-date  cloud-core:1.1.0 is not compatible with the  newest edge-core  which is built  by the instructions [here](https://github.com/kubeedge/kubeedge/tree/master/build/edge)

[2020-01-07 08:57] CarloP95 opened #1372 "Device Migration"
**What would you like to be added/modified**:
Support Device Migration scenarios.

**Why is this needed**:
A mobile device could move from a edge node to another one.
For now one must get to the **control plane** (Cloud) and trigger commands manually.

If you are not planning to support migration, it would be good for me to know the motivation.

[2020-01-07 12:28] kevin-wangzefeng commented on #1372
Thanks @CarloP95 we do have consideration to support device migration when designing the device CRD, that's why a device uses nodeSelector to indicate binding relationship between device and edge nodes. But we not yet provide any complete practise document of using this functionality.

[2020-01-07 13:57] CarloP95 commented on #1372
Hi @kevin-wangzefeng, I'm sorry that I haven't expressed myself well.
Let me describe a use case in which this feature would be useful.

**TL;DR**
In a **5G scenario**, mobile devices can be connected to an edge node but, since they can move between subnets, migration might be necessary.
This migration is not carried automatically. Are you planning to support that?

**Explanation**
Let's suppose t

[2020-01-07 14:51] mumutu66 commented on #1168
it seems the both side docker cgroup driver should be same ?. since the cgroupfs is not recommended change both to systemd also works

[2020-01-08 07:32] latelee commented on #1360
I found the real reason is that, there is no edge0 device on my target board.
1. When I checked vishvananda source, it open `/dev/net/tun` somewhere, so I checked on my board but found nothing.
2. I found that my kernel didn't add CONFIG_TUN , so I turned it on, and recompiled kernel.
3. try deploy again, everything is ok.
[code]

I will close it.

[2020-01-08 07:33] #1360 closed

[2020-01-08 07:35] latelee commented on #1369
我看到一个帖子，说边缘端的主机名和json配置的要一致。你确认下边缘主机名是否为qzx-node01-a。

[2020-01-08 14:25] mumutu66 commented on #1367
@sids-b  how to debug the edgemesh server .. why it always binds 53 on docker0 interface and when use telnet ip 53 always receive `Connection refused`

[2020-01-08 14:49] sids-b commented on #1367
The edgemesh server is a dns server and dns servers are run on default 53 port. It resolves the service-name in the request. I am not sure about the behaviour in telnet. @arcanique maybe able to answer this

[2020-01-09 02:31] mumutu66 commented on #1367
@sids-b thanks  I got it    I was using the wrong tools .  `dig` show the dns server is ok . so the real problem is the iptables 's rule .I will try to solve it.

[2020-01-09 09:11] feiyanke opened #1374 "edgemesh usage support"
I want to setup edgemesh for the case that: two pods in the same edge node access to each other using the domain name instead of pod ip or hostPort

However, I follow the edgemesh guide, and try to change the args many times, and can not make success.
So, how exactly to do the kind of case?

[2020-01-09 12:44] kevin-wangzefeng commented on #1171
Todo for beta:
- [ ] PodSandboxImage - detect node architecture and pick corresponding image

[2020-01-10 07:08] markwangC opened #1377 "Does kubeedge supports the data router fucntion which user can define the router path ?"
Does kubeedge supports the data router fucntion which user can define the router path ? Or this function is in the roadmap ?

[2020-01-12 03:53] CC1404068613 opened #1381 "make: *** No rule to make target `edge_cross_build'. Stop."
**What happened**:
![image](https://user-images.githubusercontent.com/44268973/72213863-21811a00-3531-11ea-814b-1732ab777585.png)
when i use command "make edge_cross_build" ,the result is "make: *** No rule to make target `edge_cross_build'.  Stop."
![image](https://user-images.githubusercontent.com/44268973/72213874-64db8880-3531-11ea-8aaa-f20eb2ccd4c0.png)

**Environment**:
- KubeEdge version(e.

[2020-01-12 04:04] yzhao66 opened #1382 "How to test whether setup cloud side is correctly"
**What happened**:
![image](https://user-images.githubusercontent.com/44268973/72213967-6312c480-3533-11ea-8d4d-38f2b3c3023e.png)
this command look like is ok

![image](https://user-images.githubusercontent.com/44268973/72213972-7e7dcf80-3533-11ea-8a28-4b2f83a4f63a.png)
when run "sudo ln build/tools/cloudcore.service /etc/systemd/system/cloudcore.service"
this result is "ln: failed to access ‘buil

[2020-01-13 04:02] fisherxu commented on #1382
You can use `kubectl get node` to check the status of edge node, if it's `Ready`, which means cloudcore is running correctly. Also you can check the log of cloudcore.

[2020-01-13 07:17] CC1404068613 commented on #1382
按照官网上的文档安装出了很多的bug

[2020-01-13 07:19] fisherxu commented on #1381
You need to run the `make edge_cross_build` in root dir of kubeedge.
/close

[2020-01-13 07:19] #1381 closed

[2020-01-13 08:53] fisherxu commented on #1382
有Bug欢迎给指正 ：）如其他的问题可以直接在这里提

[2020-01-13 09:21] wangmingjunabc commented on #1374
Maybe you need to show your args and yaml details，to find out what the problem is

[2020-01-13 10:00] fisherxu commented on #913
@kadisi Does this issue have been resolved? Or we can close it.

[2020-01-13 10:03] fisherxu commented on #1255
Has been resolved.  https://github.com/kubeedge/kubeedge#compatibility-matrix

[2020-01-13 10:03] #1255 closed

[2020-01-13 10:07] fisherxu commented on #1117
/assign @bitvijays

[2020-01-14 01:51] yzhao66 opened #1389 "What's the problem with kubeedge and how to reslove this issues?"
**What happened**:
when i setup cloud side,there some issue as below
![image](https://user-images.githubusercontent.com/44268973/72306850-6df46300-36b3-11ea-8278-d4daa8f8eb3a.png)

![image](https://user-images.githubusercontent.com/44268973/72306672-ed356700-36b2-11ea-8950-068968676d33.png)

**CloudSide Environment**:
- Hardware configuration (e.g. `lscpu`):
- OS (e.g. `cat /etc/os-release`):
cent

[2020-01-14 01:53] fisherxu commented on #913
/close

[2020-01-14 01:53] #913 closed

[2020-01-14 01:53] kadisi commented on #913
@fisherxu yes, resolved

[2020-01-14 03:13] yzhao66 opened #1391 "edge node is not ready"
**What happened**:
when i use command "./cloudcore" in cloud side
![image](https://user-images.githubusercontent.com/44268973/72311026-58d10180-36be-11ea-9824-39ff752209c6.png)

![image](https://user-images.githubusercontent.com/44268973/72311039-625a6980-36be-11ea-9253-2a0f149ce3a4.png)

when i use command "./edgecore" in edge side
![image](https://user-images.githubusercontent.com/44268973/72311

[2020-01-14 06:19] xianhongdong commented on #1138
i have the same problem but i have soleve this problem by other helps. below is the edgecore logs:
I0114 14:09:17.350187   58908 upstream.go:186] dispatch message: 424e06c4-3e97-4461-88d4-9a946635a87e
W0114 14:09:17.350193   58908 upstream.go:190] parse message: 424e06c4-3e97-4461-88d4-9a946635a87e resource type with error: resource type not found
I0114 14:09:17.352586   58908 eventhandler.go:98]

[2020-01-14 12:07] kadisi commented on #1391
can you show your cloudcore and edgecore config file ?

[2020-01-15 02:21] #1138 closed

[2020-01-15 12:21] yzhao66 commented on #1361
i get same issue and create CRD
![image](https://user-images.githubusercontent.com/44268973/72433527-75f7f400-37d4-11ea-9ad9-9e8981d1f732.png)
![image](https://user-images.githubusercontent.com/44268973/72433534-7db79880-37d4-11ea-9496-2ccc4f76a30f.png)
but it's not effect

[2020-01-16 03:38] fisherxu opened #1403 "Container startup failed, but pod status is running"
**What happened**:
Container startup failed, but pod status is running.
![image](https://user-images.githubusercontent.com/28776356/72491261-77690100-3854-11ea-9604-44dd304e997c.png)
![image](https://user-images.githubusercontent.com/28776356/72491279-85b71d00-3854-11ea-813a-96cd7e014e82.png)

**What you expected to happen**:
Pod status shouldn't be running.

**How to reproduce it (as minimally an

[2020-01-16 07:47] fengding2 commented on #1264
If you want to use edgemesh in the raspberry pi, you can build a docker image for init_container by yourself. The init_container is aimed to change the iptables rules inside the container so as to intercept all the requests to the edgemesh-proxy.

[2020-01-16 07:47] #1264 closed

[2020-01-16 16:19] fisherxu opened #1406 "The pod stay in terminating state and can't be deleted."
**What happened**:
When the pod is successfully scheduled but not running, at this point the pod status is `Pending`. If delete the pod at this point and it will stay in terminating state and can't be deleted.

**What you expected to happen**:
Pod can be deleted.

**How to reproduce it (as minimally and precisely as possible)**:
Create a deploy, set replica to 60 and make all pod schduled to one n

[2020-01-17 02:42] NoWhere-zh opened #1408 "when i reconnect a node, the cloudcore may exit unexpectedly"
**What happened**:
I delete a node from k8s and shutdown the edgecore. then i create the same node and restart edgecore in a short time. the cloudcore can possiblely meet an error and exit. this a serious problem.
i cannot upload the picture about the bug due to my work environment so i have to upload the log file.

**What you expected to happen**:
it is expected that the node connects successfull

[2020-01-17 02:44] NoWhere-zh commented on #1408
i have fix this bug and i will create a pr soon.
if someone wants to know more, please comment here.

[2020-01-17 03:06] #1205 closed

[2020-01-17 03:39] kadisi commented on #1408
@NoWhere-zh can you format your error log use ```    ``` ?

[2020-01-19 09:17] zhanglianx111 commented on #1345
mark

[2020-01-19 16:52] coolbeevip opened #1415 "KubeEdge on macOS?"
I have installed Docker Desktop on macOS and enabled the K8S local cluster.

Can I install a standalone version of KubeEdge on macOS?

[2020-01-19 17:09] kevin-wangzefeng commented on #1415
There are some pieces of code depends on linux, so you can't run KubeEdge directly on macOS. You may need to run KubeEdge (especially edgecore) in VMs

[2020-01-19 17:11] kevin-wangzefeng commented on #1415
This is not a bug, removing the bug label.
/remove-kind bug

[2020-01-19 17:16] kevin-wangzefeng commented on #1415
/label question

[2020-01-19 17:22] coolbeevip commented on #1415
Thank you

[2020-01-19 17:26] #1415 closed

[2020-01-20 08:43] ghost opened #1417 "The docs has never been updated, You cannot go through with the docs."
PLEASE UPDATE THE DOCS IN TIME. The docs is full of bug.

[2020-01-21 01:51] ghost opened #1421 "Pod has been assigned to edge node and stays pending status"
Environment:
I deployed cloud node on aliyun ECS.   I deployed edge node at home.
Then I added the node to cloud cluster, websocket to communicate.The cluster seems ok:
[code]

I deployed a deployment at the cloud side.  it has been assigned to the edge side,   but it stays pending, and there was no ip  assigned to the pod.

[code]

I'm wondering who offering Ip assignment for tyhe pod assigned to

[2020-01-21 02:08] bitvijays opened #1422 "Edgecore New configuration files | Info template"
**What happened**:
Edgecore not running. Better output required.

**What you expected to happen**:
edgecore running

**How to reproduce it (as minimally and precisely as possible)**:
Build edgecore from the master

**Anything else we need to know?**:
Currently, on running the edgecore with the new configuration files results in
[code]
It would be suggested to have a newline between info messages.

[2020-01-21 02:21] kadisi commented on #1422
@bitvijays  you can use `./edgecore --minconfig` to create new configfiles.

[2020-01-21 02:25] bitvijays commented on #1422
@kadisi I have created the configuration files using `./edgecore --defaultconfig`. However, if there are errors in the configuration files. It is shown in a difficult to read output. (First output) I am suggesting to add a new line, after a warning is produced (second output).

[2020-01-21 02:49] kadisi commented on #1422
@bitvijays good idea, Welcome to contribute

[2020-01-21 02:54] bitvijays opened #1423 "Edgecore New configuration file | websocket.enable and quic.enable"
When I am trying to run EdgeCore, I get the below error:

(Ignore the TLS Cert one, look that the websocket.enable and quic.enable)

[code]

My edgecore.yaml is like

[code]

There's no `quic.enable` and even if I try to set it one false, other true. It doesn't work

[2020-01-21 02:58] chendave commented on #1423
we might need to add one option for quic, sound like a bug to me.

[2020-01-21 03:00] chendave commented on #1423
cc @kadisi

[2020-01-21 10:39] #881 closed

[2020-01-22 02:40] kadisi commented on #1423
@bitvijays @chendave yes, this is a bug. we should not use `fallthrough` in `swich block`. https://github.com/kubeedge/kubeedge/blob/abac634ca7e6bc05e2c81fcbdadc26efba764870/pkg/apis/edgecore/v1alpha1/validation/validation.go#L87

about `fallthrough`: https://www.dotnetperls.com/switch-go

[2020-01-22 14:19] bitvijays commented on #1423
Thank you @kadisi , @kuramal  :)

[2020-01-24 04:13] #1423 closed

[2020-01-25 20:52] bitvijays opened #1425 "Raspberry Pi 2 | armv7l | Latest Edgecore not able to register node"
**What happened**:
Edgecore device unable to register with Cloudcore

**What you expected to happen**:
Get ready status for Edge device running on armvl7

**How to reproduce it (as minimally and precisely as possible)**:
If you have a raspberry Pi device, try to run edgecore on it.

**Anything else we need to know?**:

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`):
Cloud

[2020-01-27 12:29] hanneshoettinger commented on #1361
You need to set the master port in controller.yaml to 8080:
[https://kubernetes.io/docs/reference/access-authn-authz/controlling-access/](https://kubernetes.io/docs/reference/access-authn-authz/controlling-access/)
Default localhost port for Kubernetes is 8080. 6443 is the secure port.

As described in [https://github.com/kubeedge/kubeedge/blob/master/docs/getting-started/release_package.md](https

[2020-02-03 07:29] brant-ruan commented on #1374
Same issue.

BTW, I follow *Edgemesh test env config guide* at

https://kubeedge.readthedocs.io/en/latest/guides/edgemesh_test_env_guide.html#Edgemesh-end-to-end-test-guide

to test edgemesh. The whatapp server deployment's yaml describes that it needs to use `hostPort: 8080`. However, the `edgecore` running on the slave node has been listening on port 8080 already. Therefore the whatapp server ca

[2020-02-03 07:29] brant-ruan commented on #1374
Same issue.

BTW, I follow *Edgemesh test env config guide* at

https://kubeedge.readthedocs.io/en/latest/guides/edgemesh_test_env_guide.html#Edgemesh-end-to-end-test-guide

to test edgemesh. The whatapp server deployment's yaml describes that it needs to use `hostPort: 8080`. However, the `edgecore` running on the slave node has been listening on port 8080 already. Therefore the whatapp server ca

[2020-02-03 08:21] brant-ruan commented on #1374
Same issue.

BTW, I follow *Edgemesh test env config guide* at

https://kubeedge.readthedocs.io/en/latest/guides/edgemesh_test_env_guide.html#Edgemesh-end-to-end-test-guide

to test edgemesh. The whatapp server deployment's yaml describes that it needs to use `hostPort: 8080`. However, the `edgecore` running on the slave node has been listening on port 8080 already. Therefore the whatapp server ca

[2020-02-04 05:36] abmybgx opened #1430 "Csinode start failed on arm64 edge node"
**What happened**:

Csinode start failed on arm64 edge node

![image](https://user-images.githubusercontent.com/34848440/73716674-a89d6880-4752-11ea-9186-e6d740478804.png)

**What you expected to happen**:

Start successfully.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

We only used containerd + runc as the container runtime.

**

[2020-02-04 10:12] qizha opened #1432 "Add EdgeGateway as the ingress gateway on Edge"
**What would you like to be added/modified**:
Add a EdgeGateway as the ingress gateway on Edge to dispatch request to multiple backend pods on the Edge side.

**Why is this needed**:
Gateway or edge service in a microservice system provide entry point for the entire application so that external applications can visit this application.

In the native kubernetes, [ingress](https://kubernetes.io/docs

[2020-02-05 02:21] wuyuting1986 commented on #1421
The Pod on the edgenode may only support  host network, which means you should  use "hostNetwork: ture" in your Deployment yaml file.   As far as I know, at present, there should be no solution to support cloud and edge POD communication.

[2020-02-05 09:18] brant-ruan opened #1436 "edgemesh tcp server panic: runtime error: invalid memory address or nil pointer dereference"
**What happened**:

Following the [Edgemesh test env config guide](https://kubeedge.readthedocs.io/en/latest/guides/edgemesh_test_env_guide.html) I use busybox as client to test DNS query:

[code]

Then the edgecore exited with a panic:

![Xnip2020-02-05_17-02-39](https://user-images.githubusercontent.com/13882906/73827122-f93bc100-4839-11ea-9b15-1945a902182d.jpg)

![Xnip2020-02-05_17-02-59](https

[2020-02-05 13:27] kadisi opened #1437 "keadm supports the ability to convert old configfiles into new config"
**What would you like to be added/modified**:

currently the kubeedge use new config api to run kubeedge component.  Before the 1.2 version, the old configuration file was used. The format of the new and old configuration files is quite different and incompatible. Need keadm to provide convert function to convert the old configuration file to the new configuration file

ref: #1172

take cloudcore

[2020-02-05 14:14] keslerm opened #1438 "keadm provisioned cloud/edge setup fails to start"
**What happened**:
When starting edgecore, a panic happens with the following stack trace

[code]

**What you expected to happen**:
Edgecore to start and the node to become ready

**How to reproduce it (as minimally and precisely as possible)**:
I started two fresh Ubuntu 16.04 VMs, provisioned the cloud end using:

`keadm init --docker-version=18.06.0 --kubernetes-version=1.17 --kubeedge-version=

[2020-02-05 14:17] keslerm opened #1439 "Cloudcore generates missing resource errors"
**What happened**:
When cloudcore is running it constantly reports missing resources

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Start cloudcore against new cluster. I've tried both, a cluster provisioned with keadm and a manually provisioned cluster.

**Anything else we need to know?**:

**CloudSide Environment**:
- Hardware configu

[2020-02-06 00:45] kadisi commented on #1439
@keslerm you need to create DeviceModel and Device CRDs.  https://github.com/kubeedge/kubeedge/blob/master/docs/setup/setup.md

[2020-02-06 08:01] fisherxu commented on #1439
+1

Closed first.
/close

[2020-02-06 08:01] #1439 closed

[2020-02-06 10:03] GsssC opened #1444 "HA for CloudCore(Make CloudCore stateless)"
**What would you like to be added/modified**:
HA features for CloudCore(Hereinafter referred to as CC)
**Why is this needed**:
In [2019 Q4 Roadmap](https://github.com/kubeedge/kubeedge/blob/master/docs/getting-started/roadmap.md#2019-q4-roadmap),it says that we would support HA for CC，but not so far.Now I want to open a discussion.

**Make CC Stateless**:
Kubeedge is design to serve hundreds of ed

[2020-02-07 05:13] #725 closed

[2020-02-07 09:28] xmxxiong opened #1447 "pod always pending"
**What happened**:
the pod in edge not work
**What you expected to happen**:
the pod in edge can be ready
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`):
KubeEdge v1.1.0
**CloudSide Environment**:
centos 7.5
- Hardware configuration (e.g. `lscpu`):
- OS (e.g. `cat /etc/

[2020-02-10 03:38] GsssC commented on #1447
Please show more information such as "kubectl get pod/nginx-deployment-6fbb689d48-4wx6p -o yaml".It will show why the pod is pending.

[2020-02-10 03:41] xmxxiong commented on #1447
-------------------------

-------------------------
[root@demo11 k9s]# kubectl get pod/nginx-deployment-54bf9847f8-j5khj -o yaml
apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: "2020-02-10T01:50:27Z"
  generateName: nginx-deployment-54bf9847f8-
  labels:
    app: nginx
    pod-template-hash: 54bf9847f8
  name: nginx-deployment-54bf9847f8-j5khj
  namespace: default
  ownerReferences:
  - a

[2020-02-10 03:54] fisherxu commented on #1447
Does the edgenode get ready now? And the edgenode is `arm` or `x86` arch? Another thing, the hostnameOveride of edgecore seems inconsistent with the edgenode name.

[2020-02-10 04:00] xmxxiong commented on #1447
the node is ready now:
--------------------------------------------------------------------------------
[root@demo11 k9s]# kubectl get node
NAME                        STATUS   ROLES    AGE   VERSION
demo11.leap.com.novalocal   Ready    master   42h   v1.15.1
demo2.leap.com.novalocal    Ready    <none>   41h   v1.15.1
demo3.leap.com.novalocal    Ready    <none>   41h   v1.15.1
demo4.leap.com.noval

[2020-02-10 04:14] fisherxu commented on #1447
Have you used `kubeadm` to run the K8s? Do other pods on the edge node have running or pending? If you have kube-proxy or cni pod which will running on edgenode, you can delete them first.

[2020-02-10 04:21] xmxxiong commented on #1447
All nodes are Ready, and the edge node is not installed kube-proxy， the k8s is running by kubeadm

[2020-02-10 05:19] fisherxu commented on #1447
So please check or show pod releated log in edgenode, did sandbox run successfully, and why the pod can't be runned in edenode.

[2020-02-10 05:37] xmxxiong commented on #1447
[root@demo11 k9s]# kubectl get pod
NAME                                READY   STATUS    RESTARTS   AGE
nginx-deployment-54bf9847f8-j5khj   0/1     Pending   0          3h40m
[root@demo11 k9s]# kubectl describe pod nginx-deployment-54bf9847f8-j5khj
Name:           nginx-deployment-54bf9847f8-j5khj
Namespace:      default
Priority:       0
Node:           demo4.leap.com.novalocal/
Labels:         a

[2020-02-13 03:32] liuzhiyi1993 opened #1462 "refactoring of edgemesh needed"
**What would you like to be added/modified**:
EdgeMesh module

**Why is this needed**:
Some cleanup for edgemesh, to fix http resolving bug, to improve edgemesh performance.

[2020-02-13 12:10] dazer-chen commented on #416
hi, guys, How is the opc-ua mapper support going?

[2020-02-13 15:44] SESA258801 opened #1466 "edgecore panic when there is no default route"
**What happened**:
When launching edgecore , I get the following crash:

I0213 15:39:31.399239   14361 eventbus.go:61] Init Sub And Pub Client for externel mqtt broker tcp://127.0.0.1:1883 successfully
I0213 15:39:31.399325   14361 client.go:86] edge-hub-cli subscribe topic to $hw/events/device/+/state/update
I0213 15:39:31.399752   14361 client.go:86] edge-hub-cli subscribe topic to $hw/events/de

[2020-02-14 02:02] kadisi commented on #1466
@SESA258801 sounds good, thanks.

 first ,we should handle the error of `e.initialNode()`.
[code]
and second ,as you said,  we should use the node-ip provided in the edge.yaml file.
we can use those code :
[code]

I look forward to your contribution，thanks

[2020-02-14 09:47] fisherxu commented on #1466
Agree with you. @SESA258801 @kadisi
Would you like raise a PR to fix it? @SESA258801

Ref: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/nodestatus/setters.go#L192

[2020-02-14 10:33] hanneshoettinger opened #1468 "Integrate CRI-O as a lightweight runtime alternative"
**What would you like to be added/modified**:
Integrate CRI-O as a lightweight container runtime alternative.

**Why is this needed**:
Limited memory at edge device (ARM - 256MB RAM) - lightweight container runtime needed to execute containers using runc.

[2020-02-14 10:58] SESA258801 commented on #1466
If you don't mind, please do it. @fisherxu

[2020-02-14 12:47] kevin-wangzefeng commented on #1468
/cc @chendave

[2020-02-14 13:20] xwdreamer commented on #1333
I have the same problem

[2020-02-14 17:57] GsssC opened #1470 "Add option of ubuntu kubernetes apt source in keadm"
**What would you like to be added/modified**:

Add option of ubuntu kubernetes apt source in keadm

**Why is this needed**:
Now keadm use kubernetes official apt source for downloading kubernetes, but for most China dev , it is blocked. There is issue #1333 which may be caused by this reason. it is meaningful and convenient if we can set kubernete apt source to aliyun mirror for China dev.

[2020-02-17 02:59] xmxxiong commented on #1447
With kevin wang's help, I finally found the problem. The problem is that the Kubeedge does not work in which kubeadm installs k8s with the parameter  "-- experimental upload certs" . Later, I reinstalled k8s and kubeedge.  The problem was solved. Thank you  guys again.

[2020-02-17 02:59] #1447 closed

[2020-02-17 03:21] kevin-wangzefeng commented on #1447
It worth to have a `note` in installation document or FAQ, would you like to update the document?

[2020-02-17 03:59] xmxxiong commented on #1447
With kevin wang's help, I finally found the problem. The problem is that the Kubeedge does not work in which kubeadm installs k8s with the parameter  "-- experimental upload certs" . Later, I reinstalled k8s and kubeedge.  The problem was solved. Thank you  guys again.

It's my pleasure. I would love to update the installation document

[2020-02-17 08:15] katpagavalli commented on #291
Does KubeEdge work with different Cloud's like AWS, Azure AKS?

[2020-02-17 08:16] katpagavalli commented on #291
Does this work in the current edge?

[2020-02-17 10:07] vishuPPatel opened #1472 "setup using kubeedge one click installer get the error."
Hello kubeedge Team,

our team setup kubeedge on cloude ubuntu VM, and below steps follow as per your document.
https://kubeedge.readthedocs.io/en/latest/setup/installer_setup.html

sudo su

wget https://github.com/kubeedge/kubeedge/releases/download/v1.2.0/keadm-v1.2.0-linux-amd64.tar.gz

tar -xvzf keadm-v1.2.0-linux-amd64.tar.gz

cd /home/keadm-v1.2.0-linux-amd64/keadm

./keadm init --docker-ver

[2020-02-17 11:13] jay11ca39 commented on #1472
+1
Facing the same issue on **ubuntu 18.04**

[2020-02-17 11:44] jay11ca39 commented on #1472
@sids-b ,
Any input on this issue?

[2020-02-17 22:14] subpathdev commented on #1472
/assign subpath

I thought we fixed this issue.

[2020-02-17 22:15] subpathdev commented on #1472
/assign subpathdev

[2020-02-18 02:28] #1466 closed

[2020-02-18 04:08] subpathdev commented on #1308
@VipinKrizz you didn't have installed go or added go in your path on this system.

 Sorry for late replay I had a little time manage problem.

[2020-02-18 04:12] subpathdev commented on #1308
@VipinKrizz this isn't the 'normal' gcc. You can build all components simple but executing make. Do you have to use the arm-linux-gnueabi-gcc or a different cross build compiler if you want to build KubeEdge on your x86 machine for the raspberry pi.

[2020-02-18 04:15] subpathdev commented on #1308
@VipinKrizz ok this command shows only, that a Kubernetes cluster has daployed before executing this.

[2020-02-18 04:16] subpathdev commented on #1308
@VipinKrizz how do you set your environment variables?

[2020-02-18 04:17] subpathdev commented on #1167
/close is already made

[2020-02-18 12:54] kimminger commented on #1472
We face the same issue also trying to install KubeEdge 1.2.0 on a Ubuntu VM 18.04 LTS

[code]

seems that the cp command fails because of a wrong path.
For my understanding it should be:
```/etc/kubeedge/kubeedge/edge/edge_core```

So the correct command would be:
[code]

[2020-02-18 15:58] latelee commented on #1470
I change the source(ie, KubernetesGPGURL,KubernetesDownloadURL) to fix the problem.

[2020-02-19 08:06] sharkwang commented on #1152
same problem after upgrade openssl library to latest version.

[2020-02-19 14:31] Jack47 opened #1479 "storage resource fields wanted"
**What would you like to be added/modified**:
add storage infos in edged

**Why is this needed**:
Storage usage infos in edge boxes are wanted.

How about implement setStorageInfo just like [setMemInfo](https://github.com/kubeedge/kubeedge/blob/master/edge/pkg/edged/edged_status.go#L309-L339)? Want to know your ideas.

[2020-02-20 03:51] 379763376 opened #1481 "base resource install kubeEdge v1.2 , i meet two unimaginably queer problem ; this is second problem 基于源码部署的，执行创建svc后 cloudcore进程会挂掉"
1.svc.yaml文件如下：
[code]
2.报错日志如下：my-nginx-svc已经删除 但是后台日志一直在查看这个的状态
[code]

[2020-02-20 03:52] 379763376 commented on #1481
不报错的情况也会执行一段时间cloudcore和edgecore也会停掉

[2020-02-21 04:33] ls889 opened #1482 "what features of k8s does kubeedge1.2 not support?"
Hello kubeedge Team,
what features of k8s does kubeedge1.2 not support?
Thanks In advance.

[2020-02-21 07:10] 379763376 commented on #1481
e type is: kubeedge-edge-bolt
I0221 04:34:11.028097   14092 upstream.go:171] message: , operation type is: update
E0221 04:34:11.028120   14092 upstream.go:202] message: , resource type: kubeedge-edge-bolt unsupported
E0221 04:34:11.102745   14092 ws.go:122] failed to read message, error: websocket: close 1006 (abnormal closure): unexpected EOF
I0221 04:34:16.379152   14092 core.go:35] Get os sign

[2020-02-21 07:12] 379763376 commented on #1481
when cloudcore run some time about one day,it will been done.
my kubeedge version is v1.2.0
[code]

[2020-02-21 09:32] fisherxu commented on #1481
/kind bug

[2020-02-21 09:33] fisherxu commented on #1481
@379763376 Are you trying edgemesh?

[2020-02-21 10:06] fisherxu opened #1488 "Run device related e2e and add it to travis"
Now we only run deployment e2e test , and haven't run the device e2e.
Since we have used kind to run the K8s master, it's time to start the device e2e test.

[2020-02-22 06:34] qihandeng2 commented on #1472
I face the same issue with the same version of Kubeedge and Ubuntu today.
Hope this issue can be fixed soon.

[2020-02-22 07:02] subpathdev commented on #1472
Yes that the issue and we have at least 2 pr, which will close it.

[2020-02-22 12:01] stacktasec opened #1489 "How to run e2e tests with makefile?"
I want to run e2e tests with the 'make e2e' using makefile, and I have already 'kind' installed in my computer, but I got an error shows that 'Kubelet should not running on edge node when running edgecore' . So I find the lines where the errors occurs in sources, it's a third library called 'go-ps' which open the '/proc' to  find the process that name match 'kubelet'.

I find that the kubelet proc

[2020-02-22 13:36] fisherxu commented on #1489
@stacktasec  We use this [environment variable](https://github.com/kubeedge/kubeedge/blob/master/edge/cmd/edgecore/app/server.go#L76) to control whether to check kubelet, and set it to false in [e2e start script](https://github.com/kubeedge/kubeedge/blob/master/tests/e2e/scripts/fast_test.sh#L31) .

It seems that the env variable doesn't work in your host, and are you running e2e with root user?

[2020-02-23 03:08] latelee opened #1490 "A little writing mistake in synccontroller.go:"
In `cloud/pkg/synccontroller/synccontroller.go`, L221:
[code]
Chinese characters  `： ` need to change to `:`.

[2020-02-23 05:03] stacktasec commented on #1489
I found the env's reasons, and I resolved it. Thanks!

[2020-02-23 05:03] #1489 closed

[2020-02-24 01:15] 379763376 commented on #1481
Thanks, I am trying how to use the KubeEdge.  It'll stop even if I don't do anything

[2020-02-24 01:23] fisherxu commented on #1490
Thanks for pointing out, would you like raise a PR? :)

[2020-02-24 02:24] 379763376 commented on #1481
my os is Centos7.7
cloudcore config is:
[code]

edgecore config is :
[code]

[2020-02-24 02:45] latelee commented on #1490
Done, see https://github.com/kubeedge/kubeedge/pull/1491

[2020-02-24 02:48] fisherxu commented on #1490
Thanks, could you add this `issue num` to the PR description of #1491, and in the `Fixs` field.

[2020-02-24 07:51] fisherxu commented on #1489
Would you like share your issue before, why the env doesn't work in your host, and how to resolve it?

[2020-02-24 07:51] fisherxu commented on #1489
@stacktasec

[2020-02-24 11:58] #1490 closed

[2020-02-24 12:11] #1472 closed

[2020-02-24 14:39] 420691301 opened #1495 "Try CNI in kubeedge, but pluginName is hard-coded as empty string"
**What would you like to be added/modified**:
Use cni plugin for edge node, such as bridge. Now pluginName is hard-coded as empty string, only loop plugin is used.

**Why is this needed**:
CNI can provide richer network capabilities to edgenode.

[2020-02-25 11:07] fisherxu commented on #1481
It seems that the config is correct

[2020-02-25 11:42] #1495 closed

[2020-02-25 11:44] #1488 closed

[2020-02-25 12:42] kevin-wangzefeng opened #1498 "Revising document structure"
**What would you like to be added/modified**:

**Why is this needed**:
Existing document structure is not clean, we need to split user guide and developer guide, and relocate other content, to make it easier for reading.

relavent issues: #1334, #1340, #1119, #517, #944

**Tentantive content location**
[code]

[2020-02-26 03:30] 420691301 opened #1499 "Synccontroller failed to send deleteOperation msg to edge"
**What happened**:
Synccontroller send [deleteOperation msg](https://github.com/kubeedge/kubeedge/blob/dc4f9398335c6ed02461b7e6b14f6169c9da4f24/cloud/pkg/synccontroller/objectsync.go#L24) with nil content，which can’t be send by cloudhub. Now Cloudhub can‘t tell [if msg is deleteMessge](https://github.com/kubeedge/kubeedge/blob/dc4f9398335c6ed02461b7e6b14f6169c9da4f24/cloud/pkg/cloudhub/channelq/ch

[2020-02-26 03:32] 420691301 commented on #1499
Should message with nil content be allowed by design? Or synccontroller needs to construct an object for deletion msg？

[2020-02-26 08:23] kevin-wangzefeng commented on #944
We can now preview document changes on pull requests!

An example here: https://github.com/kubeedge/kubeedge/pull/1501
![image](https://user-images.githubusercontent.com/6914660/75325680-3123aa80-58b4-11ea-9061-13076731378e.png)

[2020-02-26 10:29] qihandeng2 commented on #1472
After the code updated to the master branch, how do I get the updated one-click installer? Thanks

[2020-02-26 10:35] fisherxu commented on #1472
@qihandeng2 We will release the updated keadm in 1.2.1 this week, if you want to try it now, you can compile it from sourcecode now :)

[2020-02-26 10:38] pranaypratyush opened #1502 "Add option for the websocket connection to tunnel through an HTTP proxy"
**What would you like to be added/modified**:
I would like to have an option `modules.edgehub.websocket.httpProxy` in `edgecore.yaml` that allows me to tunnel through an HTTP proxy.
(Would also need `httpProxyUsername` and `httpProxyPassword` for authenticated proxies)

**Why is this needed**:
Lots of campuses (workplace, university, etc) only allow connectivity through an HTTP proxy. There's a ve

[2020-02-26 12:03] fisherxu commented on #1499
Thanks for point this out.

1. How about move L199 to above L194 in channelq.go?
2. I think we can mock a pod obj in synccontroller for deletion msg.

Would you like raise a PR? @420691301  :)

[2020-02-26 12:53] qihandeng2 commented on #1472
Many thanks.

发件人: Fei Xu <notifications@github.com>
答复: kubeedge/kubeedge <reply@reply.github.com>
日期: 2020年2月26日 星期三 下午6:35
收件人: kubeedge/kubeedge <kubeedge@noreply.github.com>
抄送: DENG Qihang <qihandeng2-c@my.cityu.edu.hk>, Mention <mention@noreply.github.com>
主题: Re: [kubeedge/kubeedge] setup using kubeedge one click installer get the error. (#1472)

@qihandeng2<https://github.com/qihandeng2>

[2020-02-27 01:13] 420691301 commented on #1499
yes, I will fix this. @fisherxu

[2020-02-27 08:06] Penny20181222 commented on #1481
We meet the same problem, have it been fixed?

[2020-02-27 11:22] #1045 closed

[2020-02-27 11:23] #651 closed

[2020-02-28 00:49] 379763376 commented on #1481
No, each test is manually restarted

[2020-02-28 03:59] #1499 closed

[2020-03-02 02:49] kevin-wangzefeng commented on #1502
Transparent proxy tool should help in this case.

[2020-03-02 03:29] fisherxu commented on #1444
@GsssC  Thanks for your clever idea!

For the LocationCache, when cloudcore just started, we can get all the info from k8s first, then init the LocationCache first, and then start sending events to edge. Thoughts?

[2020-03-02 11:38] fkh12345 opened #1520 "Cannot find edgeSite.yaml and controller.yaml"
I meet some problem in setting up edgesite.
I used edgesite.md to setup edgesite. In the readme, the doc asks me to

**Modify edgeSite.yaml configuration file. Modify [edgeSite.yaml](https://github.com/kubeedge/kubeedge/blob/master/edgesite/conf/edgeSite.yaml) configuration file, with the IP address of K8S API server**

+ Configure K8S (API Server)

  Replace `localhost` at `controller.kube.master

[2020-03-02 21:38] yunhangc commented on #439
what is the status on knative support ?

[2020-03-03 09:25] bluefriday commented on #1391
Have you ever tried configuring CNI such as weave ?

[2020-03-04 07:37] majoyz opened #1522 "Can not find cloudcore in $GOPATH/src/github.com/kubeedge/kubeedge/cloud"
**What happened**:kubeedge_install_source.md ask me to:
[code]
But I can't find cloudcore.

[2020-03-04 07:40] kevin-wangzefeng commented on #1522
/kind documentation

[2020-03-04 11:22] fisherxu commented on #1522
@majoyz  I have raise a PR to fix the doc, the command here should be `cp $GOPATH/src/github.com/kubeedge/kubeedge/_output/local/bin/cloudcore ~/cmd/`

[2020-03-04 13:01] plochon commented on #1522
This is a regression in releases>1.2 I think, the binary should be generated in $GOPATH/src/github.com/kubeedge/kubeedge/cloud as in previous releases.

[2020-03-04 13:03] fisherxu commented on #1522
Yes, in releases1.2 we move all the binarys to _output, it's more centralized and easy to managed. :)

[2020-03-04 15:19] ytooyama opened #1525 "Keadm 1.2.1's join command, I got some errors."
I set up "Kubernetes 1.17.3" with "kubeadm".
And "KubeEdge 1.2.1" with "keadm 1.2.1".

**What happened**:
When I using the Keadm join command, I got some errors.

**What you expected to happen**:
Incorrect option?

**How to reproduce it (as minimally and precisely as possible)**:
Kubernetes 1.17.3 Setup with kubeadm.
KubeEdge 1.2.1 Setup with keadm 1.2.1.

**Anything else we need to know?**:

[cod

[2020-03-05 01:30] kevin-wangzefeng commented on #1525
/kind documentation

[2020-03-05 01:55] fisherxu commented on #1525
@ytooyama The document https://github.com/kubeedge/kubeedge/blob/master/docs/setup/kubeedge_install_keadm.md has already fixed,  you can see the join command part, now there's some refactor to it. Or use `keadm --join --help` to see the help info.

[2020-03-05 02:09] ytooyama commented on #1525
Thanks fisherxu !

[2020-03-05 02:12] fisherxu commented on #1525
Np :) So I will close this first if there's no other questions :)
/close

[2020-03-05 02:12] #1525 closed

[2020-03-05 03:03] fisherxu commented on #1139
Please try the latest version of KubeEdge :)
/close

[2020-03-05 03:03] #1139 closed

[2020-03-05 03:05] fisherxu commented on #753
Please try the latest keadm v1.2.1 :)
/close

[2020-03-05 03:05] #753 closed

[2020-03-05 03:06] fisherxu commented on #1333
Please try latest verion of keadm v1.2.1 :)
/close

[2020-03-05 03:06] #1333 closed

[2020-03-05 03:06] fisherxu commented on #1245
Please try latest verion of keadm v1.2.1 :)
/close

[2020-03-05 03:07] #1245 closed

[2020-03-05 03:07] fisherxu commented on #1234
Please try latest verion of keadm v1.2.1 :)
/close

[2020-03-05 03:07] #1234 closed

[2020-03-05 03:07] fisherxu commented on #1233
Please try latest verion of keadm v1.2.1 :)
/close

[2020-03-05 03:07] #1233 closed

[2020-03-05 03:07] fisherxu commented on #1140
Please try latest verion of keadm v1.2.1 :)
/close

[2020-03-05 03:07] #1140 closed

[2020-03-05 03:07] fisherxu commented on #1136
Please try latest verion of keadm v1.2.1 :)
/close

[2020-03-05 03:07] #1136 closed

[2020-03-05 03:08] fisherxu commented on #1134
Please try latest verion of keadm v1.2.1 :)
/close

[2020-03-05 03:08] #1134 closed

[2020-03-05 03:08] fisherxu commented on #1132
Please try latest verion of keadm v1.2.1 :)
/close

[2020-03-05 03:08] #1132 closed

[2020-03-05 03:11] fisherxu commented on #915
/close

[2020-03-05 03:11] #915 closed

[2020-03-05 03:14] fisherxu commented on #452
Please try latest verion of keadm v1.2.1 :)
/close

[2020-03-05 03:14] #452 closed

[2020-03-05 03:17] fisherxu commented on #698
I think #844 have fixed this issue  :)
/close

[2020-03-05 03:17] #698 closed

[2020-03-05 03:18] fisherxu commented on #1302
Please try latest verion of keadm v1.2.1 :)
/close

[2020-03-05 03:18] #1302 closed

[2020-03-05 03:18] fisherxu commented on #1356
Please try latest verion of keadm v1.2.1 :)
/close

[2020-03-05 03:19] #1356 closed

[2020-03-06 01:57] bluefriday commented on #1068
@kadisi
Are there any improvements for this issue?
I am currently stuck on this issue.

[2020-03-06 03:01] ytooyama commented on #1525
Will you fix this document?
https://github.com/kubeedge/kubeedge/blob/v1.2.1/docs/setup/installer_setup.md

[2020-03-06 03:03] fisherxu commented on #1525
Fixed in master branch, and the tag can't be modified now..  You can see the docs in master branch

[2020-03-06 04:23] ytooyama commented on #1525
Understand. Thanks !

[2020-03-06 09:24] SemiLavender opened #1528 "Cannot build KueEdgev1.2* services based on source code"
**What happened**: Cannot build services based on source code。steps as follow [!this doc](http://docs.kubeedge.io/en/latest/setup/kubeedge_install_source.html):
-  get source code
- Generate Certificates
- Compile cloud code`make all WHAT=cloudcore `, get `cloudcore` in ./cloud/
- Generate Config, `/cloudcore --defaultconfig > /etc/kubeedge/config/cloudcore.yaml`
- Run Kubernetes CRDs: devices_v1a

[2020-03-06 09:50] fisherxu commented on #1528
Can you show details of `kubectl get objectsync -A -oyaml`?

[2020-03-06 10:20] SemiLavender commented on #1528
the detail
[code]
**Others:**I have successfully deployed the v1.2 version before, but it stopped working because of this error for some time.
When I re-deployed, these four CRDs were not deleted, but were created directly with instructions, command line prompt files and existence, but I ignored them.

[2020-03-06 10:35] fisherxu commented on #1528
Panic in `cloud/pkg/synccontroller/objectsync.go:214` is caused by the empty of `ObjectSync.status.objectResourceVersion`, but I haven't see any if these fields in your objectsyncs is empty...

But on the other hand, it may not be worth a panic here, an error log is enough.

[2020-03-06 12:00] fisherxu commented on #1479
You want to add `ephemeral-storage` field?

[2020-03-07 06:26] alesz commented on #1528
Git patch: https://gist.github.com/alesz/41630bd94121da1598688628125f5e51
- warn instead of panic on parse error
- handle 0 length strings

[2020-03-07 06:48] fisherxu commented on #1528
@alesz would you like raise a PR?

[2020-03-07 08:46] sibradzic commented on #1444
The third way seems much more sound than any others, an since developers just went through very similar work in [reliable message delivery,](https://github.com/kubeedge/kubeedge/blob/9faed8b/docs/proposals/reliable-message-delivery.md) this pobbably would not represent such heavy amount of work.

[2020-03-08 16:42] yxzking opened #1531 "There is an error in kubeedge_install_keadm.md installation document."
in the "Download the source code".
url https://github.com/kubeedge/kubeedge/blob/master/docs/setup/kubeedge_install_keadm.md

git clone https://github.com/kubeedge/kubeedge.git $GOPATH/src/github.com/ **kubeedge/kubeedge**
multiple spaces before kubeedge

[2020-03-09 01:22] fisherxu commented on #1531
Thanks for pointing out, and would you like raise a PR? :)

[2020-03-09 06:19] fisherxu commented on #1361
Will close this first, if there's any question, please reopen it.
/close

[2020-03-09 06:19] #1361 closed

[2020-03-09 06:20] fisherxu commented on #920
I think we have resolve it in 1.2, close it first.
/close

[2020-03-09 06:21] #920 closed

[2020-03-09 06:26] fisherxu commented on #769
Containerd support port mapping, will close this first.
/close

[2020-03-09 06:27] #769 closed

[2020-03-09 06:29] fisherxu commented on #1338
If there's any questions, please reopen it.
/close

[2020-03-09 06:29] #1338 closed

[2020-03-09 06:30] fisherxu commented on #855
now we have used kind to start the static K8s.
/close

[2020-03-09 06:30] #855 closed

[2020-03-09 06:31] fisherxu commented on #1086
We have resolve it now.
/close

[2020-03-09 06:31] #1086 closed

[2020-03-09 06:32] fisherxu commented on #1082
We have moved beehive and viaduct in-tree.
/close

[2020-03-09 06:32] #1082 closed

[2020-03-09 06:38] fisherxu commented on #1030
Close it, if there's any question, please reopen it.
/close

[2020-03-09 06:38] #1030 closed

[2020-03-09 06:40] #1167 closed

[2020-03-09 06:44] fisherxu commented on #1154
will close it .
/close

[2020-03-09 06:44] #1154 closed

[2020-03-09 06:59] fisherxu commented on #1214
Now we have resolve it.
/close

[2020-03-09 06:59] #1214 closed

[2020-03-09 07:01] fisherxu commented on #1531
/help wanted

[2020-03-09 12:18] yxzking commented on #1531
okay, you're welcome

[2020-03-10 02:26] #1422 closed

[2020-03-10 02:48] #1522 closed

[2020-03-10 21:15] subpathdev commented on #1470
@GsssC do you still facing this issue?

[2020-03-10 22:17] subpathdev commented on #898
can we close this now?

[2020-03-11 01:01] fisherxu commented on #1531
Have fixed.
/close

[2020-03-11 01:01] #1531 closed

[2020-03-11 01:54] Jack47 commented on #1479
yes

[2020-03-11 01:56] fisherxu commented on #1479
Okey, I think that's reasonable to add it. Would you like raise a PR?

[2020-03-11 01:56] chendave commented on #1468
I am going to investigate k8s CIR first, them define a spec for kubeedge on the integration.

/assign

[2020-03-11 15:05] GsssC commented on #1470
Yes

[2020-03-11 15:05] GsssC commented on #1470
Yes

[2020-03-12 01:32] 379763376 commented on #1481
解决了 即便是nohup xxx &启动，也需要exit出xshell。直接关闭xshell的话就会停止

[2020-03-12 07:53] chendave commented on #1217
@jahentao Hi, looks like this issue has been sit here for an while, is this still an issue?

[2020-03-12 08:23] FengyunPan2 opened #1543 "Enhance the csidriver of cloudcore"
Currently the cloudcore csidriver use edgenode id as 'controllerServer.nodeID' and send request to edgenode which specify by 'controllerServer.nodeID', that means a cloudcore csidriver just work for a edgenode. If the cluster have 2+ nodes, a cloudcore csidriver can't work for hostPath.
Look at the codes : https://github.com/kubeedge/kubeedge/blob/master/cloud/pkg/csidriver/controllerserver.go#L71

[2020-03-12 08:26] FengyunPan2 commented on #1543
If the edgenode which is selected by csidrvier becomes NotReady, callback a select by cloudcore node informer.

[2020-03-12 18:57] dingyin opened #1544 "Support VM provisioning on the edge"
**What would you like to be added/modified**:
Add VM run time to support  VM provisioning on the edge.

**Why is this needed**:
In Telco use cases, a lot of applications are still in VM format. To support these applications, we need to support VM provisioning on the edge.

[2020-03-12 22:38] dggonz opened #1545 "edge node does takes very long to become Ready in kubernetes if edgecore crashes and is restarted"
**What happened**:

I launched cloudcore on the cloud, then I launched manually edgecore on the edge. Everything works fine and the node becomes 'Ready' quite fast (10-15 seconds at most).

Now if I kill edgecore, wait for the node to become 'NotReady', and then launch edgecore manually, the node will take around 4 minutes to become available again. If I stop cloudcore and then restart both cloudc

[2020-03-13 14:52] diestrin opened #1546 "Error parsing EKS k8s minor version"
**What happened**:
AWS EKS clusters use a non-standard minor version in their API, so invoking `kubectl version` will return:
[code]

So when I invoke `keadm init` I get back `Error: Your minor version of K8s is lower than 11, please reinstall newer version`

**What you expected to happen**:
Be able to install kubeedge

**How to reproduce it (as minimally and precisely as possible)**:
Create any A

[2020-03-13 19:41] kohsheen1234 commented on #1437
Hey, I would like to work on this issue as a part of gsoc 2020. I have experience with go and kubernetes.

[2020-03-14 10:36] qihandeng2 commented on #1372
I am interested in this scenario too. There must be one mechanism to keep the running state from source and continue to serve at the new edge node.
I have several confusions:
1. How to save the running state at the old edge node?
2. How to transfer the saved state? directly between the two edge nodes? or synchronize to cloud and then target to the new edge node?

[2020-03-14 19:46] zqdlove commented on #1481
v1.2.1 , meet the same problem.

[2020-03-15 19:46] subpathdev commented on #1470
In KubeEdge version 1.2  keadm will not longer install the kubernetes cluster. I think this should resolve this issue.
\close

[2020-03-16 00:38] #1470 closed

[2020-03-16 11:45] #1546 closed

[2020-03-16 13:24] diestrin commented on #1546
This is awesome and it was super fast! Thank you very much!

[2020-03-17 07:36] latelee opened #1549 "can't deploy nginx-deployment sample succeed"
**What happened**:
When I finished setup KubeEdge, then I test the sample nginx-deployment using `kubectl apply -f $GOPATH/src/github.com/kubeedge/kubeedge/build/deployment.yaml`, the status is `Pending` (I wait for 8 min, it's still pending), then I delete it, the status is `Terminating`(I wait for a long time but it is still Terminating).  See below for more.

**What you expected to happen**:
ng

[2020-03-17 07:44] fisherxu commented on #1549
Your edge node is arm arch? Does the image have pulled? :) @latelee

[2020-03-17 07:52] latelee commented on #1549
@fisherxu Edge node machine is as same as Cloud side.(actually I run these machine using VMware, I copy the cloud machine for edge node),see the following output:
[code]
config file:
[code]

docker image:
[code]

[2020-03-17 07:56] latelee commented on #1549
some more log (cloud side):
[code]
it says `write error`, but I cant see the reason.

[2020-03-17 08:04] fisherxu commented on #1549
Any error logs in edgecore?

[2020-03-17 08:14] latelee commented on #1549
I checked the logs on edge side, then found the following error (matched the tmie `15:12:59` on cloud side)
[code]
it seems the error is error: tls: use of closed connection`.
but the connection is ok, because I see the nodes is ready.

[2020-03-18 07:10] kevin-wangzefeng commented on #1468
/milestone v1.3

[2020-03-18 07:11] chendave commented on #1468
interface has already defined in the code base, all we need might a through validation, this include the validation against cri-o, containerd, and might be kata container as well.

[2020-03-18 07:22] fisherxu commented on #1549
This should be a bug, and needs to be resolved. For workaround force deleting the pod, then the new pod will be created.

[2020-03-19 03:52] latelee commented on #1549
hi @fisherxu
I checked #1406 .
I tried deploy several time today and yesterday. My issue may be a little different. I delete pod forced, but the new pod is still pendding.
I think the actually problem my be `error: tls: use of closed connection`, ie, the cloud side can't write message to edge side, or vice versa.

[2020-03-19 04:03] bluefriday commented on #1549
I have same issue too.
In my case, edge part is raspberry pi (3 b+).
I crossed-compile for arm architecutre. but nginx is still peding.

[2020-03-19 04:13] latelee commented on #1549
I tried to deploy edgecore on x86_64(ubuntu) and armv7l(TI board). And try the nginx and led example, but failed many times.
But,  I haved successed deploy the pod one or two times on one node, see the following:
[code]
I dont know why, I cant find the answer.

[2020-03-19 07:16] fisherxu opened #1551 "Keadm Support for RaspberryPi"
**What would you like to be added/modified**:
Support for deploying kubeedge with keadm on Raspberry Pi.

[2020-03-19 08:40] yechenglin007 commented on #261
from the latest kubeedge version 1.2.1, i can see what is my edge node is **READY** status, but it seems that **flannel** was not deployed into edge node, and my example pod ip is from docker route(172.17.0.x), so which confused me is that whether **CNI** network used in kubeedge, can you give me some help? or can you explain the pod network model in edge?

[code]

[2020-03-19 11:15] fkklx opened #1553 "How to execute the kuadm command in arm64"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`):

**CloudSide Environment**:
- Hardware configuration (e.g. `lscpu`):
- OS (e.g. `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Go version (e.g. `go version`):
-

[2020-03-20 01:28] #1481 closed

[2020-03-20 05:31] defutian opened #1554 "KubeEdge v1.2.1 日志无法输出到文件中"
版本：v1.2.1
测试环境：centos 7.7 kubernetes 1.17.4
测试步骤：在启动参数中指定--log-dir、--log-file参数，举例：
 ./cloudcore --log-dir=/var/log --log-file=cloudcore.log
期望结果：日志输出到指定目录文件中
实际结果：无法产生日志文件
补充：cloudcore、edgecore具有相同的问题

[2020-03-20 08:35] fisherxu commented on #1554
试一下把这个参数`--logtostderr`设为`fasle`，这个参数默认是`true`,表示`log to standard error instead of files (default true)`

[2020-03-20 13:14] defutian commented on #1554
是的，经过测试--logtostderr、--log-file、--log-dir有相互排斥行为，具体为：
1、logtostderr为true时，--log-file、--log-dir同时使用或者单独使用均无效。
2、logtostderr为false时，--log-file、--log-dir同时使用，--log-dir起作用，--log-file无效、单独使用均有效。

这种情况是否符合产品预期？

[2020-03-20 13:54] fisherxu commented on #1554
这里使用的日志库是k8s上游的klog，kubeedge没有做改动，有设计问题可以到上游发起讨论 :)

[2020-03-21 20:34] JingruiLea commented on #1417
yep! I heat the docs!

[2020-03-23 01:12] fisherxu commented on #1554
Close this issue first :)
/close

[2020-03-23 01:12] #1554 closed

[2020-03-23 10:04] ryu25ish commented on #291
We would like to use KubeEdge to implement the infrastructure/device management component (and potentially beyond) for various AI focused services where edge environments consist of both Linux and constrained RTOS devices.  One requirement is that the edge environment does not have a dedicated edge core gateway node.  That is, each Linux device acts as a gateway by running its own edge core on it

[2020-03-23 12:28] fisherxu commented on #291
@ryu25ish  Thanks for following the KubeEdge.

-  i. Cloud Core HA will be supported in 1.3
-  ii. Could you plz explain the use case of edgecore HA？
- iii. Will run MQTT on the cloud?

[2020-03-24 01:16] ryu25ish commented on #291
@fisherxu thank you for the quick reply.

It's great to hear about the cloud core HA support!  Just out of curiosity, is the solution described in #1444 the way it will be solved?

For the edgecore HA, this probably requires more advice from those more familiar with KubeEdge, but let me explain our thinking.  I believe this may also answer your MQTT question.

We want the constrained devices to co

[2020-03-24 06:00] majoyz opened #1556 "keadm init error"
**What happened**:
I want to reinstall kubeedge by keadm, after using "keadm init" on master, it showed an err:

[code]

How to fix it?
Where can I know the meaning of those exit status?

[2020-03-24 10:27] drcwr opened #1559 "close nil channel"
**What happened**:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`):

**CloudSide Environment**:
- Hardware configuration (e.g. `lscpu`):
- OS (e.g. `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Go version (e.g. `go versi

[2020-03-24 10:41] fisherxu commented on #1556
which version of keadm do you used?

[2020-03-24 10:43] majoyz commented on #1556
the latest

[2020-03-24 10:58] fisherxu commented on #1556
cp /etc/kubeedg**e//k**ubeedge-v1.2.1-linux-amd64, has a duplicate `/` here, seems a bug, but in my env it works fine..
![image](https://user-images.githubusercontent.com/28776356/77418061-54813d00-6e01-11ea-9131-547de6f99ba6.png)
My os is ubuntu 16.04, what's your os arch and version?

[2020-03-24 11:23] majoyz commented on #1556
yes,  but there are same command in some 2019's issues, like [issue#1139](https://github.com/kubeedge/kubeedge/issues/1139), so I think the duplicate `/` is ok.
My os is CentOS 7.6.

[2020-03-24 11:30] fisherxu commented on #1556
It seems failed to exec this cmd `cd /etc/kubeedge/ && tar -C /etc/kubeedge/ -xvzf kubeedge-v1.2.1-linux-amd64.tar.gz && cp /etc/kubeedge//kubeedge-v1.2.1-linux-amd64/cloud/cloudcore/cloudcore /usr/local/bin/`, but in my env and travis CI all works fine...

[2020-03-24 23:23] dingyin opened #1560 "HA support of CloudCore"
**What would you like to be added/modified**:

CloudCore is not deployed as a single instance. Ideally it should be HA. So we may do it in two steps:
1. Hot standby
2. Deploy a cluster of CloudCore

To be implemented for alpha in v1.3

- [x] Add leader election in CloudCore
- [ ] Add healthcheck method to CloudCore for integration with LB, to tell which instance is currently active
- [ ] Add LB fo

[2020-03-24 23:25] dingyin opened #1561 "Metrics at edge"
**What would you like to be added/modified**:

- Support metrics-server in cloud
- Integrated cadvisor in edge
         *Need to investigate if this would make footprint increase much
- Whether to expose port in edge
         * Pros: no need to send all data to cloud
         * Need to deal with authn (and authz?)

**Why is this needed**:

[2020-03-25 09:16] openedhardware opened #1562 "Custom settings in /etc/kubeedge/config/edgecore.yaml"
**What happened**:
I wanted to change the `cgroupdriver` to `systemd` as keadm failed to join.
Error log:
[code]

So I have changed `cgroupdriver: cgroupfs` to `cgroupdriver: systemd` in `/etc/kubeedge/config/edgecore.yaml`.
But when I execute `keadm join` command, this file is replaced to the new one, so I have no idea how to fix the cgroup driver issue.

Any idea?

**Environment**:
- KubeEdge ve

[2020-03-25 12:07] fisherxu commented on #1562
Now keadm will create new config file everytime we exec the init and join, may be we need to add the option to decide whether refresh the config.

[2020-03-25 12:09] openedhardware commented on #1562
Yeah, so I have to execute `edgecore` again like below:
[code]

Thanks!

[2020-03-25 12:15] fisherxu commented on #1562
Yes, you are right, I think this is indeed a issue, let's fix it.

[2020-03-25 13:05] hanneshoettinger commented on #1217
@jahentao Did you manage to get kubeEdge working with cri-o? From the documentation and milestone planning it is not officially supported. thanks and cheers

[2020-03-26 05:28] #1187 closed

[2020-03-26 12:09] iszhyang opened #1564 "Error: exit status 7, when I run "keadm join""
**What happened**:
I started k8s clusters through kind, and cloudcore was also deployed through "keadm init"
When I run "keadm join --cloudcore-ipport=127.0.0.1:32770"
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`):   v1.2.1
**C

[2020-03-26 12:16] #1564 closed

[2020-03-26 12:19] fisherxu commented on #1564
Can you share your details here?

[2020-03-26 13:03] drcwr commented on #1559
![closenilchanlog](https://user-images.githubusercontent.com/5842099/77649648-2dfc0700-6fa5-11ea-8088-fa3d3d07adbf.png)
![closenilchan](https://user-images.githubusercontent.com/5842099/77649668-33f1e800-6fa5-11ea-8d95-1a03032cf148.png)

[2020-03-26 15:27] drcwr commented on #1559
@fisherxu hi,Could you help me?I don't understand this code.

[code]
does it need to add return,when ok is true?
[code]
this is full code.
[code]
Thank you!

[2020-03-27 05:52] PearceDuan commented on #1549
same problem hit me...

[2020-03-27 06:13] PearceDuan opened #1566 "nginx pod pending"
**What happened**:
cat nginx-pod.yaml
[code]
kubectl apply -f nginx-pod.yaml
kubectl get pods -o wide
[code]

**What you expected to happen**:
nginx-test status: Running

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`):
KubeEdge v1.1.0-beta.0.574+ccacb7f48d10fa-dirty
**C

[2020-03-27 06:29] PearceDuan commented on #1566
after restart the cloud side accidental, it works. i dont know why

[2020-03-27 09:47] hanneshoettinger opened #1568 "Cross Compile: arm-linux-gnueabihf-gcc"
**What happened**:
In the file hack/lib/golang.sh the arm CC is hardcoded to arm-linux-gnueabi-gcc. The option to choose CC has been removed?
I had to manually change the line in golang.sh to:
CC=arm-linux-gnueabihf-gcc

**What you expected to happen**:
Change the Makefile to be able create an argument for CC.

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`):
1.2.1 edgecor

[2020-03-27 09:55] latelee commented on #1566
check the log when it is pending, maybe there is some log like `error: tls: use of closed connection`, I got the same issue, but restart cloudcore and edgecore several times, everything is ok.

[2020-03-27 10:29] kadisi commented on #1437
@kohsheen1234 welcome

[2020-03-27 10:50] fisherxu commented on #1566
I think this should be a bug, need dig it

[2020-03-30 03:33] drcwr commented on #1559
![the relationship between Connection and KeepaliveChan](https://user-images.githubusercontent.com/5842099/77872693-4a849180-727a-11ea-84b4-7e1b40cccf3f.png)

[2020-03-30 04:40] xiedidan opened #1571 "edgecore 1.2.1 crashes after a few hours on pi4"
**What happened**:
After deploying 1.2.1 to both cloud and edge side (2 pi4s with latest raspbian), we have observed the following two kinds of failure reports from edgecore:
[code]
[code]
They'll happen in a few hours after restarting edgecore.
We are using pre-built packages from release page.
However, x86 edgecore doesn't crash...

Even wrose, after restarting edgecore, the task pods are automa

[2020-03-30 06:32] bluefriday commented on #1391
@yzhao66
In my cases, I made socket file(just touch command) /var/lib/kubeedge/kubeedge.sock before running cloudcore.

[2020-03-30 07:27] kevin-wangzefeng commented on #1571
To keep pods stay on the node (not delete from control plane), when node is disconneted, you would need to manually add toleration config to the pods with infinite tolerationSeconds, or change defaultUnreachableTolerationSeconds to infinite.

Xref:
- https://v1-17.docs.kubernetes.io/docs/concepts/configuration/taint-and-toleration/#example-use-cases

- https://v1-17.docs.kubernetes.io/docs/referen

[2020-03-30 08:51] GsssC commented on #1559
Yes, it looks like it is going to be happened when network is bad.In a short time, MessageHandler calls twice OnRegister.For mh.KeepaliveChannel[nodeIP], idealy it should be "make close make close". But for now , it is "make 'make fails' close close", then causes the bug.

Just like #1571 shows.

[2020-04-01 02:50] xiedidan commented on #1571
@kevin-wangzefeng Thanks, after updating tolerationSeconds the pods stay when edgecore restarts.
That enables us to use watchdog to keep tasks working.

[2020-04-01 03:56] #1462 closed

[2020-04-01 04:38] bitvijays opened #1574 "GPUPlugin Information | Not Available | KubeEdge running on Nvidia Jetson Nano and Nvidia Jetson TX2"
**What happened**:
Installed KubeEdge with `gpuPluginEnabled: true` on [Nvidia Jetson Nano](https://developer.nvidia.com/embedded/jetson-nano-developer-kit) and [Nvidia Jetson TX2](https://developer.nvidia.com/embedded/jetson-tx2-developer-kit) and after implementing [K8 Device Plugin](https://github.com/NVIDIA/k8s-device-plugin)

**What you expected to happen**:
See gpu resources in `kubectl desc

[2020-04-01 05:46] Toper2035 opened #1575 "cloudcore panic after running a few hours."
**What happened**:
cloudcore panic and exist after running a few hours.

**What you expected to happen**:
no panic

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
cloudcore logs:
I0331 12:10:09.569375       1 upstream.go:161] dispatch message ID: c815f84b-3913-4089-97ae-ca69e7c5e36d
I0331 12:10:09.569395       1 util.go:88] The resource type

[2020-04-01 06:35] kevin-wangzefeng commented on #1560
/assign GsssC

[2020-04-01 06:36] kevin-wangzefeng commented on #1560
/assign @GsssC

[2020-04-01 07:20] openedhardware commented on #1425
Same here... But on Intel NUC that has Ubuntu 18.04 installed...

If I restart `cloudcore` on the server manually the `edgecore` is connected.

[2020-04-01 10:11] hanneshoettinger commented on #1217
Getting the same error:
`failed to "CreatePodSandbox" for "nginx-deployment6-7bb7ff7d5d-n2lzw_default(8b005a98-ccff-4b11-b651-a63d75ef502e)" with CreatePodSandboxError: "CreatePodSandbox for pod \"nginx-deployment6-7bb7ff7d5d-n2lzw_default(8b005a98-ccff-4b11-b651-a63d75ef502e)\" failed: rpc error: code = Unknown desc = cri-o configured with systemd cgroup manager, but did not receive slice as pare

[2020-04-01 13:58] chenjie222 commented on #1575
also encountered the same problem. My cloudcore is centos system, edgecore is Ububtu system,
Can you tell me how you solved it

[code]

[2020-04-02 06:55] chenyg0911 commented on #1575
same problem. +1

[2020-04-02 07:57] kkBill commented on #861
# ip a s eth0
Device "eth0" does not exist.
I have the same question. And it shows above. What should I do next?

[2020-04-02 09:30] Toper2035 opened #1576 "too many PODs at Terminating status when edgeNode is notReady"
**What happened**:

**What you expected to happen**:
Fill hosname field with edge node to kubernetes deployment object, after edge node is at notReady status for a while, there're no so many terminating status PODs.

**How to reproduce it (as minimally and precisely as possible)**:
deploy a POD to a specify edge node, then disconnect the network of the edge node for a while, then use kubectl to ge

[2020-04-02 09:54] harmful1980 opened #1577 "edgecore占用443端口问题"
我的环境是一台机器cloudcore，三个机器是edgecore
但是发现有的机器上的edgecore会占用443端口，有的机器则不会占用443端口
请问这是什么原因？
[root@w-live07 ~]# netstat -panl|grep 443
tcp        0      0 9.251.0.1:443           0.0.0.0:*               LISTEN      142666/edgecore

[root@w-live08 ~]# netstat -panl|grep 443
[root@w-live08 ~]#

[2020-04-02 09:58] harmful1980 opened #1578 "为什么edgecore会 “Failed to get host IP”"
在edgecore的日志中看到如下错误信息
failed to read pod IP from plugin/docker: Couldn't find network status for default/kcs-deployment-7fbb5bb8db-gtp6q through plugin: invalid network status for

 Failed to get host IP: failed to get network interface: eth0 err:route ip+net: no such network interface
请问一下，出现这个错误的原因是什么？谢谢

[2020-04-02 10:00] harmful1980 commented on #1578
忘记说了，我用的版本是1.17.1

[2020-04-02 10:11] harmful1980 opened #1579 "register node failed, error: timeout to get response问题"
我的实验环境中其中一个机器的edgecore启动一段时间后就从ready状态变成了NotReady状态
日志里的错误信息是
register node failed, error: timeout to get response
Register node failed: timeout to get response
意思是说注册节点超时，但为什么刚开始时是好的，经过一段时间就不行了，而且从这个机器telnet cloudcore的10000端口是可以通的，而且同一集群里其他机器的edgecore没有这个问题
我的网络环境是在同一机房里。且每个机器上的防火墙都关闭了，
请问造成节点注册响应超时的原因是什么？
我用的版本是1.17.1,谢谢

[2020-04-03 11:32] fisherxu commented on #1578
EdgeCore配置里有`interfaceName`,默认是eth0，如果你的环境上没有eth0，换成其他的网卡就行

[2020-04-03 11:36] fisherxu commented on #1578
/close

[2020-04-03 11:36] #1578 closed

[2020-04-04 07:46] majoyz opened #1582 "Edge can get message but can't get pod"
**What happened**:
I try to run a simple deployment:
[code]
But the status is ContainerCreating for hours. The describe:
[code]
The log in edge:
[code]
I think the problem in th log is:
[code]
But I don't know how to fix it.
**What you expected to happen**:
Run the pod on edge

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`):  v1.2.1
**CloudSide Environment**:
- Hardware c

[2020-04-05 04:09] JonasChengAsus opened #1583 "Amend readme (https://github.com/kubeedge/kubeedge/tree/master/build/cloud)"
**What would you like to be added/modified**:

These four resources are required to be created after `for resource in $(ls *.yaml); do kubectl create -f $resource; done`, otherwise the cloudcore service never get started.

[code]

**Why is this needed**:

Without these four resources, you will keep seeing error log below

[code]

[2020-04-05 05:34] ProdanLabs opened #1584 "kubeedge does not support scale and set image?"
When performing scale and set image operations, Pod is Pending，port occupied....
**What happened**:
[code]
**Environment**:
[code]

**CloudSide and EdgeSide Environment**:
[code]

[2020-04-06 16:12] SemiLavender opened #1585 "Scheduling Problem"
# Scheduling Problem
When the edge node loses contact, K8s whether it will dispatch apps of the edge node to other edge nodes？

[2020-04-07 01:43] fisherxu commented on #1585
KubeEdge uses the k8s scheduler without any modification, Whether to dispatch apps to other edge nodes depending the strategy you configure. You can configure whether to dispatch to other nodes according to your needs.

Ref: https://v1-17.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#toleration-v1-core

https://v1-17.docs.kubernetes.io/docs/concepts/configuration/taint-and-tole

[2020-04-07 01:57] #1585 closed

[2020-04-07 09:18] openedhardware commented on #1562
@fisherxu

Any update on this feature?

This issue is killing me! 😄

[2020-04-07 09:28] fisherxu commented on #1562
Now we start edgecore just as a process, in future, edgecore will be started as a system service in `keadm join`, system will help us to restart it :)
But the development work is still pending...

[2020-04-08 01:51] kevin-wangzefeng commented on #1311
Closing as v1.2.0 is released on Feb 10th.
https://github.com/kubeedge/kubeedge/releases/tag/v1.2.0

/close

[2020-04-08 01:51] #1311 closed

[2020-04-08 01:53] kevin-wangzefeng commented on #454
Closing in favor of https://github.com/kubeedge/kubeedge/issues/454

/close

[2020-04-08 01:53] #454 closed

[2020-04-08 02:44] bitvijays commented on #1006
@fisherxu @kevin-wangzefeng We probably can close this issue.

[2020-04-08 02:47] bitvijays commented on #1095
Pull Request https://github.com/kubeedge/kubeedge/pull/1565 should fix this.

[2020-04-08 02:49] bitvijays commented on #1117
@fisherxu Maybe we can close this?

[2020-04-08 02:51] bitvijays commented on #1118
@subpathdev @fisherxu Maybe we can close this? It's been a while.

[2020-04-08 02:53] bitvijays commented on #1308
@subpathdev @fisherxu Maybe we can close this. I was able to compile and run latest KubeEdge on Raspberry Pi and ubuntu machines.

[2020-04-08 02:56] bitvijays commented on #1389
@fisherxu @subpathdev We can close this issue. Document has been updated regarding this. The user didn't change directory before creating the link.

[2020-04-08 02:57] bitvijays commented on #1417
@ghost @JingruiLea What are the problems you are facing in the docs? We have improved the documents. Is there any thing specific you want us to improve.

[2020-04-08 04:26] anumercian opened #1586 "nodePort not working"
**What happened**: I am trying to setup a service and expose the node port so that I can access the service using <cloudcore-IP>:<port> but I am unable to access the service when the pod is running on the edge node.

I tried host port to expose a pod and that work well.

**What you expected to happen**:
I should be able to access the service on the nodeport on the cloudcore node.

**How to reprodu

[2020-04-08 06:27] fisherxu commented on #1006
Agreed, let's close it :)
/close

[2020-04-08 06:27] #1006 closed

[2020-04-08 06:27] fisherxu commented on #1117
Let's close it.
/close

[2020-04-08 06:28] #1117 closed

[2020-04-08 06:28] fisherxu commented on #1118
/close

[2020-04-08 06:29] #1118 closed

[2020-04-08 06:29] fisherxu commented on #1308
/close

[2020-04-08 06:29] #1308 closed

[2020-04-08 06:29] fisherxu commented on #1389
/close

[2020-04-08 06:30] #1389 closed

[2020-04-08 08:59] xiedidan commented on #1579
常见问题，应该是KubeEdge处理节点重连有Bug，重启CloudCore或者EdgeCore都可以解决问题……

[2020-04-08 10:10] Toper2035 commented on #1584
The reason is you deploy this pod with host port, the second POD can't allocate the same host port, so new POD stay at pending status.

[2020-04-08 11:27] fisherxu commented on #1584
Agreed, you used the `hostPort` in container of Pod, which will use the `80` in the host, so the second pod can't running.

/close

[2020-04-08 11:27] #1584 closed

[2020-04-08 13:20] kadisi commented on #1014
task list:

- [ ] [update daemonEndpoints of node status when sync node status ](https://github.com/kubeedge/kubeedge/pull/1587)

[2020-04-08 14:56] fisherxu commented on #1282
This issue has been resolved :)
/close

[2020-04-08 14:56] #1282 closed

[2020-04-08 15:03] fisherxu commented on #1528
The issue has resolved :)
/close

[2020-04-08 15:03] #1528 closed

[2020-04-09 00:53] kevin-wangzefeng commented on #1586
Hi Anu, NodePort isn't currently supported is KubeEdge as in most cases, edge nodes would locate in different subnet with each other (and with cloud), edge nodes may even locate in a private network with no public IP. NodePort would break even it's impelemented. You may simply try hostport or `hostnetwork: true` for testing.

[2020-04-09 01:35] alesz commented on #1586
Working pod spec snippet example. `hostPost` and `containerPort` must be equal.
[code]

[2020-04-09 01:39] fisherxu commented on #1586
If the `hostNetwork` has been set to true, the `hostPost` and `containerPort` can be omitted :)

[2020-04-10 04:17] fisherxu commented on #1187
@parkeunsoo  Are you free to help review the translation of Kubeegde's Korean documents? https://github.com/kubeedge/website/pull/68

[2020-04-10 04:46] parkeunsoo commented on #1187
@fisherxu Sure, Exactly what documents should be reviewed? And what should I focus on?

[2020-04-10 06:31] fisherxu commented on #1187
kubeedge/website#68 Just this PR, help check if some translation words are appropriate, you can see the deploy preview here.
![image](https://user-images.githubusercontent.com/28776356/78968767-fa3de700-7b37-11ea-9b4d-8fa9bb2e5fc6.png)

[2020-04-10 13:25] parkeunsoo commented on #1187
@fisherxu I've read it all and it seems to have been properly translated. :)

[2020-04-11 01:03] bretagne-peiqi opened #1591 "Support more flexible deviceprofile config for Mapper module"
**What would you like to be added/modified**:

We hope to make DeviceModels a general part, as devicemodels is bind with one kind of device,
while deviceInstances and propertyVisitors are for a specific device of one kind.

In case of multiple deviceInstances and multiple propertyVistors, we can't figure out which propertyVistor relates to which deviceInstance for the current config format. So we

[2020-04-11 01:05] bretagne-peiqi commented on #1591
besides, we hope to add sample frequency config option for attribues, like cycle 30000

[2020-04-11 01:08] bretagne-peiqi commented on #1544
make

[2020-04-11 01:09] bretagne-peiqi commented on #1544
mark

[2020-04-13 02:05] fisherxu commented on #1187
Ok, thanks very much!! @parkeunsoo

[2020-04-13 03:47] lmxia opened #1592 "flannel pod stucked at ContainerCreating status"
**What happened**:
[code]
**What you expected to happen**:
daemonset flannel running on kubeedge node.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
the edgecore loginfo:

I0413 11:43:10.439639    2212 edged.go:764] start to consume added pod [flannel-hq6xz]
E0413 11:43:10.441663    2212 edged.go:714] worker [2] handle pod addition item [fl

[2020-04-13 09:37] weili10 opened #1593 "bad anonName for sync message"
**What happened**: The sync message from cloud to edge didn't get response, and the logs on edge side show that the anonMane not found.
![image](https://user-images.githubusercontent.com/23713896/79110608-69704100-7dad-11ea-8681-62d2f1a58dd3.png)

**What you expected to happen**: A sync message (like query some resources) could get proper response.

**How to reproduce it (as minimally and precisel

[2020-04-14 04:02] kevin-wangzefeng opened #1595 "Auto inject configmap for device mappers"
**What would you like to be added/modified**:
For a device mapper, currently the configmap would be automatically generated by device controller, but users need to manually indicated the configmap name in podSpec, which doesn't make sence.

We can simply make admission controller to auto inject devicemapper relevant configmap  to podSpec.

**Why is this needed**:

Ref: https://github.com/kubeedge/

[2020-04-14 04:05] kevin-wangzefeng commented on #1595
/label good-first-issue

[2020-04-14 10:14] joshuafc commented on #1562
@openedhardware This workaround solved my problem, now I can `join` success. Thanks!
I am newcomer to kubeedge, k8s and docker. I don't know what to do without your post.
Thanks again!

[2020-04-14 10:42] anumercian commented on #1586
Thank you for your suggestions @kevin-wangzefeng, @alesz , @fisherxu . If I have a service file with my deployment, using hostNetwork, can I omit the service file while deploying with kubeedge?

I have a scenario where my app, needs to be listening on port 8080. But edgecore seems to have http-alt on port 8080, so I am having a port conflict.

[2020-04-14 12:39] kevin-wangzefeng commented on #1586
In this case you can map 8080 to another hostPort, e.g.:
[code]

[2020-04-14 17:56] anumercian commented on #1586
Thank you @kevin-wangzefeng , in this case, I can use hostNetwork along with hostPort? In which case, I map containerport to a different hostPort to avoid port conflict? Just checking to be sure.

[2020-04-15 05:57] kevin-wangzefeng commented on #1586
Simply remove `hostNetwork:true` when you mannually indicated hostPort.

I would recommend to use hostPort more than `hostNetwork:true`, as the kube-scheduler would help avoid port conflict during scheduling phase.

[2020-04-15 07:16] #1217 closed

[2020-04-15 07:44] chendave commented on #1217
@hanneshoettinger pls try the latest code from master branch, the issue should be fixed.

[2020-04-16 09:43] hanneshoettinger commented on #1217
@chendave I have built edgecore with the latest code from master branch for ARMv7 and tried with CRI-O and containerd (containerd runs with version 1.2.1 very stable).
With the latest build I am getting the following error when using CRI-O (systemd):
[code]
cgroupfs:
[code]
and with containerd, which successfully runs with version 1.2.1:
[code]

[2020-04-16 18:05] anumercian commented on #1586
Thank you very much @kevin-wangzefeng . I think all my questions have been answered so I will close this issue for now. Thank you all.

[2020-04-16 18:05] #1586 closed

[2020-04-17 01:53] chendave commented on #1217
I cannot reproduce your issue, did you update your edgecore.yaml for different runtime?

[2020-04-17 02:07] chendave commented on #1217
This looks like to me your configuration is not correct, you are using "cgroupfs" but the error is from "systemd"

[2020-04-17 03:59] atimeless opened #1597 "use kubelet instead of edged to manage containers"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`):

**CloudSide Environment**:
- Hardware configuration (e.g. `lscpu`):
- OS (e.g. `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Go version (e.g. `go version`):
-

[2020-04-17 07:28] hanneshoettinger commented on #1217
Yes, I have updated edgecore.yaml and running crio/containerd + edgecore using systemd. When switching back to version 1.2.1 the node successfully connects and I am able to run containers at the edge using containerd.

Error message switching to the newest master branch:
[code]

[2020-04-17 08:26] chendave commented on #1217
I don't think systemd is workable with 1.2 release, you can see that it just return the driver name when the "remoteImageEndpoint" and "remoteRuntimeEndpoint" is not "/var/run/dockershim.sock".

https://github.com/kubeedge/kubeedge/blob/9d0dd7fc1bfb30040c7830ceffd2cd4d3dbe09b6/edge/pkg/edged/edged_pods.go#L549-L555

could you pls post us the relevant configuration in your "edgecore.yaml"?

[2020-04-17 08:32] hanneshoettinger commented on #1217
My edgecore.yaml config:
[code]

[2020-04-17 09:25] chendave commented on #1217
your edgecore configuration looks correct.  I try to rebuild everything based on master and still cannot reproduce the issue, the *only* difference is what I have done is on armv8 instead of armv7, is that matter? I don't know.

[2020-04-17 09:39] lmxia commented on #1592
Finally i solved this problem.
I am using TKE(Tencent Kubernetes Engine) to build k8s cluster. After remove the network manager "galaxy", and remove the flannel daemonset deployed by tke and redeploy the flannel from [coreos-flannel](https://raw.githubusercontent.com/coreos/flannel/2140ac876ef134e0ed5af15c65e414cf26827915/Documentation/kube-flannel.yml) then i worked.

[2020-04-17 09:39] #1592 closed

[2020-04-17 09:55] lmxia commented on #1582
I tested  your deployment yaml , I am working good.
You may need to show more logs on edge code:
Try:
[code]
the error may happened in kuberuntime_manager.go

[2020-04-17 10:12] hanneshoettinger commented on #1217
ok, thanks for checking. Will investigate further :)

[2020-04-20 02:40] #1406 closed

[2020-04-20 08:44] kevin-wangzefeng opened #1599 "Expose --node-labels and --register-with-taints in EdgeCore config"
**What would you like to be added/modified**:
expose `--node-labels` and `--register-with-taints` in EdgeCore Config
**Why is this needed**:
`--node-labels` and `--register-with-taints` are very useful configs when setting up a new node. We should support them in EdgeCore Config

[2020-04-20 08:45] kevin-wangzefeng commented on #1599
Part of https://github.com/kubeedge/kubeedge/issues/1171

[2020-04-20 09:59] drcwr commented on #1575
This may be #1557

[2020-04-20 16:58] plochon opened #1602 "nvidia-device-plugin daemonSet pod stuck in pending status"
**What happened**:

[code]

[code]
[code]

edgecore log excerpt =
[code]
Full log =
[edgecore.log](https://github.com/kubeedge/kubeedge/files/4504877/edgecore.log)

**What you expected to happen**:
Pod in Running status

**How to reproduce it (as minimally and precisely as possible)**:
`kubectl apply -f https://github.com/NVIDIA/k8s-device-plugin/blob/master/nvidia-device-plugin.yml
`

**Anything

[2020-04-21 04:50] Robinsir opened #1603 "Add edge node faild"
i want to test kubeedge in vmware ,  have 2 node for this
[code]
k8s version : 1.15.1
system : centos 7
kubeedge:1.2.1
i had installed k8s ,and it works well.

then install  kubeedge with keadm
in master:
[code]
Follow this [document ](https://github.com/kubeedge/kubeedge/blob/master/docs/setup/kubeedge_install_keadm.md)
copy certs.tgz from cloud host to edge host(s)
it seems ok.
but at node:
[cod

[2020-04-21 05:52] fisherxu commented on #1603
Please confirm whether the release package is downloaded at the node

[2020-04-21 06:31] Robinsir commented on #1603
Thank you for your reply.I didn't find any relevant files in master or node .Shouldn't it be downloaded automatically with keadm?That's the problem. I'll try another installation way later. Do you have any Suggestions about install Except to use [this document](https://github.com/kubeedge/kubeedge/blob/master/docs/setup/kubeedge_install_keadm.md) ?

[2020-04-21 08:10] fisherxu commented on #1603
You can also try to install from sourcecode https://github.com/kubeedge/kubeedge/blob/master/docs/setup/develop_kubeedge.md

[2020-04-21 09:33] linzhaoming commented on #1603
+1,

I got the same issue when installed at my cluster.

k8s version : 1.15.10
system : centos 7
kubeedge:1.2.1

[2020-04-21 12:09] Robinsir commented on #1603
[code]
I made it install from sourcecode. Here are two blogs that might help.
https://www.cnblogs.com/kkbill/p/12600541.html
https://blog.csdn.net/subfate/article/details/104403257

I think kubeedge is a good project, but the documentation needs to be improved to get more people involved, Especially for Chinese 😆

[2020-04-21 12:11] Robinsir commented on #1603
@fisherxu @linzhaoming

[2020-04-21 12:21] #1603 closed

[2020-04-21 12:32] kevin-wangzefeng commented on #1603
@Robinsir
Thanks for the feedback, very useful to project improvement. Would you like to make some contribution by the way?

[2020-04-21 12:41] Robinsir commented on #1603
Sure, but not now.Maybe I will translate the official documents into Chinese and add some localization tips during the May Day holiday.

[2020-04-21 12:54] kevin-wangzefeng commented on #1603
No problem, take your time :-)

[2020-04-22 02:12] ugvddm commented on #1544
mark

[2020-04-22 06:59] zjinys opened #1608 "About twin value length"
I trying build a sample app under kubeedge, My scenarios is some application deploy on edge ,collect data send to cloud. The length of the data send to cloud may **be a few megabytes**, I trying to send the data use twin value, but I found the twin value's max length define in kubeedge in is 512 (in file edge/pkg/devicetwin/dtcommon/util.go@ValidateTwinValue).

So should I send my business data wi

[2020-04-22 08:55] Robinsir commented on #1226
I've tried it. It works.
[code]
When configuring cloudcore Notice the following,
[code]
Reference：https://docs.rancher.cn/k3s/configuration.html#_1-%E8%AE%BE%E7%BD%AEkubeconfig%E6%96%87%E4%BB%B6

Using k3s is probably the simplest Kubeedge deployment solution, and most people are barred from installing k8s.

[2020-04-22 09:07] fisherxu commented on #1226
Thanks for the useful information! And I think this issue can be closed now :)

/close

[2020-04-22 09:07] #1226 closed

[2020-04-22 18:22] bitvijays commented on #1602
https://github.com/kubeedge/kubeedge/issues/1574 -- This might be provide some information.

Also, (I might be wrong). It seems that the `nvidia-device-plugin` is for Nvidia Tesla devices, where as Jetson Nano/ TX2 implement tegra.

Also, what I tried was using [Nvidia L4T-Base](ttps://ngc.nvidia.com/catalog/containers/nvidia:l4t-base) to design the application and push that as the container on th

[2020-04-23 06:13] openedhardware commented on #1332
@borlandor
I'd like to send a custom message from cloudhub to an edge application.

Could you provide something to achieve this?

Thanks!

[2020-04-23 06:15] openedhardware opened #1609 "Custom message from CloudCore to EdgeCore"
**What would you like to be added/modified**:
I'd like to send a custom message from CloudCore to an edge device.

**Why is this needed**:
Sometimes we have to notice a device to do some action by sending a custom message.
Is there any way to trigger an action(send a message) on a given edge device?

[2020-04-23 08:03] dggonz opened #1611 "edge node is not fully registered automatically anymore"
**What happened**:
I updated both cloudcore and edgecore to git commit c966421. After doing that and restarting clean both cloudcore and edgecore in that order the edge node shows bu the registration is not complete. As the node is not labeled correctly and deployments don't work.

**What you expected to happen**:
I would expect the node to be fully registered as in the edgecore.yaml configuration

[2020-04-23 08:14] fisherxu commented on #1611
Is this lable `name="kube-edge.cassiopeia.local"` needed in your environment?

[2020-04-23 08:18] kevin-wangzefeng commented on #1611
`name=<nodename>` is replaced with `kubernetes.io/hostname=<nodename>`
To stay align with upstream Kubernetes [built-in labels](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#built-in-node-labels)

Ref: The PR changed built-in labels https://github.com/kubeedge/kubeedge/pull/1601/files

[2020-04-23 08:41] plochon commented on #1602
I confirm I'm trying to run nvidia-device-plugin on x86 platform with Tesla device with GPU drivers and nvidia-docker2 package properly installed (`docker run --runtime=nvidia --rm nvidia/cuda nvidia-smi` works fine)

[2020-04-23 09:36] dggonz commented on #1611
Hi,

I had to set it to be equal to the hostnameOverride field of the yaml. Otherwise deployments are not sent to the node running edgecore when I do kubectl create -f deployment.yaml

[2020-04-23 09:43] dggonz commented on #1611
BTW,

That commit also suggests that a number of labels are being set, which is not the case in my setup. There were no labels at all attached to the node when using:  kubectl get nodes --show-labels

Cheers,
Diego

[2020-04-23 09:46] fisherxu commented on #1611
![image](https://user-images.githubusercontent.com/28776356/80084986-389cc280-858a-11ea-96e9-048186320a4f.png)
In my env, the labels in nomal except the deleted `name` key. @dggonz

[2020-04-23 09:58] dggonz commented on #1611
I will give it another go, maybe I did a mistake somewhere

[2020-04-23 12:19] joshuafc commented on #1599
+1, this feature is very useful. When edge device deploy, we can directly add localization, device type and role to labels. Rather than record the node name, and append these information at data center.

[2020-04-23 12:41] borlandor commented on #1332
At present, KubeEdge cloud-edge channel only supports the control plane and simple status data reporting. You can only build the custom channel yourself, or use the cloud-edge EdgeMesh which will provided in the future version.

[2020-04-23 14:22] dggonz commented on #1611
It turns out for some reason the version of edgecore did not make it into my image so I was using an older one. I am going to close this issue assuming it is not there (I cannot say it for sure because edgecore is now crashing on start up). I am going to cut a new bug.

[2020-04-23 14:22] #1611 closed

[2020-04-23 20:55] dggonz opened #1612 "kubeedge fails to deploy to edge node"
**What happened**:
I updated to version v1.3.0-alpha.0.2+c96642161db763 both the cloud and the edge components. After restarting everything the edge node registers fine, however when I try to deploy an application the pod stays in state  Pending.

**What you expected to happen**:
The pod to start running

**How to reproduce it (as minimally and precisely as possible)**:
1) stop edgecore on the edg

[2020-04-24 01:18] kevin-wangzefeng commented on #1612
Could you share the deployment yaml you are using?
Maybe you have some nodeSelector configuration in the yaml.

[2020-04-24 04:28] ltlf opened #1613 "started edgecore on armv8 error：Cgroup subsystem not mounted: [memory]"
**What happened**:
when i started on armv8，what error happend：
![image](https://user-images.githubusercontent.com/16397723/80168616-e43f2480-8615-11ea-9603-dd427998f6f7.png)
E0424 02:24:57.679144   31694 edged.go:568] Failed to start device plugin manager system validation failed - Following Cgroup subsystem not mounted: [memory]
E0424 02:24:57.679274   31694 edged.go:262] initialize module error:

[2020-04-24 10:34] dggonz commented on #1612
Should the name: "kube-edge.cassiopeia.local" be replaced with hostname: "kube-edge.cassiopeia.local" ?

apiVersion: apps/v1
kind: Deployment
metadata:
  name: temperature-mapper
  labels:
    app: temperature
spec:
  replicas: 1
  selector:
    matchLabels:
      app: temperature
  template:
    metadata:
      labels:
        app: temperature
    spec:
      hostNetwork: true
      nodeSelector:

[2020-04-26 06:02] fisherxu commented on #1612
name: "kube-edge.cassiopeia.local"

In your deployment yaml, you use the `name: "kube-edge.cassiopeia.local"` label, which has been removed now, please use the `kubernetes.io/hostname=EDGE-NODE` label instead.

[2020-04-26 06:03] fisherxu commented on #1612
/close

[2020-04-26 06:03] #1612 closed

[2020-04-26 06:45] kevin-wangzefeng commented on #1602
Did you succeed deploying other pods to an edge node?
It seems failed syncing default token from cloud.
[code]

[2020-04-26 13:29] sheep94lion opened #1615 "edgecore fails to run"
**What happened**:
When I run `edgecore`, it fails with output:

**What you expected to happen**:
`edgecore` run normally.
**How to reproduce it (as minimally and precisely as possible)**:
run `sudo edgecore`
**Anything else we need to know?**:
My edgecore.yaml is:

[code]

Edge node can access cloud server using the `zthnhcwxog` interface as specified in edgecore.yaml. But the output of `sudo edg

[2020-04-26 13:53] fisherxu commented on #1615
Yes, this is the problem. Actually the ca here is not used... So now we have delete the code for checking this `CA`, and here you can touch the  `/etc/kubeedge/ca/rootCA.crt` file for workaround.

[2020-04-26 14:10] sheep94lion commented on #1615
Thanks! It runs successfully now!

[2020-04-26 15:34] fisherxu commented on #1615
Np, and close the issue now :)
/close

[2020-04-26 15:34] #1615 closed

[2020-04-27 01:17] sheep94lion commented on #1549
I met the same problem.
But my edge node did not pull the Nginx docker image.

`sudo docker images` on edge node shows nothing.

Log on edgenode:

My log on cloud side:

[2020-04-27 06:56] plochon commented on #1602
I succeeded in deploying nginx and a test application on an edgecore node but these applications do not use secrets. You can also see in the log the pod svclb-traefik (k3s related) which is also failing in retrieving secret.

[2020-04-27 14:36] plochon commented on #1609
I understand that, according to [DeviceTwin documentation page](http://docs.kubeedge.io/en/v1.2.1/modules/edge/devicetwin.html)

can be used to send information from the cloud to the device,
and

can be used to send information from the device to the cloud.

Can anybody confirm ?

[2020-04-28 08:15] guanzydev commented on #1613
cgroupDriver is cgroupfs?

[2020-04-28 08:16] ltlf commented on #1613
yes

[2020-04-28 08:17] ltlf commented on #1613
yes

[2020-04-28 13:28] plochon commented on #1602
Attached is the full log of edgecore, we can see that 2 pods are running fine and 2 others pods are stuck in Pending status and are not able to get secret.
`Warning FailedMount MountVolume.SetUp failed for volume "default-token-pjfbh" : get secret from metaManager failed, err: timed out waiting for the condition`
![pods](https://user-images.githubusercontent.com/61243441/80492218-feee0200-8963-11e

[2020-04-28 16:43] iszhyang opened #1619 "Failed to run edgemesh"
**What happened**:
When I test edgemesh against [edgemesh test-env-guide in latest doc](https://docs.kubeedge.io/en/latest/guides/edgemesh_test_env_guide.html), I can't get endpoints from `kubectl get endpoints`, and the service can't accessed by host
[code]
[code]

**What you expected to happen**:
edgemesh test successful

**How to reproduce it (as minimally and precisely as possible)**:
1. Build

[2020-04-29 09:17] lucklyblue opened #1620 "Unable to run cloudcore"
**What happened**:
Running cloudcore，type conversion failed

` Version: v1.2.1
24866 module.go:34] Module cloudhub registered successfully
24866 module.go:34] Module edgecontroller registered successfully
24866 module.go:34] Module devicecontroller registered successfully
module.go:34] Module synccontroller registered successfully
core.go:24] Starting module cloudhub
24866 core.go:24] Starting mod

[2020-04-29 09:37] kevin-wangzefeng commented on #1620
/cc @fisherxu
This should have been fixed on master, IIRC.

[2020-04-29 09:48] lucklyblue commented on #1620
Fix panic in cloudcore #1552

[2020-04-29 09:48] #1620 closed

[2020-04-29 14:11] zqdlove commented on #1545
same  question

[2020-04-29 15:12] OuFinx opened #1621 "Edge devices disappear from CloudCore"
**What happened**:

I installed CloudCore 1.2.1 on the ubuntu and connected to the EKS

I connected my edge device to CloudCore via `keadm join`. When I did `kubectl get nodes` I see nodes from my EKS and Edge device.

But when I rebooted my edge device (or switch off and then start on) my edge device disappeared from CloudCore.

In CloudCore logs I saw just:
`862 messagehandler.go:361] Node test-

[2020-04-29 15:46] SchroterQuentin commented on #291
We plan to use it on customer infrastructure with a deployment of one node per site (in a VM). And use kubeedge for easily updating each site independently of each other with a full application on site (reverse proxy, databases, web servers and workers). Our goal is to get the OTA update feature with the K8S features on edge inside a single a machine.

I'm not sure if this product is really mature

[2020-04-30 06:43] daixiang0 opened #1622 "`keadm join` only works at ubuntu"
Now `keadm join` use "apt-get install -y --allow-change-held-packages --allow-downgrades mosquitto" to install mosquitto, it only works on any linux distribution based on debian.

For `keadm`, it should better work as `kubeadm` does, not install pkgs in the binary.

[2020-04-30 06:58] daixiang0 opened #1623 "make lint not cover all codes"
Now `make lint` check codes by components, it miss check codes under pkgs and tests dirs.

I think run do lint check at root directory is enough.

[2020-04-30 07:12] kadisi commented on #1623
good

[2020-04-30 07:50] daixiang0 opened #1624 "local up script does not clean up indeed"
Run local up script then report following error:
[code]

[2020-04-30 09:45] kevin-wangzefeng opened #1627 "Flaky test: E2E_UPDATE_DEVICE_3: Update device instance for modbus protocol"
**Which jobs are failing**:
https://travis-ci.org/github/kubeedge/kubeedge/jobs/681391427

**Which test(s) are failing**:
E2E_UPDATE_DEVICE_3: Update device instance for modbus protocol

**Since when has it been failing**:
Has been flaky for a couple of weeks

**Reason for failure**:

**Anything else we need to know**:

Code: https://github.com/kubeedge/kubeedge/blob/master/tests/e2e/deployment/de

[2020-04-30 09:46] kevin-wangzefeng commented on #1627
/help

[2020-04-30 10:01] #1444 closed

[2020-04-30 10:11] #1624 closed

[2020-04-30 11:16] daixiang0 opened #1629 "Failed to get the latest KubeEdge release version"
When do not specify kubeedge version, keadm can not get latest version:
[code]

[2020-04-30 11:22] kevin-wangzefeng commented on #1629
It's for automatially fetching latest stable release. If fetching failed, will fallback on default.

Additionally, we can expose a parameter to accept user indicated version.

[2020-04-30 17:18] kevin-wangzefeng commented on #1621
Are you expecting the edge node stay existing or not?

[2020-04-30 17:18] fisherxu opened #1630 "Add certificate rotation for edge node"
**Why is this needed**:
At present, the edge nodes of KubeEdge only apply for certificates when they first started.
Because the certificates have a validity period, we need to automatically generate a new key and request a new certificate from the cloudcore periodically.

[2020-04-30 17:20] kevin-wangzefeng commented on #1621
The edge node may be removed due to EKS cloud provider checking failure for instances (edge node of course doesn't have an ECS instance).
You may try with the build from master branch, or mannually label edge node with `"node-role.kubernetes.io/agent"=""`

[2020-04-30 17:33] kevin-wangzefeng commented on #1561
Ref: https://github.com/kubeedge/kubeedge/issues/541

[2020-05-01 08:24] benjaminhuo commented on #541
https://github.com/kubeedge/kubeedge/pull/1573 I can see this PR has been merged
and the related issue https://github.com/kubeedge/kubeedge/issues/1561 has been added to v1.3 milestone.

[2020-05-02 07:25] iszhyang commented on #1619
I'm debugging the edgemesh module, and the cmd should be `curl http://nginx-svc.default.svc.cluster:12345`, rather than `curl http://nginx-svc.default.svc.cluster.local:12345`, in [Edgemesh test env config guide](https://docs.kubeedge.io/en/latest/guides/edgemesh_test_env_guide.html)

[2020-05-04 06:02] SidharthBansal commented on #1630
Hello @fisherxu , I am a fourth-year CSE student. I had done GSoC'18 at Public Lab(Ruby on Rails), Google Internship(Android), India and wrote two research papers in NLP(Python).
I am willing to get mentored for this issue for the Community Bridge program. Can you please help me in getting started with it and kubeedge?
Thanks

[2020-05-04 06:49] stacktasec commented on #1613
When I use ubuntu server 20.04 for raspberry, I met this error,
so I append this line
`cgroup_enable=memory`
to
`/boot/firmware/cmdline.txt`

resolved this.

[2020-05-04 07:54] sheep94lion opened #1634 "Edgecore fail to check the running environment: Kubelet should not running on edge node when running edgecore."
**What happened**:
When I run `sudo edgecore`:

`F0504 15:48:29.447172  416600 server.go:77] Failed to check the running environment: Kubelet should not running on edge node when running edgecore`

After `sudo service kubelet stop`, the problem still exists.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**

[2020-05-04 09:33] OuFinx commented on #1621
`To keep the edge nodes stay, when disconneted, you may try with the build from master branch"`
it seemed to me that I used the master branch
[code]

[2020-05-04 10:55] OuFinx commented on #1621
@kevin-wangzefeng I tried as you told me:
1. Build new version from master
2. Use label for edge node.

This is doesn't help. The edge device still disappear

[2020-05-04 11:17] sheep94lion commented on #1634
I uninstall kubelet and restart my computer. It works fine now.

[2020-05-04 11:17] #1634 closed

[2020-05-06 01:37] luogangyi commented on #1630
Can we just use cert-manager to do this ?
See https://cert-manager.io/docs/installation/kubernetes/

[2020-05-06 02:42] fisherxu opened #1635 "Deploy cloudcore as Kubernetes deployment in keadm init command"
**What would you like to be added/modified**:
Deploy cloudcore as K8s deployment instead of process, and K8s deployment can better manage the lifecycle of cloudcore.

[2020-05-06 03:10] fisherxu commented on #1630
See https://cert-manager.io/docs/installation/kubernetes/

@luogangyi  Thanks for your suggestion :) Previously, we have discussed applying for the certificate from K8s, but the edgecore's certificate request must be forwarded from cloudcore to K8s. Considering security and other issues, we finally made the certificate issuance in cloudcore, and edgecore only need to talk with cloudcore to apply t

[2020-05-06 03:16] fisherxu commented on #1630
@SidharthBansal  Sure, let's write a preliminary design document first :)

[2020-05-06 08:17] chendave commented on #1468
I think we can close this now.
/close

[2020-05-06 08:17] #1468 closed

[2020-05-06 08:53] daixiang0 commented on #1623
Now we use script to detect components and then run test, but for docs or codes under pkgs/tests, it can not cover.
@kevin-wangzefeng shall we change the test way or add those in `ALL_COMPONENTS_AND_LINT_FUNCTIONS`?

[2020-05-06 08:54] daixiang0 opened #1637 "clean up misspell"
Now there are lots of mistake about spell, should clean up them.
/kind cleanup

[2020-05-06 08:56] daixiang0 commented on #1637
I can not create a issue labeled as `kind/cleanup`, so i create this issue, feel free to change it.

[2020-05-06 11:05] DapengLan commented on #1144
hi, I also face the same issue. I don't have both files: /etc/kubernetes/admin.conf to $HOME/.kube/config.  Anyone can help?

[2020-05-06 11:08] fisherxu commented on #1144
How do you deploy K8s and how does your kubectl use kubeconfig?

[2020-05-06 11:13] DapengLan commented on #1144
Here is my configuration:
# uname -a
Linux kubeedgecloud 4.15.0-99-generic #100-Ubuntu SMP Wed Apr 22 20:32:56 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

I install Kubernete 1.8.0 using kuberadm, following the instructions here: https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

with command:
sudo apt-get update && sudo apt-get install -y apt-transport-https curl

[2020-05-06 11:15] fisherxu commented on #1144
Maybe you haven't created the K8s cluster. ref: https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/

[2020-05-06 11:58] DapengLan commented on #1144
Hi, I fixed the issue. after I initiate the K8s cluster and copy the path from /etc/kubernetes/admin.conf to $HOME/.kube/config.

thank you.

[2020-05-06 17:58] vaniisgh commented on #1630
Hey! I find this issue interesting too :) and would like to contribute to Kube Edge through Community Bridge!
Would it be ok if I create a google doc for a basic design document for this and sent it to you over Slack?

thanks & regards
Vani

[2020-05-07 03:48] jwang11 opened #1639 "Dynamic IP address in Edge side"
Just confirm with Kubeedge team if below feature is implemented
**What would you like to be added/modified**:
IP address of Edge side is dynamic or keep changing after running a period of time. In such case, Kubeedge should handle edge node, pod and other messages correctly.

**Why is this needed**:
In our case, IP address of Edge server is actually allocated from a IP Pool, which cause dynamic IP

[2020-05-07 06:12] bluefriday commented on #1549
In my case, my edge node could not pull sandbox image (ex : kubeedge/pause:3.1).
After change to connected repository, pending and terminating issued solved.

[2020-05-07 11:27] OuFinx opened #1641 "Pod has Pending status which installed to node"
**What happened**:
DaemonSet install deployment (Pod) in the node which was offline and now online and Pod stuck on the Pending status

**What you expected to happen**:
Deployment (Pod) successfully installed to the node (edge device)

**How to reproduce it (as minimally and precisely as possible)**:
1. You have 2 node. 1 online and 1 offline
2. You create DaemonSet with `nodeAffinity` (where is s

[2020-05-07 11:53] fisherxu opened #1642 "Add advertise address for cloudcore"
We have added the feature of certificate issuance in kubeedge, and now we need to add a filed `advertise-address` to specify the service address of the cloudcore, which will be used in the SANs of the cloudcore certificate.

And now in cloudhub, websocket/quic all have [Address](https://github.com/kubeedge/kubeedge/blob/master/pkg/apis/componentconfig/cloudcore/v1alpha1/types.go#L117) field, when

[2020-05-07 12:15] kevin-wangzefeng commented on #1642
/kind feature

[2020-05-07 12:23] kevin-wangzefeng commented on #1642
When advertise-address added, the multiple `address` fields under websocket, quic, https etc. can be combined.

[2020-05-07 12:31] kevin-wangzefeng commented on #1642
The multiple `address` fields can be combined into e.g. `bind-address` under cloudhub config, `advertise-address` may need to be an array of ip addresses.

[2020-05-07 22:05] shubhamgupta2956 commented on #1561
Hey,
I am a sophomore at IIT Roorkee. I am willing to get mentored for this issue for the Community Bridge program. Can you please help me in getting started with it?
Thanks

[2020-05-08 02:48] daixiang0 commented on #1627
Sometimes it pass, try to find a way not to use sleep.

[2020-05-08 03:23] fisherxu commented on #1642
Yes, let's combine the multiple address fields to bind-address and make advertise-address an array, which has been added to the task list :)

[2020-05-08 05:57] stacktasec opened #1644 "tls.X509KeyPair occur error"
**What happened**:
The code is the newest,
In cloud/pkg/cloudhub/servers/httpserver/server.go line 51:

https://github.com/kubeedge/kubeedge/blob/0c9eaeea339faf5644b655d10dcd1c08f83adfce/cloud/pkg/cloudhub/servers/httpserver/server.go#L51

When I gen certs follow the setup doc, and run cloudcore
I got this error:

_structure error: tags don't match (16 vs {class:0 tag:13 length:45 isCompound:true}

[2020-05-08 07:07] daixiang0 commented on #1644
How do you setup? I follow [this](https://github.com/kubeedge/kubeedge/blob/master/docs/setup/kubeedge_install_keadm.md) and all are fine.

[2020-05-08 07:15] stacktasec commented on #1644
I follow these files,

kubeedge_install_source.md
kubeedge_configure.md
kubeedge_run.md

[2020-05-08 11:16] #1629 closed

[2020-05-09 01:00] liutengfei0 opened #1648 "中国用户用不了google，如何访问mailing list"
**What would you like to be added/modified**:

**Why is this needed**:

[2020-05-09 01:45] #1648 closed

[2020-05-09 04:07] ls889 commented on #1644
@daixiang0

Hi! what is your kubeedge version?

[2020-05-09 04:17] ls889 commented on #1644
@stacktasec
The docs is not updated, the step <generate Certificates> in kubeedge_install_source.md will be deleted.

[2020-05-09 05:41] stacktasec commented on #1644
@ls889
Thanks! Everything runs expectedly!

[2020-05-09 05:41] #1644 closed

[2020-05-09 06:23] fisherxu commented on #1644
@ls889 Could you help update the docs here?

[2020-05-10 02:19] #1637 closed

[2020-05-12 01:50] jwang11 commented on #1639
Ping... Please confirm this feature is ready or not?

[2020-05-12 02:12] fisherxu commented on #1639
When the  IP address changed, will the edgecore reconnecnt to cloudcore?

[2020-05-12 02:43] fisherxu commented on #1630
@SidharthBansal  @vaniisgh  Can you please send a resume to me?

[2020-05-12 03:49] GsssC opened #1657 "Update the doucument of containerized deployment in build/cloud"
**Why is this needed**:

As the code is updated, the document in build/cloud for containerized deployment now is nolonger applicable for v1.3.

**What would you like to be added/modified**:

- [x] Add new document while retaining the original
- [ ] Add ingress yaml for exposing
- [ ] Display it in a conspicuous place, because there are always people asking for containerized deployment documents.

[2020-05-12 05:53] vaniisgh commented on #1630
I sent it over to you via email :)

[2020-05-12 06:01] fisherxu commented on #1561
@shubhamgupta2956 Could you please send a resume？

[2020-05-12 06:23] shubhamgupta2956 commented on #1561
Yeah sure. Can I share it here or should I share it on slack?

[2020-05-12 06:25] fisherxu commented on #1561
Just send to my email. :)

[2020-05-12 06:45] jwang11 commented on #1639
Yes, edgecore is wrapped into a systemd service.  It keep running anyway. Just would like to confirm, when IP change, the node won't be recoginized as a new node in k8s cluster

[2020-05-12 07:13] fisherxu commented on #1639
When the ip change, if edgecore restart, edgecore will read the ip from specify interface and report ip through node status. And if edgecore don't restart, it can't aware of  ip change.

Not sure whether the ip change will have affect to logs api.

[2020-05-12 07:13] fisherxu commented on #1639
cc @kadisi

[2020-05-12 09:20] harmful1980 opened #1658 "edgemesh 占用443端口与hostport使用443端口冲突问题"
问题描述：
cloudcore启动时会给kube-apiserver生成一个service
[root@w-live05 ~]# kubectl get service
NAME         TYPE        CLUSTER-IP   EXTERNAL-IP   PORT(S)   AGE
kubernetes   ClusterIP   10.96.0.1    <none>        443/TCP   49d
这个service被edgemesh拉到后会从虚拟设备edge0中取出一个未使用的IP来监听443端口
[root@w-live08 ~]# netstat -panl|grep 443
tcp        0      0 9.251.0.1:443           0.0.0.0:*               LISTEN      3060/edge

[2020-05-12 10:17] chenjie222 opened #1659 "How to stream the video from the side to the cloud?"
The video stream collected on the edge camera needs to be sent to the cloud for storage. Does kubeedge have this architecture diagram? Can this function be achieved? At present, mapper can directly collect the video stream to send to mqtt, and mqtt is to EventBUS, and then if it is stored in the cloud.

[2020-05-12 14:02] GsssC commented on #1561
Hellow, I am a first-year graduate student of software college of zhejiang university. I'm familiar with kubeedge and am willing to get mentored for this Community Bridge program.
Thx

[2020-05-12 14:10] ls889 commented on #1561
Hey！
I am a first-year graduate student from ZJU, majoring in software engineering. I'm familiar with kubeedge and glad to get mentored for this Community Bridge program.
Thanks!

[2020-05-12 14:13] Poor12 commented on #1561
Hello, I am also a first-year graduate student of software college of zhejiang university. I'm familiar with kubeedge and metrics-server.We have already realized the adaptation of metrics-server on kubeedge a little and glad to get mentored for this Community Bridge program. Thx

[2020-05-12 14:13] fisherxu commented on #1561
@GsssC @ls889 Okey, please also send the resume to my email. :)

[2020-05-12 14:16] ls889 commented on #1561
@fisherxu ok!  btw,should I prepare my resume only in English?

[2020-05-12 14:18] fisherxu commented on #1561
Yes sure.

[2020-05-12 14:20] XJangel commented on #1630
Hi. @fisherxu I am a postgraduate student from Zhejiang University. I am also interested in this issue and would like to get mentored for this issue for the Community Bridge program. I am familiar with KubeEdge now and hope to make more contribution.
Thanks!

[2020-05-12 14:22] fisherxu commented on #1630
@XJangel   Can you also please send a resume to me?

[2020-05-12 14:25] XJangel commented on #1630
Sure! I'll send it to you.

[2020-05-12 16:40] chiru091096 opened #1660 "Telemetry data sent by edge device is not reaching cloud"
**What happened**:
Telemetry data sent by device doesn't go to cloud. The data read from the device is published by the scheduler to the topic "$ke/device/bluetooth-mapper/.../scheduler/result". Data isn't handled after that.

**What you expected to happen**:
Telemetry data to be sent to cloud.

**How to reproduce it (as minimally and precisely as possible)**:
Set up kubeedge 1.2.0.
Create simple

[2020-05-13 01:07] jwang11 commented on #1639
Thanks for clarification. So, if edgecore restart after ip change, kubeedge can handle it correctly, and won't be recoganized as a new node, right?

[2020-05-13 01:09] fisherxu commented on #1639
Yes, I think so. :)

[2020-05-13 01:41] jiaji2006 commented on #1658
我也有类似的情况...

[2020-05-13 06:54] luogangyi commented on #1609
@plochon TwinUpdate/Sync is used to sync device twin property.
If you add a String property in twin, you can send the msg through update this String propperty.
But your mapper should be able to deal with this msg.

Any other way is update configMap which used by mapper, this way is a bit slower to take effect

[2020-05-13 10:37] luogangyi commented on #1595
@kevin-wangzefeng I don't think this would be easy to accomplish.
mapper is a normal deployment, no special property could be used to determine whether it is a mapper.
If we demand all mapper  labeled xxx-mapper, we still have to incercepts all deployments or pods first.

[2020-05-13 10:46] luogangyi commented on #1279
The configmap used by mapper is named(hard coded) as  _device-profile-config-<edge_node_name>_, you have to add configutaion like below in your mapper spec
`
    spec:
      containers:
      - name: xxx
        image: xxxx
        volumeMounts:
        - name: xxx-config-volume
          mountPath: xxxx
      volumes:
      - name: xxx-config-volume
        configMap:
          name:  device-prof

[2020-05-13 11:58] liupeidong0620 opened #1662 "Where is the documentation for deploying the cni plugin?"
I want to use the k8s cni plugin for networking, what should I do？
Are there any documentation or examples?

[2020-05-13 13:48] luogangyi commented on #1660
I find this problem too. It should be another module to deal with "$ke/device/bluetooth-mapper/.../scheduler/result", but that module is not in repo.

[2020-05-13 14:48] jwlai opened #1665 "Basic Guide to install w/o keadm"
I was wondering if there was a quick guide to manually install KubeEdge into my Cluster (EKS in AWS). I can't seem to find basic installation instructions. After digging around I found https://github.com/kubeedge/kubeedge/blob/master/build/cloud/README.md

Are there instructions for a basic set of things to install to function (Other than architecture diagram)?

[2020-05-13 16:56] zzxgzgz commented on #1665
Check this [Development Guide](https://github.com/kubeedge/kubeedge/blob/master/docs/setup/develop_kubeedge.md) out.

[2020-05-14 01:55] daixiang0 commented on #1658
使用443是方便client调用吗？

[2020-05-14 03:38] fisherxu commented on #1665
Yes, this is right :)

/close

[2020-05-14 03:38] #1665 closed

[2020-05-14 07:00] GsssC commented on #1662
1. close edgemesh "modules.edgemesh.enable: false"
2. add a new field "modules.edged.networkPluginName: cni"
3. confirm all feture used in cnipod.spec.containers are  supported by edgecore.
4. run cni.yaml .

[2020-05-14 07:34] fisherxu commented on #1639
Close the issue first, please let us know if have any questions. :)
/close

[2020-05-14 07:34] #1639 closed

[2020-05-15 05:33] luogangyi commented on #1591
/assign

[2020-05-15 05:38] luogangyi commented on #1591
We have discuessed this topic with kubeedge team and other iiot experts serveral times.
Now, we have reach some consensus, please see the proposal.

[2020-05-15 07:01] #1662 closed

[2020-05-17 09:25] darunshen opened #1688 "Failed to get the latest KubeEdge release version, will use default version"
**What happened**:
sometimes print the title line sometimes not
**What you expected to happen**:
should not print this line
**How to reproduce it (as minimally and precisely as possible)**:
execute 'keadm join args' a few times
**Anything else we need to know?**:
kubeedge/keadm/cmd/keadm/app/cmd/util/common.go:

[code]
 `latestRelease.TagName` will be assigned to `latestVersion` in file `kubeedge/

[2020-05-17 15:53] benjaminhuo opened #1689 "Collecting metrics on the edge (containers and nodes) and then send to Cloud"
I noticed key features like below was mentioned in kubeedge annual review: [Collecting metrics of containers on the edge from Cloud](https://github.com/cncf/toc/pull/440/commits/10118bc880c5a5a9423a2c4a5f2cac1f3774f248#diff-e9dc5bcb93599ba622b4e3e626fdd4eeR109)

And also noticed a feature in the latest 1.3 release notes that `Add metrics interfaces at edge`
So the edge metrics interface feature in

[2020-05-17 16:09] benjaminhuo commented on #1561
I just open a similar issue https://github.com/kubeedge/kubeedge/issues/1689 . Looks like the requirement is quite similar with this.

Glad to know if KubeEdge has any plan on this feature and I'm happy to participate in the development

[2020-05-17 16:54] mixalako opened #1690 "Can Kubeedge support a custom scheduler in the cluster just like K8s?"
Deploying a custom scheduler is going right away at the edge from the default scheduler , which is not what is expected.
**What would you like to be added/modified**:

**Why is this needed**:

[2020-05-18 07:21] luogangyi commented on #1690
Do you mean your  custom scheduler  is scheduled to edge node ?
You can try add a normal node in your k8s,  and use nodeSelector to force your custom scheduler pod to be run at that normal node.

[2020-05-18 07:47] daixiang0 opened #1691 "edgecore failed to run in arm64 container"
**What happened**:

Edgecore failed to run in arm64 container:
[code]

**What you expected to happen**:

Run as expected.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Environment**:
- KubeEdge version: v1.3.0

[2020-05-18 09:43] Poor12 opened #1692 "Edgecore disconnects from Cloudcore when Edgecore restarts frequently"
**What happened**:
Edgecore disconnects from Cloudcore

**What you expected to happen**:
Cloudcore and Edgecore are connected normally

**How to reproduce it (as minimally and precisely as possible)**:
When the connection is normal, restart edgecore 5 times in a row

Anything else we need to know?**:
Logs from cloudcore:

**Environment**:
- KubeEdge version 1.3.0 latest

**CloudSide Environment**:

[2020-05-18 09:49] fisherxu commented on #1692
The KubeEdge version maybe wrong in the issue description :)

[2020-05-18 10:16] mixalako commented on #1690
You want your scheduler to run on the master node in replacement of the default.

[2020-05-18 10:19] Poor12 commented on #1692
Sorry,my mistake,and sincerely my best wish for you at this important day.

[2020-05-18 12:57] darunshen opened #1694 "cannot unmarshal string into Go struct field Edged.volumeStatsAggPeriod of type time.Duration"
**What happened**:
/var/log/kubeedge/edgecore.log have error:
[code]
**What you expected to happen**:
should not print this error
**How to reproduce it (as minimally and precisely as possible)**:
execute 'keadm join ...',then look at the log file
**Anything else we need to know?**:
kubeedge/keadm/cmd/keadm/app/cmd/util/common.go:

**EdgeSide Environment**:
- edgecore version (e.g. `edgecore --vers

[2020-05-18 17:04] zzxgzgz commented on #1694
Same problem here.

I looked into the code, it is trying to parse this field in the config file("1m0s") into a time.Minute(60000000000), I think it is an error caused by type mismatch.

[2020-05-18 17:13] GsssC commented on #1641
Is there any “write error: “ in log of cloudcore shown as #1692 ?

[2020-05-18 17:21] GsssC commented on #1576
Is there any “write error: “ in log of cloudcore? Like #1692

[2020-05-18 18:29] theadityasam commented on #1630
Hey @fisherxu. Unfortunately I'm a bit late to the party, would you still consider applications for the mentorship program right now? Should I mail you my resume alongwith the cover letter?

[2020-05-19 01:06] daixiang0 commented on #1691
After test, i found the root cause is that i run it in VM.
To run as expect in container in VM, need to run below cmd:
[code]

[2020-05-19 02:00] darunshen commented on #1694
Maybe .
Everytime running `'keadm join ...`, the `/etc/kubeedge/config/edgecore.yaml` will be recreated, and `volumestatsaggperiod`'s default value `1m0s` is written , then cause the error above by edgecore.

[2020-05-19 07:58] fisherxu commented on #1630
@theadityasam  Yes, it's a bit late now :) Please follow the next round.

[2020-05-19 07:59] theadityasam commented on #1630
Okay, sure! Thanks for the update :)

[2020-05-19 09:31] liupeidong0620 opened #1696 "csi cannot be used？"
- Follow the documentation example [csi](https://github.com/kubeedge/kubeedge/blob/master/docs/proposals/csi.md)
Failed to run `Statefulset`.

- error log
[code]

- kubeedge version
[code]

- `Statefulset` example for CSI HostPath Driver on cloud

[code]

[2020-05-20 03:35] daixiang0 commented on #30
@fisherxu could close this?

[2020-05-20 05:28] luogangyi opened #1699 "Init websocket connection failed remote error: tls: handshake failure"
**What happened**:
edgecore cannot connect to cloudcore. I have try both websocket and quic.
logs as below
[code]
**What you expected to happen**:
edgecore  connected to cloudcore.

**How to reproduce it (as minimally and precisely as possible)**:
use latest version of kubeedge(version >= 1.3)
and use auto Certificates generating feature.

**Anything else we need to know?**:

**Environment**:
- Ku

[2020-05-20 05:32] luogangyi commented on #1699
I have inspect the CA and certificates are correctly fetch by edgecore.
I try to use openssl manually,
[code]

[2020-05-20 05:41] luogangyi commented on #1699
more digging,
Cloudhub use below method to config tls.
note **TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256** are configured as only cipher.

[code]
However, **ECDSA** are use to generate key, see below.
[code]
ECDHA key(and certificates) is not match RSA cipher, see openssl notes
[code]
So, I believe the mismatch of cipher and certificates caused  tls handshake failure

[2020-05-20 05:42] luogangyi commented on #1699
//assign

[2020-05-20 05:42] luogangyi commented on #1699
/assign

[2020-05-20 05:44] GsssC opened #1700 "Pod status can not be updated because of namespaces in message is wrong"
**What happened**:
I depoyed some pods which have different namespace on edgenode. At a unknown moment, I found my pods status gotten by "kubectl get -oyaml" are aways unready. Logs shows that message sent from edgenode is wrong in namespace.

**What you expected to happen**:
Pod status update normally

**How to reproduce it (as minimally and precisely as possible)**:
The bug may reproduce by rest

[2020-05-20 06:08] GsssC commented on #1700
/assign

[2020-05-20 06:09] GsssC commented on #1699
@XJangel @ls889

[2020-05-20 06:11] GsssC commented on #1692
/assign @GsssC

[2020-05-20 09:52] harmful1980 commented on #1658
443是https的默认端口，当client要访问https服务时，不需要告诉client端口，默认使用443就可以了

[2020-05-20 10:05] GsssC commented on #1700
![image](https://user-images.githubusercontent.com/29768082/82433663-59dacb00-9ac4-11ea-874a-8b2673b0f1bd.png)
data in edge-store(sqlite) is normal

[2020-05-20 10:05] sanbaideng commented on #1694
same problem in kebeedge v1.3.0

[2020-05-20 10:15] yzhao66 opened #1706 "Failed to unmarshal configfile /etc/kubeedge/config/edgecore.yaml: error unmarshaling JSON: while decoding JSON: json: cannot unmarshal string into Go struct field Edged.modules.edged.volumeStatsAggPeriod of type time.Duration"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`):

**CloudSide Environment**:
- Hardware configuration (e.g. `lscpu`):
- OS (e.g. `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Go version (e.g. `go version`):
-

[2020-05-20 10:24] yzhao66 opened #1707 "Failed to unmarshal configfile /etc/kubeedge/config/edgecore.yaml: error unmarshaling JSON: while decoding JSON: json: cannot unmarshal string into Go struct field Edged.modules.edged.volumeStatsAggPeriod of type time.Duration"
**What happened**:
when i  vim /var/log/kubeedge/edgecore.log
show" Failed to unmarshal configfile /etc/kubeedge/config/edgecore.yaml: error unmarshaling JSON: while decoding JSON: json: cannot unmarshal string into Go struct field Edged.modules.edged.volumeStatsAggPeriod of type time.Duration
error unmarshaling JSON: while decoding JSON: json: cannot unmarshal string into Go struct field Edged.mo

[2020-05-20 13:10] luogangyi commented on #1707
Duplicate of #1694

[2020-05-20 16:33] mixalako commented on #1690
/assign

[2020-05-20 23:35] zzxgzgz commented on #1694
A work around for that is to run edgecore following the [Development Guild](https://github.com/kubeedge/kubeedge/blob/master/docs/setup/develop_kubeedge.md#run-kubeedge), and run it after manually changing this field in the  /etc/kubeedge/config/edgecore.yaml from "1m0s" to 60000000000.

[2020-05-21 02:22] yzhao66 commented on #1694
can you write the process？

Can you write the process?

[2020-05-21 05:13] bluefriday opened #1711 "ImagePullSecret's namespace is changed to default namespace"
**What happened**:
ImagePullSecret's namespace is changed to default namespace

**What you expected to happen**:
Running pod on edge node by using specific namespace's imagePullSecret.

**How to reproduce it (as minimally and precisely as possible)**:
Below there are logs about this problem.

**Anything else we need to know?**:

**Environment**:
- KubeEdge version : Both cloud/edge is KubeEdge v1.

[2020-05-21 05:17] bluefriday commented on #1711
I don't know if it's a bug, but if I change 'imagePullSecret' to 'default-secret', it works fine.
(In this case, I used 'kube-system' as the namespace too.)

[2020-05-21 07:25] faicker opened #1712 "kubectl logs failed"
**What happened**:
failed to exec kubectl logs on cloudcore.
the error is dial tcp 192.168.88.2:10350: connect: connection refused

**What you expected to happen**:
pod log showed

**How to reproduce it (as minimally and precisely as possible)**:
exec kubectl logs on cloudcore.

**Anything else we need to know?**:
on the edge node, listened at 127.0.0.1:10350

**Environment**:
- KubeEdge version(e

[2020-05-21 07:46] #1712 closed

[2020-05-21 09:16] fisherxu commented on #1706
The issue has been fixed in #1701, for workaround you can compile a keadm from master branch.

[2020-05-21 09:16] fisherxu commented on #1706
/close

[2020-05-21 09:16] #1706 closed

[2020-05-21 09:18] fisherxu commented on #1694
The issue has been fixed in #1701, for workaround you can compile a keadm from master branch, and we will release the fix in 1.3.1

[2020-05-21 09:18] fisherxu commented on #1694
/close

[2020-05-21 09:18] #1694 closed

[2020-05-21 09:18] fisherxu commented on #1707
The issue has been fixed in #1701, for workaround you can compile a keadm from master branch, and we will release the fix in 1.3.1
/close

[2020-05-21 09:18] #1707 closed

[2020-05-21 10:01] 12101111 opened #1714 "CloudCore 1.3.0 failed to run: failed to parse EC private key: asn1: structure error: length too large"
**What happened**:
run `keadm init` successfully but `cloudcore` failed to start
**What you expected to happen**:
`cloudcore` start successfully
**How to reproduce it (as minimally and precisely as possible)**:
`sudo keadm init --kubeedge-version=1.3.0`
**Anything else we need to know?**:
I want to test https://github.com/kubeedge/kubeedge/pull/1701
**Environment**:
- KubeEdge version(e.g. `cloudc

[2020-05-21 13:05] luogangyi commented on #1627
[code]
After add some logs and several times e2e tests, we got logs above.

From logs, we can see
1. not only E2E_UPDATE_DEVICE_3 case may fail, other *_UPDATE_DEVICE cases are also possible to fail.
2. we get an wrong value on deviceTwin[key].Expected.Value. and this value is not a nil value

we should dig into why deviceTwin[key].Expected.Value is set to "on", which step did this.

[2020-05-21 13:10] #1699 closed

[2020-05-21 13:47] luogangyi commented on #1627
[addDevice](http://assets.processon.com/chart_image/5eb3cd22e401fd06f2f16600.png)

I may find why.

Creating a new device instance with twin value also generates twin update msg.
So our test case may get the twin update msg from initial device creating which is not our expect and cause the failure on test case.

[2020-05-21 13:48] luogangyi commented on #1627
/assign

[2020-05-21 14:06] fisherxu commented on #1714
@12101111 #1701 now has been merged, for workaround, will you have a try that compile a keadm from master branch then install 1.3?

[2020-05-21 14:56] 12101111 commented on #1714
I already use keadm from master branch (test both fc95119f347386c8c05306e4e63cf695f5631e1f and 1d880504f4bf06de9bd6186e851888a66cb782ab)
And cloudcore still can't run:
[code]

[2020-05-21 15:20] fisherxu commented on #1714
@12101111  You can delete the `kubeedge` ns and all the info under it, then have a retry.

[2020-05-21 15:20] fisherxu commented on #1714
@12101111  You can delete the `kubeedge` ns and all the info under it, then have a retry.

[2020-05-21 15:37] luogangyi commented on #1714
[code]
cloudconfig.go still use rsa key, I think that is the problem

[2020-05-21 15:51] fisherxu commented on #1714
no, `cloudconfig.go` just used before 1.3, in 1.3 we don't use the certGensh any more.

[2020-05-21 21:05] dmosruby opened #1716 "Redhat Support for keadm"
**What would you like to be added/modified**:
Redhat Support for keadm

**Why is this needed**:
Redhat is a very common OS installed in the commercial space and right now the keadm won't even run because it only supports specifically CentOS and Ubuntu.

CentOS and Redhat are very alike and I was able to get the keadm running with only a couple minor changes in code in the `keadm/cmd/keadm/app/cmd/

[2020-05-22 01:14] 12101111 commented on #1714
Deleting `kubeedge` namespace solved this problem

[2020-05-22 01:14] #1714 closed

[2020-05-22 06:10] daixiang0 commented on #1716
Would you like to have a try and file a pr?

[2020-05-22 08:28] daixiang0 opened #1718 "TC_TEST_EBUS_6 failed in arm machine"
v1.3 `make integrationtest` fail:

[code]

[2020-05-22 09:39] #1623 closed

[2020-05-22 16:24] dmosruby commented on #1716
I can give it a shot 🙂 how would you suggest handling the installation of the `epel` release package and subscription manager enable commands?

[2020-05-23 07:09] fisherxu commented on #1711
`default-secret` is in default namespace?

[2020-05-23 13:09] varunshajimwang opened #1726 "Cannot connect to cloudcore in release-1.3"
**What happened**:
Trying to configure edgecore manually to cloudcore in amazon linux 2 .
copies across the certificates. added the ip for cloudcore in edgecore configuration
**What you expected to happen**:
expected the nodes to get registered
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**: error log
I0523 13:07:11.022009   11187 server.go:35

[2020-05-23 13:11] varunshajimwang commented on #1726
i couldn't find in doc anywhere how i add the IP SANS to the certificate. I used the default script in
./build/tools/certgen.sh .
I can connect using kubectl and get node status from the node.

[2020-05-23 13:13] varunshajimwang commented on #1726
kubeadm never works and says incorrect OS. hence had to do manual setup

[2020-05-23 13:35] varunshajimwang commented on #1726
If it try the approach of not adding the certs to the /etc/kubeedge/{cd,certs} then cloudcore doesn't start. It only start if I add the certs n there. the doc sin release 1.3 says not to add certs . but that way cloudcore doesn't works at all.

[2020-05-23 13:37] varunshajimwang commented on #1726
[root@ip-10-10-10-85 ec2-user]# cloudcore --version
KubeEdge v1.3.0-beta.0.35+762659a76da5c6

[2020-05-23 13:50] varunshajimwang commented on #1726
phew!! checked the code.. and found i have to remove the certs manually from k8s - [root@ip-10-10-10-85 ec2-user]# kubectl get secret -n kubeedge
NAME                  TYPE                                  DATA   AGE
casecret              Opaque                                2      3h27m
default-token-lsdp5   kubernetes.io/service-account-token   3      3h27m
tokensecret           Opaque

[2020-05-23 14:15] varunshajimwang commented on #1726
got it working except the kube-flannel-ds-amd64-s65kh in the edge node is shown as failing.

[2020-05-23 14:32] varunshajimwang commented on #1726
had to remove flannel and reapply
kubectl delete daemonset --selector=app=flannel -n kube-system
kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/2140ac876ef134e0ed5af15c65e414cf26827915/Documentation/kube-flannel.yml.
Now everything is good....

[2020-05-23 16:29] CocoPapa1995 opened #1727 "You must set CLOUDCOREIPS Env"
**What happened**:
I have set the CLOUDCOREIPS env:
echo $CLOUDCOREIPS
192.168.6.200

**but when i execute this instruction：**
sudo $GOPATH/src/github.com/kubeedge/kubeedge/build/tools/certgen.sh stream
You must set CLOUDCOREIPS Env,The environment variable is set to specify the IP addresses of all cloudcore
If there are more than one IP need to be separated with space.

**Those errors happened**

[2020-05-24 06:20] daixiang0 commented on #1727
I think it is a shell issue, with sudo, your environment values set by export does not pass to sudo, you can try `sudo -E` to pass the env.

[2020-05-24 06:22] daixiang0 commented on #1726
@varunshajimwang cool~

[2020-05-24 15:17] CocoPapa1995 commented on #1727
thank you very much！

[2020-05-24 15:17] #1727 closed

[2020-05-25 03:48] bluefriday commented on #1711
[code]
@fisherxu   Yes. 'default-secret' is in default namespace.

[2020-05-25 03:49] FeynmanZhou commented on #1689
@kevin-wangzefeng Is there any detailed doc to elaborate on the [Collecting metrics and logs of containers on the edge from Cloud](https://github.com/cncf/toc/pull/440/commits/10118bc880c5a5a9423a2c4a5f2cac1f3774f248#diff-e9dc5bcb93599ba622b4e3e626fdd4eeR110), or when will this feature be included in community meeting? Please let us know its details.

We would like to join KubeEdge community to im

[2020-05-25 07:51] guanzydev commented on #1726
self issued certificate return error：

E0525 14:40:03.795263   29818 server.go:235] failed to sign a certificate, error: failed to parse ECPrivateKey, err: x509: failed to parse EC private key: asn1: structure error: length too large
F0525 14:40:03.795288   29818 cloudhub.go:70] failed to parse ECPrivateKey, err: x509: failed to parse EC private key: asn1: structure error: length too large

[2020-05-25 07:53] fisherxu commented on #1726
@guanzydev Ref: https://github.com/kubeedge/kubeedge/issues/1714

[2020-05-25 07:58] fisherxu commented on #1726
Seems the issue has resolved, close it now :)
/close

[2020-05-25 07:58] #1726 closed

[2020-05-25 08:17] yzhao66 opened #1729 "Ca and CaKey don't exist, and will be signed by cloudcore，TLSCertFile and TLSPrivateKeyFile don't exist, and will be signed by cloudcore，failed to sign a certificate, error: failed to parse ECPrivateKey, err: x509: failed to parse EC private key: asn1: structure error: length too large， failed to parse ECPrivateKey, err: x509: failed to parse EC private key: asn1: structure error: length too large。"
**What happened**:
when i  cat /var/log/kubeedge/cloudcore.log
![image](https://user-images.githubusercontent.com/44268973/82792677-52d80200-9ea2-11ea-9ab4-85cad615c371.png)

**What you expected to happen**:
cloudcore running is healthy
**How to reproduce it (as minimally and precisely as possible)**:

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`):
1.3.0
**CloudSide Envi

[2020-05-25 08:19] fisherxu commented on #1729
Ref: https://github.com/kubeedge/kubeedge/issues/1714

/close

[2020-05-25 08:19] #1729 closed

[2020-05-25 09:22] yzhao66 commented on #1699
so,how to resolve this proble?

[2020-05-25 09:24] ls889 commented on #1699
[Pr1702](https://github.com/kubeedge/kubeedge/pull/1702)

[2020-05-25 13:30] #1627 closed

[2020-05-25 14:12] #1700 closed

[2020-05-26 09:00] yzhao66 opened #1732 "edge: Init websocket connection failed x509: cannot validate certificate for 10.0.10.35 because it doesn't contain any IP SANs"
**What happened**:

**What you expected to happen**:
  edge is running healthy
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`):
1.3.0
**CloudSide Environment**:
- Hardware configuration (e.g. `lscpu`):
Architecture:          aarch64
Byte Order:            Little Endian
C

[2020-05-26 09:08] yzhao66 commented on #1732
![image](https://user-images.githubusercontent.com/44268973/82882367-8cc50900-9f73-11ea-9634-b6a954dd8726.png)

[2020-05-26 09:39] CocoPapa1995 opened #1733 "edgecore can not join the cluster"
**What happened**:

tokendata: NDg5MmZmM2Y2MmU2MTM2NWQwZTAwMTQ4MmRhMWM5NTFlYjcwN2I5YWUzZjM3YTg3ZTAzNTJmODdjM2EwNDFmYy5leUpoYkdjaU9pSklVekkxTmlJc0luUjVjQ0k2SWtwWFZDSjkuZXlKbGVIQWlPakUxT1RBMU56QTRNVEI5LnpPdVVKSm9rMVR0VXMxcHJjRV9jTWJtdzlqeW5YUmVsQlRRMURhWDhoRDA=

**and i use this command:**
echo NDg5MmZmM2Y2MmU2MTM2NWQwZTAwMTQ4MmRhMWM5NTFlYjcwN2I5YWUzZjM3YTg3ZTAzNTJmODdjM2EwNDFmYy5leUpoYkdjaU9pSklVek

[2020-05-26 09:50] markwangC commented on #1714
The 'kubeedge' namespace would be re-created after running cloudcore with the same error info

[2020-05-26 14:55] luogangyi commented on #1732
try this
[code]
then restart cloudcore and edgecore

[2020-05-26 14:55] luogangyi commented on #1733
try this
[code]
then restart cloudcore and edgecore

[2020-05-27 01:58] yzhao66 commented on #1732
i hava done this process ,but still hava problems in edge .

details:
I0527 09:49:35.547777   23881 reconciler.go:156] Reconciler: start to sync state
E0527 09:49:40.233945   23881 ws.go:79] dial websocket error(remote error: tls: handshake failure), response message:
E0527 09:49:40.234032   23881 websocket.go:90] Init websocket connection failed remote error: tls: handshake failure
E0527 09:49:45

[2020-05-27 02:22] luogangyi commented on #1732
@yzhao66 not sure what version you are using.
recently, kubeedge team change the tls cypher from rsa to ecdsa and may cause some incompatibility.
I suggest upgrade both cloudcore and  edgecore to master branch, and try again.

[2020-05-27 02:35] yzhao66 commented on #1732
i

[2020-05-27 03:27] yzhao66 commented on #1732
i set up kubeedge as kubeedge.io's documents(git clone https://github.com/kubeedge/kubeedge.git $GOPATH/src/github.com/kubeedge/kubeedge
), i think the kubeedge version i hava clone is the master.

[2020-05-27 03:37] luogangyi commented on #1732
[code]
please run this in edge node, and post the result.

[2020-05-27 03:42] fisherxu commented on #1732
You need to add the `advertise-address` to cloudcore, which will be add to SANs in cloud certs.
Ref:
https://github.com/kubeedge/kubeedge/blob/master/docs/setup/kubeedge_configure.md#modification-in-cloudcoreyaml
https://github.com/kubeedge/kubeedge/blob/master/docs/setup/kubeedge_install_keadm.md#setup-cloud-side-kubeedge-master-node

[2020-05-27 03:43] fisherxu commented on #1732
The default value of advertise-address is the Local IP at host, if the exposed ip for cloudcore is not the local IP at host, you need change it through advertise-address.

[2020-05-27 03:59] GsssC commented on #1602
This is a bug shown in #1700 and fix by #1708 .

But for failing of getting secret from meta-manager, I guess you once deleted the edgecore.db, so cloudhub thought this secret had been successfully sent to edge, and revented this secret from being distributed, unless secret was updated. According to [reliable-message](https://github.com/kubeedge/kubeedge/blob/master/docs/proposals/reliable-message

[2020-05-27 05:13] yzhao66 commented on #1732
edge/ca/rootCA.crt -state
CONNECTED(00000003)
SSL_connect:before/connect initialization
SSL_connect:SSLv2/v3 write client hello A
SSL3 alert read:fatal:handshake failure
SSL_connect:error in SSLv2/v3 read server hello A
548095960864:error:14077410:SSL routines:SSL23_GET_SERVER_HELLO:sslv3 alert handshake failure:s23_clnt.c:769:
---
no peer certificate available
---
No client certificate CA names s

[2020-05-27 05:35] yzhao66 commented on #1732
when i use init command in cloudside,i had add the 'advertise-address'.

kubeedge configfile as below
[configfile.zip](https://github.com/kubeedge/kubeedge/files/4686626/configfile.zip)

[2020-05-27 05:47] luogangyi commented on #1732
looks same as #1699 .
It solved by update to kubeedge and remove old certs
can you check again your version?
run
[code]

[2020-05-27 06:06] yzhao66 commented on #1732
kubectl get nodes
![image](https://user-images.githubusercontent.com/44268973/82983555-e33d5080-a022-11ea-9730-8b1ab853e90d.png)

cloudcore --version
![image](https://user-images.githubusercontent.com/44268973/82983682-21d30b00-a023-11ea-9799-17c608046ac8.png)

edgecore --version
![image](https://user-images.githubusercontent.com/44268973/82983720-31eaea80-a023-11ea-9652-b3bfe2b7eda3.png)

[2020-05-27 06:24] luogangyi commented on #1732
I think it is becasue you use the updated cloudcore but v1.3.0 edgecore, they are incompatible.
you can compile edgecore manually,
see https://docs.kubeedge.io/en/latest/setup/kubeedge_install_source.html

[2020-05-27 07:44] GsssC opened #1736 "Failed to mount configmap/secret volume because of "no such file or directory""
**What happened**:
Failed to mount configmap/secret volume because of "no such file or directory". Although we can be sure that related resources are included in the sqlite.
[code]
**What you expected to happen**:
mount successffuly
**How to reproduce it (as minimally and precisely as possible)**:
Sorry for I can not provide the way of reproduction.
**Anything else we need to know?**:

**Environme

[2020-05-27 07:44] GsssC commented on #1736
/assign

[2020-05-27 08:08] ls889 commented on #1733
error: token credentials are in the wrong format means that the token loaded by edgecore don't have the correct format(four parts with three dots).but your token format is correct.
so maybe the token field in your edgecore has some format problems, causing edgecore read the wrong token.

try this format, keep one line.
[code]

[2020-05-27 08:12] GsssC commented on #1736
Logs that may be bug-related
[code]

[2020-05-27 08:26] varunshajimwang opened #1737 "failed to get edge certificate from the cloudcore, error: Get https://10.10.10.16:10002/edge.crt: x509: cannot validate certificate for 10.10.10.16 because it doesn't contain any IP SANs F0527 18:23:46.255993 527 edgehub.go:76] failed to apply for edge certificate, error: failed to get edge certificate from the cloudcore, error: Get https://10.10.10.16:10002/edge.crt: x509: cannot validate certificate for 10.10.10.16 because it doesn't contain any IP SANs"
Again this error came.. tried all debug approach.. edge core cannot just going.

[2020-05-27 08:36] varunshajimwang commented on #1737
recreated the token.. and it worked.

[2020-05-27 08:39] fisherxu commented on #1737
restart the cloudcore？

[2020-05-27 08:42] varunshajimwang commented on #1737
yeah.. but now new error
I0527 18:41:50.665377    2674 edged_status.go:392] Attempting to register node raspberrypi
E0527 18:41:54.981665    2674 ws.go:79] dial websocket error(remote error: tls: handshake failure), response message:
E0527 18:41:54.981927    2674 websocket.go:90] Init websocket connection failed remote error: tls: handshake failure
E0527 18:42:00.190359    2674 ws.go:79] dial webs

[2020-05-27 08:44] markwangC commented on #1732
i'm suffering the same issue here. I'm using the master codes, compiled cloudcore and edgecore manually.

[2020-05-27 09:20] plochon commented on #1602
Do you mean you want to make some tests on my environment ?

[2020-05-27 09:31] varunshajimwang commented on #1737
Is this relating to https://github.com/kubeedge/kubeedge/issues/1699 .
I am using release-1.3.
I got it working last day on x86 node. This tie the node is arm .. does that make a difference ?

[2020-05-27 09:34] GsssC commented on #1602
@plochon #1736 ,No~ I mean my bug is similar with you, may be the same reason.

[2020-05-27 09:36] varunshajimwang commented on #1737
root@raspberrypi:/home/pi/mwang/edgecore# edgecore --version
2020-05-27 19:35:42.631829 I | INFO: Install client plugin, protocol: rest
2020-05-27 19:35:42.632943 I | INFO: Installed service discovery plugin: edge
KubeEdge v1.3.0-beta.0.35+762659a76da5c6-dirty

[root@ip-10-10-10-16 ec2-user]# cloudcore version
I0527 09:36:15.806068   26768 server.go:58] Version: v1.3.0-beta.0.35+762659a76da5c6

[2020-05-27 09:54] plochon commented on #1602
@GsssC OK thank you, really interested in a fix.

[2020-05-27 10:00] luogangyi commented on #1732
@yzhao66 is it ok now?
@markwangC I have try latest code and bring up a new cluster, no error happens.
can you show this
[code]

[2020-05-27 10:07] CocoPapa1995 commented on #1733
i tried these step，but it still dosen‘t work

[2020-05-27 10:07] CocoPapa1995 commented on #1733
i tried these step，but it still dosen‘t work

[2020-05-27 10:11] ls889 commented on #1733
Can you post edgecore.yaml?

[2020-05-27 10:30] CocoPapa1995 commented on #1733
i tried again and it begin working！！！
thank you very much

[2020-05-27 10:30] #1733 closed

[2020-05-27 11:07] varunshajimwang commented on #1737
Just confirmed that -
The same release in x86 server works and successfully registers the node. But in RPI (armV6) fails. And the binary created shows version as '<release tag>-dirty' . Does it mean that test for arm and hence binary get version as dirty ? I use the same release for both builds.Can i take the latest build for edge core in raspberry or should i also upgrade cloudcore ?

[2020-05-27 11:28] varunshajimwang commented on #1737
tested with latest master for edgecore in raspberry and still the same error.this time the build binary don't have the 'dirty' in the version . Still errors are the same

I0527 21:26:06.836521   17877 edged.go:1006] result content is []
E0527 21:26:11.700505   17877 ws.go:79] dial websocket error(remote error: tls: handshake failure), response message:
E0527 21:26:11.700667   17877 websocket.go:90

[2020-05-27 11:31] varunshajimwang commented on #1737
Using openssl command

`openssl s_client -servername masternode1 -connect 10.10.10.16:10000 -cert /etc/kubeedge/certs/server.crt -key /etc/kubeedge/certs/server.key -CAfile /etc/kubeedge/ca/rootCA.crt -state
CONNECTED(00000003)
SSL_connect:before SSL initialization
SSL_connect:SSLv3/TLS write client hell
SSL_connect:SSLv3/TLS write client hello
SSL_connect:SSLv3/TLS read server hello
SSL_connect:T

[2020-05-27 12:23] varunshajimwang commented on #1737
I moved both cloudcore and edgecore to master release - kubeedge-v1.3.0-36+b6dea75ec7ee92

cloudcore -KubeEdge v1.3.0-36+b6dea75ec7ee92-dirty .
Now it works. Better take a release or a tag , so that something stable is there to murk around with

[2020-05-27 12:23] #1737 closed

[2020-05-27 13:36] fisherxu opened #1741 "Add script to install KubeEdge cloud and edge side"
## Project Description
Write a script to install KubeEdge cloud and edge with one click, including K8s, Runtime.
Note: Need more discussion.

## Difficulty
low

## Mentor
Fei Xu(@fisherxu): fisherxu1@gmail.com

## Output
- Write a script to install KubeEdge

## Tech. Requirement
- Shell
- Kubernetes
- KubeEdge

## Related Repo
- https://github.com/kubeedge/kubeedge

[2020-05-27 13:42] fisherxu opened #1742 "Integrate chaosMesh to test kubeedge"
## Project Description
 Now we have unit tests, integration tests and e2e tsets that guarantee the KubeEdge is running well, but to better identify system vulnerabilities and improve resilience, let's use chaosMesh to injects various types of faults into the KubeEdge, like low quality network, etc. to test KubeEdge.

## Difficulty
Medium

## Mentor
Kevin Wang(@kevin-wangzefeng): kevinwzf0126@gmail

[2020-05-27 14:00] fisherxu opened #1743 "Build an AI example to run AI application on KubeEdge platform"
## Project Description
Build a sample example to run AI application on KubeEdge platform, using the device API, and ideally running inference on the edge and training on the cloud, showing cloud-edge collaboration.

## Difficulty
medium

## Mentor
Kevin Wang(@kevin-wangzefeng): kevinwzf0126@gmail.com

## Output
- Build an example to run AI application
- The device API

## Tech. Requirement
- KubeE

[2020-05-27 14:44] coderkk opened #1744 "cloudcore cannot generate certificate"
**What happened**:
I have tried `keadm init --kubeedge-version=1.3.0  --kube-config=/root/.kube/config --advertise-address 194.55.119.121` but the cloudcore cannot generate certificate

**What you expected to happen**:
I expected it will generate cerificate in `/etc/kubeedge/ca` and `/etc/kubeedge/certs`

[2020-05-27 15:03] XJangel commented on #1744
@coderkk  In KubeEdge 1.3, the certificate won't be saved locally. It will be in the secret `cloucoresecret` of `kubeedge` namespace.

[2020-05-27 17:09] zzxgzgz commented on #1736
**What happened:**
I encounter the same issue when trying to run [Mizar](https://github.com/futurewei-cloud/mizar) with KubeEdge.

A part of EdgeCore's log:
[code]

Images running on the Edge Node:
[code]
**What you expected to happen:**
Mizar to be deployed successfully, which should look like this on a worker node:
[code]

**How to reproduce it (as minimally and precisely as possible):**

1. Cre

[2020-05-27 17:40] GsssC commented on #1736
@zzxgzgz I run kubeproxy on purpose, do you not want to run it, but still appear?

[2020-05-27 17:44] zzxgzgz commented on #1736
@GsssC That's right. I did not deploy kube-proxy. Maybe the Mizar did. But according to the Mizar team, there's no proxy in the Mizar program.

[2020-05-27 17:50] GsssC commented on #1736
@zzxgzgz is there any kubeproxy pod deployed to edgenode, as shown in ’kubectl get pod -nkube-system -owide’

[2020-05-27 17:53] zzxgzgz commented on #1736
@GsssC Looks like there are one for cloud node and one for edge node:
[code]

[2020-05-27 18:03] GsssC commented on #1736
@zzxgzgz yes，because  kubeproxy is running as a deamonset. you can get it by ‘kubectl get all -o wide -nkube-system’，that is why kubeproxy is deployed on edgenode automatically.

But it’s not related with this issue.

[2020-05-27 18:09] zzxgzgz commented on #1736
@GsssC Thank you for explaining, that makes more sense now.  Does it mean that it is normal for kube-proxy running on the edge node? Is this the reason why the other containers cannot mount successfully?

Just a FYI, when I tried to deploy a test pod on the edge node, it was successful, but the Mizar related pods are still failing.

[2020-05-28 01:01] markwangC commented on #1732
root@wcl-virtual-machine-host:/etc/kubeedge# kubectl get nodes
NAME                       STATUS    ROLES                      AGE       VERSION
wcl-virtual-machine-host   Ready     controlplane,etcd,worker   17h       v1.17.5
root@wcl-virtual-machine-host:/etc/kubeedge# ~/kubeedge/cloudcore --version
KubeEdge v0.0.0-master+$Format:%h$
root@wcl-virtual-machine-host:/etc/kubeedge#
root@wcl-virtual-

[2020-05-28 01:06] fisherxu commented on #1744
It's right, and why do you expected to generate cerificate in the host?

[2020-05-28 01:07] fisherxu commented on #1744
@coderkk

[2020-05-28 01:48] GsssC commented on #1736
@zzxgzgz
`Does it mean that it is normal for kube-proxy running on the edge node? `

No, for edge scene kubeproxy should not running on the edgenode, you could modify the yaml of kubeproxy daemonset to avoid it.

But for mizar, sounds like a cni plugin. Does it need to connect to api-server via service clusterip, just like calico? If so it may need kubeproxy run well

`Is this the reason why the o

[2020-05-28 01:50] fisherxu commented on #1737
Now it works. Better take a release or a tag , so that something stable is there to murk around with

Yes, will take the `1.3.1` tag this week

[2020-05-28 03:06] yzhao66 commented on #1732
when i make all WHAT=edgecore

the report:
![image](https://user-images.githubusercontent.com/44268973/83094024-44bcf800-a0d3-11ea-9695-ada01b81a239.png)

[2020-05-28 06:40] plochon commented on #1602
I tried [fix using same namespace while syncPodStatus #1708](https://github.com/kubeedge/kubeedge/pull/1708/files/934d4354178e7f412faeb9bfcb1d6e153fc2cc20), backporting it to 1.2.1 code, but my issue is still occuring  ...

[2020-05-28 06:49] hzjnet opened #1745 "部署好k8s和kubeedge后发现edge的log里面有错误"
基本状况
1
[root@k8s-master1 kubeedge]# kubectl get nodes
NAME          STATUS     ROLES    AGE     VERSION
k8s-master1   Ready      master   46h     v1.18.3
k8s-node1     Ready      <none>   26h     v1.18.3
k8s-node2     NotReady   edge     3h42m   v1.17.1-kubeedge-v0.0.0-master+$Format:%h$

2
[root@k8s-master1 kubeedge]# lsof -i -P|grep LISTEN
sshd       1035   root    3u  IPv4   31690      0t0  TCP

[2020-05-28 08:13] luogangyi commented on #1745
看上去是cgroup的问题
[code]
你贴一下以上命令的结果，另外，你是运行在arm上的吗？

[2020-05-28 08:21] plochon commented on #1602
Howerver I get the same error message in cloudcore log as described in #1700 so it should be the same issue ...

[2020-05-28 09:50] coderkk commented on #1744
Because when cloudcore start, it has error from the log

[code]

Seen like it cannot read the certificates.

[2020-05-28 09:58] fisherxu commented on #1744
The log shows that cloudcore is running well, cloudcore supports manually specify certs, and if users haven't specified, it will signed the certs automatically. @coderkk

[2020-05-28 11:48] markwangC commented on #1741
Could you pls considering to on click install in the restricted network ? We can download an offline package that contains all the necessary materials, then upload it to the lab which is restricted to internet.

[2020-05-28 13:10] coderkk commented on #1744
My Edgecore received this error
[code]

[2020-05-28 13:24] coderkk commented on #1744
My cloudcore stuck at

[code]

[2020-05-28 14:04] XJangel commented on #1744
@coderkk It's normal log, not stuck.

[2020-05-28 14:05] XJangel commented on #1744
can u show us your edgecore.yaml?

[2020-05-29 01:49] zzxgzgz commented on #1736
@GsssC Thank you for your reply.

Yes, one of the functionalities of Mizar is to work as a CNI, and it requires kube-proxy. I suspect that's the reason why it doesn't run well with KubeEdge.

By the way, are you on KubeEdge's Slack channel? I'd like to ask you more questions about KubeEdge and it is more convenient to communicate on  Slack.

Thank you.

[2020-05-29 03:31] daixiang0 opened #1752 "Update docs"
**What would you like to be added/modified**:

Update path/process in all docs.

**Why is this needed**:
Like this [dos](https://docs.kubeedge.io/en/latest/mappers/bluetooth_mapper.html), path and process are too old to help new users.

[2020-05-29 03:32] daixiang0 commented on #1752
@fisherxu could it put in summer 2020?

[2020-05-29 03:35] daixiang0 commented on #1745
@hzjnet seems that you build kubeedge with custom commit not a release version, right? Could you share the env and commit?

BTW, bettter to use English which support more people to help you.

[2020-05-29 05:47] coderkk commented on #1744
I follow this document, it solve my problem https://github.com/kubeedge/kubeedge/blob/master/docs/setup/kubeedge_configure.md

Thank you.

[2020-05-29 05:48] #1744 closed

[2020-05-29 08:23] huang339 commented on #1732
I use the latest code and I meet the error,too

[2020-05-29 09:31] luogangyi commented on #1732
my colleague meet the same problem.
he solved this by delete ca and certs both cloud and edge side and restart .
you can try, @huang339

[2020-05-30 01:45] kevin-wangzefeng commented on #1689
Thanks @benjaminhuo @FeynmanZhou, in KubeEdge v1.3, we added metrics interface to edgecore, and in v1.4 we have plan to offer metrics server support on cloud for collecting metrics from pods at edge.

It would be helpful if you guys could lead/join the integration work with prometheus edge.

[2020-05-30 01:58] kevin-wangzefeng commented on #30
/close

[2020-05-30 01:58] #30 closed

[2020-05-30 07:47] fisherxu opened #1758 "Support list-watch from edgecore for applications on the edge"
## Why do we need it
Some applications running on the edge side need to connect to the k8s master through list-watch interface, but on the edge it cannot directly connect to the k8s master. So we need forward the list-watch requests to the k8s master through the cloud-side channel.

[2020-05-30 08:10] #1718 closed

[2020-05-30 13:45] benjaminhuo commented on #1689
@kevin-wangzefeng we're glad to participant in kubeedge development starting from this. Let's discuss this further

[2020-05-30 19:47] lljstar opened #1762 "edgecore start by keadm (raspberrypi) error cgroup subsystem not mounted"
2009 cni.go:237] Unable to update cni config: no networks found in /etc/cni/net.d
E0530 19:44:02.573329    2009 edged.go:689] Failed to start container manager, err: system validation failed - Following Cgroup subsystem not mounted: [memory]
E0530 19:44:02.573406    2009 edged.go:278] initialize module error: system validation failed - Following Cgroup subsystem not mounted: [memory]

[2020-05-31 08:21] lljstar commented on #1762
ubuntn 18   raspberry   /boot/firware/nobtcmd.txt  add config

[2020-06-01 05:52] lljstar opened #1764 "When I use ubuntu server 20.04 for raspberry, I met this error,"
When I use ubuntu server 20.04 for raspberry, I met this error,
so I append this line
`cgroup_enable=memory`
to
`/boot/firmware/cmdline.txt`

resolved this.

_Originally posted by @stacktasec in https://github.com/kubeedge/kubeedge/issues/1613#issuecomment-623289518_

if in RaspBerrypi4  see /boot/firmware/config.txt
in the file describe the cmdline file is which one then append 'cgroup_enable=mem

[2020-06-01 05:56] #1764 closed

[2020-06-01 05:57] #1762 closed

[2020-06-01 05:59] lljstar commented on #1551
can use ubuntu18-20 raspberry replace Raspberry PI OS.

[2020-06-01 07:34] #1696 closed

[2020-06-01 08:04] GsssC commented on #1711
/assign

[2020-06-01 08:11] GsssC commented on #1736
@zzxgzgz I am on KubeEdge Slack channel and named GsssC as well. But not often to use it.

[2020-06-01 09:24] yzhao66 opened #1766 "when i setup kubeedge success,the k8s's network plugins for edge side is not running health"
**What happened**:
![image](https://user-images.githubusercontent.com/44268973/83394317-f8531e80-a42a-11ea-99b4-784409a43169.png)

![image](https://user-images.githubusercontent.com/44268973/83394731-a78ff580-a42b-11ea-9cc1-2483ce1efbec.png)

when i install kubeedeg correctly,the calico pod is not running health in k8s and ke-apachebeam-analysis pod in not running health.

Deatails:
root@kube-clou

[2020-06-01 09:37] #1711 closed

[2020-06-01 10:04] GsssC commented on #1689
@Poor12

[2020-06-01 10:13] huang339 commented on #1732
the problem could not be resolved even  ca and certs was deleted, there must be some configuration is missed, I home someone give me a detail of configuration about kubeedge1.3 .

[2020-06-01 10:19] GsssC commented on #1766
if not set the api-server ip to which calico-node connect, you need to run kubeproxy first for enabling cluster-ip.And set cniPluginName to "cni" in edgecore.yaml.

BUT, i suggested that you would better use edgemesh for pod network.

[2020-06-02 01:51] yzhao66 commented on #1766
how to use edgemesh?can you give me some url?

[2020-06-02 02:49] GsssC commented on #1766
@yzhao66 https://docs.kubeedge.io/en/latest/guides/edgemesh_test_env_guide.html

[2020-06-02 06:12] Zhengmao-Wang commented on #1743
I’m really interested in this program. I have a knowledge of golang,docker and Kubernetes  If I want to take part in this, what should I prepare?

[2020-06-02 07:53] huang339 commented on #1737
have you resoved the problem? I met the same problem,please give me some information

[2020-06-03 01:53] zongke opened #1768 "Device Data repeat update to cloud sometimes"
**What happened**:
device register to cloud,and data is update to cloud from edge,but oneday or oneweek later, the divice old  data is repeat  report to cloud.
**What you expected to happen**:
device data not repeat report to cloud
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
[cloudcore-644f4fc9d-sd97q-cloudcore (2).log](https://github.com/

[2020-06-03 01:57] fisherxu commented on #1768
Could you plz add the kubeedge version？

[2020-06-03 01:57] zongke commented on #1768
![1](https://user-images.githubusercontent.com/12181200/83586960-63623980-a580-11ea-8282-3dd42cdea258.png)
this is out data,Every piece of data is repeated，because today the old data is repeat report to cloud

kubeedge version: release-1.0

[2020-06-03 02:12] kevin-zhaoshuai opened #1769 "Verify integration with Kata Containers"
**What would you like to be added/modified**:
Investigate the Kubeedge integration with Kata containers.
Document to the deployment and usage

**Why is this needed**:
Kata container is the security container solution, which would benefit the edge core side runtime and security.

[2020-06-03 02:16] fisherxu commented on #1769
👍

[2020-06-03 02:33] daixiang0 commented on #1768
Hi, there are lots of bugfix and optimization after release 1.0, would you like to try the latest version
?

[2020-06-03 02:45] daixiang0 commented on #1688
Duplicate with #1629.

[2020-06-03 02:46] daixiang0 commented on #1716
Why need epel source?

[2020-06-03 02:53] dmosruby commented on #1716
The yum commands in the centos for `epel-release` and `mosquitto` install will fail with Redhat unless the epel release for that specific version of Redhat is installed - https://github.com/kubeedge/kubeedge/blob/master/keadm/cmd/keadm/app/cmd/util/centosinstaller.go#L53

[2020-06-03 03:05] daixiang0 commented on #1716
`yum install epel-release mosquitto -y` is fine, i think add redhet detect support is ok.

[2020-06-03 03:10] daixiang0 commented on #1635
/assign

[2020-06-03 03:27] zongke commented on #1768
ok,i will try release-1.3,but Any thoughts on this issue？

[2020-06-03 03:29] zongke commented on #1768
![2](https://user-images.githubusercontent.com/12181200/83592685-792a2b80-a58d-11ea-868a-677718df1088.png)
edge error log

[2020-06-03 03:48] zongke commented on #1153
modbus_mapper code have some error

[2020-06-03 07:12] daixiang0 commented on #1622
Check https://github.com/kubeedge/kubeedge/blob/master/keadm/cmd/keadm/app/cmd/util/centosinstaller.go#L53

[2020-06-03 07:12] #1622 closed

[2020-06-03 08:30] qindng opened #1771 "In versions after 1.3, EdgeMesh test error"
**What happened**:
Download and build the current master branch, and run the Edgemesh example [(),](https://docs.kubeedge.io/en/latest/guides/edgemesh_test_env_guide.html) the following error occurs. However, in the same environment, version 1.3 runs the Edgemesh example normally.
` curl http://nginx-svc.default.svc.cluster:12345
curl: (52) Empty reply from server`

The log of edgecore is as follo

[2020-06-03 08:58] Ranguo956 opened #1772 "The keadm does not seem to support the cgroup driver "systemd".And the defalt is "cgroupfs""
**What would you like to be added/modified**:

Before I installed KubeEdge, I had downloaded the packages:

and the

to local. In addition, the cgroup driver of k8s and docker had been set as "systemd". In the process of installed the KueEdge with the keadm ,I executed

and the result shows

Then,I executed the "tail -f /var/log/kubeedge/edgecore.log" to read the logs. But,the last line of the log

[2020-06-03 09:04] kevin-wangzefeng commented on #1772
/cc @chendave

[2020-06-03 10:32] chendave commented on #1772
cgroup driver shouldn't take care of the keadm, I think this is also true for "kubeadm", all that care about the cgroup driver is actually which cri you  are using, for example, in your case, you are using docker, so you just need to update the docker configuration to use "systemd" instead.

[2020-06-03 11:28] Ranguo01 commented on #1772
I got it a little bit,thanks.

[2020-06-03 13:28] cody1115 commented on #1712
@faicker, I met the same issue. How did you fix it ? Thanks a lot~

[2020-06-03 16:35] mixalako opened #1773 "Trying to deploy a custom scheduler and pod is in state Error!"
**What happened**:
Scheduler deployed pod to a node , the image was downloaded but then returned error.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
kubectl describe pod
![Screenshot from 2020-06-03 19-26-48](https://user-images.githubusercontent.com/61829876/83662877-ca0f4380-a5d0-11ea-8489-5a33bf0a9e5a.p

[2020-06-04 02:45] faicker commented on #1712
see https://github.com/kubeedge/kubeedge/blob/master/docs/setup/kubeedge_install_source.md

[2020-06-04 02:56] GsssC commented on #1736
Hey guys! I have been tracking this bug for the last few days.For now, I can draw some conclusions:

- Reason:
I still do not know what operation or reason causes the bug. If some one know the

- Phenomena:
All pod (beside kube-proxy) which use configmaps mounted into pod will meet this bug. And it logs
[code]
- Temporary solution:
For exploring the code, we could delete the "ready file" in `/var/

[2020-06-04 03:01] GsssC commented on #1736
/cc @fisherxu @kevin-wangzefeng

[2020-06-04 03:46] zzxgzgz commented on #1736
Thank you for your effort!

One question for the temporary solution:
Should we delete the ready files for the failing pods? Or for the kube-proxy? Also should we only delete the 'ready' files in those folders, or should we delete the folders as well?

Thank you again.

[2020-06-04 03:59] GsssC commented on #1736
Hey guys! I found a way to 100% reproduce the bug.
1. the normal status
![image](https://user-images.githubusercontent.com/29768082/83713133-e73c2480-a659-11ea-865b-06e69d1e05d5.png)

1. stop edgecore by `systemctl stop edgecore`
2. remove container by ```docker rm -f `docker ps -aq` ```
![image](https://user-images.githubusercontent.com/29768082/83713217-1bafe080-a65a-11ea-95f0-bb904b2ba714.png)

[2020-06-04 04:05] GsssC commented on #1736
@zzxgzgz  just delete configmap ready file about specific pod. Delete whole `plugins` directory is a convient way, because secret reconcile is no problem.

[2020-06-04 10:26] mixalako commented on #1773
/assign

[2020-06-04 15:42] sambr7 opened #1777 "Support for Openshift 4"
**What would you like to be added/modified**:
Support for OpenShift 4
**Why is this needed**:
Ability to run small workloads in remote locations leveraging Openshift capabilities

[2020-06-04 16:41] zzxgzgz commented on #1736
@GsssC I tried your solution by deleteing the whole plugin folder. And now the kube-proxy container is giving me a different error:
[code]
This is what the container folder looks like currently:
![Annotation 2020-06-04 093253](https://user-images.githubusercontent.com/32083634/83785837-be5e6400-a646-11ea-824c-0faaba55ddb8.png)

Do you know what could be the  reason of this, or how to fix it?

Than

[2020-06-04 17:14] zzxgzgz commented on #1736
@GsssC I created a new cluster (and then run cloudcore & edgecore) before trying your solution. Does that count?

I also looked into the log of cloudcore, it has a weird bug as well:
[code]

I looked into the code,  and this error was triggered because the resource is "node/edge-node/membership/detail", and in this function:
https://github.com/kubeedge/kubeedge/blob/master/cloud/pkg/devicecontroll

[2020-06-04 17:27] GsssC commented on #1736
No，I think it’s not related to your problem.

I suggest that you should check sync-crds to confirm the new cluster’s kubeproxy configmap has been sent to edge, or edgecore will use last kubeproxy configmap in edge.db:

kubectl get crds
And then kubectl get “kubeedge.io related crd”

[2020-06-04 17:33] GsssC commented on #1736
@zzxgzgz If so, you need to delete both configmap in /var/lib/kubeedge/edgecore.db and crd records in configmap

[2020-06-04 17:37] zzxgzgz commented on #1736
@GsssC I am able to get the crds:
[code]

However, I'm not sure about how to check the config map has been sent to edge.

Also, should I just delete the edgecore.db and crd records? Should I also restart edgecore? How do I delete crd  records? Is it by doing :
[code]
?

Thank you.

[2020-06-04 17:39] GsssC commented on #1736
@zzxgzgz try
kubectl get objectsyncs.reliablesyncs.kubeedge.io

[2020-06-04 17:41] zzxgzgz commented on #1736
Yes, I got something:
[code]

Shall we continue this conversation on Slack? My username on Slack is Rio Zhu and I sent you a few messages before.

[2020-06-04 17:46] GsssC commented on #1736
@zzxgzgz try
kubectl get objectsyncs.reliablesyncs.kubeedge.io -o yaml

If no information about kubeproxy configmap, means it is never sent to edge.