[2018-11-19 10:44] KingOnTheStar opened #22 "Does kubeedge synchronize podstatus correctly?"
I see metaManager try to synchronize podstatus in database to cloud per minute, however it look like edged never send podstatus message to metaManager, so podstatus won't be recorded in database.
Should struct GenericLifecycle send podstatus to metaManager in function updatePodStatus(pod *v1.Pod) ?

[2018-11-19 11:44] z00223295 commented on #22
@KingOnTheStar sending podstatus message to metaManager is in status_manager.go.
https://github.com/kubeedge/kubeedge/blob/203c91dd83db08cf19a772a5bd14b06d21d21fa7/pkg/edged/status/status_manager.go#L96-L99

[2018-11-19 11:52] KingOnTheStar commented on #22
Oh, this problem was solved 3 days ago in commit "fix pod status manager". My code is out of date.
Thanks

[2018-11-19 12:04] #22 closed

[2018-11-19 13:34] m1093782566 commented on #22
@KingOnTheStar Yes, we fix this issue some days ago.

[2018-11-20 07:12] islinwb opened #25 "fix golint warnings"
Currently code in many directories (excluding `vendor`, `docs`, etc.) fails to pass the `golint`.

Contributors are very welcome to take part in this work. Just leave the directory you want to fix in this issue.

How to do it?
A simple way is
[code]
Then you'll see warnings if any. Just fix them accordingly.

/cc @m1093782566 @Lion-Wei @stewart-yu

[2018-11-20 07:18] m1093782566 commented on #25
Sounds like a good plan.

[2018-11-20 07:35] stewart-yu commented on #25
IMO, first, fixing all in one PR is OK; secondary, can we add `gometalinter` in vendor? no need to get it every time we run CI

[2018-11-20 08:08] m1093782566 commented on #25
@stewart-yu I think we may need to discuss what should be in vendor? files which are referenced by other codes OR files which are used during building, checking or testing?

[2018-11-21 06:08] m1093782566 opened #27 "Create 0.1 release"
1. create a new `make quick-release` command in Makefile to auto compile and make release tarball.

2. upload the release tarball and write a release note file.

cc @islinwb @Lion-Wei

[2018-11-22 03:51] m1093782566 opened #28 "Add hardware requirements for kubeedge"
Memory >=256MB

CPU  >=1VCPU

xref: https://support.huaweicloud.com/usermanual-ief/ief_01_0003.html

[2018-11-27 03:39] u2takey opened #29 "cannot apploy ief"
cannot press apply button on https://account.huaweicloud.com/usercenter/#/applyBeta?serviceCodeP=ief, open console found 400 error for https://account.huaweicloud.com/usercenter/rest/v1.0/6bf99a32f49a4dfebfdf1544a2ab9e54/tracker

[2018-11-27 03:57] m1093782566 commented on #29
@u2takey Are you able to login and have you ever done real-name authentication?

cc @Baoqiang-Zhang

[2018-11-27 09:13] u2takey commented on #29
@m1093782566 tks, solved, its real-name-authentication issue.

[2018-11-27 09:13] #29 closed

[2018-11-27 09:57] m1093782566 commented on #29
no problem, @u2takey :)

[2018-11-28 10:03] m1093782566 opened #30 "Cross build kubeedge"
We should be able to cross build kubeedge in different OS X platforms, e.g. {linux, windows, macos} X {amd, arm, ppcp...}

- [x] cross build for arm #160
- [ ] cross build for macos

[2018-11-29 01:51] m1093782566 opened #31 "Sort out kubeedge message topics"
The communication between components of kubeedge is based on message. There are some message topics and we need to sort them out in document for the sake of helping contributors/developers understanding kubeedge well.

[2018-11-30 07:00] m1093782566 opened #32 "New issue/PR template"
We need a formal issue/PR template for people whom are going to create an issue/PR for KubeEdge.

xref: https://github.com/kubernetes/kubernetes/tree/master/.github/ISSUE_TEMPLATE

https://github.com/kubernetes/kubernetes/blob/master/.github/PULL_REQUEST_TEMPLATE.md

[2018-12-03 02:32] KingOnTheStar opened #33 "Can kubeedge manage GPU?"
Does Kubeedge support device-plugin like kubelet? If not, how can it allocate gpus?

[2018-12-03 03:14] m1093782566 commented on #33
cc @qizha @Baoqiang-Zhang

[2018-12-03 03:32] qizha commented on #33
we do support device-plugin

[2018-12-03 07:15] tianxiaoliang opened #34 "how to run locally"
I don't have a huawei cloud account

[2018-12-03 08:06] KingOnTheStar commented on #33
Thanks

[2018-12-03 08:06] #33 closed

[2018-12-06 07:15] KingOnTheStar opened #36 "Does kubeedge support ipc_mode = host?"
In Kubelet, after setting hostIPC = true, it will create containers with ipc_mode = host. But I find it doesn't work in kubeedge.

[2018-12-06 07:17] KingOnTheStar commented on #36
Do you forget setting it？ Like this:
https://github.com/kubeedge/kubeedge/compare/master...KingOnTheStar:master

[2018-12-06 07:17] m1093782566 commented on #36
@KingOnTheStar Can you describe your user cases where you need to support container IPC with host in edge computing scenarios?

[2018-12-06 07:19] m1093782566 commented on #36
cc @qizha @Baoqiang-Zhang

[2018-12-06 08:05] m1093782566 commented on #36
Probably you can create a PR and contribute the changes to upstream? I think we can discuss this feature.

[2018-12-07 11:46] KingOnTheStar opened #39 "Are environment variable for gpu set correctly?"
Is this a bug report?
I have tried to allocate one gpu to a container by device-plugin, and found the  container get all the gpus every time. At the same time, the allocatable resource number for "nvidia.com/gpu" in database didn't change.
In file /kubeedge/pkg/edged/containers/container_manager.go, in line 624. When kubeedge gets the opts, I guess kubeedge should set opts.Env to container.Env

[2018-12-07 12:48] Baoqiang-Zhang commented on #39
@KingOnTheStar allocatable resource "nvidia.com/gpu" will not change like cpu/mem, kube-scheduler will check if the node's resource is available to schedule.
scheduler will set pod annotation **huawei.com/gpu-decision: '{"container-0":{"nvidia0":263}}'**, and edged will allocate nvidia0 for the container.

[2018-12-10 02:38] KingOnTheStar commented on #39
I try to set pod annotation huawei.com/gpu-decision: '{"container-0":{"nvidia0":263}}', but it has no use.
And I find this annotation only has definition but isn't be used anywhere in kubeedge.

[2018-12-10 03:17] MeteorKL opened #41 "There is a potential to not release the lock"
https://github.com/kubeedge/kubeedge/blob/72f0580a46d40a04fd88b5c2c4d70c5c32b9dc5d/pkg/devicetwin/dtmanager/device.go#L102

[code]

[2018-12-10 04:02] MeteorKL commented on #41
You'd better check whether all the resources can be unlocked successfully.

[2018-12-10 04:15] m1093782566 commented on #41
Good point! Let's check.

[2018-12-11 12:12] rohitsardesai83 opened #43 "DTWorker interface has PreDeal /Deal /PostDeal methods which have empty implementations."
DTWorker interface (pkg/devicetwin/dtmanager/dtworker.go ) has PreDeal /Deal /PostDeal methods.
The below go files have an empty implementation of these interface methods.

- pkg\devicetwin\dtmanager\device.go
- pkg\devicetwin\dtmanager\communicate.go
- pkg\devicetwin\dtmanager\membership.go
- pkg\devicetwin\dtmanager\twin.go

Are these methods required or can be removed ?

[2018-12-11 12:13] m1093782566 commented on #43
Can you provide the links?

[2018-12-11 12:16] rohitsardesai83 commented on #43
https://github.com/kubeedge/kubeedge/blob/master/pkg/devicetwin/dtmanager/dtworker.go

https://github.com/kubeedge/kubeedge/blob/master/pkg/devicetwin/dtmanager/communicate.go

https://github.com/kubeedge/kubeedge/blob/master/pkg/devicetwin/dtmanager/membership.go

https://github.com/kubeedge/kubeedge/blob/master/pkg/devicetwin/dtmanager/twin.go

[2018-12-17 06:54] rohitsardesai83 opened #44 "Data race while setting write deadline for websocket connection"
Build edge_core with -race option `go build -race cmd/edge_core.go`.
Run edge_core binary.

In the logs , a data race is detected :

[code]

Two goroutines "keepalive() and "sendToCloud()" are started in the edge hub which both try to set the  write deadline on the web socket connection. The gorilla websocket library doesn't have a lock to prevent data race when two clients attempt to write the ti

[2018-12-17 11:20] rohitsardesai83 opened #45 "Data race while updating pod status"
Compile edge_core with -race flag and run .
The following race condition is detected in the edge_core.log :

[code]

[2018-12-17 12:59] rohitsardesai83 opened #46 "Data race in edged syncPod()"
Build with race flag and start edge_core. Deploy an application from IEF to the edge node. The logs show a data race condition in the syncPod() and StartGarbageCollection() methods in edged.
[code]

[2018-12-17 13:38] rohitsardesai83 opened #47 "Multiple data races seen after running edge_core"
[code]

[2018-12-18 12:15] #44 closed

[2018-12-20 06:38] anna2018 opened #51 "What is the placement-url and how to modify it?"
I want to know what is placement-url: https://10.154.193.32:7444/v1/placement_external/message_queue in /conf/edge.yaml  ? If I want to modify it, what do I need to do?

[2018-12-20 06:46] m1093782566 commented on #51
@anna2018

placement in kubeedge is used for finding the proper cloud controller(we may have more than one cloud controllers). Currently, users will not need to know much about placement-url as cloud controller is part of Huawei Cloud IEF service. Once cloud part of kubeedge is open-sourced, users will need to know more about placement.

For how to update the kubeedge config file(including placeme

[2018-12-20 09:38] #51 closed

[2018-12-24 06:53] qizha opened #52 "Extend eventBus to support MQTT connection"
The eventBus act as a MQTT client to connect with another MQTT Broker in the current implementation. However, the MQTT broker is not an optinal right now in edge-core since we are relying MQTT to interact between device twin and devices. Also, as a low cost cross-process communication, MQTT is a good choice to interact between applications running on edge and the edge-core.
So, I think we should e

[2018-12-25 02:16] lubinsz opened #53 "No 'CONTRIBUTING.md' was found."
Hi all,
I'm from Arm.
My boss and legal department want to check the inbound&outbound license of this project.

Can you add the files of 'CONTRIBUTING.md'  ?

In general, the inbound license should be 'Developer Certificate of Origin, version 1.1'.
The outbound license should be 'Apache License 2.0'
And the legal information of inbound license should be in CONTRIBUTING.md.
The legal information of

[2018-12-25 02:34] m1093782566 commented on #53
Nice catch! @lubinsz

cc @kevin-wangzefeng

[2018-12-26 05:10] sids-b opened #54 "boolean validation error."
https://github.com/kubeedge/kubeedge/blob/3d599fea0b7e0823839043854beb7fdd1495d342/pkg/devicetwin/dtcommon/util.go#L33

the condition should be
if strings.Compare(value, "true") != 0 && strings.Compare(value, "false") != 0 {

[2018-12-26 06:30] m1093782566 commented on #54
@sids-b I am shocked about that.

This kind bug is one of the reason that we should add more unit test codes for this project...

[2018-12-26 06:30] m1093782566 commented on #54
cc @Baoqiang-Zhang

[2018-12-26 08:42] rohitsardesai83 commented on #45
After the fix for https://github.com/kubeedge/kubeedge/issues/44, this issue is no longer observed. Closing it.

[2018-12-26 08:42] #45 closed

[2018-12-26 08:43] rohitsardesai83 commented on #47
After the fix for https://github.com/kubeedge/kubeedge/issues/44, this issue is no longer observed. Closing it.

[2018-12-26 08:43] #47 closed

[2018-12-26 08:44] #46 closed

[2018-12-27 08:15] sids-b opened #57 "Document on Mocks and Test Code Development"
Document which explains when/why/how to generate and use mocks while writing test codes to help contributors.

[2018-12-27 08:19] sids-b commented on #54
@m1093782566 Found this issue while writing UT for this package

[2018-12-27 11:30] sids-b commented on #54
Issue addressed in pull request #59

[2018-12-27 11:30] #54 closed

[2018-12-28 03:08] m1093782566 commented on #53
Please check out https://github.com/kubeedge/kubeedge/blob/master/CONTRIBUTING.md

[2018-12-28 03:09] #41 closed

[2018-12-28 13:46] rohitsardesai83 opened #61 "Add go report card badge for the project"

[2018-12-28 14:36] rohitsardesai83 opened #63 "Add license and releases badge"

[2018-12-29 02:07] #61 closed

[2018-12-29 02:08] m1093782566 commented on #53
I am going to close this issue as it's already there.

[2018-12-29 02:08] #53 closed

[2018-12-29 06:13] #63 closed

[2018-12-31 11:46] rohitsardesai83 opened #67 "Remove dead code : store in edged isn't used."
Backend store :
https://github.com/kubeedge/kubeedge/blob/master/pkg/edged/store/store.go

Initialized in edged , but not used anywhere. This is dead code and can be safely removed.

[2019-01-02 06:10] #67 closed

[2019-01-08 16:51] sujithsimon22 opened #76 "Problems in edgehub/config/config.go file"
1. There is no error returned in getControllerConfig() when there are no default values specified. This causes panic while running the edge in cases where their values have not been specified in the config file
2. Error returned from getWebSocketConfig() is not caught in the init() function
3. There are a few typographical errors (8 instances of the wrong names being  used) while logging warnings

[2019-01-09 19:46] daijiale commented on #32
Maybe we need a standardized KubeEdge contribution guide, not only involved issue/PR, but also for code specification and development environment report , if you want, I am willing to help making a demo for you

[2019-01-09 19:48] daijiale commented on #32
Maybe we need a standardized KubeEdge contribution guide, not only involved issue/PR, but also for code specification and development environment report , if you want, I am willing to help making a demo for you

[2019-01-10 06:56] qizha commented on #52
This has been implemented with https://github.com/kubeedge/kubeedge/pull/75

[2019-01-10 06:56] #52 closed

[2019-01-10 09:30] m1093782566 commented on #43
Is there any chance to remove the unused codes?

[2019-01-14 10:36] sujithsimon22 opened #85 "Unit test failing in CI"
- The init() present in : kubeedge/pkg/edgehub/config/config.go, will panic if "kubeedge/pkg/edgehub/config" is imported.

- This is due to the fact that the binaries are built & run at a temporary location where the config files are not present.

- Thus, it will cause the unit tests to fail before it even has a chance to execute

[2019-01-14 10:38] sujithsimon22 commented on #85
![image](https://user-images.githubusercontent.com/35599628/51108000-acdca800-1816-11e9-83ae-364e4a434d5a.png)

[2019-01-14 10:44] sids-b commented on #85
@srivatsav123 can you please help with this ?

[2019-01-15 03:46] sids-b commented on #25
@maurya-anuj can you please help with this ?

[2019-01-15 09:00] #85 closed

[2019-01-16 09:10] m1093782566 opened #91 "integration/e2e tests are required for edged"
Currently we are manually running integration/e2e tests for edged, xref: https://github.com/kubeedge/kubeedge/tree/master/test. I think we should automated all these procedures and write some test cases.

[2019-01-16 09:11] m1093782566 commented on #91
cc @sids-b

[2019-01-16 09:42] #43 closed

[2019-01-16 11:06] sids-b commented on #91
@pavan187 can own this.

[2019-01-18 03:55] m1093782566 commented on #32
@daijiale Sure, would love to see your contributions. So, please show me :)

[2019-01-18 03:58] m1093782566 commented on #31
@sids-b @rohitsardesai83

I think we very need such kind of document. Could you help it out?

[2019-01-18 04:04] m1093782566 commented on #25
ping @sids-b @maurya-anuj

Any updates?

[2019-01-18 04:07] sids-b commented on #25
@m1093782566 , PR will be raised by @maurya-anuj for pkg folder next week. After which we can also add golint in CI

[2019-01-18 04:11] sids-b commented on #31
Sure @m1093782566

[2019-01-18 04:13] lidiyag opened #94 "Unused function "Confirm(msg ID string,content interface{}) error" in dtcontext.go"
Unused code in the file dtcontext.go(pkg/devicetwin/dtcontext)

![confirmfunction](https://user-images.githubusercontent.com/14183934/51365258-66809500-1b05-11e9-9c1b-bfa9a7695ef4.png)

[2019-01-18 06:09] m1093782566 commented on #94
@lidiyag

We can associated this issue in PR by typing `Fixes #94` in PR description content.

FYI.

[2019-01-18 06:10] #94 closed

[2019-01-21 11:18] rohitsardesai83 opened #100 "Add documentation for edge core modules"
This is an umbrella issue to describe how each beehive module in kubeedge works.
The expected output is a document which details the responsibilities of the module , its interfaces with other modules etc.

[2019-01-22 05:15] pavan187 commented on #91
@m1093782566 , Yes, i'm already working on this task. currently designing the test cases, will update the test to kubeedge as soon as possible.

[2019-01-23 02:21] m1093782566 commented on #100
Reopen this issue for tracking remaining modules.

[2019-01-23 03:58] #31 closed

[2019-01-23 04:20] sids-b commented on #27
@m1093782566 , Can close this one ?

[2019-01-23 04:20] m1093782566 commented on #27
Sure. I think we can start to plan v0.2 now :)

[2019-01-23 04:20] #27 closed

[2019-01-23 04:21] m1093782566 commented on #27
But we still need a `make quick-release command in Makefile to auto compile and make release tarball.`

[2019-01-23 06:33] m1093782566 opened #103 "Flaky integration test: [Fail] Event Bus Testing Publish on eventbus topics throgh MQTT internal broker [It] TC_TEST_EBUS_6: change the device status to online from eventbus"
[code]

cc @pavan187

[2019-01-23 06:39] m1093782566 commented on #103
@pavan187

[code]

Please check https://circleci.com/gh/kubeedge/kubeedge/631 for more details.

[2019-01-23 08:56] sids-b commented on #103
![ci fail](https://user-images.githubusercontent.com/30088497/51594637-e8642a00-1f1a-11e9-972e-636f0f1449da.png)

[2019-01-23 08:58] m1093782566 commented on #103
@sids-b

Do you mean there is a potential deadlock?

[2019-01-23 09:00] sids-b commented on #103
I think we are facing some issue with CI @srivatsav123 and @pavan187 can you guys co-ordinate for the same ?
cc @m1093782566 @rohitsardesai83

[2019-01-23 09:01] sids-b commented on #103
I am not sure. We had similar issue when integration tests failed once with similar timeout message. We tested on local environments and it is passing. Need to dig more on this

[2019-01-23 09:12] sids-b commented on #103
![devicetwin](https://user-images.githubusercontent.com/30088497/51595493-da170d80-1f1c-11e9-9340-ef74f1c1872b.png)
Looks like a deadlock after running tests of dtclient, dtmodule and dtcommon. Same place it is stuck 2 times. @lidiyag @pavan187 @srivatsav123 , Please lets get it resolved quickly.

[2019-01-23 09:15] sids-b commented on #103
https://circleci.com/gh/kubeedge/workflows/kubeedge/tree/pull%2F104
Link for your reference

[2019-01-25 01:31] #25 closed

[2019-01-25 04:10] sids-b commented on #103
@m1093782566 , we have resolved the integration test issue and also identified the deadlock was because of the test file added in PR. I think we can close this now ?

[2019-01-25 04:11] m1093782566 commented on #103
Okay, let's close this issue :)

[2019-01-25 04:11] #103 closed

[2019-01-25 06:26] m1093782566 opened #110 "Add golint verify in CI"
Add golint verify in CI.

cc @sids-b

[2019-01-25 07:00] sids-b commented on #110
@srivatsav123 , please help with this

[2019-01-25 07:09] sids-b opened #111 "CI enhancement"
CI while running jobs is cloning code from fork, whereas it should clone from kubeedge master and apply commits of PR in it. Also we need daily build, test jobs.
cc @m1093782566 @rohitsardesai83

[2019-01-25 07:09] sids-b commented on #111
@srivatsav123 , please help in this

[2019-01-25 12:20] #32 closed

[2019-01-26 10:32] sids-b commented on #111
![verify-fail](https://user-images.githubusercontent.com/30088497/51785956-aab60a00-2183-11e9-802f-d939ce37d459.png)
CI verify script fail issue encountered

[2019-01-28 05:37] sameersarkar1979 opened #115 ""make clean" not found to remove the binaries"
**What would you like to be added**:
Implement "make clean" in build steps

**Why is this needed**:
To remove older binaries. It helps developers to create fresh binaries. Also it can be used in automation script so that the setup always has freshly created binaries, in-case the tests need to be re-executed in current context.

[2019-01-28 06:01] m1093782566 commented on #115
@sameersarkar1979

Shall we remove the old configurations as well?

[2019-01-28 07:13] sameersarkar1979 commented on #115
1. For re-building the code and running it again,
                a. Stopping of edge-core process cleanly.
                b. Remove the edgecore binaries.
2. For UT (With code coverage) - Removal of generated coverage files, etc
3. For IT - a. Stopping of edge-core process cleanly.
                b. Remove the edge-core binary and all the integration test binaries created at runtime.

[2019-01-28 07:14] m1093782566 commented on #115
sounds like a reasonable plan @sameersarkar1979

Please just go ahead :)

[2019-01-29 01:40] #110 closed, assigned to nobody

[2019-01-29 06:04] m1093782566 commented on #100
oops, reopening for tracking remaining modules, e.g. edged, devicetwin...

[2019-01-29 06:04] lidiyag opened #119 "Prefix Comparison Issue"
The comparison of incoming topic with LifeCycleConnectETPrefix and LifeCycleDisconnectETPrefix was failing due to presence of a extra quotes.

[2019-01-30 05:17] sujithsimon22 commented on #111
Rencountered CI verify fail issue
![image](https://user-images.githubusercontent.com/35599628/51959837-44c7cc00-247c-11e9-8c5d-6bba0fc8c6d0.png)

[2019-01-30 06:55] sujithsimon22 opened #125 "Make Verify failing"
**Which jobs are failing**:
verify job has been failing

**Reason for failure**:
gometalinter binary not found

[2019-01-30 06:56] sujithsimon22 commented on #125
Encountering CI verify fail issue
![image](https://user-images.githubusercontent.com/35599628/51963600-28cb2700-248a-11e9-812b-46367cd31dd1.png)

[2019-01-30 06:56] sujithsimon22 commented on #111
Created a seperate issue for verify failure. Issue #125

[2019-01-30 07:16] lidiyag commented on #119
The issue was due to some external file changes.

[2019-01-30 07:16] #119 closed

[2019-01-30 16:01] srivatsav123 commented on #125
@sujithsimon22 -https://github.com/alecthomas/gometalinter/commits/master/scripts/install.sh
the install script is used by our verify job is getting changed constantly to support windows environment (refer commit history of the script),that's why it is failed since the path where the binaries are generated is getting changed..

[2019-01-30 16:10] sids-b commented on #125
Thanks @srivatsav123 for your support in pointing to the correct issue. Lets have a temporary fix till we move to golangci-lint

[2019-01-30 16:17] sujithsimon22 commented on #125
@srivatsav123 thanks for your help in identifying the issue. Would be great if you could help us with a fix for it as well...thanks :)

[2019-01-30 18:08] srivatsav123 commented on #125
@sujit I have raised a PR for the same.. Waiting for it to merge..

On Wed, 30 Jan 2019, 21:47 Sujith Simon <notifications@github.com wrote:

[2019-01-31 03:32] #125 closed

[2019-01-31 14:03] sids-b commented on #111
We have added rsync for putting only the extra commit while running CI jobs and also added daily build jobs(cron jobs). They will be triggered everyday at 7:30pm India time and 10:00 pm China time.
Thanks @srivatsav123
cc @m1093782566 @rohitsardesai83 @skdwriting

[2019-01-31 14:03] #111 closed

[2019-02-01 04:52] lidiyag opened #135 "Code Fixing need to done for isModuleEnabled() in db.go"
The temporary change made in file db.go(pkg/common/dbm/db.go) needs to be fixed. The function isModuleEnabled() returns true in the beginning of the function.
![dbgoerror](https://user-images.githubusercontent.com/14183934/52103340-2e9c4600-260b-11e9-816e-90bae9ab1f43.png)

[2019-02-01 05:07] lidiyag opened #136 "Proper Error Handling necessary in dtcontroller.go"
**1. The distributeMsg() returns error as nil even if message is nil.**
![distributmsg](https://user-images.githubusercontent.com/14183934/52103656-c51d3700-260c-11e9-85cd-9d93b199ce02.png)

**2. Error handling not done in Start()**
![start](https://user-images.githubusercontent.com/14183934/52103728-1c230c00-260d-11e9-9861-414a89509c4b.png)

[2019-02-01 05:53] sids-b opened #137 "Watch functionality for deviceTwin"
**What would you like to be added**:
Can we have a watch kind of functionality in deviceTwin?
In current implementation of deviceTwin, if an app/user wants to get twin of a device, then a message is sent to $hw/event/device/+/twin/get topic and response is sent to $hw/event/device/+/twin/get/result topic. Similar is applicable to membership and device state.
So if an app/user needs to perform some

[2019-02-01 08:45] rohitsardesai83 commented on #115
@sameersarkar1979 , any updates on this ?

[2019-02-01 08:51] sids-b commented on #136
@lidiyag , can you please follow issue template ??

[2019-02-01 08:51] sids-b commented on #135
@lidiyag can you please follow issue template here as well ??

[2019-02-01 09:05] sameersarkar1979 commented on #115
@srivatsav123 will be working this issue

[2019-02-01 10:39] rohitsardesai83 commented on #137
@sids-b , looks like a good feature to add. @qizha , please let us know if we can go ahead and prepare some kind of design document for this proposal. You can review and let us know if it's feasible to go ahead.

[2019-02-02 17:43] sids-b commented on #136
We don't need return here.... if we return here, device-twin will stop receiving messages.....My bad i missed it earlier.
cc @m1093782566 @rohitsardesai83

[2019-02-05 05:17] sameersarkar1979 opened #141 "Cleanup EdgeD module and add UT - edged\containers\container_manager.go"
**What would you like to be added**:
Cleaning up edged code and adding UT's

**Why is this needed**:
UT help in testing functional level increase code coverage

[2019-02-05 13:32] srivatsav123 commented on #115
@sameersarkar1979 @rohitsardesai83 -Please review

[2019-02-08 12:51] sids-b commented on #141
Closing this issue.

[2019-02-08 12:51] #141 closed

[2019-02-09 06:27] #136 closed

[2019-02-10 13:45] sids-b commented on #135
ping @lidiyag , any updates on this ?

[2019-02-10 13:53] sids-b opened #149 "Update README_zh.md"
**What would you like to be added**:
Update README_zh.md to be in sync with README.md

**Why is this needed**:
This is need so that chinese developers can find link to documents and mailing lists which is updated in latest README.md

[2019-02-11 06:54] sids-b opened #151 "Integration test enhancement for DeviceTwin and edged"
**What would you like to be added**:

More integration tests required for DeviceTwin and edged

**Why is this needed**:

DeviceTwin and Edged have various functionalities, and changes in one file may affect other functionality which depends on that file. Currently we do not have tests for many features/functionality of deviceTwin and edged. Only basic tests are present which do not test all the sc

[2019-02-11 10:40] anvithks opened #152 "Add ReadTheDocs.io support. Update the documentation."
The current documentation is maintained in plain markdown files in the docs folder.
To better organise and have a searchable documentation website it was decided to integrate with readthedocs.io
The following tasks need to be done for the same:

- Install and configure readthedocs.
- Rearrange the docs folder
- Format the documentation.
- Integrate with readthedocs site.
- Provide link on main web

[2019-02-11 11:52] #115 closed

[2019-02-11 14:06] sids-b opened #155 "Issue with update-gofmt.sh script"
**What happened**:
Running hack/update-gofmt.sh still gives gofmt warning in CI

**What you expected to happen**:
No warnings in CI

**How to reproduce it (as minimally and precisely as possible)**:
Clone the code
Run hack/update-gofmt.sh

[2019-02-11 14:07] sids-b commented on #155
Can be seen in PR #154

[2019-02-11 14:29] sids-b commented on #155
According to @srivatsav123 , there can be an issue with gometalinter which is not taking -w flag in gofmt

[2019-02-12 01:53] m1093782566 commented on #137
I think it's a reasonable feature request. WDYT @qizha

[2019-02-12 05:38] srivatsav123 commented on #155
@sids-b - Hi no issue with both update-gofmt.sh script and gometalinter ..But the version which is used to test gofmt must be  1.11 or above(go version  1.11). If its below 1.11 there may be possiblity of not formating correctly..(Possibly some bug so that some lines will not get formatted)

[2019-02-12 05:40] srivatsav123 commented on #155
@sids-b you can close the issue..

[2019-02-12 06:07] sids-b commented on #155
We are using go version 1.11... you can check  .travis.yml for the same :)

[2019-02-12 06:28] srivatsav123 commented on #155
yes agree..But in local host ..if we use version 1.9.1..!..Then there will be missmatch in formatting..Please use go version 1.11 in local host and try..

[2019-02-13 10:28] rohitsardesai83 opened #159 "Realign code structure to incorporate cloud part"
**What would you like to be added**:
The code structuring needs to be changed in order to add the cloud part modules.

**Why is this needed**:
Code modularity will help in easy maintenance once the cloud part is opensourced.
This will help reusing common framework like beehive , maintaing a common vendor package for both cloud and edge modules.

[2019-02-13 10:34] rohitsardesai83 commented on #159
we will have three modules
Proposed structure :

kubedge
   - edge  // will contain all current kubeedge code
   - cloud // will contain all cloud components ( cloudhub , controller etc )
   - common // will contain all common code ( e.g beehive )
   - vendor // will contain all 3rd part libraries needed by above modules.

[2019-02-13 10:37] m1093782566 commented on #159
+1

[2019-02-13 13:37] sujithsimon22 opened #160 "Cross Compiling kubeedge for ARM Architecture"
We should have instructions to cross compile kubeedge for ARM based processors

[2019-02-13 13:37] sujithsimon22 commented on #30
Created a sub issue for cross compiling kubeedge for ARM based processors

[2019-02-14 06:53] sids-b opened #161 "Stopping edged doesn't kill containers"
**What happened**:
Deployed an application through cloud. After stopping the edge-core process, the container was still running.

**What you expected to happen**:
After stopping edge core process, all containers managed by edged should be stopped.

**How to reproduce it (as minimally and precisely as possible)**:
1) Start edge-core
2) Deploy an application
3) Stop edge core

cc @rohitsardesai83 @m

[2019-02-14 11:06] #159 closed

[2019-02-14 12:52] sids-b commented on #155
So as suggested by Manju, we need to suggest to use golang v1.11 during development

[2019-02-14 12:52] #155 closed

[2019-02-15 04:17] m1093782566 commented on #160
Can we add a test job in CI for cross compiling?

[2019-02-15 04:24] #160 closed

[2019-02-20 06:54] naveensriram commented on #151
Need to address these as part of integration tests

Edged scenarios
=============

-> Deploy application with restart policy: No restart
-> Deploy application with restart policy: restart on failure
-> Deploy application with restart policy: always restart
-> Deploy application with and without liveness prob
-> Deploy application with and without service probe
-> Deploy application with resource m

[2019-02-20 07:24] samy2019 opened #167 "As per README.md, to run edge UT & IT, execute "make test" & "make integration_test", these commands fail"
**What happened**:
As per README.md, after executing "make test" & "make integration_test", the execution fails with error.

ubuntu@ubuntu1804VM:~/gopath/src/github.com/kubeedge/kubeedge/edge$ cd ..
ubuntu@ubuntu1804VM:~/gopath/src/github.com/kubeedge/kubeedge$ make test
make: *** No rule to make target 'test'.  Stop.

ubuntu@ubuntu1804VM:~/gopath/src/github.com/kubeedge/kubeedge$ make integration

[2019-02-20 07:28] m1093782566 commented on #167
@sids-b Please take a look.

[2019-02-20 07:31] m1093782566 commented on #167
@samy2019 Thanks for reporting the issue.

A quick question, did you check out the HEAD OR just download the v0.1 release?

[2019-02-20 08:51] samy2019 commented on #167
I had checked out HEAD and not v0.1. Hence it is mistake from myside to put kubeedge version as v0.1.

[2019-02-20 08:55] sids-b commented on #167
Just a problem in README.md
instead of make test .... we need to make it make edge_test
Similar for integration test

Small bug in README.md , no need to make any changes in any other file.  @samy2019 can you raise PR with fix ?

[2019-02-20 08:57] m1093782566 commented on #167
Thanks for your prompt response @sids-b.

[2019-02-20 08:59] samy2019 opened #168 "Addressing licensing issues in kubeedge"
**What would you like to be added**:
Licensing terms to be added in kubeedge

**Why is this needed**:
Kubeedge opensource code has to adhere to apache 2.0 licensing terms and rules. Hence it is required to mention about it in the edged code.

[2019-02-20 11:10] #167 closed

[2019-02-22 03:17] qizha opened #172 "Service support and data communication between nodes"
**What would you like to be added**:
A mechanism to support interaction between nodes. The interaction include both data transport and application calling.
There are two factors for the data transportation:
1. Define the endpoint which include data source and destination in a data transportation process
2. Define a router rule to connect the pre-defined source and destination points
Once the route

[2019-02-27 05:46] rohitsardesai83 opened #178 "Device management from cloud is required"
**What would you like to be added**:
There should be a way to manage devices from the cloud and push these updates between cloud and edge nodes. Basic CRUD operations for describing device metadata, status updates etc are needed.

**Why is this needed**:
Device management is a basic feature of an edge computing platform.

[2019-02-27 06:08] #152 closed

[2019-02-27 07:50] anvithks opened #179 "Width of the documentation site covers only half the screen"
/kind documentation

**What happened**:
The documentation site at https://kubeedge.readthedocs.io  displays content in only half the screen.

**What you expected to happen**:
The width of the site should be full screen and  content should be displayed appropriately.

**How to reproduce it (as minimally and precisely as possible)**:
Open the site https://kubeedge.readthedocs.io.

[2019-02-27 21:41] CindyXing opened #182 "Evaluate KubeEdge scalability"
KubeEdge allows admin to manage large scale of edge nodes from cloud. With Edgecontroller, cloudhub/edgehub and metadata store at edge side, we are extending the potential capacity.

To prove the advantages, this is to book an item for us evaluating the
- latency & throughput for cloudhub/edgehub
- scalability of kubeEdge cloud side

As a result, we'll also evaluate the future improvement items.

[2019-02-28 09:56] #179 closed

[2019-02-28 18:25] CindyXing opened #183 "Enable network routing between edge nodes"
Currently to route a request from one edge node to the other, it has to go through the cloud. To enable better performance (latency, throughput), we should enable edge to edge routing.

[2019-03-01 01:15] qizha commented on #183
I have a similar one here: https://github.com/kubeedge/kubeedge/issues/172
please take a look. Thanks ^_^

[2019-03-01 18:18] CindyXing commented on #183
Close this one as 172 covers the need already.

[2019-03-01 18:18] #183 closed

[2019-03-01 18:23] CindyXing commented on #172
I think another benefit for this feature is performance and autonomy. With edge nodes being able to communicate each other, network latency can be reduced given it doesn't need to go through the cloud side anymore. This reduces the bandwidth load on cloud side. And enable further autonomy on edge side.

The challenge is enable software defined network connectivity at lower level especially when th

[2019-03-04 04:35] anvithks opened #186 "Broken image links and page links in documentation files."
- [ ] Broken image links in Device Twin docs

- [ ] Broken page links in What is KubeEdge page.

- [ ] Long link titles in Sidebar menu

- [ ] Markdown tables not parsed in html files.

[2019-03-04 08:05] qizha commented on #172
We can leverage some P2P techniques for the communication itself, like UDP Hole

[2019-03-05 00:56] CindyXing opened #190 "Design and document public interface between cloud and Edge"
**What would you like to be added**:
Between cloud and edge, there is a communication prococol. This is to consolidate and document the public interface.

If needed, we should design some further functionalities.

**Why is this needed**:
The public interface is the protocol we should maintain for KubeEdge architecture. It ensures contract upon future extension both at cloud and edge sides.

[2019-03-05 01:38] CindyXing opened #191 "Evaluate and enhance cloud/edge performance though QUIC"
**What would you like to be added**:
QUIC is a protocol based on UDP. It is considered as the http 1.3 standard with higher security guard and better performance. QUIC also support congestion control and LTE/wifi live migration.

The proposal here is to evaluate/design MQTT/HTTP using QUIC. Idea is to enhance security/performance and better load balancing.

**Why is this needed**:
To enhance perfo

[2019-03-05 02:22] #186 closed

[2019-03-05 11:28] sids-b opened #195 "Document limitations of edge"
**What happened**:
Tried to deploy a pod with host and container port different. Found out that it was a limitation of edged.

**What you expected to happen**:
Pod to be created normally.

We need to document the limitations of edged so that users/developers can keep in mind those limitations while creating deployments.

[2019-03-06 04:12] m1093782566 commented on #149
cc @edisonxiang

[2019-03-06 04:13] m1093782566 commented on #149
/assign @edisonxiang

[2019-03-06 04:15] m1093782566 commented on #149
@pavan187

Seems ci -bot is not working now?

[2019-03-06 05:18] pavan187 commented on #149
/assign @edisonxiang

[2019-03-06 05:29] samy2019 opened #196 "Modifying EdgeD integration tests to get pod information from MetaManager instead directly from EdgeD"
**What would you like to be added**:
EdgeD integration test cases, Instead of calling metamanager to get the pod list to verify application launch, It currently calls EdgeD provided (HTTP URL - GET). Integration tests should call metamanager to GET the pod list. This has to be modified.

**Why is this needed**:
EdgeD currently provides a way (HTTP URL - GET) which if requested GET's the Pod list.

[2019-03-06 05:30] pavan187 commented on #149
@m1093782566 , Assignee must be a collaborator, otherwise Github will not allow to assign

[2019-03-06 10:45] akevy opened #198 "start edgecontroller panic: open tmp/rootCA.crt: no such file or directory"
# ./edgecontroller
2019/03/06 18:31:13 WARN: empty configurtion from [CommandlineSource]
2019/03/06 18:31:13 WARN: empty configurtion from [MemorySource]
New file source added for configuration: /root/kubeedge/cloud/edgecontroller/conf/controller.yamlNew file source added for configuration: /root/kubeedge/cloud/edgecontroller/conf/logging.yamlNew file source added for configuration: /root/kubeedge

[2019-03-06 10:46] akevy commented on #198
How to install edgecontroller correctly?

[2019-03-06 10:54] rohitsardesai83 commented on #198
have you generated the certificates : https://github.com/kubeedge/kubeedge/blob/master/README.md#generate-certificates

[2019-03-06 10:55] sids-b commented on #198
Hi @akevy , You need to generate certificates and give correct path in the config file. Please find the steps to generate certificates over here https://github.com/kubeedge/kubeedge/#generate-certificates .

[2019-03-06 16:53] sids-b commented on #198
@akevy , i hope your issue is solved. Please feel free to message us on slack if you face any issue. I am closing this issue :)

[2019-03-06 16:53] #198 closed

[2019-03-06 16:54] sids-b commented on #191
cc @lidiyag
Please keep updating your performance analysis here. Thanks :)

[2019-03-07 02:57] akevy commented on #198
@sid need to create test. key, which is not seen in the document
 mv rootCA.* tmp/
./edgecontroller
2019/03/07 10:51:41 WARN: empty configurtion from [CommandlineSource]
2019/03/07 10:51:41 WARN: empty configurtion from [MemorySource]
New file source added for configuration: /root/kubeedge/cloud/edgecontroller/conf/controller.yamlNew file source added for configuration: /root/kubeedge/cloud/edgeco

[2019-03-07 04:11] sids-b commented on #198
@akevy , in these steps ( https://github.com/kubeedge/kubeedge/#generate-certificates ) we generate rootCA.crt , kubeedge.crt and kubeedge.key . You need to have something like this in configurations of edgecontroller (controller.yaml)
[code]
And in edge_core configurations(edge.yaml)
[code]

[2019-03-07 04:22] anvithks opened #201 "Add Cloud documentation to readthedocs."
- [ ]  Add the edge controller and cloudhub documentation to the readthedocs site.

[2019-03-07 04:23] anvithks opened #202 "Update the setup section in the documentation website."
- [x] Update the setup section. The setup steps need to reflect the cloud changes and cross compilation section.

[2019-03-07 04:23] anvithks opened #203 "Update ReadMe.md with links to documentation site and examples."
- [x] Update ReadMe.md with links to documentation section and examples.
- [x] Fix formatting and typos.

[2019-03-07 06:10] #201 closed

[2019-03-07 07:49] #202 closed

[2019-03-07 07:49] #203 closed

[2019-03-07 08:53] anvithks opened #205 "Restructure the documentation into appropriate folders."
**What would you like to be added**:
Currently the docs reside in one folder and many of the files are at one level.
Organise the docs folder as per the sections in the [docs website](https://docs.kubeedge.io).

- Getting Started
- Concepts (this is named modules. we can continue with the same.)
- Guides
- Setup
- Troubleshooting

**Why is this needed**:
This will help in keeping the docs organise

[2019-03-07 09:14] #205 closed

[2019-03-07 12:26] m1093782566 opened #208 "Reduce edge-core binary size"
**What would you like to be added**:

Reduce edge-core binary size

**Why is this needed**:

edge-core's current binary file size is about 70MB, which is bigger than k3s. As less resource consuming is one of the declared advantages of kubeedge, we need to optimize the binary file size.

[2019-03-07 12:26] m1093782566 commented on #208
/assign @skdwriting

[2019-03-08 00:54] warmchang commented on #28
Would you consider supporting a lightweight operating system (Alpine or BusyBox)?

OS | Ubuntu 16.04 LTS (Xenial Xerus)、Ubuntu 18.04 LTS (Bionic Beaver) 、CentOS 7和RHEL 7
-- | --

[2019-03-08 01:22] m1093782566 commented on #28
Definitely!

cc @skdwriting @sids-b @rohitsardesai83

[2019-03-08 01:26] Baoqiang-Zhang commented on #28
@warmchang OS in requirements is only  a suggestion since IEF service team have verified on these general OS, you can use kubeedge code to build a binary to run on any OS that you need.

[2019-03-08 01:31] warmchang commented on #28
Got it, thanks. :+1:

[2019-03-08 03:16] soolaugust opened #211 "codes in "context_channel_test.go" is not appropriate."
https://github.com/kubeedge/kubeedge/blob/a7f48c8539602a3d9c71efe864e77a32904f4518/common/beehive/pkg/core/context/context_channel_test.go#L22

should this be:

[code]

as `coreContext.Receive` returns `(model.Message, error)`.

[2019-03-08 05:38] samy2019 commented on #195
@sids-b , Please share the steps and the configurations for the pod.

[2019-03-08 05:42] sids-b commented on #195
@samy2019 , This is the deployment which i used https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#creating-a-deployment . Consider this just an example. We need to come up with a document of what all functionalities of full kubernetes we do not support.

[2019-03-08 05:51] sids-b commented on #211
Thanks @soolaugust , It would be great if you could raise a PR for the same ?

[2019-03-08 06:18] soolaugust commented on #211
I raise the PR https://github.com/kubeedge/kubeedge/pull/214, please check it

[2019-03-08 07:39] #211 closed

[2019-03-09 15:21] sids-b commented on #135
@lidiyag , still this fix is remaining ??

[2019-03-10 03:31] m1093782566 opened #220 "Still missing edged document"
**What would you like to be added**:

Add edged detailed document.

**Why is this needed**:

[2019-03-11 02:54] #151 closed

[2019-03-11 06:25] #149 closed

[2019-03-11 14:49] nkwangleiGIT commented on #195
Hi @sids-b I'd like to work on this issue. As I tried, the limitation here is something like this:

[code]

Is it correct to add this note to the link below(under Deploy Application)?
https://docs.kubeedge.io/en/latest/setup/setup.html#deploy-application

[2019-03-11 15:29] m1093782566 commented on #195
@nkwangleiGIT

Any contributions are welcome, please go ahead and send a fix. Thanks!

[2019-03-11 16:16] sids-b commented on #195
Sure @nkwangleiGIT . It would be great if you could contribute. Thanks :)

[2019-03-12 01:17] zhanghongtong opened #224 "Execute `./edgecontroller` error"
**What happened**:
Execute `./edgecontroller` error

**What you expected to happen**:
 + Set up according to the content of the [document](https://docs.kubeedge.io/en/latest/setup/setup.html).
 + Execute `./edgecontroller` error
[code]
 + Create a `tmp` directory and create `tmp/test.crt`
[code]
+ Execute `./edgecontroller` error
[code]

**How to reproduce it (as minimally and precisely as possibl

[2019-03-12 01:33] edisonxiang commented on #224
@zhanghongtong Hey, could you generate the cert/key pair by the way?
https://github.com/kubeedge/kubeedge#generate-certificates

The `tmp/rootCA.crt` is also required, Thanks
https://github.com/kubeedge/kubeedge/blob/master/cloud/edgecontroller/conf/controller.yaml#L12-L14

[2019-03-12 01:54] zhanghongtong commented on #224
@edisonxiang Yes, I put all the cert/key pairs in the tmp directory, and `./edgecontroller` will still report `panic: tls: failed to parse private key`
[code]

[2019-03-12 01:56] edisonxiang commented on #224
@zhanghongtong It seems like the test.crt file size is 0
You can delete test.* and rename kubedge.* into test.*

[2019-03-12 01:57] zhanghongtong commented on #224
@edisonxiang Thank you, let me try

[2019-03-12 01:57] sids-b commented on #224
@zhanghongtong ,in these steps ( https://github.com/kubeedge/kubeedge/#generate-certificates ) we generate rootCA.crt , kubeedge.crt and kubeedge.key . You need to have something like this in configurations of edgecontroller (controller.yaml)
[code]
And in edge_core configurations(edge.yaml)
[code]

[2019-03-12 08:38] qizha opened #225 "Need a wrapper for the current server io to support different protocol and encoding in future"
**What would you like to be added*:
To provide a wrapper for the server io to support the future extension. Also, returning the transportation data size is needed for the flow control purpose.

**Why is this needed**:
The communication mechanism between cloud and edge is websocket with json encoding. However, this cloud  be change to other protocol like quic with protobuf.

[2019-03-12 08:51] sids-b commented on #225
cc @lidiyag

[2019-03-13 03:43] sids-b commented on #224
@zhanghongtong , I am closing this issue. Please feel free to ping us on slack if you are still facing any problem.

[2019-03-13 03:45] sids-b commented on #208
cc @edisonxiang

[2019-03-13 04:41] sujithsimon22 opened #229 "Bluetooth mapper required to provide bluetooth protocol support for devices to connect to KubeEdge"
**What would you like to be added**:
A bluetooth mapper (an application that can be used to connect and and control bluetooth devices) is required to connect bluetooth devices to the KubeEdge platform

**Why is this needed**:
Many IoT devices work using BLE (Bluetooth Low Energy) protocol. KubeEdge needs to provide users with away to connect their bluetooth devices to the KubeEdge platform.

[2019-03-13 05:54] rohitsardesai83 opened #231 "Fix integration tests with random failures"
**Which jobs are failing**:
integration-test

**Which test(s) are failing**:
device tests

**Since when has it been failing**:
Random failures

**Reason for failure**:
device isn't in the context before publish messages to change the state are posted.

**Anything else we need to know**:
Log :
[code]
Failed job URL : https://travis-ci.org/kubeedge/kubeedge/jobs/505530549

[2019-03-13 05:55] rohitsardesai83 commented on #231
@pavan187 , I have created an issue for the failing tests. Please check. Thanks.

[2019-03-13 08:46] #225 closed

[2019-03-13 10:04] m1093782566 commented on #100
@sids-b @rohitsardesai83

Can you help find a guy writing edged document?

[2019-03-13 10:11] sids-b commented on #100
@samy2019 , Can you please help in closing this ?

[2019-03-13 11:28] sids-b opened #232 "Zigbee mapper required to provide Zigbee protocol support for devices to connect to KubeEdge."
**What would you like to be added**:
A zigbee mapper (an application that can be used to connect and and control zigbee devices) is required to connect zigbee devices to the KubeEdge platform.

**Why is this needed**:
Many IoT devices communicate using Zigbee protocol. KubeEdge needs to provide users a away to connect their zigbee devices to the KubeEdge platform.

[2019-03-13 13:04] Baoqiang-Zhang commented on #161
@sids-b  it's a normal scenarios， stop edged would not kill container.

[2019-03-13 13:37] sids-b commented on #161
@Baoqiang-Zhang , i was thinking if we could use something like monit of supervisord for kill pods/containers after edge_core is killed.  Maybe we can think of some design later. Closing this issue for now :)

[2019-03-13 13:37] #161 closed

[2019-03-14 04:20] sids-b commented on #195
Reopening this since we currently haven't documented all Limitations

[2019-03-14 06:11] leeruibin opened #235 "why i get "connection refused""
**Which jobs are failing**:
I am trying the KubeEdge demo, and succeed in making the edgecontroller file. I met the bug submitted in the issue #224 and fix that problem, however i can not finish the running, it report that:

E0314 13:21:01.282288    8997 reflector.go:205] github.com/kubeedge/kubeedge/cloud/edgecontroller/pkg/controller/manager/configmap.go:29: Failed to list *v1.ConfigMap: Get htt

[2019-03-14 06:21] m1093782566 commented on #235
cc @sids-b @edisonxiang

[2019-03-14 06:34] sids-b commented on #235
Hi @leeruibin , Did you follow this step as well ?
[code]
Looks like you have not opened an insecure port on apiserver.
Another way to achieve this is vial kubectl
[code]

[2019-03-14 06:48] m1093782566 commented on #235
@sids-b

Do you mean users will need to update kube-apiserver manifest and then restart kube-apiserver?

If possible, I would like add this guide to README.

[2019-03-14 06:50] sids-b commented on #235
@m1093782566 The step to update the manifest is already present in the README. As soon as there is change in manifest, apiserver will automatically restart.

[2019-03-14 07:00] sids-b commented on #235
Also @leeruibin , if your kubernetes master is not running on the same machine as edgecontroller then IP address has to changed in conf/controller.yaml .  Change localhost to IP of the machine where your master is running
[code]
Please update us if you are facing any other issues :)

[2019-03-14 07:17] m1093782566 commented on #235
@sids-b

I mean provide another way to let kube-apiserver listen on 8080 :)

[code]

If possible, I would like to add this guide to README.

[2019-03-14 08:28] sids-b commented on #235
Sure @m1093782566

[2019-03-14 14:39] pavan187 opened #238 "E2E framework for kubeedge"
**Why is this needed**:
E2E framework should be developed for testing of resurce deployments in kubeedge, and also performance tests with Cloud and Edge nodes

[2019-03-15 09:22] sids-b commented on #235
@leeruibin , can we go ahead and close this issue ??

[2019-03-15 09:23] m1093782566 commented on #235
@leeruibin

If

[code]

works for you, would you please send a PR for this?

[2019-03-15 11:41] anvithks opened #241 "Create a documentation style guide. This document will contain dos, donts and best practices for writing documentation that is compliant with ReadTheDocs."
The KubeEdge documentation is maintained on ReadTheDocs.io . This requires our documentation markdown to follow certain guidelines. This style guide should list out the proper way of writing a document that is ReadTheDocs compliant.

[2019-03-16 01:02] nkwangleiGIT opened #242 "Simplify the readme file to get start with KubeEdge"
**What would you like to be added**:
For the README in the root directory, the content is some complex, and it's not easy for users to get start and have a try quickly.
I think we should put some content in separate doc file and provide most simple steps here, so users would like to have a try first

**Why is this needed**:
Make the "get start" document as easy as possible in README file.

[2019-03-16 01:10] m1093782566 commented on #242
What about write some scripts to reduce the manual steps?

[2019-03-16 02:39] anvithks commented on #242
Yes. This is a good idea.
We already have the documentation in different sections on https://docs.kubeedge.io.
We can reference relevant sections and provide links instead of having too much text in the Readme.

[2019-03-16 06:03] leeruibin commented on #235
@sids-b i am so sorry that i forget about this issue, i will try it right away. Thanks for your advice..

[2019-03-16 07:18] leeruibin commented on #235
@m1093782566 that method does work. I have tried both method and have solved this problem. It's true that i forget to follow the step, thanks i will go ahead and close this. @sids-b

[2019-03-16 07:18] #235 closed

[2019-03-16 07:57] m1093782566 commented on #235
Thanks @leeruibin for feedback.

@sids-b It's time we support accessing kube-apiserver via https?

[2019-03-16 08:29] nkwangleiGIT commented on #235
we can help on kube-apiserver https support if needed

[2019-03-16 09:41] sids-b commented on #235
@m1093782566 , @nkwangleiGIT We already support https connection to apiserver. I will post an example soon :)

Thanks @leeruibin , share your experience of kubeedge with us on Slack :) Also looking forward to see your contributions to KubeEdge :)

[2019-03-16 15:39] zhanghongtong commented on #224
@sids-b @edisonxiang Thanks

[2019-03-18 01:33] kexun opened #243 "Take the beehive out of the kubeedge as an independent dependency repository"
**Why is this needed**:
Beehive as a kubeedge framework, it should be token out of the kubeedge repository. so that other projects could reference it.

[2019-03-18 01:34] m1093782566 commented on #243
+1

[2019-03-18 01:50] qizha opened #244 "Treat master as a edge node"
**What happened**:
There is an error in the log:
`ERROR channelq/channelq.go:101 rChannel for edge node family-nc02u is removed`
As @sids-b mentioned in slack:

**What you expected to happen**:
Give a edge role to edgenode and do not treat a node with master role as a edge node. In this way, we can do some management to edge node particular especially when there is one K8S master managing node loc

[2019-03-18 04:30] m1093782566 commented on #91
@pavan187

Can we close this issue now?

[2019-03-18 07:57] tedli opened #249 "panics if using environment variable (mqtt.mode) to overwrite yaml config of edge core"
**What happened**:

edge core process panics. (if mqtt.mode config entry is overwritten by using environment variable)

**What you expected to happen**:

parse configs succeeded without any panic.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

the goarchaius config framework parse yaml config into a `map[string]interface{}`. so if a

[2019-03-18 08:02] tedli opened #250 "Containerize edge core so docker can manage the lifecycle and simplify the deployment"
**What would you like to be added**:

Dockerfile and scripts to run edge core as a container.

**Why is this needed**:

Simplify edge side deployment.

[2019-03-18 08:04] m1093782566 commented on #100
Closing this issue in favor of #220

[2019-03-18 08:04] #100 closed

[2019-03-18 08:06] tedli opened #251 "Containerize edge controller to further orchestrated with k8s"
**What would you like to be added**:

Dockerfile and scripts to run edge controller as a container.

**Why is this needed**:

Simplify the deployment of edge controller.

[2019-03-18 08:06] m1093782566 commented on #250
cc @qizha @Baoqiang-Zhang

[2019-03-18 08:08] m1093782566 commented on #250
@tedli

I notice you are active in KubeEdge and provided some constructive feedback. Do you want to join as an external collaborator of KubeEdge?

[2019-03-18 08:09] tedli commented on #250
cc @nkwangleiGIT

[2019-03-18 08:11] tedli opened #252 "K8s manifests and docs to deploy control panel (edge controller) into cluster"
**What would you like to be added**:

k8s manifests and related docs to guide deploying control panel (edge controller) into cluster.

**Why is this needed**:

k8s enhances high level business logics, while managing cloud part in a more elastic way.

[2019-03-18 08:12] #249 closed

[2019-03-18 08:19] m1093782566 commented on #224
@zhanghongtong

Seems the issue is resolved. I am going to close this issue. Please feel free to re-open if you still have the same trouble.

[2019-03-18 08:19] #224 closed

[2019-03-18 08:38] leeruibin opened #253 "Can not compile the edge_core in the Raspberry Pi 3B"
**What would you like to be added**:
Is there a release version of edge_core on arm architecture go version 1.10 linux/arm.
**Why is this needed**:
I just try to compile the edge_core on my Raspberry Pi 3B, unfortunately i can not finish the compilation process. I have been spending about two hours in waiting it, however i just stuck in the line "go build cmd/edge_core.go",
the total memory of the

[2019-03-18 08:42] tedli commented on #208
go build option `-ldflags="-w -s -extldflags -static"` along with `CGO_ENABLED=1` (for sqlite), produce an 48M binary.

If we `upx` the built binary with flags `--best`, it gives us a 14M binary.

For now on the upxed one works well with basic cases.

But if we append ` --ultra-brute` to upx, the produced 11M binary won't run.

[2019-03-18 08:43] sids-b commented on #253
@sujithsimon22 , can you please help here. I remember we were also facing something similar.

[2019-03-18 08:44] m1093782566 commented on #208
Thanks for your advice, we will investigate it.

[2019-03-18 08:49] m1093782566 commented on #135
@lidiyag Any update on this issue?

[2019-03-18 08:52] edisonxiang commented on #135
/assign @edisonxiang

[2019-03-18 09:23] sujithsimon22 commented on #253
Hi @leeruibin ,

Have u tried to cross-compile and send the binary over to the raspberry-Pi ?
You could execute the following command from within the KubeEdge directory (Pls ensure that the $GOPATH is set before executing):
 $ make edge_cross_build
You could also refer to https://github.com/kubeedge/kubeedge/blob/master/docs/setup/cross-compilation.md

[2019-03-18 09:28] sujithsimon22 commented on #253
It is advisable to cross-compile and transfer the binary along with the configurations to the edge node.
We will try to give release version of edge_core for arm architecture in the future releases.

[2019-03-18 09:30] m1093782566 commented on #253
We will try to give release version of edge_core for arm architecture in the future releases.

We should provide an arm architecture release. @sids-b Can we update the release v0.2 to support arm architecture? We do not need to wait till v0.3.

[2019-03-18 09:35] sids-b commented on #253
Sure @m1093782566

[2019-03-18 09:38] leeruibin commented on #253
@sujithsimon22 Thanks, i am trying to cross-compile but when i run "sudo apt-get install gcc-arm-linux-gnueabi" but i get
"The following packages have unmet dependencies:
 gcc-arm-linux-gnueabi : Depends: gcc-5-arm-linux-gnueabi (>= 5.3.1-3~)
E: Unable to correct problems, you have held broken packages.
"
i didn't use this before, is there any solution?
Also  i check the Makefile, the command may

[2019-03-18 09:50] nkwangleiGIT commented on #250
@m1093782566 yes, we'd like to join, can you send us the invitation link? thanks!

[2019-03-18 10:10] nkwangleiGIT commented on #253
You can also do this inside docker container if you're familiar with docker, here is the base image:
https://hub.docker.com/_/golang

[2019-03-18 10:36] srivatsav123 opened #254 "Edge_core crashing while doing stress test"
**What happened**:
When iterating 100 times, to add the device,toggle the device state from unknown to online and from online to unknown.Edgecore was crashing for 15/7 iterations etc......
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
1.Go to edge/test/integration/device/device.test.go
2.combine 6th and 7th testcase and make it one, put the cod

[2019-03-18 10:41] sujithsimon22 commented on #253
@leeruibin if u are using the makefile which is present inside the edge folder of KubeEdge then u have to give: $make cross_build  (as u have said),
I was talking about the makefile present in the KubeEdge folder, in which case u have to use: $make edge_cross_build

[2019-03-18 10:43] tedli commented on #253
I suggest you to write a helloworld like program in pure C, to test your cross compiler works as expect.

[2019-03-18 10:46] sujithsimon22 commented on #253
We will

 We will be providing a release package for the current version of KubeEdge (v0.2) for arm architecture, any time now. You could make use the binary within the release package :)

[2019-03-18 10:49] sids-b commented on #253
@leeruibin , please find the link for the arm release package. https://github.com/kubeedge/kubeedge/releases/download/v0.2/kubeedge-v0.2-linux-arm.tar.gz

Thanks @sujithsimon22 for the package :)

[2019-03-18 11:16] leeruibin commented on #253
!! cool !! Thanks, you make my day. :) @sids-b @sujithsimon22  And thanks for your advice I will try what you say!!! @m1093782566 @nkwangleiGIT

[2019-03-18 11:16] #253 closed

[2019-03-19 03:51] tedli opened #256 "CloudHub logs warning when handling keepalive message from edge"
**What happened**:

cloud hub logs warning, with error message "resource type not found"

![image](https://user-images.githubusercontent.com/3324663/54579207-5cafdb00-4a3d-11e9-8894-88ee47cca2f4.png)

**What you expected to happen**:

no warning message

**How to reproduce it (as minimally and precisely as possible)**:

common (default) configuration would stable reproduce.

**Anything else we nee

[2019-03-19 06:45] tedli opened #257 "CloudHub didn't response sync message from edge"
**What happened**:

At edge side, edge core logs warning about timeout to receive response.

![image](https://user-images.githubusercontent.com/3324663/54585321-b53ea280-4a54-11e9-8dc1-6d76e4ec4850.png)

**What you expected to happen**:

No warnings.

**How to reproduce it (as minimally and precisely as possible)**:

common (default) configuration would stable reproduce.

**Anything else we need t

[2019-03-19 06:58] zhanghongtong opened #258 "Edge node cannot join the cluster"
**What happened**:
Edge node cannot join the cluster，I am not sure where I am doing something wrong.

**What you expected to happen**:
Edge node can join the cluster normally

**How to reproduce it (as minimally and precisely as possible)**:
environment：

| hostname                | system      | IP            | role  |
| ----------------------- | ----------- | ------------- | ----- |
| ubuntu@ip-

[2019-03-19 07:03] zhanghongtong commented on #258
I noticed that there is an error in the output of the edge node. I am not sure if this error causes the node edge node to fail to join the cloud, and how to solve this error.
[code]

[2019-03-19 07:03] tedli commented on #258
It may caused by edgecontroller dose not have enough privilege to update node status.

By default edgecontroller call k8s api through insecure port (8080) and your cluster may protected by RBAC.

[2019-03-19 07:08] zhanghongtong commented on #258
Thank you for your reply, I have open port 8080 port, on the edge node can access api-server through curl
[code]

[2019-03-19 07:11] tedli commented on #258
So correct configs in edge/conf folder, to let edge connect to edgecontroller. If I didn't get your point wrong, you start edgecorntroler and edge core in different machine. If so, edge core should not try to connect to 0.0.0.0 .

[2019-03-19 07:12] sids-b commented on #258
@zhanghongtong , you need to change the conf/edge.yaml.
1)In websocket:url you need to give IP address of the master.
2) replace fb4ebb70-2783-42b8-b3ef-63e2fd6d242e with 172.31.43.104 in edge.yaml in 3 place.
    2.1) in websecket:URL
    2.2) in controller:node-id
    2.3) in edged:hostname-pverride

[2019-03-19 07:37] zhanghongtong commented on #258
It can work, thank you @sids-b @tedli

[2019-03-19 07:37] #258 closed

[2019-03-19 07:37] leeruibin opened #259 "edge_core report error even the master node report edge node ready"
**Which jobs are failing**:
Run edge_core, but get the error as follow:
**Which test(s) are failing**:

I meet another problem, i run the command "kubectl apply -f $GOPATH/src/github.com/kubeedge/kubeedge/build/deployment.yaml" and get the error "DockerManager EnsureImageExists failed, msg:Back-off pulling image "k8s.gcr.io/kube-proxy:v1.13.2", ImagePullBackOff
"
"edged/edged.go:485 worker [0] han

[2019-03-19 07:40] tedli opened #260 "If edge core didn't handle pod delete event from cloud, pod remains with status Terminating"
**What happened**:

Pod (running at edge) remain with status Terminating.

![image](https://user-images.githubusercontent.com/3324663/54588464-0a32e680-4a5e-11e9-899f-6da4c0f02e2e.png)

For temporary go over this problem, I have to delete meta entry of the pod in edge.db and delete the pod object in etcd manully.

**What you expected to happen**:

Pod should be deleted.

**How to reproduce it (as

[2019-03-19 07:41] zhanghongtong commented on #258
Are you interested in speaking about the problems I encountered and updating them to the documentation? I can contribute code

[2019-03-19 07:44] m1093782566 commented on #258
@zhanghongtong

Yes, gladly to accept your contributions.

[2019-03-19 07:48] zhanghongtong commented on #258
@m1093782566 Ok, I will create a pull request later to update the README

[2019-03-19 08:15] sids-b commented on #258
Thanks @zhanghongtong we want to keep improving our documentation as well as code.

[2019-03-19 08:16] sids-b commented on #260
cc @Baoqiang-Zhang

[2019-03-19 09:05] Baoqiang-Zhang commented on #260
There are no message cache in edgecontroller&cloudhub right now, maybe we can add cache to send message reliable.

[2019-03-19 09:13] tedli commented on #260
I don't think cache at controller side is a good idea. If controller be killed or downed for some reasons, the cache also gone.

I think we may group pods by nodes, and sync this pods to each node, and edge side could determine which pod should exist which should be deleted.

[2019-03-19 10:03] zhanghongtong opened #261 "`kubectl exec` and `kubectl logs` failed"
**What happened**:
I successfully deployed the kubeedge cluster, but it seems that the cluster network has some issues, pods and services are connection refused

**What you expected to happen**:
Pods and service can be accessed normally

**How to reproduce it (as minimally and precisely as possible)**:
I successfully deployed the kubeedge cluster

[code]

I am trying to create a simple app, here i

[2019-03-19 10:05] zhanghongtong commented on #261
`kubectl log pod-name` will connection refused, but` kubectl describe pods pod-name` is fine

[code]

[2019-03-19 10:59] tedli commented on #260
I found that metamanager periodically sync pod status from cloud. But only unmarshaling message content to `interface{}`, didn't check fields of the pod status object (the interface{}).

So I think we can add some conditions here to work out this case:

https://github.com/kubeedge/kubeedge/blob/6878d86b9ec33ca716933575b93ef70663504ba5/edge/pkg/metamanager/msg_processor.go#L328-L339

If no disagree

[2019-03-19 11:05] m1093782566 commented on #260
@tedli

I am happy to see the PR.

[2019-03-19 12:39] sids-b commented on #260
@tedli Please go ahead and fix this issue :) We are very open to contributions from community.

[2019-03-19 13:34] rohitsardesai83 opened #263 "test: Edgehub Config Unit test failed"
**Which jobs are failing**:
https://travis-ci.org/kubeedge/kubeedge/jobs/508213930

**Which test(s) are failing**:
edgehub config unit test.

**Since when has it been failing**:

**Reason for failure**:
2019/03/19 04:52:10 DEBUG: file event [/tmp/kubeedge/testData REMOVE], operation is %!d(MISSING). reload it.
2019/03/19 04:52:10 WARN: the file change mode: ["/tmp/kubeedge/testData": REMOVE], cont

[2019-03-19 13:35] rohitsardesai83 commented on #263
@sujithsimon22 , can you please check ?

[2019-03-19 16:22] sids-b commented on #208
Closed via #262

[2019-03-19 16:22] #208 closed

[2019-03-20 03:19] zhanghongtong commented on #261
Any update?

[2019-03-20 03:21] m1093782566 commented on #261
KubeEdge doesn't support Service yet. And only support hostnetwork for pod now.

Will support Service and overlay network in the future.

[2019-03-20 03:25] zhanghongtong commented on #261
But I can't operate pods through `kubectl exec`, nor can I get logs through ` kubectl logs`, this is a issue.

[2019-03-20 03:59] qizha opened #265 "Create data routing mechanism between edge and cloud"
**What would you like to be added**:
We need to add the data routing mechanism to control the data flow between edge and cloud. The first step is to support mqtt and rest.

**Why is this needed**:
So that the user can reuse the data channel built by the KubeEdge to do data communication between applications.

[2019-03-20 07:27] tedli opened #267 "Refactor model.Message to embed node_id and project_id"
**What would you like to be added**:

In struct `model.Message`, no fields to store where the message comes from.

**Why is this needed**:

A module may need to know where this message comes from when handling the message. Like when syncing pod status from edge to cloud, at cloud side, it's better to list all pods on a specific node, in this way, cloud side could diff out which pod should be delet

[2019-03-20 07:34] tedli opened #268 "Multi-tenancy support for KubeEdge"
**What happened**:

Pod in different namespaces, didn't get status updated. (through meta syncing operation)

**What you expected to happen**:

Pod status updated properly.

**How to reproduce it (as minimally and precisely as possible)**:

Create pod in different namespaces, only one got updated.

**Anything else we need to know?**:

The meta manager syncs pod status periodically, but use the fir

[2019-03-20 08:20] m1093782566 opened #269 "Flaky test: github.com/kubeedge/kubeedge/edge/pkg/edgehub/config"
**Which jobs are failing**:
[code]

**Which test(s) are failing**:

**Since when has it been failing**:

**Reason for failure**:

**Anything else we need to know**:

[2019-03-20 08:21] m1093782566 commented on #269
cc @rohitsardesai83

[2019-03-20 08:37] sids-b commented on #269
cc @sujithsimon22 . I guess this test file is owned by Sujith.

[2019-03-20 08:42] sujithsimon22 commented on #269
@sids-b @m1093782566 I think this issue is a duplicate one. Pls refer to issue #263

[2019-03-20 09:21] #135 closed

[2019-03-20 09:31] rohitsardesai83 commented on #261
@Baoqiang-Zhang , can you please take a look ?

[2019-03-20 09:34] tedli commented on #261
It seemed that edge_core doesn't expose any port to serve exec and log api.

[2019-03-20 11:23] #220 closed

[2019-03-20 12:25] tedli commented on #260
I'm working on this issue, I plan to handle this by adding some condition in cloud controller, at where controller handles pod statuses syncing from meta manager, then cloud side could list pods using k8s client, and filter out which pod should be delete and still exist at edge side, by filtering out these pods, cloud can trigger delete event again, to let edge delete the pod.

But, it depends on

[2019-03-20 16:06] CindyXing commented on #268
Yes, we assume a registered edge node belongs to a single namespace (tenant/user/project). Can you share the potential customer scenario which requires multiple namespace at each edge node? Thanks

[2019-03-20 16:08] CindyXing commented on #260
I echo what Tedli called out about the issue by adding a cache.
@tedli, please go ahead and share the PR. I commented #268.

Yes, we had thought about "I think we may group pods by nodes, and sync this pods to each node, and edge side could determine which pod should exist which should be deleted.". Would love to hear more of your thoughts.

[2019-03-20 16:11] CindyXing commented on #261
Yes, this is expected.

Kubelet expose port serving APIserver client for kubectl exec/log etc. They are for debugging/monitoring purpose that ITAdmin/user can remotely do against edge node from cloud side. We were planning to use separate mechanism for collecting log and debugging. Plus we didn't make edged as a server thus no support.

@tedli, can you please share the customer scenarios that you

[2019-03-20 16:55] CindyXing opened #272 "Support PV, PVC and storageclass"
**What would you like to be added**:
1. Allow customers to store data using PV, PVC and storage class; and implement/deploy stateful app at edge.
2. Expose ways for customer to config storage CSI plugin

**Why is this needed**:
Often customers need to store data and run stateful app. at edge

[2019-03-20 16:57] CindyXing opened #273 "Allow customer deploy K8s service that it can be further proxied/lb to an endpoint"
**What would you like to be added**:
1. Support K8s service type
2. Be able to route/lb service to endpoints behind

**Why is this needed**:
Allow customer to deploy micro-service using K8s Service type like what they do in data center

[2019-03-20 17:00] CindyXing commented on #273
This can be an action item of [#172](https://github.com/kubeedge/kubeedge/issues/172)

[2019-03-21 01:16] anvithks opened #274 "List of pros vs cons of using KubeEdge on website / docs"
Main benefits to using kubeedge over a standard Kubernetes deployment from a user perspective.
Should you use Kubeedge or a  generic single node cluster.

From here : [refer tweet](https://twitter.com/cjimti/status/1108472662777434113?s=19)

[2019-03-21 01:52] tedli commented on #261
For now on, I don't have any needs to exec/log with any edge pod. @zhanghongtong may share their stories if they want.

But, if we want this feature. There is a precondition that the `kubectl` side have to be able to connect to edge node (is cloud -> edge, not edge -> cloud). This means edge side should expose a port serving exec/log api through public network (internet), which is not possible in

[2019-03-21 02:53] nkwangleiGIT commented on #268
@CindyXing is the 'namespace' you mentioned here is K8S namespace?
in our design, can we deploy multiple pods from different K8S namespaces to a single edge node?

[2019-03-21 03:18] CindyXing commented on #268
Yes, k8s namespace is what I meant. Currently we do not support multiple k8s namespace on a single edge node.

If there is such need, I'd like to understand the customer scenario.

[2019-03-21 03:22] zhanghongtong commented on #261
@tedli Thank you for your reply. We are developers, so need exec/log edge pods to debug. Do you have plans to add exec/log feature, or open them as an option to the user? I think that the edge node open part of the port can be accepted in the trusted intranet.

[2019-03-21 03:26] m1093782566 commented on #261
@zhanghongtong Please note that edged is intended to manage/sync node/application/device status, we don't know to add too many features just for debug which will increase edged footprint and memory consumption.

[2019-03-21 04:26] sids-b commented on #244
cc @maurya-anuj

[2019-03-21 04:52] kexun opened #278 "if edged and k8s master run in the same VM, k8s master containers will be removed by edged"
**What happened**:
if i setup edged and k8s master in the same vm, the k8s master containers will always restarting.

because edged garbagecollect will remove the k8s master containers as it is not in any pod of kubeedge.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
so we can not setup edged and k8s master in the same vm.

**Anything else we

[2019-03-21 04:57] nkwangleiGIT commented on #268
@CindyXing thanks for your response.
if we have this limitation, edge node is not a common K8S worker any more :-) and this is the design from the beginning?
For a simple scenario, we have multiple tenants/projects(K8s namespace) that want to deploy services to edge nodes, then we have to prepare two edge nodes for each tenant?

[2019-03-21 06:17] #259 closed

[2019-03-21 07:45] zhanghongtong commented on #261
Ok, I understand, thank you.

[2019-03-21 07:58] leeruibin opened #280 "Error report when i run "kubectl apply -f ..." to test the Kugeedge."
**What happened**:
I have finished the process before the "kubectl apply -f ...", the edge node have shown ready after I run "kubectl get nodes". However when I try the apply the test deployment I get these error on the edge node:
[code]

it seems that the edge_core recreate the container again and again but do not delete the exit container, also the deployment do not start normally, every contain

[2019-03-21 09:30] RocMe opened #282 "how to build connection with cloud and edge"
**Which jobs are failing**:run kubeedge

**Which test(s) are failing**:1."ERROR config/kube.go:41 kube config not set" ,sorry,I am not clear about how to set kube.go this file ,could you help me
2.I am not sure how to use edge.crt  edge.key
3. "ERROR:wsclient/websocket.go:76 error when init websocket connection: dial tcp 0.0.0.0:10000: connect: connection refused"

**Since when has it been failing

[2019-03-21 09:34] m1093782566 commented on #282
@RocMe

I would suggest you take a look at the README and follow the instructions step by step.

[2019-03-21 09:35] m1093782566 commented on #282
@sids-b When can we add instructions on connect kube-apiserver with https/tls?

[2019-03-21 10:06] sids-b commented on #282
Hi @RocMe , Please have a look at this issue https://github.com/kubeedge/kubeedge/issues/235 and this PR https://github.com/kubeedge/kubeedge/pull/275 for better clarity. Please feel free to ping me(Siddharth Bhadri) on KubeEdge Slack for any other issue you face :)

[2019-03-21 10:41] RocMe commented on #282
thank you .I will see

[2019-03-21 10:44] RocMe commented on #282
Thank you for your kind reply. I will read it .

[2019-03-21 11:26] #243 closed

[2019-03-21 16:06] CindyXing commented on #261
I think @zhanghongtong has a valid point for the debugging/monitoring capabilities. As mentioned, we have plan to implement it in a separate channel.

[2019-03-21 16:18] CindyXing commented on #268
@nkwangleiGIT , please don't get me wrong... For the kubeEdge cluster itself, it still supports multi namespaces. The assumption here is that a single edge node won't be shared by different tenant/project.

From KubeEdge infra. perspective, edgecontroller watches changes against all namesapces and then send down through the cloudhub/edgehub channel. So we can/are supporting multiple namespaces on

[2019-03-21 16:30] sids-b commented on #280
@leeruibin , if you stop edge_core(edged) the containers won't be killed. We discussed this in another issue #161 . Please have a look.

[2019-03-21 16:36] sids-b commented on #280
Also one of your logs
[code]
Says it was not able to pull animage. I guess it is a problem with network. Maybe Google is not accessible. Not sure though.

[2019-03-21 16:37] sids-b commented on #278
cc @Baoqiang-Zhang

[2019-03-21 16:41] sids-b commented on #267
When cloudhub receives a message, It appends the nodeid to the resource.Please see line 103
https://github.com/kubeedge/kubeedge/blob/master/cloud/edgecontroller/pkg/cloudhub/wsserver/server.go#L87-L117

[2019-03-21 16:42] #267 closed

[2019-03-21 16:44] sids-b commented on #282
I am closing this issue. Please ping us on slack for further queries. Thanks @RocMe

[2019-03-21 16:45] #282 closed

[2019-03-22 01:45] #238 closed

[2019-03-22 03:44] leeruibin commented on #280
So how can I solve this problem? Another question is that after I stop edge_core, I kill all the containers and also remove all of them, however when I restart the edge_core, it automatically restart the nginx container even if I do not run "kubectl apply ...", (for now these is no container when I run docker ps -a) but no container can successfully start. I can understand that the edge_core will

[2019-03-22 03:54] leeruibin commented on #280
I have seen this problem when I install k8s, because of the GFW in the china, I can not pull the image directly from google, one solution for this in the k8s is to pull other images provided by other company in china to the local, then change the tag of the image to the "k8s.gcr......". It can fool the checker of the k8s so that the k8s can run successfully. The image shown in the logs is just one

[2019-03-22 04:12] m1093782566 commented on #261
Okay, re-open this issue and put it in backlog then.

[2019-03-22 04:12] #231 closed

[2019-03-22 04:20] nkwangleiGIT commented on #268
@CindyXing so the tenant/project here is NOT the same as K8S namespace in KubeEdge? where can I find some docs to introduce tenant/project concept of KubeEdge?

If so, the code above is probably not working as expected...

[2019-03-22 05:47] sids-b commented on #280
@Baoqiang-Zhang can please have a look once ?

[2019-03-22 06:11] CindyXing commented on #268
@nkwangleiGIT , currently K8s itself is still defining the multi-tenancy story. It is the same situation for KubeEdge.

K8s uses namespace to differentiate tenant and project.

Not sure what you mean by not working as expected. Can you help me to understand your points? Which part not working as expected?

We are assuming one Edge node will belong to the same tenant based on edge/iot customer scen

[2019-03-22 06:18] m1093782566 commented on #280
@leeruibin

I don't think this issue is kubeedge relevant.

[2019-03-22 09:25] rohitsardesai83 commented on #269
dup of #263

[2019-03-22 09:25] #269 closed

[2019-03-22 11:30] sids-b opened #288 "Move Docs to website repository and proposals to enhancements repository."
**What would you like to be added**:
Move docs to website repository and proposals to enhancement repository.

**Why is this needed**:
The hyperlinks in the docs have a .html link which results does not redirect to correct page while moving browsing the docs in github repository.
Also moving proposals to enhancements and docs to website repository will help in seperation and easy management/review

[2019-03-22 11:34] m1093782566 commented on #288
I think docs should be in website repo and the new enhancements repo only for proposals.

[2019-03-22 11:34] rohitsardesai83 commented on #288
:+1:

[2019-03-22 11:36] sids-b commented on #288
+1

[2019-03-22 12:08] tedli opened #289 "[PROPOSAL] More programmer friendly beehive framework"
**What would you like to be added**:

Please refer to this demo:
https://github.com/tenxcloud/serviced/blob/master/example/main.go

[code]

**Why is this needed**:

beehive framework now has points that now good enough:

1. Hard for one who new to kubeedge code to understand interactions between modules (without accurate sequence diagram);
2. Hard to debug (nor do unit test);
3. Easy to make a mis

[2019-03-22 12:12] m1093782566 commented on #289
@tedli

We just create a independent repository for beehive, please check: https://github.com/kubeedge/beehive. You can move the issue to the beehive repo. FYI :)

[2019-03-22 12:14] #289 closed

[2019-03-22 15:41] tedli commented on #268
@CindyXing What we want to express is that a k8s node (while edge core also act as a node) is a cluster scope resource. Without a customized k8s scheduler, pod in other namespaces are also able to be scheduled to an edge node which the pod's namespace doesn't belong to.

So current implementation of KubeEdge (v0.2) could be found that pod in different namespaces co exist on one edge node. And mean

[2019-03-22 19:38] CindyXing commented on #268
@tedli agree with you on the scheduling part.

Looking at the controller code (https://github.com/kubeedge/kubeedge/blob/master/cloud/edgecontroller/pkg/controller/config/kube.go), we are supporting a single namesapce as a whole. So, my bad if some of the upper comments made any confusion. KubeEdge 0.2 E2E works fine.

Your scenario is valid. Though running containers for different tenants on the

[2019-03-22 19:39] CindyXing commented on #268
Or just update the title for this issue. Thx.

[2019-03-23 05:26] nkwangleiGIT commented on #268
ok, so it'll work as expected if we specify a namespace of the edgecontroller, and we can also deploy multiple edgecontroller for different namespaces if needed.
I think we can change the title to "Multi-tenancy support for KubeEdge".  @tedli

[2019-03-23 14:37] wrannaman opened #291 "How are you planning on using kubeedge? - Use Cases Poll"
# How are you planning on using kubeedge?

I've been looking for something like this for a long time (Currently our team uses Rancher although their product wasn't really meant for edge computing.) I'd love to hear how others in the community would like to use this so I can compile a list of use cases that kubeedge can support out of the box.

Thanks!

**What would you like to be added**:

A READM

[2019-03-23 14:41] wrannaman commented on #274
@anvithks How are you currently going about updating and managing system health on all your edge nodes using a single node cluster? (E.G. pod x on edge node y keeps restarting every 2 minutes for some unknown reason)

Practically speaking when you have 100s (1000s) of edge nodes, management is a sizeable pain in the a$$.

[2019-03-23 17:20] rohitsardesai83 commented on #291
@wrannaman , thank you for bringing this up !  We wish to hear more from you regarding what use cases you are looking at. Pretty sure the community would also share their thoughts !

[2019-03-23 17:37] sids-b commented on #291
Hi  @wrannaman ,Glad that you have brought this up. It would be really nice to know your requirements. Please share with us your ideas/requirements of edge computing and we can work together to come up a README/wiki. Also, your requirements can help us add new features in kubeedge if required :)

[2019-03-24 04:22] anvithks commented on #274
@sids-b could you shed some light on this?
cc @rohitsardesai83

[2019-03-24 05:58] m1093782566 commented on #274
@anvithks You can check https://github.com/kubeedge/kubeedge#advantages first.

[2019-03-24 07:21] priyankt68 opened #292 "undefined: ContainerManager - Building edge_core on MacOS"
Hi everyone,

I am trying to build edge_core on MacOS. I am facing following issue while building it.

**What happened**:

[code]

**How to reproduce it (as minimally and precisely as possible)**:
Clone KubeEdge repository on MacOS.
[code]

Do I need to do anything else before I build edge_core ?

I do have Docker daemon running on MacOS.
[code]

**Environment**:
- KubeEdge version: latest from ma

[2019-03-24 08:24] m1093782566 commented on #292
I think you need to cross-build kubeedge(at least edge-core) with Darwin arch.

[2019-03-24 08:40] anvithks commented on #288
Moving the docs to the website repository will open up two possibilities.
1. Documentation can be displayed on the website itself.
2. Documentation can be displayed as it is currently being done, using readthedocs.

If we go with option 1 then developers will have to follow the markdown and shortcodes that are required for the website.
If we go with option 2 they can continue doing what they are d

[2019-03-24 09:13] sids-b commented on #280
@leeruibin , can you check if some replication controller exists which is trying to maintain the number of replicas ?? Use below command
[code]
If yes, you will have to delete that rc

[2019-03-24 09:18] anvithks commented on #288
@sids-b the issue reported above regarding html files and location of files cannot be solved since we are using readthedocs to generate the docs. The path will be different from the source doc.
For this we will have to keep the docs in another repo instead of the website repo.

[2019-03-24 12:03] sids-b commented on #288
@anvithks What would you suggest as a solution ? We need to enable github browsing of documents as well.

[2019-03-24 13:33] sids-b commented on #292
If anyone has tried KubEdge on MAC, please help solve this issues :)

[2019-03-24 14:07] nkwangleiGIT commented on #292
I don't think edge-core can run on Mac, but you can compile it on Mac using command below:
[code]
and copy it to linux, then run it following the KubeEdge instructions.

The error above was caused by container_manager.go, as it has build constraint declared in the file header.
'''
// +build linux
'''

[2019-03-24 19:29] mryalamanchi commented on #172
@qizha I think you should checkout WAMP protocol. It's developed purely from P2P perspective.
It already supports a lot of rich features which you are trying to achieve. I can help you with it.

https://wamp-proto.org/
https://wamp-proto.org/_static/gen/wamp_latest.html

[2019-03-24 20:06] mryalamanchi commented on #232
Hey @sids-b I think what you are looking at is a Zigbee Coordinator and not a mapper. A Zigbee Coordinator (C) will be able to create a PAN and allow Router (R) and End Devices (E) to connect the Coordinator. And if that's what you are looking at then how do you plan to provide access to the coordinator?

[2019-03-24 23:06] wrannaman commented on #291
My current use case is for a video surveillance application. We have hundreds of machines out in production running docker and it's a pain to manage them, update them, etc.

We use Rancher to do this but have hit a limit to the scale Rancher was meant to operate at (without paying a lot for support to figure out how to scale it). Also we'd like to move from Rancher 1 (plain docker) to Kubernetes o

[2019-03-25 02:00] m1093782566 commented on #291
@wrannaman

Thanks for sharing your user cases. Yes, kubeedge is design for good scalability and support K8S primitives. It also supports GPU for containers/Pod.

For pod-pod communications, we currently enable this feature via host-network and will support K8S service and overlay network soon, xref: https://github.com/kubeedge/kubeedge/pull/279.

We are happy to enable your user cases and sincere

[2019-03-25 04:04] anvithks commented on #288
Anyone can browse the docs on github now. But if you try to create a navigation within the github repo for documentation then you are going to have two different places for people to access docs. This may lead to confusion which is not desirable .
I recommend having it in one place, which is readthedocs at the moment.
Do remember that moving the docs to another repository will mean that developers

[2019-03-25 04:34] sids-b commented on #291
@wrannaman

We already have features in design/development phase to support some of your use cases like Pods communicating to each other on same edge node or different edge nodes . Please see PR https://github.com/kubeedge/kubeedge/pull/279

We also plan to support device management via Kubernetes Objects( CRD's), Please see https://github.com/kubeedge/kubeedge/pull/181.

Please go through this PR

[2019-03-25 04:38] sids-b commented on #232
@mryalamanchi , I guess we taking about the same functionality. Only the naming convention maybe different.
Please refer to https://github.com/kubeedge/kubeedge/blob/master/docs/proposals/mapper-design.md :)

[2019-03-25 04:45] sids-b commented on #288
@anvithks If the content and number of features increases, it will be better if we have different repositories as maintenance would for docs and source code can be done independently right ? Also I feel contributing to 2 repositories will not be a problem.

Also navigation on github has to enabled. Many users like to browse the docs on github......

[2019-03-25 05:27] mryalamanchi commented on #232
Thanks for the reference @sids-b. Mapper is the right naming convention as it constitutes multiple components of which the Coordinator (Driver) is a part. So, have you guys already begun? I would like to contribute.

[2019-03-25 07:55] qizha opened #293 "Support PV\PVC on edge"
**What would you like to be added**:
Add PC/PVC support on edge

**Why is this needed**:
There are some user scenarios need the local shared storage:
1. In a system to do video data collection and analysis, one application may beed to store the video data into a NAS device and another application read the data to do analysis.
2. In a big computing task flow execution, each tasks interactive the bi

[2019-03-25 08:46] sids-b commented on #293
This issue is same as #272 .
cc @CindyXing @m1093782566

[2019-03-25 09:06] sids-b commented on #280
ping @leeruibin , Any update ?

[2019-03-25 09:52] sids-b commented on #232
Sure @mryalamanchi . We would love to collaborate and work. Currently we are working on the device-management from cloud design using Kubernetes CRD's. Please see #181  . After finalization of this design, we may need to modify some design of mapper post which we can work together for zigbee and other protocol support. We currently have bluetooth mapper PR in review which is also on hold till devi

[2019-03-25 10:29] anvithks commented on #288
@sids-b

Can this be done? Yes.
Is it going to add overhead on developers? Yes.

I disagree.  The lesser repositories I have to deal with the better. That's just my opinion though. I am pretty sure there are many who would be OK to have multiple repositories.

Again I disagree.
If you are going to have a website / docs site then giving another avenue to access the same with a different navigation

[2019-03-25 14:00] #251 closed

[2019-03-25 14:04] #252 closed

[2019-03-25 14:27] #250 closed

[2019-03-25 16:40] CindyXing commented on #293
Yes, this is a dup of #272. I am closing this one and assign Baoqiang to #272. Thanks.

[2019-03-25 16:40] #293 closed

[2019-03-25 17:38] rohitsardesai83 commented on #292
cc @Baoqiang-Zhang , is it possible to remove this constraint in container_manager.go ? or we currently limit to only linux ?

[2019-03-25 19:13] gklp commented on #292
That approach resolves that isssue. I think that  /edge/Makefile should be improved with os and arch. cross_build can be good point to change.

[2019-03-26 02:09] qizha opened #295 "Add CRI support to support containerd"
**What would you like to be added**:
We need to support CRI for container engine

**Why is this needed**:
to support CRI so that we can use containerd in resource limited environment

[2019-03-26 03:40] tedli opened #296 "edge controller dropped the responses from edge (response of adding, deleting, modifying pod)"
**What happened**:

When handling add, delete, modify event at edge core side, in code there are logics like

[code]

to response that the event had been handled. But controller side just dropped the response.

**What you expected to happen**:

The response not be dropped, or if edge side should not response, we can remove `Send2Cloud` lines.

**How to reproduce it (as minimally and precisely as p

[2019-03-26 03:43] tedli commented on #296
The #260  wants an `ack` of an event handling. Whether to implement a cache or other mechanisms to solve #260 , the response is significant.

[2019-03-26 03:55] tedli commented on #260
Whether to implement a cache or other mechanisms to solve this issue, a way of event ACK is needed. Also because of all the actions were taken in an async way, a situation that edge side is handling the event just didn't response to cloud in time, the cloud may think that edge side didn't get the event handled at all, so cloud side may resend the event. If so, should edge just ignore the duplicate

[2019-03-26 04:11] CindyXing commented on #260
Considering edge can connect/disconnect, I think we can't (can't easily) prevent duplicate event sent from cloud. Rather we should make sure customers' intention/events are sent reliably from cloud to edge.

We probably need to evaluate what kinds of events sent from cloud to edge; whether there is any side effect for edgecore to process the event twice.

So far we are sending deployment actions f

[2019-03-26 05:25] sids-b commented on #295
@gpinaik Can you please help with this issue ?

[2019-03-26 05:27] gpinaik commented on #295
ok

[2019-03-26 06:05] priyankt68 commented on #292
Thanks @nkwangleiGIT. I did try and it created a binary. I understand that I will have to run this binary in any linux environment. I will try this out in a RaspberryPi.

@gklp I would like to help out with this. I understand from your comment that some changes might be required to [this](https://github.com/kubeedge/kubeedge/blob/8f4ceaee09e09fe3cd575db325e32df98b65391a/edge/Makefile#L33) line.

I

[2019-03-26 09:22] srivatsav123 opened #297 "TC_Test_EBUS_14 Add a new twin attribute to existing device, Test case randomly failing in Travis Env"
<!-- Please only use this template for submitting reports about failing tests in KubeEdge CI jobs
![Screenshot from 2019-03-20 16-02-12](https://user-images.githubusercontent.com/39593583/54985207-66ee4e00-4fd6-11e9-942e-20a5511cb2f5.png)

**Which jobs are failing**:
edge_integration jobs
**Which test(s) are failing**:
TC_Test_EBUS_14 Add a new twin attribute to existing device
**Since when has it

[2019-03-26 09:28] #297 closed

[2019-03-26 09:33] m1093782566 commented on #297
@srivatsav123 Can confirm if the flaky test really exists?

[2019-03-26 09:35] srivatsav123 opened #298 "TC_TEST_EBUS_14 Add a new attribute to existing device, testcase is failing in Travis CI randomly"
![Screenshot from 2019-03-20 16-02-12](https://user-images.githubusercontent.com/39593583/54986317-6b1b6b00-4fd8-11e9-9e58-4174923f1ede.png)
**Which jobs are failing**:
edge_integration_test is failing
**Which test(s) are failing**:
TC_TEST_EBUS_14 Add a new attribute to existing device testcase is failing
**Since when has it been failing**:
It fails randomly in CI
**Reason for failure**:
Might be

[2019-03-26 09:47] srivatsav123 opened #299 "IT test cases failing randomly for device test"
![Screenshot from 2019-03-26 15-13-20](https://user-images.githubusercontent.com/39593583/54987160-137dff00-4fda-11e9-979d-74920782808f.png)
**Which jobs are failing**:
edge_integration_test jobs are failing
**Which test(s) are failing**:
TC_TEST_EBUS_6,TC_TEST_EBUS_7,TC_TEST_EBUS_8
**Since when has it been failing**:
Since past 2 Days
**Reason for failure**:
May be Environment issue,Could not be

[2019-03-26 18:43] yongwww opened #304 "Add "Install kubeedge" in tutorial, remove from README"
**What would you like to be added**:

- I saw kubeedge installation in README, but no guide for Mac or some other OS like Windows, will be tedious to maintain installation in README, especially considering there is a separate web portal. Please move installation into web portal https://docs.kubeedge.io

- Add install guide for Mac, Windows, etc.

- Add uninstallation guide as well

**Why is this n

[2019-03-27 01:54] m1093782566 commented on #304
+1

@yongwww Can you help this out?

[2019-03-27 01:56] m1093782566 commented on #299
[code]

related??

[2019-03-27 01:57] m1093782566 commented on #299
cc @pavan187

[2019-03-27 02:08] yongwww commented on #304
@m1093782566 I can handle Mac part, but not for Windows since i don't have the env.  Probably I will open a pr by this week. Have to work on other projects at this time.

[2019-03-27 02:09] m1093782566 commented on #304
no problem :)

[2019-03-27 05:14] #172 closed

[2019-03-27 05:43] mryalamanchi commented on #232
@sids-b thanks for the quick update. It will be helpful to proceed further. Sure, I have some fair understanding about the protocols you are planning to integrate. I will keep a check via the Slack channels and keep myself updated. Thanks again bro :)

[2019-03-27 05:51] sids-b commented on #304
Thanks @yongwww

[2019-03-27 06:51] m1093782566 commented on #196
We will decide if we will open source edge-monitor and edge-logger for GET data from edged.

Besides, if we want to implement GET for metamanager, we should do design first.

So just hold this issue for let get back to it once we have clear plan.

[2019-03-28 02:57] wrannaman commented on #291
appreciate the support! I'll go through the PRs and take a look as well as spin up what you've got now to see where you guys are at! Thanks so much!

[2019-03-28 07:13] zhanghongtong opened #309 "Make edge failed in Mac OS"
**What happened**:
Make edge failed

**What you expected to happen**:
Make edge success

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:
- Hardware configuration: MacBook Pro
- OS (e.g. from /etc/os-release): macOS Mojave 10.14.3
- Kernel (e.g. `uname -a`):
- Others: go version go1.11.5 darwin/amd64

[2019-03-28 07:43] m1093782566 commented on #309
dup #292?

[2019-03-28 07:47] zhanghongtong commented on #309
@m1093782566  Yes, but I will also report an error when performing cross compilation.
[code]

[2019-03-28 07:56] m1093782566 commented on #309
Yes because cross_build does not support darwin yet.

[2019-03-28 08:03] zhanghongtong commented on #309
OK, I know, do you have plans to fix this?

[2019-03-28 08:07] m1093782566 commented on #309
Yeah, I think it will be a good community contribution :)

[2019-03-28 08:21] sids-b commented on #309
@zhanghongtong , If possible please do contribute with this fix :)

[2019-03-29 02:45] dreamflown opened #310 "build cloudimage and edge_coreimage fail"
**Which jobs are failing**:
when I trying to build a image of edgecontroller, there is a error that the package cannot be found,  which shows
[code]
**Which test(s) are failing**:

**Since when has it been failing**:

*Reason for failure**:

**Anything else we need to know**:
And the GOPATH is /usr/local/go/src and the GOROOT is /usr/local/go.
BTW, the project path is /usr/local/go/src/github.com/

[2019-03-29 02:48] tedli commented on #310
@dreamflown

[2019-03-29 03:07] dreamflown commented on #310
Do you mean that I should run the comman "docker build" in the kubeedge`s root directory (/github.com/kubeedge/kubeedge) or copy the Dockerfile into the directory "/github.com/kubeedge/kubeedge" then build the image?
thanks for your help.

[2019-03-29 03:22] dreamflown commented on #310
Yes, it produced by the procedure when I trying to `make cloudimage` , but the command is `docker build ` instead of `make', right？

[2019-03-29 04:04] tedli commented on #310
@dreamflown

There are rules to make cloud image and edge image in `Makefile`, which expressive enough to show how to build these images by using `docker build`.

As alternative, is free to build the image without `make`, `docker build` works, and not need to copy any Dockerfiles to project's root directory.

We can just specify docker build `context` by docker's command args, as `--help` shows:

[2019-03-29 04:07] sids-b commented on #310
@dreamflown , I think your GOPATH should be /usr/local/go instead of /usr/local/go/src .

[2019-03-29 05:49] gklp commented on #292
Exactly, the gist link is very useful.

[2019-03-29 06:20] dreamflown commented on #310
@sids-b Actually，it came to my mind the first moment , but it didn`t work.

[2019-03-29 06:20] #310 closed

[2019-03-29 08:00] m1093782566 commented on #309
Closing this in favor of decrease issues.

[2019-03-29 08:00] #309 closed

[2019-03-29 08:25] sids-b opened #312 "Maintain Feature/API version."
**What would you like to be added**:
Each feature/api (including configurations) should have versioning which can make it easy to maintain. Also API's/features can have an alpha/beta/stable tag similar to Kubernetes. Need to define a feature/api graduation process as well.

**Why is this needed**:
This is help in maintaining API/feature backward compatibility. Management becomes easy and can help

[2019-03-29 08:25] xiaosuiba commented on #178
Any progress on this?

[2019-03-29 08:46] sids-b commented on #178
@xiaosuiba , We are still in the design phase of this feature. This feature will be part of v0.3 release :)

[2019-03-29 08:50] m1093782566 commented on #312
+1

[2019-03-29 08:51] #299 closed

[2019-03-29 09:39] leeruibin commented on #280
Sorry for being late, I got nothing when I try the command above. I am trying to delete all the project both on the edge node and cloud node, then I will try to download and start the project again to confirm whether it will be better.

[2019-03-29 10:00] sids-b commented on #312
Kubernetes api-versioning for example: https://kubernetes.io/docs/concepts/overview/kubernetes-api/#api-versioning

[2019-03-30 10:03] sids-b commented on #298
Is this issue also solved @srivatsav123 @pavan187 with the fix you guys provided ??

[2019-03-30 17:09] zhanghongtong opened #313 "Run edge as container failed"
**What happened**:
Run edge as container failed

**What you expected to happen**:
Run edge as container success

**How to reproduce it (as minimally and precisely as possible)**:
+ [Run edge as container](https://github.com/kubeedge/kubeedge#run-as-container)
[code]
+ View node status
[code]
+ Edge node is always at NotReady
+ Look at the container log and find that there is a line error
[code]

*

[2019-03-30 17:10] zhanghongtong commented on #313
The complete container log is as follows
[code]

[2019-03-31 02:37] tedli commented on #313
@zhanghongtong It seemed that the edge core process didn't get cloud hub url correctly.

Please provide the output of

[code]

[2019-03-31 05:21] zhanghongtong commented on #313
@tedli
[code]

[2019-03-31 08:53] kexun commented on #313
i think you got the wrong cloudhub url , please check the edge.yaml ->websocket.url.   i have tried, if you got the correct url, you will see the following error msg.

(2019-03-31 16:45:04.718 +08:00 ERROR wsclient/websocket.go:76 error when init websocket connection: dial tcp 127.0.0.1:10000: getsockopt: connection refused)

 dial tcp :443: connect:  (there is no ip, only port.)

[2019-03-31 09:06] zhanghongtong commented on #313
@kexun I checked the `/etc/kubeedge/edge/conf/edge.yaml` in the container, and `websocket.url` is wrong. This is also a question for me. Run_daemon.sh just sets `edgehub.websocket.url` in the container's environment variable, how is this environment variable loaded into the configuration file?
Looking at the container log, there is a line like this: `New file source added for configuration: /etc/k

[2019-03-31 10:01] tedli commented on #313
@zhanghongtong
I don't have a dev environment right now. So I can't confirm the code, to find out what caused this error.
But the config framework the kubeedge are using, has a mechanism to use env vars to overwrite yaml configs. For now the edge side's config entries almost fixed, only cloud hub url and mqtt endpoint varies. So chose to  use env vars to overwrite these configs.

[2019-03-31 12:43] zhanghongtong commented on #313
When I use binary to deploy edge, I will modify `conf/edge.yaml` as required by the [README](https://github.com/kubeedge/kubeedge/blob/master/README.md#run-as-a-binary-1), but using the container to deploy the edge does not require modification of `edgehub. controller. node-id` and `edged.hostname-override` , I am not sure if this is a must

[2019-03-31 12:52] tedli commented on #313
It's the same to run as binary. There is a copy of the config folder inside the image. But we can still use a customized one when starting the container. With a `-v /<path-to-your-config-folder>:/etc/kubeedge/edge/config` arg to replace the predefined one inside the container, and remove all `-e` flags.

[2019-03-31 14:16] zhanghongtong commented on #313
I tried adding `-e edge.hostname-override="172.31.42.71"` and
    ` -e edgehub.controller.node-id="172.31.42.71"` , but the cluster is still unsuccessful. Is there any way to check the settings of the edge runtime? I want to confirm if my changes take effect.

[2019-03-31 14:38] zhanghongtong commented on #313
The cluster is successful. When the cloud deploys nodes, set the nodename to the default fb4ebb70-2783-42b8-b3ef-63e2fd6d242e. The question now is how does the edge container modify the default nodename?

[2019-03-31 14:41] sids-b commented on #313
@zhanghongtong , you also need to modify the websocket.url . Replace fb4ebb70-2783-42b8-b3ef-63e2fd6d242e with 172.31.42.71

[2019-03-31 14:44] zhanghongtong commented on #313
@sids-b I have modified websocket.url
[code]

[2019-04-01 01:42] tedli commented on #313
@zhanghongtong
Did you mean by env vars or configs the original issue that "error when init websocket connection: dial tcp :443: connect: connection refused" is OK now.

But new problem is how to customize node name. Right?

If so, you want to name your node, first when creating the 'node' k8s resource

https://github.com/kubeedge/kubeedge/blob/9861e92fcb79f8244fd5d6731105035c24b82b00/build/node.j

[2019-04-01 02:06] zhanghongtong commented on #313
@tedli Yes，This is new problem
I created node and set the name to the ip of the edge node, but it is always in NotReady, like this
[code]
When I changed the name to "fb4ebb70-2783-42b8-b3ef-63e2fd6d242e" and deployed it, the state of the node became Ready.
[code]
I guess my container deployment edge can't be clustered for this reason.

[2019-04-01 09:38] kevin-wangzefeng commented on #312
We do need to clarify the critiera of graduation by feature level.
Different features may have different critiera on alpha/beta/stable.
For the API versioning, I think we may just distinguish unstable vs. stable at API object level. Kubernetes also doesn't have a good mechanism for unstable features that relavent to some fields in an already stable API object.

[2019-04-01 11:41] rohitsardesai83 opened #315 "How do we partition a config map containing different device instances , models"
**What would you like to be added**:
The current device crd design proposal https://github.com/kubeedge/kubeedge/pull/181 introduces config maps to store device models and instances for all devices belonging to an edge node. We need a way to segregate the configs by device models / protocols etc.

**Why is this needed**:
Considering the [1mb size limitation in etcd](https://github.com/etcd-io/etcd

[2019-04-01 11:57] rohitsardesai83 commented on #315
@kevin-wangzefeng , @qizha , @CindyXing , thoughts ?

[2019-04-01 17:37] CindyXing commented on #315
An easy way is to define configmapGroups.

[2019-04-01 22:18] batazor commented on #291
We could use kubeedge to manage services and devices on edge nodes to optimize network connectivity and take off some of the tasks of supporting protocols and network restrictions ;-)

[2019-04-02 04:44] yongwww commented on #304
chime in to say sorry for my delay, am working on something else and in SysML conference these days. Will come back here ater

[2019-04-02 05:54] sids-b commented on #291
@batazor , Nice UseCase :) I think we will be supporting this in a few months. We will be glad if you could contribute/collaborate :)

[2019-04-03 01:37] zhanghongtong commented on #313
Any update?

[2019-04-03 01:43] tedli commented on #313
@zhanghongtong
Have you tried with running as binary? If running as binary way also brings no luck. Then nor as container.

And I insist that dot '.' in hostname may problematic.

[2019-04-03 02:18] zhanghongtong commented on #313
@tedli Edge is working in binary mode is normal，this issue only occurs when the container is running.

[2019-04-03 02:21] tedli commented on #313
Are you running multiple edge container on a same host machine or on different machines?

[2019-04-03 02:22] zhanghongtong commented on #313
Different machines

[2019-04-03 02:47] tedli commented on #313
Is there any useful info in edge core's log?

Something like:

[code]

[2019-04-03 03:25] zhanghongtong commented on #313
My current problem is

I correctly set the environment variables of the container
[code]

View docker log
[code]
Why would he register the node fb4ebb70-2783-42b8-b3ef-63e2fd6d242e, I have not set anything about fb4ebb70-2783-42b8-b3ef-63e2fd6d242e

[2019-04-03 03:30] tedli commented on #313
@zhanghongtong
Stop the container, then delete `/var/lib/kubeedge/edge.db` and restart the container again to see if we can have some luck.

[2019-04-03 03:44] zhanghongtong commented on #313
I tried it, but the docker logs are still `2019-04-03 03:38:47.616 +00:00 INFO edged/edged_status.go:366 Attempting to register node fb4ebb70-2783-42b8-b3ef-63e2fd6d242e`, I have a doubt, `edge.hostname-override`and `edgehub.controller.node` is the host IP, not the container IP, will this cause?

[2019-04-03 03:45] tedli commented on #313
@zhanghongtong
I think I found why your edge node trying to register as 'fb4ebb70-2783-42b8-b3ef-63e2fd6d242e'.

The config entry 'edged.hostname-override', didn't overwrite by env var. Because you env key is 'edge.hostname-override'.

[code]

[2019-04-03 03:53] zhanghongtong commented on #313
@tedli It works, thank you!

[2019-04-03 03:53] #313 closed

[2019-04-04 08:13] trilokgm opened #319 "edgecontroller panics when there is no configuration for cloudhub.ca, cloudhub.cert, cloudhub.key."
**What happened**:
edgecontroller crashes with missing configuration for cloudhub.ca, cloudhub.cert, cloudhub.key.

**What you expected to happen**:
Exit gracefully with missing configuration information.

**How to reproduce it (as minimally and precisely as possible)**:
Remove configuration for
  ca: /tmp/rootCA.crt
  cert: /tmp/edge.crt
  key: /tmp/edge.key
in controller.yaml.

**Anything else w

[2019-04-04 08:41] sujithsimon22 opened #320 "Issue with gencerts.sh script in generating TLS certificates"
**What happened**:
Script to generate tls certificate (gencerts.sh) fails to create the certificates when running the script without explicitly creating the directories mentioned in the script as $caPath and $certPath.

**What you expected to happen**:
The script should first create the directories that are mentioned in the script as $caPath and $certPath before trying to use them.

**How to repro

[2019-04-04 08:56] sujithsimon22 opened #321 "Improve the instructions to run as KubeEdge Cloud as kubernetes deployment in Readme.md"
**What would you like to be added**:
Improve the instructions to run as KubeEdge Cloud as kubernetes deployment in Readme.md

**Why is this needed**:
 Necessary permission needs to be provided to certgen.sh before executing. (Command for this can also be specified in the README to make it easier for the user )

[2019-04-04 09:28] tedli commented on #321
Is #317 enough. Or need to be better?

[2019-04-04 09:33] #320 closed

[2019-04-04 11:38] #321 closed

[2019-04-04 11:45] rohitsardesai83 commented on #315
I am sorry I did not understand what you meant by configmapGroups. Could you please explain a bit in detail.

[2019-04-04 13:24] todayisgood opened #323 "CloudHub supports other module subscribe the message from edge"
**What would you like to be added**:
 supports other modules to subscribe the message from edge

**Why is this needed**:
I want to extend a module to handle the message from the edge. But I
found the message from the edge only  be send to the controller module and the custom module  will not be able to process the message.  Can it support send the message to other modules?

the  code in github.com

[2019-04-04 13:26] sids-b commented on #323
@todayisgood , Nice Catch !! We will soon be having other modules in cloud(device-controller, router), etc. We will soon be changing this logic.

[2019-04-04 13:30] sids-b commented on #323
But if you have urgent requirement, a quick fix would be to use
[code]
and add the custom module in controller group.

[2019-04-04 13:41] todayisgood commented on #323
Thank you very much. When will it be released?

[2019-04-04 13:43] sids-b commented on #323
Release is Due by May 31, 2019

[2019-04-04 14:02] todayisgood commented on #323
Nice!

Nice!

[2019-04-05 03:59] m1093782566 opened #324 "Add installer for kubeedge"
**What would you like to be added**:

Many users complained that kubeedge installation is too complicated and it may prevent people from trying kubeedge.

**Why is this needed**:

Add installer for simplified the installation of kubeedge. e.g.

[code]

[2019-04-05 04:00] m1093782566 commented on #324
cc @CindyXing @qizha @kevin-wangzefeng @sids-b @rohitsardesai83

[2019-04-05 04:22] sids-b commented on #324
Sounds good. Need to come up with a design for this so that it can be extended further for devices, etc.
For eg: 1 change i would suggest is
[code]
Still think above command will have complications(like generating correct certificates,etc) while actual implementation.
Indeed a very important and valuable feature.

[2019-04-05 07:35] rohitsardesai83 commented on #324
:+1:

[2019-04-05 07:39] rohitsardesai83 commented on #324
I feel can we keep k8s installation out of this ?
The pre-requisite for installing kubeedge can be a kubernetes cluster installed using tools of user choice.

The kubeedge install should care about installing kubeedge cloud / edge side components.

Also , this installer need not be extended to manage devices.
Device management can be done using kubectl commands since devices are CRDs.

The scope o

[2019-04-05 09:30] m1093782566 commented on #324
Actually I want to reduce the work of installing k8s cluster for uers.

Make sense.

I think we should learn k3s instead of kubeadm. Kubeadm even ask users to install kubelet by themselves!

[2019-04-05 09:34] rohitsardesai83 commented on #324
agree on k3s study ! I still feel we should not complicate our edge installer by introducing k8s control components as well.

one more question :
what is the target audience for this installer ?

1. users who want to try running some apps on top of kubeedge .
2. developers who want to setup a 1-node edge cluster and then update binaries or docker images after changing code ?

[2019-04-05 09:37] m1093782566 commented on #324
I think we mainly focus on fresh users, so 1) if we can only choose one. For 2) I think it's more about upgrade stuff and developers may do some hacks themselves.

[2019-04-05 10:15] sids-b commented on #280
@leeruibin , I think we may have found the problem.
Per @samy2019 , edged will always try to pull the image even if is available in local. You can create a local docker registry and then try.

[2019-04-05 10:15] sids-b commented on #280
@samy2019 can you please share the steps to do so ??

[2019-04-05 10:17] sids-b commented on #195
@nkwangleiGIT , will it be possible for you to take up this activity ?

[2019-04-05 11:14] samy2019 opened #325 "To add documentation to setup kubeedge to measure KPI's %CPU, %Mem and RSS when pods are deployed at edge node"
**What would you like to be added**:
We want to add documentation to create a setup to measure HW KPI's like %CPU, %Mem and RSS consumed by edge core running at the edge node.
This document should be able to help in installing and running the steps to capture the above KPI's to any user

**Why is this needed**:
This document will help the user to understand, how edge core is behaving when load lev

[2019-04-05 18:17] CindyXing commented on #315
Thanks Rohit. What I meant is that we can create a new type called ConfigMapGroup where device configs can be stored and relation to device (configmap name). After the meta data flow down to edge data store, edged can handle the configMapGroup and restructure the configmap for each device.

This way, for a group of devices, only one copy of meta data can be saved.

Thought?

[2019-04-06 19:21] sids-b opened #327 "ApiServer IP should be masked"
**What happened**:
APIServer IP is visible.

**What you expected to happen**:
APIServer IP should not be visible to anyone.

If the IP of apiserver is visible, anyone can play around with apiserver resulting in our test cases getting failed. Need to find a way to mask it.

[2019-04-07 04:04] m1093782566 commented on #327
@sids-b Would you please provide more context?

[2019-04-07 05:02] sids-b commented on #327
Opps forgot to post line number.
https://github.com/kubeedge/kubeedge/blob/master/tests/e2e/scripts/execute.sh#L56
In our e2e test cases source code, we have exposed the ApiServer public IP address. Anyone can delete our deployments, add more deployments and play around with ApiServer which will result in our e2e test case failure. Need to think of some way to mask it.

[2019-04-07 05:07] m1093782566 commented on #327
Oops!

[2019-04-07 06:46] m1093782566 commented on #298
Is this issue fixed or not now?

[2019-04-08 05:06] sujithsimon22 commented on #263
The issue seems to have been caused when the configuration file mentioned within the test is trying to be loaded before the successful creation of the config file. This issue was occurring randomly since, in the normal execution scenario the file is created pretty quickly and hence this panic is not observed. This can be solved by ensuring that the file is loaded only after providing sufficient ti

[2019-04-08 05:55] #178 closed

[2019-04-08 06:13] sids-b commented on #298
By looking at the code I think this issue is not valid now as we are not connecting/disconnecting in each test case. Hence client.Connect() will not be called in Test 14

[2019-04-08 06:13] #298 closed

[2019-04-08 09:13] sujithsimon22 opened #330 "Improve the test cases of getCloudHubUrl() in controller_test.go"
**What happened**:
All test cases of TestGetCloudHubUrl() mentioned in edgehub/controller_test.go appear to be testing the same case i.e. when the placement field in the configuration file is set to false. Looks like the test cases were changed due to source code change when the cloud code added.

**What you expected to happen**:
We should be testing cases in which the placement field is set to tr

[2019-04-08 09:19] m1093782566 commented on #330
Nice catch!

[2019-04-08 09:33] sids-b commented on #330
Thanks @sujithsimon22 . Lets add more test cases to check the placement: false scenarios

[2019-04-08 10:07] #263 closed

[2019-04-08 10:21] samy2019 commented on #280
To deploy docker registry at the edge node, please follow the steps in https://docs.docker.com/registry/deploying/
Use the same image name in deployment yaml,  which is pushed to local docker registry in edge node.

[2019-04-08 13:00] sids-b commented on #288
Can we move the docs folder as it is to the website repo ( Let us not change the readthedocs way of generating documentation ). This will not increase complexity of understanding grammar and will also keep docs related to kubeedge understanding/modules as well as other docs (like proposals, performance test docs, etc) different so that maintainability is also easy.

I feel for a developer cloning

[2019-04-08 14:15] todayisgood opened #332 "Supports automatic deletion of edge containers if their pods do not exist in the cloud."
**What would you like to be added**:

Supports automatic deletion of edge containers if their pods do not exist in the cloud.

**Why is this needed**:

When we delete pods in the cloud, if the network is disconnected, the containers on the edge will not be deleted.This will lead to inconsistencies between the cloud and the edge, even if the network is connected.That will create a series of problem

[2019-04-09 04:17] sids-b commented on #332
@todayisgood , I think we already support deletion of Container is it not a Pod on the edge node. Please see function at line https://github.com/kubeedge/kubeedge/blob/master/edge/pkg/edged/containers/container_manager.go#L1051
and
https://github.com/kubeedge/kubeedge/blob/master/edge/pkg/edged/containers/container_manager.go#L1104

This is part of edged. Does this solve your concern ??

[2019-04-09 05:43] #330 closed

[2019-04-09 06:04] todayisgood commented on #332
Can't solve because the container in the edge is running, but the pod not found in the cloud.

The function detectContainers will update the last usage time of this container when listing running containers and it will never be deleted.

the part of edge:
https://github.com/kubeedge/kubeedge/blob/master/edge/pkg/edged/containers/container_manager.go#L1181

the part of cloud:
https://github.com/kub

[2019-04-09 06:13] sids-b commented on #324
We can have something like PreFlight checks in Kubeadm. kubeedge init cloud will check if docker already installed(install if not exists and check version compatibility), same for k8s and other prerequisites. Makes sense ?

[2019-04-09 07:18] #325 closed

[2019-04-09 11:14] m1093782566 opened #337 "Add community charter"
**What would you like to be added**:

Per weekly meeting, we need to add community charter.

**Why is this needed**:

[2019-04-09 13:13] rohitsardesai83 opened #338 "build: Running `make` builds only edge_core."
**What happened**:
When I run "make" from the root folder i.e kubedge/kubedge , it only  compiles edge_core.

**What you expected to happen**:
When I run make, it should first build cloud , followed by edge code.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
NA

**Environment**: Ubuntu 16.04 LTS
- KubeEdge version: HEAD

[2019-04-09 18:15] CindyXing opened #339 "Support Windows Container"
**What would you like to be added**:
Here is to ask KubeEdge support running windows container(s) on a windows edge node.

**Why is this needed**:
There is good market need for windows platform. With azuresphere, customers can also benefit from secure windows device + os.

[2019-04-10 05:09] rohitsardesai83 commented on #338
@srivatsav123 , can you please take a look at this ?

[2019-04-10 05:48] srivatsav123 commented on #338
ok

[2019-04-11 07:17] m1093782566 opened #341 "UT is missing in cloud part"
**What would you like to be added**:

Add UTs for cloud part and run them in the CI.

**Why is this needed**:

UT is very basic tests.

[2019-04-11 07:17] m1093782566 commented on #341
cc @lidiyag @pavan187 @naveensriram

[2019-04-11 07:18] m1093782566 commented on #341
Also what can we do for integration tests?

[2019-04-11 08:51] pavan187 commented on #341
@m1093782566 , Integration is not required for this, as the cloud part test already covering in E2E framework tests. we do not need have cloud part seperately.

To do only cloud part integration test we need to mock K8s API-Server, which is difficult to handle as we need to study entire k8s API-server code. so we decided to handle the cloud part tests along with E2E tests.
cc @sids-b @rohitsardesa

[2019-04-11 12:05] samy2019 commented on #324
I am proposing the following commands for kubeedge installation process.

There are primarily 2 components (cloud and node [edge])

**Cloud commands will be**:
1. kubeedge cloud init
2. kubeedge cloud reset

**Edge commands will be**:
1. kubeedge node init
2. kubeedge node reset
3. kubeedge node join

**NOTE**: GO will NOT be installed with any of the commands or processes below. User himself need

[2019-04-11 12:17] m1093782566 commented on #324
@samy2019 Thanks for your input.

I think it's worth for writing a formal proposal?

[2019-04-12 06:09] woshiyezitang commented on #341
膜拜大佬

[2019-04-12 08:49] RocMe opened #343 "servicebus test"
**What would you like to be added**:
I want a guide to do servicebus test,thank you.
**Why is this needed**:
 I want to communicate with application running on edge via HTTP. Thank you.

[2019-04-12 08:50] rohitsardesai83 commented on #343
servicebus development is under progress .

[2019-04-12 09:00] RocMe commented on #343
OK. Thank you.

[2019-04-12 10:24] sujithsimon22 opened #344 "Fix minor mistakes in the documentation of devicetwin"
**What would you like to be added**:
There are a few minor mistakes present in the documentation of device twin that are required to be fixed, like updation of flow diagrams in device state update, device attribute update and membership update operation.

**Why is this needed**:
Correcting these problems would enable the user to understand the flow clearly and also improve the quality of our proje

[2019-04-12 10:24] sujithsimon22 commented on #344
/assign @sujithsimon22

[2019-04-12 10:27] sujithsimon22 commented on #344
/kind enhancement

[2019-04-12 10:49] #344 closed

[2019-04-12 10:54] sids-b commented on #343
@RocMe please have a look at the Router design. Once the feature is in place, you can use servicebus https://github.com/kubeedge/kubeedge/pull/314

[2019-04-12 16:50] RocMe commented on #343
great. Thank you.

[2019-04-12 17:50] yongwww opened #347 "Maintain proposal/design in Issues"
**What would you like to be added**:
Suggest to maintain proposal in Issues, or in a separate repo like kubeedge/rfc

**Why is this needed**:
No need to introduce unnecessary commits and docs in kubeedge code base, since proposal needs more discussion usually, there is no final version of this kind of stuff even the code get merged.

For example, some successful projects like Pytorch/MXNet/TVM, de

[2019-04-12 18:05] yongwww opened #348 "Avoid/remove all unnecessary commits like "Merge pull request #*** from ***""
**What would you like to be added**:
I saw a lot of unnecessary commits in code base like "Merge pull request #346 from brant4test/patch-1", make no sense to maintain this kind of commits.

**Why is this needed**:
Obviously, need to keep code base/commit log clean and meaningful

[2019-04-12 18:13] yongwww commented on #347
cc @CindyXing @m1093782566 @sids-b

[2019-04-12 18:13] yongwww commented on #348
cc @CindyXing @m1093782566 @sids-b

[2019-04-12 18:25] yongwww commented on #348
And need to squash all commits in a pr to merge into code base ("Squash and Merge"). For example in this pr #181, a bunch of unnecessary commits were introduced into code base.

[2019-04-13 00:45] CindyXing commented on #347
Sounds good to me. Yes, we should separate code and doc checkins. It can save merging efforts too.

[2019-04-13 02:58] m1093782566 commented on #348
Agree!

[2019-04-13 02:59] m1093782566 commented on #348
We will ask contributors to squash commits before merging PRs.

Also cc @qizha @rohitsardesai83.

[2019-04-13 03:01] #338 closed

[2019-04-13 08:04] sids-b commented on #348
Thanks @yongwww . We will be careful now onwards :)

[2019-04-13 08:07] sids-b commented on #347
Thanks @yongwww , we have a similar issue here #288 . We will move the docs soon :)

[2019-04-14 02:06] #347 closed

[2019-04-14 02:06] yongwww commented on #288
+1

[2019-04-14 02:20] yongwww commented on #348
Thank you guys! @m1093782566 @sids-b will close the issue soon, leave it open for a while in case other guys has different thoughts

[2019-04-14 02:27] #348 closed

[2019-04-14 02:27] skdwriting commented on #288
Why don't we have a separate repo for documentation? Then organize all docs accordingly.
a) docs on website can still use readthedoc model
b) website pages, let us know mix with documentation of the project. It could be duplicate data of all these docs. The page content can be organized within website.
c) documentation repo can have a readme file about a simple diagram explaining the overall docs

[2019-04-14 02:29] m1093782566 commented on #288
@skdwriting

Can we use the website repo for all the documentations?

[2019-04-14 02:35] skdwriting commented on #337
Some of the docs we need to add:
1. Overall charter of the project and its vision (could be on readme? or a kubeedge_chater.md(better?))
2. Roadmap - kubeedge_roadmap.md -- This will be updated as and when needed. (This can also have future view of future 2 releases. (Next - more clear, NextNext-start adding fluid ideas)
3. Community Meeting - KubeEdgeCommunityBiWeeklyMeeting.md -- agenda and MoM

[2019-04-14 02:37] m1093782566 commented on #337
I just initialized the charter, please check: #336 and give your comments there.

For other items, I think you need to check with team one by one as some has been done.

[2019-04-14 02:42] skdwriting commented on #288
@m1093782566 , this is what many other projects do. However, I feel, it is better we keep documentation under documentation repo. It is cleaner and scalable. Let the website repo deals only the website related code/contents.
Unless someone has a big technical issue on this, i recommend this!
Once we do it in a cleaner way, others can follow! :)
However if there is big technical issue, we can check

[2019-04-14 02:45] m1093782566 commented on #288
@skdwriting @anvithks

I want to know the technical issues on putting all the documentations to the website repo.

I think we can use different folder to organize the contents of docs and website.

[2019-04-14 02:45] skdwriting commented on #261
Can we create a separate issue as logging for debugging feature, ref one scenario from this issue? Then close this issue?

[2019-04-14 02:51] skdwriting opened #350 "[ProjectOrganization] Issue Labels Update"
**What would you like to be added**:
Issue labels can be updated:
Some are with kind/<>, some are without kind/
Better we simply add the lables like enhancement, feature, bug etc... (no need to put kind/ -- unless we need it for any processing). It should be enough and clean to understand the issue type.

**Why is this needed**:
Consistency and Simplicity.

[2019-04-14 02:52] m1093782566 commented on #350
cc @sids-b

[2019-04-14 06:29] sids-b commented on #332
@kexun @Baoqiang-Zhang , can you please have a look at this ?

[2019-04-14 06:46] sids-b commented on #350
I think kind is a keyword to redirect ci-bot towards labels. A future processing possibility I see is that the bot automatically requesting review/ assigning the issue/Pr to a correct person.
For eg: kind/bug issue can be assigned to the person who commited in the file. kind/feature can be assigned to one of the maintainers. kind/documentation can be assigned to the person maintaining docs.

Actua

[2019-04-14 06:46] sids-b commented on #350
But definitely we can remove duplicate labels foreg: we have bug and kind/bug both.

[2019-04-14 06:55] sids-b commented on #280
Closing this issue now, it looks like it is not a kubeedge related issue.We can discuss more on slack :)

[2019-04-14 06:55] #280 closed

[2019-04-14 06:56] sids-b commented on #265
I think I can achieve this before v0.3

[2019-04-14 06:58] sids-b commented on #254
This is the same issue we resolved for flacky integration tests. Closing this :)
cc @srivatsav123

[2019-04-14 06:58] #254 closed

[2019-04-14 07:02] sids-b commented on #91
We have some integration/e2e test cases for edged in place already. We will always keep improving/adding more test cases.

[2019-04-14 07:02] #91 closed

[2019-04-14 07:09] sids-b commented on #137
While working on integration tests and debugging more inside deviceTwin, I observed that deviceTwin does publish automatically on the respective get/result topic if we change membership/twin/state. Hence no need to add extra watch topic to achieve this. get/result topic can meet the requirement.
cc @pavan187

[2019-04-14 07:09] #137 closed

[2019-04-14 07:12] sids-b commented on #242
Lets take this up quickly. Our Readme has become very big and is not in sync with docs.kubeedge.io.
cc @naveensriram to help find a guy to close this quickly

[2019-04-14 07:17] sids-b commented on #292
@priyankt68 , is this issue resolved ? Can we close this issue ?

[2019-04-14 07:19] m1093782566 commented on #292
@sids-b

Before closing this issue, we should add `darwin` support in the cross-build job.

[2019-04-14 07:31] sids-b commented on #292
+1 @srivatsav123 , please help with this, Thanks

[2019-04-14 07:38] chenzhen1994 opened #351 "为什么没有中文开发文档?"
**What would you like to be added**:

**Why is this needed**:

[2019-04-14 07:39] m1093782566 commented on #351
@chenzhen1994

Please check:

README zh: https://github.com/kubeedge/kubeedge/blob/master/README_zh.md

website zh: https://kubeedge.io/zh/

[2019-04-15 01:10] #351 closed

[2019-04-15 02:08] chenzhen1994 opened #352 "Can I deploy deep learning algorithms such as cnn or rnn?"
**What would you like to be added**:

Question:

I didn't see how to develop my own application in the development documentation. The three program examples are written in go language. Can I deploy deep learning algorithms such as cnn or rnn?

**Why is this needed**:

[2019-04-15 02:11] m1093782566 commented on #352
@chenzhen1994

Would you please describe your need in English though I can read Chinese as well :)

The English speakers in our team may unable to help you if you write down issues in Chinese.

[2019-04-15 02:13] m1093782566 commented on #352
To your question, kubeedge can run any containered application(no matter what language is) without modifing one piece of code.

[2019-04-15 02:21] chenzhen1994 commented on #352
Ok, I am really sorry.

[2019-04-15 02:22] m1093782566 commented on #352
@chenzhen1994

No worries, welcome to try kubeedge and please feel free to contact us if you have any quesitons :)

[2019-04-15 03:07] skdwriting commented on #350
looping Rohit @rohitsardesai83

[2019-04-15 03:08] skdwriting commented on #350
please check and make it consistent.

[2019-04-15 04:34] lidiyag opened #353 "Code fixing necessary in device.go"
![DeviceIssue](https://user-images.githubusercontent.com/14183934/56107685-3cecd380-5f65-11e9-8a27-6f16f1d44d61.png)

**What happened**:
Here msgMetaJSON and attrMetaJSON has got the same content. Hence strings.Compare will always result in 0 and thus code inside if() never hits.
**What you expected to happen**:
attrMetaJSON,_:=json.marshal(attr.Metadata)
The comparison should happen between the v

[2019-04-15 05:39] #353 closed

[2019-04-15 14:15] rohitsardesai83 opened #357 "Implement device management using CRDs"
**What would you like to be added**:
Add implementation for the device crd design tracked via #178  , and PR #181

**Why is this needed**:
To manage devices from cloud using CRDs.

[2019-04-15 16:11] CindyXing commented on #137
What's the benefit of counting the number of watch? Thanks

[2019-04-15 16:11] CindyXing commented on #137
I am thinking that we just create the onchange topic and ignore whether there is subscriber or not. Thought?

[2019-04-15 17:05] #324 closed

[2019-04-15 17:14] sids-b opened #359 "Add go code style checks for cloud code in CI"
**What would you like to be added**:
Static checks like gofmt, golint, govet

**Why is this needed**:
To improve code quality.

[2019-04-15 17:15] sids-b commented on #359
cc @srivatsav123 @naveensriram

[2019-04-16 01:29] #352 closed

[2019-04-16 03:40] YuPengZTE opened #360 "Can we add a node by a single command?"
**What would you like to be added**:
Can we add a node by a single command like “k3s agent -s ${SERVER_URL} -t ${NODE_TOKEN} ” in k3s, or “docker swarm join-token ${NODE_TOKEN}” in docker swarm?
**Why is this needed**:
The operation is simple and common.

[2019-04-16 03:46] m1093782566 commented on #360
Make sense. Actually we are developing the kubeedge installer to launch kubeedge cluster easily, please check: https://github.com/kubeedge/kubeedge/pull/342

[2019-04-16 03:52] YuPengZTE commented on #360
@m1093782566 Good news!
It is better to add the way of adding nodes by token in [run-edge](https://github.com/kubeedge/kubeedge/blob/master/README.md#run-edge)

[2019-04-16 03:53] m1093782566 commented on #360
@YuPengZTE

I wish you can join this effort :)

[2019-04-16 03:58] YuPengZTE commented on #360
@m1093782566 Thanks for your invitation, I would like to participate in it.

[2019-04-16 04:15] sids-b commented on #360
Thanks @YuPengZTE

@samy2019 @srivatsav123 you guys can collaborate with @YuPengZTE on this effort :)

[2019-04-16 04:28] sids-b commented on #350
Thanks @skdwriting , I have removed all duplicate labels and also made the description consistent.

[2019-04-16 04:28] #350 closed

[2019-04-16 06:20] sujithsimon22 opened #361 "Add support for bluetooth protocol in Device CRD design"
**What would you like to be added**:
Device CRD design should contain device model type definition for Bluetooth protocol.

**Why is this needed**:
Device model type definition for Bluetooth protocol is necessary to create a mapper which uses device CRD to provide support for Bluetooth devices

[2019-04-16 06:21] sujithsimon22 commented on #361
/assign @sujithsimon22

[2019-04-16 07:25] YuPengZTE commented on #360
In my practice, I found some points are not easy to understand, in [inscope](https://github.com/kubeedge/kubeedge/blob/master/docs/proposals/kubeedgeadm-scope.md#inscope):
1. The nodes are included cloud nodes and edge nodes, so it is better to change kubeedge node into kubeedge edge.
2. Since kubeedge edge had edge used twice and didn't sound nice, and kubeedge and kubedge are confused, we can ch

[2019-04-16 09:57] chendave opened #365 "deployment is running but hit "connect: connection refused" error message"
**What happened**:
Follow the guide here: https://github.com/kubeedge/kubeedge, I can set up an kubeedge cluster with one controller and one edge node, the deployment canbe created and the status is running, but the logs in the pod tell me there is "connect: connection refused" error.

[code]

And I cannot access nginx service with curl anyway.

In case the pod is scheduled on the controller node,

[2019-04-16 10:05] m1093782566 commented on #365
@chendave Please check: #261

If this is an necessary feature, we can start the design in community.

[2019-04-16 10:07] m1093782566 commented on #261
Closing this issue as we are moving the discussion to #365

[2019-04-16 10:07] #261 closed

[2019-04-16 13:23] #361 closed

[2019-04-16 14:10] sujithsimon22 opened #368 "Add bluetooth protocol support in device_mode_types.go"
**What would you like to be added**:
Add code for bluetooth profile visitor in device_mode_types.go to provide bluetooth support using device CRD

**Why is this needed**:
This would provide bluetooth protocol support in device CRD, which will enable device mapper to utilise config maps provided using the device CRDs

[2019-04-16 14:10] sujithsimon22 commented on #368
/assign @sujithsimon22

[2019-04-17 01:09] m1093782566 opened #371 "Speed up CI by skipping e2e tests when the change obviously not relevant to that"
**What would you like to be added**:

skipping e2e tests when the change obviously not relevant to that, i.e. document changes.

**Why is this needed**:

Speed up CI.

[2019-04-17 01:09] m1093782566 commented on #371
cc @pavan187

[2019-04-17 03:13] YuPengZTE opened #372 "Can we install kubeedge in PHICOMM N1"
**What would you like to be added**:
A user story of large-scale, low-power container cluster in edge computing with kubeedge like k3s.
**Why is this needed**:
For users, if kubeedge can be installed on N1 simply and quickly, and running smoothly, then kubeedge can run in most EC scenarios.

P.S.
[Introduction of phicomm n1](https://www.cnx-software.com/2019/03/11/phicomm-n1-tv-box-linux-distribut

[2019-04-17 03:59] m1093782566 commented on #372
The KubeEdge agent(edge-core) is much light-weight than k3s agent and edge-core can run on both amd and arm Linux platform.

We have not tested running edge-core in PHICOMM N1 but I guess there should be no big issues. Why not have a try?

[2019-04-17 04:50] anvithks commented on #288
If you want to move the docs out then move it to another repository and not under the website repository.
This will be better in terms of having completely independent management and not having to worry about some conflicts with the website generation.

[2019-04-17 05:49] chendave commented on #365
okay, thanks for the info, close it now.

[2019-04-17 05:49] #365 closed

[2019-04-17 06:24] YuPengZTE commented on #372
Although I have not tried it, I think there should be no big problem running the kubeedge agent on N1. The question may be whether the kubeedge cloud can be run on N1. In other words, can we run the kubeedge cloud in the form of k3s deployment on N1, similar to [Deploy the cloud part into a k8s cluster](https://github.com/kubeedge/kubeedge/blob/master/build/cloud/README.md), or the kubeedge cloud

[2019-04-17 06:35] m1093782566 commented on #372
Interesting point. I think we have discussed it before. You may want to check: https://github.com/kubeedge/kubeedge/pull/316

[2019-04-17 06:36] m1093782566 commented on #372
cc @CindyXing @qizha

[2019-04-17 08:09] #359 closed

[2019-04-17 09:04] YuPengZTE commented on #372
Thanks for your reminder. @m1093782566
I will close this issue when I have run the kubeedge cloud in the form of k3s deployment.

[2019-04-17 09:06] m1093782566 commented on #372
Great! Looking forward to your further feedback :)

[2019-04-17 11:48] kevin-wangzefeng commented on #288
Removed "good first issue" label.

[2019-04-17 16:55] CindyXing commented on #372
KubeEdge is branded as an architecture to run control plane at cloud; and worker nodes at edge location. For scenarios where a whole lightweight cluster is to be installed/run at edge, the idea is EdgeSite. Here it is to propose running K3s master together with kubeedge agent; and benefit from both.

[2019-04-18 06:23] sids-b opened #379 "Add Protocol config for Bluetooth in device_instance_types.go"
**What would you like to be added**:
Protocol config is required for bluetooth device.

**Why is this needed**:
To have protocol specific information to manage the device and add in configmap like MAC, etc

[2019-04-18 06:24] sids-b commented on #379
/assign @sujithsimon22

[2019-04-18 08:54] subpathdev opened #380 "Pods are not leaving pending state"
**What happened**:
The pods are not leaving pending state on the cloud.

**What you expected to happen**:
The pod running on the edge node

**How to reproduce it (as minimally and precisely as possible)**:
I have virtual mashines one  is dealing the other one is dealing as edge.
On the cloud: follow the instructions in the readme
On the edge: follow the instructions in the readme
Then I executed o

[2019-04-18 09:04] m1093782566 commented on #380
cc @edisonxiang I assume you have met the similar issue before?

[2019-04-18 09:06] m1093782566 commented on #380
@subpathdev Is there any interesting output from `kubectl describe pod xxx`?

[2019-04-18 09:13] subpathdev commented on #380
@m1093782566 I didn't think so. But I have attached the output in the file output-kubectl-describe.txt

[2019-04-18 09:16] m1093782566 commented on #380
I find the content in output-kubectl-describe.txt is not very large and you can paste it directly here so that we can help you debug here.

[2019-04-18 09:19] subpathdev commented on #380
OK
[code]

[2019-04-18 10:56] sujithsimon22 commented on #379
Hi @sids-b, i had previously discussed with @rohitsardesai83 regarding this and we had decided that we do not need to add protocol config for bluetooth. As i understand protocol config contains information specific to the entire protocol as a whole and not specific to any device. Though these were necessary for some protocols (like modbus, which is described in the design), i do not see the need o

[2019-04-18 11:02] sujithsimon22 commented on #379
In our current implementation of the bluetooth mapper, I did not see the need of having protocol configs, that is the reason it wasn't added. Would love to hear your take on this, thanks :)

[2019-04-18 11:22] #371 closed

[2019-04-18 13:41] sids-b opened #384 "The DataTypes in the PropertyType of device_model_types.go should be of pointer type."
**What happened**:
Since the data types in the PropertyType are not pointers, cannot check if Int exists or String exists.

**What you expected to happen**:
Expected it to be a pointer if run following code
[code]

[2019-04-18 13:41] sids-b commented on #384
/assign @rohitsardesai83

[2019-04-18 13:46] sids-b commented on #384
same need to be done in VisitorConfig
https://github.com/kubeedge/kubeedge/blob/master/cloud/edgecontroller/pkg/devicecontroller/apis/devices/v1alpha1/device_model_types.go#L95

[2019-04-18 16:42] sids-b opened #385 "CI is stuck for all new PR's"
**Which jobs are failing**:
CI is stuck for all the new PR's

**Anything else we need to know**:
Do we have a problem with our travis.yml or there is some problem with travis(looks doubtful)

[2019-04-18 16:45] sids-b commented on #385
This is the last PR merged in travis.yml
https://github.com/kubeedge/kubeedge/pull/378

[2019-04-18 16:45] sids-b commented on #385
/assign @pavan187

[2019-04-19 01:34] edisonxiang commented on #385
https://travis-ci.org/kubeedge/kubeedge/requests?requestId=160130513
It seems the problem is related with .travis.yml
`Could not parse kubeedge/kubeedge/.travis.yml`

[2019-04-19 01:41] m1093782566 commented on #385
@u5surf thoughts?

[2019-04-19 02:22] #385 closed

[2019-04-19 06:19] m1093782566 commented on #380
cc @sids-b @rohitsardesai83 @edisonxiang

Thoughts?

[2019-04-19 06:53] edisonxiang commented on #380
@subpathdev, the nginx 1.7.9 image is based on arm.
you can run `docker inspect <imageid>` to see about that.
could you replace `1.7.9` with `latest` in this line, and try again?
https://github.com/kubeedge/kubeedge/blob/master/build/deployment.yaml#L19
Could you also show us the result of `kubectl get nodes -o yaml`?
Thanks very much.

[2019-04-19 07:39] u5surf commented on #385
Sorry, I couldn't tried it ,because travis-ci was stacked when I pushed the branch which was commited fixed #371

[2019-04-19 07:49] m1093782566 commented on #385
No worries, the travis ci error is fixed by #386 now.

[2019-04-19 12:34] subpathdev commented on #380
kubectl get nodes -o yaml:
[code]

[2019-04-19 12:38] subpathdev commented on #380
I found only nginx:latest on the edge. I replaced the line 19 with nginx:latest nothing changed. The output of docker inspect nginx:latest:
[code]

[2019-04-20 00:57] edisonxiang commented on #380
@subpathdev Thanks. Got it.
It seems your environment is normal.
Currently kubeedge support host network.
In the nginx deployment sample , we user nginx at the port 80.
Could you please run the following command on the edge node
to verify if the port 80 has already been used on the edge node?
`netstat -anp | grep 80`
e.g. In default, apache is using port 80.
by the way, feel free to ping us in the

[2019-04-20 07:15] sids-b commented on #241
ping @anvithks

[2019-04-20 07:18] sids-b commented on #242
This issue is fixed by @edisonxiang in #391. Thanks

[2019-04-20 07:18] #242 closed

[2019-04-20 08:07] kevin-wangzefeng commented on #288
This is actually a bug, when browing through readthedocs, the link is .html, while when browsing in the github repository it needs .md link.

Per prior discussion, to get best document contributor-experience, we need to help writers just focus on the content (only aware of .md files not .html things)
Besides, regarding the current docs location, people who cloned the repo may read docs directly in

[2019-04-20 21:48] sids-b commented on #39
ping @KingOnTheStar , the cloud part is available now. Can you check if the problem still exists ? It will be very easy to debug with cloud part.

[2019-04-22 03:57] anvithks commented on #288
@kevin-wangzefeng This is not a bug. This is how readthedocs works. It generates html pages from our md files. The link to the md files is available in the "Edit this document is Github" link at the top right corner.
The user does not have to create html files. Readthedocs does that for you.
Our website is using the hugo generator that does pretty much the same thing. But it has a few more shortco

[2019-04-22 05:43] skdwriting commented on #288
@anvithks , when readthedocs build the docs from github, is there a separate copy for each document created and maintained by readthedocs for the website?

[2019-04-22 05:59] anvithks commented on #288
@skdwriting Readthedocs uses generators that build html files(in case we use html folder generator) or a single html file (in case we use a singleHtml generator) from the md files in our docs folders.
This is being done on their site (kubeedge.readthedocs.io). Whenever a PR is merged into the docs/ folder (except for the exclude folder list) in our kubeedge repository the build script is fired and

[2019-04-22 10:20] chendave opened #396 "Unable to run cloud as k8s deployments"
**What happened**:
Follow the guide to deploy cloud as k8s deployments,  "edgecontroller" is started on host successfully, then create a edge node, but the edge node never come to be ready.

**What you expected to happen**:
node should be ready just like how to deploy with binaries, and there should be a way to know what happened on controller node.

**How to reproduce it (as minimally and precise

[2019-04-22 10:22] m1093782566 commented on #396
Is there any interesting log to show? i.e. the log of cloudhub or edgecontroller or edge-core?

cc @sids-b @nkwangleiGIT

[2019-04-22 10:23] sids-b commented on #396
also can you please share the config file of edge_core ??

[2019-04-22 10:27] sids-b commented on #396
I think ``` kubectl logs <pod-name>``` should fetch you the logs of controller in k8s deployment.

[2019-04-22 10:37] chendave commented on #396
@sids-b  do you mean this fie?
$GOPATH/src/github.com/kubeedge/kubeedge/edge/conf/edge.yaml

Here it is,
[code]
I think the config should be okay since it works if controller is also deployed with binary.

[2019-04-22 10:43] chendave commented on #396
Here is the logs from the pod,

[code]

what's the warning message means here?
`2019-04-22 07:37:25.249 +00:00 WARN controller/downstream.go:47 built message resource failed with error: required parameter are not set (node id, namespace or resource type)`

[2019-04-22 11:31] tedli commented on #396
@chendave
How many replicas of you 'edgecontroller' deployment?

[2019-04-22 22:51] CindyXing opened #399 "Change model message and its content to protobuf based"
**What would you like to be added**:

Currently, in beehive framework, model message is defined and serialized/deserialized using json format. With it, for parsing the message, each field index is hardcoded (see https://github.com/kubeedge/beehive/blob/master/pkg/common/util/parse_resource.go).

**Why is this needed**:
This adds a strong limit on how the message will look like and prevent any futu

[2019-04-23 01:37] chendave commented on #396
@tedli , I use the default config "build/cloud/07-deployment.yaml", I think it should be only one.

[2019-04-23 01:48] tedli commented on #396
It seemed that `cloud/edgecontroller/conf/controller.yaml` updated, but `/build/cloud/05-configmap.yaml` didn't. I'm not sure this can cause this issue or not, but you can give it a try.

[2019-04-23 02:06] chendave commented on #396
@tedli , thanks for your comments, but I cannot get it your point, here is the controller.yaml,

[code]
and `/build/cloud/05-configmap.yaml` is not the default config, I have not modified the template, could you pls let me know how to give the try? thanks.

and any suggestion on how to debug the issue for this case?

[2019-04-23 02:07] tedli commented on #396
@chendave

[2019-04-23 02:07] chendave commented on #396
re-create the configmap cannot solve the issue by the way.

[2019-04-23 02:27] chendave commented on #396
@tedli , I think the name I am using is "cloud" instead of "edge" for all the configuration including the secret config, since it was named as "cloud" before just don't want to rebuild it over so I modify all of them to use the name "cloud".

[code]

[code]

[2019-04-23 02:35] tedli commented on #396
What's your k8s 'Service' type? Is there any significant log at edge side?

[2019-04-23 03:27] chendave commented on #396
I am using the default service conf in the repo, here it is,
[code]

And there are some error found in  edge side,

[code]

1. dial tcp 10.169.36.51:10000: connect: connection refused
"10000" did not open on controller node but service is running,
[code]
what's missed here?

2. unable to inspect docker image "sha256:e4fa21079f5a2b79e87f4809b4c6342    1acde9107f9df0a4324ec1bb822568357" while inspec

[2019-04-23 03:35] tedli commented on #396
Is your edge also run inside the k8s cluster? `10.169.36.51` is the edgecontroller pod's pod IP or Service ClusterIP or a node ip?

If the default `Service` is used, and edge not run in the same k8s cluster, the edgecontroller is only accessible inside cluster, you need to use `externalIPs`, `nodePort`, `LoadBalancer` or something else to expose the edgecontroller to outside.

The edge logs that `

[2019-04-23 03:40] chendave commented on #396
edge is running with binary not in the k8s cluster, and `10.169.36.51` is the node IP of edgecontroller.

I will expose the service to outside, and have a try again, but what's the image here the edge want to inspect? How the edge get such info?

[2019-04-23 03:54] tedli commented on #396
https://github.com/kubeedge/kubeedge/blob/a1a421a88f5a063ba824654e8185442d8a4d1da4/edge/pkg/edged/containers/container_manager.go#L527-L537

The error logs happened here, I'm not familiar with the logic of edged, and it depends on many details, so it is hard to tell what caused this.

As the log said that no such image, I guess it may because the image been force removed or something like that.

[2019-04-23 06:06] chendave commented on #396
Thanks, the issue has been addressed after exposing the service to outside, still have some question on the error message from edge's log, if the image is ephemeral, it should be expected instead of an error.

Anyway, I will look into the source later to sort it out, close the issue.

[2019-04-23 06:06] #396 closed

[2019-04-23 06:26] sids-b commented on #396
Thanks @tedli and @chendave

[2019-04-23 09:05] #384 closed

[2019-04-23 09:34] srivatsav123 opened #404 "testing bot please ignore"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:
- Hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Others:

[2019-04-23 09:35] #404 closed

[2019-04-23 13:17] sids-b opened #405 "Device CRD design/implementation known issues/requires enhancements"
**What would you like to be added**:
We will have as an umbrella issue for tracking all issues/bugs/possible enhancements required in device CRD v1alpha1 design/implementation.

**Why is this needed**:
For improving device CRD design/implementation

[2019-04-24 07:56] rohitsardesai83 commented on #405
- [ ] How to handle config map updates if device model is updated e.g some property is deleted.

- [ ] Allow deletion of device model if no devices are referring to it.

- [ ] ??

- [ ] ??

[2019-04-24 07:57] rohitsardesai83 commented on #405
we can add all known issues like above ? or we create separate sub-issues and link to this as parent issue ?

[2019-04-24 08:46] rohitsardesai83 commented on #360
@samy2019 , @srivatsav123 , please coordinate with @YuPengZTE on this effort.
@YuPengZTE , please feel free to discuss on slack and take up some tasks . Thanks !

[2019-04-24 11:18] m1093782566 commented on #405
I agree.

[2019-04-24 11:34] rohitsardesai83 commented on #380
@subpathdev , any update on this issue ?

[2019-04-24 11:35] m1093782566 commented on #380
@subpathdev Have you ever tried the host-network while creating Pods?

[2019-04-24 11:44] sids-b commented on #405
In general I feel we need to have strong api-validation in place. need to come up with a design.

[2019-04-24 12:04] #357 closed

[2019-04-25 04:00] m1093782566 commented on #380
@subpathdev Please check: https://github.com/kubeedge/kubeedge/pull/407

[2019-04-25 08:13] subpathdev commented on #380
Sry in the last days I have to work on my bachelor degree. :(

I still have this problem.

I've changed to nginx:latest

I think I have tested it with not using any cni-pod and have still this problems.

[2019-04-25 08:44] subpathdev commented on #380
I have found a WARN in the log files on the same message. (I append the output of the log file to this specific message)

on cloud side:
[code]
on edge side:
[code]

[2019-04-25 09:23] subpathdev commented on #380
In the cloud log files I found this warning (also attached the complete message queu) (Didn't find any information about this id on the edge):
[code]

[2019-04-25 09:25] sujithsimon22 opened #409 "Change type of ShiftLeft and ShiftRight fields present in device_model_types.go from uint to int"
**What happened**:
We are unable to create device model for bluetooth protocol device, since uint values are expected for the fields ShiftLeft and ShiftRight, but while passing values from yaml, the numbers are considered as integers, which leads to an error in creation

**What you expected to happen**:
We should be expecting integer values for fields ShiftLeft and ShiftRight instead of uint

**Ho

[2019-04-25 09:26] sujithsimon22 commented on #409
/assign @sujithsimon22

[2019-04-25 09:26] subpathdev commented on #380
I started to capture the network traffric and didn't found any data going from cloud to the edge.

[2019-04-25 14:09] #409 closed

[2019-04-26 01:38] #229 closed

[2019-04-26 01:40] #379 closed

[2019-04-26 01:46] sids-b commented on #323
@todayisgood , we also used send2group to send the message to another module than edgeController which is device controller.
I am closing this issue now

[2019-04-26 01:47] #323 closed

[2019-04-26 01:49] m1093782566 commented on #323
Thanks @sids-b

@todayisgood Would you please check it?

[2019-04-26 01:53] sids-b commented on #319
@trilokgm, we have added panic whenever we have missing compulsory configurations. Do we need to make this change in all places where we are panicking ?
@m1093782566 thoughts ?

[2019-04-26 02:41] todayisgood commented on #323
Thanks @sids-b  @m1093782566
It's good

[2019-04-26 02:42] trilokgm commented on #319
@sids-b, the panic seen here is not an explicit added code. The panic occurs on the interface object when there is no configuration set on the config key.

util.HubConfig.Ca, err = ioutil.ReadFile(caI.(string))

Were you able to reproduce the problem and trace it?

[2019-04-26 02:44] m1093782566 commented on #319
@trilokgm I think it's a reasonable issue and would you please help this out?

[2019-04-26 02:45] trilokgm commented on #319
Also, another suggestion would be to use defaults for missing configuration, if possible. If it is related to some files, then an appropriate error and list of defaulted configurations would help.

[2019-04-26 02:52] sids-b commented on #319
I think think can help solve the issue
[code]

[2019-04-26 02:54] sids-b commented on #319
Needs to be applied to all similar places wherever applicable.

[2019-04-26 03:08] trilokgm commented on #319
@m1093782566 , I will be able to help fix this issue. can you please assign to me ? Thanks.

[2019-04-26 03:09] m1093782566 commented on #319
Sure, assigned it to you.

[2019-04-26 07:12] sujithsimon22 opened #413 "Panic faced when trying to create device-instance without modbus protocol configs"
**What happened**:
Panic is faced when creating a device-instance CRD without modbus protocol configs (nil pointer error)

**What you expected to happen**:
First we should check whether modbus configs are nil or not before trying to access them.
(minor bug fix)

**How to reproduce it (as minimally and precisely as possible)**:
Create a device-instance CRD which does not contain modbus protocol con

[2019-04-26 07:30] #413 closed

[2019-04-26 09:25] subpathdev commented on #380
do not use node as id of the edge-node

https://github.com/kubeedge/kubeedge/blob/a5641ce37c55b8a56ba71ebecd60744f3dbfa2a0/cloud/edgecontroller/pkg/cloudhub/channelq/channelq.go#L81-L86

[2019-04-26 12:52] venergiac opened #416 "Support OPC-UA Mapper"
**What would you like to be added**: Event Bus for OPC-UA

**Why is this needed**: OPC-UA is a popular standard protocol for industrial sector. As MQTT and ModBUS there are Publisher to convert from OPC-UA to MQTT to Mosquitto (https://github.com/OPCFoundation/UA-.NETStandard/tree/prototyping-mqtt/Mqtt), but we lose performance. Driver for OPC-UA is already available https://github.com/gopcua/opcu

[2019-04-26 13:25] #380 closed

[2019-04-27 02:35] m1093782566 commented on #416
@venergiac Thanks for reporting. We do have a plan to support OPC-UA in the near future!

cc @qizha @zhenghaibo1008 @rohitsardesai83 @sids-b

[2019-04-27 07:53] sids-b commented on #416
@venergiac , we plan to support OPC-UA as a mapper. Please see devicecrd design https://github.com/kubeedge/kubeedge/blob/master/docs/proposals/device-crd.md and mapper design https://github.com/kubeedge/kubeedge/blob/master/docs/proposals/mapper-design.md

[2019-04-27 08:13] m1093782566 commented on #416
Yes and I think Driver for OPC-UA https://github.com/gopcua/opcua should be a good repository to learn.

[2019-04-27 08:57] rohitsardesai83 opened #420 "Add a mechanism to generate code for the device crd apis"
**What would you like to be added**:
A mechanism to generate the deep copy code for device crd apis.

**Why is this needed**:
There should be an automated way to generate code based on crd api types.
This project can be used : https://github.com/kubernetes/code-generator

[2019-04-27 11:01] venergiac commented on #416
cool !! thanks! I contributed to develop the OPC-UA gateway for my company and I can test the edge on real field, if you want.

below my suggestions

### Specs

OPC-UA can support two way to trigger data **DataChange** and **Polling**.

On **Polling**, ....it is polling.

On **DataChange** the client is notified on "data change"; on real case we need to define the **deadband** to avoid to be notif

[2019-04-27 13:19] sids-b commented on #416
Thanks @venergiac . That's very impresive !!! It would be great if you could contribute in the development of OPC-UA mapper for kubeedge.

[2019-04-28 01:37] #420 closed

[2019-04-28 03:05] kadisi opened #425 "why edgehub and cloudhub do not use grpc?"
**What would you like to be added**:
if found that edgehub and cloudhub use websocket, but why not choose grpc?

**Why is this needed**:

[2019-04-28 03:06] tedli commented on #425
@kadisi

[2019-04-28 05:07] sids-b commented on #425
Thanks @kadisi . One of our contributor @kexun is proposing QUIC- a UDP based protocol for evaluation/enhancement of websocket. @CindyXing has proposed to convert beehive message to protobuf #399 . We would like to hear your thoughts on grpc.

[2019-04-28 07:38] kadisi commented on #425
@sids-b @tedli  thank you, please let me have a look first

[2019-04-28 14:00] sids-b opened #426 "Websocket Connection closed due to timeout"
**What happened**:
I was testing edgeHub cloudHub connection as we removed ping yesterday. So the websocket connection between cloudHub and edgeHub gets terminated after timeout period if the ping is removed. Ping is actually used to keep the connection alive

**How to reproduce it (as minimally and precisely as possible)**:
Disable modules edged and deviceTwin and run edgecontroller and edgehub.

[2019-04-28 14:00] sids-b commented on #426
cc @subpathdev @m1093782566

[2019-04-28 14:02] sids-b commented on #426
![Screenshot from 2019-04-28 19-32-30](https://user-images.githubusercontent.com/30088497/56865489-689f9d00-69ec-11e9-8424-9077c2ffb2ba.png)

[2019-04-28 14:11] sids-b commented on #426
We need to improve our e2e test coverage add these kind of tests in our e2e tests as well.
cc @pavan187 @srivatsav123 @lidiyag

[2019-04-28 14:40] #426 closed

[2019-04-28 14:41] #256 closed

[2019-04-29 03:24] kadisi opened #431 "can edge node auto register into k8s cluster ?"
**What would you like to be added**:
in your install usage: https://github.com/kubeedge/kubeedge/blob/master/docs/getting-started/usage.md#run-kubeedge

when we run edge node, we first create k8s node use `kubectl apply -f node.json`

can we skip this step, use edge node auto register to cloud?

**Why is this needed**:

This will make installation easier

[2019-04-29 03:26] m1093782566 commented on #431
xref: #419

[2019-04-29 05:42] sids-b commented on #431
@kadisi , I dont think it would be correct if edge_core directly connects to k8s master. We are working on kubeedge installer which will create cloud and edge in 2 simple commands

[2019-04-29 05:52] CindyXing commented on #431
Correct. Different from nodes at data center, we assume customers need to manually register the edge node from cloud. This includes configuring the relevant info. (e.g. node label, network config. etc.). Also considering the network reliability between edge and cloud, registering the edge nodes at cloud first and then update the node status is a more general solution.

[2019-04-29 05:56] kadisi commented on #431
@sids-b @CindyXing  That sounds reasonable， thank you

[2019-04-30 06:55] kevin-wangzefeng commented on #182
Reopening since #308 only addresses part of this.

[2019-04-30 09:04] rohitsardesai83 opened #436 "doc: Add instructions in README to install device CRDs before starting cloud components."
**What happened**:
If device model and device instance CRD's are not installed in a K8S cluster and we start edgecontroller , it fails to list on devices and instances :

[code]

**What you expected to happen**:
The device model and instance schemas i.e CRD's need to be installed before starting edge controller. The yaml files are here : https://github.com/kubeedge/kubeedge/tree/master/build/crds/

[2019-04-30 10:53] samy2019 opened #437 "Please calculate SHA512 checksum of KubeEdge tgz files and release it along with every release"
**What would you like to be added**:
With every software/tool release, it is mandatory to generate checksum and release it as well with the release artifacts.
It should be a separate text file, just containing the generated checksum string.
Either SHA256 or SHA512 checksum can be generated.
It is as simple as below sample

$ sha256sum node.json
224a9293996c248d41647e9862674d8855cf82cdda4d9c4a7c759

[2019-04-30 10:58] samy2019 commented on #437
/kind important-soon

[2019-04-30 10:59] samy2019 commented on #437
/assign @m1093782566
/assign @rohitsardesai83
/assign @sids-b

[2019-04-30 16:43] googlebabaio opened #438 "the x86-image is not suiteable for non-X86 architecture"
## **Which jobs are failing**:
When deploy an app(such as nginx) on the accessed edge node (the device is raspberry pie) for POC testing, deployment is unsuccessful.

env:
k8s:1.11.3
edgecontroller 0.2, run with binary.
edgenode 0.2 , run with binary.
#### the node status:
[code]

#### poc-deploy.yaml:
[code]

#### show pod's status :
[code]

#### show pod's logs:
[code]

## **Which test(s) are fa

[2019-04-30 16:46] CindyXing opened #439 "Support Knative for functions"
**What would you like to be added**:
Enable customers to use knative at edge

**Why is this needed**:
To enable event driven functionalities such as IOT events, currently customers have to pub/sub MQTT topics. It is a pain to remember all the topic names/paths.

The ask here is to allow customers define knative function, focus on the business logic and be able to debug easily.

[2019-04-30 17:16] rohitsardesai83 commented on #425
A suggested read : https://www.infoq.com/articles/websocket-and-http2-coexist

[2019-04-30 20:52] #319 closed

[2019-05-01 18:56] ryan-esty opened #440 "documentation issue for edge_core it must be run as root"
**What happened**: There was no connectivity to the k8s cluster when both edgecontroller and edge_core were running.

**What you expected to happen**: The edge-node should of became ready as a node in the cluster

**How to reproduce it (as minimally and precisely as possible)**: Follow the instructions and don't run edge_core as root.

**Anything else we need to know?**: Run edge_core as root for

[2019-05-02 09:39] sids-b commented on #439
+1 , Lets take this up in our next version.

[2019-05-02 10:30] rohitsardesai83 opened #441 "docs: Improve README documentation"
**What would you like to be added**:
Suggested improvements in documentation  :

- [ ] Move https://github.com/kubeedge/kubeedge#roadmap below https://github.com/kubeedge/kubeedge#usage

- [ ] Introduce a section in the https://github.com/kubeedge/kubeedge/blob/master/docs/getting-started/usage.md#usage which can show how to download a kubeedge release ( e.g v0.2) and run.
Users might just want to

[2019-05-02 10:31] rohitsardesai83 commented on #441
Suggestions are welcome , we can create separate issues for each of the items and track them.

[2019-05-02 10:41] rohitsardesai83 opened #442 "docs: Received 404 when Setup or any other link is clicked in getting-started.md"
**What happened**:
Go to https://github.com/kubeedge/kubeedge/blob/master/docs/getting-started/getting-started.md
Click on any of the links e.g Setup . Page is not found ( 404  error )

**What you expected to happen**:
The setup page opens up correctly.

**How to reproduce it (as minimally and precisely as possible)**:
Go to https://github.com/kubeedge/kubeedge/blob/master/docs/getting-started/get

[2019-05-02 10:43] sids-b commented on #442
This issue is getting discussed here #288 .

[2019-05-02 10:44] #442 closed

[2019-05-02 10:46] rohitsardesai83 commented on #288
any conclusion on this ? I filed #442 as I came across this issue , I am not sure community users might also be facing issues ? we need to close soon.

[2019-05-02 11:35] rohitsardesai83 opened #443 "docs: Incorrect instruction to build edge docker image"
**What happened**:
The command `make edgeimage` failed if we follow the instructions here : https://github.com/kubeedge/kubeedge/blob/master/build/edge/kubernetes/README.md#deploy-the-edge-part-into-a-k8s-cluster

**What you expected to happen**:
The edge image to be built successfully.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:
Th

[2019-05-03 08:07] rohitsardesai83 opened #445 "scripts: Error running update-codegen.sh"
**What happened**:
Error occurred while running cloud/hack/update-codegen.sh

**What you expected to happen**:
No error.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

[2019-05-03 09:29] #445 closed

[2019-05-03 16:10] #360 closed

[2019-05-04 05:32] sids-b commented on #372
ping @YuPengZTE , any update ?

[2019-05-04 05:39] sids-b commented on #438
Thanks @googlebabaio for pointing this out. How do you propose we solve this issue ? I think we can only add a not to the user to make sure to check the deployment image architecture matches with the node archcitecture ?

[2019-05-04 05:40] sids-b commented on #437
Thanks @samy2019 , we have release the checkum files along with v0.3.0-beta-0. Please check it out :)

[2019-05-04 05:40] #437 closed

[2019-05-04 05:41] sids-b commented on #431
@kadisi , we have released the installed with v0.3.0-beta.0 , please try it out :)

[2019-05-04 05:41] #431 closed

[2019-05-04 05:43] sids-b commented on #332
@todayisgood , can you please try these step ?
1) Run a container manually on your edge node.
2) Start edge_core.
I think edge_core will delete that container

[2019-05-04 05:44] sids-b commented on #327
@pavan187 , I think we should spend some time on this one now.

[2019-05-04 05:45] sids-b commented on #288
agree with @rohitsardesai83 , lets close this one before minor release

[2019-05-04 05:49] sids-b commented on #274
Closing this issue now. We can add points in #291 about use-cases or create a seperate issue if required in the website repository.

[2019-05-04 05:49] #274 closed

[2019-05-04 05:51] sids-b commented on #241
ping @anvithks . Can we refer to some document online to find out the style guides ?

[2019-05-04 06:10] todayisgood commented on #332
I'll try it later. But why? Can you show me the code?

[2019-05-04 06:27] sids-b commented on #332
The same container gc code i referenced above. edge_core is also killing k8s core components if run on same node as they are not pods managed by edge_core. Pleaase see #278

[2019-05-04 07:08] todayisgood commented on #332
If the container is  managed by edge_core and it's pod not found in the cloud, it will not be deleted.

[2019-05-04 20:39] sids-b commented on #332
ohh.....I think what we need here to solve the issue is reliable message delivery from cloud to edge.
Since applications can be deployed and deleted only from the cloud, so if the application deletion message reaches the edge, there will no pod which is not found in the cloud.

[2019-05-05 03:48] todayisgood commented on #332
Yeah.When we delete pods in the cloud, if the connection between the cloud and the edge is disconnected, the containers on the edge will not be deleted.

So I think  one way to solve this problem is  to resend the deletion message to the edge when the edgecontroller couldn't find the pod in the cloud.But now the edgecontroller doesn't do anything, except to report warning.

Please see function at

[2019-05-06 02:09] kadisi commented on #443
if use `ARG` in dockerfile, need docker >=17.05, ( [https://github.com/moby/moby/issues/32457](url) )   my docker version is 13.1, when exec `make edgeimage`, it will output error:
[code]

we need check docker version before docker build

[2019-05-06 06:38] rohitsardesai83 opened #451 "Move mappers out of kubeedge/kubeedge repo"
**What would you like to be added**:
Move mappers out of kubeedge/kubeedge repo to a new `kubeedge/mappers` repo.

**Why is this needed**:
Currently mappers are part of kubeedge repo : https://github.com/kubeedge/kubeedge/tree/master/device. As mappers are applications sitting in between the edge_core process and devices to which they are connected, they should be not part of the core platform rep

[2019-05-06 07:53] rohitsardesai83 commented on #451
@sujithsimon22 , could you please take a look at this  ?

[2019-05-06 09:03] sujithsimon22 commented on #451
sure @rohitsardesai83 I can take this up. I will need a little help, from someone who had repo creation access within kubeedge, to create the repo kubedge/mappers.

[2019-05-06 09:03] sujithsimon22 commented on #451
@sids-b could you pls help out with repo creation ?

[2019-05-06 09:08] m1093782566 commented on #451
Please keep in mind that mapper will be required in kubeedge release package.

cc @kevin-wangzefeng @CindyXing

[2019-05-06 09:13] #436 closed

[2019-05-06 09:39] srivatsav123 opened #452 "installer : Apply device CRD yamls before installing cloud components"
**What would you like to be added**:
After doing kubeedge init, Edgecontroller is not starting up, And it has error logs
**Why is this needed**:
Edgecontroller throws error as show in below figure, if the crd yaml is not applied
![devicecrd](https://user-images.githubusercontent.com/39593583/57217620-c2b5e900-7010-11e9-9728-c9fab4e998f4.png)

[2019-05-06 11:37] sujithsimon22 commented on #451
/assign @sujithsimon22

[2019-05-06 11:40] rohitsardesai83 commented on #452
@srivatsav123 , see https://github.com/kubeedge/kubeedge/pull/450 , for now we have added a step to do apply the yaml manually. Thanks for covering this in the install flow.

[2019-05-07 03:35] googlebabaio commented on #438
@sids-b
Yes, I think because using kubeedge scenarios will connect to many non-X86 architecture machines. So I wrote about this experience and reminded others to prevent pitfalls.

[2019-05-07 03:44] m1093782566 commented on #438
I suggest adding an arm platform deployment manifest in https://github.com/kubeedge/kubeedge/tree/master/build

[2019-05-07 03:55] kevin-wangzefeng commented on #451
I don't think it's a good time to move mapper out of tree now.
The mappers are now required part of device management functionality.
We can have out-of-tree mappers later on if there are more and more mappers.

[2019-05-07 05:19] srivatsav123 opened #454 "Kubeedge Installer to support Centos"
**What would you like to be added**:
Kubeedge installer to support centos
**Why is this needed**:
currently the kubeedge installer supports only ubuntu OS.Support to be added for Centos too.
Commands include:
kubedge init  to support Centos
kubeedge reset to support Centos

[2019-05-07 05:20] srivatsav123 commented on #454
/assign @srivatsav123

[2019-05-07 05:46] rohitsardesai83 commented on #292
@srivatsav123 , can you please take  a look at this ?

[2019-05-07 06:01] sujithsimon22 commented on #451
I guess this is a valid point. so we can probably put this activity on hold for now and take this up at a later point in time when there are more mappers and we feel its better to have the mappers out of the tree.

[2019-05-07 06:26] chendave opened #456 "[Question] How to verify device CRD works as expected?"
**What happened**:
I saw device CRD is a new feature in 0.3-beta, and I could create an instance of device, but I cannot see there is any logs information / callback function implemented anywhere to see what's happened.

where is `c.events` is used?
https://github.com/kubeedge/kubeedge/blob/master/cloud/pkg/devicecontroller/manager/common.go#L26

**What you expected to happen**:

There should be s

[2019-05-07 06:33] trilokgm opened #457 "[Design] A decentralized security framework for KubeEdge"
**What would you like to be added**:

A decentralized security framework integrated to KubeEdge for enabling service-level identity , authentication and authorization.

**Why is this needed**:
Security is a paramount requirement for edge computing architecture as security breaches can make a complete organization to come to a halt (IIot) , data breach can lead to privacy issues and also control of

[2019-05-07 06:35] sids-b commented on #456
Hi @chendave , after applying CRDs, we have given crd-samples in build folder.
1) Create a Kubeedge setup with cloud and edge.
2) apply model yaml from samples
2) change the node selector to node of your edge node instance yaml in samples.
3) apply instance yaml

You will see the following things happened.
1) device might have been created on edge. check sqlite edge.db. in device and device_twin t

[2019-05-07 06:46] kevin-wangzefeng commented on #451
Yes.
I'm going to move this out of v0.3.

[2019-05-07 06:51] sids-b commented on #451
Thanks, lets keep this in backlog and we will take it up at right time.

[2019-05-07 06:55] sids-b commented on #454
/unassign @srivatsav123

[2019-05-07 06:59] srivatsav123 commented on #338
@rohitsardesai83 -Pr is merged .I will close this issue...

[2019-05-07 07:01] chendave commented on #456
@sids-b thanks!

Could you pls let me know what's the username/password of the edge.db? where it's defined?

[2019-05-07 07:05] sids-b commented on #456
edge.db will be created at the directory from where edge_core is run. There will be no username or password. It is sqlite3 version.

[2019-05-07 07:23] srivatsav123 commented on #292
@rohitsardesai83 -ok

[2019-05-07 07:27] chendave commented on #456
Seems there is something goes wrong here, where can I get started on this?

[code]

[2019-05-07 07:31] srivatsav123 commented on #292
@priyankt68 :Hi , Please follow the below steps and build it (this steps are cross compilation of edge_core to support mac)
export GOARCH=amd64
        export GOOS=darwin
        export GOCHAR=6
        export GOHOSTARCH=darwin
        export CGO_ENABLED=1
        export CC=gcc

        go build cmd/edge_core.go(i used go version go1.12.4 linux/amd64 for cross compilation)
Please export these env

[2019-05-07 07:33] chendave commented on #456
sorry, I forgot to update nodeSelector

sqlite> select * from device;
sensor-tag-instance-01|sensor-tag-instance-01|TISimplelinkSensorTag||

[2019-05-07 07:39] #456 closed

[2019-05-07 07:42] chendave commented on #456
one more question,

Do you mean the status from `kubectl describe device` will reflect the change?

[2019-05-07 08:05] sids-b commented on #456
@chendave yess, you can change the actual state of the device from edge and it will be reflected at cloud. You can verify with kubectl describe device as well :)

[2019-05-07 12:25] sujithsimon22 opened #461 "Add sample CRDs for bluetooth device"
**What would you like to be added**:
Add sample CRDs (device-instance & device-model) for a bluetooth device (Ex: TI CC2650 Sensor Tag)

**Why is this needed**:
This will make it easier for users to create CRDs for their bluetooth device taking reference from the sample

[2019-05-07 12:25] sujithsimon22 commented on #461
/assign @sujithsimon22

[2019-05-07 18:34] priyankt68 commented on #292
@srivatsav123 Sure. Will try it out and get back here.

[2019-05-08 02:10] m1093782566 opened #463 "Update KubeEdge architecture picture to complete the missing device controller"
**What happened**:

The device controller is missing in the KubeEdge architecture picture.

**What you expected to happen**:

We should update KubeEdge architecture picture to complete the missing part.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:
- Hardware configuration:
- OS (e.g. from /etc/os-relea

[2019-05-08 02:17] zhanghongtong opened #464 "How to deploy the edge part into a k8s cluster"
**Which jobs are failing**:
I tried to deploy edgecore according to the [documentation](https://github.com/kubeedge/kubeedge/blob/master/build/edge/kubernetes/README.md), but it didn't work.

**Which test(s) are failing**:
I tried to deploy edgecore according to the document. When I finished, the edge node is still in the state of NotReady. If I see the pods, I can see that the pod containing edge

[2019-05-08 02:28] zhanghongtong commented on #464
I deployed the mqtt broker on the edgenode, then modified [mqtt.server in 03-configmap-edgenodeconf.yaml](https://github.com/kubeedge/kubeedge/blob/master/build/edge/kubernetes/03-configmap-edgenodeconf.yaml#L12), and the edge core's pods are still in the pending state.

[2019-05-08 02:44] edisonxiang commented on #464
Hey @zhanghongtong
Thanks you reply.
are you using the latest code to build edge image?
https://github.com/kubeedge/kubeedge/tree/master/build/edge/kubernetes
I guess you need to change this line with your KubeEdge EdgeController ip and port
https://github.com/kubeedge/kubeedge/blob/master/build/edge/kubernetes/03-configmap-edgenodeconf.yaml#L20

Actually we need to expose the KubEdge EdgeControll

[2019-05-08 03:20] zhanghongtong commented on #464
@edisonxiang Thanks you reply.
I did use the latest code, and I have modified [edgehub. websocket.url in 03-configmap-edgenodeconf.yaml](https://github.com/kubeedge/kubeedge/blob/master/build/edge/kubernetes/03-configmap-edgenodeconf.yaml#L20), I deployed the KubEdge EdgeController as a NodePort Service for direct access on the edgenode, but my issue still exists.

[2019-05-08 03:28] edisonxiang commented on #464
@zhanghongtong Oh..... It seems like your edge node pod is not scheduled.

[2019-05-08 03:33] zhanghongtong commented on #464
@edisonxiang This is also my doubt, my edgenode is AWS EC2 t2.
T2.xlarge, its configuration is 4 core 16G memory, there should be no shortage of computing power, I suspect that the edgenode has been in the state of NotReady, which led to this Warning, how should I troubleshoot it?

[2019-05-08 03:37] edisonxiang commented on #464
@zhanghongtong  perhaps you can use `free` and `top` or other commands in your AWS EC2 t2 so that you can get the real time cpu and memory information in that ec2:)

[2019-05-08 03:41] zhanghongtong commented on #464
@edisonxiang I have checked that my CPU and memory are almost idle.
[code]

[2019-05-08 03:44] zhanghongtong commented on #464
I can't correctly display the resources of edgenode when I use kubectl to view edgenode on the cloud node.
[code]

[2019-05-08 04:25] edisonxiang commented on #464
yep. since the edge node is not ready:(
This root cause of this issue is because the edge node pod is not scheduled.
Could you try to clear the taint in your master and try to deploy edge noe pod in your master?

[2019-05-08 05:55] zhanghongtong commented on #464
Yes, I removed the taint on the cloud node and redeployed the pod. Now the edgecore pod has been running, but the edgenode is still NotReady.
[code]

[2019-05-08 05:58] srivatsav123 opened #469 "No space left on the device on the edge node if we redirect log to some file"
**What happened**:
After installation of kubeedge using keadm installer(kubeedge installer)..Edge node got evicted due to no space left on the device
Reason:Since edge_core.logs are been redirected in /etc/kubeedge/kubeedge/edge/edge_core.log
**What you expected to happen**:
Edge node must tar the files and keep(ex:logrotate mechanism) or donot redirect logs
**How to reproduce it (as minimally and

[2019-05-08 06:17] trilokgm commented on #457
@CindyXing @qizha @m1093782566 @rohitsardesai83

[2019-05-08 06:36] edisonxiang commented on #464
Okay. could you get edge_core container's log?
It is useful to find the problem.
By the way,
since you are using `172.31.23.166` as an edge node name,
did you modify the edge node name like this readme describes?
https://github.com/kubeedge/kubeedge/tree/master/build/edge/kubernetes

[2019-05-08 06:53] zhanghongtong commented on #464
Oh, I know what's going on, I wrote the wrong edgehub.websocket.url in 03-configmap-edgenodeconf.yaml, this is a stupid mistake.I fixed it and can work now. So edgecore pods are to be deployed to the cloud node, is that correct?

[2019-05-08 06:53] kadisi opened #471 "move some definition into common package for cloud and edge"
**What would you like to be added**:
when i read code of kubeedge, i found some definition are shared between cloud and edge. do we need move them into common package?

such as `ResourceSep               = "/"` in `cloud/pkg/controller/constants/service.go` file.

in edge, we only use `"/"`, but in cloud  somewhere use `ResourceSep` and somewhere use `"/"`

[code]

**Why is this needed**:

[2019-05-08 06:54] zhanghongtong commented on #464
I have a new problem now. I modified `kubeedge/build/deployment.yaml` and deployed it to edgenode. The state of pods is now running, but there is no docker container on edgenode, and it can't be linked using curl. What happened?

On the cloud node
[code]

On the edge node
[code]

[2019-05-08 06:58] edisonxiang commented on #464
@zhanghongtong OKay.
In your k8s cluster, there is one vm for master, one vm for node. Right?
I guess your k8s node have came across some problem.
Perhaps you can retart it and try again.
Actually this is only related with k8s self scheduler.

[2019-05-08 07:13] edisonxiang commented on #288
I am facing this problem now as #470 discussed.

+1 we should separate these two kinds of documents since we are using md in github repository but html in website.

[2019-05-08 07:21] zhanghongtong commented on #464
I still don't understand it, but I am going to clear the environment and redeploy it again. Before that, I want to confirm two problems:
1. edgecore pods are to be deployed to the cloud node, is that correct? or it does not matter which node the edgecore is deployed to. It only needs to be handed over to the k8s scheduler.
2. The documentation does not mention the need to install the mqtt broker o

[2019-05-08 08:11] edisonxiang commented on #464
@zhanghongtong
About 1. It does not matter.
About 2, since the edge node is running in the pod.  so do you mean if we need to setup mqtt in the docker images

Actually there is no difference with this original architecture
https://github.com/kubeedge/kubeedge#architecture

Just we need to a real k8s cluster including master and node.
We will deploy the edgecontroller and edgecore by pods.
and edge

[2019-05-08 08:35] zhanghongtong commented on #464
@edisonxiang Thanks you reply.

We don't need to set mqtt in the docker image, we only need to add an mqtt proxy container to the edgecore pod, because the document does not mention the contents of the mqtt proxy, so I want to know if the mqtt proxy is still necessary, if so, then Is it feasible to deploy the mqtt agent to the edgecore pod, or does the mqtt agent have to run on the edgenode?

[2019-05-08 09:18] edisonxiang commented on #464
@zhanghongtong yep. mqtt  is necessary for communication between edge node and devices (mapper). Feel free to add it:). Thanks very much.

[2019-05-08 09:48] zhanghongtong commented on #464
I redeployed `edgecontroller` and `edgecoer`, now they all run on the cloud node, edgenode is also Ready, now I deploy `kubeedge/build/deployment.yaml ` to the edgenode, see that the edgenode node still has no running docker container, and can't pass Curl access to the `nginx-deployment pod`

[code]

I think this is a problem. Edgecore runs on the cloud node. How does it deploy the pod on the dock

[2019-05-08 14:50] kevin-wangzefeng commented on #288
Probably put a full `.md` file link next to html link by now?

[2019-05-08 16:03] sids-b commented on #463
Nice Catch @m1093782566 . Will fix this soon :)

[2019-05-08 16:05] sids-b commented on #452
EdgeController will start, deviceController will throw errors as the device api's will not be exposed by apiserver before applying the CRD yamls.

[2019-05-08 16:07] sids-b commented on #438
@googlebabaio , it would be great if you could add an arm platform deployment.yaml as suggested by @m1093782566

[2019-05-08 16:22] anvithks commented on #288
I think there is still confusion as to how the documentation is generated.

1. We use readthedocs to generate our documentation website at docs.kubeedge.io (redirected from kubeedge.readthedocs.io).
2. readthedocs uses the files from the /docs folder in the kubeedge/kubeedge repository and the SphinxHtmlDir generator to generate the website html files.
3. This generated html is then served as a we

[2019-05-08 16:27] #474 closed

[2019-05-08 17:13] anvithks commented on #441
@rohitsardesai83 since the documentation section is still undergoing overhauls I would not recommend this being a Good First Issue.

[2019-05-08 20:42] sujithsimon22 opened #474 "Change exit code of bluetooth mapper when it exits due to wrong configuration"
**What happened**:
Bluetooth mapper container indicates exit status 0 when mapper exits due to bad configuration (like config map volume not containing crct config file).

**What you expected to happen**:
It would make it easier for the user to debug issues if the exit status was 1 instead of 0 when the mapper exits due to wrong  configuration

**How to reproduce it (as minimally and precisely as

[2019-05-09 01:33] m1093782566 opened #477 "Update README to use keadm for installation"
**What would you like to be added**:

Update README to use keadm for installation

**Why is this needed**:

keadm is already in v0.3 and should let users try it.

[2019-05-09 01:34] m1093782566 commented on #477
cc @srivatsav123 @rohitsardesai83 @sids-b

[2019-05-09 02:19] chendave opened #478 "configmap should be cleaned when no device is bound with"
**What happened**:
Currently, the configmap will be kept even there is no device bound with, this will cause many useless leftover configmap, which has an empty profile with it.

**What you expected to happen**:
Those configmap mentioned above should be clean up.

**How to reproduce it (as minimally and precisely as possible)**:
- create a device
- delete a device
- list the configmap and check th

[2019-05-09 02:23] googlebabaio opened #480 "deploy edgecontroller into a k8s cluster, the pod status is not running"
## **What happened**:
deploy the cloud part(edgecontroller) into a k8s cluster
[code]

and `deployment/edgecontroller` pod's status is `error` or `CrashLoopBackOff`

[code]

According to the error alert info, check the corresponding node also has ca. CRT and other related files.
[code]

and master node also has ca. CRT and other related files.

## **What you expected to happen**:

## **How to repr

[2019-05-09 02:31] tedli commented on #480
I think the deployment not reads key and cert from host machine,  but from k8s  secret.  Have you create secret for the edgecontroller deployment?

[2019-05-09 02:56] edisonxiang commented on #464
@zhanghongtong Currently you have a very good progress about deploying kubeedge cloud and edge in k8s cluster:) In your environment, edge node is ready and nginx-deployment is running, right?

https://github.com/kubeedge/kubeedge/blob/master/build/edge/kubernetes/04-deployment-edgenode.yaml#L41

Actually the nginx process will be exist in this container `dind-daemon`.
I think this is the reason yo

[2019-05-09 03:45] zhanghongtong commented on #464
Yes, I found nginx-deployment in the dind-deamon, but the nginx-deployment is still running on the cloud node, because the dind-deamon is also running on the cloud node, how to distribute it to the edge node?

[2019-05-09 04:12] googlebabaio commented on #480
Thank you for pointing out.

I rewrote a nginx deployment to test it, the mounts are the same as the `07-deployment.yaml` one.
Find that it works OK! Then exec in `nginx`-pod , find `ca.crt`,`cloud.crt` and `cloud.key` are both in `/etc/kubeedge/certs`!

Finally I found out that I misunderstood it!
The location of ca/cert/key in cloudhub from `05-configmap.yaml` actually tells pod which directory

[2019-05-09 04:13] #480 closed

[2019-05-09 04:15] googlebabaio commented on #480
I found out that I misunderstood it!
The location of ca/cert/key in cloudhub from `05-configmap.yaml` actually tells pod which directory should be found in the container itself after booting, rather than the configuration path of the node host.

[2019-05-09 05:46] srivatsav123 commented on #477
@m1093782566 -working on it will update soon..

[2019-05-09 05:48] srivatsav123 commented on #452
@sids-b yes i agree will change the issue title..

[2019-05-09 05:56] trilokgm opened #482 "Cleanup edge modules.yaml from default configuration for unused modules."
**What happened**:

Default modules configuration in edge.yaml has dbTest which is not required unless a testcase being run.

**What you expected to happen**:

dbTest should not be enabled by default.

[2019-05-09 06:07] CindyXing opened #483 "Enable bootstrap and automatic (over-the-air) selfupgrade"
**What would you like to be added**:
While we are releasing new versions of KubeEdge, we need to have a story to upgrade system components for existing customers.

For new customers, we need to have a bootstrap mechanism for automatic installation (i.e. over-the-air) of KubeEdge components at the edge side.
**Why is this needed**:
1. We need to have a bootstrap mechanism for installing the edgecor

[2019-05-09 06:11] CindyXing opened #484 "Enable health monitoring and automatic Edgesite patching/installation"
**What would you like to be added**:
With the edgesite feature, we need to ensure health monitoring of each site. In case of issues, KubeEdge edgesite components can be patched/fixed reliably according some SLA.

**Why is this needed**:
We need to ensure service quality for Edgesites.

[2019-05-09 06:30] rohitsardesai83 commented on #441
thanks anvith.

[2019-05-09 06:34] #440 closed

[2019-05-09 06:34] #441 closed

[2019-05-09 06:42] rohitsardesai83 opened #485 "docs: Add user documentation for device CRDs feature"
**What would you like to be added**:
Add user documentation for device managament feature using CRDs.
The design proposal is here : https://github.com/kubeedge/kubeedge/blob/master/docs/proposals/device-crd.md

**Why is this needed**:
To enable community users to try out this feature.

[2019-05-09 06:47] edisonxiang commented on #464
@zhanghongtong we can use node selector to specify nginx-deployment to edge node, right?

[2019-05-09 08:35] googlebabaio opened #486 "deploy edgecontroller into a k8s cluster, found edgecontroller pod cannont connect apiserver"
## **What happened**:
I deploy edgecontroller into a k8s cluster, And I found edgecontroller pod cannont connect apiserver.

[code]

### the apiserver and configmap config is :

####  kube-apiserver.yaml
[code]

#### 05-configmap.yaml
[code]

## **What you expected to happen**:
edgecontroller pod can connect apiserver

## **How to reproduce it (as minimally and precisely as possible)**:

## **Anyt