[2020-06-04 17:49] GsssC commented on #1736
@zzxgzgz Sorry I am not used to use slack. And I think our conversation in github could help more people for bug fix.

[2020-06-04 17:54] zzxgzgz commented on #1736
You're right, I don't find any name related to the configMap:
[code]
Should each pod shown in this yaml file  (mizar-operator/daemon in  this case) include a configMap in their yaml files?

[2020-06-05 01:15] Penny20181222 commented on #1152
same problem

[2020-06-05 06:55] daixiang0 commented on #1283
We can easily count the image disk usage while It is hard to count the total disk size, now we use `/`.
For docker, we can use `docker system df` to get usage, other CRIs may have similiar command i think.

In fact, it maybe more useful when you use a disk to store image rather than root disk.
WDYT @fisherxu ?

[2020-06-05 07:13] #1482 closed

[2020-06-05 07:32] fisherxu commented on #439
/remove lifecycle/stale

[2020-06-05 07:33] fisherxu commented on #1309
Now I think  we have fixed it.

/close

[2020-06-05 07:33] #1309 closed

[2020-06-05 07:36] fisherxu commented on #1340
/remove lifecycle/stale

[2020-06-05 07:37] fisherxu commented on #1322
Now we have integrated the cadvisor.
/close

[2020-06-05 07:37] #1322 closed

[2020-06-05 08:16] guanxingfeng commented on #1218
no update recent，thanks

guanxingfeng@hollysys.com

From: stale[bot]
Date: 2020-06-05 16:09
To: kubeedge/kubeedge
CC: guan; Author
Subject: Re: [kubeedge/kubeedge] DomainName resolution time is too long for end to end in Edgemesh-release1.1.0 (#1218)
Hello Looks like there was no activity on this issue for last 90 days.
Do you mind updating us on the status? Is this still reproducible or needed? I

[2020-06-05 08:51] markwangC commented on #1316
it may related to my env, i think we can close this issue.

[2020-06-05 08:51] #1316 closed

[2020-06-05 08:52] #1330 closed

[2020-06-05 09:49] AndriiOmelianenko commented on #1777
+1

[2020-06-05 09:50] nstjelja commented on #1777
This would be a very good feature to add.

[2020-06-05 09:58] fisherxu commented on #1777
The kubeedge cloudpart talk to the standard k8s api(kube-apiserver), so do we need any work to support openshift? Since I think openshift support the standard k8s api :)

[2020-06-05 10:10] #296 closed

[2020-06-05 11:13] #268 closed

[2020-06-05 11:16] sambr7 commented on #1777
Thanks for the reply @fisherxu
I tested KEdge 1.2.1 with OKD 4 and it didn't work properly. The pods keep in "Pending" state.

[2020-06-05 11:36] fisherxu commented on #1777
Oh, and did the logs of cloudcore and edgecore show anything wrong?

[2020-06-05 12:28] plochon commented on #1602
@GsssC do you know if the v1.3.1 release solves this issue ?
[kubeedge / CHANGELOG-1.3.md ](https://github.com/kubeedge/kubeedge/blob/master/CHANGELOG-1.3.md)

[2020-06-05 12:53] GsssC commented on #1602
- If your bug is that pod containers are running well on the edgenode, but cloudcore still logs messages below, then I can sure the issue is resolved.

- If pod containers are not running at all, then I think may you have ever removed edgecore.db in /var/lib/kubeedge/edgecore.db. BUT not remove sync-crds(which to records whether the resource is sent to edge successfully) in k8s etcd at the same ti

[2020-06-05 13:08] plochon commented on #1602
@GsssC

On the same edge node some pods runs fine (the "default" namespace ones), some others don't run at all (the "kube-system" ones), so do you think it could be related to crds ? we should expect issues with all pods on the node, not some of them ...

[2020-06-05 13:11] GsssC commented on #1602
@plochon ，do you upgrade to v1.3.1?

[2020-06-05 13:33] plochon commented on #1602
@GsssC  no not yet, I was also waiting for an upgrade procedure (1.2 to 1.3) on Slack but did not get any answer https://kubeedge.slack.com/archives/CKVUCM5ED/p1589978307074300
Should I stop edgecore/cloudcore, replace the binary, the restart it ? is it enough ?

[2020-06-05 14:48] sambr7 commented on #1777
Yes, EdgeCore logs show errors like this:

I0605 16:46:14.761885   23902 process.go:622] get a message {Header:{ID:1eaf5675-8081-418a-bff5-a396ba76f859 ParentID: Timestamp:1591368374751 ResourceVersion: Sync:true} Router:{Source:edgemesh Group:meta Operation:query Resource:app/service/splk-master-01} Content:<nil>}
I0605 16:46:14.761985   23902 metaclient.go:114] send sync message app/service/splk

[2020-06-05 18:10] #1438 closed

[2020-06-06 06:40] coderkk opened #1783 "Cloudcore keep received message and cloudcore cannot work properly"
**What happened**:
My cloudcore keep received this message
[code]

**CloudSide Environment**:
- OS (e.g. `cat /etc/os-release`):
NAME="Ubuntu"
VERSION="18.04.4 LTS (Bionic Beaver)"
- Kernel (e.g. `uname -a`):
Linux ke-master-1-2-1 5.3.0-1020-gcp #22~18.04.1-Ubuntu SMP Mon May 11 18:45:46 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

[2020-06-06 10:18] fisherxu commented on #1783
Have these pod already been deleted from cloud? The logs here mean the pods has been deleted in the cloud, but still exist in the edge. :)

[2020-06-06 10:25] fisherxu commented on #1773
Why deploy the schduler to the edge node? It's better to run it in the cloud. And now the applications runing in the edge have some issues to talk with kube-api-server directly. :) I think the schduler will connect to the apiserver directly.

[2020-06-06 11:47] coderkk commented on #1783
But, it non-stop display that message. Can I reset the cloudcore without reset kubernetes?

[2020-06-07 03:08] Chen-YiDA commented on #291
@vizero1 hello,I am also studying this content. Can I communicate with you? This is my email address"gzdxchenbing@gmail.com"

[2020-06-08 00:46] daixiang0 commented on #337
ping @kevin-wangzefeng @fisherxu

[2020-06-08 00:46] daixiang0 commented on #1498
Add related issue: #1001 #517 #241

[2020-06-08 00:48] daixiang0 commented on #1752
Fixed by #1751

[2020-06-08 01:28] fisherxu commented on #1783
The synccontroller will compare the objects in K8s and the CRD (objectsync, which means the data sent to the edge), you can delete these CRs manually.
eg. kubectl get objectsync -A
      kubectl delete objectsync XXX -n YOUR-NS
But the data will left at the edge side.

[2020-06-08 03:32] Toper2035 commented on #1576
This problem can be resolved by manually add toleration config to the pods with infinite tolerationSeconds

[2020-06-08 03:32] #1576 closed

[2020-06-08 03:35] GsssC commented on #1576
Is pod completely deleted after edgenode reconnection or still terminating?

[2020-06-08 04:51] Toper2035 commented on #1576
@GsssC Pods still terminating after edgenode reconnection and can only force a deletion manually.

[2020-06-08 04:58] GsssC commented on #1576
@Toper2035 This is not as expected, are you willing to figure out why pods are still terminating even if edgenodes reconnect. I suggrest you take a peek at edgecore.log

[2020-06-08 05:14] zqdlove opened #1786 "After LVS layer 4 load is added to the cluster，Edgecore fail to start，failed to get edge certificate from the cloudcore,"
**What happened**:
After LVS layer 4 load is added to the cluster，Edgecore fail to start.
failed to get edge certificate from the cloudcore.
**What you expected to happen**:
Start successful
**How to reproduce it (as minimally and precisely as possible)**:
Increase the four layer load of 10002 port
**Anything else we need to know?**:
log：
edgecore[2801]: E0608 12:56:59.055394    2801 process.go:71

[2020-06-08 06:08] daixiang0 commented on #1498
/assign

[2020-06-08 08:51] luogangyi opened #1788 ""false" bool value is not working"
**What happened**:
update IsRegisterSwap from "true" to "false" is not work.

**What you expected to happen**:
successfully update IsRegisterSwap from "true" to "false" is not work.

**How to reproduce it (as minimally and precisely as possible)**:
create a modbus intance, set IsRegisterSwap to true initially,
then update the instance,  set IsRegisterSwap to false.

or we can simply run below code

[2020-06-08 08:51] luogangyi commented on #1788
/assign

[2020-06-08 09:16] Toper2035 commented on #1576
@GsssC same test to version 1.3 after edge node down.
[code]
controller logs:
[code]
after edge node reconnection,
[code]
most Terminating pods are deleted and one still exist. edgecore logs:
[code]
no delete operation for pod nginx-deployment-586dfcb875-sbzs6

[2020-06-09 01:02] yzhao66 opened #1791 "when i run example "KubeEdge Web Demo",it can's play music normally."
**What happened**:
when i run example "KubeEdge Web Demo",it can's play music normally.

cloud:
![image](https://user-images.githubusercontent.com/44268973/84014637-3ad9a580-a9ad-11ea-936f-7883f8f6e6c6.png)

edge:
![image](https://user-images.githubusercontent.com/44268973/84014617-344b2e00-a9ad-11ea-9dbd-6867f500ec1c.png)

cluster:
![image](https://user-images.githubusercontent.com/44268973/84014

[2020-06-09 02:05] daixiang0 commented on #1777
Those part of edge log does not make sense, edgecore would re-send messages if failed.

[2020-06-09 02:32] daixiang0 commented on #1788
@luogangyi since we would call `json.Unmarshal`, this could not be an issue, see [this](https://play.golang.org/p/YSZT4TVaF9L)

[2020-06-09 03:55] luogangyi commented on #1788
@daixiang0 I don't get your point of demo code. see [demo](https://play.golang.org/p/FCaFqKoTVWi), "c2" is not updated as we expected.

Our situation is we cannot update  "true" to "false" because after Marshal and Unmarshal, the "false" value is discard. This happens when we pass value from cloud to edge which may contains serveral times Marshal and Unmarshal

[2020-06-09 06:24] daixiang0 commented on #1788
After `Unmarshal`, we can get the `false` value as expected.

[2020-06-09 07:00] luogangyi commented on #1788
@daixiang0 Unmarshal to a new object, we can get what we expect. But if we Unmarshal to a existing object, false value is discard. see [demo](https://play.golang.org/p/FCaFqKoTVWi), c2 is not successfully set to false.

[2020-06-09 07:07] Cardinalinux opened #1794 "sh: cloudcore: command not found"
**What happened**:
keadm init not work

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
./keadm version
version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.1", GitCommit:"ae427ceeefe87c508e5ce3117fcadf66fda51c0e", GitTreeState:"clean", BuildDate:"2020-06-06T08:57:23Z", GoVersion:"go1.13.4", Compiler:"gc", Platform:"l

[2020-06-09 08:00] faicker commented on #1364
the same problem.

[2020-06-09 10:05] xwdreamer opened #1797 "keadm init --advertise-address= shoudl use "ip" but not `ip`"
**What happened**:

follow the official docs , install cloudcore with advertise-address tags , do not create the right `cloudcore.yaml`

**How to reproduce it (as minimally and precisely as possible)**:

**use `192.168.1.30,22x.xxx.xxx.217`**
[code]
cat /etc/kubeedge/config/cloudcore.yaml
[code]

**use "192.168.1.30,22x.xxx.xxx.217"**
[code]
cat /etc/kubeedge/config/cloudcore.yaml
[code]

**Anythi

[2020-06-09 12:18] George-Chia opened #1798 "Pod running on edge has no vitural IP ? (showed <none>)"
NAME                                   STATUS     ROLES    AGE   VERSION
fb4ebb70-2783-42b8-b3ef-63e2fd6d242   Ready      edge     34d   v1.15.3-kubeedge-v1.1.0
master                                 Ready      <none>   50d   v1.13.1
node1                                  NotReady   <none>   26d   v1.13.1
node2                                  NotReady   <none>   50d   v1.13.1

NAME

[2020-06-09 15:38] coderkk commented on #1783
ok, thank you

[2020-06-09 20:41] sambr7 commented on #1777
I'll open a proper issue detailing the problem.
Thanks for your support

[2020-06-09 20:41] #1777 closed

[2020-06-10 02:38] zqdlove commented on #1786
Before upgrading, Secret needs to be deleted. Solved the problem.

`
$ kubectl delete secret casecret cloudcoresecret tokensecret default-token  -n kubeedge
`

[2020-06-10 02:40] #1752 closed

[2020-06-10 02:55] benjaminhuo commented on #1689
@kevin-wangzefeng @GsssC @FeynmanZhou @rayzhou2017 , we will submit a PR to `Support metrics-server in the cloud to collecting edge nodes/pods metrics` soon. This PR will be submitted by @Ma-Dan

[2020-06-10 03:09] Poor12 commented on #1689
Thanks for your effort. The community has plans to do this, and it has basically been completed. We will launch this feature soon.@benjaminhuo

[2020-06-10 03:27] benjaminhuo commented on #1689
@Poor12  looks like we made the same effort... The PR is here https://github.com/kubeedge/kubeedge/pull/1799

[2020-06-10 06:06] fisherxu commented on #1783
Will close it now, we can reopen it for other issue :)
/close

[2020-06-10 06:06] #1783 closed

[2020-06-10 06:22] daixiang0 commented on #1797
@xwdreamer would you like to fix it?

[2020-06-10 06:30] daixiang0 commented on #1794
Please share the running logs here.

[2020-06-10 07:17] Ma-Dan opened #1800 "Error in kubectl logs with multiple edge nodes with same IP address"
**What happened**:
CloudSide with three nodes, master 192.168.1.8, worker1: 192.168.1.7 worker2:192.168.1.10, can access by internet IP
EdgeSide1 with one node in private network 1, ip address: 192.168.1.7
EdgeSide2 with one node in private network 2, ip address: 192.168.1.7

Both edge sides registered with CloudSide sucessfully, then we have three nodes with same IP address 192.168.1.7

Deploymen

[2020-06-10 08:24] kevin-wangzefeng commented on #1800
This is not a bug, but a situation you need to take care when setting up your Kubernetes components.

Simply check the api-server argument `--kubelet-preferred-address-types`, pick hostname or internalDNS or externalDNS as primary.

[2020-06-11 03:10] daixiang0 commented on #1602
@plochon hi, i test with 1.3.0 and it works:
[code]

[2020-06-11 09:04] mipearlska opened #1808 "Edgemesh testing failed (cannot curl from other edge node)"
**What happened**:
I follow the edgemesh test documentation and deploy the same like this:
![image](https://user-images.githubusercontent.com/27221815/84365553-948bdb00-ac0c-11ea-87d7-5ae6f49f358a.png)
vmedge1 is the edge node that run the service. When I curl from vmedge2, it returned:
root@ubuntu:~/go/bin# curl http://nginx-svc.default.svc.cluster:12345
curl: (7) Failed to connect to nginx-svc.d

[2020-06-11 09:10] luogangyi commented on #1798
[code]
looks like your edge node is not OK. you should checkout edgecore status and log first.

[2020-06-11 09:13] qindng commented on #1808
can you provide more edgecore logs ?

[2020-06-11 10:52] mipearlska commented on #1808
I0611 03:48:15.965108   18433 dns.go:288] [EdgeMesh] dns server parse nginx-svc.default.svc.cluster ip 9.251.0.3
W0611 03:48:15.965250   18433 dns.go:125] [EdgeMesh] failed to resolve dns: get from real dns
I0611 03:48:16.314431   18433 process.go:672] get a message {Header:{ID:310f23e3-bf3e-434d-9bc5-63ced7586da4 ParentID: Timestamp:1591872496303 ResourceVersion: Sync:true} Router:{Source:edgemes

[2020-06-11 11:15] Ma-Dan commented on #1800
Set --kubelet-preferred-address-types=Hostname, k8s api-server will use hostname to fetch logs, then modify hosts file inside api-server docker and add iptable entry on the hostnetwork to forward log request to CloudSteam service.
This way works, but I think there should be more elegant way to realize the hostname resolve and ipo:port forwarding.

[2020-06-12 06:55] #1007 closed

[2020-06-12 08:20] mipearlska commented on #1662
Sorry for reopening this, I use flannel cni and follow your guide above. However my kube-flannel pod at edge node is still error. I need some help regarding this situation.

Here is the edgecore log related to the kube-flannel pod:
E0612 01:08:08.850230   50290 configmap.go:249] Error creating atomic writer: stat /var/lib/edged/pods/d1d9d77e-0c9c-44ad-8425-b64b20a604d8/volumes/kubernetes.io~config

[2020-06-12 13:18] plochon opened #1814 "Edgemesh prerequisites and configuration"
What are the prerequisites and configuration to run Edgemesh ? there's a link missing on the Edgmesh page ("follow ... to deploy service" :

https://docs.kubeedge.io/en/latest/contributing/edgemesh_test_env_guide.html

![edgemesh](https://user-images.githubusercontent.com/61243441/84506353-88148a80-acbf-11ea-8585-8852012a588d.png)

**Environment**:
- KubeEdge version 1.3

[2020-06-12 13:28] plochon opened #1815 "How to route external traffic into edge pods ?"
Could you clarify what Kubernetes methods (list below) are supported in Kubeedge to route external traffic into edge pods ?
- ClusterIP
- NodePort
- LoadBalancer
- Service
- Ingress

**Environment**:
- KubeEdge version 1.3

[2020-06-12 13:38] plochon opened #1816 "Kubeedge upgrade procedure"
Could you describe the procedure to upgrade from release 1.2 to 1.3, 1.3 to 1.3.1, ... ?
Do we need to regenerate the certificates ?
Does edgecore release must match cloudcore release ?
Do we need to recreate the db file ?
...

**Environment**:
- KubeEdge version 1.3

[2020-06-13 16:37] x-bytes commented on #1766
I have the same problem. How to solve the problem.
https://docs.kubeedge.io/zh/latest/guides/edgemesh_test_env_guide.html is invalid

[2020-06-13 16:40] x-bytes commented on #1766
I have the same problem. How did you solve it.
https://docs.kubeedge.io/en/latest/guides/edgemesh_test_env_guide.html URL is invalid .

[2020-06-14 03:26] kevinzs2048 opened #1817 "keadm download cloud side yaml from raw.githubusercontent.com failed"
**What happened**:
[code]

If set proxy on the cmdline only, then the connection to kube-apiserver will fail.
I think we should consider use a parameter to pass the https proxy when downloading.

**What you expected to happen**:
Download success
**How to reproduce it (as minimally and precisely as possible)**:
Special in China.

[2020-06-14 03:27] kevin-zhaoshuai commented on #1817
/assign me

[2020-06-14 15:27] luogangyi commented on #1817
@kevin-zhaoshuai ,that should be ```/assign``` , no "me" needed :)
Besides, there is two way get keadm currently, eg. build from source or download pre-built tar.
So, I think If we build from source, we can copy these yaml file into destination and If we download pre-built tar, we should put these yaml into tar instead of download them from internet.

[2020-06-15 02:27] qingchen1203 opened #1820 "The default parameter for edgecore's log file size limit does not seem to work"
**What happened**:
When using the default configuration of edgecore, the log file size exceeds the default parameter 1800M
Here is the edgecore startup configuration I used:
![image](https://user-images.githubusercontent.com/25947812/84611673-2176b300-aef1-11ea-8069-774797834512.png)
I did not specify a value for the log file size limit `log-file-max-size`,  which should be 1800M by default:
![ima

[2020-06-15 08:33] 12101111 commented on #1119
It seems that the implementation of mappers is independent of  which programming language is using.
A mapper only needs to publish mqtt messages in json format to the corresponding mqtt topic.
But there is currently no documentation for json fields of echo mqtt topic.

[2020-06-15 08:35] fisherxu commented on #1119
/remove lifecycle/stale

[2020-06-16 01:24] daixiang0 commented on #1817
I think https proxy is a host env indeed.

[2020-06-16 01:28] daixiang0 commented on #1619
duplicate as #1436

[2020-06-16 01:28] daixiang0 commented on #1771
duplicate as #1436

[2020-06-16 01:28] daixiang0 commented on #1808
duplicate as #1436

[2020-06-16 01:35] daixiang0 opened #1821 "EdgeMesh Known Issue"
It is a **summary** for known issue about EdgeMesh, no need to file any similiar issue like below:

- [x] EdgeMesh doc is not clear, like #1814, would fix by #1805
- [x] EdgeMesh test failed, like #1808 #1619 #1771, would fix by #1805
- [x] EdgeMesh run into panic, like #1436, would fix by #1843

/assign

[2020-06-16 02:00] kevin-zhaoshuai commented on #1817
@luogangyi  yes, so you mean that we can just copy file first to the directory and do not need to setup the https proxy? That should be easy and do not need any code change

[2020-06-16 02:01] kevin-zhaoshuai commented on #1817
@daixiang0 yes, but the problem here is if you set the https proxy env, you can not get access to the kube-apiserver, that will make keadm fail at first.

[2020-06-16 02:12] luogangyi commented on #1817
--
yes, I think this way is less invasive and easy to accomplish

[2020-06-16 09:30] sailorvii opened #1824 "Process of bluetooth mapper scheduler seems wrong"
code: kubeedge/mapper/bluetooth_mapper/scheduler/scheduler.go: line 81
issue 1:
actionExists will always be true once it enters  line 85; And it will break once the first action in schedule.Actions was deleted(line 83 mismatch).

issue 2:
No process when the scheduler was deleted.
<img width="615" alt="bug1" src="https://user-images.githubusercontent.com/35483373/84757612-f24a6980-aff6-11ea-845b-8

[2020-06-16 13:00] xixi-A opened #1825 "kubeedge1.3 network can't expose ports."
**What happened**:

1.When I assign  nignx to edgenode by:

 kubectl apply -f $GOPATH/src/github.com/kubeedge/kubeedge/build/deployment.yaml

2.Then kubectl get pod --all-namespace -owide

kubectl get pod --all-namespaces -owide
NAMESPACE     NAME                                      READ     STATU  RESTARTS AGE    IP           NODE
default   nginx-deployment-77698bff7d-wb8pt   1/1     Running

[2020-06-16 22:52] justinrcs opened #1826 "Unable to connect edge nodes with existing K8s Cluster"
**What happened**:

Followed these [installation instructions ](https://github.com/kubeedge/kubeedge/blob/release-1.3/docs/setup/develop_kubeedge.md)to setup a K8s cluster in a public AWS subnet from scratch with kubeadm and was successful in connecting an edgenode.

Then, attempted to mirror same setup with an existing K8s cluster in a private AWS subnet that was created with Kops 1.17.

Cannot g

[2020-06-17 02:05] kevin-zhaoshuai commented on #1769
working on keadm automatically install Kata containers runtime.

[2020-06-17 02:11] xixi-A commented on #1743
You can refer :
https://github.com/kubeedge/community/blob/master/OpenSourcePromotionPlan2020/summer2020-cn.md#%E4%BB%BB%E5%8A%A1%E5%88%97%E8%A1%A8

[2020-06-17 03:22] fisherxu commented on #1817
@kevin-zhaoshuai Thanks for your idea, for the download issue, we can discuss where to place the release package, then users can download without proxy, WDYT?

[2020-06-17 03:36] kevin-zhaoshuai commented on #1817
@fisherxu Thanks, that sounds good to me, and this do not need any code change, very easy to fix this problem.

[2020-06-17 04:57] kevin-zhaoshuai opened #1827 "Detail info of Edgecore node registration failed should be return to edged side"
**What happened**:
When register node on the cloudhub, if failed, edged does not received any details info, the content is <nil>, should tend to cloudcore to get the error details. That error response should be returned to edged.

[code]

And from Cloud core log:
[code]

**What you expected to happen**:
Error detail should be returned to edged.

**How to reproduce it (as minimally and precisely as

[2020-06-17 04:57] kevin-zhaoshuai commented on #1827
/assign

[2020-06-17 05:16] #1080 closed

[2020-06-17 07:54] sailorvii opened #1830 "Bad coding style"
![image](https://user-images.githubusercontent.com/35483373/84870965-8d544980-b0b2-11ea-9917-4b32e3a70279.png)
File: bluetooth_mapper/watcher/watcher.go
**What would you like to be added/modified**:
Cut down the layers, using like this:
if Wrong {
    break
}
**Why is this needed**:
Hard to read and maintian.

[2020-06-17 08:36] GsssC commented on #1827
@kevin-zhaoshuai There will be big changes to the code for connection management，you would better modify based on #1670

[2020-06-17 08:38] daixiang0 commented on #1830
@sailorvii hi, would you like to refactor them?

[2020-06-17 08:42] xmwilldo opened #1831 "calico can't run smoothly on edge node"
the reason some applications, such as calico, cannot run properly is that kubernetes service environment variable lacks of the edge node container.

**What would you like to be added/modified**:
inject that kubernetes service environment variable and others service environment variable to ensure applications can run smoothly on the edge node.

**Why is this needed**:
ensure applications can run sm

[2020-06-17 08:48] kevin-zhaoshuai commented on #1827
@GsssC Thanks for the reminder. Will base on that :-)

[2020-06-17 08:53] #1736 closed

[2020-06-17 12:24] fisherxu commented on #1825
@xixi-A  I have tried in my env, it running well. Another service have used the port 80, so I changed the host port to 8080 in deployment.yaml. The issue maybe related to your env.
[code]

[2020-06-17 13:19] fisherxu commented on #1553
Now we have support raspberry and will have arm release for keadm. Close issue now.
/close

[2020-06-17 13:19] #1553 closed

[2020-06-17 14:12] qingchen1203 opened #1832 "Add edged with more personalized options"
**What would you like to be added/modified**:
When I use Edged, I want to set the host reserve resource limit (CPU, memory, POD number, etc.).But it doesn't look like there are many configuration items involved (for example, no CPU limit configuration). Can we add more edged personalized configurations like Kubelet in the future?
We can refer to kubelet's configuration item:
kubelet:https://github

[2020-06-18 01:14] xixi-A commented on #1825
@fisherxu  OK, I will try again. And I wonder which one of the OS and its version you used, and kubeedge's version. Thank you!

[2020-06-18 01:36] fisherxu commented on #1825
My host OS is ubuntu 16.04, KubeEdge version is 1.3.1  @xixi-A

[2020-06-18 02:28] Ma-Dan opened #1835 "Network configuration for logs and metrics"
In current version of KubeEdge, if we want to use kubectl logs or kubectl top nodes/pods, we need to run apiserver/metrics-server in hostnetwork mode, then add iptables for each added edge node to forward logs/metrics request to cloudStream. If edge nodes work in hostname mode, more work should be done, adding hosts resolving to kube-apiserver/metrcis-server and assign an unconflict IP address to

[2020-06-18 08:11] lzt-pro commented on #1743
Hello, I want to choose this course, And I want to know more details, so that I can make my schedule. Further more, I have send an email to Mr wang.

[2020-06-18 10:45] xixi-A commented on #1825
@fisherxu  Which cni you used? calico or flannel?

[2020-06-18 13:09] fisherxu commented on #1825
I haven't use cni in this test env, just use the docker network, and run kubeedge in vm

[2020-06-18 14:40] plochon opened #1837 "Edgemesh supported protocols"
According to
https://docs.kubeedge.io/en/v1.3.1/guides/edgemesh_test_env_guide.html

When will other procols be supported ?

[2020-06-19 03:34] xixi-A commented on #1825
@fisherxu  Thank，I'm succeed on respberry. I will try again in vm later. And I have another question, when the edge connect with the cloud successful, is there run the pod of kube-proxy automatically on the edge?

[2020-06-19 03:40] fisherxu commented on #1825
Now in the edge, we don't support kube-proxy, because kube-proxy would talk to kube-apiserver directrly, will have something wrong with the edge network. Edgemesh is our solution like kube-proxy.

[2020-06-19 06:13] xixi-A commented on #1825
OK. Thank you, I have buit a new vm and run edgecore just now, I can curl my IP.

[2020-06-19 06:14] #1825 closed

[2020-06-19 06:30] kevin-wangzefeng commented on #1814
https://github.com/kubeedge/kubeedge/pull/1805/ would fix this

[2020-06-19 07:09] daixiang0 commented on #1835
@Ma-Dan Hi, could you have interest in completing docs about how to enable logs and metrics? It would be very helpful to users.

[2020-06-19 14:59] Yisaer commented on #1742
great!

[2020-06-20 02:42] #1545 closed

[2020-06-20 02:45] fisherxu commented on #1545
Now the issue has been fixed in #1670

[2020-06-21 05:30] sks commented on #1830
@daixiang0 / @sailorvii Is this something that I can assist with ? Would like to take a stab at it.

[2020-06-21 06:06] daixiang0 commented on #1830
@sks, very welcome, you can play with codes of mappers.

[2020-06-22 03:33] daixiang0 opened #1854 "EdgeMesh Optimization"
Now EdgeMesh works as a DNS server and proxy server, there are some limitations:

- Depend on docker0 network interface, cannot work for any other CRIs
- Only support IPV4 DNS resolver
- Only support HTTP protocol proxy when apps use hostPort

To optimize them, here is the plan:

- [ ] Remove docker0 dependence
- [ ] Use open source DNS library rather than implement by ourselves, tracked as #1840

[2020-06-22 08:09] hanneshoettinger opened #1857 "Re-registration of edgenode - Timeout & Objectsync error"
**What happened**:
The edge device reboots and restarts the edgecore process. The edge node is not able to re-register again at cloudcore - stays NotReady.
The node is able to re-register again, if I delete the objectsync deployment and re-deploy that again.
When I delete the node with kubectl, cloudcore still looks for the edgenode in the logs.
Edgecore log:
`E0622 07:52:08.086418     804 edged_s

[2020-06-22 08:32] GsssC commented on #1857
this is a bug fix by #1670

[2020-06-22 09:11] hanneshoettinger commented on #1857
Thanks for the hint.
I think this will solve the timeout issue.

Moreover, the objectsync seems to be another issue, where it happens that the edgenode connects again, but a deleted pod keeps running on the edge device, even tough it was deleted using kubectl.
If I then re-deploy objectsync the pod is successfully deleted on the edgenode.

[2020-06-22 09:23] GsssC commented on #1857
this is a bug because cloudcore has not yet collected garbage-objectsyncs which is created by delted node.And will be fixed by #1855.

could tell me more details about `re-deploy objectsync`?

[2020-06-22 09:45] Baoqiang-Zhang opened #1859 "configuring container cpu limit does not take effect"
**What happened**:
configuring container's cpu limit does not take effect
**What you expected to happen**:
container cpu resource should be limited
**How to reproduce it (as minimally and precisely as possible)**:
create a container with cpu limit configuration
**Anything else we need to know?**:

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`):

**CloudSide Environment**:

[2020-06-22 09:49] Baoqiang-Zhang commented on #1859
https://github.com/kubeedge/kubeedge/blob/a9b0862bed7fc2f9350a850496e60640fc43c15c/vendor/k8s.io/kubernetes/pkg/kubelet/kuberuntime/kuberuntime_container_linux.go#L69-L79

https://github.com/kubeedge/kubeedge/blob/a9b0862bed7fc2f9350a850496e60640fc43c15c/edge/pkg/edged/edged.go#L548-L570

cpuCFSQuota should be set to true

[2020-06-22 12:00] daixiang0 commented on #1859
Good catch, would you have interest in fixing it?

[2020-06-22 13:18] fisherxu commented on #1857
Thanks for pointing out :) The timeout issue now has been fixed.

For the Objectsync error, can you add more details?

[2020-06-22 13:20] fisherxu commented on #1857
When delete the node, is the edgecore process stopped in edgenode?

[2020-06-22 13:39] mehmetbicak commented on #1551
/assign @mehmetbicak

[2020-06-22 13:41] fisherxu commented on #1551
@mehmetbicak  The issue has been fixed in #1779 :)

[2020-06-23 03:39] xwdreamer commented on #1549
I have the same problem. kube-flannel-ds-arm is pending on raspberry pi,  but kube-flannel-ds-amd64 on virtual machine is ok.
I can successfully depoly nginx.

[code]

I upload the error on the slack:https://app.slack.com/client/TDZ5TGXQW/CDXVBS085/thread/CDXVBS085-1592816595.435300.

[2020-06-23 07:00] lixiangmyehk commented on #1835
me too

[2020-06-23 07:25] Ma-Dan commented on #1835
Currently this method contains two manual steps: (1) modify hosts file in kube-apiserver and metrics-server container, (2) modify iptables on host machine which kube-apiserver/metrics-server runs.

We planned to make this procedure automatic:
(1) Develop sidecar for kube-apiserver and metrics-server, list-watch nodes resource of k8s cluster, and sync edge nodes info, assign unconflict ip address f

[2020-06-23 07:53] hanneshoettinger commented on #1857
@fisherxu the edgecore process is not stopped in the edgenode, as I would like to simulate a device running in the field. So the process should recover the node from the cloudside...

By objectsync I mean, that I delete the objectsync_v1alpha1.yaml and apply it again. (edgenode always running). Sometimes a restart of cloudcore also helps...it is hard to describe a scenario to reconstruct that issu

[2020-06-23 09:07] kadisi commented on #1835
@Ma-Dan for hostname mode, you can use `xip.io`

[2020-06-23 09:26] lixiangmyehk commented on #1835
iptables -t nat -A OUTPUT -p tcp  --dport 10350 -j DNAT --to 192.168.0.102:10003
是这样吗，我改过，没有效果

[2020-06-23 09:53] lixiangmyehk commented on #1712
https://github.com/kubeedge/kubeedge/blob/master/docs/setup/kubeedge_install_source.md
this is invalid 。

[2020-06-23 17:32] zzxgzgz opened #1870 "Failed to save the edge certificate"
**What happened**:
I am trying out setting up KubeEdge with the cloudcore/edgecore binaries(compiled from code) and edgecore failed because of this error:
[code]
**What you expected to happen**:
Edgecore runs successfully and joins the cluster without any errors.
**How to reproduce it (as minimally and precisely as possible)**:
To run cloudcore/edgecore following this tutorial:
[kubeedge1.3.0 安装过程

[2020-06-24 02:34] daixiang0 commented on #1870
Can edge node connect to cloud node?

[2020-06-24 03:55] GsssC commented on #1870
you do not fill the field of (edgecore.yaml).module.edgehub.token

[2020-06-24 04:14] GsssC commented on #1857
@hanneshoettinger

In default situation, Pods will be evicted (controllered by controllerManager)after 5mins if edge node still stays in NotReaty. Within 5mins, because of no new podstatus update event recived from edgenode, it remains origin status.

BUT, it still does not explain why deleting objectsyncs could help delete pod in edgenode, and it is unreasonable. May It is caused by  combined bug

[2020-06-24 04:21] zzxgzgz commented on #1870
@daixiang0 @GsssC

Problem solved, turns out that the base64 command on my machine didn't give me the right token for edgecore.

After using the token generated by
[code]
edge node joined successfully.

Thank you for your help and I will close this issue now.

[2020-06-24 04:21] #1870 closed

[2020-06-24 07:00] kevin-zhaoshuai commented on #1769
Validate the Kata-container with Containerd
Containerd 1.12.13
Kata 1.11.0-rc0, works fine on Edge Node. This document https://docs.kubeedge.io/en/latest/configuration/cri.html#kata-container has this introduction to try Kata, but this document has assumed that Kata is ready on the edge node.

Is it essential to deploy and set the configuration with Keadm @fisherxu ?

[2020-06-24 07:26] hanneshoettinger commented on #1857
ok, haven't seen switching the pod to evicted in kubernetes master (have to test that again, but normally I waited more than 5mins).

Ok, need to clarify that: Deleting objectsyncs help to re-register the edgenode - to be able to switch to Ready status again in the kubernetes master. The edgenode is running and the pods are also running on the edge device. When I restart cloudcore it sometimes als

[2020-06-24 08:20] GsssC commented on #1758
**For my view, there are two methods to implement :**

1. The first way referencing to **OpenYurt**
- how to handle `list` request
![image](https://user-images.githubusercontent.com/29768082/85519489-2abff800-b634-11ea-9e4c-dc334bccd0d3.png)

- how to handle `watch` request
![image](https://user-images.githubusercontent.com/29768082/85519536-3d3a3180-b634-11ea-8b18-fddf38d1543a.png)

**Advantage:*

[2020-06-24 08:58] Ma-Dan commented on #1835
When running kubectl logs on edge pods, does kube-apiserver show logs about failing connection to https://edgenodeNameIP:10350/containerLogs/XXXXX ?

If this log is present, then add hosts in kube-apiserver container in hostname mode. (Skip this step in ip address mode)

After this in-container part is done, then run

[code]

on host machine which kube-apiserver is running, source IP needs to be s

[2020-06-25 08:26] 379763376 opened #1871 "keadm join时候没有指定系统架构的参数，服务端和amd64 、edge是arm64，默认每次都会改了config文件"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`):

**CloudSide Environment**:
- Hardware configuration (e.g. `lscpu`):
- OS (e.g. `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Go version (e.g. `go version`):
-

[2020-06-25 12:12] #1279 closed

[2020-06-25 12:13] #1268 closed

[2020-06-25 16:28] s099064146 commented on #1857
@hanneshoettinger
Could you please teach me how to delete objectsyncs (I mean some commands and steps which are necessary to solve this issue.)? Since I faced the same problem yesterday (2020/06/25), I am afraid of turning off my computers due to this issue.
I am a little bit frustrated with continuing to rebuild the  KubeEdge cluster with each reboot event.
Thank you in advance!

[2020-06-25 16:51] s099064146 opened #1872 "Version error in KubeEdge cluster by using kubectl get nodes in master node."
**What happened**:
The version of KubeEdge which showed in command: `kubectl get nodes` (on master node).
![image](https://user-images.githubusercontent.com/40239192/85761125-0acc2980-b745-11ea-9fff-72e587c96f2e.png)
**What you expected to happen**:
It will show up something like "v1.17.1-kubeedge-v1.3.1" in the description of the version.
**How to reproduce it (as minimally and precisely as possi

[2020-06-28 01:06] daixiang0 commented on #1871
Which config do you mean?

[2020-06-28 01:16] daixiang0 commented on #1872
It is an issue for arm64 release binary, we will fix soon.

[2020-06-28 01:16] daixiang0 commented on #1872
/assign

[2020-06-29 01:11] 379763376 commented on #1871
/etc/kubeedge/config/edgecore.yaml

[2020-06-29 01:16] 379763376 commented on #1871
边缘节点是arm64架构的  keadm join的时候  生成的config文件中image字段值应该是kubeedge/pasue-arm64:tag

keadm没有检查cpu架构？看着也没参数可以指定架构

[2020-06-29 01:36] daixiang0 commented on #1871
This issue has been fixed by [this ](https://github.com/kubeedge/kubeedge/commit/a4d1c3a6)i think, which version of keadm do you use?

[2020-06-29 02:01] luogangyi commented on #1835
is it duplicated with #1799 and #1735 ?

[2020-06-29 02:24] s099064146 commented on #1872
@daixiang0
Thank you for fixing this!

[2020-06-29 03:03] Ma-Dan commented on #1835
It is not duplicated with these PRs, it covers the network configuration part (DNS for edge nodes'  hostname and iptables for CloudStream) after the function of these PRs running.

[2020-06-29 03:08] 379763376 commented on #1871
Oh, I use v1.3.1 relaese version. The keadm installer is based on source code compilation. The kubeedge and edgesite is based on relaesed tar file.

[2020-06-29 03:30] #1566 closed

[2020-06-30 02:13] #1871 closed

[2020-06-30 15:44] luogangyi commented on #1835
Thanks for your explaination.
Btw, "adding hosts resolving to kube-apiserver/metrcis-server and assign an unconflict IP address to edge nodes."
is it necessary? can we use dns to map all edge nodes to 127.0.0.1?

[2020-07-01 02:43] qingchen1203 commented on #1832
/assign qingchen1203

[2020-07-01 03:22] guojianyu opened #1875 "kubeedge1.3.0 edge can not use local pv"
storageclass yaml:
![image](https://user-images.githubusercontent.com/21234963/86199184-03b17b00-bb8c-11ea-90ea-ba8a253c2fb1.png)
pv yaml:
![image](https://user-images.githubusercontent.com/21234963/86199131-e2e92580-bb8b-11ea-83dc-6d468e070f5f.png)
pvc yaml:
![image](https://user-images.githubusercontent.com/21234963/86199252-2cd20b80-bb8c-11ea-9c9a-bf74d6743482.png)
pod yaml:
![image](https://us

[2020-07-01 04:30] Ma-Dan commented on #1835
We are considering make this IP address a configurable parameter, using 127.0.0.1 might affect local communication on 10250/10350 ports, need to verify, we have tested that multiple edge nodes share the same IP is ok.

[2020-07-01 05:54] kevin-wangzefeng commented on #1832
Thanks @qingchen1203, it would be very helpful to enumerate the options you'd like to expose.

[2020-07-01 06:14] bluefriday opened #1876 "Kubectl logs failed"
**What happened**:

In my cluster, there are 2 nodes (cloud : local virturebox, edge : raspberrypi)
I upgraded my kubeedge to v1.3.1 and tested 'kubectl logs'

but log test failed. I attach my log and config

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`):  v1.3.1 (same)

**CloudSide Environment**:
- Hardware configuration (e.g. `lscpu`):
[code]
- OS (e.g. `cat /etc/os-re

[2020-07-01 06:17] #1437 closed

[2020-07-01 06:24] bluefriday commented on #1876
These are my config files.

1. cloudcore ------------------------------------------
[code]

2. edgecore ------------------------------------------
[code]

[2020-07-01 07:44] kevin-wangzefeng commented on #1816
We should clarify this in document. /cc @daixiang0
/kind document
/remove-kind bug

[2020-07-01 07:45] kevin-wangzefeng commented on #1816
/kind documentation

[2020-07-01 09:06] fisherxu commented on #1815
Now we support NodePort in edgenode to route external traffic into edge pods, and Ingress and LoadBalancer is implementing now :)

[2020-07-01 09:22] #1436 closed

[2020-07-01 09:23] plochon commented on #1815
@fisherxu thank you, do you mean NodePort is already supported in latest release i.e. 1.3.1 ? or should we wait for 1.4 ?

[2020-07-01 09:26] fisherxu commented on #1815
Ohh, sorry, I think I made mistake, I mean hostport and port mapping.

[2020-07-02 03:40] #1814 closed

[2020-07-02 04:04] ls889 opened #1878 "make lint modify images in kubeedge/docs/adopters"
**What happened**:
when run `make lint`, it will modify the images in kubeedge/docs/adopters, then the pics are broken.

[2020-07-02 04:17] ls889 commented on #1878
@daixiang0 hello,  it's better to modify the images' location or modify the make lint?

[2020-07-02 05:57] daixiang0 commented on #1878
@ls889 No need to move image, update `hack/lib/lint.sh` is enough.

[2020-07-02 06:05] ls889 commented on #1878
@daixiang0  sure, update lint.sh and ignoring "adopters" is convenience. but png should be put in images directory.

[2020-07-02 06:15] fisherxu commented on #1878
@ls889 We specifically separate the adopters logo with the general pictures, so just  update lint.sh :)

[2020-07-02 06:23] ls889 commented on #1878
@daixiang0 @fisherxu  Thanks for tips.

[2020-07-02 07:46] #1878 closed

[2020-07-02 09:03] fisherxu commented on #1875
@guojianyu Will you use other feature of local pv, if not, why not use hostpath to mount?

[2020-07-02 09:45] daixiang0 opened #1881 "failed to use pv: No matching NodeSelectorTerms"
Root cause:

K8s call `og.volumePluginMgr.Host.GetNodeLabels()` to get node label then compare:
[code]

While we do not implement it:
[code]
/assign

[2020-07-02 11:41] GsssC opened #1882 "fatal error: concurrent map writes"
**What happened**:
When edgecore runs for a long time, there will be a `concurrent map writes` panic
![image](https://user-images.githubusercontent.com/29768082/86354184-241c2b00-bc9b-11ea-9091-41a290698dfa.png)

**What you expected to happen**:
edgecore run well.
**How to reproduce it (as minimally and precisely as possible)**:
edgecore run for a long time
**Anything else we need to know?**:

**E

[2020-07-02 11:49] GsssC opened #1883 "Failed to create legacy symbolic"
**What happened**:
edgecore continuely logs `Failed to create legacy symbolic link` Error for unknown reason.
![image](https://user-images.githubusercontent.com/29768082/86354984-8a557d80-bc9c-11ea-805f-74d317e2a861.png)
**What you expected to happen**:
stop logging that error and figure out why.
**How to reproduce it (as minimally and precisely as possible)**:
run edgecore
**Anything else we need

[2020-07-02 11:50] GsssC commented on #1883
/assgin @Poor12

[2020-07-02 11:51] GsssC commented on #1883
/assign @Poor12

[2020-07-02 11:53] GsssC commented on #1882
/assign @XJangel

[2020-07-02 11:56] ls889 commented on #1882
/assign @XJangel

[2020-07-02 12:44] GsssC commented on #1876
can `curl https://10.20.30.77:10350/containerLogs/kube-system/nginx-deployment-6f9874cfdf-z5vwn/nginx` in edgenode?

[2020-07-03 01:05] daixiang0 commented on #1882
The stack is not complete, seems write map without lock.

[2020-07-03 01:08] GsssC commented on #1882
@daixiang0 ，yes，map in consumer gorutines should be locked

[2020-07-03 01:51] daixiang0 commented on #1797
fixed by #1858

[2020-07-03 01:53] daixiang0 commented on #1797
@fisherxu please close this.
BTW, @kevin-wangzefeng  could we add a Triage role as issue maintainer refer to [details](https://docs.github.com/en/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization#permission-levels-for-repositories-owned-by-an-organization).

[2020-07-03 01:54] daixiang0 commented on #1551
/close

[2020-07-03 01:54] #1551 closed

[2020-07-03 02:17] benjaminhuo commented on #1835
@kadisi xip.io works for us, we've tested it and are considering using this method to go ahead. By using xip.io, we'll needn't to "adding hosts resolving to kube-apiserver/metrcis-server" anymore which is great.

Maybe we can contribute our automation tool to KubeEdge community as well

Ben

[2020-07-03 03:11] guojianyu commented on #1875
this is our bound need.
we solved the  problem with  other csi of local pv .
but edgecore have bug ,the pv node selector  does not match  edgenode label.
error informations:
Error: "MountVolume.NodeAffinity check failed for volume \"pvc-b93238f5-c343-4d59-afa4-ba82f6c58bc7\" (UniqueName: \"kubernetes.io/host-path/a212a8fe-b9c6-4d17-938e-35578d5a5ba5-pvc-b93238f5-c343-4d59-afa4-ba82f6c58bc7\") pod

[2020-07-03 03:21] fisherxu commented on #1875
@guojianyu  Would you like raise a PR to fix it?

[2020-07-03 09:55] GsssC opened #1888 "Redundant orphan directory"
**What happened**:
![image](https://user-images.githubusercontent.com/29768082/86457543-68b8cc80-bd56-11ea-8acb-d6d62ac2ccd5.png)

**What you expected to happen**:
number of dir`/var/lib/edged/pods` is equal with pod number in edge-store
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgeco

[2020-07-03 09:57] GsssC commented on #1888
/cc @Poor12

[2020-07-03 09:57] GsssC commented on #1888
/assign @Poor12 @ls889

[2020-07-03 13:47] #1875 closed

[2020-07-04 07:46] #1882 closed

[2020-07-06 02:30] ls889 commented on #1888
The problem has not been reproduced after many tests.

[2020-07-06 02:48] kevin-wangzefeng commented on #1797
@daixiang0 It should have been covered by http://prow-bot.kubeedge.io/command-help in most cases that a contributor would like to modify issues. But I'd be happy to hear any case that we still need to setup triage role.

[2020-07-06 02:53] daixiang0 commented on #1797
/close

[2020-07-06 02:54] #1797 closed

[2020-07-06 02:54] daixiang0 commented on #1797
Get it, i thought no premission on github page cannot close the issue.

[2020-07-06 06:07] bluefriday commented on #1876
I ran curl command in my edge node (10,20.30.77). result is below.

[code]

[2020-07-06 06:15] GsssC commented on #1876
@bluefriday That is weird, how about `cutl localhost:10350`? May you do not stop firewalld

[2020-07-06 07:06] daixiang0 opened #1893 "Failed to clearing up volume mount points"
**What happened**:
[code]

**What you expected to happen**:

Clear up successfully.

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`):  1.3.1

[2020-07-06 07:53] #1883 closed

[2020-07-06 09:38] fisherxu commented on #1364
@faicker Could you help clarify how to reproduce this issue? I test many times in my host, and haven't seen the issue... The pod network set to `hostNetwork` or `portMapping`?

[2020-07-07 02:01] faicker commented on #1364
example yaml,
[code]
try some times.

[2020-07-07 03:30] fisherxu commented on #1371
/remove lifecycle/stale

[2020-07-07 06:33] guojianyu opened #1899 "delete pvc and pv that edgecore sqlite cannot delete information"
**What happened**:
edgecore  sqlite3 can not clear pv and pvc of deletion information beacaus  cloudcore do not send deletion message  for  edgehub
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
![ZIOKVDBBA3%W@B7UP4YF6ZH](https://user-images.githubusercontent.com/21234963/86735430-619b0280-c065-11ea-9de6-5350

[2020-07-07 06:55] yzhao66 opened #1900 "when i changed desired value,the reported value is not synchronize whit desired value"
**Which jobs are failing**:
runing kubeedge-traffik-light
**Which test(s) are failing**:
changing desired value
**Since when has it been failing**:

**Reason for failure**:

**Anything else we need to know**:
![image](https://user-images.githubusercontent.com/44268973/86731232-e97f0d80-c061-11ea-9b7b-e4c664e0f1e0.png)

[2020-07-07 07:24] guojianyu commented on #1899
this bug make pvc name cannot be reused,local pv pathname is first pv name all the time.

[2020-07-08 01:02] daixiang0 commented on #1899
We do not support local pv at edge side.

[2020-07-08 02:25] guojianyu commented on #1899
it is can not support  no-provisiner local pv currently
but provisioner local pv  solved this bug   can support

[2020-07-08 02:28] daixiang0 commented on #1899
Local pv may make users confused whether it is "local pv" type.

[2020-07-08 02:44] sailorvii opened #1905 "Bad naming style"
**What would you like to be added/modified**:
The name of functions, variables is not appropriate.
file: kubeedge/edge/pkg/devicetwin/dtmanager/membership.go
1. Function name needn't use past tense. Not only this function, but also many other function names should be refined.
Eg:
line 164
// Added add device to the edge group
func Added

2. Bad variable name. Here deviceModel -> deviceInstance. Fo

[2020-07-08 05:39] guojianyu commented on #1899
Get it,this description is not clear.
this loca pv points provisioner local pv

[2020-07-08 06:38] larryck commented on #1881
We met the same issue several days ago and solved it by returning map[string]string{v1.LabelHostname:hostname}, nil to GetNodeLabels, the same as what we do at edge/pkg/edged/volume_host.go.

[2020-07-08 12:14] fisherxu commented on #1905
Thanks for pointing out @sailorvii And would you like to raise some PRs to fix? :)

[2020-07-08 12:44] yzhao66 commented on #1714
i get same error too after delete ns

[2020-07-08 13:28] luotian-github opened #1909 "get secret from metaManager failed"
When I try to deploy a Pod on the edge node, found mounting the secret is always failed in the log. I'm using the verion 1.2.1

[root@10 kubeedge]# kubectl get node
NAME            STATUS                     ROLES    AGE   VERSION
10.111.25.103   Ready,SchedulingDisabled   master   82d   v1.15.3
10.111.25.175   Ready                      <none>   82d   v1.15.3
10.111.25.176   Ready

[2020-07-09 01:07] daixiang0 commented on #1909
Could you please try latest version 1.3.1?

[2020-07-09 02:47] kadisi commented on #1905
@sailorvii Welcome to submit your PR.

[2020-07-09 07:44] luogangyi opened #1913 "cloudcore crash when no nodeSelector provide"
**What happened**:
when we create a device instance without nodeSelector, cloudcore will crash.

[code]
**What you expected to happen**:
cloudcore works properly on device without nodeselector, or just reject it.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
[code]
**Anything else we need to know?**:
I think these codes cause the problem
[code]
**Environment**:
- KubeEd

[2020-07-09 07:45] luogangyi commented on #1913
/assign

[2020-07-09 07:48] luogangyi commented on #1913
/assign

[2020-07-09 08:59] daixiang0 commented on #1913
Could we set nodeSelector when add device in https://github.com/kubeedge/kubeedge/blob/master/cloud/pkg/devicecontroller/controller/downstream.go#L337?

[2020-07-09 09:29] luogangyi commented on #1913
I did some test, if we set nodeSelector when add device, it's OK on device add and update.
but still crash on device deleted.
It's because we set nodeSelector here is not persistent to etcd.

But, if we want to persist nodeSelector, is it necessary to automatic generate an empty nodeSelector？ or just let user do it?

[2020-07-09 12:04] GsssC commented on #1692
/close fixed by #1670

[2020-07-10 00:30] daixiang0 commented on #1913
Thinking about existing users, if we add it in definition, is there issue when upgrade?

[2020-07-10 01:21] luogangyi commented on #1913
I think it would be OK for existing user. Becasue they cannot have non-nodeselector device in system so far.
So, if we add it in definition, it will only affect adding new deivce in future

[2020-07-10 06:30] GsssC opened #1918 "keadm get : Get and format the data in the output database edgecore.db"
**What would you like to be added/modified**:
Get and format the data in the output database edgecore.db like `kubectl get`, help debug.
**Why is this needed**:
Various types of data now are stored in edge-side database **edgecore.db**(/var/lib/kubeedge/edgecore.db)  such as :
- pod
- secret
- configmap
- service
- endpoints
- node

Now, If we want to confirm whether a specific resource is success

[2020-07-10 08:51] Caixiaomeng commented on #1714
+1我也是删除了之后还是同样的问题，请问你jie

me too.Have you solved this problem?

[2020-07-10 08:56] #1913 closed

[2020-07-10 10:21] Congrool opened #1920 "Race condition in podManager"
Hello, I'm reading the source of kubeedge.
I saw the following code in the file "/edge/pkg/edged/podmanager.go" starting from line 107.
[code]
Should it use `Lock()` and `Unlock()` instead of `RLock()` and `RUnlock()` to avoid race condition of  `podByUID` and `podByFullName` ?

[2020-07-10 11:24] kevin-wangzefeng commented on #1837
The support of HTTP1.x here means application-layer protocal aware load balancing, for HTTPS and gRPC, you can rely on TCP L4 load-balancing now

[2020-07-10 11:27] kevin-wangzefeng commented on #1837
BTW, HTTPS and gRPC aware load balancing are advanced feature for service governance cases, I think we will add support in 2021.

[2020-07-10 12:07] fisherxu commented on #1920
Thanks for pointing out, SGTM, would you like raise a PR? @Congrool

[2020-07-10 13:14] Congrool commented on #1920
Ok, I'd like to do so. @fisherxu

[2020-07-11 07:07] #1920 closed

[2020-07-11 09:16] daixiang0 commented on #1918
I think `kubectl get` can confirm deployment really or not, since db data is from cloudhub(it from api server), those part of data no need to implement by `keadm`.

[2020-07-12 03:45] GsssC commented on #1918
@daixiang0 I don’t think so. What you say it’s based on data have been successfully delivered to the side. In fact，reliable msg transmission is just realized in Feb this year by v1.3.0, and is gradually stable until recently a series of bug was fixed. In our test environment, there are still some data inconsistencies such as configmap, although  too rare to submit a issue. The code of connection m

[2020-07-13 02:57] daixiang0 commented on #1918
Also, `keadm` is more like `kubeadm`, is it the good choice to implement it?

[2020-07-13 03:00] daixiang0 commented on #1769
Like `kubeadm`, `keadm` should not do CRI deploy.

[2020-07-13 03:01] daixiang0 commented on #1769
/close

Seems it is supported, close this.

[2020-07-13 03:01] #1769 closed

[2020-07-13 03:02] daixiang0 commented on #341
/close

[2020-07-13 03:02] #341 closed

[2020-07-13 03:07] daixiang0 commented on #195
/close

Now we both support containPort and hostPort.

[2020-07-13 03:07] #195 closed

[2020-07-13 03:34] GsssC commented on #1918
@daixiang0 This is indeed a problem, we originally plan to  implement it in a new binary `edgectl` like IEF do.  But for now, such a small feature is best integrated into `keadm`, may we can split later if keadm become too fat.

[2020-07-13 09:01] fisherxu commented on #1918
In the short term, it's OK to do it in keadm first.

[2020-07-13 10:06] bluefriday commented on #1876
@GsssC
In case of ``` http://localhost:10350``` , I could get log, (but still not work in case of ```https://localhost:10350```).

Is there any guide or document about setting for kubectl edge log in KubeEdge v1.3.0+?

[2020-07-13 10:09] GsssC commented on #1876
@bluefriday https://github.com/kubeedge/kubeedge/pull/1914
May it help you.

[2020-07-13 11:17] fisherxu commented on #1562
/remove lifecycle/stale

[2020-07-13 12:29] Congrool opened #1927 "Deadline Setting Bug in WSConnection"
Hello, I'm reading the source of KubeEdge.
I saw the following code in the file `/kubeedge/staging/src/github.com/kubeedge/viaduct/pkg/conn/ws.go ` starting from line 177.
[code]
It looks strange to call function `SetReadDeadline` with argument `WriteDeadline`.
Does it mean `lane.SetWriteDeadline(conn.WriteDeadline)` here?

[2020-07-14 03:16] mxtsuper opened #1930 "keadm init error status 7"
**What happened**:
I tried to install cloudcore on the k8s master.
I input the command of "./keadm init ".
But I got error status 7

detail:
Error: exit status 7
Usage:
  keadm init [flags]

Examples:

keadm init

- This command will download and install the default version of KubeEdge cloud component

keadm init --kubeedge-version=1.2.1  --kube-config=/root/.kube/config

  - kube-config is the ab

[2020-07-14 10:04] #1905 closed

[2020-07-15 00:40] dingyin opened #1933 "Update upstream dependency to K8s 1.18"
**What would you like to be added/modified**:
Upstream K8s is 1.18, we need to update upstream dependency.

**Why is this needed**:
We need to update upstream dependency to avoid more issues when upgrade to 1.19 in the future.

[2020-07-15 02:24] daixiang0 commented on #1930
@mxtsuper you should use public ip to join cloudcore with `keadm`.

[2020-07-15 22:13] collinarnett commented on #1826
I would really like to know the answer to this issue. The documentation makes it seem deceptively simple to deploy KubeEdge using keadm but in reality I cannot get it working.

[2020-07-15 22:17] collinarnett commented on #1732
Same issue using 1.3.1

[2020-07-15 23:18] zzxgzgz commented on #1933
I updated k8s to 1.18.5, you can see it in my [repo's k8s_1.18.5 branch](https://github.com/zzxgzgz/kubeedge-1/tree/k8s_1.18.5).

However, when I run the keadm_e2e test, it failed with this error:
[code]

Full log is attached here:
[edgecore.log](https://github.com/kubeedge/kubeedge/files/4928486/edgecore.log)

Does anyone know how to fix this?

Thank you.

[2020-07-16 00:43] daixiang0 commented on #1933
@dingyin i would like to do it if possible.

[2020-07-16 06:12] daixiang0 commented on #1688
/close

[2020-07-16 06:12] #1688 closed

[2020-07-16 09:40] #1827 closed

[2020-07-18 12:23] dddddai opened #1941 "Add checksum validation"
https://github.com/kubeedge/kubeedge/blob/859f9b11ff5f95249cc38be676b083c3b7c29277/keadm/cmd/keadm/app/cmd/util/common.go#L332-L348

**What would you like to be added/modified**:
Add checksum validation of the downloaded file

**Why is this needed**:
As the `TODO` says, checksum check required to be added here, but it seems not yet.

[2020-07-18 12:32] #1941 closed

[2020-07-19 03:18] dddddai opened #1942 "The pod IP is none"
**What happened**:
![fcaefd56a3060731cffa7dabdccb52e7](https://user-images.githubusercontent.com/41563853/87866233-b7e73a00-c9b1-11ea-96d9-50a86c15b52e.png)

**What you expected to happen**:
The pod IP should be 192.168.1.11 becasue I set `hostNetwork: true`
![4bc6ce598f32ee7e71c3b1394ede522a](https://user-images.githubusercontent.com/41563853/87866239-cf262780-c9b1-11ea-903c-308afba72ff5.png)

**

[2020-07-19 03:32] dddddai commented on #1942
/cc @GsssC

[2020-07-19 04:10] GsssC commented on #1942
Thx for your contributing : ). Would u like to help figure out why?
may there are some errors in `func convertStatusToAPIStatus` at `edge/pkg/edged/edged_pods.go`

[2020-07-19 04:31] dddddai commented on #1942
Thank you very much, I would take a try.

[2020-07-19 15:21] #1808 closed

[2020-07-20 03:03] YoshieraHuang commented on #291
I works on the controlling of devices at large scientific instruments. There are already localized device controllers and i developed a remote device controlling service which is backed by k8s cluster. I want to extend the remote device controlling to local so i have to deploy edge nodes which interacts with main cluster and can also work offline. KubeEdge seems a promising solution and i am very

[2020-07-20 08:09] wzharies opened #1944 "keadm/README Link failed"
When clicking the link in the keadm/README, it points to an old link

[2020-07-20 08:18] dddddai opened #1947 "Optimize the code"
1. Should it use `RWMutex` instead of `Mutex` to avoid the contention between readings?
https://github.com/kubeedge/kubeedge/blob/5921a88695113f45cfda304072097caea80dd117/cloud/pkg/cloudstream/tunnelserver.go#L74-L79

2. It calls `Unlock()` twice,which seems redundant.
https://github.com/kubeedge/kubeedge/blob/2ca99daa5cb247858b28957992c288250fb63507/staging/src/github.com/kubeedge/viaduct/pkg/con

[2020-07-20 08:19] dddddai commented on #1947
/cc @GsssC

[2020-07-20 08:35] daixiang0 opened #1948 "Device configMap can not be re-created"
**What happened**:

When re-create a device crds, related configMap does not be created.

**What you expected to happen**:

Re-created as expected.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[2020-07-20 08:35] daixiang0 commented on #1948
/assign me

[2020-07-20 08:41] daixiang0 commented on #1947
It needs to dive deeper, since unlock twice would panic.

[2020-07-20 08:43] daixiang0 commented on #1942
Do you use 1.3.1 version? It works at my local env.

[2020-07-20 08:46] GsssC commented on #1947
@kadisi Whether the read scenario is much more than the write scenario and should we use `RWMutex`? why there are not func like `deleteSession`? : )

[2020-07-20 08:48] GsssC commented on #1947
@daixiang0 This func `WriteMessageSync` this function has never been referenced so this was not discovered before.
@dddddai thx for ur contribution, would like to submit a pr? : )

[2020-07-20 08:55] dddddai commented on #1947
Thank you, I have created a PR. If it's unnecessary to use `RWMutex`,I would revert the change.

[2020-07-20 09:33] dddddai commented on #1942
@daixiang0 Thank you very much, there should be some problems in my configuration,I tried to find errors in the log.

![D_SFRL`T)B9S N58MAOGLF1](https://user-images.githubusercontent.com/41563853/87921551-50161980-caad-11ea-9215-bac38daf7435.png)

The problem should be here because every time I use`kubectl get po -owide`,it creates a new error like this.
So now I am trying to solve this.

[2020-07-21 00:29] daixiang0 commented on #1942
You need to specify interface when join:
[code]

[2020-07-21 00:42] dddddai commented on #1942
@daixiang0 Thank you very much!  It works fine!

[2020-07-21 02:13] dddddai commented on #1942
Is it necessary to note this in
https://github.com/kubeedge/kubeedge/blob/master/docs/setup/keadm.md ?

[2020-07-21 03:06] fisherxu commented on #1947
@dddddai @GsssC  Agreed, we need to dig that how to deleteSession

[2020-07-21 03:26] #1944 closed

[2020-07-21 06:23] fisherxu commented on #1692
/close

[2020-07-21 06:23] #1692 closed

[2020-07-21 06:34] sailorvii opened #1953 "Refactor mapper modbus"
**What would you like to be added/modified**:
Refactor the code of mapper modbus.

**Why is this needed**:
This module is written by JS which is not aligned with other modules. It's better to be refactored to go language.

[2020-07-21 07:38] daixiang0 commented on #1948
Root cause is that instance refer to model, but we can create an instance refer to no-existed model successfully, then check condition is never triggered:
see https://github.com/kubeedge/kubeedge/blob/master/cloud/pkg/devicecontroller/controller/downstream.go#L231 and https://github.com/kubeedge/kubeedge/blob/master/cloud/pkg/devicecontroller/controller/downstream.go#L251.

[2020-07-21 07:44] liabio opened #1955 "The pod of the edge node is deleted,but container is not deleted. This is not necessarily appear"
**What happened**:
kubeedge version：1.3.0
kubernetes version: 1.17.3

I create a deployment, the number of instances is 1000, and the nodeSelector is specified as hostname: 402, 102 pods were Running and 898 pods were Pending which due to 402 host resource is insufficient. So I delete deployment resource. After a while, all pods were deleted. When I executed **docker ps | grep 0721** on host 402,

[2020-07-21 07:55] liabio commented on #1955
The following are the modifications I thought of:

1. UpdatePodStatus in Edged does not use the podStatusRemote returned by calling CRI to determine the container status; consider modifying this, that is, not directly assign Succeeded to phase field, but set by result of podStatusRemote;
2. Considering that the Delete Pod message sent to the cloudcore from egdecore may be lost, modify the processD

[2020-07-21 13:10] semihmuhtaroglu opened #1957 "Edge node is not joining into EKS Cluster"
**What happened**:

I deployed the cloud part into existing EKS cluster using below yaml.

[code]
And then tried to join the edge node into the cluster , log output from edgecore;

[code]

**What you expected to happen**:

Join the edge node

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`):
1.3.1
- EKS version: 1.16

[2020-07-21 14:08] Congrool opened #1958 "Inconsistent status between master and node"
**What happened**:
Master showed it that the status of node2 was `NotReady` and no pod was running.
However, the nginx was actually running in the background.
![image1-2020-07-21-21-35-40](https://user-images.githubusercontent.com/32788286/88061596-4ae2c880-cb9a-11ea-94ee-e268e2ed8dc8.png)

**What you expected to happen**:
I think it should be in one of the two situations:
1. Status of node2 is 'R

[2020-07-21 14:09] Congrool commented on #1958
Was it a bug here ?
Or just I used kubeedge in a wrong way?

[2020-07-22 01:36] Congrool commented on #1958
@GsssC

[2020-07-22 01:37] Congrool commented on #1927
@GsssC
Hello, is it a bug?

[2020-07-22 01:40] GsssC commented on #1958
@ls889

[2020-07-22 01:52] daixiang0 commented on #1958
KubeEdge runs autonomously, which means even disconnected from cloud side(k8s master node), the pod in edge side still running.
You exec delete cmd after disconnected from cloud, i think the cmd do not reach edge side so that nginx still run as well at edge side, it is not a bug, it is what we wanted.

[2020-07-22 01:53] GsssC commented on #1958
You are facing two anomalies
1. NotReady means connection between cloudcore and edgecore is broken,  `pod delete event` can not be sent to edge. So it is better to check **edge-log ,cloud-log,status of edgecore, status of cloudcore **to figure out why edge can not connect to cloudcore.

[2020-07-22 02:09] ls889 commented on #1958
hello, I see you have run `rm -rf ~/.kube`on the node, you should delete all ca and certificates in /etc/kubeedge/certs and /etc/kubeedge/ca on the edgenode
and then run
`kubectl delete secret casecret -nkubeedge`
`kubectl delete secret cloudcoresecret -nkubeedge`
restart cloudcore and edgecore
now keadm reset in v1.3.1 `can not` delete remaining certificates.

[2020-07-22 02:20] Congrool commented on #1958
@daixiang0 @GsssC @ls889
Thanks. I've learned a lot.

[2020-07-22 02:43] Congrool commented on #1958
@ls889
It connected to master successfully after using cmd as what you said.
Then, the new situation confuesd me.
![image1-2020-07-22-10-35-31](https://user-images.githubusercontent.com/32788286/88128087-c75fc080-cc07-11ea-9865-addc30e5444a.png)

The nginx is still running here.
Is it normal? How can i stop it?

[2020-07-22 02:59] GsssC commented on #1958
use `sqlite3 /var/lib/kubeedge/edgecore.db` to check if nginx pod is deleted in edge-store.

Ideally ,this pod will be delete by syncController

[2020-07-22 03:23] shuyanzhu opened #1959 "9.251.0.0/16是个公网网段，建议改成10.251（10代表10个月"
https://github.com/kubeedge/kubeedge/blob/6783e8a36a7ad42c49e4aac578dd927ed7040f94/pkg/apis/componentconfig/edgecore/v1alpha1/types.go#L30

[2020-07-22 03:31] larryck opened #1960 "keadm needs to have a option to set the cgroup driver"
**What happened**:
After I trying to add an edge node using keadm join command, edgecore failed to start. The log shows:
init new edged error, misconfiguration: kubelet cgroup driver: "cgroupfs" is different from docker cgroup driver: "systemd".
I found that docker use systemd and keadm try to use cgroupfs, that's the problem.

**What you expected to happen**:
We can add an option for keadm to set

[2020-07-22 04:13] larryck commented on #1960
It's the same as https://github.com/kubeedge/kubeedge/issues/1772.

I think kedadm needs to figure out the right cgroup driver before start edgecore.

[2020-07-22 05:14] Congrool commented on #1958
I checked edgecore.db, using ` select * from meta`.
I found nginx in it. Is it actually nginx run on the node?
![image2-2020-07-22-11-28-17](https://user-images.githubusercontent.com/32788286/88136618-3515e780-cc1c-11ea-929f-9e464fd3de7d.png)

I checked the log of edgecore.
It said nginx had already been deleted successfully.
![image2-2020-07-22-12-42-50](https://user-images.githubusercontent.com/

[2020-07-22 05:56] GsssC commented on #1958
@Congrool ,  your picture about edgecore.db shows the information about edgenode, also shows`nginx image` is on this node.I think you should use `select key,type from meta where type = "pod"` to check if nginx pod is deleted in edgecore.db
But niginx pod not being killed normally seems like #1955, we're trying to figure out why.

[2020-07-22 06:05] Congrool commented on #1958
@GsssC
Thank you for suggestion.
Actually, there's no pod in meta.

[2020-07-22 06:12] GsssC commented on #1958
@Congrool , so i think what you meet is bug #1955, need dig more deeper to know how to auto kill `deleted pod's container` like there

[2020-07-22 09:38] YaozhongZhang opened #1961 "shoud keadm install cloudcore and edgecore as systemd service?"
**What would you like to be added/modified**:
`cloudcore` and `edgecore` run as systemd service when `keadm init` and `keadm join`

**Why is this needed**:
Now we use `nohup ./cloudcore > cloudcore.log 2>&1 &` to run cloudcore and edgecore, if they was crashed, can not be restart automatically. Why not install them as systemd service when `keadm init` and `keadm join`, so they can be controlled an

[2020-07-22 09:44] kevin-wangzefeng commented on #1961
Edgecore should run as system service, but for cloudcore, running in K8s as containers/pods are more recommanded then system service

[2020-07-23 03:10] #1948 closed

[2020-07-23 15:11] liabio commented on #1955
There are a few screenshots below, I think it is very helpful to analyze the bug of orphan containers：

I created 1000 pods on the g402 node at 14:23:08, 102 pods Running, and 898 pods were pending status due to insufficient resources on the g402 node;
I deleted the deployment resource at 14:25:20. After a while, all pods were deleted, but some containers were not deleted.

![pods were deleted，con

[2020-07-23 15:14] liabio commented on #1955
@daixiang0

[2020-07-24 00:01] daixiang0 commented on #1955
Thanks for analysis, it worth optimization i think.

Could you provide a stable way about how to reproduce it? Then we can reproduce it at our env too.

If you would love to contribute, i recommend post a proposal about optimization plan first then do coding.

[2020-07-24 00:03] daixiang0 commented on #1959
Not sure about it, you can randomly ping ip in this range and you will get it unreachable.

[2020-07-24 00:04] daixiang0 commented on #1960
See this [comment](https://github.com/kubeedge/kubeedge/issues/1772#issuecomment-638108941).

[2020-07-24 01:15] #1961 closed

[2020-07-24 01:44] larryck commented on #1960
The difference is that kubeadm can handler systemd correctly but keadm ends up failure. For my server with docker and systemd as the default cgroup driver, the edgecore.yaml file generated by keadm has cgroupDriver: cgroupfs attribute which cause the error above.  But for kubeadm, everything works fine.

[2020-07-24 02:04] daixiang0 commented on #1960
It would be better to dive deep about it, feel free to file a pr first to add option if you want.

[2020-07-24 02:11] MNTMDEV opened #1967 "A solution for network error when executing "keadm init""
**What would you like to be added/modified**:
Append a command parameter `--down-source` to specify an available download source when executing "keadm init".
I means changing `KubeEdgeCRDDownloadURL` to a variable.

**Why is this needed**:
When executing "keadm init",an error occurs due to network error.

F0724 10:07:36.343995    9709 keadm.go:27] failed to run 'sh -c cd /etc/kubeedge/crds/devices

[2020-07-24 05:48] bluefriday commented on #1876
@GsssC Thanks for your help.
With your link(#1914) and guides(https://github.com/kubeedge/kubeedge/blob/release-1.3/docs/setup/kubeedge_install_source.md), I created a stream crt/key and setup iptables config.
However, the kubectl logs command still doesn't work. (show 'An internal error' message)

I want to know what crt and key are needed at the below edgecore.yaml
[code]

[2020-07-24 05:53] Congrool commented on #1927
@GsssC
Hello, is it a bug?

[2020-07-24 06:27] larryck commented on #572
Do we have any updates on this issue?  I agree edge system need to tolerate long-term offline.

[2020-07-24 08:14] #1591 closed

[2020-07-24 09:05] qingcai594 opened #1968 "端侧上报连续温度值数据丢失的问题"
1.1 端侧MQTT上报连续温度值数据，EdgeCore发生故障后恢复，故障期间的数据会丢失。主要原因是mosquitto没有对收到的数据进行缓存。测试客户端MQTT发布数据设Qos=0（最多分发一次）和Qos=1（至少分发一次）条件下mosquitto都没有缓存。
1.2 端侧MQTT上报连续温度值数据，CloudCore发生故障后恢复，故障期间数据丢失。丢失原因分析：dealSendToCloud时判断WebSocker连接状态，如果连接断开了就直接报错返回了，如下代码：
if strings.Compare(context.State, dtcommon.Disconnected) == 0 {
	klog.Infof("Disconnected with cloud, not send msg to cloud")
	return nil, nil
}
合理的做法应该是放在重传队列

[2020-07-24 09:08] qingcai594 opened #1969 "重传机制存在BUG"
4.2.1 通过日志打印发现Edge没有执行dealConfirm函数，ConfirmMap中的元素没有移出，是因为Cloud没有发送确认消息，导致ConfirmMap没有移出已经发送的消息，重传定时器每60秒扫描ConfirmMap时，会重复发送消息。
4.2.2 存在多线程(插入线程和定时扫描线程)操作ConfirmMap，插入Map时机和定时器扫描时机碰撞，从而引起同一个消息被重复发送。
4.2.3 ConfirmMap队列中所有消息共享60秒周期定时器，存在确认消息未到来之前消息会被重传。
对于4.2.2和4.2.3的问题，解决方案为重传消息增加入队

[2020-07-24 09:24] daixiang0 commented on #1969
Good catch! Welcome pr!

[2020-07-24 09:42] qingcai594 commented on #1969
对于4.2.2和4.2.3的问题，为重传消息增加入队时间戳，定时器扫描时，只有当前时间戳-入队时间戳>重传周期的消息才重传。

[2020-07-24 09:47] tanHeXiang opened #1971 "“ ./keadm gettoken”output bug"
Now, the output of the cmd "./keadm gettoken” looks like that
![bug2 PNG](https://user-images.githubusercontent.com/48286999/88379077-d8116180-cdd4-11ea-83fc-21dba8315450.jpg)
The "[root@new keadm]#"marked by red lines should begin in a new line. The output now looks strange and i think maybe we should fix it.

[2020-07-24 09:49] fisherxu commented on #1971
@tanHeXiang Thanks for pointing out, the issue has been fix by #1965, ptal :)

[2020-07-24 10:00] fisherxu commented on #1971
/close

[2020-07-24 10:00] #1971 closed

[2020-07-24 10:24] larryck commented on #1236
Support emptydir/hostpath/csi.

[2020-07-24 11:20] Congrool opened #1972 "Wrong Container Runtime Type in Display"
**What happened**
On cloud side, using `kubectl get node -o wide` will see the container-runtime is `remote://18.6.1` while the runtimeType in edgecore.yaml is `docker`.
![image1-2020-07-24-19-01-18](https://user-images.githubusercontent.com/32788286/88385027-2d9f3b80-cde0-11ea-883e-e323587e07f4.png)
![image2-2020-07-24-19-02-19](https://user-images.githubusercontent.com/32788286/88385124-5c1d1680

[2020-07-24 12:09] ESWZY opened #1973 "Docker container not killed after `keadm reset`"
**What happened**:

Hi!

In sometimes, I lost the connection between cloud and edge (restart my virtual machines). So I have to rejoin to the cloud by `keadm join`, after running `keadm reset`.

After several times, I found there are some old containers still running, even if I just executed `keadm reset`:

![docker ps](https://user-images.githubusercontent.com/32200887/88386103-47da1900-cde2-11ea

[2020-07-24 12:30] ESWZY commented on #1973
/question

[2020-07-24 12:31] ESWZY commented on #1973
/label question

[2020-07-24 12:46] fisherxu commented on #1973
I think we need to clear the containers created by edgecore, welcome the pr :) @ESWZY

[2020-07-24 13:19] Congrool commented on #1972
@GsssC

[2020-07-24 13:29] GsssC commented on #1972
Could u submit a Pr to fix it ? :) thx

[2020-07-24 13:55] Congrool opened #1974 "An improvement when waiting for other goroutines"
I see the following code in edgehub which used to wait other goroutines to return.
It simply uses `sleep()`  to wait other goroutines to return.
I don't think it's wise to work in this way, because which goroutine to run is up to the scheduler, and no assumption should be made in advance.
In the function `start()`, it runs 3 goroutines each loop, called `routeToEdge`, `routeToCloud` and `keepalive

[2020-07-24 13:56] Congrool commented on #1972
Sure, I'd like to. :-)

[2020-07-24 13:58] Congrool commented on #1974
@GsssC

[2020-07-24 16:06] GsssC commented on #1974
👍 ，may we could pass contexts for such three functions，call context.done() if reconnecting

[2020-07-24 16:10] GsssC commented on #1927
Sure

[2020-07-24 23:45] dingyin opened #1977 ""make lint" needs to work in Mac"
**What would you like to be added/modified**:
"make lint" currently does not work in Mac. It needs to work in Mac for better developer experience

**Why is this needed**:
Better developer experience,  as a lot of developers use Mac

[2020-07-25 02:22] MNTMDEV commented on #1967
@rainvin83 The reason is that the file has been renamed.The new name of this yaml file is devices_v1alpha2_device.yaml

[2020-07-25 02:33] MNTMDEV commented on #1967
I think there is also a bug because of [upgrading device api from v1alpha1 to v1alpha2](https://github.com/kubeedge/kubeedge/commit/27091d1d8cccd953e12ce262145e8f078dea0516).We need to download devices_v1alpha2_device.yaml while the keadm still downloads devices_v1alpha1_device.yaml.

[2020-07-25 02:48] MNTMDEV opened #1979 "Bug caused by v1alpha2 upgrade"
**What happened**:
Several days ago, I successfully executed "keadm init".
Yesterday,I runned "keadm init".It reports  404 error.

**What you expected to happen**:
"keadm init" should have downloaded the correct yaml file just like several days ago.

**How to reproduce it (as minimally and precisely as possible)**:
tar -zxvf keadm-v1.3.1-linux-amd64.tar.gz
cd keadm-v1.3.1-linux-amd64/keadm
mv kead

[2020-07-25 02:49] daixiang0 opened #1980 "edgecore default config has unreadable char"
**What happened**:
With master HEAD:
[code]

**What you expected to happen**:

No unreadable char.

[2020-07-25 02:54] MNTMDEV commented on #1967
I have created a new issue. #1979

[2020-07-25 03:06] MNTMDEV commented on #1979
@GsssC

[2020-07-25 03:09] daixiang0 commented on #1979
Fix by https://github.com/kubeedge/kubeedge/pull/1975

[2020-07-25 03:10] daixiang0 commented on #1979
/close

[2020-07-25 04:33] ccjjxx99 opened #1987 "Error: exit status 35"
**What happened**:
On edge node, sometimes when I use "keadm reset" and  then I use "keadm join",  the error occurred. When I search "exit status 35" in a search engine, I can not get any useful information;

**What you expected to happen**:
I want to get some useful information to tell me what should I do.

**How to reproduce it (as minimally and precisely as possible)**:
Sometimes when I use "ke

[2020-07-25 06:55] ESWZY commented on #1973
Hi!

I added a mechanism to clean containers after reset action. The example is as below.

For edge node, it cleaned all containers beacuse there is no service here:

![edgenode reset](https://user-images.githubusercontent.com/32200887/88450940-6c3b0180-ce85-11ea-8bf3-5600b0eb3fdb.png)

For cloud node, it cleaned all containers. But there are still containers running because k8s service still runn

[2020-07-25 06:58] ESWZY commented on #1973
/cc @GsssC

[2020-07-25 07:11] BaldStrong commented on #1987
+1
Facing the same issue on Centos 7

[2020-07-25 07:44] daixiang0 commented on #1987
Based on exit code, it is not same issue.

Sorry that we have not a good solution about network issue, maybe you can download it with proxy.

[2020-07-25 07:51] BaldStrong commented on #1987
But return 404: Not Found when I visit https://raw.githubusercontent.com/kubeedge/kubeedge/master/build/crds/devices/devices_v1alpha1_devicemodel.yaml directly.

[2020-07-25 07:57] daixiang0 commented on #1987
It has been fixed by #1979, before post an issue, maybe you can search existed issues first.

[2020-07-25 07:58] daixiang0 commented on #1979
/reopen

[2020-07-25 08:00] BaldStrong commented on #1987
Thanks. I just found out that it's the version of v1alpha1.

[2020-07-25 08:33] #1972 closed

[2020-07-25 09:05] GsssC commented on #1973
@ESWZY some of these containers are important for kubernetes cluster runing well, and will be always restarted by kubelet, also call it staticPods. For containers, we should only delete k8s-container on edgenode, and do noting when 'keadm reset` called in cloud.

[2020-07-25 09:10] ESWZY commented on #1973
It makes sence! Thank you!

[2020-07-25 09:26] ccjjxx99 commented on #1987
Let me add some pictures
This is cloud node:
![image](https://user-images.githubusercontent.com/32434705/88453629-4ae51000-ce9b-11ea-944f-b288b6e34c9c.png)
This is edge node:
![image](https://user-images.githubusercontent.com/32434705/88453652-7ff16280-ce9b-11ea-9b51-0e65a04a904b.png)
![image](https://user-images.githubusercontent.com/32434705/88453657-8f70ab80-ce9b-11ea-8c3c-41fa431c2859.png)

It

[2020-07-25 10:21] MNTMDEV opened #1990 "keadm unable to install system service of cloudcore and edgecore"
**What would you like to be added/modified**:
We need to support installing the system service of cloudcore in master node and edgecore in edge node.
**Why is this needed**:
When we restart the system,cloudcore and edgecore can't automatically restart.

[2020-07-25 10:36] ESWZY opened #1992 "Enhancement: add confirmation prompt when reset"
**What would you like to be added/modified**:

Now, when we excute `keadm reset`, it will exit directly, without any confirmation prompt. Maybe we need a step for that.

**Why is this needed**:

To avoid a wrong input, or other reason not really want to reset, we need an intermediate step for confirmation. And it is also a best practice when we want to close or exit something.

For anyone who want

[2020-07-25 10:43] ESWZY commented on #1992
/good-first-issue

[2020-07-25 10:54] #1990 closed

[2020-07-25 11:56] Exgc opened #1993 "nginx pod is always pending after creating"
**What happened**:
- nginx pod is always pending after creating.

**What you expected to happen**:
- Nginx successfully deployed

**Anything else we need to know?**:
edgecore.yaml:

database:
  aliasName: default
  dataSource: /var/lib/kubeedge/edgecore.db
  driverName: sqlite3
kind: EdgeCore
modules:
  dbTest:
    enable: false
  deviceTwin:
    enable: true
  edgeHub:
    enable: true
    heartb

[2020-07-25 12:25] sunyuhan19981208 opened #1994 "When I add an edge to cloud,error occurs and reports[fail to signCerts! error:unable to ParseECPrivateKey: x509: failed to parse private key (use ParsePKCS1PrivateKey instead for this key format)]"
**What happened**:
the edge is successfully join to the cloud by using "./keadm join --cloudcore-ipport=:10000 --token=" sentence,but error occurs when I use "edgecore" to add an edge end to the cloud end,error occurs and reports[fail to signCerts! error:unable to ParseECPrivateKey: x509: failed to parse private key (use ParsePKCS1PrivateKey instead for this key format)]

**What you expected to ha

[2020-07-25 12:39] GsssC commented on #1987
@daixiang0 Dose **exit status 35** means ssl handshake error?

[2020-07-25 12:42] GsssC commented on #1987
@ccjjxx99 It is hard to find a solution by **exit status 35**

Maybe u cloud check edgecore.log for more details

[2020-07-25 12:59] Exgc opened #1995 "keadm join failed when it is interrupted last time"
**What happened**:
- can not join when it has been interrupted before when join

**What you expected to happen**:
- Increase repeatability

**How to reproduce it (as minimally and precisely as possible)**:
- ctrl+c when downloading from github
`keadm join`

install MQTT service successfully.
--2020-07-25 03:05:05--  https://github.com/kubeedge/kubeedge/releases/download/v1.3.1/kubeedge-v1.3.1-linu

[2020-07-25 13:51] sunyuhan19981208 commented on #1994
if i dont use keadm,other error will happen:Error: failed to get CA certificate, err: Get https://192.168.217.102:10002/ca.crt: dial tcp 192.168.217.102:10002: connect: connection refused
but my port is open:
[root@new ~]# netstat -nlp|grep 10002
tcp6       0      0 :::10002                :::*                    LISTEN      1756/cloudcore

[2020-07-25 15:39] GsssC commented on #1994
@XJangel @ls889 May need your help :)

[2020-07-25 15:48] GsssC commented on #1994
When you use `keadm join` at edgenode, is cloudcore process running well, or firewall is up?

[2020-07-25 15:59] sunyuhan19981208 commented on #1994
the cloudcore is running well,the fire wall is closed and i can add  an k8s node to this master node,but when it comes to add an edge node to the cloud node,error occurs , there're more other people meet this problem under this [blog](blog:https://blog.csdn.net/zhh2005757/article/details/107072717),and i just follow this blog and meet this trouble

[2020-07-26 01:48] XJangel commented on #1994
Did u run cloudcore before? I guess the esidual certificate results in this error.Delete the certificates in the node of cloudcore if there are(/etc/kubeedge/ca  /etc/kubeedge/certs). 'kubectl delete ns cloudcore', run this command then start cloudcore and edgecore again to see if eveything goes well.

[2020-07-26 05:15] sunyuhan19981208 commented on #1994
i did that and there are the same error,then i start a new virtual machine but i still cant use`keadm init --advertise-address="THE-EXPOSED-IP"` .Because when i run it, an ERROR comes that the resouce `https://raw.githubusercontent.com/kubeedge/kubeedge/master/build/crds/devices/devices_v1alpha1_device.yaml` is not found,so i choose another way to build cloudcore without using  keadm---follow this

[2020-07-26 05:32] GsssC commented on #1994
Same as this issue #1979

[2020-07-26 05:37] sunyuhan19981208 commented on #1994
yes ,but i tried another way to build cloudcore and then met the errors above and i still cant use keadm to init the cloudcore now

[2020-07-26 05:50] GsssC commented on #1994
It is confusing. Have you ever started cloudcore well?

[2020-07-26 06:03] sunyuhan19981208 commented on #1994
i can get token by `./keadm gettoken`,and can get the version of cloudcore, and can use`./keadm join --cloudcore-ipport=<ip>:10000 --token=<token>
` to join an edgecore to the cloudcore,after i type join sentence it shows running,but when i started edgecore,the error i mentioned at first occurs,it says that there may be some wrong with my certs

[2020-07-26 06:08] GsssC commented on #1994
@sunyuhan19981208 could u contact me with **DingTalk** : )

[2020-07-26 14:57] tangyanhan opened #1996 "Cloudcore HA deployment files not updated"
**What would you like to be added/modified**:

Kubernetes files seems out of date. Users may ran into several issues when deploying cloudcore in HA mode.

**Why is this needed**:

I got several issues while using `build/cloud/ha` to deploy multiple cloudcore to k8s cluster:

* Fails to create namespace 'kubeedge'
* Faisl to patch `pod/status`
* Certificates generated via `build/tools/certgen.sh` l

[2020-07-27 00:58] daixiang0 commented on #1993
I think it may related to dirty env, please clean all containers and data then re-test to ensure it runs well with clean env.

[2020-07-27 01:01] daixiang0 commented on #1992
Yep, also add `--force` to support without prompting.

[2020-07-27 01:02] daixiang0 commented on #1992
/assign @daixiang0

[2020-07-27 01:16] daixiang0 commented on #1994
In my env, can not reproduce, so the reproduction still need more details.

[2020-07-27 01:19] daixiang0 commented on #1987
@ccjjxx99 i recommend that you rebase #1935 at local then do test, it would return details about error.

@GsssC based on [this doc](https://curl.haxx.se/libcurl/c/libcurl-errors.html), yes.

[2020-07-27 01:55] luogangyi commented on #1994
see  https://github.com/kubeedge/kubeedge/issues/1714
I think you use x509 files generated in kubeedge-v1.2.
you can try to remove /etc/kubeedge/ca and /etc/kubeedge/certs both cloud and edge side, delete all secreat in kubeedge ns of K8S.
Then, restart cloudcore, configure edgecore's token and restart edgecore

[2020-07-27 01:58] larryck commented on #1960
Sounds good.

[2020-07-27 02:00] luogangyi commented on #1959
see http://en.utrace.de/ip-address/9.251.0.14
It seems "9.251.0.0/16" belongs to IBM

[2020-07-27 02:09] shuyanzhu commented on #1959
？？？这是一个学过计算机网络的人该说的话吗
??? Is this what a person who has studied computer networks should say

[2020-07-27 02:19] daixiang0 commented on #1959
welcome pr :)

[2020-07-27 02:39] sunyuhan19981208 commented on #1994
I think it is because i created ca and cert by using `bash certgen.sh` in directory "tools"

[2020-07-27 03:03] larryck commented on #1599
@kevin-wangzefeng hello, this feature will be greatly useful for me. What's the status of it? Will it be available by the next release?

[2020-07-27 05:59] sunyuhan19981208 commented on #1994
thanks a lot,you are right,i start a new virtual machine and generate cloudcore without create these ca&cert directly run cloudcore,and then i successfully add an edgecore to the cloudcore
![image](https://user-images.githubusercontent.com/50269851/88508406-535f5700-d011-11ea-9f86-a0482a630ae2.png)

[2020-07-27 09:12] ibnipun10 commented on #291
HI,

I have a use case in my company and here are the requirements
1) Capture IP camera video in a container
2) Run DL model on captured video in another container
3) Showcase DL output to the monitor on another container
4) Send faulty images identified by the DL to the cloud
5) Have telematics data to be send to the cloud
6) Machines sending telematics data at a certain frequencies ( 1s ) to the

[2020-07-27 09:32] #1927 closed

[2020-07-28 01:45] GsssC commented on #1994
/close

[2020-07-28 01:45] #1994 closed

[2020-07-28 01:53] GsssC commented on #1974
Hey handsome guy, wolud like to submit a pr to improve it? : )

Of course, it none of ZJU summer camp.

[2020-07-28 02:30] #1979 closed

[2020-07-28 05:37] Congrool commented on #1974
Sure, I'd like to. But, it will take some time.

[2020-07-28 07:58] coderkk commented on #1995
Try go to /etc/kubeedge/ to remove the files?

[2020-07-28 09:13] mxtsuper opened #2004 "Error: EdgeMesh listens udp IP, which is already used by edgecore"
**What happened**:
Hello

I installed the cloudcore and edgecore.
I found an error in the edge logs:
[EdgeMesh] dns server listen on 172.17.0.1:53 error: listen udp 172.17.0.1:53: bind: address already in use.

Then I got the IP was used by the edgecore.
netstat -ntulp |grep 53
udp        0      0 172.17.0.1:53           0.0.0.0:*                           34268/edgecore

**What you expected to ha

[2020-07-29 01:49] shenkonghui opened #2006 "make test failed: can't load package: named files must be .go files:xxx"
**Which jobs are failing**:
unit test
**Which test(s) are failing**:
make test
**Since when has it been failing**:
make test
**Reason for failure**:
when I add a unit test. Has nothing to do with the following path
[code]
**Anything else we need to know**:
I find the the reason in  hack/lib/golang.sh  kubeedge::golang::get_keadm_test_dirs()
when I try  to perform this step, not only get the direct

[2020-07-29 02:22] daixiang0 commented on #2006
The issue title is so confused util i see the details.

I think it is not a failing-test, it is related to how you add a test case or test file indeed.

So, you shoulmay fille how you add test case/file, rather than writing `make test` in each description.

[2020-07-29 02:27] daixiang0 commented on #2004
I am sorry that it does not mean EdgeMesh use edgecore listen, please check your CentOS vm, you may find a service which listen on 53 port, that is the root cause.

[2020-07-29 02:37] shenkonghui commented on #2006
ok, I only add one unit test, in `./keadm/cmd/keadm/app/cmd/debug/collect_test.go`
[code]

when I make test it is failed, i try to remove this unit test. it is successful

I print  `${KUBEEDGE_ALL_TESTCASES[@]}` in kubeedge::golang::run_test, and find this unit test can not get dir and get go file.
[code]

Finally positioned  cmd `find -L ./keadm \
    -name '*_test.go' -print | xargs -0n1 dirname

[2020-07-29 02:59] shenkonghui commented on #2006
Try to modify it and try it, no ` -0`  is normal, I’m not sure why  added `-0`
[code]

[2020-07-29 03:43] vhuang0501 opened #2008 "arm环境node-exporter启动失败"
云端是amd，edge端是arm，现在启edge端的时候状态是ready了，但是POD_node-exporter起不来，log报的"exec format error",查看镜像信息prom/node-exporter是"Architecture": "arm"，kubeedge/pause的信息"Architecture": "amd64",
这种情况应该怎么处理

[2020-07-29 05:32] #2008 closed

[2020-07-30 02:16] zhangyyun commented on #1854
currently i'm trying hard to figure out edgemesh's role as a proxy server, is it meant to be a role of kube-proxy?

for example，if a pod is launched by k8s, it will be injected with some environment variables such as KUBERNETES_PORT, which then can be used to talk with api-server. As with kubeedge, edgemesh can alloc virtual ips for services, with the help of iptables, then proxies requests to the

[2020-07-30 02:24] zhangyyun commented on #1854
After referring to edgemesh's docs, it gives us a case where client can talk with a service on another edge, also does it mean edges must be in the same LAN??? I can't believe it, edges should usually be seprated with each other, RIGHT?

[2020-07-30 02:26] daixiang0 commented on #1854
EdgeMesh does not talk to api-server, it works more than kube-proxy does, it also works as a DNS server.

Multi LAN support is stil in plan, and please take a look at related proposal, let's do it step by step :)

[2020-07-30 02:34] sailorvii commented on #1968
1. In kubeedge project, the mqtt server is using memory as the storage currently. So the message will lose the messages after restarting/rebooting.
2. Yes, it's a choice to store some messages. However, discarding the old messages when losing connection is also reasonable.

[2020-07-30 02:56] zhangyyun commented on #1854
ok, thanks for the quick answer, it helps a lot.
Of course, edgemesh does not talk to api-server, it proxies requests. If a pod needs to talk with api-server, edgemesh can proxy it, that's what i mean.
I setup a kubernetes cluster and use calico as a cni plugin. I'm not a expert in k8s btw, after setup of the kubeedge part, I found calico init container failed on the node edgecore registered. belo

[2020-07-30 03:12] zhangyyun commented on #1854
To make it clear, I don't need a edge to be able to talk with another edge, but i do need a edge pod talk with a cloud pod on the service plane, should i rely on calico to make edge pods think they are in the same subnet with the cloud pod?

[2020-07-30 03:13] daixiang0 commented on #1854
CNI support is still in process too :)

[2020-07-30 03:42] sailorvii commented on #1969
I'd like to work on this issue: add a timestamp for each message and compare it when resending.

[2020-07-30 09:06] luogangyi opened #2013 "extend device property types"
**What would you like to be added/modified**:
Extend property types in device model, including Double, Float, Boolean and Bytes.

**Why is this needed**:
Currently,  property types only support "int" and "string". It is not enough to describe basic types like float and bool.

[2020-07-30 09:06] luogangyi commented on #2013
/assign

[2020-07-30 10:04] qingcai594 opened #2015 "Kubeedge‘s message is unreliable. Cloudcore is no retransmission mechanism 。"
Kubeedge‘s message is unreliable. Cloudcore  is no retransmission mechanism 。

If the edge node net status was unstable, i used kubectl create a device, kubectl tell me "device.devices.kubeedge.io/a073003 created"，but the edge node has’t the device.

I0730 10:03:13.392661   29045 process.go:282] DeviceTwin receive msg
I0730 10:03:13.392705   29045 process.go:198] classify the msg with the topic $h

[2020-07-31 03:29] #1824 closed

[2020-07-31 03:49] kevin-wangzefeng commented on #2015
Thanks for you report, device management is alpha feature and keeps being enhanced during recent releases.
Please feel free to join [SIG Device IOT](https://kubeedge.slack.com/archives/C01239D6PM4) discussions and development to help moving forward.

/cc @fisherxu @luogangyi

[2020-07-31 07:15] marco-porru opened #2017 "Single (standalone) machine support"
Hi team,
I know that the kubeedge architecture is ketween a k8s (or better kubeedge) server that exposes the APIs and a client (node) part.
I just have a raspberry pi and I don't have the possibility (due to the used infrastructure) to setup a server part "in the cloud".

Is there the possibility to run it standalone into the raspberry, without the server part in the cloud?
What I mean is: can I u

[2020-07-31 08:45] mxtsuper commented on #2004
Hello daixiang0
1. I checked the port. There is only one progress.  The server is installed with centos only.
netstat -ntulp |grep 53
udp 0 0 172.17.0.1:53 0.0.0.0:* 34268/edgecore

2. I tried to kill the 34268 progress. Then I found the websocket connection was down.
I guess some edgecore progress is using the Port 53. So there are some conflicts with EdgeMesh.

Could you please check whether the

[2020-07-31 13:23] Congrool commented on #1974
Hello, is it better to use `WaitGroup`?

[2020-07-31 13:33] Congrool commented on #1974
Oh, I'm afraid that it's not a good idea.
Using `context` can close goroutines in a async way without wating for a uncertain time.

[2020-08-01 03:38] loongify opened #2018 "goroutine leak"
**What happened**:
The edge side will happen goroutine leak when the edgecore is often disconnected from the cloudhub communication

**What you expected to happen**:
When the edgecore is disconnected from the cloudhub, and edge side's connection will reconnection, but it not close fifo's channel, and it will cause  goroutine leak

**How to reproduce it (as minimally and precisely as possible)**:
D

[2020-08-03 02:04] #2013 closed

[2020-08-03 02:04] daixiang0 commented on #2017
See edgesite.

[2020-08-03 02:07] GsssC commented on #1974
@Congrool yes, connection break timing is not certain, context is a good way to close son gorutines(in logic).

[2020-08-03 04:39] luogangyi commented on #2015
@qingcai594 which version of kubeedge are you using?
And, could you please upload logs of edgecore either?

[2020-08-03 07:02] qingcai594 commented on #2015
I use KubeEdge version 1.3.1。
This problem is easy to reproduce，1.Disconnected the edgecore 2.Used kubectl create a device and then run edgecore  3.Used the example temperature-mapper testing。

[2020-08-03 08:29] #1977 closed

[2020-08-03 08:45] #2018 closed

[2020-08-03 09:21] yushanjin opened #2022 "On edge node, again keadm join fail after keadm reset because of Kube-proxy process exists"
**What happened**:
On edge node, again keadm join fail after keadm reset because of Kube-proxy process exists
**What you expected to happen**:
return "Kube-proxy should not running on edge node when running edgecore" after keadm join, should not retrun "KubeEdge edgecore is running, For logs visit:  /var/log/kubeedge/edgecore.log"

**How to reproduce it (as minimally and precisely as possible)**:

[2020-08-03 10:01] GsssC commented on #2022
use `docker rm KUBEPROXY_CONTAINER` manually.
This is because kubeproxy daemonset will auto deploy kubeproxy to edgenode.
[code]

[2020-08-03 10:47] yushanjin commented on #2022
yes, I know need to delete kube-proxy process before execute keadm join again. I know this by /var/log/kubeedge/edgecore.log, but the treminal prints are all normal. So, I think it's unresonable

[2020-08-03 10:59] yushanjin opened #2023 "edgecore process panic after I deploy a service to edge node"
**What happened**:
edgecore process panic after I deploy edgex service by helm to edge node

**What you expected to happen**:
edgecore process should not panic

**How to reproduce it (as minimally and precisely as possible)**:

![image](https://user-images.githubusercontent.com/12782056/89175959-4fa47500-d5bb-11ea-9759-efdc7ecede29.png)

from edgecore.log
![image](https://user-images.githubusercon

[2020-08-03 11:12] #2023 closed

[2020-08-04 02:06] GsssC commented on #2022
I also think it is confusing for users why **edgecore is crashing when keadm join shows all is ok**.

`keadm check` is under development for **checking installation enviroment**, plz wait some time : ) .

[2020-08-04 02:19] GsssC commented on #2017
Hi bro : )
KubeEdge is a kind of operater for k8s cluster. So it is necessary to deploy a k8s master node first for deploying KubeEdge. As far as I know, raspberry is too week to deploy a k8s master node as well as KubeEdge's cloudcore and edgecore at a same time.

I suggest that u could bug a ECS to deploy a k8s master node and cloudcore, and use raspberry as a edgenode to connected it to cloud a

[2020-08-04 03:24] #1980 closed

[2020-08-04 08:04] #1320 closed

[2020-08-04 08:04] #1329 closed

[2020-08-04 08:04] #1318 closed

[2020-08-04 08:04] #1359 closed

[2020-08-04 08:04] #1287 closed

[2020-08-04 08:04] #1317 closed

[2020-08-04 08:04] #1367 closed

[2020-08-04 08:04] #1369 closed

[2020-08-04 08:04] #1377 closed

[2020-08-04 08:04] #1382 closed

[2020-08-04 08:04] #1403 closed

[2020-08-04 08:04] #1345 closed

[2020-08-04 08:04] #1430 closed

[2020-08-04 08:04] #1374 closed

[2020-08-04 08:04] #416 closed

[2020-08-04 08:04] #1408 closed

[2020-08-04 08:04] #944 closed

[2020-08-04 08:04] #1502 closed

[2020-08-04 08:04] #1520 closed

[2020-08-04 08:04] #1068 closed

[2020-08-04 09:08] #1933 closed

[2020-08-04 10:11] #469 closed

[2020-08-04 10:11] #696 closed

[2020-08-04 10:11] #900 closed

[2020-08-04 10:11] #872 closed

[2020-08-04 10:11] #1015 closed

[2020-08-04 10:11] #949 closed

[2020-08-04 10:11] #1102 closed

[2020-08-04 10:11] #1076 closed

[2020-08-04 10:11] #1023 closed

[2020-08-04 10:11] #867 closed

[2020-08-04 10:11] #1029 closed

[2020-08-04 10:11] #1127 closed

[2020-08-04 10:11] #1131 closed

[2020-08-04 10:11] #1120 closed

[2020-08-04 10:11] #1126 closed

[2020-08-04 10:11] #1150 closed

[2020-08-04 10:11] #1147 closed

[2020-08-04 10:11] #327 closed

[2020-08-04 10:11] #488 closed

[2020-08-04 10:11] #482 closed

[2020-08-04 10:11] #807 closed

[2020-08-04 10:11] #779 closed

[2020-08-04 10:11] #827 closed

[2020-08-04 10:11] #1092 closed

[2020-08-04 10:11] #1149 closed

[2020-08-04 10:11] #522 closed

[2020-08-04 10:11] #826 closed

[2020-08-04 10:11] #1101 closed

[2020-08-04 10:11] #1161 closed

[2020-08-04 11:11] #28 closed

[2020-08-04 11:11] #405 closed

[2020-08-04 11:11] #852 closed

[2020-08-04 11:11] #232 closed

[2020-08-04 11:11] #673 closed

[2020-08-04 11:11] #907 closed

[2020-08-04 11:11] #517 closed

[2020-08-04 11:11] #724 closed

[2020-08-04 11:11] #874 closed

[2020-08-04 11:11] #906 closed

[2020-08-04 11:11] #959 closed

[2020-08-04 11:11] #975 closed

[2020-08-04 11:11] #927 closed

[2020-08-04 11:11] #265 closed

[2020-08-04 11:11] #1001 closed

[2020-08-04 11:11] #991 closed

[2020-08-04 11:11] #1061 closed

[2020-08-04 11:11] #1062 closed

[2020-08-04 11:11] #943 closed

[2020-08-04 11:11] #1107 closed

[2020-08-04 11:11] #1115 closed

[2020-08-04 11:11] #241 closed

[2020-08-04 11:11] #556 closed

[2020-08-04 11:11] #399 closed

[2020-08-04 11:11] #951 closed

[2020-08-04 11:11] #1166 closed

[2020-08-04 11:11] #1170 closed

[2020-08-04 11:11] #897 closed

[2020-08-04 11:11] #963 closed

[2020-08-04 11:11] #843 closed

[2020-08-04 12:12] pkalincat opened #2026 "EdgeSite is keep failing at "register node" event"
**What happened**:
EdgeSite is keep failing on registration node event. After build EdgeSite from master branch I'am not able to register node in master server.

[code]

There is also problem with other modules like EdgeMesh:

[code]

EdgeSite documentation page is outdated, there is reference to modify edgeSite.yaml configuration file but that file I can find in version v1.0.0, on master branch t

[2020-08-04 12:38] #168 closed

[2020-08-04 12:38] #343 closed

[2020-08-04 12:38] #339 closed

[2020-08-04 12:38] #190 closed

[2020-08-04 12:38] #457 closed

[2020-08-04 12:38] #484 closed

[2020-08-04 12:38] #451 closed

[2020-08-04 12:38] #630 closed

[2020-08-04 12:38] #613 closed

[2020-08-04 12:38] #483 closed

[2020-08-04 12:38] #315 closed

[2020-08-04 12:38] #700 closed

[2020-08-04 12:38] #692 closed

[2020-08-04 12:38] #182 closed

[2020-08-04 12:38] #1182 closed

[2020-08-04 12:38] #1181 closed

[2020-08-04 12:38] #1191 closed

[2020-08-04 12:38] #1192 closed

[2020-08-04 12:38] #1221 closed

[2020-08-04 12:38] #1220 closed

[2020-08-04 12:38] #1231 closed

[2020-08-04 12:39] #1235 closed

[2020-08-04 12:39] #1125 closed

[2020-08-04 12:39] #1244 closed

[2020-08-04 12:39] #1241 closed

[2020-08-04 12:39] #1246 closed

[2020-08-04 12:39] #1254 closed

[2020-08-04 12:39] #646 closed

[2020-08-04 12:39] #1242 closed

[2020-08-04 12:39] #1079 closed

[2020-08-04 12:49] rzr commented on #1246
ok I might reconsider to try it
once my pending changes are merged:

https://github.com/kubeedge/kubeedge/pulls/rzr

[2020-08-04 12:51] fisherxu commented on #1246
@rzr  Do we need reopen it?

[2020-08-04 12:58] rzr commented on #1246
Let's ask @hacker-h

Meanwhile I can try to refresh my patches.

[2020-08-05 03:20] zqzzq opened #2029 "x509: certificate is valid for 192.168.0.29, not xxx"
**What happened**:
The xxx is the eip of cloud, and the edge can't use this to connect the cloud:
[code]
**What you expected to happen**:
the edge can use eip to connect the cloud.
**How to reproduce it (as minimally and precisely as possible)**:
Install cloudcore according to https://github.com/kubeedge/kubeedge/tree/master/build/cloud
**Anything else we need to know?**:

**Environment**:
- KubeE

[2020-08-05 03:22] #2029 closed

[2020-08-05 05:35] zhangru-dev opened #2031 "创建一个名为camera的device，包含一个brightness的属性 ，mapper上报属性名为brightness的值后，没有被记录到device中"
devicemodel：
apiVersion: devices.kubeedge.io/v1alpha1
kind: DeviceModel
metadata:
  name: camera-model
  namespace: default
spec:
  properties:
    - name: brightness
      description: brightness collected from the edge device
      type:
        int:
          accessMode: ReadWrite

device：
apiVersion: devices.kubeedge.io/v1alpha1
kind: Device
metadata:
  name: camera
  labels:
    description:

[2020-08-05 08:58] daixiang0 opened #2034 "Containers does not clean up after deleted"
**What happened**:

After delete deployment, some related containers still exist while `kubectl get pod` can not see it.
[code]

**What you expected to happen**:

No related contains exist.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[2020-08-05 09:04] daixiang0 commented on #2034
The root cause is that we use two queue to handle add/update and delete event, obviously delete queue handles more quickly.

When lots of events comes, delete event may be handled before update event, then some containers would exist.

[2020-08-05 09:46] Yellow-L opened #2036 "panic on cloudcore when too much edgenode connected"
**What happened**:
panic when too much edgenode connecting to cloudcore,  fatal error: concurrent map read and map write
**What you expected to happen**:
cloudcore no panic when connecting edge node.
**How to reproduce it (as minimally and precisely as possible)**:
large scale edge node, more than 200 nodes.
**Anything else we need to know?**:
N/A
**Environment**:
- KubeEdge version(e.g. `cloudcor

[2020-08-05 10:36] zhangru-dev opened #2038 "create a device ，it inlude a int type propertyName， mapper report a value，but the propertyName of device doesn‘t be changed"
devicemodel：
apiVersion: devices.kubeedge.io/v1alpha1
kind: Device
metadata:
  name: camera
  labels:
    description: 'camera'
    manufacturer: 'test'
spec:
  deviceModelRef:
    name: camera-model
  nodeSelector:
    nodeSelectorTerms:
      - matchExpressions:
          - key: ''
            operator: In
            values:
              - edge
status:
  twins:
    - propertyName: brightness

[2020-08-05 12:15] zqzzq opened #2039 "failed to create pvc, dial unix /kubeedge/kubeedge.sock: connect: no such file or directory"
**What happened**:
failed to create pvc, the log of the csi-driver:
[code]
**What you expected to happen**:
create pvc successfully
**How to reproduce it (as minimally and precisely as possible)**:
Install cloudcore according to https://github.com/kubeedge/kubeedge/tree/master/build/cloud , and then
[code]
**Anything else we need to know?**:

**Environment**:
- KubeEdge version(e.g. `cloudcore/edg

[2020-08-05 12:23] #2039 closed

[2020-08-05 14:24] luogangyi opened #2041 "suggest seperate mappers to independent repos"
**What would you like to be added/modified**:
suggest seperate mappers to independent repos according to their programming language, such as device-mappers-go, device-mappers-c and device-mappers-js.

**Why is this needed**:
- it is hard to maintain mappers when their amount grows.
- it is inconvenient for mappers' developer to follow main repo release cycle.
- it is hard to set CI for mappers cod

[2020-08-06 01:36] llhuii opened #2042 "Error link of cloudhub in docs"
**What would you like to be added/modified**:
the 3rd link of [Usage section of cloudhub](https://github.com/kubeedge/kubeedge/blob/master/docs/components/cloud/cloudhub.md#usage) is wrong, should be [start-the-websocket-and-quic-server-at-the-same-time](https://github.com/kubeedge/kubeedge/blob/master/docs/proposals/quic-design.md#start-the-websocket-and-quic-server-at-the-same-time) instead of [

[2020-08-06 01:39] fisherxu commented on #2042
@llhuii Thanks for pointing out, and would you like raise a PR to fix it?

[2020-08-06 02:00] llhuii commented on #2042
BTW, I have a question: why is the link hard coded with `https://github.com/kubeedge/kubeedge/blob/master`?

[2020-08-06 02:07] fisherxu commented on #2042
You can change it to a relative path in your PR :)

[2020-08-06 02:26] daixiang0 commented on #2041
BTW, could add docs about how to develop a new mapper and how to use it?

[2020-08-06 03:23] luogangyi commented on #2041
Yes, we are working on it. we are preparing a sdk like edegeX does to help developer to develop new mappers quickly.

[2020-08-06 06:38] #2042 closed

[2020-08-06 12:26] Ranguo956 opened #2045 "How to make EdgeCore support neo4j or mysql ?"
KubeEdge needs to be used for verification in my scientific research. I need the persistent storage of edge nodes (EdgeCore) to support other databases, especially neo4j.But I don’t know how to operate to achieve the goal。

[2020-08-06 14:21] luogangyi commented on #2045
EdgeCore just stores metadata and cache twin values.
So, what data are u going to store in mysql?

[2020-08-06 15:27] Ranguo01 commented on #2045
Yes, if possible, I need to enable edgecore to persist the ontology model (RDF data), which requires the use of a graph database or other databases that can store RDF.

[2020-08-06 15:28] Ranguo01 commented on #2045
Yes, if possible, I need to enable edgecore to persist the ontology model (RDF data), which requires the use of a graph database or other databases that can store RDF.

[2020-08-07 00:38] daixiang0 commented on #2045
Try CSI to store RDF, now EdgeCore support CSI volume.

[2020-08-07 01:25] luogangyi commented on #2045
So, how do you get RDF data? If you write your own mapper, I think you can directly store these data to your own database. There is no need to use edgecore's db.

[2020-08-07 01:38] ZongbaoLiu opened #2047 "An error occurred during building cloudcore and edgecore."
when building edgecore and cloudcore, it happened that "errors.Is" is not undefined.
[code]
- Hardware configuration (e.g. `lscpu`):
[code]
- OS (e.g. `cat /etc/os-release`):
[code]
- Kernel (e.g. `uname -a`):
[code]
- Go version (e.g. `go version`):
[code]

[2020-08-07 01:48] fisherxu commented on #2047
@ZongbaoLiu Would you like to have a try with go1.14?

[2020-08-07 02:00] majoyz commented on #2008
遇到了相同的问题，请问你是怎么处理的呀

[2020-08-07 02:12] ZongbaoLiu commented on #2047
@fisherxu it can work with go1.14.

[2020-08-07 02:24] fisherxu commented on #2047
Okey, last mounth we upgrade the go to 1.14, so now we should use the 1.14 to compile :)
Will update the docs later :)
/close

[2020-08-07 02:24] #2047 closed

[2020-08-07 03:20] #2036 closed

[2020-08-07 06:35] daixiang0 commented on #2031
/cc @luogangyi

[2020-08-07 08:44] luogangyi commented on #2031
/assign

[2020-08-07 14:51] luogangyi commented on #2031
I have inspect the source code
[code]
Its turn out that we only support String value in twin property.

So, if you want to use Int value, you can convert it to String first, and set "Int" in its metadata's type field to tell users that is a Int value.

[2020-08-07 14:52] luogangyi commented on #2031
/close

[2020-08-07 14:52] #2031 closed

[2020-08-07 14:54] luogangyi commented on #2038
/duplicate #2031
/close

[2020-08-07 14:54] #2038 closed

[2020-08-07 15:01] luogangyi commented on #2015
It seems current reliable sync mechanism are only working on K8S original resources such as pod, service. Device CRD is not implemented in reliable sync.
We can add this feature in next release.

[2020-08-08 02:50] #1479 closed

[2020-08-09 09:18] #1543 closed

[2020-08-09 17:00] wknet123 opened #2051 "Failed to add edgecore service to cloudcore"
**What happened**:
When I execute `edgecore > /var/log/kubeedge/edgecore.log 2>&1` to start edge core service there has an error occurred as
`certmanager.go:91] Error: failed to validate CA certificate. tokenCAhash: 63d2a5c4eb82fb58e5cdf251fb7bc132637fc7b99a740d01f81a203e132cf441, CAhash: 55b945018db981d8ed5148b5db20c4fc99577d2eff8908ad5a32b635915ed981`
**What you expected to happen**:
Start edgec

[2020-08-10 10:09] fisherxu commented on #2051
Maybe your token has expired, you can get a new token and have a try

[2020-08-10 10:17] Yellow-L opened #2052 "edgecore doesn't register node again after cloudcore report node disconnected"
**What happened**:
cloudcore disconnected the connection for some reason. logs shown as bellow:
[code]
edgecore doesn't register node again because keepalive message just send and doesn't have a response check, so there no logic to do reregister.

**What you expected to happen**:
edgecore could reregister edge node to cloudcore.
**How to reproduce it (as minimally and precisely as possible)**:
clo

[2020-08-11 06:01] GsssC opened #2055 "Pod in edgenode has not podip"
**What happened**:
When use `keadm join`, Pod in edgenode has not podip, log and edgecore.yaml shows that `interfaceName` is wrong if interfaceName is not default `eth0`.

May we could add the tip of  `--interface-name` in the doucument of installation.
**What you expected to happen**:
Pod in edgenode has podip.
**How to reproduce it (as minimally and precisely as possible)**:
**Environment**:
- K

[2020-08-11 06:30] faicker commented on #259
How did this solved?

[2020-08-11 06:32] be1be1 commented on #1798
It seems that your kubeedge is not correctly configured. Kindly change the interfaceName in `/etc/kubeedge/config/edgecore.yaml` from `eth0` to the one that you need (e.g.: `enp4s0`). For the interface, you can use `ip addr` to check it. Then, restart your edgecore.

[2020-08-11 07:08] GsssC commented on #2052
It seem this bug has been fixed by 1.3.1.

[2020-08-11 07:43] ttlv opened #2057 "checksum when download release source"
**What happened**:
There is a broken kubeedge-v1.3.1-linux-amd64.tar.gz in /etc/kubeedge,when I use kubeadm to join and got some error.
**What you expected to happen**:
keadm will checksum for download file when I use keadm to install. don't skip even though kubeedge-v1.3.1-linux-amd64.tar.gz is existed.!!
**How to reproduce it (as minimally and precisely as possible)**:
put a broken  kubeedge-v1.

[2020-08-11 07:53] fisherxu commented on #2057
We can add an option, so users can decide whether to skip download, WDYT?

[2020-08-11 09:12] wknet123 commented on #2051
I misconfigured k8s apiserver url for cloudcore configuration, so was this error occurred. Fixed.

[2020-08-11 09:12] #2051 closed

[2020-08-11 09:12] fisherxu commented on #1609
/remove lifecycle/stale

[2020-08-11 12:36] fisherxu commented on #1595
/remove lifecycle/stale

[2020-08-12 03:41] ttlv commented on #2057
well, I think beacuse of my confused description make you misunderstand my problem. I want to emphasize the importance of checksum for using keadm to join node into ke cluster.
eg:
because of bad network,I will download tar.gz file from ke official release early,maybe I will get a broken file and I don't konw I get a broken file.when I use keadm to join node,keadm will find a vaild name of .tar.gz

[2020-08-12 06:57] faicker opened #2059 "can't deploy pod to the edge after the edge OS system reinstalled"
**What happened**:
At beginning, all works well. After reinstalled the edge OS system, I can't deploy pod to the edge.
Delete the node is also tried.
The edge node is ready.

the edge log is as follows,
timeout to receive response for message: {Header:{ID:1d422345-429d-44d0-b478-d01299433023 ParentID: Timestamp:1597211281636 ResourceVersion: Sync:true} Router:{Source:edged Group:meta Operation:que

[2020-08-12 06:57] GsssC commented on #2057
@fisherxu ,It enables `keadm` running in closed and private network, i think it worth a new pr to skip download. 👍

@ttlv , agree 👍
Broken file it is useless for installation
https://github.com/kubeedge/kubeedge/blob/8b60ae25ae9e4b1d498e6d935c775841984dc532/keadm/cmd/keadm/app/cmd/util/common.go#L352
`TODO` also suggests that it need to checksum everytime.

[2020-08-12 14:07] dddddai commented on #2055
How about getting the valid interfaceName automatically?

[2020-08-12 14:12] susu3621 commented on #1642
"Support config domain URL for cloudcore" is quite important, since the cloudcore may not have a static public ip.
Like the cloudcore may stay behind a DDNS gateway.
Without the URL support, seems we don't have method to deal with this case?
Is it still in our list?

[2020-08-13 00:26] daixiang0 commented on #2059
What do you mean that reinstall edge OS? Reinstall edgecore or something else?

[2020-08-13 00:29] daixiang0 commented on #2057
I post #1989 in the past since skip download is a hidden feature i think, maybe an option would be more clear.

Before adding an option, could we add this doc as a workaround?

[2020-08-13 00:29] daixiang0 commented on #2057
I post #1989 in the past since skip download is a hidden feature i think, maybe an option would be more clear.

Before adding an option, could we add this doc as a workaround?

[2020-08-13 03:53] fisherxu commented on #1630
/close

[2020-08-13 03:53] #1630 closed

[2020-08-13 05:08] duguniu85 commented on #1995
m

my problem is same to you

[2020-08-13 05:08] duguniu85 commented on #1995
my problem is same to you

[2020-08-13 13:58] wknet123 opened #2068 "Edgecore published service as 127.0.0.1:10350 which cannot be connected with cloud core endpoint"
**What happened**:
Edge core service published with port 127.0.0.1:10350 service cannot be visited by cloud core endpoint for K8s flannel service.
[code]
`kube-flannel-ds-arm64-ngtxj` failed due to it cannot connect endpoint of edgecore service.
while at the edgecore this port is published as `127.0.0.1:10350` which cannot be visited outside this host.
[code]
**What you expected to happen**:
How c

[2020-08-13 23:05] radoye commented on #291
We deploy hybrid edge-cloud DL systems using AKS (cloud part for global processing) + IoT Edge (edge-side containers for local processing). Azure IoT Edge has many rough edges, and it is relatively incomplete, so we are looking for a way to simplify the system. KubeEdge would be the solution if

1. we can use AKS or EKS as the cloud part of the cluster, and
2. KubeEdge keeps compatibility with clu

[2020-08-14 01:20] luogangyi commented on #2068
did you forget setting "iptables -t nat -A OUTPUT -p tcp --dport 10350 -j DNAT --to $CLOUDCOREIPS:10003" ?

see [Enable kubectl logs Feature](https://docs.kubeedge.io/en/latest/setup/keadm.html?highlight=10350#enable-kubectl-logs-feature)

[2020-08-14 03:04] susu3621 opened #2070 "Need a method to generate ca for cloudcore behind a gateway"
**What would you like to be added/modified**:
We use our kebeedge inside our internal network, and expose to external network.
And multiple service exposed to external through gateway，through domain proxy.
But if we use domain setting in edgecore, with ca generated by certgen.sh, edgecore will fail with the error below.

Error: failed to get edge certificate from the cloudcore, error: Get xxxx x50

[2020-08-14 06:15] wknet123 commented on #2068
Seems another error occurred by following these steps.
[code]

[2020-08-14 06:15] wknet123 commented on #2068
Still blocking at this issue. Help!

[2020-08-14 09:02] fengyehong commented on #1857
release 1.3.1 is also affeted by this issue, can we get 1.3.2 release soon?

[2020-08-14 09:41] ttlv commented on #2057
yeah, I have seen the issur # 1989, it seems that the doc is about how to install ke node manually

[2020-08-15 08:49] daixiang0 commented on #2070
Please try `keam` with `advertise-address` option.
[code]

[2020-08-15 08:53] daixiang0 commented on #2068
Please check iptables or firewall first.

[2020-08-16 05:40] GsssC commented on #2059
it is because inconsistency of object-sync.
You need to delete relative object-sync.

[2020-08-16 05:46] GsssC commented on #2059
kubectl get objectsyncs.reliablesyncs.kubeedge.io --all-namespaces-owide|grep
EDGE_NODE_NAME|awk'{print$1,$2}'|while read line1 line2;do kubectl delete
objectsyncs.reliablesyncs.kubeedge.io -n $line1 $line2;done

[2020-08-16 05:55] GsssC commented on #2055
@dddddai yeah that is a question. A computer may have multiple netInterface, and may switch when edgecore is runing.

[2020-08-16 06:22] dddddai commented on #2055
I mean perhaps we could set the default interfaceName automatically based on the host.

Now the the default interfaceName is fixed `eth0`
https://github.com/kubeedge/kubeedge/blob/78dafa025b4b9cdd79b9f6cc24ef530b66df206e/common/constants/default.go#L43

We may do like this

[code]
But it changes DefaultInterfaceName from constant to variable, and I'm afraid it might pollute `constants/default.go`.

[2020-08-16 14:26] susu3621 commented on #2070
Hi @daixiang0

Thanks for your reply.
We are catching up the kubeedge these days(not so familiar with go sadly), and will join the zoom meeting.

We have no problem to setup with CA base on IP.
But I think the keadm method does't seems like solve this problem.

I checked the code. Currently, the cloudcore CA is a self generated and self signed certificated.
In K8S concept, this is a normal way, bu

[2020-08-17 02:01] GsssC commented on #2055
@dddddai
InterfaceName will be override by config file `edgecore.yaml`, Now it is generated by `keadm join`:
https://github.com/kubeedge/kubeedge/blob/320ff99a4afaa90e39be9554fdd1f0aa316b7082/keadm/cmd/keadm/app/cmd/util/edgecoreinstaller.go#L94

May we could auto fill it with avaliable interface, rather than change DefaultInterfaceName.

Your code is lgtm for choosing a avaliable interface.
: )

[2020-08-17 02:32] dddddai commented on #2055
@GsssC
It seems that `newJoinOptions` creates a default join option

[code]

So may we do this ?

[code]

[2020-08-17 02:53] dddddai commented on #2055
@GsssC
Thanks for your guidance. So may we change the interfaceName in `Add2ToolsList` ?
[code]

[2020-08-17 03:04] GsssC commented on #2055
@dddddai I think the first  is better. And may need add other judgement such as **multicast** and **lower_up**
![image](https://user-images.githubusercontent.com/29768082/90353641-50d4a800-e079-11ea-9b6f-ba8bd45ccff8.png)

[2020-08-17 03:23] daixiang0 commented on #2055
@dddddai @GsssC
It may be hard for us to choose for users, first interface is not always what users want. And it would make more confuse since it can run like a normal sucesssful running.

I perfer that we just check whether the default interface or the one users specify is valid, and return error if invalid.

[2020-08-17 03:27] GsssC commented on #2055
@daixiang0 Make sense, but k8s has no such problem, need to have a look what **kubeadm or kubelet** do

[2020-08-17 06:02] Ranguo956 commented on #2068
hey,I encountered the same problem as you, did you solve it, I don’t know how to solve it.

[2020-08-17 06:07] daixiang0 commented on #2068
Please check the network and iptables/firewall.

[2020-08-17 06:35] lvfei103650 opened #2078 "断网情况下节点被删除，恢复网络后节点重新注册，但是有残留容器存在"
**What happened**:
cloudcore侧断网，节点删除，20分钟后恢复网络连接，节点重新注册拉起，但是有残留容器存在

**What you expected to happen**:
断网情况下，节点被删除，恢复网络连接后，节点重新注册，残留容器被删除

**How to reproduce it (as minimally and precisely as possible)**:
1. 两台虚机各起cloudcore、edgecore

2. 在cloucore侧部署一个简单测试应用
    kubectl apply -f deployment.yaml

3. 在cloudcore侧   模拟断网 iptables -t filter -A INPUT -s 10.27.22.107/32 -p tcp -m tcp --dport 10000 -j DROP

[2020-08-17 06:41] daixiang0 commented on #2078
Why do you delete edge node when network is broken? I think it is a wrong action.

[2020-08-17 07:04] yangchenliang commented on #2078
真实环境是这样的：
1、k8s部署在公有云上，用到了cloud provider

2、用的edge节点不是公有云上的虚机实例

3、当断网或弱网场景下触发edge节点Not Ready时，cloud provider的逻辑流程中回去触发delete node资源
![image](https://user-images.githubusercontent.com/24475740/90366849-6c03df80-e09a-11ea-8393-11e0e3090717.png)

4、节点被删除后，或触发deployment的pod重新调度

5、当edge节点上的edgecore重启后，pod再次重新部署到了edge节点

6、最后结果是edge节点之前的pod还在，残留了没被删除

[2020-08-17 07:36] daixiang0 commented on #2078
KubeEdge has the power of Edge Autonomy, so whole logic is as we expected. We hope even disconnect to cloud, the edge sides still run.

Not sure weather the cloud provider has options to disable delete node, i think evict node is a better action.

[2020-08-17 08:27] Ranguo956 opened #2083 "kube-flannel-ds-amd64-65wxz : Neither --kubeconfig nor --master was specified"
cloud-side: 192.168.64.10
edge-side: 192.168.64.11

**What happened**:
###  After kubeedge starting,I find the  status of  kube-flannel-ds-amd64-65wxz is Error:

#### cqupt@cloud-side:~$watch kubectl get pods --all-namespaces -owide
NAMESPACE--------- NAME--------------------------------STATUS------------------ IP------------------NODE
kube-system   coredns-b46dbdfcf-5h27w ---------------Running--

[2020-08-18 01:01] daixiang0 commented on #2083
Sorry that we still do not support any CNI in edge side.
/close

[2020-08-18 01:01] #2083 closed

[2020-08-18 01:02] daixiang0 commented on #2070
I see, we can discuss on the weekly meeting.

[2020-08-18 07:00] GsssC commented on #2055
@Rachel-Shao PTAL

[2020-08-18 07:24] GsssC opened #2084 "completely keadm reset at edge"
**What would you like to be added/modified**:
`keadm reset` now only stop precess, we need a completely reset like `kubeadm reset`

**Stateful data at cloud:**
- [x] stop process
- [x] /etc/kubeedge
- [x] crds and crs in etcd
    - get by 'kubectl get crds | grep kubeedge'
    - deleted by 'kubectl delete ns kubeedge'
- [x] secret in etcd
    - deleted by 'kubectl delete ns kubeedge'

**Stateful d

[2020-08-18 07:25] GsssC commented on #2084
/assign @Rachel-Shao PTAL

[2020-08-18 08:15] YaozhongZhang opened #2085 "Comparing version numbers as strings could be wrong in some cases."
**What happened**:
Comparing version numbers as strings could be wrong in some cases. E.g.`("1.10.0" < "1.2.0") == true`
https://github.com/kubeedge/kubeedge/blob/a8cbf5509298dcf1cfbd4d3e25f788a01ce02e48/keadm/cmd/keadm/app/cmd/util/cloudinstaller.go#L45

**What you expected to happen**:
Comparing version correctly.

[2020-08-18 09:19] faicker commented on #2059
still not OK.

error message is,
process.go:196] timeout to receive response for message: {Header:{ID:d323f9d9-ce16-45ff-8020-a3ba0038e007 ParentID: Timestamp:1597741826170 ResourceVersion: Sync:true} Router:{So
urce:edged Group:meta Operation:query Resource:default/secret/default-token-hh7md} Content:<nil>}

the token did exist in the cloudcore.
 kubectl get secrets -A
NAMESPACE         NAME

[2020-08-18 09:22] faicker commented on #2059
What I did is,
systemctl stop edgecore
rm -rf /var/lib/edged/
rm -rf /var/lib/kubeedge/edgecore.db
and then start edgecore.
I think this is equal to clear and reinstall the OS and edgecore.
@daixiang0

[2020-08-18 09:25] daixiang0 commented on #2059
Please check edgecore log, and check edge node status, is it ready?

[2020-08-18 09:28] GsssC commented on #2059
Have you tried ?

[2020-08-18 09:36] faicker commented on #2059
it is ready. @daixiang0

[2020-08-18 09:37] faicker commented on #2059
yes, I did. @GsssC

[2020-08-18 09:39] faicker commented on #2059
It did work if I changed the hostname(hostnameoverride in edgecore.yaml) on edgecore.

[2020-08-18 09:39] GsssC commented on #2059
For detail, cloudcore will record all resources which are sent to edge, we call these records as objects-syncs. And cloudcore will stop a old reversion resource being sent to edge according these object-syncs .

You delete resources in the edge, but not delete relative records. Make sure relative object syncs are delted, or all new query will be stoped:
https://github.com/kubeedge/kubeedge/blob/ma

[2020-08-18 09:45] GsssC commented on #2059
And I suggest u upgrade to v1.4.0, In this version, we add object-sync-GC, user only need to delete node by `kubectl delete node $EdgeNodeName`, and these object will be deleted by cloud automaticly

[2020-08-18 09:53] faicker commented on #2059
Let me try 1.4.0

[2020-08-18 10:18] faicker commented on #2059
Yeah, the problem is solved in v1.4.0.
Thanks all.

[2020-08-18 10:39] faicker commented on #1364
It seems to be solved in v1.4.0

[2020-08-18 11:29] susu3621 commented on #2070
Checked a little more in the code. Summarize here before the meeting.
Current design seems like this:
1. edge get CA from cloud
2. edge check ca if valid through token
3. edge request the edge crt
4. cloud will check edge's token
5. send the signed edge certification back.

Step 1-2 is act as the CA root.
Step 3-4 is the normal usage of certification.

There are 2 cases we face the problem:
1. If

[2020-08-18 13:54] chsatyap opened #2087 "[Proposal] Potential code quality issues found"
I forked this repo a while ago and ran a DeepSource analysis on it. DeepSource found a variety of different issues categorized based on their types and severity which you can view [here](https://deepsource.io/gh/chsatyap/kubeedge/).

Brief description -
Anti-Patterns: 49
Bug Risks: 256
Performance issues: 28
Security Issues: 31

You can find a detailed description and fixes for some of them [here]

[2020-08-19 03:44] guihecheng opened #2088 "pvc in pending state when trying csi hostpath example setup"
**What happened**:
During the setup of csi hostpath example, it stucked at the pvc stage.
The pvc is always in pending state.

**What you expected to happen**:
The pvc should be available.

**How to reproduce it (as minimally and precisely as possible)**:
Setup csi hostpath with the files found in

Do create sc, pvc using the files found in

And the resources is in good state:
`kubectl get pods -n

[2020-08-19 03:54] susu3621 commented on #2070
If generate the server certificate by adding **DNS.1:<domain>**: to subjectAltName, I can connect to cloudcore through domain name now.
I referred to the following link.
https://gist.github.com/cecilemuller/9492b848eb8fe46d462abeb26656c4f8

But in k8s cluster, **kubectl get node** is not showing the edge node.
The node registration is failed.

[2020-08-19 07:16] ESWZY opened #2089 "KubeEdge 1.4 compatibility for Golang 1.13"
**What happened**:

My golang version is 1.13.4, and the kubeedge version is as same as the repo.

When `$ make verify`, it reports:

[code]

![image](https://user-images.githubusercontent.com/32200887/90603437-e0bb5300-e22d-11ea-8afb-108b973cf8a5.png)

And for golang 1.13.4, `$ go help build` says:

[code]

![image](https://user-images.githubusercontent.com/32200887/90603069-43f8b580-e22d-11ea-96

[2020-08-19 09:35] GsssC commented on #2070
@ls889 @XJangel PTAL

[2020-08-19 09:42] GsssC commented on #2068
@ls889 @XJangel it seems like cert error, PTAL

[2020-08-19 23:49] s099064146 opened #2090 "Metrics measurement (KubeEdge Edge Node)"
**What would you like to be added/modified**:
I would like to have metrics measurement tools like metrics-serevr.

**Why is this needed**:
Since the original metrics-server plugins are not compatible with KubeEdge because of the network issues, I cannot measure any metrics from the Edge node.

[2020-08-20 01:29] sailorvii opened #2091 "Suggestion: make the device configmap to be static"
**What would you like to be added/modified**:
Set the configmap to be static.

**Why is this needed**:
1. The process to track the change of configmap is complex. Either device twin or mapper has to deal with this configmap change. Device twin will also send many changing messages to mapper to. Mapper has to receive these messages and also the messages are not enough to get all information and wil

[2020-08-20 01:45] luogangyi commented on #2091
Agree, current mapper have two ways to track updates of device, one is configmap and another is twin messages. It will confuse mappers' developer.
Besides, we can provide some script to automatic restart mapper when detect configmap changes.

[2020-08-20 02:37] s099064146 opened #2092 "Metrics-Sever on KubeEdge (configuration process and vague document)"
**What happened**:

1. I cannot find the `certgen.sh` in the folder `/etc/kubeedge/`, and I found it in the original git clone folder in `$GOPATH/src/github.com/kubeedge/kubeedge/build/tools/certgen.sh`. Are they the same file or not? (Doc section 4.4.3 "third" step certification part for cloud core.)

2. I have no idea how to activate `cloudStream` and `edgeStream`. In the document, it is said th

[2020-08-20 03:02] GsssC commented on #2092
@Poo12 PTAL for Q1 and Q2.

[2020-08-20 03:03] GsssC commented on #2092
@Poor12 PTAL for Q1 and Q2

[2020-08-20 03:10] Poor12 commented on #2092
Hello, Q1:Yes.the same. Q2: Both shoud be set. Q5: Ensure that cloudstream and edgestream works. Then you can refer to the Support metrics in Cloud in keadm.md.

[2020-08-20 03:21] s099064146 commented on #2092
@Poor12
How to check the cloudstream and edgestream work properly?

[2020-08-20 03:30] Poor12 commented on #2092
You can search the logs，such as “get a new tunnel agent hostname XXX , internalIP XXX”、“Start a new tunnel stream connection ...“ explain that it has been successfully opened.

[2020-08-20 03:50] s099064146 commented on #2092
@Poor12
So I also need to configure the IP address?
![image](https://user-images.githubusercontent.com/40239192/90714912-57625a00-e2db-11ea-9616-33f87aaaeaf3.png)

[2020-08-20 03:53] Poor12 commented on #2092
Of course. It should be the cloudcore IP address.

[2020-08-20 03:54] s099064146 commented on #2092
Well, it still refuses the connection.
![image](https://user-images.githubusercontent.com/40239192/90715125-f0917080-e2db-11ea-8ac8-1677cc920573.png)

[2020-08-20 04:07] Poor12 commented on #2092
Maybe there is something wrong. Several reasons: 1. network disconnected  2.wrong certificate.  3.wrong config(enable: true and correct IP address)

[2020-08-20 04:09] GsssC commented on #2092
@s099064146
Q3:
It seems that keadm have not run cloudcore as `systemd service`, so you need to set up it manually, or just kill it down and start cloudcore directly.
Welcome the pr for running cloudcore as `systemd service` when use `keadm init --run-as-service`.

Q4:
For KubeEdge, we assume that edgenode is far from center-cloud, network between edgenode and center-cloud is public. Node in cloud

[2020-08-20 04:18] s099064146 commented on #2092
@Poor12
1.
I think it is the right IP address, since my KubeEdge cluster is okay.
![image](https://user-images.githubusercontent.com/40239192/90716035-7d3d2e00-e2de-11ea-8737-377607118145.png)
I have also disabled firewall by using the command `sudo ufw disable`.

2.
I have already created the certifications the document mentioned.
![image](https://user-images.githubusercontent.com/40239192/907163

[2020-08-20 04:26] XJangel commented on #2070
Hi, @susu3621
Thanks a lot for your work. I think we can add the term about domain name in `cloudcore.yaml` then add it to the cloudcore's certificate SubAltNames field when generating the certificate. That should works.

[2020-08-20 06:44] Poor12 commented on #2090
/close  Please refer to https://github.com/kubeedge/kubeedge/blob/master/docs/setup/keadm.md _Support Metrics-server in Cloud_.

[2020-08-20 06:53] s099064146 commented on #2090
@Poor12
Okay, thank you very much!

[2020-08-20 08:20] yushanjin opened #2094 "During installation, why must use /etc/kubeedge directory default?"
**What would you like to be added/modified**:
add parameter in keadm init or keadm join, like keadm init --package-path=/home/xxxx
**Why is this needed**:
Beacuse, sometimes I have no disk space to storage in /. Now, we use DELL Edge GateWay 5000,
![image](https://user-images.githubusercontent.com/12782056/90738742-0c5b3d80-e301-11ea-8a50-aa665716706c.png)

[2020-08-20 10:04] s099064146 commented on #2092
@Poor12
Could you please tell me what else I missed to configure?
I think the certification issue is because of the network issue, not the certification itself.
![image](https://user-images.githubusercontent.com/40239192/90757000-9f9b6f80-e30f-11ea-805f-7e12bc1b451d.png)
Thank you very much in advance!
@GsssC
According to your Q4 answer, I can consider that metrics-server right now is not using th

[2020-08-20 10:13] GsssC commented on #2092
@s099064146 em..yes but ms never use cni although native k8s, It doesn’t involve  connection between ms and api-server.

I think u could learn about metric-server, it’s not ready-to-use in kubeedge.  : )

[2020-08-20 11:20] s099064146 commented on #2092
@Poor12
It seems that my cloudcore has started the cloudStream?

`root@charlie-latest:/etc/kubeedge# cloudcore restart
W0820 19:18:50.763843    5614 validation.go:153] TLSTunnelPrivateKeyFile does not exist in /etc/kubeedge/certs/server.key, will load from secret
W0820 19:18:50.763983    5614 validation.go:156] TLSTunnelCertFile does not exist in /etc/kubeedge/certs/server.crt, will load from secr

[2020-08-20 11:42] GsssC commented on #2092
@s099064146 log shows there is already a process cloudcore running.

There is no subcmd called `cloudcore restart`, restar cloudcore by`pkill cloudcore; cloudcore`

[2020-08-20 11:53] s099064146 commented on #2092
@GsssC
Then, how could I start it in the background just like before?

[2020-08-20 11:55] s099064146 commented on #2092
@GsssC
I think it worked!!!!! I finally activated the cloundStream and edgeStream right!?!?!!?
![image](https://user-images.githubusercontent.com/40239192/90766986-fbb9c000-e31e-11ea-8a89-a7f0437092db.png)

[2020-08-20 11:56] GsssC commented on #2092
@s099064146 `nohup ./cloudcore > edgecore.log 2>&1 &` or run it as service

[2020-08-20 11:57] s099064146 commented on #2092
@GsssC
May I ask which is better?
run it as a service or `nohup ./cloudcore > cloudcore.log 2>&1 &`  ?

[2020-08-20 12:00] GsssC commented on #2092
@s099064146 I prefer systemd-service, google ` run process as systemd-service in linux`has many answers.

[2020-08-20 12:04] s099064146 commented on #2092
@GsssC
Thank you very much.
If there is any service issue, please let me ask you again. Thank you in advance.

[2020-08-20 12:08] s099064146 commented on #2092
@GsssC
When I run the command `nohup ./cloudcore > cloudcore.log 2>&1 &`, it doesn't start cloudcore.
![image](https://user-images.githubusercontent.com/40239192/90768148-dded5a80-e320-11ea-94bf-6aaa421b4b41.png)

`kubectl get nodes`
![image](https://user-images.githubusercontent.com/40239192/90768087-c910c700-e320-11ea-928a-39b0912c07d3.png)

[2020-08-20 12:15] s099064146 commented on #2092
@GsssC
I have tested.
The command should be `nohup cloudcore > cloudcore.log 2>&1 &`.
Then, it will work!!
Thank you so much!!!!
`kubectl get nodes`
![image](https://user-images.githubusercontent.com/40239192/90768870-ee520500-e321-11ea-8af5-cecb1aad052e.png)

[2020-08-20 12:33] GsssC commented on #2094
make sense, plz feel free to submit pr to fix it.

[2020-08-20 12:47] GsssC commented on #2090
/close

[2020-08-20 12:47] #2090 closed

[2020-08-20 12:52] s099064146 commented on #2092
@GsssC @Poor12
I think this means that it is working right now, right?
![image](https://user-images.githubusercontent.com/40239192/90772234-f496b000-e326-11ea-8611-7722c0e32a00.png)

[2020-08-20 13:01] Poor12 commented on #2092
Yeah，It seems it is working well right now.

[2020-08-20 22:10] s099064146 commented on #2092
@Poor12
Thank you for your confirmation.
I am trying to deploy metrics-server right now. If there is any other issue, please give me a hand.
Thank you very much in advance.

[2020-08-21 00:20] s099064146 commented on #2092
@Poor12
Could you please tell me how to build up an ARM version metrics-server?
Since I have tried to pull the latest image of metrics-server-arm from GCP, it finally gave me an AMD64 version.

`docker pull gcr.io/k8s-staging-metrics-server/metrics-server-arm:master`

![image](https://user-images.githubusercontent.com/40239192/90836167-4409ca00-e381-11ea-8eed-2e835baa430e.png)

By checking the sha

[2020-08-21 00:48] Poor12 commented on #2092
Do you want to deploy ms on Raspberry Pi?  Try command 'make container-arm64'.

[2020-08-21 00:57] s099064146 commented on #2092
@Poor12
Yes! Oh, so I should follow this step right?

`git clone https://github.com/kubernetes-sigs/metrics-server.git`
`cd metrics-server`
`make container-arm64`
`docker images`
`docker tag 2d9eb6e0d887 metrics-server-kubeedge:latest`

[2020-08-21 01:02] s099064146 commented on #2092
@Poor12
By the way, why my images on RPI 4 are almost "ARM" rather than the "ARM64" version?
My OS is this:
![image](https://user-images.githubusercontent.com/40239192/90840612-0448df80-e38d-11ea-9cc6-0fe85e6aa139.png)

[2020-08-21 01:10] s099064146 commented on #2092
@Poor12
Um, I need to tell you a sad story. It "is" still the AMD64 version......
![image](https://user-images.githubusercontent.com/40239192/90840846-b385b680-e38d-11ea-8759-6b8d7a3d50d9.png)
![image](https://user-images.githubusercontent.com/40239192/90840891-cc8e6780-e38d-11ea-94de-776a97791397.png)
![image](https://user-images.githubusercontent.com/40239192/90840931-e3cd5500-e38d-11ea-9938-855

[2020-08-21 01:47] Poor12 commented on #2092
Actually it seems the same. Have you ever been tested this image?

[2020-08-21 02:01] susu3621 commented on #2070
Also, I find the current cert handshake can be hacked very easy when a self signed  domain is used.

What I need to do is like this:
1. setup a machine and get rootCA.cert from the cloudcore. (it can be  download through wget https://xxxx:10002/ca.crt --no-check-certificate)
2. Setup a **hack server** with this cert file.
3. pollute the DNS, and redirect cloudcore domain to **hack server.**
4. the

[2020-08-21 02:09] s099064146 commented on #2092
@Poor12
I thought it may will me the error of "exec format error. Wrong architecture"?
I am testing it right now, and I am trying to figure out how to set up the configuration mentioned in the manual.

1. Metrics-server needs to use hostnetwork network mode.
2. Use the image compiled by yourself and set imagePullPolicy to IfNotPresent.
3. Enable the feature of –kubelet-use-node-status-port for Met

[2020-08-21 02:15] GsssC commented on #2092
@s099064146 is your k8s master depolyed in RPI4 or amd64 machine?

[2020-08-21 02:29] s099064146 commented on #2092
@GsssC
The master is deployed on amd64.

[2020-08-21 02:31] GsssC commented on #2092
@s099064146 so why deploy ms on the RPI4? ms should be deploy at cloud and near to master.

[2020-08-21 02:37] GsssC commented on #2092
@GsssC a k8s cluster only need a mertric-server. Deploy ms on the edge can not help anything.
u need:
1. uninstall and upgrade ms which is already deployed on k8s worker node(kubelet node)
2. apply iptables rules.
shown as https://github.com/kubeedge/kubeedge/blob/master/docs/setup/keadm.md

[2020-08-21 02:40] s099064146 commented on #2092
@GsssC
I have two PCs. one is a master node and another one is a worker node, and one RPI4 as my edge node.
Is this the rule you mentioned?
![image](https://user-images.githubusercontent.com/40239192/90846439-b5a24200-e39a-11ea-821d-ae9febbb5d4f.png)

or this one?
![image](https://user-images.githubusercontent.com/40239192/90846458-c2269a80-e39a-11ea-9300-4ea52c85edfb.png)

[2020-08-21 02:44] GsssC commented on #2092
@s099064146 both

[2020-08-21 04:04] x-bytes commented on #2092
我的kubeedge更新到1.4.0，可以正常使用kubectl logs。
[code]
但是metrics-server不能正常工作，unable to fetch metrics from node k8s-master*: Get "https://192.168.5.94:10250/stats/summary?only_cpu_and_memory=true": x509: cannot validate certificate for 192.168.5.94 because it doesn't contain any IP SANs
[code]
我不清楚这里用的是哪套证书，定义变量CLOUDCOREIPS="node1 node2 node3 ..."，然后使用certgen.sh重新生成，重启cloudcore与edgecore程序，重新部署metrics-serve

[2020-08-21 05:04] s099064146 commented on #2092
@x-bytes
看起來好像還要設定metrics-server的網路。
(目前我還沒有成功過，但這些是我目前得知的資訊)
0. `iptables -t nat -A OUTPUT -p tcp --dport 10350 -j DNAT --to $CLOUDCOREIPS:10003`
(這步我有執行過，不過我還有直接關掉防火牆`sudo ufw disable`)

1. Metrics-server needs to use hostnetwork network mode.
2. Use the image compiled by yourself and set imagePullPolicy to IfNotPresent.
3. Enable the feature of –kubelet-use-node-status-port for Metrics-server

[2020-08-21 05:11] Poor12 commented on #2092
<img width="829" alt="截屏2020-08-21 下午1 09 16" src="https://user-images.githubusercontent.com/26862112/90854534-cc06c880-e3af-11ea-9ee4-6293f08c3b43.png"> @s099064146

[2020-08-21 05:13] s099064146 commented on #2092
@x-bytes
Oh, thanks a lot!!!
Now I can try to deploy it. If I have any good news, I will let you know.
Thank you very much again!

[2020-08-21 05:21] s099064146 commented on #2092
@Poor12
May I ask why did this happen? I still cannot get any metrics.

root@charlie-latest:/etc/kubeedge/config# kubectl logs metrics-server-54bd6b66c7-8jtzd -n kube-system
I0821 05:16:29.780134       1 serving.go:307] Generated self-signed cert (/tmp/apiserver.crt, /tmp/apiserver.key)
I0821 05:16:30.759888       1 configmap_cafile_content.go:202] Starting client-ca::kube-system::extension-apiser

[2020-08-21 05:24] Poor12 commented on #2092
curl https://192.168.0.128:10350/stats/summary?only_cpu_and_memory=true. If  failed, maybe because of iptables.

[2020-08-21 05:34] s099064146 commented on #2092
@Poor12
I even tried to use
`sudo apt install ufw`
`sudo ufw disable`
However, the metrics-server still fail.....

[2020-08-21 05:37] Poor12 commented on #2092
So, can you now kubectl logs pods on edge nodes? And is ms working on master node?

[2020-08-21 05:44] s099064146 commented on #2092
1. No. It has the very same error log as metrics-server.
![image](https://user-images.githubusercontent.com/40239192/90856392-68cb6500-e3b4-11ea-97b4-0891d2229110.png)

2. Yes, the metrics deployed on the k8s worker node, and it works well for both master node and itself, but the edge node is still in unkonwn status.
![image](https://user-images.githubusercontent.com/40239192/90856314-3f123e00-e3b

[2020-08-21 05:49] Poor12 commented on #2092
It seems cloudstream and edgestream doest not work. Otherwise, kubectl logs works.

[2020-08-21 05:50] x-bytes commented on #2092
@s099064146  谢谢
以下3个步骤我都配置了

- Metrics-server needs to use hostnetwork network mode.
- Use the image compiled by yourself and set imagePullPolicy to IfNotPresent.
- Enable the feature of –kubelet-use-node-status-port for Metrics-server

目前我的metrics-server非ready状态，报错信息中，无论是原生node还是edge节点都不能获取监控信息，看起来是证书IP SANs配置问题，你的metrics-server运行起来了吗？是否能正常查询到原生节点状态
[code]

[2020-08-21 05:51] s099064146 commented on #2092
@x-bytes
其實我現在的cloudStream跟edgeStream仍然還沒運行成功.....我以為成功了....恩  我以為。

[2020-08-21 06:18] s099064146 commented on #2092
@Poor12
May I ask how to check the tunnel status?
![image](https://user-images.githubusercontent.com/40239192/90858276-771b8000-e3b8-11ea-936c-32a7179f248f.png)
I thought this means that it is running?
[cloudcore.log](https://github.com/kubeedge/kubeedge/files/5107118/cloudcore.log)

[2020-08-21 06:24] s099064146 commented on #2092
@Poor12
I thought that it has been succeeded? In cloudcore.log, I found these infos.

I0821 14:16:11.772192    4582 messagehandler.go:236] event received for node raspberrypi id: 3b2dfe8c-ee2f-425f-b05c-fd055540db3a, parent_id: , group: meta, source: edged, resource: node/raspberrypi/default/nodestatus/raspberrypi, operation: update, content: map[ExtendResources:<nil> Status:map[addresses:[map[add

[2020-08-21 08:21] fisherxu opened #2096 "Use prow to collect release notes"
**What would you like to be added/modified**:
Use prow bot to collect release notes.
Ref: https://github.com/kubernetes/test-infra/blob/master/prow/plugins/releasenote/releasenote.go
https://github.com/kubernetes/sig-release/blob/master/release-engineering/release-notes.md

https://github.com/kubeedge/kubeedge/pull/2076

**Why is this needed**:

Now we still need to look back on all merged pull re

[2020-08-21 08:43] x-bytes commented on #2092
@s099064146 我的监控可以了, metrics-server需要调度到master节点上才能获取到edge节点指标，官方文档中没提到这一点，
![111](https://user-images.githubusercontent.com/22975848/90870849-c53a7e80-e3cc-11ea-8de7-b4c46ed38193.png)
如果在node节点上做dnat也应该没问题。
[code]

楼上我遇到的证书问题，只需要为Metrics启用--kubelet-insecure-tls参数不报了。

[2020-08-21 08:46] s099064146 commented on #2092
@x-bytes
感謝！  我現在就去試試看！感激不盡！

[2020-08-24 02:49] liuht777 commented on #2068
hey,I encountered the same problem as you, did you solve it, I don’t know how to solve it.

[2020-08-24 06:56] fisherxu commented on #2089
@ESWZY  In my env, the `hack/verify-vendor.sh` will also return error below,
[code]

So you'd better to use go 1.14, but it can compile and run successfully with go 1.13.

[2020-08-24 06:57] fisherxu commented on #2089
And  for the ci test, it's better to use the `readonly` mod.

[2020-08-24 06:58] #2089 closed

[2020-08-24 09:18] daixiang0 commented on #2087
Fixed by #2100 #2101 #2102 #2103

[2020-08-24 11:43] #1568 closed

[2020-08-25 06:16] daixiang0 commented on #2088
@fisherxu depend on #1834 :
[code]

[2020-08-25 06:51] fisherxu commented on #2006
I think `print0 | xargs -0n1` or `print | xargs -n1` are all fine. @shenkonghui

[2020-08-25 06:52] #2006 closed

[2020-08-25 06:55] #2085 closed

[2020-08-25 09:22] daixiang0 opened #2104 "upgrade prow to cover more label"
**What would you like to be added/modified**:

Upgrade prow.

**Why is this needed**:

Now regression kind label miss, need to add it.

[2020-08-25 09:33] kevin-wangzefeng commented on #2104
Maybe we can check how Kubernetes Community manage prow deployment in a visible and declarative way.

[2020-08-25 09:41] GsssC commented on #2092
@s099064146 hi，bro，since it is difficult for user to enable **log or metric** feature under the current doc, could u help to update the document, add some advisor which u think is important?
: )

[2020-08-25 10:24] Yellow-L opened #2105 "beehive function beehiveContext.SendToGroup report error: the message channel is full"
**What happened**:
function beehiveContext.SendToGroup report waring: the message channel is full
[code]
**What you expected to happen**:
no waring and channel is not blocked.
**How to reproduce it (as minimally and precisely as possible)**:
still don't know, my cluster have 400 edge nodes, 15 edge nodes status NotReady.

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`):
1.

[2020-08-25 14:07] s099064146 commented on #2092
@GsssC
The overall steps are here.
If any questions, just contact me via GitHub or Slack.
https://app.slack.com/client/TDZ5TGXQW/CDXVBS085/thread/CDXVBS085-1597800162.310600

[Process of enabling kubtctl logs feature_1.docx](https://github.com/kubeedge/kubeedge/files/5124166/Process.of.enabling.kubtctl.logs.feature_1.docx)
[metrics_server_configuration_process_in_KubeEdge_1_4_0.pdf](https://github

[2020-08-26 01:43] GsssC commented on #2092
@s099064146 hey bro, I think u could submit a pr to update the doc of [keadm setup](https://github.com/kubeedge/kubeedge/blob/master/docs/setup/keadm.md)
such as the section of **Enable kubectl logs Feature** and **Support Metrics-server in Cloud**

[2020-08-26 03:47] daixiang0 commented on #2105
Any reproduce steps?

[2020-08-26 07:30] s099064146 commented on #2092
@GsssC
Okay, I see. Let me try it!

[2020-08-26 07:53] Poor12 commented on #2092
@s099064146 Thanks. By the way,  prometheus and grafana could work well in KubeEdge. If you have some problems, you can search issues. There were similiar problems before.

[2020-08-26 08:15] s099064146 commented on #2092
@Poor12
Wow, thanks a lot. Well, in my case, they cannot grasp the KubeEdge Edge node metrics very well.
Maybe it is caused by the deployment of Grafana and Prometheus, since I deployed them on worker node (k8s) rather than master node (k8s + KubeEdge).
Grafana and Prometheus now can get metrics from the worker node but it cannot get anything from Edge node.
Could you please give me some guidance?

[2020-08-26 08:27] Poor12 commented on #2092
@s099064146 the difference from KubeEdge and K8s is two points. 1.the port of server on Kubelet is different. You need some relabel config. 2.you need to use hostnetwork mode, cause KubeEdge does not support nodePort.

[2020-08-26 08:29] s099064146 commented on #2092
@Poor12
Thank you very much! If I have any progress, I will try to PR it and document it.

[2020-08-26 14:20] luogangyi opened #2106 "Suggest support /metrics in stream server"
**What would you like to be added/modified**:
Add "/metric" in stream server to support pulling  "/metrics" such as node_exporter and kubelet provided.

**Why is this needed**:
We need a way to monitor edge node and integrate with Promethus.

Currently, we have metric server. But metric server is not designed for external monitoring system.

AFAK, Promethus + node-exporter + kubelet is widely used

[2020-08-26 14:20] luogangyi commented on #2106
/assign

[2020-08-27 01:34] daixiang0 commented on #2106
Stream server works for connections which need api-server proxy, while `/metrics` is not, it should be implement in Edged.

Also, we can deploy node-exporter at edge side to collect node info.

[2020-08-27 02:01] luogangyi commented on #2106
They are very similar, metric-server pull kubelet/edgecore through streamserver vs.  promethus pull node-exporter throuth streamserver.

"we can deploy node-exporter at edge side to collect node info." Yes, it's required. But cloud node has no direct connection to edge node, so promethus cannot pull node-exporter directly. It require a proxy connection like streamserver.

[2020-08-27 02:06] daixiang0 commented on #2106
After we support CNI, it is not problem, prometheus can connect node-exporter as it's in k8s.

[2020-08-27 02:20] luogangyi commented on #2105
The default channel size is 1024
see “ChannelSizeDefault = 1024” in staging/src/github.com/kubeedge/beehive/pkg/core/context/context_channel.go

I think you can try to change it to 2048 and see if problem solved.

Waiting for your result :)  If it turns out to be OK, we can make this option to be configurable.

[2020-08-27 02:25] luogangyi commented on #2106
@daixiang0 would you provide some detail design info about CNI feature of kubeedge? I don't find it.
I wonder in current network topo, we can implement full function of CNI(may be it can work in edge mesh?)

[2020-08-27 02:37] daixiang0 commented on #2106
It inlucdes two parts: #1834 #1856

[2020-08-27 02:57] Yellow-L commented on #2105
Yes, the default channel size is 1024, I'll try it to 2048 later.

[2020-08-27 03:36] luogangyi commented on #2106
Thanks, It seems edgemesh has already achieve commmunication between edge nodes. But commmunication between edge and cloud is not implemented so far.

[2020-08-27 05:56] lvchenggang opened #2107 "can not get pod metric data after restart edgecore service"
**What happened**:
call URL: 127.0.0.1:10350/stats/summary at edge side, the pods metric data is null:
![image](https://user-images.githubusercontent.com/68538306/91393743-e556bb80-e86c-11ea-9270-974683642f5e.png)

**What you expected to happen**:
pod metric data should be displayed

**How to reproduce it (as minimally and precisely as possible)**:
restart edgecore service

**Environment**:
- Kube

[2020-08-27 06:59] daixiang0 commented on #2104
Kubernetes store all configs under this repo, like [release related](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/release/release-config.yaml).

[2020-08-27 07:34] #1391 closed

[2020-08-27 10:32] #1559 closed

[2020-08-28 03:01] fisherxu commented on #1014
Now we have support the logs feature :)

[2020-08-28 03:01] #1014 closed

[2020-08-28 12:37] fisherxu commented on #2107
Just had a try at my host, it's really a bug

[2020-08-29 01:11] daixiang0 opened #2110 "Improve the test coverage."
**What would you like to be added/modified**:

To improve project stability, we need more tests to cover corner cases.
And the code coverage is around 50% currently, we need to add more tests to improve it.

To improve case coverage, we may need a list of cases to track the work.
For code coverage, simply check before-after result of `go tool cover -func=coverage.report`

Reproduce Step:
[code]
[c

[2020-08-29 10:44] #1571 closed

[2020-08-29 10:44] #1574 closed

[2020-08-29 10:44] #1425 closed

[2020-08-30 10:49] #1577 closed

[2020-08-31 02:28] YaozhongZhang opened #2113 "The processing of adding schedules in bluetooth mapper seems wrong."
**What happened**:
https://github.com/kubeedge/kubeedge/blob/4f3c0f8021ef5d8a0dd4de00e3df0d7e21da9d38/mappers/bluetooth_mapper/controller/controller.go#L126-L140

**What you expected to happen**:
Append the new schedule when it doesn't exsit.
[code]

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version(e.g. `clo

[2020-08-31 02:32] YaozhongZhang commented on #2113
Seam issue at ActionManager.
https://github.com/kubeedge/kubeedge/blob/4f3c0f8021ef5d8a0dd4de00e3df0d7e21da9d38/mappers/bluetooth_mapper/controller/controller.go#L182-L196

[2020-08-31 11:36] slj211 opened #2117 "keadm init"
**What would you like to be added/modified**:
使用 keadm init 要在线下载cloudcore和edgecore，希望提供离线安装方式
**Why is this needed**:
批量部署时，每次去下载，影响部署速度。

[2020-08-31 11:54] kevin-wangzefeng commented on #2117
+1 we should add support for both offline installation and customized source.

[2020-08-31 12:42] #2107 closed

[2020-08-31 15:44] mixalako commented on #1800
Did anyone find how to solve this ? Logs are not working no matter what,  with the same error .

[2020-09-01 02:55] slj211 opened #2118 "keadm join fault on arm64"
利用keadm 加入集群时 提示：
MQTT is installed in this host
Expected or Default KubeEdge version 1.4.0 is already downloaded
Output failed:  exit status 127
Error: failed to run command(cd /etc/kubeedge/ && sudo wget -k --no-check-certificate https://raw.githubusercontent.com/kubeedge/kubeedge/release-1.4/build/tools/edgecore.service), err:exit status 127

[2020-09-01 07:51] daixiang0 commented on #2117
@slj211 see #1989 as a workaround.

[2020-09-01 09:22] Yellow-L commented on #2105
Change channel size to 2048 can't solve this problem, clean all nodes and re-join 500 nodes could reproduce it.

[2020-09-01 10:23] luogangyi opened #2119 "wrong resource version compare in synccontroller"
**What happened**:
sync controller not works correctly in some condition when resource version like "1234" and sync version like "321"

**What you expected to happen**:
sync controller works corrently.

**How to reproduce it (as minimally and precisely as possible)**:
condition like resource version ="1234" and sync version = "321"

**Anything else we need to know?**:
GetResourceVersion returns st

[2020-09-01 10:23] luogangyi commented on #2119
/assign

[2020-09-01 14:28] #2119 closed

[2020-09-01 15:10] luogangyi commented on #2105
So, if we add edge node slowly, will it be OK ?

[2020-09-01 15:15] luogangyi commented on #2118
Exit status 127 means Command Not Found.
You can test whether you can use "wget"

[2020-09-02 02:31] #2113 closed

[2020-09-02 03:21] slj211 commented on #2118
run manually  this command is ok

[2020-09-02 03:29] slj211 opened #2121 "when deploment app to node ,Container keeps pending"
1、**journalctl log:**
   I0902 11:02:08.311691    4542 edged.go:844] worker [2] get pod addition item [nextcloud-app-rv6xb]
Sep 02 11:02:08 node1021 edgecore[4542]: E0902 11:02:08.311834    4542 edged.go:847] consume pod addition backoff: Back-off consume pod [nextcloud-app-rv6xb] addition  error, backoff: [2m40s]
Sep 02 11:02:08 node1021 edgecore[4542]: I0902 11:02:08.312008    4542 edged.go:849]

[2020-09-02 03:30] slj211 commented on #2121
in version 1.2 ,this deployment worked.

[2020-09-02 05:29] #1583 closed

[2020-09-02 08:52] guojianyu opened #2123 "the cloudcore message must be persistent that suggest surport cloudcores really are multiple replicas ,high availability."
**What would you like to be added/modified**:
  the cloudcore message  should be persistent.
**Why is this needed**:
  kubectl edit/delete resources and the message  has been write to the channel,but edgenodes do not receive . then cloudcores restart that  the resource operation is loss.
    the edgenode  data will do not update only  wait next the  resource operation .

[2020-09-03 02:02] slj211 commented on #2121
主机端口冲突了。

[2020-09-03 02:02] #2121 closed

[2020-09-03 02:45] ShaPoHun opened #2124 "Error: can't support this architecture of CentOS: aarch64"
## problem
[code]

## System and software environment
[code]

## How to solve it?

[2020-09-03 06:59] stanluk commented on #2041
Dear @luguanglong , can You share a progress of this task? I am just starting to create my custom IoT solution with kubeedge and was thinking about making similar thing.
I assumed that my solution will have two pieces - first some general mapper library that will abstract communication over mqtt, handle twin updates and so on... second piece will be a code generator binary which will from deviceMo

[2020-09-03 08:37] GsssC commented on #1642
@XJangel can user config domain in cloudcore's ca now?

[2020-09-03 08:40] ls889 commented on #1642
ca? maybe you mean cert？

[2020-09-03 08:46] GsssC commented on #1642
@ls889 yes and welcome pr :)

[2020-09-03 08:53] XJangel commented on #1642
yep, it is in the list and will be done these days.

[2020-09-03 09:01] GsssC commented on #2124
It seems that AArch64 and ARM64 refer to the same thing by [Differences between arm64 and aarch64](https://stackoverflow.com/questions/31851611/differences-between-arm64-and-aarch64)

Have you tried succesfully run [kubeedge-v1.4.0-linux-arm64.tar.gz](https://github.com/kubeedge/kubeedge/releases/download/v1.4.0/kubeedge-v1.4.0-linux-arm64.tar.gz) manually on your device?

If not maybe you need bu

[2020-09-03 09:12] GsssC commented on #2123
What's ur kubeedge-version?
Resource at edgenode which is older than cloud will be renewed by sync-controller in cloudcore ever 5 seconds.

refer to [synccontroller](https://github.com/kubeedge/kubeedge/blob/master/docs/proposals/reliable-message-delivery.md#synccontroller).

[2020-09-03 09:26] luogangyi commented on #2123
see https://github.com/kubeedge/kubeedge/blob/master/docs/proposals/reliable-message-delivery.md
but the proposal is not fully implemented.

I think you can do this based on previous design.

[2020-09-03 10:10] ShaPoHun commented on #2124
I have recompiled on AArch64 , but it still doesn't work.

It may be that the code does not support this architecture on centos.

Below is the result of my compiler:
[code]

golang environment:
[code]

[2020-09-03 10:21] ShaPoHun commented on #2124
https://github.com/kubeedge/kubeedge/blob/01d49fe8bbabf3f9d74db4a4affe5a64c7d19a41/keadm/cmd/keadm/app/cmd/util/centosinstaller.go#L78-L94

**Only x86 is supported on centos.**

[2020-09-03 10:53] GsssC commented on #2124
keadm certainly dont support, kubeedge(cloudcore and edgecore) may can

[2020-09-03 11:14] 6174495 opened #2127 "When will the PVC feature of CSI be fully supported?"
**What would you like to be added/modified**:

The latest version of Kubeedge (2020/9/3) does not support the PVC feature of CSI, and many functions have no content.

kubeedge\edge\pkg\metamanager\client\persistentvolumeclaim.go
line 40

`
func (c *persistentvolumes) Create(pv *api.PersistentVolume) (*api.PersistentVolume, error) {
	return nil, nil
}

func (c *persistentvolumes) Update(pv *api.Per

[2020-09-04 04:30] Poor12 opened #2128 "Avoid evicting pods when edge nodes are not ready"
**What would you like to be added/modified**:
Now，when the edge node is offline, the NodelifecycleController cannot detect the heartbeat of the edge node, and sets the state of the edge node to notready. At the same time, the endpoint controller deletes the endpoints corresponding to all pods of this lost node from the service load chain. The edge node delete the corresponding iptables/ipvs rules

[2020-09-04 05:53] Yellow-L commented on #2105
Kubernetes APISERVER panic:
[code]

[2020-09-04 06:24] wuqihui0317 opened #2129 "bug occur when 2 device of multiple namespaces bind to same node"
**What happened**:
I create 2 device of multiple namespaces bind to same node, but cloudcore unable to create second-device configmap. What's more, it's unable to handle the first configmap.
**What you expected to happen**:
Solve the bug.
**How to reproduce it (as minimally and precisely as possible)**:
Create 2 device of multiple namespaces bind to same node
**Anything else we need to know?**:
Ac

[2020-09-04 06:35] #2078 closed

[2020-09-04 08:06] guihecheng commented on #2088
Trying to fix this myself, working in progress.

[2020-09-04 09:14] daixiang0 commented on #2124
@ShaPoHun you can add case check at local to test, if succeed, you can post a pr to fix this.

[2020-09-04 11:19] slj211 commented on #2118
there no sudo on my device

[2020-09-04 11:19] #2118 closed

[2020-09-05 04:23] #1095 closed

[2020-09-05 10:39] #1579 closed

[2020-09-06 08:12] zhangyang1997 opened #2138 "keadm init error"
[root@localhost bin]# ./keadm init --advertise-address="192.168.96.128"

Kubernetes version verification passed, KubeEdge installation will start...
--2020-09-06 00:55:15--  https://raw.githubusercontent.com/kubeedge/kubeedge/master/build/crds/devices/devices_v1alpha2_devicemodel.yaml
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133,

[2020-09-06 13:19] zhangyang1997 commented on #2138
https://www.ioiox.com/archives/62.html

[2020-09-06 13:19] #2138 closed

[2020-09-07 06:45] fisherxu opened #2140 "Use device API both on cloud and edge"
**What would you like to be added/modified**:
Now we have defined device API in the cloud side, but the edgeside(edgecore and mapper) still don't use the API, we should refact edgeside and use same API on cloud and edge to reduce complexity.

[2020-09-08 00:35] s099064146 opened #2141 "keadm reset does not stop edgecore"
**What happened**:

Manually used `keadm reset` but the notification log is not correct:
[code]
There are two problems.
1. There is no such edgecore.log (Now it is changed to `journalctl -u edgecore.service -b`)
[code]
2. Edgecore is still running, and the log lied to me.
[code]
![image](https://user-images.githubusercontent.com/40239192/92421672-54f17280-f1ac-11ea-8c60-13ebc64a54f6.png)

**What y

[2020-09-08 00:52] daixiang0 commented on #2141
It is a bug i think, keadm uses systemd to start but not use it to stop.

[2020-09-08 01:16] fisherxu commented on #2140
Support list-watch from edgecore for applications is in our roadmap, xref: https://github.com/kubeedge/kubeedge/issues/1758, we need to add proxy tunnel to support list-watch from edgecore, then can call K8S api.

And now the device api in edge has no namespace, it's not k8s style.

[2020-09-08 02:41] #1786 closed

[2020-09-08 03:03] #2106 closed

[2020-09-08 03:44] #1689 closed

[2020-09-08 04:47] lmxia opened #2142 "how to restart cloudcore and edgecore."
**What happened**:
I don't know how to restart cloudcore and edgecore.
**What you expected to happen**:
Modify /etc/kubeedge/config/cloudcore.yaml or /etc/kubeedge/config/edgecore.yaml of cloudcore and edgecore.
We have to restart the cloudcore and edgecore.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
I used keadm to start cloudcore and ed

[2020-09-08 05:54] kevin-wangzefeng commented on #2142
/kind document

[2020-09-08 05:55] kevin-wangzefeng commented on #2142
/remove-kind bug

[2020-09-08 05:55] kevin-wangzefeng commented on #2142
/kind documentation

[2020-09-08 06:01] luogangyi commented on #2142
normally, you can find the pid by `ps aux|grep cloudcore` and kill it `kill -9 PID`
and run it again `PATH/cloudcore &`

For test, I suggest you can run cloudcore and edgecore in systemd, see [Run cloudcore in systemd](https://github.com/kubeedge/kubeedge/pull/2139)

[2020-09-08 06:03] lmxia commented on #2142
just use cloudcore binary cmd, how to restart cloudcore? Or Run as a pod, there is no document.

[2020-09-08 06:06] lmxia commented on #2142
Yes, I did this, then the node become notready,  i will try again, thanks.

[2020-09-08 06:34] #2142 closed

[2020-09-08 07:38] #1967 closed

[2020-09-08 16:26] luogangyi commented on #2140
seem great！ current device management code is too complicated and hard to maintain

[2020-09-08 16:29] zzxgzgz commented on #2141
Hi @s099064146,

Can you attach the output for executing the `keadm reset` command? I wonder if there's any error. The command should stop and delete the edgecore service but seems like it failed somehow.

[2020-09-08 17:51] skdwriting opened #2144 "[FeatureRequest] Heterogeneous Edge Data Management"
**What would you like to be added/modified**:
Edge Data Management for KubeEdge
[Could be based on CSI and possible connection to SODA (github.com/sodafoundation) for heterogeneous data management]

**Why is this needed**:
More data at edge and it is exploding. Hence, the need for data management at Edge is getting increased. If we can provide heterogeneous and distributed data management at Edge,

[2020-09-08 21:55] s099064146 commented on #2141
@daixiang0
Thanks! Then, I need to check how to fix it.
@zzxgzgz
May I ask where could I find this output? I thought it only gave me this since the "improvement" of missing the **edgecore** log file.

![image](https://user-images.githubusercontent.com/40239192/92531527-0c47c100-f261-11ea-8ec5-5878c6dc5e7b.png)

[2020-09-08 22:50] zzxgzgz commented on #2141
@s099064146 Thank you for your screenshot and reply.

It seems like the command to stop edgecore executed successfully.

Can you try this:
1. After edgecore is started, run `keadm reset`
2. Before running `keadm join...` again, run `systemctl status edgecore` and see what is the output(and paste it here)? I wonder if the edgecore service is stopped and removed successfully.
3. If edgecore service

[2020-09-09 00:43] s099064146 commented on #2141
@zzxgzgz
Thanks!

[2020-09-09 02:18] kexun opened #2145 "ClusterObjectSyncSpec field naming error"
在文档 "kubeedge/docs/proposals/reliable-message-delivery.md"中，有两个结构体字段命名拼写可能有点问题

the definition of
// ClusterObjectSyncSpec stores the details of objects that sent to the edge.
type ClusterObjectSyncSpec struct {
    // Required: ObjectGroupVerion is the group and version of the object
    // that was successfully sent to the edge node.
    _**ObjectGroupVerion string `json:"objectGroupVerion,omite

[2020-09-09 02:35] kevin-wangzefeng commented on #1642
reopening as not all the tasks done.
/open

[2020-09-09 02:39] ls889 commented on #1642
@fisherxu /cc  Please update the status of the tasks.  :)

[2020-09-09 03:01] fisherxu commented on #1642
Done. :)

[2020-09-09 03:50] #1816 closed

[2020-09-09 06:02] luogangyi commented on #2145
I think you are right， would you like to fix this by PR ?

[2020-09-09 06:27] dingyin opened #2146 "Upgrade K8s dependency to 1.19"
**What would you like to be added/modified**:

Upgrade K8s dependency to 1.19

**Why is this needed**:

K8s has released 1.19, we need to do it.

[2020-09-09 07:15] guojianyu commented on #2123
Thx，Thank you for getting back to me.
I think  message is too complex,maintain is diffcult.
I only suggest  follow  k8s design.
the current  cloudcores  is not really high availability.that support the feature cloudcore must be persistent.
cloudcores like k8s apiserver,is a controller and data centre(cloudcores depend etcd or other?)
edgenode like k8s node or operator  is a stateless service ,edge

[2020-09-10 05:56] kexun commented on #2145
ok

[2020-09-10 06:09] niuqg commented on #1794
You can check what's in your $PATH by running echo $PATH. Maybe you need to set `$PATH`.
[code]

[2020-09-10 07:13] Ma-Dan opened #2148 "Pod get stuck in pending on some edge node"
**What happened**:
On a 1 normal node + 3 edge nodes cluster, deploy a nginx deployment with node selector to edge nodes, 3 replicas, only 2 pod running, 1 pod stuck in pending.

**What you expected to happen**:
All pods get running

**How to reproduce it (as minimally and precisely as possible)**:
Apply following yaml
[code]

**Anything else we need to know?**:
Nodes status
[code]

Pod status
[co

[2020-09-10 07:19] #2105 closed

[2020-09-10 07:24] daixiang0 commented on #1691
/hold

[2020-09-10 07:44] daixiang0 commented on #2148
@Ma-Dan could you share more details about it? Such as where do pods run on? `-o wide` would help.

[2020-09-10 08:01] Ma-Dan commented on #2148
This is the pod scheduling state
[code]

[2020-09-10 08:02] Ma-Dan commented on #2148
After a period of time, maybe 20 minutes, edgenode-1 got into NotReady state, so I rerun edgecore on edgenode-1, then it get back to Ready state, but newly deployed pod still can not run on it.

[2020-09-10 08:06] Ma-Dan commented on #2148
And this is the config on edgenode-1
[code]

[2020-09-10 08:12] qingchen1203 opened #2150 "The data in the edgecore.db database is scattered and incomplete"
**What happened**:
When I use the sqlite3 tool to view the edgecore.db database data, I found that part of the data is scattered and incomplete.
E.g 1：
When getting current edge node information (`type = node`) from the database ， only get “OK”：
`table: meta`
`key: default/node/k8s-edge`
`type: node`
`value: "OK"`
and another field `nodestatus` saves node status information.
The k8s resource objec

[2020-09-10 08:16] daixiang0 commented on #2148
First, running pod has no ip ==> you bind wrong interface when start edgecore
Second, the ready state of node-1 i think it is temporary, since node is not stable, pod is in pending state.

[2020-09-10 08:25] Ma-Dan commented on #2148
The internal IP is specified and reported to cloudcore
[code]

[2020-09-10 15:03] luogangyi commented on #2148
it seems you are hit the bug, see https://github.com/kubeedge/kubeedge/pull/2120
try update cloudcore

[2020-09-11 02:24] #1593 closed

[2020-09-11 04:50] alan0415 opened #2152 "Pod in error status while using deployment, specify port in hostPort"
**What happened**:
I have one PC as cloud node and one Raspberry pi 4 as edge node in my cluster. I used deployment to deploy grafana at edge node; use hostPort so I can access it with edge-IP:3000.
I deployed it at edge, found that it worked at first; but after a few second, it try to restart pods, and turn pod status into error. But the weird thing is I checked the container status running at ed

[2020-09-11 08:03] daixiang0 commented on #2152
@alan0415 hi, i see you still use 1.2.1, but the lastest release version is 1.4.0, please try it :)

[2020-09-11 08:19] alan0415 commented on #2152
@daixiang0  OK I will give it a try. Thanks for your advice :)

[2020-09-11 13:40] alan0415 commented on #2152
The same problem wasn't seen at version 1.4.0, so I closed this issue.
Thanks again to @daixiang0

[2020-09-11 13:40] #2152 closed

[2020-09-12 06:48] daixiang0 commented on #2150
I can not reproduce it with latest version(v1.4):
[code]

[2020-09-12 07:48] #2124 closed

[2020-09-12 13:26] Oliveirakun opened #2154 "Container can't be deployed to raspberry pi edge device"
**What happened**:
When I try to deploy a nginx container to a raspberry pi edge node, k8s show this message in container status:
[code]

**What you expected to happen**:
The expected was to container run normally

**How to reproduce it (as minimally and precisely as possible)**:
Apply this manifest to deploy nginx to a raspberry pi 3 edge node:
[code]

**Anything else we need to know?**:

Node st

[2020-09-13 04:17] Oliveirakun commented on #2154
I reinstalled everything from scratch and it worked :pray:

[2020-09-13 04:17] #2154 closed

[2020-09-14 01:35] lvfei103650 commented on #2148
I also Encountered this problem。But my cloudcore is kubeedge v1.4.0 ,edgecore is also kubeedge v1.4.0 . Do you solve this problem？

[2020-09-14 02:53] #1619 closed

[2020-09-14 03:06] #1820 closed

[2020-09-14 05:15] #1597 closed

[2020-09-14 12:15] #1582 closed

[2020-09-14 15:02] zhangyang1997 opened #2155 "KubeEdge Counter Demo is not working properly"
**What happened**:
KubeEdge Counter Demo is not working properly
**What you expected to happen**:
use [kubectl get pods -o wide] can get ke-edge1's IP and use [docker logs -f counter-container-id] can get count value.

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`): v1.4.0
**CloudSide Environment**:
- Hardware configuration (e.g. `lscpu`):Intel(R) Xeon(R) Gold 6126 CPU @

[2020-09-15 02:10] zhangyang1997 commented on #2155
# vim /etc/kubernetes/manifests/kube-apiserver.yaml
Add the following flags in spec: containers: -command section
- --insecure-port=8080
- --insecure-bind-address=0.0.0.0

[2020-09-15 02:10] #2155 closed

[2020-09-15 07:35] Yellow-L opened #2156 "cloudcore readiness gate show error status"
**What happened**:
cloudcore HA READINESS GATES show error status
[code]

**What you expected to happen**:
only one pod's readiness gate is ready at same time

**How to reproduce it (as minimally and precisely as possible)**:
delete cloudcore pod

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`):
1.3.0

[2020-09-15 12:40] jxhsjxhs opened #2159 "Does Kubeedge support Windows?"
Does Kubeedge support Windows?

I see the relevant file has a Windows record but I don't know if it is supported.

[2020-09-15 12:46] kevin-wangzefeng commented on #2159
It's on our todo list, not yet completed.

[2020-09-15 15:04] #1947 closed

[2020-09-16 02:59] GsssC opened #2160 "go mod tidy error: looping trying to add package"
**What happened**:
Error when devlop and use `make verify` to update vendor.
[code]

[k8s-CHANGELOD-1.19](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.19.md) shows  The alpha DynamicAuditing feature gate and auditregistration.k8s.io/v1alpha1 API have been removed and are no longer supported. (#91502, @deads2k) [SIG API Machinery, Auth and Testing].
![image](https://us

[2020-09-16 06:42] daixiang0 opened #2161 "Add kubectl related e2e tests"
**What would you like to be added/modified**:

Ref to [kubernetes](https://github.com/kubernetes/kubernetes/tree/master/test/e2e/framework/kubectl) add kubelet related e2e tests.

**Why is this needed**:

After #2075, we will support logs/metrics/exec for kubectl, while we have no tests to do it.

[2020-09-16 06:47] daixiang0 commented on #2160
Seems you have upgraded k8s vendor to 1.19, while we still on 1.18 :(

It would be better to be marked as question i think,

[2020-09-16 07:06] GsssC commented on #2160
Thx for ur comment.
I have found why !

Module kubeedge never rely on `k8s.io/cluster-bootstrap` before,  so `go mod tidy` will auto rely on the lasted verion `v1.19.1`, although its peer module belong to `k8s.io/` all is `v1.18.6`.

`go mod tidy` comes to ok to require `k8s.io/cluster-bootstrap v1.18.6` .

: )

[2020-09-16 07:11] GsssC commented on #2160
@daixiang0
But it seems some error when `bash hack/verify-vendor-licenses.sh` and stderr too long to capture all , how to solve it?
![image](https://user-images.githubusercontent.com/29768082/93303684-74347380-f82e-11ea-9370-5ece94f9f39e.png)

[2020-09-16 07:47] daixiang0 commented on #2160
Seems it is broken, you should use Go1.14+ version,

[2020-09-16 07:55] daixiang0 commented on #2160
/label triage/support

[2020-09-16 07:59] GsssC opened #2162 "Discussion: Support cloudcore to run as system service"
**What would you like to be added/modified**:
Support CloudCore run as service :

- [x] fix some bugs of run edgecore as systemd service

- [ ] support cloudcore run as systemd service

- [ ] add option to keadm, for users to indicated whether cloudcore to be installed as a system service or deployment in K8s

- [ ] update document of [keadm.setup](https://github.com/kubeedge/kubeedge/blob/master/

[2020-09-16 09:34] GsssC commented on #2160
@daixiang0 I am using Go1.14.8.

[2020-09-17 04:08] qingchen1203 commented on #2150
Based on commit [update keadm to get latest version from kubeedge.io 2020/8/14 <cc28535a717dc4cac96f406bcd2c5c689cef7e0d> ]   to add my own feature version.

![image](https://user-images.githubusercontent.com/25947812/93418874-e87a2000-f8dd-11ea-8eae-ab6c07af672b.png)

[2020-09-17 06:23] GsssC commented on #2160
@daixiang0
To use `make verify > ~/out 2>&1`, I found the useful imformation of `Your LICENSES tree is out of date. Run hack/update-vendor-licenses.sh and commit the results.`
May we could stop the output of diff, which makes it hard to find the useful information, and too long and detail.
![image](https://user-images.githubusercontent.com/29768082/93427805-056c1e80-f8f1-11ea-923b-355f2e223125.png

[2020-09-17 06:27] daixiang0 commented on #2160
It is same as k8s does, if `verify-xxx` failed, should run `update-xxx` to fix it.

Let's do it since helpful for developers :)

[2020-09-17 09:02] GsssC opened #2168 "Stop to output the detail of licenses diff"
**What would you like to be added/modified**:
When developer use `make verify` to vefity vendor-license, it log out too long information and make it hard to get useful information. Out put below have 18000+ lines:
![image](https://user-images.githubusercontent.com/29768082/93448642-68b47b80-f906-11ea-926f-c5f71097e9e9.png)

[2020-09-17 09:20] #2160 closed

[2020-09-17 11:58] #1575 closed

[2020-09-18 02:59] guihecheng opened #2171 "odd timeout wait for sync response while report response received at the same time"
**What happened**:
Got an odd timeout log message on, both "timeout" and "succeed" for a single parent message.
1. timeout

2. succeed

**What you expected to happen**:
If we see "succeed", we shall not see the "timeout"

**How to reproduce it (as minimally and precisely as possible)**:
0. Suppose you have a running KubeEdge cluster.
1. Turn edgecore log level to at least 2 (to see the "succeed" m

[2020-09-18 04:15] jxhsjxhs commented on #2159
thx

[2020-09-18 04:15] #2159 closed

[2020-09-18 05:38] GsssC commented on #2171
The first message comes from : https://github.com/kubeedge/kubeedge/blob/c85edd583511bd6a2876da62c69d471307d7040c/edge/pkg/edgehub/process.go#L149

it shows edgehub received a sync-message and sent it to cloud successfully, but can not get sync-resp.

The second message comes from : https://github.com/kubeedge/kubeedge/blob/c85edd583511bd6a2876da62c69d471307d7040c/edge/pkg/metamanager/process.go#L

[2020-09-18 06:11] guihecheng commented on #2171
@GsssC yes, the prefix suggestion is really useful, because there are so much files with the same names under different directories.

[2020-09-18 06:54] #2168 closed

[2020-09-18 07:08] Yellow-L opened #2176 "pods stucked at Terminating status and can't delete."
**What happened**:
pods stucked at status of Terminating, can't delete by kubeedge.
**What you expected to happen**:
pod restart and running.
**How to reproduce it (as minimally and precisely as possible)**:
N/A
**Anything else we need to know?**:
restart edgecore, then edged receive all pods resource from metamanager which pod.DeletionTimestamp is not null, so edgecore can't creat or delete these

[2020-09-18 07:48] daixiang0 commented on #2176
Try `kubectl delete --force --grace-period=0`.

[2020-09-18 07:58] Yellow-L commented on #2176
@daixiang0 delete manually is ok, but is there a way to delete these Terminating pods automaticly for a large scale cluster?

[2020-09-18 08:07] daixiang0 commented on #2176
Treminating pods mean something in process, it is hard to handle automaticly in k8s too, especially in a large cluster.

[2020-09-18 08:13] Yellow-L commented on #2176
yes, maybe volumes or cgroup deletion error encountered, or docker rpc error.

[2020-09-18 11:50] shashidharatd commented on #1334
@fisherxu , so if we need application ditribution managed from cloud. But deploy some cluster services at edge cluster managed locally. can the current architecture of kubeedge support this scenario?

/cc @kevin-wangzefeng

[2020-09-19 01:19] daixiang0 opened #2177 "Support edgecore run in container"
**What would you like to be added/modified**:

Support edgecore run in container.

**Why is this needed**:

Now we have `hack/local-up-cluster.sh` to run a cluster including one edge node in a single machine, it would be useful for multi-edges cluster test for both develop and benchmark in a single machine.

To support it, we need optimize process check way since now we only check process exist wh

[2020-09-19 01:35] kevin-wangzefeng commented on #2177
We already supported edgecore running inside container for tests IMO, please add the details you are proposing to do here.
xref:
- https://github.com/kubeedge/kubeedge/blob/master/docs/proposals/perf.md
- https://github.com/kubeedge/kubeedge/blob/master/build/edge/Dockerfile

[2020-09-19 02:06] daixiang0 commented on #2177
Yep, i would update desribtion since this container can succeed in build but can not run any pods.

[2020-09-19 02:16] fisherxu commented on #2177
`Local-up` cluster used to fast deploy and debug for developers in local host, and for general use case, one edgenode is enough. If it's necessary to run edgecore as container, we can add the flag to control.

[2020-09-19 02:24] daixiang0 commented on #2177
For edge side network test, one is not enough.

Also, the root problem is that edgecore can run in container but failed to start any pods.

[2020-09-19 02:46] #1544 closed

[2020-09-19 08:06] #1608 closed

[2020-09-20 19:25] #1332 closed

[2020-09-22 07:41] lmxia commented on #1613
The same promlem!  did you figure it out?

[2020-09-22 14:52] kevinzs2048 opened #2183 "edgecore service fail to download when keadm setup edgecore, should skip download when it exists"
**What would you like to be added/modified**:
Skip the service fail to download when keadm setup edgecore.

Should skip the download from internet when it exists
**Why is this needed**:
Or it will always fail when network problem..

[2020-09-23 02:30] kevin-wangzefeng commented on #1560
Reopening since the whole plan is not yet complete

[2020-09-23 08:03] myxland commented on #2068
@wknet123 Hi~have u solve it?

[2020-09-24 02:16] daixiang0 commented on #2161
/milestone v1.5

[2020-09-24 10:05] #1171 closed

[2020-09-24 12:09] Yellow-L opened #2190 "keadm init/reset panic"
**What happened**:
panic with command init/reset when cloudcore already running/stoped.
[code]
**What you expected to happen**:
no panic

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`):
1.4.0

[2020-09-25 00:47] daixiang0 commented on #2190
@Yellow-L The root cause is not panic, it is that **second reset** should run without error.

[2020-09-25 01:52] Yellow-L commented on #2190
@daixiang0 ok, I'll try to optimize these repetitive command execution errors :)

[2020-09-25 02:08] daixiang0 commented on #2161
Refer to [doc](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/e2e-tests.md#the-pr-builder), not run any tests including Slow/Serial/Flaky/Feature.

[2020-09-25 05:45] vhuang0501 commented on #2008
edgecore.yaml

edged.podSandboxImage: kubeedge/pause-arm64:3.1

[2020-09-25 09:12] vhuang0501 opened #2195 "edgecore start exception"
**What happened**:

The following situations occur during use：
cloudcore status ready
[code]

but the edge service container did not start, cannot be found node-exporter pause using  docker ps  -a

**Anything else we need to know?**:

Yesterday it was normal, I don’t know what operation caused it

The error log that can be found shows the following：

[code]

**Environment**:

[code]

[code]

[code

[2020-09-26 13:42] alanisaac opened #2196 "Documentation Fixes"
### Request
I was wondering if the maintainers of this project would be open to small enhancements from the community in documentation files to fix spelling, grammar, and other points of clarity.  Below, I've listed some examples of what I mean, though there are many more I did not list.

If the maintainers are open to it, I'd be happy to do a fuller run-through of the documentation as well to hel

[2020-09-26 14:06] anvithks commented on #2196
Hi @alanisaac Thank you for the suggestions.
If you are comfortable using GitHub and interested in contributing, you can fork this repository and make changes to the docs located here [https://github.com/kubeedge/kubeedge/tree/master/docs](https://github.com/kubeedge/kubeedge/tree/master/docs)

I am pretty sure the maintainers will be more than happy for the contributions.

[2020-09-26 21:14] alanisaac commented on #2196
@anvithks sounds good, will do.

[2020-09-26 22:48] skdwriting opened #2198 "Master branch build fails"
**What happened**:
Tried to build for x86 from x86 using the following commands:
git clone https://github.com/kubeedge/kubeedge.git $GOPATH/src/github.com/kubeedge/kubeedge
cd $GOPATH/src/github.com/kubeedge/kubeedge/
export GOARCH=amd64
export GOOS="linux"
export CC=gcc
make all

[Tried **make edgecore** -- failed, make clean looks like working]
]
FAILED:
root@sanildell:~/gopath/src/github.com/ku

[2020-09-27 00:43] daixiang0 commented on #2198
@skdwriting now we use Go1.14+ to build.

[2020-09-27 00:47] daixiang0 commented on #2195
@vhuang0501 seems your env is broken:
[code]
Is it a VM? Does any change occur?

[2020-09-27 01:17] vhuang0501 commented on #2195
It's Raspberry Pi. I have the same docker info on another Raspberry Pi that is running normally. I think a cgroup with only memory will cause startup failure, and I want to ask how to locate the possible cause of this problem and avoid it.

[2020-09-27 01:37] daixiang0 commented on #2195
You need to google for that enable cfs quota for docker in Raspberry.

[2020-09-27 03:03] GsssC commented on #2190
@Yellow-L As what I say https://github.com/kubeedge/kubeedge/pull/2139#issue-481016262

For my view, panic here makes users nervers, no help for debug. Better change to `klog.Error`

[2020-09-27 05:54] Yellow-L commented on #2190
@GsssC Changed from klog.Errorln to klog.Error, expost panic to end users would be unwise.

[2020-09-27 08:01] Yellow-L opened #2201 "keadm can't change edgecore's cgroup configuration from default cgroupfs to systemd"
**What happened**:
Rewrite edgecore configuration from cgroup cgroupfs to systemd, rejoin edge node via keadm. Cgroup configration is overwrited back to cgroupfs.

**What you expected to happen**:
Add a command line flag to enable cgroup configuration.

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`):
1.4.0

[2020-09-27 08:03] daixiang0 commented on #2201
It is a wrong action indeed, since `keadm` would generate new config file and overwrite old one.

So it is turely a feature :)

/kind bug cancel
/kind feature

[2020-09-28 02:19] GsssC commented on #2094
@Rachel-Shao Would u like to implement this feature? It is a good first try.

[2020-09-28 06:03] luogangyi commented on #2177
I have met the same problem and did some digging.
It seems kubelet already support running itself in container, see
https://github.com/kubernetes/kubernetes/issues/4869

I think it requires some updates and configuration.

[2020-09-28 10:36] #541 closed

[2020-09-29 01:59] #2201 closed

[2020-09-29 02:39] GsssC commented on #2196
Thx for ur contribution! could we could close this issue?

[2020-09-29 03:20] fisherxu commented on #2196
@alanisaac  We welcome all the efforts to the project :)

[2020-09-29 03:45] alanisaac commented on #2196
@GsssC I'm continuing to look over the documentation, and will make at least 1 more PR for this issue.  There are additional fixes that I think could be made to the storage and configuration documentation pages that I am working on.

[2020-09-29 09:31] sunnoy opened #2214 "pod recreate when node network interrupt for long time"
**What happened and what you expected to happen**:

1- node lost because network interrupt for long time ，about 10min
2- node network is ok
3- pod runing in that node can recreated ！

**Environment**:
<details><summary>Kubernets Version</summary>

[code]

</details>

<details><summary>CloudCore Version</summary>

[code]

</details>

<details><summary>EdgeCore Version</summary>

[code]

</details>

[2020-09-29 11:51] lvfei103650 opened #2215 "deploy cloudcore through containerization by nodePort，but kubectl logs podname function failure"
**What happened**:
deploy cloudcore through containerization，but  kubectl logs podname function failure
**What you expected to happen**:
kubectl logs podname function success
**How to reproduce it (as minimally and precisely as possible)**:
1. kubectl create configmap cloudcore -n kubeedge --from-file=cloudcore.yaml=/etc/kubeedge/config/cloudcore.yaml
2. kubectl create configmap kubeconfig -n kube

[2020-09-29 16:44] sourabhsingh282 commented on #2140
@fisherxu hi, I'm interested in working on this project as part of community bridge. I also applied on the website for the same. I would he happy to discuss more about the project and provide more information. Can you please help me getting started? :)

[2020-09-30 01:18] daixiang0 commented on #2215
Please refer to this [doc](https://docs.kubeedge.io/en/latest/setup/keadm.html#enable-kubectl-logs-feature) :)

[2020-09-30 01:20] daixiang0 commented on #2215
/remove-kind bug
/kind question

[2020-09-30 01:23] daixiang0 commented on #2215
/help

[2020-09-30 01:24] daixiang0 commented on #2198
/remove-kind bug
/help

[2020-09-30 01:24] daixiang0 commented on #2196
/kind documentation

[2020-09-30 01:37] eternally123 opened #2217 "kubeedge build has something wrong"
**What happened and what you expected to happen**:

i exec edgecore,but something wrong happened:
（from the end line of output ,i see there is a piece of fault log:
F0929 19:20:01.829807   69391 certmanager.go:91] Error: token credentials are in the wrong format
but i don't know how to solve it,i didn't know which file i need to modify?or i missing some operation？
）

**How to reproduce it (as mini

[2020-09-30 01:51] daixiang0 commented on #2217
Please refer to latest doc and try latest release, after 1.4, no need to copy cert from cloud to edge.

[2020-09-30 01:51] daixiang0 commented on #2150
/remove-kind bug
/help

[2020-09-30 01:53] daixiang0 commented on #2059
/close

[2020-09-30 01:53] #2059 closed

[2020-09-30 01:54] daixiang0 commented on #2057
/close

[2020-09-30 01:54] #2057 closed

[2020-09-30 01:54] daixiang0 commented on #2055
/kind feature

[2020-09-30 01:55] daixiang0 commented on #2052
@Yellow-L could you try with latest release to ensure its existence?

[2020-09-30 01:57] daixiang0 commented on #2004
Use `sudo netstat -ntlp` to see which process listen this port.

[2020-09-30 01:57] daixiang0 commented on #1993
/remove-kind bug
/help

[2020-09-30 01:59] #1832 closed

[2020-09-30 06:24] Yellow-L commented on #2052
@daixiang0 ok :)

[2020-09-30 06:58] yangchenliang commented on #2215
1、cloudcore deployed in pod and expose it as hostnetwork type,  working fine.
2、if exposed cloudcore by nodePort service，kubectl logs failed when refer to that doc above. Because traffic can not be send to cloudcore deployed in  pod.
3、so when exposed cloudclore by nodePort service,  what iptables rule should be configrured？
     we try iptables rule  such  as below, unfortunately  kubectl logs fa

[2020-09-30 08:41] eternally123 commented on #2217
but i try 1.4 with the same process, finally it occures the same problem,what should i do?

[2020-10-01 12:21] #1621 closed

[2020-10-02 11:01] taskit-deichhorn opened #2220 "x509: cannot validate certificate for 10.1.27.1 because it doesn't contain any IP SANs on edgecore"
**What happened**:
When trying to join my edgecore to my cloudcore edgecore exits with status 255 and my systemd output is: `certmanager.go:91] Error: failed to get edge certificate from the cloudcore, error: Get "https://10.1.27.1:10002/edge.crt": x509: cannot validate certificate for 10.1.27.1 because it doesn't contain any IP SANs`

**What you expected to happen**:
I expected it to join to my c

[2020-10-03 00:34] Geethree opened #2221 "How do we actually install kubeedge into a cluster?"
Greetings!

So I've poked around a bit.. to me it seems that `keadm init` is meant to be ran on a node that will become apart of a k8s cluster of masters?

I attempted to install the manifests at https://github.com/kubeedge/kubeedge/tree/release-1.4/build/cloud but those resulted in not having CRDS.

Appling the crds in https://github.com/kubeedge/kubeedge/tree/release-1.4/build/crds/devices .. fa

[2020-10-07 02:23] daixiang0 commented on #1881
Update.

[2020-10-07 02:26] daixiang0 commented on #1893
/lifecycle frozen

[2020-10-07 02:28] daixiang0 commented on #1821
/lifecycle frozen

[2020-10-07 02:29] daixiang0 commented on #2217
Same process? NO NEED cert copy in v1.4.

[2020-10-07 02:33] daixiang0 commented on #2215
Try use node_ip replease with host_ip.

[2020-10-07 15:17] ttlv commented on #2195
myable you can lock your kernal version when you use apt updated command to update your pkgs in your system.There are do have something wrong in 5.4.42-v8 kernel, Please use sudo apt-mark hold raspberrypi-kernel command to lock and don't update to 5.4.42-v8 kernel,your edgecore may work well.

[2020-10-07 16:31] zzxgzgz commented on #2221
What does the cloudcore's log say when you do `keadm init ...`?  Logs are available at `/var/log/kubeedge/cloudcore.log`

[2020-10-09 00:54] luotian-github commented on #1909
updated 1.3.1,   close this issue

[2020-10-09 00:54] #1909 closed

[2020-10-09 06:24] yangchenliang commented on #2215
it is not ok

[2020-10-09 08:59] daixiang0 opened #2226 "kubectl logs return extra linebreak"
**What happened**:

**What you expected to happen**:

Only return one byte data.

**How to reproduce it (as minimally and precisely as possible)**:

- run `hack/local-up-kubeedge.sh`
- apply a nginx deployment
- run `kubectl logs --limit-bytes=1` to get nginx log

**Anything else we need to know?**:

The root cause is that we always add linebreak for data whatever it has, see code [here](https://g

[2020-10-09 09:54] GsssC commented on #2215
Are you sure that iptables are set at machine that has been deployed api-server