[2022-06-30 18:00] algobot76 commented on #3999
/assign

[2022-07-01 06:20] siredmar commented on #3295
@OJumpyo so what was the issue then? Would you mind telling us?

[2022-07-01 08:50] falser101 commented on #4001
https://github.com/kubeedge/kubeedge/blob/master/cloud/pkg/router/utils/http/http.go#L45

[2022-07-01 20:58] siredmar opened #4006 "cloudcore crashes when nodes were previously registered"
**What happened**:
cloudcore crashes and does not recover in the following scenario:
1. cloudcore is fresh
2. nodes are trying to register to edgecore before cloudcore is running
3. cloudcore stays in a crash loop and never recovers -> see logs below

edgecore logs
[code]

cloudcore logs
[code]

**What you expected to happen**:
I'd expect that cloudcore takes the new nodes as it should be

**How t

[2022-07-05 12:08] mhh12121 commented on #3736
I tried this on V1.11.0, and it works perfectly!

[2022-07-05 12:12] mhh12121 commented on #3736
Attach my edgecore logs:
[code]

Notice that it would get `Get bad anonName:4b9a517f-a7ea-4220-8042-f99003a6f7fc when sendresp message, do nothing`  error message finally. Would it affect something?

And my cloudcore logs:
[code]

[2022-07-06 03:14] vincentgoat opened #4014 "[SECURITY] Supplement documentations of best practice"
**What would you like to be added/modified**:

- [ ] Complete recommended security configuration documents
- [ ] Complete the documentation for each component on the Kubeedge. IO page
- [ ] Fix `MqttPassword` and `Token` plaintext storage in file `edgecore.yaml` problems
- [ ] Analyze and fix `InsecureSkipVerify` config of http client
- [ ] Integrate SLSA Build Provenance Action (FYI: https://gith

[2022-07-06 08:59] wackxu opened #4016 "delete"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):
- <details><summary>Cloud nodes Environment:</summary>

  - Hardware configuration (e.g. `lscpu`):
  - OS

[2022-07-06 09:14] wackxu commented on #4016
/assign

[2022-07-06 09:30] #4001 closed, assigned to nobody

[2022-07-07 02:44] tanjunchen opened #4018 "make crossbuildimage Error On Mac M1"
**What happened**:
<img width="1403" alt="image" src="https://user-images.githubusercontent.com/19339970/177679077-79781243-3afe-49fe-8dc2-35429fc6edaa.png">

**What you expected to happen**:
It will success when we run command `make crossbuildimage` on Mac m1.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
uname -a
Darwin tanjunchenMac.local

[2022-07-07 07:55] lyllove opened #4019 "why metadata of node not exsit when edgecore restart?"
**What happened and what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version v1.20.9
- KubeEdge version 1.10.0

当边端机器重启后，nodes的缓存清除了导致flannel启动失败

[2022-07-07 08:05] #4019 closed

[2022-07-07 09:20] lyllove opened #4020 "why not storage node metadata on edgecore?"
**What happened and what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version 1.10.0

当云边网络异常时，边端重启后无法拉取node信息，导致flannel插件启动失败，是不是应该支持edgecore存储nodes信息？

[2022-07-07 10:35] chairwa opened #4021 "cannot change / configure KubeletRootDir"
https://github.com/kubeedge/kubeedge/blob/aade04636415b977d9dc027888fc5b8832659cde/edge/pkg/edged/edged.go#L601

KubeEdge KubeletRootDir default to DefaultRootDir (/var/lib/edged) , and seems could not be changed / configured via edgecore.yaml.

Can we make KubeletRootDir a config item, as the way k8s kubelet root-dir option does?

[2022-07-08 09:18] wd900309jay commented on #3153
hello，this problem was resolved?I can't find the record of it,please tell me the tag which is resolved.Thank you

[2022-07-08 09:21] wd900309jay commented on #3153
hello，this problem was resolved?I can't find the record of it,please tell me the tag which is resolved.Thank you

[2022-07-11 08:19] Chen-Hongji commented on #3153
@wackxu  has submitted a fix (   #3917  ) , but the PR has not yet been merged. Need to recompile to replace edgecore and cloudcore.

[2022-07-11 10:05] Someshvemuri commented on #3999
@algobot76 I think so this may help you(I am new to the community, so I don't know about all these very well). https://docs.github.com/en/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system

[2022-07-11 19:25] siredmar opened #4044 "cloudcore crashes when edgecore's certs don't match cloudcore cert."
**What happened**:
Cloudcores certificate handling is disabled by provisioning certificates manually.
Nodes client certificate is configured for e.g. `cloudcore.example.com`, it connects to `cloudcore.kubeedge.svc.cluster.local`.
The servers certificate is also configured for `cloudcore.example.com`.

Due to the fact, that edgecore doesn't connect to cloudcore using `cloudcore.example.com` but via

[2022-07-11 19:35] #4006 closed

[2022-07-11 19:35] siredmar commented on #4006
The issue is another. See #4044

[2022-07-13 00:58] ldk273427673 opened #4048 "why the pod will restart when the edgenode is reconnected to cloudcore"
Which jobs are failing:
i want use kubeedge to mange the edgenode and i need the edgenode can autonomy
when my edgenode is offline , i can see the pod nginx on this node is running ,but when i repaire the edgenode 's network , i found the nginx pod seems to termianlly and rebuild a new nginx pod ,
i do not want the pod is the new states , why i cannot keep the pod old,

Which test(s) are failing:

[2022-07-13 02:14] Shelley-BaoYue commented on #4021
hi @chairwa, a new edged will support configue `KubeletRootDir` in next version (maybe v1.12.0).

[2022-07-13 07:23] Congrool opened #4049 "Prune ginkgo dependencies in go.sum after bump kubernetes to 1.25"
**What would you like to be added/modified**:

Prune ginkgo dependencies in go.sum, after KubeEdge supporting kubernetes 1.25.

**Why is this needed**:

Currently, we have so many dependencies on different versions of ginkgo in go.sum (recorded when commit is [9a2ee94](https://github.com/kubeedge/kubeedge/tree/9a2ee94cceba10e596c11e0c02cd44f516a22738)).
[code]

Since bump ginkgo to v2 in #3835, we

[2022-07-13 07:34] gy95 opened #4050 "Use k8s.io/component-base/cli to run cmd when bumping k8s dependencies to v1.23"
like https://github.com/karmada-io/karmada/pull/2049

[2022-07-13 07:43] #3829 closed

[2022-07-13 09:21] gy95 commented on #3829
Do you mean that we can run e2e parallelly? @Congrool

[2022-07-13 09:54] Congrool commented on #3829
I originally mean that we need a way to mark some tests to run in serial. It's the new feature of ginkgo v2 called [Serial Decorator](https://onsi.github.io/ginkgo/#serial-specs).

Currently, e2e tests of KubeEdge seem not run in parallel as ginkgo is not provided with the option `-p` in [fast_test.sh](https://github.com/kubeedge/kubeedge/blob/d187efbddff22ba51db2e7fb77678a0ba05b762f/tests/e2e/scr

[2022-07-13 10:34] mayday0208 commented on #3906
请问这个问题解决了吗？

[2022-07-14 02:08] gy95 commented on #3829
yes, can continue work about marking tests to run in serial, so that we can fasten the e2e if we run test in parallel with option `-p`.   :)

[2022-07-14 09:32] NewsYoung opened #4053 "Failed to start container manager, err: system validation failed - wrong number of fields (expected 6, got 8)"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):
- <details><summary>Cloud nodes Environment:</summary>

  - Hardware configuration (e.g. `lscpu`):
  - OS

[2022-07-15 06:01] tanjunchen commented on #4018
@gy95
[code]

[2022-07-15 06:03] tanjunchen commented on #4018
@gy95  It seems that multiarch/qemu-user-static not run well in mac m1 .

[2022-07-15 06:38] gy95 commented on #4018
not sure, do you open docker buildx function?
ref: https://medium.com/@artur.klauser/building-multi-architecture-docker-images-with-buildx-27d80f7e2408

[2022-07-17 08:51] stavbernazanv opened #4054 "Statefulset pods on edge don't get RBAC access from ServiceAccount"
**What happened**:
I'm running a statefulset for my application. It should run a pod on each edge device.
The statefulset is configured to run with a ServiceAccount with node-reader role.
When the pod runs on my edge device and I try to use a kubectl command:
`kubectl get nodes`
The pod doesn't have any context to the cluster, and I can't list my nodes.

On the other hand, when running the same St

[2022-07-17 09:25] stavbernazanv opened #4055 "Statefulset pods cannot be deleted/scheduled properly on edge devices"
**What happened**:
I deployed a Statefulset that should run on the edge devices.
When I want to delete a pod and reschedule a new one in the same statefulset, I run:
`kubectl delete pod stateful-0`
The pod gets deleted, and a new one is being deployed, only that it's always stuck in a Pending state, and never gets scheduled properly.
Only if I run:
`kubectl scale sts stateful --replicas=0`
Then wa

[2022-07-18 03:22] vincentgoat commented on #4055
Hi @stavbernazanv, Are there any logs shown in component `edgecore` and `cloudcore` about the statefulset {your_statefulset_name}?

[2022-07-18 03:24] daisy-ycguo commented on #439
+1, good idea.

[2022-07-18 03:32] vincentgoat commented on #4054
I think this will be the same problem solved by PR #3807.

[2022-07-18 04:04] vincentgoat commented on #4053
Hi, @NewsYoung Please check the content in this file `/proc/mounts` if the table line length is 6.

[2022-07-18 06:14] Aix6 commented on #3853
View the agent log. In my case, the ClusterRole  have no "list" rule in apiGroup "namespaces".

[2022-07-19 03:46] wackxu commented on #4055
/assign

[2022-07-19 03:47] wackxu commented on #4055
I had this problem recently, will fix it

[2022-07-19 07:22] stavbernazanv commented on #4055
I was planning to demo this today to provide some logs and exact statefulset example.
If you still need it let me know I can provide that

[2022-07-21 02:04] gy95 opened #4058 "Integrate more cloud components like `admission`, `csidriver`, etc. to `keadm init` container installation"
**What would you like to be added/modified**:
Integrate more cloud components like `admission`, `csidriver`, etc. to `keadm init` container installation
**Why is this needed**:

[2022-07-21 02:11] gy95 commented on #4058
And need refactor admission: maybe like what karmada does,
ref: https://github.com/karmada-io/karmada/blob/master/cmd/webhook/app/webhook.go

[2022-07-22 03:33] gy95 opened #4061 "use [helm/chart-testing-action@v2.2.1](https://github.com/helm/chart-testing) to validate chart"
use [helm/chart-testing-action@v2.2.1](https://github.com/helm/chart-testing) to validate chart
/help

[2022-07-25 08:44] dapengJacky commented on #4050
/assign

[2022-07-25 08:53] zz952332446 opened #4064 "What's the cache performance of the edge in KubeEdge?"
I know that the edge node of KubeEdge can cache, so the data can be restored locally to achieve autonomy.

Is there any test or numerical value to show the performance of the cache ability?

[2022-07-25 15:01] Justin-Young opened #4065 "Does cloudcore need to be always running, if so, how to set self-start？"
**What happened and what you expected to happen**:
if the cloudcore is not running,  the edge node becomes not ready and edgecore.service reports an error：
`Jul 25 22:28:49 raspberrypi edgecore[391]: E0725 22:28:49.658810     391 ws.go:78] dial websocket error(dial tcp 192.168.1.100:10000: connect: connection refused), response message:
Jul 25 22:28:49 raspberrypi edgecore[391]: E0725 22:28:49.658

[2022-07-26 08:00] Kimalu opened #4066 "cloudecore"
**What happened and what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):

[2022-07-26 08:00] #4066 closed

[2022-07-26 09:45] XianShiLiang opened #4067 "Does kubeedge support edgecore high availability (preventing a single point of failure), or is there a suitable high availability solution for edgecore"
**What happened and what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):

[2022-07-26 11:42] wackxu commented on #4067
In edge node, we use `systemd` to manager edgecore service, you can find the service file in  path `/etc/systemd/system/edgecore.service` dir,  so if edgecore has some failure and exit, then systemd will  start a new `edgecore` process.

[2022-07-26 11:44] wackxu commented on #4065
the first question, we need cloudcore running always,  second, In cloud, we prefer to use k8s deployment to deploy cloudcore, so if the cloudcore container exit, the k8s will restart it.

[2022-07-26 11:46] wackxu commented on #4064
`Is there any test or numerical value to show the performance of the cache ability?`

I do  not know what you mean by this? what performance do you care about?

[2022-07-26 13:07] Justin-Young commented on #4065
Thank you for your reply, I have another question: it seems that k8s does not restart the cloudcore on my machine, why is this, is there something wrong with my cluster configuration? How can I make k8s restart cloudcore automatically？

[2022-07-26 13:14] wackxu commented on #4065
Do you use k8s deployment to deploy cloudcore?  the restarPolicy in deployment is `always` by default, that means if the container is exitd, the kubelet will restart a new container.

https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#writing-a-deployment-spec

[2022-07-27 00:52] gy95 commented on #3984
Technically feasible, by test,
`# bin/kind create cluster --config example.yaml --image kindest/node:latest`
[code]
example.yaml is like below
[code]

[2022-07-27 01:32] DrewZt commented on #4065
![image](https://user-images.githubusercontent.com/37324084/181140952-922c5f1a-62b1-4bee-af93-8aba0add19b5.png)
copy to /etc/systemd/system/
then systemctl enable cloudcore

[2022-07-27 02:22] Justin-Young commented on #4065
Thank you very much! I will use systemd to control cloudcore to start automatically for now, if necessary, I will try to deploy it to k8s.

[2022-07-27 02:22] Justin-Young commented on #4065
/close

[2022-07-27 02:22] #4065 closed

[2022-07-27 07:04] fanx-chinaunicom opened #4070 "边缘edgecore重连的时候，cloudcore会丢失新的连接"
**What happened**:
边缘edgecore重连的时候，cloudcore会丢失新的连接，无法与edgecore交互和下发消息。

**What you expected to happen**:
边缘节点重启时，edgecore能正常与cloudcore交互。

**How to reproduce it (as minimally and precisely as possible)**:
1.边缘节点执行 systemctl restart edgecore.service
2.云端更新运行在该边缘节点的pod
执行上面两个步骤即可复现

**Anything else we need to know?**:
再次重启即可恢复正常连接。

**Environment**:
- Kubernetes version (use `kubectl version`):
Cli

[2022-07-27 07:07] fanx-chinaunicom commented on #4070
@fisherxu

[2022-07-27 07:08] fanx-chinaunicom commented on #4070
/assign

[2022-07-27 08:30] Cachio666 opened #4072 "can't import "guthub.com/kubeedge/kubeedge""
**What happened**:
when I import "guthub.com/kubeedge/kubeedge" in my project, there is a error happend.
<img width="1011" alt="image" src="https://user-images.githubusercontent.com/72236554/181200510-5e0d284e-36a0-4fa8-85c2-3fdddca1b9c0.png">

**What you expected to happen**:
import success

**How to reproduce it (as minimally and precisely as possible)**:
new a project & import "guthub.com/kubee

[2022-07-27 08:40] bluven opened #4073 "Why kube-proxy report Unauthorized error ?"
**What happened and what you expected to happen**:

I tried to let kube-proxy run on edge nodes,  but kube-proxy pods running on edge nodes all reported "Unauthorized error", while kube-proxy pods running on cloud nodes worked well. All of these kube-proxy pods are created from the same kube-proxy daemonset.

One log from a kube-proxy pod on cloud node:
[code]

One log of kube-proxy pod on edge no

[2022-07-27 15:12] Mrzx0925 opened #4074 "How to make [edge to cloud: eventbus->rest] in Router Manager support application/json"
**What happened and what you expected to happen**:

I hope that when [edge to cloud: eventbus->rest:], the targetResource accessed by the cloud supports application/json

**What have I done?**:
Build according to the [edge to cloud: eventbus->rest] tutorial provided by the official website

kubectl create -f create-ruleEndpoint-rest.yaml

kubectl create -f create-ruleEndpoint-eventbus.yaml

create

[2022-07-28 09:25] gy95 commented on #3984
updated the above description

[2022-07-28 09:27] gy95 commented on #3984
source codes ref:
https://github.com/gy95/kind/tree/release-v0.11

[2022-07-28 14:15] linuswagner commented on #3749
@Berndinox did you find a solution for your problem? If so, could you share it?

[2022-07-29 04:04] bluven commented on #4054
@vincentgoat I encounter the same problem with edgecore v1.9.4
[code]

A pod named kube-proxy-5x29h   on edge1 get wrong token:
[code]
Which release contains this fix?

[2022-07-29 06:45] vincentgoat commented on #4054
Hi @bluven The fix didn't merge yet, I will keep eye on the merge process.

[2022-07-29 08:35] neiba opened #4077 "cloudcore memory leak in edgecontroller downstream endpointsmanager"
**What happened**:

cloudcore memory leak happen in edgecontroller downstream endpointsmanager when k8s endpoints updated

**What you expected to happen**:

when k8s endpoints updated, endpointsmanager informer call updateFunc and push event to endpoints channel, but no consumer will receive it. When endpoints channel full, endpoints informer updateFunc halt and  informer DeltaFIFO get more and mo

[2022-07-29 10:18] linuswagner opened #4079 "CoreDNS fails to start because KUBERNETES_SERVICE_HOST is undefined"
**What happened and what you expected to happen**:
I am deploying a K8 cluster using kubeadm 1.21.0 and on top of that kubeEdge 1.8.1.
Sadly, the DNS within the cluster does not seem to work properly and I cannot access external addresses. I believe the reason is that the coredns pods are in an error state.
When I look into the logs of the coredns pods, I see the following message:

plugin/kuberne

[2022-08-01 01:15] #4072 closed

[2022-08-02 02:19] DrewZt opened #4082 "EDGE_Metrics_CONNECTOR error, 10004 i/o timeout"
**What happened**:
After edge node ran some time, it cannot connect to cloud 10004 port, but telnet to that port works fine.
logs:
8月 02 09:17:45 nx-anhua1 edgecore[11569]: E0802 09:17:45.484677   11569 edgedmetricsconnection.go:95] EDGE_Metrics_CONNECTOR Message MessageID 196643 send REMOVE_CONNECT message error write tcp 192.168.1.249:40706->*.*.*.*:10004: i/o timeout
8月 02 09:17:45 nx-anhua1 ed

[2022-08-02 08:04] kevin-wangzefeng opened #4083 "Encrypt `MqttPassword` and `Token` in file `edgecore.yaml`, encrypt key file `/etc/kubeedge/certs/server.key` and `stream.key` - @RyanZhaoXB"

[2022-08-02 08:06] kevin-wangzefeng commented on #4083
/assgin @RyanZhaoXB

[2022-08-03 03:36] bluven opened #4086 "kube-proxy couldn't get endpointslice data from metaServer"
**What happened and what you expected to happen**:

I was trying to run kube-proxy on edge nodes and configured kube-proxy to access metaServer, but it reported error like this:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
I created another kube-proxy daemonset to run edge nodes and changed kube-proxy-config for it as following:
[code]

[code]

**Anything else we need

[2022-08-03 07:52] Cachio666 opened #4088 "failed to delete deviceProfile config map"
**What happened**:
when I delete all of my device & deviceModel and recreate new device2 & deviceModel2, I found that the content of deviceProfile configmap still contains device1 & deviceModel1.

I add some output of err:
<img width="1687" alt="image" src="https://user-images.githubusercontent.com/72236554/182553817-15820830-bd8d-4e50-87db-5cdde8a52219.png">

Then I check the clusterRole of cloud

[2022-08-03 09:20] bluven opened #4090 "Pod with the same name stucks on Pending status after recreation"
**What happened**:

Sometimes I created pod with the same name, but the pod will stuck on Pending phase. After executing `docker ps`, I found that there was even no containers related to the pod.

**What you expected to happen**:

Pod data should be synchronized to edge nodes after recreation.

**How to reproduce it (as minimally and precisely as possible)**:

Create a pod, delete it and then recr

[2022-08-04 02:54] wackxu commented on #4090
similar to https://github.com/kubeedge/kubeedge/issues/4055

[2022-08-04 07:48] #3347 closed

[2022-08-05 01:09] elpsyr commented on #3735
There are problems similar to yours in another issue: [3736](https://github.com/kubeedge/kubeedge/issues/3736), which has been solved in a higher version.

[2022-08-05 02:41] wackxu commented on #4088
cc @RyanZhaoXB

[2022-08-05 04:29] elpsyr opened #4099 "the Event of Pod in EdgeNode"
**What happened and what you expected to happen**:
when i use `kubectl describe po xxx` to watch Event,i can not see anything about it which pod in edgeNode

[code]

接着我去查看代码时看到edged关于事件记录的结构体`EventRecorder` 的方法体为空 ：
[code]
想知道Event这部分的内容是为了edgecore的大小有意裁剪还是后面会进行实现？

**How to reproduce it (as minimally and precisely as possible)**:
just use `kubectl describe po xxx` to watch Event of Pod which in

[2022-08-05 06:52] wackxu commented on #4099
Due to low network bandwidth and weak network on the edge side, we have cut out the event-related functions to reduced the number of reported messages.

[2022-08-05 11:33] elpsyr commented on #4099
Thank you for your reply！
But I still think that the tailoring of this function has caused difficulties in troubleshooting or debug，
Perhaps these problems can be solved by de-duplication, compression events or reduction of reporting frequency on the edge side?
Do you think it would be a good idea？

[2022-08-05 11:43] Alexandersande18 opened #4100 "Dose MetaServer(Autonomic Kube-API Endpoint) on edgecore sopport coreDNS's kube-api query?"
**What happened and what you expected to happen**:
I tried to deploy coreDNS pods on edge nodes to support native DNS for edge subnets. But it seems like the coreDNS was not working(pod running but not woring for k8s name service). Dose MetaServer on edgecore Sopport coreDNS's kube-api query?
**How to reproduce it**:
I enabled the metaserver feature and it works well(curl tested).
I set the endpoi

[2022-08-08 07:30] shanchenggang opened #4101 "Service ClusterIP or Service NodePort in KubeEdege?"
**What happened and what you expected to happen**:
Does Service ClusterIP or Service NodePort have abilities to work in KubeEdege framework?

**How to reproduce it (as minimally and precisely as possible)**:
Deploy several Services within Kubeedge framwork, some Services work on K8s nodes and others work on Kubeedge edge nodes.

**Anything else we need to know?**:
How does one service accesses oth

[2022-08-08 09:22] elpsyr commented on #4101
If you want to use `Service ClusterIP`  or `Service NodePort` in KubeEdege , you should install [edgemesh](https://github.com/kubeedge/edgemesh)
here are some doc about how to install it :
https://kubeedge.io/zh/docs/advanced/edgemesh/

[2022-08-08 09:35] elpsyr commented on #4101
btw , edgemesh supports tcp, and https and grpc are based on tcp, so edgemesh can support them.
here are some issues about gRPC :
https://github.com/kubeedge/edgemesh/issues/329

[2022-08-08 12:14] saber1017 opened #4103 "After keadm init, cloudcore.service isn't work"
**What happened**:I successfully performed the `./keadm init --advertise-address="IP" --kubeedge-version=1.9.1`, but when I executed  `netstat -nlpt`, I found that cloudcore.service did not start.

**What you expected to happen**: cloudcore.service working.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version

[2022-08-08 12:18] gy95 commented on #4103
`./keadm init --advertise-address="IP" --kubeedge-version=v1.9.1`
maybe you forget the version prefix `v`, it should be `v1.9.1` but not `1.9.1`

[2022-08-08 12:24] saber1017 commented on #4103
netstat -nlpt
Active Internet connections (only servers)
Proto Recv-Q Send-Q Local Address           Foreign Address         State       PID/Program name
tcp        0      0 43.142.44.220:2379      0.0.0.0:*               LISTEN      12617/etcd
tcp        0      0 127.0.0.1:2379          0.0.0.0:*               LISTEN      12617/etcd
tcp        0      0 43.142.44.220:2380      0.0.0.0:*

[2022-08-08 12:25] saber1017 commented on #4103
cat /var/log/kubeedge/cloudcore.log
I0808 19:25:30.057850   23015 server.go:77] Version: v1.9.1
I0808 19:25:31.070983   23015 config.go:43] Succeed in loading CA certificate from local directory
I0808 19:25:31.071044   23015 config.go:50] Succeed in loading CA key from local directory
I0808 19:25:31.071087   23015 module.go:52] Module cloudhub registered successfully
I0808 19:25:31.077000   23015

[2022-08-08 12:25] gy95 commented on #4103
you can look the logs with `journalctl -u cloudcore.service -xe`
the recent version keadm use install cloudcore in container mode, you can run `kubectl get all -n kubeedge` to check cloudcore status

[2022-08-08 12:26] saber1017 commented on #4103
./keadm-v1.9.1-linux-amd64/keadm/keadm gettoken
failed to get token, err is secrets "tokensecret" not found
Error: secrets "tokensecret" not found
Usage:
  keadm gettoken [flags]

Examples:

keadm gettoken --kube-config /root/.kube/config
- kube-config is the absolute path of kubeconfig which used to build secure connectivity between keadm and kube-apiserver
to get the token.

Flags:
  -h, --help

[2022-08-08 12:27] gy95 commented on #4103
not quite sure,  it seems that ca is not right, maybe you can rm `/etc/kubeedge/ca` and `/etc/kubeedge/certs` and try again
[code]

[2022-08-08 12:29] saber1017 commented on #4103
-- No entries --
[root@master ~]# kubectl get all -n kubeedge
No resources found in kubeedge namespace.

[2022-08-08 12:31] saber1017 commented on #4103
I will try it again

[2022-08-08 12:57] saber1017 commented on #4103
I tried it again, but now, it's a same question.

[2022-08-08 14:30] elrosar opened #4106 "ConfigMap is not synced to Edge when deleted and restored while mounted"
**What happened**: ConfigMaps stop being synced to edge nodes when they are deleted and recreated while mounted in a Pod. After recreation, the first version of the ConfigMap will be synced to edge nodes as expected, however all further modifications on the ConfigMap will not be synced until CloudCore restarts or the edged node is rebooted.

**What you expected to happen**: The mounted ConfigMap i

[2022-08-08 14:31] elrosar commented on #4106
Possibly related: https://github.com/kubeedge/kubeedge/issues/3565

[2022-08-08 16:50] shanchenggang commented on #4101
Thanks. I 'll look into it.

[2022-08-09 01:55] Alexandersande18 commented on #4100
After capturing packets from metaserver I figured it out. The cause of the coreDNS error logs is missing ```/version``` api in metaserver.
![4O{9 %LP)C_GBK_5}3(3K~L](https://user-images.githubusercontent.com/38888486/183546467-2e80e22a-b1f5-4bb9-b9de-1622073751b1.png)
![`8WNI2Q{7@HJ{7 $6)3)6@C](https://user-images.githubusercontent.com/38888486/183546471-0e0b2a27-d936-46ee-9c3d-a7684c67ec98.png)
*

[2022-08-09 03:30] QianQianowo opened #4107 "failed to update rule status concurrently"
**What happened**:
I have delivered two custom message concurrently from cloud to edge by the rest -> eventbus rule and got them on edge successfully.
[code]
But executing `kubectl get rule` on cloud node,  I found the quantity of `successMessages`of the rule only increased by one.
[code]

**What you expected to happen**:
The quantity of `successMessages` is two

**How to reproduce it (as minimall

[2022-08-10 04:02] vincentgoat opened #4108 "User Guide of List/Watch from EdgeCore"
## This User Guide Book will work after #4104 has been merged.

### Start List/Watch feature with default configure

- Config CloudCore

Enable **DynamicController**, **SyncController** and **CloudHub** as below:

[code]

- Config EdgeCore

MetaServer starts with HTTPS by default and uses the default certificate (same with EdgeHub) for authentication. The server certificate authentication policy i

[2022-08-10 07:56] #4077 closed

[2022-08-10 11:33] FischerLGLN opened #4109 "Use containerd through edgecore changes before keadm join"
**What happened and what you expected to happen**:
Following this guide while using containerd right from the beginning: https://kubeedge.io/en/docs/advanced/cri/

Performing the containerd changes in a generated edgecore.yaml
[code]

keadm join on the edge side requires an empty /etc/kubeedge directory. Therefore the edgecore.yaml changes can't be provided beforehand. The docker installation (apt

[2022-08-11 05:43] dafanshu opened #4110 "can not update device message from cloudcore to edgecore"
**What happened**:
`8月 11 13:38:43  edgecore[2454]: I0811 13:38:43.994083    2454 process.go:283] DeviceTwin receive msg
8月 11 13:38:43  edgecore[2454]: I0811 13:38:43.994650    2454 process.go:66] Send msg to the MemModule module in twin
8月 11 13:38:43  edgecore[2454]: I0811 13:38:43.994699    2454 membership.go:120] Membership event
8月 11 13:38:43  edgecore[2454]: I0811 13:38:43.995184    2454 m

[2022-08-11 09:50] mhh12121 commented on #2577
@hackers365  Damn! I was stuck at this shit half a day! Thank you very much! But I wonder why this works ?
And now I use helm to install cloudcore v1.11, i still met this issue :sweat:

[2022-08-12 01:48] RyanZhaoXB opened #4113 "cloudcore cannot send device information to edgecore"
**What happened**:
when i run some experiment about device management i found that the device i created in k8s may not be sent to edgecore successfully.

**What you expected to happen**:
the device information is successfully sent to edgecore.

**How to reproduce it (as minimally and precisely as possible)**:
this happend sometimes after i restart the edgecore.  not every time but when it happened

[2022-08-12 01:49] RyanZhaoXB commented on #4113
i will post the related log later

[2022-08-12 09:12] vincentgoat commented on #4113
Seems like https://github.com/kubeedge/kubeedge/pull/3743 can fix your issue.

[2022-08-12 09:19] RyanZhaoXB commented on #4113
ok. i will try this pr and post the result later. thanks.

[2022-08-15 01:58] dafanshu opened #4114 "err: use of closed network connection"
**What happened**:
E0815 09:50:23.236058       1 messagehandler.go:481] Failed to send event to node: edgenode-157, affected event: id: ff458fc9-ac04-412d-abc8-853eb3513d03, parent_id: , group: resource, source: edgecontroller, resource: default/pod/nginx-deployment-6768f995c4-9bgjb, operation: update, err: use of closed network connection

**What you expected to happen**:
update edgenode

**How t

[2022-08-15 06:59] LRaito opened #4115 "logManager of edged should not start when docker log not use json-file"
**What happened**:
when I set docker's log-driver to syslog, edged reports errors always like below:
`
Aug 15 14:50:40 linaro-alip edgecore[390]: E0815 14:50:40.564050     390 remote_runtime.go:580] "ReopenContainerLog from runtime service failed" err="rpc error: code = Unknown desc = docker does not support reopening container log files" containerID="8dd1106bf0bb9f4b58871cd38a3685a8367a1f0346c584

[2022-08-15 08:05] wackxu commented on #4115
ref https://github.com/kubeedge/kubeedge/pull/3885

[2022-08-15 08:39] wackxu commented on #4114
cc @vincentgoat

[2022-08-15 12:40] vincentgoat commented on #4114
FYI: https://github.com/kubeedge/kubeedge/pull/3743

[2022-08-16 09:03] fcfz2016 opened #4118 "a proposal for the feature about Node Relay"
Hello, I want to propose a node relay feature, which is designed from the satellite ground environment. I want to gradually design and promote it to smart furniture, robots, vehicle networks and other scenarios. The purpose is to provide assistance for cloud side communication barriers and edge security.
designing doc: [https://shimo.im/docs/Ee32MmP42Ehbj4A2/](javascript:;)
**What would you like t

[2022-08-16 09:24] fcfz2016 opened #4120 "experimental environment for the feature about Node Relay"
Hello, this is an experimental environment for verifying the feature about node relay. Please see the link below for the node relay scheme.
scheme link: [https://github.com/kubeedge/kubeedge/issues/4118#issue-1340038198](url)
designing doc: [https://shimo.im/docs/8Nk6MeXOnzCdg0qL/](url)
**What would you like to be added/modified**:
An experimental environment.
**Why is this needed**:
Verify the fe

[2022-08-17 10:08] mhh12121 opened #4123 "Does kubeedge only support iptables legacy now? How about iptables nft?"
**What happened and what you expected to happen**:

I found some error occurred when I deploying cloudcore :
[code]
And it leads that I can't access edge pods' logs through `kubectl logs -f` ;

As the title show, I hope that I could run kubeedge with iptables nft;

**How to reproduce it (as minimally and precisely as possible)**:

In Centos8, kernel: 4.18.0-348.7.1.el8_5.x86_64,
Install kubeedge 1

[2022-08-18 12:33] Shelley-BaoYue opened #4126 "[devicetwin] optimize db operations and error handling"
**What would you like to be added/modified**:

In devicetwin model,  There are multiple sql transactions in one function. If an error occurs somewhere, db operation may only roll back partial data. And there are also many unhandled errors in this models.

**Why is this needed**:

Optimize db operations and error handling  in devicetwin.
/help

[2022-08-19 06:12] pengbinbin1 opened #4127 "New membership request"
**What happened and what you expected to happen**:
I have request to be a member about the kubeedge,can you agree +1 for me ?  https://github.com/kubeedge/community/issues/100

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgec

[2022-08-20 01:53] #4127 closed

[2022-08-22 03:38] 18664599806 opened #4129 "[metaServer] I suggest the metaServer can guarantee the edge local api request."
**What would you like to be added/modified**:
Suggest that metaServer can process the local api request when edge node upstrem network is out of service,  and proxy it when network recover later.

**Why is this needed**:
In some scenarios, the network of edge devices is unstable. As a result, some access requests will fail.  That the metaServer provides the proxy caching capability can simplify th

[2022-08-23 03:49] Congrool commented on #3959
@vincentgoat @fisherxu @siredmar
Hi, I will work on this feature but I am not familiar with the API release process. Could I just modify the API field and make it still stay at v1alpha1.
Additionally, I think it will be better to add some necessary e2e test for group management before adding any new features.

[2022-08-23 07:07] wackxu commented on #4129
Could you tell us about your use case? What kind of API request you need to cache?

[2022-08-23 07:14] wackxu commented on #4123
for now, we only support `iptables`, maybe we can extend the cloudstream to support  iptables nft

[2022-08-23 07:16] Congrool opened #4130 "Need a way to set mirror of apk when `make image`"
**What would you like to be added/modified**:

provide a way for users to set mirrors of apk when building images with `make image`

**Why is this needed**:

When using `make image`, in some network envriment it will stuck at

[code]

We'd better provide a way for users to change the source list of apk to acclerate this process.

[2022-08-23 13:52] tobiasbbb opened #4131 "Experience with Prometheus, Best way to install?"
Hello,

I would like to monitor my cluster using Prometheus and have currently the following setup:

**Current Setup**
- 1 Master Node, Ubuntu 20.04, running on Macbook
- 1 Edge Node, Ubuntu 20.04, Raspberry Pi

Metrics server, kubectl logs and deploying Pods on the Edge Node are working fine.

**Environment**:
- Kubernetes version (use `kubectl version`): Client Version: v1.24.4
- KubeEdge versio

[2022-08-24 07:28] alvin9527 opened #4132 "2022/08/24 15:26:20 INFO: Install client plugin, protocol: rest 2022/08/24 15:26:20 INFO: Installed service discovery plugin: edge I0824 15:26:20.937497 1 server.go:62] Version: v1.9.0-11+d4dc2cfd0e2dc1-dirty I0824 15:26:20.937542 1 server.go:96] [1] New informers manager I0824 15:26:20.938047 1 server.go:103] [2] Prepare agent to run I0824 15:26:20.938310 1 netif.go:98] bridge device edgemesh0 already exists F0824 15:26:30.942439 1 server.go:64] run edgemesh-agent failed: get service-cluster-ip-range err: unexpected error: Internal error occurred: failed to access cloud Application center: timeout to get response"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):
- <details><summary>Cloud nodes Environment:</summary>

  - Hardware configuration (e.g. `lscpu`):
  - OS

[2022-08-24 09:25] vincentgoat commented on #3959
@Congrool The added features will not affect compatibility and can be modified.

[2022-08-24 16:22] hexiaodai commented on #2068
Have you solved your problem? I have the same problem.

[2022-08-25 01:46] vincentgoat commented on #4132
Hi, @alvin9527 Is the `MetaServer` enabled?
FYI: https://github.com/kubeedge/kubeedge/issues/2760

[2022-08-25 02:34] vincentgoat commented on #4131
Hi, @tobiasbbb How's it going? Did you deploy the `prometheus` pod on the edge node?

[2022-08-25 03:03] 8183736 commented on #3735
实测使用daemonset没有这个问题

[2022-08-25 06:05] alvin9527 commented on #4132
@vincentgoat yes，MetaServer enabled：true

[2022-08-25 06:52] 8183736 opened #4133 "coludcore resource limit"
**What happened**:
coludcore memory overflow, container restart

**Environment**:
- Kubernetes version (use `kubectl version`):
- Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.4", GitCommit:"3cce4a82b44f032d0cd1a1790e6d2f5a55d20aae", GitTreeState:"clean", BuildDate:"2021-08-11T18:16:05Z", GoVersion:"go1.16.7", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.I

[2022-08-25 06:54] 8183736 commented on #4133
![image](https://user-images.githubusercontent.com/74286013/186595775-9b303483-62d6-46e6-bbaa-47412aa0727b.png)

[2022-08-25 07:41] wackxu commented on #4133
Do you use edgemesh?

[2022-08-25 07:44] wackxu commented on #4133
I saw that from aug 24 00:00 the memory usage is increased slowly, what was done in that time?

[2022-08-25 08:29] tobiasbbb commented on #4131
Hi  @vincentgoat , I deployed ```prometheus```on the cloud node.

[2022-08-25 09:07] vincentgoat commented on #4131
If so, I think the way deploying `prometheus` is the same with K8s cluster.
Please check the location of your serviceAccountToken/CA cert file or kubeconfig file.

[2022-08-25 09:14] 8183736 commented on #4133
![81b7f64b9b900aba8f992f8b9d84a8c](https://user-images.githubusercontent.com/74286013/186625542-5a750398-02ce-4cf7-bc90-7a1163535d8c.png)

Some netizens suspect that this is the problem，The session is added, and when err is nil, it is not deleted

[2022-08-25 09:22] 8183736 commented on #4133
No operation, if the developer operates, it will only operate the business system to update the tag

[2022-08-25 09:54] langkcc commented on #3688
I met the same problem,I used 1.9.2 version. have any solution,or update version to fix this problem?

[2022-08-25 11:08] benjaminhuo commented on #4132
@alvin9527 Can you change the issue title to a much shorter sentence?

[2022-08-26 04:00] #2241 closed

[2022-08-26 08:21] wackxu commented on #4133
I will have a look at this

[2022-08-27 14:12] #4101 closed

[2022-08-29 07:49] vincentgoat opened #4144 "Manage edge meta data SQL query operations through caching"
**What would you like to be added/modified**:
Manage edge metadata SQL query operations through caching.

**Why is this needed**:
Currently, edgecore query metadata is to query the database directly through SQL `dao.QueryMeta`, which is very inefficient.
we would like to manage edge metadata SQL query operations through caching.

[2022-08-29 07:50] vincentgoat commented on #4144
/help-wanted

[2022-08-29 08:00] tobiasbbb commented on #4131
Thank you for the reply!
I managed to deploy Prometheus successfully by manually creating the Prometheus Configs and Deployments instead of the Helm Chart.

[2022-08-29 08:00] #4131 closed

[2022-08-29 09:52] LeiJJ8 opened #4145 "cloudcore stop suddenly"
The detailed log is as follows:

I0829 16:40:18.216591    4346 upstream.go:89] Dispatch message: a0a31574-3922-4820-b2fc-7dc65a3dd3e1
I0829 16:40:18.216596    4346 upstream.go:96] Message: a0a31574-3922-4820-b2fc-7dc65a3dd3e1, resource type is: membership/detail
I0829 16:40:18.221807    4346 upstream.go:89] Dispatch message: 39be648a-9cb0-4df4-adbd-5cc92809f2bf
I0829 16:40:18.221815    4346 upstre

[2022-08-29 10:01] LeiJJ8 commented on #4145
The device that joins the cluster subsequently cannot be found.
The log is as follows:

[root@master ~]# journalctl -xef | grep cloudcore | grep twowin
Aug 29 17:31:06 master cloudcore[4390]: I0829 17:31:06.390911    4390 upstream.go:428] node: twowin already exists, do nothing
Aug 29 17:33:20 master cloudcore[4390]: E0829 17:33:20.672483    4390 messagehandler.go:471] Failed to send event to node

[2022-08-30 04:04] koulq opened #4146 "When the cloud-edge network is disconnected, whether the node status displayed by the cloud is running or nodeready"
**What happened and what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.20.1
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`): 1.10.1

hi , When the cloud-side network is disconnected, whether the node status displayed by the cl

[2022-08-30 06:05] gy95 commented on #4146
it should be NotReady

[2022-08-30 08:13] yun-zero commented on #3912
When I use -- advertise address = "proxy IP address", I still get the same error

[2022-08-30 08:34] vincentgoat commented on #3912
You can try to remove the old cert file and create a new cert file from the new `cloudcore` .

[2022-08-30 08:41] vincentgoat commented on #4145
Hi, @LeiJJ8 can you provide the version of `cloudcore` and `edgecore`?

[2022-08-30 09:11] LeiJJ8 commented on #4145
Hi,@vincentgoat  The version I am using is 1.10.0.

[2022-08-30 09:25] shanchenggang opened #4148 "With the edgecore metaServer startup, edgemesh fails to support Service fuction."
**What happened**:
With the edgecore metaServer startup, edgemesh fails to support Service fuction.
This problem is from https://github.com/kubeedge/edgemesh/issues/365.

**What you expected to happen**:
Edgemesh  supports Service fuction and application pods on edge nodes can access each other via Service.
**How to reproduce it (as minimally and precisely as possible)**:
 I tested Kubeedge V1.9.4

[2022-08-31 11:33] Poorunga commented on #4148
in your edge node, try to `curl 127.0.0.1:10550/api/v1/services`

[2022-08-31 15:06] shanchenggang commented on #4148
Do the Kubeedge edge nodes combined with Edgemesh support gRPC communication?

[2022-09-02 01:21] FengGaoCSC commented on #3935
@vincentgoat @fujitatomoya

hi vincentgoat:

I back to this issue, since weave CNI applied to kubedge edge node with the [weave's code](https://github.com/weaveworks/weave/blob/6d7a29ade6e196e51a800b9df658c8a017f1b38b/vendor/k8s.io/client-go/rest/config.go)  was changed to following to force the weave & weave NPC to access http://127.0.0.1:10550, the weave and weave NPC with running state but weav

[2022-09-02 01:43] vincentgoat commented on #3935
Hi @FengGaoCSC, sure, I will give it a try.

[2022-09-02 02:42] FengGaoCSC commented on #3935
thanks & very appreciate :)

[2022-09-02 05:51] chairwa opened #4153 "keadm join still install mosquitto even when --with-mqtt=false"
**What happened**:
keadm join --cloudcore-ipport=<ip:port address> --with-mqtt=false
still install mosquitto

**What you expected to happen**:
keadm join --cloudcore-ipport=<ip:port address> --with-mqtt=false
does not  install mosquitto

[2022-09-02 06:50] xiazhenghua opened #4154 "在边缘节点使用SVC暴露端口给外部，使用master地址无法访问"
**What happened**:
使用edge节点创建nginx应用，使用了svc服务暴露了nginx31222端口，无法使用cloudcore访问nginx应用，只能使用edge节点访问nginx应用
**What you expected to happen**:
cloudcore也可以访问nginx
![image](https://user-images.githubusercontent.com/112549189/188074946-99531aa8-2bee-4e26-b06e-1f47babbf8bc.png)
**How to reproduce it (as minimally and precisely as possible)**:
创建nginx应用使用cloudcore主机ip加应用端口进行访问
**Anything else we need to kno

[2022-09-02 06:53] dafanshu opened #4155 "Operation cannot be fulfilled on nodes"
**What happened**:
upstream.go:518] message: a0f5784c-e359-458c-810c-e28a34592b81 process failure, update node failed with error: Operation cannot be fulfilled on nodes "xxx": the object has been modified; please apply your changes to the latest version and try again, namespace: , name: xxx

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anyt

[2022-09-02 06:53] xiazhenghua commented on #4154
在k8s里面这种访问方式，可以访问的
可以在node节点上面创建应用，使用server方式暴露端口，然后在本地通过master节点主机IP访问到node节点应用

[2022-09-02 09:43] Shelley-BaoYue opened #4157 "New Edged with lite-Kubelet"
**What would you like to be added/modified**:

Rewrite edged. New version edged will import Kubelet and execute Kubelet `Run` func directly.

We also maintain our own tailored K8s repository under the kubeedge project.

**Why is this needed**:

In old version edgecore, edged made a lot of intrusive changes of Kubelet. It takes many extra work when bump the k8s version dependency, and also increase

[2022-09-02 16:26] fujitatomoya commented on #3935
@FengGaoCSC what about creating PR based on your suggestion, so that we can leave the comments.

[2022-09-03 11:04] Shelley-BaoYue commented on #4157
I will split up multiple PRs to complete the issue.

- integrate Kubelet in edged
- add register/patch node operation, add node-lease resouce
-  add patch pod operation, modify pod deletion.
-  add configmap/secret/servicetoken client bridge

[2022-09-04 23:41] FengGaoCSC commented on #3935
@fujitatomoya

my suggestion of code change is based on `weaver CNI` source code but not `KubeEdge`, and this change still not work yet

[2022-09-05 00:01] fujitatomoya commented on #3935
@FengGaoCSC

having the KubeEdge specific patch would be burden for KubeEdge community, so it would be nice to have common way to address our issue? just idea, i am not even sure if this is doable or not.

[2022-09-05 00:18] FengGaoCSC commented on #3935
ok. got it and I will take care of this .

[2022-09-05 06:08] shanchenggang commented on #4148
@Poorunga

[2022-09-05 06:34] wackxu commented on #4155
@dafanshu Could you paste How to reproduce it ？ and what is the final state of the edge node?

[2022-09-05 07:55] jason-i-vv opened #4159 "kubeproxy和flannel在边缘侧无法启动"
**kubeproxy在边缘侧无法启动**:

**期望能正常启动kubeproxy 和 flannel**:

**好像按官方文档去安装，会出现很多问题，kubeedge的文档是没有更新吗？**

**Environment**:
- Kubernetes version (1.22.4):
- KubeEdge version(KubeEdge v1.11.1):
- <details><summary>Cloud nodes Environment:</summary>

  - Hardware configuration (x86_64`):
  - OS (Centos 7):
  - Kernel (Linux i-8BC21A38 3.10.0-1160.el7.x86_64 #1 SMP Mon Oct 19 16:18:59 UTC 2020 x86_64 x86_64

[2022-09-05 07:56] jason-i-vv commented on #4159
[code]

[2022-09-05 09:55] vincentgoat commented on #3935
Here is my processing:
1. Cherry-pick PR https://github.com/kubeedge/kubeedge/pull/3583 to workaround error `[kube-peers] Could not get Kubernetes version:`, because KubeEdge doesn't support `version` API currently. But there is one bug in this PR, note that to remove `|| !info.IsResourceRequest` in function `Generate`:
![image](https://user-images.githubusercontent.com/49225405/188420381-efd8a8f1

[2022-09-05 09:56] vincentgoat commented on #3935
cc @Poorunga

[2022-09-05 10:09] FengGaoCSC commented on #3935
@vincentgoat

thanks very much. I also working on this, if any progress, we can share it

[2022-09-06 01:29] vincentgoat commented on #3935
It works after set `disable-npc` to `true`, here is how I install weave: `kubectl apply -f "https://cloud.weave.works/k8s/net?k8s-version=$(kubectl version | base64 | tr -d '\n')&disable-npc=true"`

If an unauthorized error occurred, please cherry-pick this PR https://github.com/kubeedge/kubeedge/pull/3807 to fix it.

@FengGaoCSC

[2022-09-06 01:36] FengGaoCSC commented on #3935
@vincentgoat

very appreciate. I will try your ways, any question I will keep contact with you.

[2022-09-06 02:09] FengGaoCSC commented on #3935
I saw that PR https://github.com/kubeedge/kubeedge/pull/3807
it solved the wrong service account in pod so we didn't need to change or force the weave to curl  http://127.0.0.1:10550.

I will have try it.

thanks very much

[2022-09-06 02:15] dafanshu commented on #4155
I'm not sure，restart edgecore or cloudcore multiple times maybe

[2022-09-06 02:37] vincentgoat opened #4161 "How I install weave on the edge node"
1. Install weave

[code]

If you need network policies please don't set `disable-npc` to true.

The prerequisite is that we should configure kube-client in `weave`, please refer to https://github.com/kubeedge/kubeedge/issues/3935#issuecomment-1234962037.

2. configure cloudcore

[code]

3. configure edgecore

[code]

Obtain the `clusterDNS`  address by querying `ip a` on your edge node, and search

[2022-09-06 02:51] #4159 closed

[2022-09-06 05:42] shao77622 commented on #4153
I've this problem too~

[2022-09-06 06:02] MoXinQian opened #4163 "kubeedgev1.11.1 keadm指定镜像仓库纳管失败"
**What happened**:
keadm ---image-responstory指定镜像地址，纳管失败！

**What you expected to happen**:
纳管成功

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.11.1
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`): v1.11.1
- <details><summary>Cloud nodes Enviro

[2022-09-06 07:17] benjaminhuo commented on #4133
@wackxu Is it possible to find the root cause of the memory leak?

[2022-09-06 08:03] xiezg opened #4164 "imitator.go:224] failed to unmarshal message content to unstructured obj: Object 'Kind' is missing"
**What happened**:
E0906 15:47:41.951356   22688 imitator.go:224] failed to unmarshal message content to unstructured obj: Object 'Kind' is missing in '{"metadata":{"name":"172-16-244-175.aibee.cn","creationTimestamp":null,"labels":{"kubernetes.io/arch":"amd64","kubernetes.io/hostname":"172-16-244-175.aibee.cn","kubernetes.io/os":"linux","node-role.kubernetes.io/agent":"","node-role.kubernetes.io/

[2022-09-07 01:00] FengGaoCSC commented on #3935
@vincentgoat  I try your method and the weave pod on edge's status was `pending`, maybe my test is not right. I will try it again.

[2022-09-07 01:08] shanchenggang commented on #4148
@Poorunga  Does edgemesh agent support gRPC communication between cloud pods and edge pods?

[2022-09-07 01:42] Poorunga commented on #4148
Yes, edgemesh can support gRPC communication between cloud pods and edge pods

[2022-09-07 01:46] Poorunga commented on #3935
#3583  needs to further optimize the code

[2022-09-07 02:11] gy95 commented on #4153
what's the keadm version you are using? I try on the master branch, it works well

[2022-09-07 02:39] RyanZhaoXB commented on #4164
hello. what operation do you take before this error happened? could you please provide more information?

[2022-09-07 02:43] RyanZhaoXB commented on #4110
thanks for reporting this bug.  the error is "failed to access database:sql: transaction has already been committed or rolled back "
we have found this bug and we are fixing it in this pr https://github.com/kubeedge/kubeedge/pull/4119

[2022-09-07 03:40] RyanZhaoXB opened #4166 "update the desired value of device twin from edge side and sync it to the cloud"
**What would you like to be added/modified**:

the desired value of device twin can be updated from edge side through mqtt topic and edgecore can send this modification to the cloudcore. cloudcore will sync the desired value of device twin to the crd of device instance.

**Why is this needed**:

in some edge computing scenarios, cooperation happens between the edge devices. the data provided by de

[2022-09-07 05:25] FengGaoCSC commented on #4161
@vincentgoat @fujitatomoya

I test with the method that before you mentioned,

1.  now the weave cni can running on kubeedge like following:
[code]
root@hyan-optiplex-7050:/home/hyan/feng/yaml# kubectl get pod -o wide
NAME                      READY   STATUS    RESTARTS   AGE   IP             NODE      NOMINATED NODE   READINESS GATES
busybox-64cb77bc9-7jddz   1/1     Running   0          16m   16

[2022-09-07 06:44] vincentgoat commented on #4161
This will cause the problem. Can you deploy only one daemonset among the cloud and edge nodes?  Or try to deploy to 2 edge nodes first to check if it will work.

[2022-09-07 06:47] FengGaoCSC commented on #4161
I will try.

[2022-09-07 08:19] q974259836 commented on #4153
v1.10.0

[2022-09-07 08:22] vincentgoat opened #4167 "[Security] Bump helm version to v3.9.4"
**What happened**:

Fix CVE CVE-2022-36055, more details are described at: https://github.com/helm/helm/security/advisories/GHSA-7hfp-qfw3-5jxh

**What you expected to happen**:
Bump helm version to v3.9.4
cc @gy95

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge versio

[2022-09-07 08:23] shao77622 commented on #4153
v1.11.1 the edgecore won't install mosquitto, but will continuously connect to  mosquitto server ， which the log shows.

[2022-09-07 08:26] elpsyr commented on #4166
现在通过mapper修改的期望值是不是会被CRD（设备孪生）的Reconsile 改回去？

[2022-09-07 10:06] Giuliao commented on #3608
🙋‍♂️

[2022-09-07 10:40] koulq commented on #1732
@fisherxu The domain name I use also has this problem、
![image](https://user-images.githubusercontent.com/18571340/188858657-79b53121-f74d-40f1-9229-60bbd2294216.png)

[2022-09-07 11:05] alvin9527 opened #4168 "run kubectl logs flannel failure"
**What happened and what you expected to happen**:

I run kubectl logs -f kube-flannel-ds-rsq2x on the masterNode

Error from server: Get "https://10.101.10.17:10351/containerLogs/kube-flannel/kube-flannel-ds-rsq2x/kube-flannel?follow=true": dial tcp 10.101.10.17:10351: connect: connection refused

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?*

[2022-09-07 12:35] bensch98 opened #4169 "Restarting Edge Node"
I have a general purpose question:
If I need to restart my Edge Node for whatever reason, what is the best practice to automatically reconnect it to the cluster after the reboot. So far I was thinking of running a Linux Service that will run `keadm join` again to join the cluster. Is there a best practice for this case. I assume this is sth almost everybody has to deal with.

[2022-09-07 12:47] shanchenggang opened #4170 "How to inject Service ($service_name and $service_port) env into edge pods In the Kubeedge+edgemesh environment?"
**What happened and what you expected to happen**:
Edge nodes have abilities to obtain Service envs ($service_name and $service_port) like K8s nodes  In the Kubeedge+edgemesh environment.

**Environment**:
- Kubernetes version (use `kubectl version`): k8s v1.19.6
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`): v1.9.4

In the following, 192.168.0.163 and 192.168.0.164 are e

[2022-09-07 12:55] shanchenggang commented on #4148
i have verified the test instance supported by the official documentation. [https://edgemesh.netlify.app/guide/test-case.html#prepare](url). Edgemesh can support gRPC communication between cloud pods and edge pods.  The reason for the above issue is that the Edge pod adopts the basic image go: alpine, which leads to edge pod error.  The base image is changed togo: V1.17 and the issue disappears.

[2022-09-07 13:03] shanchenggang commented on #4148
Then I encountered a new problem. I need to finish grpc communication between K8s node's pods and edge pods via Service and edge pods fail to obtain Service env.  Under Kubeedge and Edgemesh framwork, what can replace the Kubelet function in K8S node that help edge pod to capture Service envs (such as ServcieName and ServicePort).

[2022-09-07 13:03] shanchenggang commented on #4148
@Poorunga Thanks.

[2022-09-08 01:30] bluven opened #4171 "Pods are stucked in Pending phase if cloudcore failed to send out event"
**What happened**:

Sometimes some pods were stucked in Pending phase(in fact any phase is possible). I checked the cloudcore log and found that if this error message appeared,
[code]
then all pods are scheduled to node edge1 will be out of synchronization.
[code]
As you can see those pods above, nginx was created first and was then stucked in Pending, later I created a net-tool-edge1 which is stu

[2022-09-08 02:25] shao77622 opened #4172 "Pod's conditions remain "Ready false" when cloudcore node or edgenode were reboot."
**What happened**:
Pod's conditions remain "Ready  false" when cloudcore node or edgenode were reboot.
**What you expected to happen**:
Pod's conditions  should be Ready true
**How to reproduce it (as minimally and precisely as possible)**:
reboot cloudcore node or edgenode
**Anything else we need to know?**:
<img width="1583" alt="image" src="https://user-images.githubusercontent.com/16330359/189

[2022-09-08 02:34] shao77622 commented on #4172
[root@kubeedge-test-cloudcore-1 ~]# kubectl -n edge describe pod minio-8.3.0-nvbbw
Name:         minio-8.3.0-nvbbw
Namespace:    edge
Priority:     0
Node:         kubeedge-test-node-1/192.168.0.125
Start Time:   Wed, 07 Sep 2022 23:09:47 +0800
Labels:       app=minio
              controller-revision-hash=55c4b97965
              pod-template-generation=2
Annotations:  <none>
Status:       Runnin

[2022-09-08 02:37] shao77622 commented on #4172
`[root@kubeedge-test-cloudcore-1 ~]# kubectl -n edge describe pod minio-8.3.0-nvbbw
Name:         minio-8.3.0-nvbbw
Namespace:    edge
Priority:     0
Node:         kubeedge-test-node-1/192.168.0.125
Start Time:   Wed, 07 Sep 2022 23:09:47 +0800
Labels:       app=minio
              controller-revision-hash=55c4b97965
              pod-template-generation=2
Annotations:  <none>
Status:       Runni

[2022-09-08 02:38] shao77622 commented on #4172
[code]

[2022-09-08 06:18] shao77622 commented on #4172
I tried the v1.9.2 kubeedge version which was integrated in kubesphere, and there is no problem with this issue. All settings and configs are the same.

[2022-09-08 06:59] RyanZhaoXB commented on #4166
disscussion on 0907 meeting:

1. we need to find a real scenario and get the specific requirements for updating device twin from edge. we should figure out the real proportion of modifications from cloud and edge.
2. we need to proposed a strategy to decide how to resolve the conflicts when the device twin is modified from cloud and edge at the same time.
3. further more, if the function of updati

[2022-09-08 07:36] gy95 commented on #4153
you can set the mqttMode to 0
[code]

[2022-09-08 08:18] vincentgoat commented on #4167
When we tried to bump the helm version, we found that this upgradation depends on a higher version of `k8s.io/apiserver` and other k8s modules, we can't upgrade the helm version alone now.
As described in the [helm security advisory](https://github.com/helm/helm/security/advisories/GHSA-7hfp-qfw3-5jxh), Helm is not a long running service so the panic will not affect future uses of the Helm client.

[2022-09-08 08:29] vincentgoat commented on #4171
It seems the same issue which solved by PR https://github.com/kubeedge/kubeedge/pull/3743

[2022-09-08 08:52] vincentgoat commented on #4169
Hi @bensch98 ,  after your first `keadm join`, I think edgecore.service will restart and reconnect to the cluster automatically when rebooting.
Is this not working on your machine?

edgecore.service:
[code]

[2022-09-08 10:55] gy95 commented on #4167
ref: https://github.com/helm/helm/blob/v3.9.4/go.mod
helm v3.9.4 depends on k8s v0.24.0,  like
https://github.com/helm/helm/blob/dbc6d8e20fe1d58d50e6ed30f09a04a77e4c68db/go.mod#L36-L43

[2022-09-08 12:30] vincentgoat commented on #4170
Edged won't populate service resources into service environment variables as of now.

FYI: [How Kubelet deals with service env](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go#L602)

[2022-09-08 13:19] bensch98 commented on #4169
Hi @vincentgoat,
I just upgraded to Kubeedge 1.11.1. The edge node reconnects, and the pods also restart, however the information of the pods status is updated on the master node only after like 5min. I tracked the pods running in my cluster via `watch kubectl get pods -A` while rebooting my edge node. That's also why I thought before, that it doesn't work at all, cause I didnt't wait long enough.

[2022-09-08 13:58] wackxu commented on #4172
/assign

[2022-09-09 02:43] shanchenggang commented on #4170
Is there any other way to inject environment variables into my edge Pod that meets my needs as for now? Thanks. @vincentgoat

[2022-09-09 07:58] vincentgoat commented on #4170
When do you need to use the service environment variable in POD? Can you use DNS instead of env vars and keep trying to resolve the DNS name of the service based on the capabilities of EdgeMesh?

[2022-09-09 09:31] fisherxu opened #4174 "Store the e2e/integration test logs to local file"
It's needed to store the e2e/integration test logs to local file for debugging

/assign @gy95

[2022-09-09 10:00] vincentgoat commented on #4169
Hi @bensch98,
I tried on my local edge node, after the edge node restart, the information of the pods status is updated on the master node immediately. Can you check if your edge node reboot process may take a delay?

[2022-09-09 23:29] bensch98 commented on #4169
Hi @vincentgoat,
I tested it now extensively and it works like a charm after installing edgemesh server and agent. Didn't know that this is mandatory. Until kubeedge v1.6 I never deployed it and everything was immediately deployed nonetheless.
The behavior of my cluster is now probably as it should be. When rebooting, the edge node almost immediately reconnects via edgecore.service and all pods ar

[2022-09-09 23:29] #4169 closed

[2022-09-10 01:10] shanchenggang commented on #4170
@vincentgoat
As long as all pods scatterred in cloud and edge launched, they immediately build gRPC communication via Service scheme. The original plan adopts Service environment variables to obtain ClusterIp and Port, but Kubeedge fails to supports this way.
As for DNS method, i will try to test it. Would you suggest some technical documents about DNS in EdgeMesh?

[2022-09-10 09:58] bensch98 commented on #4109
Same problem here:
When deploying edgemesh, I have to edit `edgecore.yaml` and restart edgecore. It would be easier, if it it possible to pre-configure an `edgecore.yaml` file, so I don't have to restart the service.

[2022-09-13 01:37] wackxu opened #4175 "The printed msg log information may contain sensitive data"
`msg` may contain sensitive information which needs to be scrapped.
FYI: https://github.com/kubeedge/kubeedge/pull/4150

_Originally posted by @vincentgoat in https://github.com/kubeedge/kubeedge/pull/4105#discussion_r964335551_

[2022-09-13 01:39] wackxu commented on #4175
cc @vincentgoat

[2022-09-13 01:45] vincentgoat commented on #4170
FYI: https://edgemesh.netlify.app/zh/guide/#%E8%83%8C%E6%99%AF

cc @Poorunga

[2022-09-13 09:51] Jong-cx opened #4177 "How to create a new project by kubeedge"
Hello, I recently started learning edge computing, but I don't know how to start implementing a project, I would really appreciate if you could give me a good example or some prior knowledge

[2022-09-13 11:50] 916264367 opened #4180 "怎么把数据从边缘端发送到云端"
**What happened and what you expected to happen**:
I collected some pictures at the edge-node and need to upload them to the cloud for detection. How can I upload those pictures through Kubeedge.
Is there a tool for transferring data in kubeedge? Are there any examples to refer to? Tools other than kubeedge can also be mentioned

[2022-09-14 02:19] vincentgoat commented on #4180
Hi @916264367,
Please check if this [guide book](https://kubeedge.io/en/docs/developer/custom_message_deliver/) can help you.

[2022-09-14 02:22] wackxu commented on #4177
Do you mean how to use kubeedge? we have documention in https://kubeedge.io/zh/docs/,  you can get started from this.

[2022-09-14 02:22] vincentgoat commented on #4177
Hi, @Jong-cx
Here is the usual way how to install KubeEdge through `keadm`. https://kubeedge.io/en/docs/setup/keadm/

[2022-09-14 12:23] rahul3002 commented on #3660
can I work on this issue

[2022-09-14 12:24] rahul3002 commented on #291
I would like to contribute to the project

[2022-09-15 00:20] bluven commented on #4171
The PR #3743 is not merged yet

[2022-09-15 03:06] vincent-chen-jan commented on #4166
This issue was raised by me initially, let me explain the scenario and make some suggestions.
In industrial control scenarios, different devices and applications may need to interwork with each other to accomplish the work, for example, the sensor triggers the camera to take photo, and the camera pushes the data to anomaly detection app, and then the app controls the alarm LED according to the res

[2022-09-16 02:34] #3805 closed

[2022-09-16 03:20] Congrool opened #4185 "kubeedge/viaduct uses inconsistent go.mod with what is provided in staging of kubeedge"
**What happened**:

In kubeedge/viaduct, it has go.mod
[code]

while in staging, the go.mod of viaduct is
[code]

We can see that they use different versions of `github.com/lucas-clemente/quic-go`.

In [v0.19.2](https://github.com/lucas-clemente/quic-go/blob/v0.19.2/interface.go#L164-L168), it uses
[code]

In [v0.10.1](https://github.com/lucas-clemente/quic-go/blob/v0.10.1/interface.go#L134-L136),

[2022-09-16 06:27] #3736 closed

[2022-09-16 07:33] #1881 closed

[2022-09-17 03:31] gy95 opened #4189 "Some Enchancements about Upgrade CRD"
**What would you like to be added/modified**:
- [ ] now kubeedge we only support versions with prefix `v` like `v1.11.0` but not `1.11.0`, like in `keadm` installation and field `version` of `Upgrade` CRD. we should support the both formats: users can specify both `v1.11.0` and `1.11.0`, we should support both
- [ ] in Upgrade CRD, we should think a way about how to retry
- [ ] in Upgrade CRD, we

[2022-09-18 05:26] rahul3002 commented on #3660
i would like to contribute to this issue

[2022-09-19 03:41] #3828 closed

[2022-09-19 07:35] fisherxu commented on #3760
We need to consider splitting the twin info to spec and status in dmi, users only should set the spec.

[2022-09-19 08:36] LSBXDL opened #4195 "在kubeedge中部署device-plugin插件使用自定义resource，容器无法启动：no devices found allocated in local cache for pod xxx, container xxx, resource tencent.com/vcuda-core"
**What happened**:
尝试在边缘节点部署gpu-manager插件，使pod可以在yaml文件中申请tencent.com/vcuda-core资源类型。
当我将节点部署为k8s节点时，插件成功运行，pod可以成功部署并使用gpu资源。
当我将节点部署为边缘节点时，插件无法运行，提示：
`unable to load in-cluster configuration, KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT must be defined`

在插件daemonset yaml文件的env字段中设置上述变量的值后，插件可以正常启动，kubectl describe node可以显示tencent.com/vcuda-core资源，但部署申请该资源的pod时报错：
`no devices found alloca

[2022-09-19 09:02] #3978 closed

[2022-09-20 02:10] fisherxu opened #4197 "Remove builtin iot protocols in kubeedge"
Now we have some builtin iot protocols in kubeedge framework, let's remove them and use the plug-in instead.

[2022-09-20 02:10] fisherxu commented on #4197
/assign @RyanZhaoXB

[2022-09-20 02:43] Lazy-Guys opened #4198 "What's the broker of the inner MQTT of KubeEdge? KubeEdge内置的MQTT的broker是多少？"
I have reviewed most example code, but I still can not find a fied MQTT broker when the mapper communicates with MQTT Broker. Is that 127.0.0.1:1883? But I also find MQTT server address: mqtt://10.28.160.123 in the configuration of zigbee2mqtt. Now I'm confused in which broker is the true broker?
我看了一下之前的代码，但是我不清楚mapper在和MQTT通信的时候使用哪个broker，这段把我卡住了。

[2022-09-20 04:15] cheng-hunter opened #4201 "edgecore运行不确定时间之后云端通过kubectl exec 容器卡住"
**What happened**:
edgcore某2个节点正常运行20天左右，云端通过kubectl exec -it -n 2c454090a8ee11ebbe196c92bf6923e5 卡住，无法进入pod 也无法通过kubectl logs 查看pod日志
**What you expected to happen**:
正常运行
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
**云端**
![img](https://raw.githubusercontent.com/cheng-hunter/image/main/image2.png)
**边端**
![img](https://raw.githubusercont

[2022-09-20 13:55] #3798 closed

[2022-09-21 03:19] WillardHu opened #4209 "keadm reset sometimes fails to clear folder `/var/lib/edged`"
**What happened**:
When I execute `keadm reset`, sometimes get an error message: "Failed to delete directory /var/lib/edged: unlinkat /var/lib/edged/pods/...: device or resource busy"

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Add retry times for `phases.CleanDir(..)`

**Anything else we need to know?**:

**Environment**:
- Kubernetes versi

[2022-09-21 03:44] keyword1983 opened #4210 "pods can't recovery back after edge node disconnected network and restart node"
**What happened**:
pods can't recovery back after edge node disconnected network and restart node
I am  simulating a case: edge node runs autonomy

**What you expected to happen**:
pods/services can  recovery back after edge node disconnected network and restart node

**How to reproduce it (as minimally and precisely as possible)**:
disable network and restart the edge node. let edge node runs wit

[2022-09-21 06:07] 8183736 commented on #4133
![image](https://user-images.githubusercontent.com/74286013/191427005-3c0311fc-59d3-481d-bd99-67e96d921690.png)

[2022-09-21 06:17] vincentgoat commented on #4145
I think it is because of the type assert panic, more details show below.
![image](https://user-images.githubusercontent.com/49225405/191412478-d0ab6747-9e07-4c3b-a717-5f520f05a935.png)

Fortunately, we can fix this issue after this PR https://github.com/kubeedge/kubeedge/pull/4105 is merged.

[2022-09-21 09:24] RyanZhaoXB opened #4212 "an e2e test occasional failure for device"
**Which jobs are failing**:
some CI jobs are failing occasionally. for example: https://github.com/kubeedge/kubeedge/actions/runs/3096273662 .
**Which test(s) are failing**:
* E2E_UPDATE_DEVICE_1
* E2E_UPDATE_DEVICE_3

**Since when has it been failing**:
since this pr https://github.com/kubeedge/kubeedge/pull/4013 was merged.
**Reason for failure**:
when use creates a device in k8s, cloudcore will

[2022-09-21 09:56] fisherxu commented on #4212
Now why cloudcore send msg to metamanager when creating a device?

[2022-09-22 01:34] #4172 closed

[2022-09-22 03:34] mahmut-Abi opened #4216 "网页的文档还更新么"
![image](https://user-images.githubusercontent.com/96514873/191652526-648b6983-bf1e-4e53-99e0-0368977850c0.png)
这都没有新版本的文档

[2022-09-22 04:14] fridayhub opened #4218 "云边数据不一致，除非重启edgecore"
**What happened**:
同个deployment或者daemonset多次部署，在边缘端会多出一个pod，状态都能上报到云端，云端收到,且提示pod已经删除，需要下发到边缘删除命令。如此循环往复，但是pod并未被删除。

边缘：
![image](https://user-images.githubusercontent.com/8374261/191656434-df291d71-5a07-4a4b-a51f-5994ddeac30e.png)
当重新部署的时候 lzy-test-edgemesh-daemonset-infra-7ctxr pod已经在云端被删除。

云端：
![image](https://user-images.githubusercontent.com/8374261/191656644-7fe690e0-a8fd-44ea-ae33-fd9dd6f

[2022-09-22 05:59] Cachio666 opened #4219 "edgecore不支持上报nodeip为ipv6格式"
**What happened and what you expected to happen**:
当我纳管一个具有ipv6地址的边缘节点时，节点状态只获取到了节点的ipv4地址

**How to reproduce it (as minimally and precisely as possible)**:
纳管一个具有ipv6和ipv4地址的边缘节点，在云端describe node查看node的ip

**Anything else we need to know?**:
k8s的节点状态的node IP是一个字符串数组，而我看到kubeedge在获取节点IP的时候，在通过hostname获取到一个ip之后使用break直接退出，这导致无法获取到集群的ipv6地址，从而边缘节点上报的status中只有一个ip地址。

**Environment**:
- Kubernetes v

[2022-09-22 06:29] dev-taewoo opened #4220 "EdgeCore deployment fails when using CRI-O"
**What happened and what you expected to happen**:

- EdgeCore deployment fails when using CRI-O on KubeEdge v1.10.0, v1.11.1
- I'd like to ask you a solution

**How to reproduce it (as minimally and precisely as possible)**:

- Using KubeEdge v1.10.0

[code]

[code]

- Using KubeEdge v1.11.1

[code]

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl

[2022-09-22 06:59] OJumpyo commented on #3295
Hi, sorry for not replying to the issue these days, the problem for me that time is that my master node is on the cloud while edge node behind the Operator's Intranet. I prefer they transmit messages through HTTPS protocol, so it is with the monitor data. But the version of Kubeedge 1.6.2 will throw an issue that the service account token cannot be get, which I use a Kube-Prometheus operator yaml

[2022-09-22 08:19] ABottleofWater7 commented on #4216
+1 I need the latest docs!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2022-09-22 08:21] ABottleofWater7 opened #4221 "Where can i read the latest docs, the official document is only updated to version 1.7"
**What happened and what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):

[2022-09-23 02:55] jinfahua commented on #3890
Windows 10 Home Edition.

Our applications can be run in customer's windows docker engine, not sure if it's the 'container runtime' support?

[2022-09-24 03:02] algobot76 opened #4227 "REST->EventBus path wildcard not working"
**What happened**:  Cannot send a mesage via REST->EventBus when the REST endpoint is like `test/{abc}/123`.

**What you expected to happen**: When I send a message to `test/aaaaa/123`, the message will be successfully transferred to the edge side.

**How to reproduce it (as minimally and precisely as possible)**:

1. Define a new rule that contains the path `test/{abc}/123`
2. Try to send a messa

[2022-09-24 03:10] algobot76 opened #4228 "mqtt topic wildcard not working"
**What happened**: Messages sent to a topic, such as `test/a/b/c`, cannot be handled by a handler of the topic `test/a/+/c`.

**What you expected to happen**: The messages can be handled succesfully.

**How to reproduce it (as minimally and precisely as possible)**:

1. Define a rule that contains a topic like `test/a/+/c`
2. Send a message to the topic `/test/a/b/c` at an edge node.

**Anything e

[2022-09-24 07:19] gy95 opened #4230 "set tls config InsecureSkipVerify to false"
**What would you like to be added/modified**:
including router component, some e2e tests
**Why is this needed**:
just like https://github.com/kubeedge/kubeedge/pull/4015

[2022-09-24 07:26] GermaVinsmoke commented on #3608
Hey @fisherxu is this available under The Linux Foundation mentorship programme?

[2022-09-26 07:58] Prashantsaini25 opened #4237 "Kubernetes Event Exporter not getting kubeedge event"
Any Event Expoter support kubeedge ? I am only getting hum event not edge

[2022-09-26 08:29] fisherxu commented on #4189
It should also consider how to add e2e test case for the feature :)

[2022-09-26 13:11] abhinavjha126 commented on #4131
@tburchardt Can u please share the Promrtheus and Grafana files/ github link for kubeedge

[2022-09-27 05:11] ABottleofWater7 commented on #4073
I had the same problem bro, have you solved it now?How did you fix it?

[2022-09-27 06:15] siredmar opened #4248 "Support `kubectl attach`"
**What would you like to be added/modified**:
It would be really nice if edgecore supported the `attach` function of kubectl.

**Why is this needed**:
It would be possible to create a root-shell for remote kubeedge devices, that are not connected via SSH or any other remote shell.

Currently this happens when trying to deploy a root shell to a node called `YOURNODENAME`

[code]

[2022-09-27 08:27] LSBXDL commented on #4195
好像不支持启用PreStartContainer的 device plugin？

[2022-09-27 09:59] ABottleofWater7 commented on #4073
I have the same situation with you. How did you solve it in the end? 求大佬指点

[2022-09-27 12:16] Congrool commented on #3959
Progress udpate:
tests for controller manager: #4256

[2022-09-28 03:06] 18664599806 opened #4263 "pod container code cannot determine whether the container is started by edgecore or kubelet."
**What would you like to be added/modified**:
In my situation, the container code need determine whether it is started by edgecore or kubelet. I suggest that when edgecore start the pod, inject a special env to the container. So container code can determine it by the special env existence.
**Why is this needed**:
In my situation, the container code need determine whether it is started by edgecore

[2022-09-28 03:54] wackxu commented on #4263
Can you describe your scenario and why do you need to determine who started the pod

[2022-09-28 03:55] wackxu commented on #4263
Also we MUST not deploy edgecore and kubelet on the same node

[2022-09-28 08:22] RyanZhaoXB commented on #3760
the implementation of DMI for KubeEdge is proposed in https://github.com/kubeedge/kubeedge/pull/4013.
the implementation of DMI for a demo mapper of modbus is proposed in https://github.com/kubeedge/mappers-go/pull/79

[2022-09-28 13:00] NicoleLeeuu opened #4265 "typo"
**What happened and what you expected to happen**:
There are two typos in comments: " PodStatusRequest is Message.Content which come from edge " and " NodeStatusRequest is Message.Content which come from edge ".
I expect  grammer errors in these two sentences could be corrected.
**How to reproduce it (as minimally and precisely as possible)**:
Change  'come' to 'comes'.
**Anything else we need to

[2022-09-28 13:05] dreamfly-fly opened #4266 "Error: failed to get edge certificate from the cloudcore, error: Get "https://nginx-ip:10002/edge.crt": x509: certificate signed by unknown authority"
question： certmanager.go:94] Error: failed to get edge certificate from the cloudcore, error: Get "https://nginx-ip:10002/edge.crt": x509: certificate signed by unknown authority

environment：
1.kubeedge version：v1.10.2
2.nginx between cloudcore and edgecore
nginx(conf)：
  server {
        listen       10000;
        server_name  localhost;
        location / {
            proxy_pass http://cloudc

[2022-09-29 01:25] vincentgoat commented on #4228
Hi, @algobot76 is the problem still there? Can you provide the version number of KubeEdge and the details of `rules` and `ruleEndpoints`?

[2022-09-29 02:27] RyanZhaoXB commented on #3890
we can make some exploratory practice. Windows OS is needed in some scenarios.

[2022-09-29 02:30] vincentgoat commented on #4266
Hi, @dreamfly-fly
I think `proxy_ssl_trusted_certificate` should be configured in nginx conf as follows.
[code]

[2022-09-29 11:48] hcws opened #4270 "certmanager.go:93] Error: failed to get edge certificate from the cloudcore, error: Get "https://10.100.16.86:30002/edge.crt": x509: certificate is valid for 10.234.2.14, not 10.100.16.86"
I use kubesphere's follow  cmd  follow to add kubeedge edge node.
[code]
when I done the command the edgecore.service didn't work

I use` journalctl -u edgecore.service -b` to system logs it shows as follow

`certmanager.go:93] Error: failed to get edge certificate from the cloudcore, error: Get "https://10.100.16.86:30002/edge.crt": x509: certificate is valid for 10.234.2.14, not 10.100.16.86`

*

[2022-09-29 11:52] dreamfly-fly commented on #4270
The IP address needs to be bound when generating a certificate：
`openssl genrsa -des3 -out ca.key 4096
openssl req -new -x509  -days 365 -key ca.key -out ca.crt
openssl genrsa -out server.key 4096
openssl req -new -key server.key -subj "/CN=10.5.173.173" -out server.csr
echo subjectAltName = IP:10.5.173.173 > extfile.cnf
openssl x509 -req -in server.csr -CA ca.crt -CAkey ca.key -CAcreateserial -ex

[2022-09-29 11:53] dreamfly-fly commented on #4266
how to get cloudcore ca cert

[2022-09-29 11:56] dreamfly-fly commented on #4266
@vincentgoat

how to get cloudcore ca cert file path?

[2022-09-29 12:40] hcws commented on #4270
thanks for your reply!
I use kubesphere to manager edge nodes in the local area network, it is it's UI
![image](https://user-images.githubusercontent.com/28213814/193033304-525e3eed-4e7d-4894-bd94-0239f3c47d18.png)
And it seems I can't do like that

[2022-09-29 19:46] abhinavjha126 opened #4271 "Events not coming for the Edge !!"
Kubeedge Version: 1.8.1
When pods are spawn on Edge Node running event doesn't comes through event-exporter. Whereas cloud events are coming.
What alternative or changes can be done???
Please tell i am stuck here.

[2022-09-30 02:52] hcws commented on #4270
**解决方法：**

In **kubesphere** platform ===》 **tool kit** ===》**control tools** ===》**kubectl** terminal and delete secret
bash-5.1# kubectl get secret -nkubeedge
NAME                              TYPE                                  DATA   AGE
casecret                          Opaque                                2      12h
cloudcore                         Opaque                                3

[2022-09-30 06:30] vincent-chen-jan opened #4272 "Token and private key should be encrypted."
**What would you like to be added/modified**:
Currently, the token is saved in the configuration file as plain text, and the private key file is not encrypted as well.  It is suggested that the token should be passed to edgecore in a more secure way and the private key file should be encrypted.

**Why is this needed**:
The token and private key are key information for edge node security, they shou

[2022-09-30 06:42] RyanZhaoXB commented on #4272
@gy95

[2022-09-30 06:47] mahmut-Abi opened #4273 "how to deploy mutil cloudcore side."
can we deploy the kubeedge cluster with mutil cloudside, such as 3 cloudcore,or 5cloudcore ?
and what should I do ?

[2022-09-30 06:47] #4273 closed

[2022-09-30 06:48] mahmut-Abi opened #4274 "how to deploy multi cloudcore side."
can we deploy the kubeedge cluster with multi cloudside, such as 3 cloudcore,or 5cloudcore ?
and what should I do ?

[2022-10-04 06:12] akhilkochuveettilanilkumar opened #4276 "Edgecore service error Init websocket connection failed x509: certificate signed by unknown authority"
**What happened and what you expected to happen**:
I tried to setup edgecore in my local using keadm 1.12.0. Below I have attached the error log:
[code]
On checking the edgecore server I got the following error:

[code]

Edgecore service log:
[code]

Initial connectivity from edgecore to cloudcore is failing due to the cert error.

**How to reproduce it (as minimally and precisely as possible)**:

[2022-10-06 08:40] thb-cmyk opened #4277 "edge node not ready"
**What happened and what you expected to happen**:
[code]
the expected result, i think it is ready.

**How to reproduce it (as minimally and precisely as possible)**:
cloudcore-side
[code]
edgecore side
[code]
**Anything else we need to know?**:
the following information is  i have seen. if you hope more information, please tell me.
[code]
**Environment**:

OS: alibaba cloud linux 2

- Kubernetes

[2022-10-06 11:59] thb-cmyk commented on #4277
now, the problem likely is resolved.
i restart the cloudcore process, and the edgecore can connect to the cloudcore.

[2022-10-06 13:18] arpa42 opened #4279 "Errors when starting edge side"
**What happened**:
I start the edge side with the `keadm join` command on a Raspberry Pi 4 (Raspbian GNU/Linux 11 (bullseye), armv7l)
After that, I visit the logs and I see the following errors that I can't resolve:
[code]
These messages are repeated several times then the pod is restarted.

It's impossible to deploy a pod on the edge node. The pod remains in pending state and when I delete it, it

[2022-10-06 14:18] mretallack opened #4280 "How to use nodeLabels in edgecore config"
**What happened and what you expected to happen**:

I have added nodeLabels to the edgecore config:

    edged:

      nodeLabels:
        nodetype: edgeDevice

However, when I list labels using:

   kubectl get nodes --show-labels

I cannot see the nodetype label, have I added nodeLabels into the correct bit?

**How to reproduce it (as minimally and precisely as possible)**:

Add nodeLabels into

[2022-10-07 07:32] #4277 closed

[2022-10-08 01:53] LeiJJ8 commented on #4145
@vincentgoat Excuse me, Has it been merged in the latest version? For example 1.10.3/1.11.2

[2022-10-08 02:06] vincentgoat commented on #4145
This PR https://github.com/kubeedge/kubeedge/pull/4105 was just merged in the master branch and released in version v1.12.0.
Is this problem reproduced frequently?
We highly appreciate it if you work on it as well.

[2022-10-08 02:14] LeiJJ8 commented on #4145
@vincentgoat Often reproduced in 1.10.1, I will be ready to test the latest version.

[2022-10-08 03:22] vincentgoat commented on #4280
I found `nodeLabels` won't convert to `kubeletflags` in function `ConvertConfigEdgedFlagToConfigKubeletFlag`.
cc @Shelley-BaoYue

[2022-10-08 03:36] vincentgoat commented on #4279
Hi, @ArnaudPalgen can you filter `your pod name` in `cloudcore` logs to check if some errors exist?

[2022-10-08 04:09] Shelley-BaoYue commented on #4280
Exactly. I think I have missed nodelabels convertion. I'll fix it right away

[2022-10-08 07:07] 18664599806 commented on #4263
In my scenario, my pod may be scheduled to cloud node or edge node, my business logic is different when it is running in two type  nodes.

I need not deploy edgecore and kubelet on the same node.

@wackxu

[2022-10-09 02:33] dreamfly-fly opened #4283 "https://xxxx/edge.crt x509: certificate signed by unknown authority"
**What happened**:
The cloud and edge use nginx as the network proxy， ssl certificate is configured on nginx。**But when the edge is added to the cloud, the server certificate will be verified，“certmanager.go:94 Error: failed to get edge certificate from the cloudcore, error: Get "https://www.cloud.com/get/cert/edge.crt  x509: certificate signed by unknown authority**”

**configured on nginx**:
`

[2022-10-09 08:26] mengqinghao commented on #3266
@TKTKTKK I had the same problem.  But it's 1.12 , current latest version

[2022-10-09 08:27] dreamfly-fly opened #4284 "dial wss://nginx-ip:10004/v1/kubeedge/connect error websocket: bad handshake"
**What happened**:
The cloud and edge use nginx as the network proxy， ssl certificate is configured on nginx。**But when the edge startup，appear
“TLSClientConnect error websocket: bad handshake  ，dial wss://nginx-ip:10004/v1/kubeedge/connect error websocket: bad handshake**”

**configured on nginx**:
`

    server {
        listen       10004 ssl;

	ssl_certificate     /home/cert/server.crt;
	ssl_c

[2022-10-09 10:21] akhilkochuveettilanilkumar commented on #1957
Hi @semihmuhtaroglu,

Were you able to resolve this? I'm also facing something similar, as edge core tries to register node in EKS. EKS is responding with node deletion saying it does not exist in the cloud provider.
You can get more details on this here: https://stackoverflow.com/questions/73982201/unable-to-create-node-object-manually-in-eks
Please let me know if you're able to find something.

[2022-10-10 03:54] Mamba2Yi commented on #4276
  same problem

[2022-10-10 07:21] ArnaudPalgen commented on #4279
Hi, thanks for your answer @vincentgoat

With `tail -f /var/log/kubeedge/cloudcore.log` I have just logs like this:

[code]
And nothing new in the logs of the edge part.

It's strange that nothing is happening.
Maybe a misconfiguration?

[2022-10-10 07:45] ArnaudPalgen commented on #4276
Hi, I am a beginner with kubeedge but I already had this problem.
- Do you have used the `--advertise-address` flag with `keadm init` on the cloud side ?
- Having the edge node and the cloud node on the same local network and use their IP address instead of host names "solved" my problem temporarily.

Hope someone has a solution

[2022-10-10 10:14] dreamfly-fly commented on #4276
hi ，Have you solved the problem? I have encountered the same problem

[2022-10-10 12:44] vincentgoat commented on #4279
As I Know the issue https://github.com/kubeedge/kubeedge/issues/3736 will cause a similar problem and we solve it in PR https://github.com/kubeedge/kubeedge/pull/4192, and released in version v1.11.2

[2022-10-10 16:56] ArnaudPalgen commented on #4279
I installed the v1.11.2.
Now on the edge node, I have these logs:

[code]

the coredns pod:
[code]

[2022-10-11 00:57] akhilkochuveettilanilkumar opened #4287 "KubeEdge failing for EKS"
**What happened**:
I have my cloudcore setup at EKS (k8s version 1.21.12) and edgecore at an external server. I'm using keadm join to connect to setup the edgecore and its able to connect to cloudcore in EKS.
In the edgecore config, i have enabled 'RegisterNode: true'. As per the logs in cloudcore, I can see it trying to register node in EKS. But after few seconds, I can see the node got deleted a

[2022-10-11 01:43] vincentgoat commented on #4279
This is an issue with `coredns` container compatibility. Currently, the KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT environment variables are not injected into containers running on the edge nodes, causing the container to fail to start. You can check `coredns` container logs to check the detail failure.
Another thing is `coredns` will try to curl GET /version, which KubeEdge does not curr

[2022-10-11 03:52] kubecto opened #4288 "Whether kubeedge supports k8s1.23.4"
Whether kubeedge supports k8s1.23.4

[2022-10-11 08:03] #4284 closed

[2022-10-11 08:04] #4283 closed

[2022-10-11 09:09] MuchContact opened #4289 "twin status changes randomly after twin mapper stopped"
**What happened**:
twin status changes randomly after twin mapper stopped
**What you expected to happen**:
twin status  unchanged with the last state after twin mapper stopped
**How to reproduce it (as minimally and precisely as possible)**:
start a mapper , stop it,  and then watch out the status of twin after one minute.
**Anything else we need to know?**:

**Environment**:
- Kubernetes version

[2022-10-11 11:11] fumenglin opened #4294 "Error: failed to get edge certificate from the cloudcore, error: Get "https://172.17.228.25:10002/edge.crt": x509: cannot validate certificate for 172.17.228.25 because it doesn't contain any IP SANs"
请问，在v1.7.2和v1.12.0版本，部署cloud和edge端，均出现错误：
Error: failed to get edge certificate from the cloudcore, error: Get "https://172.17.228.25:10002/edge.crt": x509: cannot validate certificate for 172.17.228.25 because it doesn't contain any IP SANs

谁能帮帮我呢？谢谢
who can help me? thank you.

[2022-10-11 11:51] JiaweiGithub opened #4295 "routermanager not work"
**What happened**:

**What you expected to happen**:
Routermanager works normally

**How to reproduce it (as minimally and precisely as possible)**:
It is difficult to reproduce when suddenly not working

**Anything else we need to know?**:
The day before yesterday, it was still good. I suddenly stopped working. The cloud log shows success, but the edge mqtt does not receive messages, and the egde

[2022-10-12 06:24] bluven opened #4297 "Some errors happened when installing kubeedge-1.12.0"
**What happened**:

I wanna give it a try on kubedge-v1.12.0, but there are some problems happened.

1. cloudcore verison is still v1.11.0 even though I specified 1.12.0
[code]
3. edgecore cloudn't connect to cloudcore with the specified advertise-address. I found that keadm install kubeedge-v1.12.0 using deployment rather binary, so I force cloudcore pod to run the specified node to get around it

[2022-10-12 06:28] bluven commented on #4073
@ABottleofWater7 我当时是想运行kube-proxy，后来发现kubeedge提供了metaServer，而metaServer本身是http的，也不是kube-apiserver的代理，所以我直接为边缘节点另创建了一个kube-proxy daemonset, 直接访问metaServer，这种情况下kube-proxy的token对不对都无所谓了，我这个是在v1.11.0实验的，v1.12.0可能有变化

[2022-10-12 06:29] gy95 commented on #4297
keadm init --advertise-address=xxx.xxx.xxx  --profile version=v1.12.0
try with `--profile version=v1.12.0` flags but not `--kubeedge-version=1.12.0` when install cloudcore

[2022-10-12 06:48] gy95 commented on #4297
https://github.com/kubeedge/kubeedge/blob/2e300a9fa5179f938d68ba0ec62aa869b030f333/keadm/cmd/keadm/app/cmd/reset.go#L125-L131
is this due to we lost the function call `cli.NegotiateAPIVersion(ctx)`? cc @wackxu
@bluven   and we don't encounter this problem when you run `keadm join` to install cloudcore?
you can just `docker stop` and `docker rm `cmd in edge node to stop mqtt container?

[2022-10-12 07:01] bluven commented on #4297
@gy95 After I reinstall cloudcore,  I failed to let edge1 to join cloud:
[code]

So I execute `keadm reset` again and keadm report this:
[code]

Then I tried to join cloud again and this happened:
[code]

[code]

[2022-10-12 07:04] bluven commented on #4297
This works, thanks!

[2022-10-12 09:13] bluven opened #4301 "Couldn't execute 'kubectl log' or 'kubectl exec' on edge pods with kubeedge-v1.12.0"
**What happened**:

I want to do `kubectl exec` on a edge pod, but this error happened:
[code]

**What you expected to happen**:
`kubectl exec` can work on edge pods.

**How to reproduce it (as minimally and precisely as possible)**:

I installed kubeedge-v1.12.0 as metioned in issue #4297 and open stream feature as metioned on this [guide](https://kubeedge.io/en/docs/setup/keadm/#enable-kubectl-l

[2022-10-12 15:29] shao77622 commented on #4301
me too

[2022-10-13 02:13] wyanping opened #4303 "Where is the souce code of kubeedge/pause:3.1?"
I want to  build image which is kubeedge/pause:3.1, but I don't find the souce code and dockerfile about it. Can you help me?

[2022-10-13 02:26] wackxu commented on #4303
you can pull it from the dockerhub

[2022-10-13 02:27] wackxu commented on #4301
cc @Shelley-BaoYue  we should fix it asap and make a patch release

[2022-10-13 02:30] wackxu commented on #4297
yes, we should add this cli.NegotiateAPIVersion(ctx)

[2022-10-13 02:31] wackxu commented on #4288
yes, you can use k8s 1.23.4 to deploy kubeedge

[2022-10-13 02:55] wyanping commented on #4303
Yes, but I want to konw the souce code about it in order to compare with k8s's pause. Thank you.

[2022-10-13 03:12] wackxu commented on #4303
we do not change the source code and just rename the image tag and push it to the docker hub

[2022-10-13 03:16] wackxu commented on #4303
please see https://github.com/kubeedge/kubeedge/pull/3114

[2022-10-13 04:15] gy95 opened #4305 "Optimization about installation"
**What would you like to be added/modified**:

- [ ] keadm support HA deployment(maybe add an ingress to export cloudcore to web?)
- [ ] edge node upgrade to Beta
- [ ] KubeEdge in Docker
- [ ] support edgecore installation on windows
- [ ] keadm join/init support more flags(such as configure file)

**Why is this needed**:

[2022-10-13 04:22] mhh12121 commented on #3688
Also found similar problem in such scenario :
1. Delete an edge node `oldnode1`  forcibly
2. Readd a new edge  `edgenode1`

And it results to Unkown status in node `edgenode1` when using `kubectl top nodes`
[code]

Logs in cloudcore when type `kubectl top nodes`
[code]

And metrics server would repeatedly print:
[code]

[2022-10-13 05:18] wyanping commented on #4303
thanks for your help.

[2022-10-13 05:37] langkcc commented on #3688
You can upgrade version to 1.11.2, fix metrics and log link break off.

[2022-10-13 06:10] xavierlineX opened #4307 "keadm join - might delete `/bin`; SIGSEGV in `edgecore` (corrupted?)"
**What happened**:
  1. Run the following to setup edge side:
[code]
  2. Try to start `edgecore`.  After startup, check logs and found that `edgecore` always received SIGSEGV.
[code]

  3. Try to start a new shell,  but `/bin` (should linked to `/usr/bin` in Ubuntu 22.04.1) has been deleted.
[code]

**What you expected to happen**:
  `edgecore` work as expected.

**How to reproduce it (as minimal

[2022-10-13 06:13] #4303 closed

[2022-10-13 06:22] gy95 commented on #4307
/assign

[2022-10-13 08:10] mhh12121 commented on #3688
I tried to install cloudcore v1.11.2, but it seems not work at all...

[2022-10-14 08:24] NaNi-Z opened #4310 "kubelet endpoint port of edge node could not be set correctly"
**What happened**:
when deployed with cloudcore HA, the kubelet endpoint port of edge node could not be set correctly.

at first, cloudcore change the port to 1035x, but it updated by edgecore metamanger for a moment.

**What you expected to happen**:
hold the kubelet port with 1035x

**How to reproduce it (as minimally and precisely as possible)**:
1. deploy cloudcore with HA
2. join a edge node

[2022-10-14 11:25] siredmar opened #4312 "edgecore.yaml v1alpha1 (also v1alpha2) taints and labels not working with v1.12.0"
**What happened**:
When using edgecore v1.12.0 with the v1alpha1 component spec, the registered node doesn't get labeled or tainted as specified.

The same goes for v1alpha2 where the keys are renamed to `nodeLabels` and `registerWithTaints`.

**What you expected to happen**:
I'd expect v1.12.0 to be as compatible as v1.11.0 was using v1alpha1
I'd also expeect that v1.12.0 is able to fully use v1a

[2022-10-16 13:00] linuswagner commented on #1662
I assume `cni` refers to the name of the CNI I want to use. Could you be more precise what exactly needs to be filled in? In other words: How does EdgeMesh resolve what I put in the the parameter `modules.edged.networkPluginName`

[2022-10-17 08:37] NaNi-Z opened #4314 "use remote runtime type, mqtt will be stopped when edgecore started."
**What happened**:
use containerd remote runtime, mqtt is stopped when edgecore started and will not start it again.

**What you expected to happen**:
do not stop mqtt or restart mqtt auto.

**How to reproduce it (as minimally and precisely as possible)**:
just use containerd runtime and join the node.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl versio

[2022-10-18 03:28] vincentgoat commented on #3841
cc @wackxu

[2022-10-18 06:43] siredmar opened #4315 "KubeEdge on K3D v1.22: kubeedge exec and logs not working"
Running kubeedge v1.12 on k3s v1.22 the `kubectl exec` and `kubectl logs` feature don't work.

*Yes, i have cloudstream and edgestream enabled.* If deployed on a cluster that runs in the cloud this setup works. This only is an issue running in k3s.
There you see my cluster with and Raspberry PI edge node called `clownfish`.

[code]

Here are my pods running on my edge node.
[code]
`kubectl exec` a

[2022-10-18 08:57] jtovartr opened #4316 "Edge node cannot join to Cloud node"
**What happened**:

Last week I was able to deploy Kubeedge in its entirety, joining the edge node to the cloud node, but now, repeating the same process, when executing the keadm join command on the edge node I get the following error in the edgecore log:

**What you expected to happen**:

The edge node joins the cloud node.

**How to reproduce it (as minimally and precisely as possible)**:

*Clo

[2022-10-18 10:54] #4316 closed

[2022-10-18 10:57] jtovartr commented on #4316
It seems to be a problem with kubeedge versions. It was using an old version, I upgraded and problem solved.

[2022-10-18 21:43] mikecook commented on #4274
Check out https://github.com/kubeedge/kubeedge/tree/master/build/cloud/ha

[2022-10-19 02:25] mahmut-Abi commented on #4274
i will try it, thanks

[2022-10-19 07:05] #4307 closed

[2022-10-19 10:10] LeiJJ8 opened #4317 "resType is not pod or configmap or secret or volume: resType is persistentvolume"
**What happened and what you expected to happen**:

I got an error when I use pv and pvc on edge side.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

It seems that kubeedge can't use nfs?

**Environment**:
- Kubernetes version (use `kubectl version`):  1.23.12
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):  1.12.0

[2022-10-19 10:12] LeiJJ8 commented on #4317
Replenish log:

10月 19 18:06:57 device14 edgecore[1475]: E1019 18:06:57.547155    1475 imitator.go:235] failed to unmarshal message content to unstructured obj: Object 'Kind' is missing in '{"metadata":{"na
10月 19 18:06:57 device14 edgecore[1475]: E1019 18:06:57.552407    1475 edged.go:229] resType is not pod or configmap or secret or volume: resType is persistentvolume
10月 19 18:06:57 device14 ed

[2022-10-20 08:54] xavierlineX opened #4321 "Get empty environment vriable value from `status.podIP` if `hostNetwork` enabled in edge."
**What happened**:
  Got an empty environment variable that from `status.podIP` if `hostNetwork` enabled.

**What you expected to happen**:
  Get the value of `status.podIP`(should be the IP address of the host like Kubernetes do)

**How to reproduce it (as minimally and precisely as possible)**:
    1. Duplicate `nginx_edge_demo.yaml`, remove `spec.template.spec.hostNetwork` in copy and apply edi

[2022-10-21 07:52] jjj960 commented on #3853
Can you say more in detail, I do not quite understand.

[2022-10-21 09:30] zhangcai1989828 opened #4326 "为什么cloudcore占用的内存会一直增长？"
用1.12.0版本的创建了一个kubeedge集群，加了500个node， cloudcore 占用的物理内存一直在慢慢增长，最后oom，已经分配了10G的内存大小也一样oom，是哪里有bug？

[2022-10-21 09:38] vincentgoat opened #4327 "Umbrella issue for test cases enhancement"
## Description
We summarized some task items as follows for KubeEdge code quality testing, please comment with one or more items' names if you are interested to join.

## Tasks

### Unit Test
- [x] integrated Codecov into CI/CD -- @gy95
#### Complete UT cases in the following directory to improve the coverage to at least 80%.
- [ ] kubeedge/cloud/pkg/admissioncontroller @gy95
- [ ] kubeedge/cloud/

[2022-10-24 01:28] wackxu commented on #4326
How often does cloudcore oom？how many pods your cluster has？

[2022-10-24 06:11] jiangxuhui opened #4332 "kubeedge到底如何安装的？"
如题: 我从去年10月份开始，尝试了好多次，没有一次安装成功过
你们都是神仙吗？咋安装的？
官网教程 ：https://kubeedge.io/zh/docs/setup/keadm_zh/

[2022-10-24 07:31] RyanZhaoXB commented on #4332
hello, welcome to join KubeEdge. let me help you to install a KubeEdge cluster. please to tell me the problem you have met.
have you installed a Kubernetes cluster first? or did you meet problems when `keadm init`?

[2022-10-24 07:38] RyanZhaoXB commented on #4289
hello, could you please post more log of edgecore and mapper? let me reproduce it.

[2022-10-24 08:46] jtovartr opened #4334 "Error DNS resolution when trying to use EdgeMesh"
**What happened**:

I am trying to use edgemesh on my system with kubeedge.  I am following the documentation in the following link: https://kubeedge.io/en/docs/advanced/edgemesh/. It specifies that EdgeMesh is enabled by default.

The network interface docker0 exists and I have configured both DNS Order and IP Forward Setting.

`ifconfig`
[code]
`grep hosts /etc/nsswitch.conf `
[code]
`sudo sysct

[2022-10-24 15:16] benjaminhuo commented on #4326
@wackxu should be similar to the issue found in 1.9

[2022-10-25 00:26] q77190858 opened #4338 "How to make a Pod in a offline edgenode not to be migrated by control plane?"
**What happened and what you expected to happen**:
I deploy a deployment to a edgenode, then I disconnect the cloud-edge network of this edgenode.
A few minutes later, the disconnect edge node is reported as NotReady by `kubectl get node` and Taints is attached.
Then the Pod in tainted disconnected edge node is migrated to another no-tainted edge node by control plane.
But I do not want the migrat

[2022-10-25 00:28] q77190858 commented on #4301
me too

[2022-10-25 00:28] q77190858 commented on #4301
me too

[2022-10-25 00:29] q77190858 commented on #4332
确实，文档太老了，也不更新，很多东西对不上

[2022-10-25 01:26] wackxu commented on #4338
you can add tolerations for you deploy
[code]

[2022-10-25 01:49] q77190858 commented on #4338
This is a method using a k8s native mechanism. And I want to know whether there is a KubeEdge defined method to annotate a edge node? So all of pods in this edge node can not be migrated when edge node is offline.
And I saw some documents which tell me th AdmissionController component in cloudcore has function of preventing pod migration, So How can I use this function?

[2022-10-25 02:19] wackxu commented on #4338
yes, you can deploy the AdmissionController,  and for pod that does not need migrated to other node when the node if offline, you need add label to the pod `app-offline.kubeedge.io=autonomy`, then the AdmissionController will Automatically add toleration for the pod

[2022-10-25 05:49] jiangxuhui commented on #4332
1、tks for you reply. if  u chinese, please use chinese
2、the document of kubeedge is toooooooooooo  old. i cannot install kubeedge successful if i follow the document
3、so i have to just use keadm init ，cloud installed success,
4、is there any Manage pages that i can use?
5、 kubeedge version = v 1.12.0

[2022-10-25 07:25] #4288 closed

[2022-10-26 01:47] hexiaodai commented on #4294
生成的证书不对

[2022-10-26 08:14] SakuraWh opened #4343 "docker images有没有国内的镜像加速"
**问题：docker images有没有国内的镜像加速仓库**:
**Question：Does docker images have a Chinese mirror acceleration hub?**

常用的阿里云华为云好像没有kubeedge的镜像，直接从docker hub上pull有一点点慢
The commonly used Alibaba Cloud and Huawei Cloud do not seem to have kubeedge images, so pulling directly from the docker hub is a little slow.

[2022-10-26 09:17] rajdudi opened #4344 "JSON: cannot unmarshal number into Go struct field Edged.modules.edged.imagePullProgressDeadline of type string"
**What happened**:
On the edge node :
# keadm join --cloudcore-ipport=x.x.x.x:10000 --token=XXXX --edgenode-name=edge-1
KubeEdge edgecore is running, For logs visit: journalctl -u edgecore.service -xe

But the kubeedge is not running and in logs is the following error
Oct 26 07:44:55 ip-172-31-26-101 edgecore[38230]: E1026 07:44:55.898115   38230 helper.go:34] Failed to unmarshal configfile /etc/k

[2022-10-26 13:12] Shelley-BaoYue commented on #4344
I think updating `keadm` to the latest version can solve your problem. You can try it.

[2022-10-26 13:43] donghui12 commented on #4344
can you show me the config file edgecore.yaml ?

[2022-10-26 13:56] stavbernazanv commented on #4153
got the same issue on v1.10.0:
[code]

[2022-10-27 03:03] Shelley-BaoYue commented on #4344
Thx for your suggestions. We'll optimize the `keadm` compatibility asap.

[2022-10-28 03:58] #4280 closed

[2022-10-28 06:26] #4338 closed

[2022-10-28 14:46] lorenzosciuto opened #4352 "Kubernetes 1.23 compatibility"
Is there any planned support for Kubernetes 1.23 in the near future?
Both Azure and Google are dropping support for Kubernetes 1.22 between December (MS) and March (Google).
Any update from your side? How we will keep using KubeEdge on those cloud services?

[2022-10-29 03:49] ksankeerth commented on #4327
I'll write UT for kubeedge/edge/pkg/edgehub

[2022-10-29 07:13] vincentgoat commented on #4327
Thanks a ton!

[2022-10-29 07:27] vincentgoat commented on #4334
Is interface `edgemesh0` created?

[2022-10-29 09:45] #4301 closed

[2022-10-31 07:31] NaNi-Z opened #4357 "edgecore delete /bin symlink on ubuntu 20.04"
**What happened**:
edgecore delete /bin symbol link on ubuntu 20.04

audit by auditd.

**What you expected to happen**:
do not delete /bin

**How to reproduce it (as minimally and precisely as possible)**:
keadm join with remote runtime on ubuntu

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):1.22.6
- KubeEdge version(e.g. `cloudcore --version`

[2022-10-31 07:34] NaNi-Z commented on #4357
with default edgecore.service, the working directory is(may be) /, and it edgecore will delete file bin.
change the working directory in edgecore.service, it do not delete /bin again.

[2022-10-31 07:44] gy95 commented on #4357
not understand, what's this meaning?

[2022-10-31 07:53] gy95 commented on #4314
not understand what's your statement.
mqtt will be installed in container mode by default. you can find it by running `crictl ps`.
but if you don't want to install mqtt, you can use `--with-mqtt=false` flag during running `keadm join` to start edgecore

[2022-10-31 08:59] jtovartr commented on #4334
@vincentgoat no. I have to configure edgemesh? I assume that EdgeMesh is enabled by default.

[2022-10-31 09:11] vincentgoat commented on #4334
Some prerequisites need to be done before you deploy edgemesh.
FYI: https://edgemesh.netlify.app/

[2022-10-31 09:33] NaNi-Z commented on #4357
@gy95
defaut edgecore.service created by "keadm join" doesn't have WorkingDirectory parameter, then the default WorkingDirectory maybe the / , and edgecore delete the /bin file.
I set the WorkingDirectory parameter in edgecore.service to another directory, then edgecore does not delete /bin.

[2022-10-31 10:36] jtovartr commented on #4334
I have installed edgemesh and get the same results. DNS does not work.

I have enabled Edge Kube-API Endpoint before install edgecore.

`curl 127.0.0.1:10550/api/v1/services`

[code]

After that I installed edgemesh.

`microk8s.kubectl get all -n kubeedge -owide`
[code]

The same error appears, but if I delete the line **clusterIP: None** and an IP is assigned to the service, I can curl to that IP

[2022-10-31 12:41] my-git9 opened #4361 "Support install in other namespace"
**What would you like to be added/modified**:
Support install in other namespace

**Why is this needed**:
Currently, kubeedge does not support namespaces other than kubeedge. I think we can try to adjust it to support installation in other namespaces

[2022-10-31 12:43] my-git9 commented on #4361
/cc @fisherxu @wackxu @gy95 What do you think?

[2022-10-31 13:07] Manu-DF commented on #2358
I got the same issue for any kind of runtimeclass. `edgecore` v1.11.2 and `kubernetes` v1.23.10

[code]
It's seem to be related with invalid permissions to get `runtimeclass.node.k8s.io` through Kubernetes API.

What is the proper way to configure runtime classes for `kubeedge` please ?

[2022-11-01 08:55] gy95 commented on #4357
curious about why it will delete the /bin file. :)  I cannot reproduce it on my machine.

[2022-11-01 11:18] renhuaihuai opened #4364 "How to use csidriver?"
**What happened and what you expected to happen**:
Do you have the latest documents about csidriver?
I have tested this https://github.com/kubeedge/kubeedge/blob/master/docs/proposals/csi.md, cannot use this yaml;

**Environment**:
- Kubernetes version (use `kubectl version`): v1.23.10
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`): v1.10.3

[2022-11-02 01:55] NaNi-Z commented on #4357
I'm curious too, my colleague met the same problem on Ubuntu 20.04.4.
I think edgecore do not delete /bin directly, but deletes bin file where it working at.

[2022-11-02 04:00] zz952332446 commented on #4274
Hello, do you deploy multi cloudcore successfully? I wonder how to deploy it and what's the environment(HA of cloudcore)it needs?

[2022-11-02 04:04] wuxs commented on #4332
我最近刚好在安装kubeedge，记录了一下安装过程，你可以参考一下。目前还有些问题，没法使用 kubectl logs 和 kubectl exec
https://www.yuque.com/docs/share/f638603f-cdf6-49d8-9938-93591122e516

[2022-11-02 04:08] wuxs commented on #4343
可以试试这个 https://dockerproxy.com/docs

[2022-11-03 04:35] RyanZhaoXB opened #4374 "[Course Task]Umbrella Issue for Tasks of Cloud Native Edge Computing Course"
Hello everyone. This is the umbrella issue for tasks of Cloud Native Edge Computing Course.

[2022-11-03 06:15] SakuraWh commented on #4343
谢谢

[2022-11-03 06:16] SakuraWh commented on #4343
谢谢

[2022-11-03 06:16] SakuraWh commented on #4343
谢谢

[2022-11-03 06:17] #4343 closed

[2022-11-03 09:02] #4374 closed

[2022-11-03 13:46] q77190858 commented on #4338
how to enable AdmissionController? I label the pod app-offline.kubeedge.io=autonomy and it is still migrated when offline

[2022-11-04 00:16] jxs1211 commented on #4014
hi, I want to take the task of ` Analyze and fix InsecureSkipVerify config of http client `, please assign it to me

[2022-11-04 01:06] vincentgoat commented on #4014
Sure, thanks a ton!

[2022-11-04 01:17] vincentgoat commented on #4014
We've already encrypted MetaServer by https://github.com/kubeedge/kubeedge/pull/4104.
And there is still a need for help with EventBus and ServiceBus encryption.

[2022-11-04 02:06] jxs1211 commented on #4014
I want to make sure that the task is originate from https://github.com/kubeedge/kubeedge/issues/4001, so the need of the task is `Set InsecureSkipVerify to false in http request`, right?

[2022-11-04 02:21] vincentgoat commented on #4014
Yes, we should confirm at least we have one way to use https client with `InsecureSkipVerify` set to false.

[2022-11-04 02:49] jxs1211 commented on #4014
/assign

[2022-11-04 08:38] tomsunyu opened #4380 "How to install kubeedge offline?"
How to install kubeedge offline?
The network of my company can not connect to the public internet. So how to install ?

[2022-11-04 10:54] jtovartr commented on #4334
@vincentgoat sorry to bother you but is there a solution to this problem? Should I comment this problem in the edgemesh issues section? Thanks!

[2022-11-04 13:37] vincentgoat commented on #4334
As far as I know, `nginx-svc` should not be **clusterIP: None**.
Of cause, you can also comment in the edgemesh issues. @Poorunga can provide more helps.

[2022-11-06 06:38] vincentgoat commented on #4380
cc @gy95

[2022-11-06 09:17] akhilkochuveettilanilkumar commented on #4276
Hi,
I was able to resolve it by disabling ssl cert attached to the ELB.
At the cloud side, I had it set up in AWS EKS.
@ArnaudPalgen I created an ingress at cloud side as advertise address and exposed it via loadbalancer service -> AWS Route 53.
@dreamfly-fly I was able to temporarily resolve this by disabling ssl cert at the cloud core url ELB. After that, clearing the cert and edge core folder a

[2022-11-06 09:25] akhilkochuveettilanilkumar commented on #4287
Hi,

As part of debugging, I reached out to AWS support on the node registration issue.
It looks like AWS EKS doesn't support node object creation.
I tried creating a node object using the below show json:

[code]
And got the following error

[code]

Is there any way to resolve this?

Thanks.,
Akhil

[2022-11-07 01:15] gy95 commented on #4380
1. https://kubeedge.io/en/docs/setup/local/
download release package and install CRDs
2. https://kubeedge.io/en/docs/setup/keadm/
download keadm, and use `keadm init` to install cloudcore in container mode, use `keadm join` to install edgecore, the both commands are using docker images.

[2022-11-07 07:16] baosiling opened #4381 "Can edgecore be deployed on the android system?"
**What happened and what you expected to happen**:
The edgecore of arm version cannot run in the android system

**How to reproduce it (as minimally and precisely as possible)**:
Failed to run this version of edgecore on the android system(https://github.com/kubeedge/kubeedge/releases/download/v1.12.1/kubeedge-v1.12.1-linux-arm.tar.gz),

android version
pufferx8:/data # getprop ro.build.version.re

[2022-11-07 07:57] jtovartr commented on #4334
@vincentgoat I have set ClusterIP: None because it is specified in the example available on the web page: https://kubeedge.io/en/docs/advanced/edgemesh/

[code]

[2022-11-07 09:15] vincentgoat commented on #4334
@jtovartr Can you try to remove `clusterIP: None` and let's see if it can work?
I think some updates need to be done for the web page.

[2022-11-07 09:58] jtovartr commented on #4334
@vincentgoat Yes, if I delete the line clusterIP: None I can access through the IP assigned to that service but not through the dns name http://nginx-svc.default.svc.cluster.local:12345.

[2022-11-07 10:00] da-sha commented on #4164
我在"Ubuntu 20.04.4 LTS也存在这样的问题，
怎么办？

E1107 09:42:03.167800   13446 imitator.go:235] failed to unmarshal message content to unstructured obj: Object 'Kind' is missing in '{"metadata":{"name":"lilei-vm","creationTimestamp":null,"labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/os":"linux","kubernetes.io/arch":"amd64","kubernetes.io/hostname":"lilei-vm","kubernetes.io/os":"linux","node-

[2022-11-07 11:42] gy95 commented on #4381
maybe you need some operations on android
ref: https://github.com/ThunderSoft001/kubeedgeOnAndroid

[2022-11-08 01:04] baosiling commented on #4381
Thank you.

[2022-11-08 01:29] sunt89 opened #4385 "可以怎么实现对消息路由的启用和停用"
在华为的智能边缘平台中看到可以对消息路由进行启用和停用，但是在Rule中并没有看到相关的属性可以设置启用和停用。

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`): v1.12.0

[2022-11-08 06:50] siredmar opened #4386 "Cannot put edge node in multiple NodeGroups"
**What happened**:
I have two edge nodes (A and B). I created two node groups called A and B each targeting its corresponding node.
I've created a third nodegroup C, targeting both A and B.
If nodegroups A and B get deployed, the label `apps.kubeedge.io/belonging-to:`gets updated to the corresponding Nodegroup name (A/B).
If the third nodegroup C is deployed, the controller-manager logs the follow

[2022-11-08 07:21] wackxu commented on #4386
cc @vincentgoat

[2022-11-08 07:23] siredmar opened #4387 "support Daemonset for edgeApplication"
**What would you like to be added/modified**:

Supporting Daemonsets for edgeApplications would be great!

**Why is this needed**:

As deployment currently is the only supported kind of workload definition for the edgeApplication, but i have multiple nodes, that should all run the same edgeApplication one has to manually modify the replica count in the deployment. This has a flaw, because it doesn

[2022-11-08 08:33] James-JLC opened #4388 "keadm didn't install the right version of cloudcore even though I specified --kubeedge-version flag"
keadm has been updated to version 1.12.1, see below
`$keadm version`
`$version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.1", GitCommit:"919ad5378eaca3cb0c666c22a19db01261cbc9a6", GitTreeState:"clean", BuildDate:"2022-11-02T08:22:56Z", GoVersion:"go1.17", Compiler:"gc", Platform:"linux/amd64"}`

I tried install cloudcore of v1.12.1 with the following command
`keadm init --advertise-add

[2022-11-08 08:37] gy95 commented on #4388
you can try
`keadm init --advertise-address=xxx.xxx.xxx.xxx --profile version=v1.12.1 --kube-config=/home/anyone/.kube/config`
with `--profile version=v1.12.1` but not `--kubeedge-version=1.12.1`

[2022-11-08 09:29] James-JLC commented on #4388
Yes, I know. But it's not the right way to do that because we have kubeedge-version flag.

[2022-11-08 13:04] WVenus opened #4390 "Hello, I want to use keadm to deploy kubeedge in an offline environment. Do you have any related documents?"
**What happened and what you expected to happen**:
Hello, I want to use keadm to deploy kubeedge in an offline environment. Do you have any related documents?

**How to reproduce it (as minimally and precisely as possible)**:
![image](https://user-images.githubusercontent.com/39941928/200571979-8a038b97-5b0b-40cd-a247-7d5bb2b60c99.png)

**Anything else we need to know?**:

**Environment**:
- Kuber

[2022-11-09 00:59] #4385 closed

[2022-11-09 03:17] jxs1211 commented on #4014
@vincentgoat #4378 for #4001

[2022-11-09 05:49] James-JLC commented on #4388
And if `--profile version=v1.12.1` is recommended, then we should remove `--kubeedge-version` flag, because it's confused and useless.

[2022-11-09 06:16] vincentgoat commented on #4390
Same issue with https://github.com/kubeedge/kubeedge/issues/4380

[2022-11-09 06:22] #4390 closed

[2022-11-09 06:27] WVenus commented on #4380
HI，I tried the methods in the official documents, but keadm cannot be used in the offline environment。

[2022-11-09 06:34] vincentgoat commented on #4386
We assume that it is the one-to-one relationship between nodes and node groups as of now.
We are working on the feature of filtering node groups by the label in edgeapplication, and I think this can match your case.
cc @Congrool

[2022-11-09 08:00] James-JLC commented on #4388
Here is another issue, When I run command `sudo keadm init --advertise-address='xxx.xxx.xxx.xxx' --profile=iptablesmgr=external --kube-config=/home/ubuntu/.kube/config` to install cloudcore and iptablesManager. It will try to pull `kubeedge/iptables-manager:1.12.0` and `kubeedge/cloudcore:1.12.0` by default, prefix **v** is missing.

I created a new [PR](https://github.com/kubeedge/kubeedge/pull/4

[2022-11-09 10:01] sirjasiu opened #4396 "Running kubeedge with AKS"
**What happened and what you expected to happen**:
I'm trying to connect kubeedge with AKS. I expect to have my local machine available as a node in the cluster. Unfrtunately it registers but not getting to Ready state.
I got the following logs in the edgecore:
[code]

Did anyone tried using kubeedge with AKS?

**How to reproduce it (as minimally and precisely as possible)**:
What we did so far is

[2022-11-09 10:36] sirjasiu commented on #2977
Hi @siredmar - did you figure out how to deal with this master role? Can you please help us, or share your experience on running kubeedge with aks?

[2022-11-09 10:44] siredmar commented on #2977
TL;DR kubeedge doesn't run on AKS, like any other (at least the great majority) of hosted k8s providers. They manage the control-plane and forbid adding custom nodes. Why? Because this is the business model. If you need a different amount of compute power, scale your nodes up or down. The bad thing is, that kubeedge nodes behave just like cluster nodes. So this is impossible to use.

You can use A

[2022-11-09 10:59] sirjasiu commented on #2977
Thanks 😁

[2022-11-09 12:14] stavbernazanv opened #4397 "Downloading the Cloudcore helm chart automatically"
**What happened and what you expected to happen**:
I want to generate a CI process which generates an archive which contains all necessary dependencies for installing cloudcore in an airgap environment.

Is there any way to download a specific version of the cloudcore helm chart? because it's only available in your git repo for versions 1.9.1 and now also 1.12.1.

Thanks

**Environment**:
- Kubern

[2022-11-09 13:34] Congrool commented on #4386
It seems that the error log is not we expect. In the case you described above, it should be
[code]

We should fix it to avoid to make us confused. Would you like to submit a pr to solve this problem? @siredmar

[2022-11-09 14:28] ageoffron commented on #2977
@siredmar This is not my experience. Kubeedge has been working fine with AKS.

@sirjasiu Create your edge node with the necessary labels before you join the node.  This will prevent inherently AKS controlplane from pushing pods.

-```
--
apiVersion: v1
kind: Node
metadata:
  name: "your node name"
  labels:
    kubernetes.azure.com/role: "agent"
    kubernetes.io/role: "agent"
    node-role.kubern

[2022-11-09 15:36] ageoffron commented on #4396
Here is the service I created to expose cloudcore:
You may not need all the ports depending on your own edge requirements, but that should cover it.
hope this helps.

`---
apiVersion: v1
kind: Service
metadata:
  labels:
    k8s-app: kubeedge
    kubeedge: cloudcore
  name: cloudcore
spec:
  type: LoadBalancer
  loadBalancerIP: {{.Values.cloudcore.ip}}
  ports:
  - port: 10000
    targetPort: 1000

[2022-11-09 16:13] sirjasiu commented on #4396
Thanks for you help, indeed with you setup azure no longer tries to deploy its own pods.
Unfortunately I still have some strange problems:
with updating status:
`is 09 17:07:37 rqm-3 edgecore[1835522]: E1109 17:07:37.020677 1835522 kubelet_node_status.go:400] "Error updating node status, will retry" err="failed to patch status \"{\\\"status\\\":{\\\"$setElementOrder/conditions\\\":[{\\\"type\\\":\

[2022-11-10 06:48] Shelley-BaoYue commented on #4396
Hi, @sirjasiu .  I have met this question before. I guess the edgecore-version and cloudcore-version is inconsistent, maybe edgecore-version is 1.12.0, while cloudcore-version is 1.12.1.  You can try using  `--profile version=v1.12.1` to keadm init cloudcore, and use the flag  `--kubeedge-version=1.12.1`  to setup edgecore again.

[2022-11-10 11:27] sirjasiu commented on #4396
@Shelley-BaoYue thanks, that was it. I had 1.12.0 on edge. Still however I have some problems with synching pods from edge to k8s. I have calico and datadog in the cluster, those pods were propagated to the edge, but they cannot be synched to cluster, I got the following errors:
`"Failed to update status for pod" pod="calico-system/calico-typha-5b857dcb6-zmnbb" err="failed to patch status \"{\\\"m

[2022-11-10 14:13] Shelley-BaoYue commented on #4396
@sirjasiu  It seems that this error is not related to CRDs.  Have you make sure that the pod exists in the cluster?  Also, `parse message: dffb563a-60cd-463f-bbe7-00913385df82 resource type with error, message resource: node/velox-robbie-katowice2, err: resource type not found` is a normal log, you can ignore it.
I will try to reproduce this problem. If you have more info, hope you provide it.

[2022-11-10 15:34] jtovartr commented on #4334
I managed to get everything to work correctly by reinstalling kubeedge.

[2022-11-11 03:20] vincentgoat commented on #4327
Test in local host and check coverage:
go test -v ./... -coverprofile=cover.out
gocov convert cover.out | gocov-xml > coverage.xml

[2022-11-11 07:16] duanhaowei commented on #3266
i got the same problem too. my version is 1.12.1

[2022-11-11 08:31] falser101 opened #4403 "use testify package in unit tests"
**What would you like to be added/modified**:
Use github.com/stretchr/testify/require and github.com/stretchr/testify/assert packages in all unit tests.

Demo PR: #4402

**Why is this needed**:
This removes much boilerplate from the tests, and improves speed and quality of understanding and modifying them.

[2022-11-11 08:31] falser101 commented on #4403
/assign

[2022-11-11 08:41] da-sha commented on #4164
我也遇到了同样的问题，后来经过调查发现：
默认cloudcore会被任意调度的一个节点上，并且开hostport，这个导致可能与你期望的server.advertiseAddress服务器不一致，导致他连接不上，我修改调度策略，指定调度到期望节点后，一切恢复正常了！
希望对你有用！

[2022-11-11 10:59] siredmar commented on #3959
There is a question that needed to be resolved:
Looking at this example, there is an issue when there is a nodeGroup that has both labels `dev1` and `dev2`.

[code]
Selecting the correct override is basically impossible.  So, as discussed with @Congrool today we decided that in such a case there will be an Event in the edgeApplication that tells the user that there has been an error rolling out th

[2022-11-14 01:55] Congrool commented on #3959
/cc @vincentgoat @fisherxu

[2022-11-14 02:56] Shelley-BaoYue commented on #3839
[Implementation of the KubeedgeOnOpenHarmony](https://github.com/kubeedge/community/pull/111)

[2022-11-14 03:14] huanwei commented on #3839
/lgtm

[2022-11-14 03:15] #3839 closed

[2022-11-14 04:06] Shelley-BaoYue opened #4408 "Support KubeEdge running on the windows"
**What would you like to be added/modified**:

Support KubeEdge running on the windows.

**Why is this needed**:

As KubeEdge is widely used in industry scenarios, we need to expand more capabilities. For many industrial devices run Windows, it's a necessary and meaningful work to support KubeEdge running on windows.

[2022-11-14 04:09] wackxu opened #4409 "Umbrella issue tracking KubeEdge conforlamce test"
We will launch kubeedge conformance certification

This issue tracks all work to accomplish KubeEdge conforlamce test

- [ ] Revert ginkgo from v2 to v1 to support run kubeedge e2e and k8s e2e together #4398
- [ ] refactor e2e directory #4401
- [ ] add reporter for E2E, so we can get the detail report when e2e run finish #4407

[2022-11-14 09:30] Congrool commented on #3959
@batthebee Welcome!

I have a question:

What are these large number of event entries? Could you please give some examples?

The original idea of using

[code]

is that we need to provide information for users to check why this edgeapplication cannot be deployed at the nodegroup. With \<name of nodegroup\> and \<list of matching labels\>, users can check the `targetNodeGroups` of this edgeapplicti

[2022-11-14 10:02] Congrool commented on #3959
Ohh, seems a new problem will be introduced when using event like
[code]

If we update the edgeapplication, which results in the change of the order of elems in targetNodeGroups, stale events will make users confused. 🤔

[2022-11-14 13:39] duanhaowei commented on #4332
一样，我已经是很认真的搜索+查看issue+找最新版本安装了，现在也是堪堪连上节点。无法使用kubectl logs ，总提示我debug endpoint disable 。 然后我死活找不到那里配置才可以开启那个handler。

[2022-11-14 13:45] batthebee commented on #3959
We've been doing some thinking and we think there's a bigger problem behind it. We believe that the concept of overrides is not sustainable.

If you look a little bit into the future, the requirements for overrides will probably increase significantly.

The NodeGroups represent the different environments in which my applications run. Depending on the environment, many other environmental condition

[2022-11-14 13:47] batthebee commented on #3959
@Congrool `matchLabels` will it be a map with multible labels. And i want to implement a "all-needs-to-match" logic on that. Fine?

[2022-11-14 13:56] duanhaowei commented on #4380
but `https://kubeedge.io/en/docs/setup/local/ `said "Deploying KubeEdge with binary is used to test, never use this way in production environment." .....

[2022-11-15 03:38] Congrool commented on #3959
Yeah, I have to say you're right. The reason that we currently only support overriding image and replicas is just for simplicity. We proposed to implement something like this(BTW, it's struct from [karmada](https://github.com/karmada-io/karmada/blob/master/pkg/apis/policy/v1alpha1/override_types.go#:~:text=//%20PlaintextOverrider%20is%20a,%7D)) for generic patch and also provide replica overrider

[2022-11-15 03:44] Congrool commented on #3959
Sounds good to me, but we have to solve the problem of readability. I think we may need a way to identify the overrider to make the event more explicit.

[2022-11-15 07:23] siredmar commented on #3959
I understand the initial idea of the overriders and the overriders. The overriders are basically one step closer to the need of having a templating engine builtin - like you suggested with your PlaintextOverrider.
From an architectural point of view the whole idea of creating some sort of templating within a resource isn't the best decision.

Leaving The edgeApplication as is, targeting some nodeG

[2022-11-16 01:16] duanhaowei commented on #4332
感谢告知，我昨天刚好使用1.12.1部署了，才发现是版本的问题。ToT

[2022-11-16 06:15] sunt89 opened #4413 "After starting module router, port 9443 not listening"
**What happened**:

**What you expected to happen**:
After starting module router, port 9443 are listening
**How to reproduce it (as minimally and precisely as possible)**:
1. edit cloudcore.yaml,  enable router
[code]
2. systemctl restart cloudcore.service

[code]

[code]

**Environment**:
- Kubernetes version (use `kubectl version`):  v1.21.13
- KubeEdge version(e.g. `cloudcore --version` and `e

[2022-11-16 06:57] Congrool commented on #3959
To ensure I do not miss the point. I'll first repeat it from the view of architecture:

The portion of override in EdgeApplication will be extracted as a new CRD. And several override CRDs will applyed to the EdgeApplication resulting in several EdgeApplicationInstances. These generated EdgeApplicationInstances will finally be deployed to different nodegroups.
Or use something like Helm to generat

[2022-11-16 06:58] kevinr229 opened #4414 "kubeedge v1.12.1 modify the nodeIP configuration of the edge node, and cannot report to the cloud?"
**What happened and what you expected to happen**:
In the version 1.9.2 of kubeedg, I modified the edge node's edged: nodeIP in/etc/kubeedge/config/edgecore.yaml, for example, 1.1.1.1. Then restart edgecore service。 After success, I can see in the cloud that the internal ip of kubectl get node - owide is 1.1.1.1.
However, when I upgrade the kubeedge to 1.12.1, I repeat the above operation. The nod

[2022-11-16 10:06] siredmar commented on #3959
I don't know yet how this "templating CRD" would generate the actual EdgeApplications.
I thinkfor in-cluster templating maybe something like https://github.com/flanksource/template-operator would be already suitable.
You define a Template (kind Template, apiVersion: templating.flanksource.com/v1) for an EdgeApplication (with both fixed values and variables), and then you define multiple EdgeApplic

[2022-11-16 15:36] Manu-DF opened #4416 "edgecore doesn't support runtimeclass.node.k8s.io"
**What happens**:
Same as this [https://github.com/kubeedge/kubeedge/issues/2358](issue).
I can't deploy anything if I declare a `runtimeclass` in my cluster.

edgecore is complaining about `runtimeclass.node.k8s.io` not found.

[code]

[code]

**What you expected to happen**:
edgecore should know how to retrieve the `runtimeclass`.

**How to reproduce it (as minimally and precisely as possible)**

[2022-11-16 17:45] Deep-Yellow opened #4417 "Problems with kubeedge1.12.1 installation using keadm"
The process of installing is as follows:

1. Run in my master node:

[code]

2. cloudcore was installed as a container and assigned to a worker node of my cluster(ip was 10.176.122.3)

3. Run in my edge node:

[code]

4. journalctl -u edgecore.service -xe

   Error info is: `Error: failed to get edge certificate from the cloudcore, error: Get "https://10.176.122.3:10002/edge.crt": x509: certificat

[2022-11-16 22:20] batthebee commented on #3959
@Congrool

I meant the second option, i.e. that the user can create multiple EdgeApplications with tools like helm, crossplane, kubevela etc..

These are all very powerful and can address almost any requirement.

Of course, it also has its charm to integrate this, as happened, in kubeedge. The main advantage I see is that I can ask at a central point whether my application has been rolled out.

Bu

[2022-11-17 01:58] rong-lei commented on #4417
keadm init --advertise-address="10.176.122.1"   ,not  10.176.122.3 ? edit cloudcore-ipport in /etc/kubeedge/config/cloudcore.yaml  and restart cloudcore

[2022-11-17 02:08] Deep-Yellow commented on #4417
But when I installed it, it was randomly assigned to a working node of my cluster. For example, I reinstalled several times and the cloudcore pod may be in 122.1, 122.2,  122.3.

[2022-11-17 03:36] #4417 closed

[2022-11-17 04:15] fisherxu commented on #679
/assign @RyanZhaoXB

[2022-11-17 07:58] zmk1173411140 commented on #2905
我也有同样的问题，不知道怎么生成的证书并应用

[2022-11-17 08:33] zmk1173411140 opened #4418 "to get edge certificate from the cloudcore, error: Get "https://10.121.134.115:10002/edge.crt": x509: cannot validate certificate for 10.121.134.11 5 because it doesn't contain any IP SANs"
I1117 14:53:34.745668   42621 client.go:91] edge-hub-cli subscribe topic to SYS/dis/upload_records
I1117 14:53:34.745853   42621 client.go:91] edge-hub-cli subscribe topic to +/user/#
I1117 14:53:34.745929   42621 client.go:99] list edge-hub-cli-topics status, no record, skip sync
F1117 14:53:34.766874   42621 certmanager.go:92] Error: failed to get edge certificate from the cloudcore, error: Get

[2022-11-17 15:05] Congrool commented on #3959
Ok, I got it. Using template engine like helm is a brand new way to overcoming the environment differences of different nodegroups and is attractive to me. And the option 1 which uses EdgeApplicationOverrider CRD will also introduce huge changes into current architecture. We may need more comprehensive consideration to trade off among the original implementation and these two proposals before maki

[2022-11-17 15:13] Congrool commented on #3959
BTW, could you please also describe your use case and motifivation of why you need this feature. It will help others to understand the background.

[2022-11-17 17:50] codeamongus opened #4420 "Running into intermittent edge node connectivity issues after upgrading to KubeEdge v1.12.x from KubeEdge v1.11.2"
**What happened**:
The edge node registration has been inconsistent after migrating from KubeEdge v1.11.2 to v1.12.0 or v1.12.1.
First time when I run ‘keadm join’ command, the edge node generally registers fine and I’m able to schedule pods on it. There are instances where this initial node registration fails too.
Provided I’m able to register edge node successfully, then restarting edgecore serv

[2022-11-17 21:42] batthebee commented on #3959
Motivation:

We have many independently operated nodes on which the same software stack, consisting of deployments, daemonsets and services, is to be rolled out. It is important that the corresponding services are only accessible locally on the devices.

This is currently realized by giving each individual node its own NodeGroup and manually entering all NodeGroups in the edge application. Accordi

[2022-11-17 22:38] batthebee commented on #3959
Can you take a first look at my PR?

The overriders are not yet implemented for the NodeGroupSelector. Is it ok for you to remove them from the crd for the NodeGroupSelector for now?

[2022-11-18 02:26] sunt89 commented on #4413
There seems to be no problem. Once the route is created, port 9443 is available

[2022-11-18 02:26] #4413 closed

[2022-11-18 04:21] Shelley-BaoYue commented on #4420
Hi, @codeamongus. Do you mean if you stop the edgecore service and start it after 90s, edgecore will fail to connect with cloucore?  I tried to repeat this problem but failed.  Could you provide more details?
And I'm confused with `you will notice the node shows up in ‘NotReady’ state and then gets removed`，cloudcore does not seem to remove node with `unready` status?

[2022-11-18 06:23] sunt89 opened #4422 "Unable to get status data in Rule"
**What happened and what you expected to happen**:
After the rule is used to send a message, the number of successful message sending and number of failed message sending cannot be obtained by viewing the rule details

**How to reproduce it (as minimally and precisely as possible)**:
call rest api in the cloud to send messages to edge
![image](https://user-images.githubusercontent.com/20986998/202

[2022-11-18 07:22] wackxu opened #4423 "Enhancement for edge list-watch"
- [x] Add GC for watcher in the dynamic controller
- [x] Add watcher synchronization mechanism between cloud and edge
- [x] fix 10s delay for edge request when the node is offline
- [ ] Reduce the send event when the watch is initialized
- [x] Use multi-goroutines to improve the efficiency of sending watch events in large-scale scenarios
- [ ] edge pod use inclusterconfig list-watch natively

[2022-11-18 07:56] Shelley-BaoYue opened #4424 "support `kubectl attach` in KubeEdge"
**What would you like to be added/modified**:

Support `kubectl attach` in KubeEdge

**Why is this needed**:

We have already support `kubectl logs/exec`, we want to add support `kubectl attach` in future version. Users can attach to the main process running in the container.

[2022-11-18 08:25] Shelley-BaoYue commented on #4414
Could you please tell me that you use `nodeIP` just for distinguishing nodes. Is there any other purpose to use the nodeIP.

[2022-11-18 08:44] rong-lei commented on #4414
I want to call the interface on the cloud to get the edge indicators, such as curl https://internal-IP:10351/metrics -ik。 Internal IP is the nodeIP of the edge node.

[2022-11-18 08:44] rong-lei commented on #4414
I want to call the interface on the cloud to get the edge indicators, such as curl https://internal-IP:10351/metrics -ik。 Internal IP is the nodeIP of the edge node.

[2022-11-18 09:22] Shelley-BaoYue commented on #4408
There are some discussion before in #3890.  Later we focus on the discussion here.

[2022-11-19 08:37] gy95 opened #4426 "fuzz issue"
**What happened**:

**What you expected to happen**:
https://github.com/kubeedge/kubeedge/actions/runs/3502764411/jobs/5867374097
[code]
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):
- <details><summary>Clo

[2022-11-19 14:37] smoms opened #4428 "Could not import github.com/kubeedge/beehive/pkg/core (no required module provides package "github.com/kubeedge/beehive/pkg/core")"
Hi,

when cloning the project I get many compile time errors on my machine due to the import of these packages:

**"github.com/kubeedge/beehive/pkg/core"
beehiveContext "github.com/kubeedge/beehive/pkg/core/context"**

_could not import github.com/kubeedge/beehive/pkg/core (no required module provides package "github.com/kubeedge/beehive/pkg/core")_

Why is that?

thanks

[2022-11-20 16:21] shao77622 opened #4429 "pod will be terminated when edge node reconnect"
**What happened**:
make edge node disconnected from cloud core
(by modify cloudcore IP address with a non-exits host  in  /etc/kubeedge/config/edgecore.yaml , then systemctl restart edgecore.), after a while , reconnect..
when edge node connect to cloud core, the pod will be terminated, and pod  with another name will be scheduled.
**What you expected to happen**:
the pod will not be terminated, a

[2022-11-21 01:12] gy95 commented on #4428
just run `make all` or `BUILD_WITH_CONTAINER=false make all`

[2022-11-21 01:42] Congrool commented on #3959
Sorry, I'm a little busy these days, I'll take a look soon.

[2022-11-21 03:42] wackxu commented on #4429
Do you add tolerations for you deploy to make the pod not to be migrated when node is offline?

      tolerations:
        - effect: NoExecute
          key: node.kubernetes.io/unreachable
          operator: Exists

[2022-11-21 03:46] wackxu commented on #4418
If you do not specify certificate for cloudcore, it will self-generated certificate using the adviterseAddress. The generated certificate will be stored in the configmap and used for all cloudcore instance.

[2022-11-21 03:46] shao77622 commented on #4429
No tolerations ,  but it's DaemonSet.
I tested with kubeedge:v1.12.0, the pod will not be recreate.

[2022-11-21 03:47] wackxu commented on #4418
The problem for you is that you do not specify adviterseAddress correctlly, so  validate certificate failed

[2022-11-21 03:49] wackxu commented on #4416
For now, we do not support the runtimeclass.  This can be added to future plans

[2022-11-21 03:54] shao77622 commented on #4429
-----sample.yaml-----
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: redis-3.2.9
  namespace: edge
  labels:
    app: redis
spec:
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      nodeSelector:
        xxx/redis: 3.2.9
      hostNetwork: true
      containers:
        - args:
            - '--requirepass'
            - '

[2022-11-21 04:01] wackxu commented on #4429
From your description, the pod is deleted and recreated by the k8s controller manager,  I am  strange that the pod created by daemonset will auto add the tolerations, https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#taints-and-tolerations,  so the pod will not be evicted
[code]

[2022-11-21 04:01] wackxu commented on #4429
Could you paste kubectl get pod xxx and cloudcore log

[2022-11-21 06:05] shao77622 commented on #4429
kubectl get pod -n edge
NAME                READY   STATUS    RESTARTS      AGE
mysql-arm-94wrz     1/1     Running   0             111s

**before reconnect:**
![image](https://user-images.githubusercontent.com/16330359/202976990-daf1aab5-50a8-4910-afaa-1eaf104b16e9.png)
**after reconnect:**
![image](https://user-images.githubusercontent.com/16330359/202977005-fb3402e3-0d1b-4bf0-b50c-ba01c97996ce.

[2022-11-21 06:19] siredmar commented on #3959
@batthebee @Congrool i tested the controller-manager with the modifications. It's working like a charm.
I tested every combination i could think of, e.g. multiple nodes, multiple edgeApplications, defining multiple labelSelectors that OR for different groups and multiple labels within a group that must AND together. Removing nodeGroups, labeling new nodeGroups, ...

[2022-11-21 06:32] wackxu commented on #4429
please run `kubectl get pod xx -n xxx -oyaml`
before reconnect, the pod is pending?
And I can conform that the pod is recreated by the kube controller

[2022-11-21 09:25] shao77622 commented on #4429
[code]

[2022-11-21 09:33] shao77622 commented on #4429
I switch cloudcore and edgecore to 1.12.0 from the cluster , and the problem still exits. But another cluster with cloudcore 1.12.0 is OK. what's the problem?

[2022-11-21 10:04] mhh12121 commented on #3763
@vincentgoat Let's assume the edgenode is exposed in Public Internet environment(WAN). Is it necessary to consider the net provider may provide it with a different IP in different time ?

[2022-11-21 10:05] Manu-DF commented on #4416
Understood! Thank you for the information.

[2022-11-21 10:42] vikarna commented on #4334
Please mark this as a bug. Faced this issue multiple times.

[2022-11-21 11:32] vincentgoat commented on #4334
Do you mean the `ClusterIp: None` issues?

[2022-11-21 11:47] vincentgoat commented on #3763
Most of the time, no.
The NodeIP may be mattered if there is a need for service traffic.

[2022-11-21 12:15] vincentgoat commented on #4334
Thanks for your feedback, can you new an issue in edgemesh issues list to solve it? It will be a more efficient way for solving.

[2022-11-21 12:44] vincentgoat commented on #4426
Related issue: https://github.com/google/oss-fuzz/issues/9022

[2022-11-21 12:45] vincentgoat commented on #4426
We also can bump K8s version and golang version to fix this issue. cc @gy95 @fisherxu

[2022-11-21 12:45] shao77622 commented on #4429
@wackxu I've tested in two clusters.

the k8s version v1.22.10 cluster does not recreate pod, with kubeedge:V1.21.1
the k8s version v1.22.12 cluster does recreate pod, with kubeedge:V1.21.1
Both cluster was created with kubesphere.
So what's the cause.

[2022-11-21 12:51] wackxu commented on #4429
It is strange， Could you look at you kube-apiserver log to see which components delete the old pod?

[2022-11-21 13:46] shao77622 commented on #4429
@wackxu  killed by controller manager, is that the new feature of k8s v1.22.12?
**cluster 1.22.12**
 I1121 21:31:59.606167       1 event.go:291] "Event occurred" object="kubeedge1" kind="Node" apiVersion="v1" type="Normal" reason="NodeNotReady" message="Node kubeedge1 status is now: NodeNotReady"

 I1121 21:31:59.615374       1 event.go:291] "Event occurred" object="edge/redis-3.2.9-bwhgw" kind="P

[2022-11-21 15:17] shao77622 commented on #4429
@wackxu I disconnect cloudcore node with 1.22.12 cluster, and damonset node-exporter in cloudcore node is not killed.  so it is wired , only edge node has the killing problem..

**controller manager log**
 I1121 22:55:35.609053       1 event.go:291] "Event occurred" object="kubesphere-monitoring-system/node-exporter-h5g56" kind="Pod" apiVersion="v1" type="Warning" reason="NodeNotReady" message="No

[2022-11-21 22:46] ageoffron opened #4431 "kubeedge 1.12.1 - Node does not recover after edgecore service is restarted"
**What happened**:
[code]

**What you expected to happen**:
`Node should recover / reconnect and Ready Status`

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`): 1.12.1

Happy to provide logs

[2022-11-22 00:10] ageoffron commented on #4344
keadm version:
version: version.Info
`{Major:"1", Minor:"12", GitVersion:"v1.12.1", GitCommit:"919ad5378eaca3cb0c666c22a19db01261cbc9a6", GitTreeState:"clean", BuildDate:"2022-11-02T08:22:56Z", GoVersion:"go1.17", Compiler:"gc", Platform:"linux/amd64"}`

E1122 00:06:40.280347    5502 helper.go:34] Failed to unmarshal configfile /etc/kubeedge/config/edgecore.yaml: error unmarshaling JSON: while dec

[2022-11-22 01:53] wackxu commented on #4431
cc @Shelley-BaoYue

[2022-11-22 03:06] mhh12121 commented on #3763
That's what I'm concerned about. If I need to ensure the traffic between edge and master node but under a low quality network environment( the kubeege may reconnect at anytime). Once the edge node's ip changed, the master would no longer reconnect to the edge node?

[2022-11-22 03:21] ageoffron opened #4433 "kubeedge node NOT READY / UNKNOWN status randomly..."
**What happened**:
edge node will go unknown / not ready status at random times

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Have been using  version 1.12.1 for a while... just noticed as I now collect metrics of nodes

**Anything else we need to know?**:
I update the heartbeat of edged from default 15 to 5 and restarted edgecore, but this do

[2022-11-22 04:05] Shelley-BaoYue commented on #4431
@ageoffron  you just `systemctl restart edgecore.service` and then edgecore connect failed?  Could you provide more logs of cloudcore and edgecore, websocket connection error logs are needed especially .

[2022-11-22 06:46] shao77622 commented on #4429
I find a way to reproduce the problem.
systemctl stop edgecore,  wait until node notready, then systemctl start edgecore, then the daemonset pod whill be killed and recreated.
But if edgecore is running,  just use iptables to reject cloudcore IP,  wait until node notready and  clean iptable rules, then the node will reconnect to cloudcore and the daemonset pod will not be killed .

So something is

[2022-11-22 07:09] wackxu commented on #4429
@shao77622 I will  do some test today to find what happend

[2022-11-22 09:39] neiba opened #4434 "Does edgemesh support network policy"
**What happened and what you expected to happen**:
Does edgemesh support network policy?  For example, service is not allow visit by default, user need add network policy to allow pod
to visit special service.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g

[2022-11-22 09:49] RyanZhaoXB opened #4435 "[Course Task] task for Class 4 of Cloud Native Edge Computing Course"
Hello everyone. This is the task issue for Class 4 of Cloud Native Edge Computing Course.

Today we get 3 tasks for the course participates with Difficulty Level from ★ to ★★★. You can choose one or more tasks to finish them. If a Pull Request (PR) is needed for a task, please make the title of the PR started with **[Course Task]** and related it to this issue. After you have proposed a PR, please

[2022-11-22 11:58] #4435 closed

[2022-11-22 18:06] carlory commented on #4424
/assign

[2022-11-23 01:48] Asilent commented on #4332
大佬请教一下，我在使用v1.12.1部署完之后，依旧无法查看边缘端日志。边缘端journalctl -xeu edgecore发现访问10004端口tls handshake error。cloudcore 我查看config 中cloudStream 没有配置证书路径，您之前遇到过这情况吗？

[2022-11-23 01:54] jiangxuhui commented on #4332
谢谢 我试试

[2022-11-23 01:55] jiangxuhui commented on #4332
对，他们技术老牛逼了，但就是不教你如何使用，典型的程序员思维，感觉kubedge缺少个产品经理

[2022-11-23 09:42] Asilent opened #4436 "kubectl logs/exec failed with kubeedge v1.12.1"
**What happened and what you expected to happen**:
I used keadm init&join to deploy kubeedge v1.12.1. I followed the documentation steps to install and configure.
[code]

But I can't use kubectl logs to query the logs.
[code]
According to the error message, it should be unable to resolve my node hostname.

BTW, I checked the container log for cloudcore and there were a lot of tls handshake errors.

[2022-11-23 20:14] ageoffron commented on #4433
here what I can see/correlate to the not ready/unknown status condition:

[code]

[2022-11-23 20:19] ageoffron commented on #4431
Just to ensure I grab all logs necessary as I perform more tests.
on edge node:
- journalctl --unit edgecore.service
on cloudecore pod:
- pods logs

I assume the websocket connection logs are included in the above ? ir not can you please how to capture all you need to assist ?

[2022-11-24 04:17] cwy57885142 opened #4437 "云端设备reported属性异常，云端不断自动刷历史reported"
环境版本： v1.11.1

1、初始设备
![QQ图片20221124115651](https://user-images.githubusercontent.com/65649028/203690695-c86355ea-957a-4c1d-b3cd-ddad63dee4cb.png)

2、（1）通过发布主题“$hw/events/device/counter/twin/update”修改status 属性的  actual值
![B~}1(D 3WXTU7ZOG94SD~ U](https://user-images.githubusercontent.com/65649028/203690980-80123109-9906-4242-81f3-00535c67cb90.png)

（2）分别修改为 111 ， 1， 22， 4， 33 ....
（3）最后一次将actual 修

[2022-11-24 07:08] vincentgoat commented on #4409
Word `conforlamce` not correct in tile : )

[2022-11-24 08:53] neiba commented on #4434
thanks for comment. Is there any other technology for edge security?

[2022-11-24 11:20] LorenzoDag opened #4438 "Modify doc for keadm install"
**Modify doc for keadm install**:
Modify doc in [deploy with keadm](https://kubeedge.io/en/docs/setup/keadm/#setup-cloud-side-kubeedge-master-node) page.

**Error with --profile flag**:
using v.1.10.0 keadm installation package results in error with `--profile` flag in `keadm init` command. With version 1.12.1 it works.

[2022-11-24 11:42] lvfei103650 opened #4439 "beehive context_channel.go sendToGroup select"
**What happened and what you expected to happen**:

What is the purpose of changing here？
I understand that it will block here，no difference
![image](https://user-images.githubusercontent.com/32949553/203775841-c84adcca-ab62-4379-b66f-eaab2f64fe76.png)

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use

[2022-11-24 14:35] shao77622 opened #4441 "Exited container can not be up when edge node in offline condition"
**What happened**:

When in off-line condition, edgecore does not recreate pod which was exited, even when reboot node many times.
The only way is to make node on-line, then pod will be up successfully by edgecore.

[root@kubeedge1 ~]# docker ps -a
CONTAINER ID        IMAGE                COMMAND             CREATED             STATUS                       PORTS               NAMES
b226c485a2b1

[2022-11-24 22:57] AdamKorcz commented on #4426
Fixed in https://github.com/google/oss-fuzz/pull/9067

[2022-11-25 01:45] Shelley-BaoYue commented on #4424
welcome 😃

[2022-11-25 06:35] wackxu commented on #4441
cc @vincentgoat

[2022-11-25 06:38] wackxu commented on #4439
yes  I think there is no difference, I think we can remove the  ```ch<-message``` in default case since the channel is alreay full,

[2022-11-25 06:38] wackxu commented on #4438
/assign @gy95

[2022-11-25 08:48] vincentgoat commented on #4441
Hi, @shao77622
This error is because the ServiceAccountToken was expired and will be deleted by `edgecore`, and then the pod will start failing if the edge node is offline.
As for this scenery, we can optimize the process of pod restarting.

[2022-11-25 10:00] shao77622 commented on #4441
@vincentgoat Can we modify edgecore config to extend the expire time of ServiceAccountToken ? Or we must wait for a new release of edgecore.

[2022-11-25 10:07] gy95 opened #4444 "Fix CI deprecated warnings"
**What would you like to be added/modified**:
There're some deprecated warnings, need fixing
https://github.com/kubeedge/kubeedge/actions/runs/3545349196
such as
[code]
/help
/good-first-issue
/good first issue
**Why is this needed**:

[2022-11-25 10:35] jzaehrin opened #4445 "How it is possible to make tunnelport static by using k8s service IP ?"
Hello,

We try to use cloudcore in HA by using k8s Service with ExternalIP.

**What happened and what you expected to happen**:
cloudcore will add new IP:PORT on tunnelport configmap when it is rescheduled on a new node. That broke the redirection made by iptables but the cloudcore pod is always accessible by the service. In addition, the IP provided in tunnelport configmap is the pod IP found dyn

[2022-11-25 15:24] YTGhost commented on #4444
/assign

[2022-11-26 01:36] vincentgoat commented on #4441
Yes, modifying the expiration time when the edge node is offline is a workaround.

[2022-11-26 04:42] shao77622 commented on #4441
@vincentgoat My project using kubeedge is on production now , so is there any workaround with v1.12.1 ? How about make a long live service account token

  - name: kube-api-access-<random-suffix>
    projected:
      defaultMode: 420 # decimal equivalent of octal 0644
      sources:
        - serviceAccountToken:
            expirationSeconds: 3607
            path: token
        - configMap:

[2022-11-26 07:08] vincentgoat commented on #4441
Initializing an account token with a long lifetime in pod yaml would be a workaround too.

[2022-11-27 12:52] baerwang opened #4449 "report security docs link 404"
**What would you like to be added/modified**:

**Why is this needed**:

[2022-11-27 15:00] myleo1 commented on #4109
same problem

[2022-11-27 16:16] smoms opened #4450 "Node Group Management example fails with parse exception"
I am trying the Node Group Management example as explained [here](https://github.com/kubeedge/kubeedge/blob/master/docs/proposals/node-group-management.md).
I have created the NodeGroup resource:

`apiVersion: apps.kubeedge.io/v1alpha1
kind: NodeGroup
metadata:
  name: hangzhou
spec:
  matchLabels:
    location: hangzhou
---
apiVersion: apps.kubeedge.io/v1alpha1
kind: NodeGroup
metadata:
  name: b

[2022-11-28 01:38] wackxu commented on #4449
we need update the link  in [SECURITY.md](https://github.com/kubeedge/kubeedge/blob/master/.github/SECURITY.md) to
https://github.com/kubeedge/community/blob/master/team-security/SECURITY.md

[2022-11-28 01:41] wackxu commented on #4450
I do not see the yaml file separator ```---``` in your paste? have you delete it ?

[2022-11-28 03:38] YTGhost commented on #4449
/assign

[2022-11-28 07:59] smoms commented on #4450
As mentioned I copied the yaml from the kubeedge GitHub page. Please check that with a Yaml Lint.
However I got the right one, which I paste here:

[code]

[2022-11-28 23:43] ageoffron commented on #4431
ping?

[2022-11-28 23:43] ageoffron commented on #4433
any input is appreciated @wackxu

[2022-11-29 02:05] vincentgoat opened #4453 "prober of pod is not working"
**What happened**:
Prober such as liveness or readiness is not working when set in pod yaml.
Use the following deploy yaml to reproduce.
[code]

**What you expected to happen**:
The pod will restart period.

**How to reproduce it (as minimally and precisely as possible)**:
Deploying a deployment by the yaml listed above.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (

[2022-11-29 02:08] vincentgoat commented on #4453
/assign

[2022-11-29 03:09] OyamingO opened #4454 "edgecore.service启动失败"
使用两个华为云ECS部署Kubeedge，节点显示就绪：
$ kubectl get nodes
NAME         STATUS   ROLES                  AGE   VERSION
**ecs-9b72     Ready    <none>                 10h   v1.22.15
edge1-4c68   Ready    control-plane,master   12h   v1.22.15**

云pod已经运行：
$ kubectl get pod -n kubeedge
NAME                        READY   STATUS    RESTARTS   AGE
**cloudcore-f88bbf5bb-5gspc   1/1     Running   0          42m**

[2022-11-29 06:20] RyanZhaoXB commented on #4454
please check `Edged.modules.edged.imagePullProgressDeadline` in your edgecore.yaml

[2022-11-29 07:40] vincentgoat opened #4455 "KubeEdge latest version is not correct"
**What happened**:
The latest version is not correct when we try to get it from https://kubeedge.io/latestversion

/help

**What you expected to happen**:
It should be v1.12.1

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgec

[2022-11-29 07:42] gy95 commented on #4455
/good first issue
please reference https://github.com/kubeedge/website/pull/262 to open one PR in [website ](https://github.com/kubeedge/website)repository to fix this.

[2022-11-29 07:59] Lazy-Guys commented on #4437
同问

[2022-11-29 09:07] YTGhost commented on #4455
/assign

[2022-11-29 12:41] OyamingO commented on #4454
谢谢回答。这个问题已解决，因为我边缘端的keadm版本使用了错误的1.10.0。现在有个新的问题，边缘端join到云端过程中报错：
**Error starting userland proxy: listen tcp4 0.0.0.0:1883: bind: address already in use**
想请教一下您该如何解决。

[2022-11-30 03:02] #4444 closed

[2022-11-30 04:03] bumblebeeK commented on #3688
Have you solved it ...?,i got the same problem..

[2022-11-30 04:21] #4449 closed

[2022-11-30 07:15] OyamingO opened #4457 "edge node join failed: run MQTT failed:"
$ **keadm join --cloudcore-ipport=masterIP:10000 --token=*****
I1130 15:10:50.237614   11946 command.go:845] 1. Check KubeEdge edgecore process status
I1130 15:10:50.242341   11946 command.go:845] 2. Check if the management directory is clean
I1130 15:10:51.512940   11946 join.go:100] 3. Create the necessary directories
I1130 15:10:51.513399   11946 join.go:176] 4. Pull Images
Pulling eclipse-mosq

[2022-11-30 07:20] gy95 commented on #4457
maybe it's due to you've already installed mqtt container, you can append `--with-mqtt=false` options  to keadm join

[2022-11-30 07:27] OyamingO commented on #4457
OK，very thanks!

[2022-11-30 07:56] gy95 commented on #4455
/close
https://github.com/kubeedge/website/pull/275 merged

[2022-11-30 07:56] #4455 closed

[2022-11-30 07:58] OyamingO opened #4458 "NodeIP is empty, kubelet should not running on edge node when running edgecore"
**$ keadm join --cloudcore-ipport=master-IP:10000 --token=XXX**

$ journalctl -u edgecore.service -xe
-- The job identifier is 1473.
Nov 30 15:22:57 ecs-9b72 edgecore[24240]: W1130 15:22:57.130225   24240 validation.go:71] **NodeIP is empty , use default ip which can connect to cloud.**
Nov 30 15:22:57 ecs-9b72 edgecore[24240]: I1130 15:22:57.130276   24240 server.go:74] Version: v1.12.0
Nov 30 15

[2022-11-30 08:03] gy95 commented on #4458
kubelet and kube-proxy cannot be deployed to edgecore nodes,
if you want to install edgecore on cloudcore node, you should set an env `export CHECK_EDGECORE_ENVIRONMENT="false"`
for systemd, you should add this env to systemd service file
https://kubeedge.io/en/docs/setup/local/#run-1

[2022-11-30 08:30] bluven opened #4459 "No endpoints and services returned from metaServer"
**What happened**:

I want to have some application to read data from metaServer of edgecore, but failed.

[code]

And it take really long time for metaServer to response:
[code]

**What you expected to happen**:

The metaServer return endpoints and services data.

**How to reproduce it (as minimally and precisely as possible)**:

Have no idea, because I don't known how it happened:

I noticed som

[2022-11-30 08:34] OyamingO commented on #4458
Very thanks for your reply.

[2022-11-30 08:35] east4ming opened #4460 "[Course Task] docker.io/kubeedge/controller-manager No latest tag"
**What happened**: pulling kubeedge/controller-manager:latest failed. follow this link: https://github.com/kubeedge/kubeedge/blob/master/build/controllermanager/controllermanager-deploy.yaml

**What you expected to happen**: pull success

**How to reproduce it (as minimally and precisely as possible)**: kubectl apply -f build/controllermanager

**Anything else we need to know?**:

**Environment**:

[2022-11-30 08:38] gy95 commented on #4460
you can change the latest tag to v1.12.1

[2022-11-30 12:58] tigonguyen commented on #3602
/assign