[2019-07-22 09:11] sids-b commented on #636
@sharmmoh1983 , are you trying with the latest master source code ?

[2019-07-22 10:08] liyongxian commented on #918
@RicardoZPHuang   The  container of  modbus_mapper docker  log info:
[2019-07-22T09:46:15.881] [INFO] appenders - chechking devicetwin state
[2019-07-22T09:46:15.885] [INFO] appenders - update devicetwin[temperature] of device[sensor-tag-instance-01] successfully
[2019-07-22T09:46:16.386] **[ERROR] appenders - failed to update devicetwin[temperature-enable] of device[sensor-tag-instance-01], err:

[2019-07-22 11:14] sids-b opened #943 "Support multiple namespaces on edgenode"
**What would you like to be added/modified**:
Currently edge_core can only bring up pods in one namespace which is specified in https://github.com/kubeedge/kubeedge/blob/master/edge/conf/edge.yaml#L32
This namespace is used while pulling secrets/configmaps
for eg: https://github.com/kubeedge/kubeedge/blob/master/edge/pkg/edged/edged.go#L1034

Node should support multiple namespaces as node is not

[2019-07-22 11:16] sids-b commented on #943
cc @kevin-wangzefeng @qizha @rohitsardesai83 @fisherxu @subpathdev @kadisi

[2019-07-22 11:52] kevin-wangzefeng opened #944 "Contributor Experience Improvement Tracking Issue"
One of the top priority work to do duing the next few months is to improve contributor experience, help more new contributors get on board.

This issue is to track the things need to be done. (To have an overview of where we are and what to be done, some docs already exist also included.)

### General

- [ ] [Docs] Separate user manual and contributor guide docs, TBD.

- [ ] [Docs] Governance doc,

[2019-07-22 12:11] vizero1 opened #945 "edge node in state NotReady after restart"
**What happened**:
After I stopped and later started the edge_core process on my edge node the command "kubectl get nodes" on my master is not updating the state from NotReady to Ready.
I deleted on my edge_node the edge.db file before I started edge_core again.
**What you expected to happen**:
I expected that my master node is updating the information.
I also tried to stop the edgecontroller and

[2019-07-22 14:56] RicardoZPHuang commented on #918
@liyongxian modbus slave simulator:https://www.modbustools.com/modbus_slave.html .
Does the property "temperature-enable" config in device-instance.yaml match the config in simulator?

[2019-07-22 19:20] subpathdev commented on #810
I think it would be useful to have the following stages:
1. test build -> if this failed no other stages has to be executed
2. test lint
3. test ut + e2e
4. test build docker images

I like splitting ut and e2e but I think this would increase the time in the ci.  I removed the dep check  stage because I think we start using gomod. (If not this would be on stage 0)
@kevin-wangzefeng what are you th

[2019-07-22 19:24] subpathdev commented on #681
no -> I am closing this issue

[2019-07-22 19:24] #681 closed

[2019-07-22 22:34] subpathdev opened #949 "keadm join unit test"
**What would you like to be added/modified**:
It would be nice to create a unit test, which checks the created configurations of keadm.

**Why is this needed**:
Increase code quality.

[2019-07-23 00:50] dragon9783 commented on #942
1. about mqtt config in conf/edge.yaml (edge_core)
[code]
2. and in configuration/config.yaml  (led-light mapper)
[code]
3. and mqttbox could receive message via subscribe ($hw/events/device/led-light-instance-01/twin/update/delta)

[2019-07-23 02:23] kevin-wangzefeng commented on #810
Generally sounds good to me.

But I think splitting UT and e2e should actually reduce the CI time.
Probably some configurations need to be improved as well.

Jan Unterbrink <notifications@github.com> 于 2019年7月23日周二 03:20写道：

[2019-07-23 06:32] sids-b commented on #945
cc @shouhong @kexun , is it because of the old issue ??

[2019-07-23 06:33] sids-b commented on #945
@vizero1 , by delete you mean you deleted the node from k8s apiserver ?

[2019-07-23 06:58] sjw1230 commented on #636
we encountered the same problem， how do you solve it？

[2019-07-23 08:05] vizero1 commented on #945
@sids-b I deleted on my edge node the edge.db file and tried a restart. After that I deleted the node from k8s apiserver with
`kubectl delete -f $GOPATH/src/github.com/kubeedge/kubeedge/build/node.json`
and then deployed it with appy again and tried to run edgecontroller and edge_core

[2019-07-23 09:06] chenleji commented on #556
suggest gRPC for administration, origin channels for business.

[2019-07-23 10:01] lidiyag commented on #874
I also faced this issue. Sharing logs below:
![UTFailure](https://user-images.githubusercontent.com/14183934/61703273-e14d9580-ad5e-11e9-97f4-7ae832729e42.png)

[2019-07-23 10:42] rohitsardesai83 commented on #810
:+1:  to the ideas.
To add, we also need to optimize / refactor our e2e tests so that we avoid running tests like repeated creation / deletion of pods . We are not testing performance in our e2e tests , but we are testing whether the e2e flow works fine. So we can remove tests which do much more than check e2e sanity and reduce the CI time.

[2019-07-23 11:36] sids-b commented on #944
Please feel free to take-up any of the missing documents or improve the existing doc.

Please ping here if someone is working on any doc to avoid duplication of work. Thanks :)

[2019-07-23 12:21] kevin-wangzefeng commented on #806
Please list all the relevant tasks for upgrading K8s v1.15 here
/cc @edisonxiang, @fisherxu

[2019-07-23 21:01] subpathdev commented on #810
I will split the travis in the mentioned parts.
/assign subpathdev

[2019-07-23 21:04] subpathdev opened #951 "optimization / refactor e2e"
**What would you like to be added/modified**:
- optimize / refactor our e2e tests so that we avoid running tests like repeated creation / deletion of pods
- remove tests which do much more than check e2e

**Why is this needed**:
- speed up ci

[2019-07-23 21:06] subpathdev commented on #810
lets have the discussion about e2e here: #951

[2019-07-23 21:11] subpathdev commented on #944
I will take  '[Tooling] Release automation: automate the process of making a new release, TBD.'
and  '[Tooling] Improve CI status visibility, ref: #810'

[2019-07-23 21:12] subpathdev commented on #944
please add issue #951 (optimization / refactor e2e to this list)

[2019-07-24 07:29] kadisi commented on #399
@rohitsardesai83  @sids-b @kevin-wangzefeng  @CindyXing there are things we need to be done:

### General
- [ ] [Docs] [add change model message to protobuf message design](https://github.com/kubeedge/kubeedge/pull/891)

### Test in the downstream library

- [ ] [github.com/kadisi/beehive:protobuf_based] change message to protobuf based and deal with message resource hardcode problem
- [ ] [github

[2019-07-24 07:37] liyongxian opened #956 "Edgemesh Test Env Problem"
When docker  pull docker.io/ytsobd/edgemesh_init:v1.0, the image does not exist.

![1111111](https://user-images.githubusercontent.com/18571576/61774085-b3cd1e80-ae28-11e9-94cb-d647d84c4e68.jpg)

I can not build the image in kubeedge code,beause edgemesh module does not contain Dockerfile.
Thanks.
@CindyXing

[2019-07-24 08:01] rohitsardesai83 commented on #944
maybe it indirectly addresses [Tooling] Speed up CI checking, TBD ?

[2019-07-24 08:17] rohitsardesai83 commented on #399
Can we give the beehive completed task ?

[2019-07-24 13:17] #806 closed

[2019-07-25 03:12] liyongxian commented on #956
@sids-b Please check it.
Thanks.

[2019-07-25 03:15] kadisi opened #959 "kubeedge ci add Codecov"
**What would you like to be added/modified**:

kubeedge ci need add codecov

**Why is this needed**:

for improve kubeedge code review workflow and quality, i suggest add codecov for ci.

like : [Codecov](https://codecov.io/)

[2019-07-25 03:15] kadisi commented on #959
/cc @kevin-wangzefeng @sids-b @rohitsardesai83 @fisherxu @subpathdev @edisonxiang

[2019-07-25 04:31] sids-b commented on #956
This is the init container Dockerfile
https://github.com/kubeedge/kubeedge/blob/master/edgemesh/tools/initContainer/deb/Dockerfile

[2019-07-25 04:32] sids-b commented on #956
Let me give it a try to pull the image and I will get back to you

[2019-07-25 05:28] liyongxian commented on #956
@sids-b  OK.Thanks.I got it.
In Edgemesh test env config guide,EdgeMesh relies on Containerd,I am confused.Why Not Docker.
Thanks.

[2019-07-25 05:51] dragon9783 commented on #942
I see, edge_core publish topic is NOT same as topic which led-light-instance subscribe.

[2019-07-25 05:51] #942 closed

[2019-07-25 08:54] liyongxian opened #961 "Edgemesh Test Failture"
Hi @sids-b
When I Test Edgemesh,Meet something wrong. According to **https://github.com/kubeedge/kubeedge/blob/master/docs/guides/edgemesh_test_env_guide.md**
**The status of Server Pod is ContainerCreating.**
![1111](https://user-images.githubusercontent.com/18571576/61860471-98334800-aefc-11e9-8853-fdb1c445c5d4.jpg)

**Error Info:**
![222222](https://user-images.githubusercontent.com/18571576/61

[2019-07-25 10:26] chendave opened #963 "CRD validation umbrella issues"
* [x] Enable external admission webhook framework  https://github.com/kubeedge/kubeedge/pull/933

* [ ]  Reject protocol configs for protocols other than OPC UA , Modbus and Bluetooth https://github.com/kubeedge/kubeedge/issues/826

* [ ] Allow deletion of device model if no devices are referring to it  https://github.com/kubeedge/kubeedge/issues/827

* [x] device model property type can be only s

[2019-07-25 10:38] rohitsardesai83 commented on #963
:+1:

[2019-07-26 04:19] #901 closed

[2019-07-26 04:30] #934 closed

[2019-07-26 07:28] edisonxiang commented on #959
Thanks @kadisi Good idea:) Currently are these some projects which are using Codecov

[2019-07-26 11:25] #887 closed

[2019-07-27 09:51] fisherxu opened #971 "Use cobra command and Remove init to use explicit call"
Now in some components like cloud/edge core, all used init to load config and register sub modules. And even if we want to only print the version of component, the init func still be called and print lots of logs, so we need to `Remove init to use explicit call` and `Use cobra command`.

The task lists:

- [x] Use cobra command and Remove init in cloud part #988
- [ ] Use cobra command and Remove

[2019-07-27 09:54] chendave commented on #971
+1

[2019-07-29 01:36] jwzl commented on #906
+1
I agree @subpathdev , We should support storing all data types.

[2019-07-29 01:37] jwzl commented on #900
+1

[2019-07-29 01:44] jwzl commented on #857
@sids-b
 Maybe, this is also a   scenarios where cloud cluster to manager the edge cluster.  If it can be support in our kubeedge project?

[2019-07-29 03:21] kadisi commented on #959
@edisonxiang such as [containerd](https://github.com/containerd/containerd)

[2019-07-29 09:11] sujithsimon22 opened #973 "Bug in update_configmap script of performance tests"
**What happened**:
While running the existing update_configmap script of performance tests the field edged.interface-name is also overwritten with the name of the configmap instead of just updating metadata.name field

**What you expected to happen**:
Only metadata.name field should be updated with the name of the configmap

[2019-07-29 09:11] sujithsimon22 commented on #973
/assign @sujithsimon22

[2019-07-29 10:07] sujithsimon22 opened #975 "Node not coming to ready state when running edge & cloud as pods"
**What happened**:
Node not coming to ready state when running edgecore & cloudcore as a pods. Getting the following error:
![image](https://user-images.githubusercontent.com/35599628/62039835-0f771d80-b216-11e9-9686-58bb64f4f612.png)

**What you expected to happen**:
The node should come to running state

**How to reproduce it (as minimally and precisely as possible)**:
Start Cloudcore as a pod.

[2019-07-29 10:48] bugfest opened #976 "K8S edgecontroller access denied to API resources"
**What happened**:
In a kubeedge k8s deployment `edgecontroller` POD report access failures to `endpoints` and `service` resources

[code]

**What you expected to happen**:
Edgecontroller POD to not log errors

**How to reproduce it (as minimally and precisely as possible)**:
build v1.0.0 image with `IMAGE_TAG=v1.0.0 make cloudimage`
build the k8s config following provided instructions and assets

[2019-07-29 20:31] subpathdev opened #978 "replace gometalinter with golangci-lint"
**What would you like to be added/modified**:
to verify the edge code we are using gometalinter. This repo has been marked as deprecated so we didn't should use it. (https://github.com/alecthomas/gometalinter)

**Why is this needed**:
We didn't should use deprecated tools to check our code.

[2019-07-29 20:32] subpathdev commented on #978
you can simple replace gometalinter with golangci-lint run

[2019-07-30 02:56] fisherxu commented on #978
+1

[2019-07-30 06:01] #973 closed

[2019-07-30 07:28] kadisi commented on #978
+1

[2019-07-30 08:11] fisherxu opened #980 "Consider rename the edgecontroller"
Now the cloud part component under cloud/cmd called edgecontroller, under cloud/pkg/ contains 3 modules cloudhub/controller/devicecontroller.

![image](https://user-images.githubusercontent.com/28776356/62112096-a90d0080-b2e4-11e9-81be-bc7bb2a1c519.png)

While `controller` under cloud/pkg is not clear, how about rename it to edgecontroller?

**Vote 1:** `controller` under cloud/pkg
i. **Still call

[2019-07-30 09:28] edisonxiang commented on #980
Vote 1: controller under cloud/pkg
ii. edgecontroller

Vote 2: cloud part under cloud/cmd
iii. cloud-core

Just one vote:)

[2019-07-30 10:13] chendave commented on #980
same voting as Edison,

Vote 1: controller under cloud/pkg
ii. edgecontroller

Vote 2: cloud part under cloud/cmd
iii. cloud-core  //The code structure looks more clear.

[2019-07-30 10:15] sids-b commented on #980
+1 to edison

[2019-07-30 10:16] sujithsimon22 commented on #980
+1 to  Edison
Vote 1: controller under cloud/pkg
ii. edgecontroller

Vote 2: cloud part under cloud/cmd
iii. cloud-core

[2019-07-30 10:18] jwzl commented on #980
Vote 1: controller under cloud/pkg
ii. edgecontroller

Vote 2: cloud part under cloud/cmd
iii. cloud-core is more better.

And some other proposal:
kedge-cloud?      the cloud side of kubeedge

[2019-07-30 10:20] kadisi commented on #980
@edisonxiang  +1

[2019-07-30 10:38] kevin-wangzefeng commented on #971
+1, this is important, we should do it.

[2019-07-30 10:40] kevin-wangzefeng commented on #978
Agreed, golangci-lint is also recommanded by gometalinter

[2019-07-30 10:53] kevin-wangzefeng commented on #980
Vote 1: controller under cloud/pkg
- [ ] keep the name controller
- [x] edgecontroller // clarify interaction with the edge

Vote 2: cloud part under cloud/cmd
- [ ] keep the name edgecontroller
- [x] edge-operator // more cloud native, operator can be a collection of multiple controllers, just like it as now. And it's compatible either we keep cloudhub inside or later on make cloudhub an individu

[2019-07-30 11:52] subpathdev commented on #980
+1 to edison

[2019-07-30 12:01] kevin-wangzefeng commented on #927
@sujithsimon22 @sids-b It's an implementation issue.
And nodeSelector.nodeSelectorTerm supports matching either node's labels or node's fields.
Ref: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#nodeselectorterm-v1-core
So let's keep the API definition and correct the implementation.

[2019-07-31 02:08] liyongxian commented on #961
@sids-b  Please. Thanks.

[2019-07-31 02:30] kadisi opened #981 "[bug report] undefined: os.UserHomeDir"
**What happened**:
go build failed

[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:
master
- Hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Others:
go version:
go version go1.11.12 linux/amd64

do we need go 1.12 ??

[2019-07-31 03:08] kadisi commented on #981
go 1.12.7 is ok

[2019-07-31 12:23] Holt2016 opened #986 "edgemesh listens to 0.0.0.0 and load balance strategy is hard-code"
**What happened**:
1. The tcp server listens to ```0.0.0.0``` now
2. The load balance strategy is hard-code now

**What you expected to happen**:
1. The tcp server listens on ip of interface ```docker0```
2. The load balance strategy can be set from ```edge.yaml```

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge v

[2019-07-31 13:24] #981 closed

[2019-07-31 14:55] liangyuanpeng commented on #753
@sids-b
not yet,i have run ``kubeadm reset`` and `keadm init --docker-version=18.06.3(or 18.06.3-ce) --kubernetes-version=1.14.3` but i got some error
``error: Expected Docker version is not available in OS repo``

my docker version:
[code]

[2019-07-31 17:25] #976 closed

[2019-07-31 17:26] #810 closed

[2019-07-31 17:55] sids-b commented on #961
cc @arcanique @anyushun ... can you please take a look at this one ??

[2019-08-01 03:11] arcanique commented on #961
@liyongxian

@liyongxian In the first question, the dns policy will fall back to the default because the clusterDNS in the edge.yaml configuration file is not configured. This issue will not affect the application deployment. Just the DNS name server on the host's DNS name server integration host in the pod. And "Why "Make sure docker0 does not exist" ", There are two points for this problem. Use

[2019-08-01 03:12] arcanique commented on #961
@liyongxian Can you provide me with your edge.yaml file?

[2019-08-01 04:07] kexun commented on #980
Vote 1: controller under cloud/pkg
ii. edgecontroller

Vote 2: cloud part under cloud/cmd
iii. cloud-core

[2019-08-01 04:07] Baoqiang-Zhang commented on #980
Vote 1: controller under cloud/pkg
ii. edgecontroller

Vote 2: cloud part under cloud/cmd
iii. cloud-core

[2019-08-01 06:55] glenn-lg commented on #980
+1 to Edison

Vote 1: controller under cloud/pkg
ii. edgecontroller

Vote 2: cloud part under cloud/cmd
iii. cloud-core

[2019-08-01 13:56] fisherxu commented on #980
Thanks all your suggestions. :)  Seems most of ours support changing to that:
`controller` under `cloud/pkg` to `edgecontroller`, cloud part under `cloud/cmd` to `cloud-core`.

So let's just do it, will add a task list to issue description.

[2019-08-03 08:42] alien19880726 commented on #380
Hi, What is the final conclusion of this issue? I get the same problem with Node: pekphicprb37564

[2019-08-03 09:26] alien19880726 commented on #888
I get the same problem, but I don't know why. The log is as follows
cloud:
[root@lfgp000809832 build]# kubectl get pod
NAME                                READY   STATUS    RESTARTS   AGE
nginx-deployment-8696f4b6db-jw764   0/1     Pending   0          11m
You have new mail in /var/spool/mail/root
[root@lfgp000809832 build]# kubectl logs nginx-deployment-8696f4b6db-jw764
Error from server: Get htt

[2019-08-03 09:41] alien19880726 commented on #380
I get the same problem, but I don't know why too, need your help. The log is as follows
cloud:
[root@lfgp000809832 build]# kubectl get pod
NAME READY STATUS RESTARTS AGE
nginx-deployment-8696f4b6db-jw764 0/1 Pending 0 11m
You have new mail in /var/spool/mail/root
[root@lfgp000809832 build]# kubectl logs nginx-deployment-8696f4b6db-jw764
Error from server: Get https://10.247.234.208:10250/container

[2019-08-04 12:45] subpathdev commented on #380
@alien19880726
Which version of kubeedge do you use?

[2019-08-04 12:50] subpathdev commented on #380
Can you add the output of this command: ’’’kubectl get nodes’’’

[2019-08-05 01:48] alien19880726 commented on #380
I downloaded the source code last Saturday, I think kubeedge version is v1.0.0
![image](https://user-images.githubusercontent.com/47560998/62432888-8ce5e500-b764-11e9-88a7-8af6c8f9021b.png)
![image](https://user-images.githubusercontent.com/47560998/62432915-b69f0c00-b764-11e9-8be2-98d59c8770e6.png)

[2019-08-05 04:06] #868 closed

[2019-08-05 06:44] sids-b commented on #36
Closing this issue due to inactivity. Please feel free to reopen if it has to discussed and brought up again. Thanks

[2019-08-05 06:45] #36 closed

[2019-08-05 06:49] sids-b commented on #291
How about we pin this issue so that it can be seen at the top and easy for everyone to share the use-cases ?
cc @kevin-wangzefeng @fisherxu @rohitsardesai83 @subpathdev @chendave

[2019-08-05 06:49] sids-b commented on #241
@anvithks , can we have this guide quickly so that we can make it easy for contirubutors ?

[2019-08-05 06:52] sids-b commented on #676
Closing this issue due to inactivity. Please feel free to reopen or ping on slack for further discussion :)

[2019-08-05 06:52] #676 closed

[2019-08-05 06:54] sids-b commented on #672
Closing this issue due to inactivity. Please feel free to reopen or reach out via slack for further discussion :)

[2019-08-05 06:54] #672 closed

[2019-08-05 06:55] sids-b commented on #639
Closing this issue. Please reach out to us via slack or reopen the issue for further discussion :)

[2019-08-05 06:55] #639 closed

[2019-08-05 06:58] sids-b commented on #883
Closing this issue. Please feel free to reopen or reach out on slack for further discussion. The main problem here is that kubeedge installer currently doesn't support arm :)

[2019-08-05 06:58] #883 closed

[2019-08-05 06:59] sids-b commented on #888
@Baoqiang-Zhang , can you please take a look ?

[2019-08-05 07:01] sids-b commented on #857
@jwzl , the architecture of kubeedge supports managing edge nodes from cloud. EdgeSite is just a variant of kubeedge architecture which supports both k8s and nodes in the edge network :)

[2019-08-05 07:01] sids-b commented on #825
Closing this issue. Please feel free to reopen or reach out via slack for further discussion,

[2019-08-05 07:01] #825 closed

[2019-08-05 07:02] sids-b commented on #753
@samy2019 @srivatsav123 @naveensriram , can you take a look at this ?

[2019-08-05 07:03] sids-b commented on #719
@zhanglu0704 , is the feature working for you ?

[2019-08-05 12:09] qizha opened #991 "Survey: How can we support edge application development?"
I am creating this issue to continue the discussion in slack about what is the edge application looks like and what is the different between cloud application. Actually, the purpose of that is to think about what can we do to support the edge application development. Maybe a code generation tool like swagger code-gen?
Well, for the disscussion in slack, there are some points for the edge applicati

[2019-08-05 16:56] subpathdev commented on #380
currently we didn't support `kubectl logs`

can you give me the edgecontroller log? I think the edgecontroller is not syncing the topic to the edge. Which k8s version do you use?

[2019-08-06 06:02] sujithsimon22 opened #995 "nil pointer error in Device controller"
**What happened**:
Nil pointer error in downstream.go of device controller
![image](https://user-images.githubusercontent.com/35599628/62514709-ac047580-b83d-11e9-9c90-7bd611642b0b.png)

[2019-08-06 06:02] sujithsimon22 commented on #995
/assign @sujithsimon22

[2019-08-06 06:25] subpathdev commented on #951
please make the e2e more stable

[2019-08-06 06:59] fisherxu opened #997 "Rename edge_core to edgecore"
**What would you like to be added/modified**:
Now the cloudpart will be named to `cloudcore` as in #988, so `edge_core` also will be rename to `edgecore`.

**Why is this needed**:
Unified component name format.

Task list, need rename in:

- [ ] edge
- [ ] keadm
- [ ] tests
- [ ] docs
- [ ] scripts&yaml files

[2019-08-06 08:26] #995 closed

[2019-08-06 12:25] alien19880726 commented on #380
[edgecontroller.zip](https://github.com/kubeedge/kubeedge/files/3472190/edgecontroller.zip)

[2019-08-06 13:08] alien19880726 commented on #380
2019-08-06 21:07:57.466 +08:00 INFO pleg/generic.go:103 GenericLifecycle: Relisting
ERROR: logging before flag.Parse: I0806 21:07:57.477142   15702 generic.go:460] pod waiting > 0, pending
2019-08-06 21:07:58.477 +08:00 INFO pleg/generic.go:103 GenericLifecycle: Relisting
ERROR: logging before flag.Parse: I0806 21:07:58.480708   15702 generic.go:460] pod waiting > 0, pending
2019-08-06 21:07:58.90

[2019-08-07 02:15] kevin-wangzefeng opened #1001 "Document the release tracking tooling, aka. clarify usage of project and milestone"
**What would you like to be added/modified**:
In the past releases, usage and differences between [Project view](https://github.com/kubeedge/kubeedge/projects) and [Milestone](https://github.com/kubeedge/kubeedge/milestones) was not clear.
Here is a proposed way of clarification, during a release:
1. Project view is used to track feature/enhancement development status.
2. Columns in a project shou

[2019-08-07 02:16] kevin-wangzefeng commented on #1001
Part of #944

[2019-08-07 02:19] kevin-wangzefeng commented on #1001
/kind documentation

[2019-08-07 06:31] alien19880726 commented on #380
Hi, Jan. Thanks the same. I found network agent restriction leads to this bug, so I fixed this problem by push the image "nginx" to edge vm manually. I should check the edge_core.log firstly next time.

[2019-08-07 06:34] ziyi-yan commented on #978
Hi, I'd like to handle this issue and start being familiar with the project. Could I have it assigned to me?

[2019-08-07 06:41] kevin-wangzefeng commented on #978
/assign @ziyi-yan

[2019-08-08 02:16] #997 closed

[2019-08-08 12:48] kexun commented on #971
+1， i will do it.

[2019-08-08 12:56] fisherxu commented on #971
@kexun Sure, please just go ahead.

[2019-08-08 13:01] rohitsardesai83 commented on #971
:+1:

[2019-08-09 02:19] kevin-wangzefeng commented on #980
#988 Accepted, and we need to document this change in v1.1 release note.

[2019-08-09 04:41] #748 closed

[2019-08-09 06:17] kadisi commented on #913
@fisherxu , good idea.   do we need to create new branch for kubeedge, beehive and viaduct to implement this feature  ?  and make a track task.

[2019-08-09 06:38] fisherxu commented on #980
Sure.

[2019-08-09 06:40] sids-b commented on #980
Closing this issue as we have merged the PR

[2019-08-09 06:41] sids-b commented on #980
Thanks @fisherxu

[2019-08-09 06:41] #980 closed

[2019-08-09 13:29] batazor opened #1006 "Run `deployment` on raspberry edge -> `exec format error`"
**What happened**:

K8S trying to run x86 pod `k8s_POD_` on ARM

[code]

[code]

**What you expected to happen**:

success run my Nginx container

**How to reproduce it (as minimally and precisely as possible)**:

1. I run edge-node on raspberry 3
2. `kubectl apply -f deployment.yaml`

[code]

**Anything else we need to know?**:

**Environment**:
- KubeEdge version: git commit hash `767620a8`
- Ha

[2019-08-09 15:14] kadisi commented on #913
@fisherxu @rohitsardesai83 @kevin-wangzefeng @chendave @edisonxiang

this is track task:

- [ ] beehive : [unifying loging library to klog ](https://github.com/kubeedge/beehive/pull/26)
- [ ] viaduct : [unifying loging library to klog](https://github.com/kubeedge/viaduct/pull/20)
- [ ] kubeedge:  TODO

[2019-08-09 18:45] ziyi-yan opened #1007 "keadm should support raspbian"
**What would you like to be added/modified**:
Add `Raspbian` struct to implement `OSTypeInstaller` interface for raspbian os.

**Why is this needed**:
Raspberry Pi is the most handy device as an edge node for demonstration purpose and `raspbian` is the default OS.

[2019-08-10 09:33] ziyi-yan opened #1010 "edge: got `fatal error: concurrent map read and map write` on `make edge_test`"
**What happened**:
After running `make edge_test`, I got
[code]

**What you expected to happen**:
The tests are all OK.

**How to reproduce it (as minimally and precisely as possible)**:
There are more data race errors will happen if using `go test -race`. It's just part of the all data race issues.

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:
- Hardware configuration

[2019-08-10 10:43] fisherxu opened #1012 "Need add a CI job to check the vender after change to go mod"
Add a  CI job to check the vender, need to check:

- go module relate files, like go.mod/go.sum

- the vender files

[2019-08-10 15:04] subpathdev commented on #1012
What do you think should the ci job do?  (@fisherxu )

[2019-08-10 15:04] subpathdev commented on #1012
/assign @subpathdev

[2019-08-10 15:58] anyushun opened #1013 "Sync service, endpoint, pods behind service to all nodes is very inefficient and unnecessary"
**What happened**:
We need sync service and pods behind it to node for service discovery and loadbalance in edgemesh, we don't know which node needs which services, so we sync service and pods behind it to all nodes. This is very inefficient and unnecessary

**What you expected to happen**:
Sync service and pods behind it to nodes that really needs the service

**How to reproduce it (as minimally

[2019-08-10 16:49] anyushun commented on #1013
How to resolve it?
**Precondition:**
1. EdgeController create CRD NodeService(means **Node** that needs access to the **Service**)
[code]

**Query service and pods behind it:**
1. EdgeMesh query service and pods behind it from edgecontroller when client pod access a domain name like ```{name}.{namespace}.svc.{cluster}```
2. EdgeController create NodeService when receive query service or pods behin

[2019-08-10 16:50] anyushun commented on #1013
@qizha

[2019-08-10 17:23] fisherxu commented on #1012
@subpathdev  Can refer to the implementation in kubernetes :) [Verify-vender.sh](https://github.com/kubernetes/kubernetes/blob/master/hack/verify-vendor.sh)

[2019-08-10 17:30] sids-b commented on #1013
There maybe some problems with this approach, I had discussed with @qizha earlier,

1) If a node is offline, it will not be able to resolve the request.
2) Multiple query to cloud for resolving a single service(Since metaManager does not save the metadata). There will always be a need for edge node to query the cloud as the node doesn't know the latest endpoints/pod behind the service. This may in

[2019-08-10 17:31] sids-b commented on #1012
This job will be similar to the dep check job we had. We use go mod instead.
Thanks @subpathdev for taking it up :)

[2019-08-10 17:33] #1010 closed

[2019-08-10 18:03] subpathdev opened #1014 "Add `kubectl log` support for pods at edge"
**What would you like to be added/modified**:
add `kubectl logs` support to kubeedge

**Why is this needed**:
Users should be able debug the pods, which are deployed on an edge node. In the last few issues users of kubeedge tried to query log files from pod which are deployed on the edge node.

[2019-08-10 19:11] subpathdev opened #1015 "Compiling bluetooth failed in e2e test"
**What happened**:
Compiling bluetooth failed in travis e2e test

**What you expected to happen**:
not failing

**How to reproduce it (as minimally and precisely as possible)**:
https://api.travis-ci.org/v3/job/569822771/log.txt
(search for: "Compiling bluetooth..." or "Failed to compile bluetooth")

**Anything else we need to know?**:
This happens in PR #856.

[2019-08-11 13:49] anyushun commented on #1013
Hi Sid, I updated the comment and didn't describe it clearly last time.

    1. Service and pods behind it when found, meatamanager save it
    2. NotFound type message when not found, metamanager do not save it

Your questions:
1. MetaManager send query message to cloud when not found in local storage. If node is offline, There are two situations, no matter what kind of situation, it is the same

[2019-08-12 01:34] alien19880726 opened #1017 "panic: concurrent write to websocket connection(edgecore process crashes)"
**What happened**: edgecore process exits abnormally

**What you expected to happen**:edgecore process keeps running until we stop it on our own initiative

**How to reproduce it (as minimally and precisely as possible)**:Restart edgecore process and then deployment two pods, wait for one day or more.

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:v1.15.0-kubeedge-v1.0.0

[2019-08-12 06:09] #986 closed

[2019-08-12 07:05] #978 closed

[2019-08-12 07:46] mazengxie commented on #646
@sids-b @Toper2035 the problem cannot be reproducede when Deploy kubeedge's edge nodes using containers。

[2019-08-13 03:12] locol-media-dev opened #1020 "Node does not become ready"
**What happened**:

- Installed KubeEdge v1.0.0 use the release.
- Defined node named: fb4ebb70-ffff-ffff-b3ef-63e2fd6d242e
- Cloud do not showing node is ready
[code]
Getting the following two messages on the edge side:
[code]

**What you expected to happen**:
- Expected node to be ready

**How to reproduce it (as minimally and precisely as possible)**:
This process was used, other than VERSION="

[2019-08-13 07:16] chendave commented on #845
After apply the webhook, below error message will expected with the malformed configuration.

# kubectl create -f CC2650-device-model-malformed.yaml
Error from server: error when creating "CC2650-device-model-malformed.yaml": admission webhook "validation-devices.kubeedge.io" denied the request: Either Int or String must be set

[2019-08-13 08:41] jwzl opened #1021 "Why we need 2 same deviceprofile.json in k8s configmap & devicemapper?"
1)When Add a device into k8s cluster,  the deviceprofile.json would be stored in configmap.
2) When run a mapper in edge sides,  the deviceprofile.json file(same as step 1) is needed!

I think we should Maintain only one deviceprofile.json in edgesides(mapper), If the app needs these information, these information can be reportted  to app.

In addition， the deviceprofile.json has a little complica

[2019-08-13 08:46] jwzl commented on #1021
@sujithsimon22  @sids-b  @rohitsardesai83 @subpathdev @fisherxu @edisonxiang
I hope we can discuss this topic, thanks!

[2019-08-13 14:19] vizero1 commented on #291
We would like to use KubeEdge as a platform for computer vision on edge devices.
A typical usecase is e.g. face detection or other typical computer vision problems on the edge. On our edge device we have different container running, one container for acquiring images with a camera and sending them to another container where some image processing (with ML or DL) is happening to detect the face.  Af

[2019-08-13 16:48] sids-b commented on #291
@vizero1 . Thanks for sharing your use-case.

Yess kubeedge will support communication between service running on cloud and on edge using edgemesh. This is the design https://github.com/kubeedge/kubeedge/blob/master/docs/proposals/edgemesh-design.md. Currently pod to pod communication between edge nodes is already implemented. Development for communication between cloud and edge has begun and will

[2019-08-14 01:36] alien19880726 opened #1023 "There is something wrong in file "cloudhub.md""
**What happened**: There is something wrong in file "cloudhub.md"

**What you expected to happen**: Guide documents provide correct description to prevent learner from being misleaded.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:
- Hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g

[2019-08-14 03:08] jwzl commented on #291
our case use kubeedge  2 part：
pod mangment：
     1）we can deploy some pod that can access the edgenode hardware， and prcocess some data and send to cloud sides。These pods can communicate with each other. we hope you give us some API document to describe pod2pod / pod2cloud communication.

     2)   we can manage these pods in remote.

device mangment:
     1) we want to  use device twin as device

[2019-08-14 03:30] locol-media-dev commented on #1020
Compiled from source and got this error instead:

[code]

Went to v0.3 and KubeEdge seem to be running, the node is up....
[code]

[2019-08-14 05:07] sids-b commented on #291
@jwzl Thanks for sharing your use-case.

We can discuss regarding simplifying the deviceProfile on #1021. Please share your thoughts regarding that :)

[2019-08-14 05:10] sids-b commented on #1021
@jwzl , the deviceProfile.json in mapper is the same configmap which is created when device is added. It is volume mounted in the pod.

[2019-08-14 05:22] sujithsimon22 commented on #1021
@jwzl Adding on to what @sids-b said, we currently maintain only 1 copy of deviceprofile.json as a configmap on the edge, the various mapper appliations which are deployed on the edge can make use of it by volume mounting the config map into its pod

[2019-08-14 05:53] jwzl commented on #1021
@sids-b  @sujithsimon22  If the mapper in docker,  this is no problem.
But in some case,  the mapper need run anthor device  that can't  support  docker, then, the mapper's runtime is not belong to K8s cluster,  and  deviceprofile.json has 2  copy.

[2019-08-14 07:44] alien19880726 opened #1025 "log info is self-contradictory"
**What happened**:
![image](https://user-images.githubusercontent.com/47560998/63003173-3ab26b80-beaa-11e9-97ec-938408fb7887.png)

**What you expected to happen**:there is nothing wrong in the log info

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:
- Hardware configuration:
- OS (e.g. from /etc/os-releas

[2019-08-14 08:09] kadisi commented on #1025
@alien19880726 , thank you for your issue,  we need continue this loop when we find unsupported operation. https://github.com/kubeedge/kubeedge/blob/45fb42520b3022ad53132f5140c803f03f8a8122/cloud/pkg/edgecontroller/controller/upstream.go#L571

[2019-08-14 08:23] alien19880726 commented on #1025
Maybe you do not get my words, one line indicates this operation cannot be processed, while another line indicates process successfully in the following logs. I think the second line should be removed.
2019-08-06 19:48:13.574 +08:00 [0;34mINFO[0m controller/upstream.go:571 message: 0130cbc8-c97d-4fc2-8f6d-c988e40dc64a **process failure**, service operation: response unsupported
2019-08-06 19:48:

[2019-08-14 09:59] Baoqiang-Zhang opened #1027 "edgecore will panic if we run a pod with device plugin resource"
**What happened**:edgecore will panic if we run a pod with device plugin resource, panic info:
[code]

**What you expected to happen**: pod with device plugin resource can run by edgecore

**How to reproduce it (as minimally and precisely as possible)**:
1.update edge.yaml device-plugin-enabled to true

[code]

2. run edgecore

3.run device plugin

4.create a pod with device plugin resource

**Any

[2019-08-14 13:02] hw2018 commented on #991
I think edge applications should be event-driven.Edge computing should be a complement to cloud computing power, the ability to respond quickly to the last mile, rather than replacing some of the capabilities of cloud computing. But how does serverless develop in the edge ? On the cloud, faas baas is a good friend, we can quickly build own serverless application through faas and baas, but on the e

[2019-08-14 13:05] #1027 closed

[2019-08-14 13:28] #1025 closed

[2019-08-15 07:51] alien19880726 opened #1029 "There is sth wrong in syncPodStatus fuction of metaManager module"
**What happened**: There is sth wrong  in syncPodStatus fuction of metaManager module. Pod's namespace is inevitably empty at the first time, so that its namespace will be kube-system forever while it actually is default.
![image](https://user-images.githubusercontent.com/47560998/63080324-47e75d00-bf73-11e9-820a-8bc91ebfc630.png)
![image](https://user-images.githubusercontent.com/47560998/6308035

[2019-08-15 08:11] qiuhui opened #1030 "pod卡在ContainerCreating状态"
我按照官方文档安装好cloud端和edge端，执行kubectl get nodes看到edge的状态是ready。执行kubectl apply -f deployment.yaml后，查看pod状态一直是ContainerCreating，以下是我的编排文件和命令执行输出.
![image](https://user-images.githubusercontent.com/3477024/63081823-32743200-bf77-11e9-890a-06f303861b62.png)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:

[2019-08-15 08:14] qiuhui commented on #1030
edgecore的log打印很多类似信息
![image](https://user-images.githubusercontent.com/3477024/63081980-9860b980-bf77-11e9-84cb-52bdc1b638fb.png)
我的kubernetes版本是1.12.4, docker版本是18.06.1，kubeedge版本是1.0

[2019-08-15 16:59] fisherxu commented on #1030
@qiuhui Now the kubernetes version for kubeedge v1.0 is 1.15+ , maybe could have a try :)

[2019-08-16 01:44] soolaugust commented on #1023
I agree, It seems only handle writing message now.

[2019-08-16 03:29] fisherxu commented on #1030
In your log, seems the edged version is kubelet-v1.15.0-kubeedge-v1.0.0.

[2019-08-16 05:47] #971 closed

[2019-08-16 07:56] chendave commented on #963
@rohitsardesai83

In this PR https://github.com/kubeedge/kubeedge/pull/984, I have added some validation against `devicemodel`, you can see there additional properties are not rejected, I think even we have enabled the webhook, we still don't have effect way or no need to reject the additional properties.

Actually, I don't think we need to do that, as K8S point it out, there is no need to do that

[2019-08-18 00:29] anyushun opened #1037 "edgemesh has redundant code that needs to be cleanup"
**What happened**:
- The initialization operation is done twice in cmd/edgemesh.go and pkg/server/server.go, cmd/edgemesh.go is redundant.
- No need to init HystrixConfig when go-chassis upgrade to v1.6.1

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version: v1.0.0
- Hardware c

[2019-08-19 04:41] #1037 closed

[2019-08-19 07:27] fisherxu opened #1045 "Keadm join cmd should not has option `k8sserverip`"
**What would you like to be added/modified**:
Now the keadm join cmd has the `k8sserverip` option, which means that need connect Kube-apiserver in edge node, but we have the `cloudcore ip` is enough.

**Why is this needed**:
Remove this option.

/cc @naveensriram @samy2019 @kadisi @subpathdev @sids-b @rohitsardesai83

[2019-08-19 08:07] kadisi commented on #1045
agree

[2019-08-19 10:20] #1012 closed

[2019-08-20 02:42] #1021 closed

[2019-08-20 02:44] sids-b commented on #1045
It is good idea. It can be fixed if we resolve #881.
A simple solution for 881 would be over here

https://github.com/kubeedge/kubeedge/blob/68a1a607fd8493decbff8e9896ac1f4b65cb4504/cloud/pkg/edgecontroller/controller/upstream.go#L341-L385

if we hit the node not found condition at like 382, edgecontroller can create the node object.

Anyone wish to take it up ?

[2019-08-20 02:47] jwzl opened #1051 "[cross-compile for ARM] use yocto sdk to build edge_core"
go build cmd/edge_core.go
# net
/snap/go/4289/src/net/cgo_linux.go:10:19: fatal error: netdb.h: No such file or directory
compilation terminated.
# os/user
/snap/go/4289/src/os/user/cgo_lookup_unix.go:20:20: fatal error: unistd.h: No such file or directory
compilation terminated.
# github.com/kubeedge/kubeedge/vendor/github.com/opencontainers/runc/libcontainer/system
../vendor/github.com/openconta

[2019-08-20 02:48] jwzl commented on #1051
finally, I add CGO_CFLAGS to pass sysroot to the gcc. and finished the compile
And I found the GCC version must >= 6/7
GCC 5 use collect and go compiler can't support ld and just support gold as linker.

[2019-08-20 06:46] Baoqiang-Zhang opened #1052 "ImagePullBackOff error for specific image"
**What happened**:
some large size images can not be pulled in edge node
![image](https://user-images.githubusercontent.com/17630274/63323897-72f9f400-c359-11e9-9c2d-e19d7c74fd63.png)

**What you expected to happen**:
image can be pulled in edge node
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:
- Hardwa

[2019-08-20 07:41] kadisi opened #1055 "git describe --tags show wrong information"
**What happened**:
when i exec `git describe --tags ` ：

it out ：
[code]

**What you expected to happen**:

it should show `v1.0.0-**` tag  information

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:  v1.0.0 commit: 4cf04771e436903f31f50733e2d1cea3b10903f6
- Hardware configuration:
- OS (e.g. from /etc/os

[2019-08-20 08:04] jan commented on #1051
@jwzl I am not super sure, but you will sure figure it out!

[2019-08-20 08:31] fisherxu commented on #1055
@kadisi  Because the v1.0.0 tag is not from master branch before, we have update it now :) PTAL

[2019-08-20 08:32] kadisi commented on #1055
@fisherxu , thank you , after i delete my local v1.0.0 tag  and fetch again,  it works.

[2019-08-20 08:32] #1055 closed

[2019-08-22 03:34] sids-b opened #1061 "KubeEdge should pass the k8s conformance tests"
**What would you like to be added/modified**:

KubeEdge should pass the k8s conformance test.

**Why is this needed**:

Passing conformance tests gives the below advantages.
1) No need to define the feature set supported by KubeEdge
2) Allows adopters/vendors to easily evaluate KubeEdge features

We can still continue to have separate api-versioning of all the features as we have modify the data f

[2019-08-22 03:35] sids-b commented on #1061
Thoughts ? @kevin-wangzefeng @qizha @rohitsardesai83 @CindyXing @fisherxu @dims @subpathdev @edisonxiang @kadisi @chendave @Baoqiang-Zhang @anyushun

[2019-08-22 07:21] #1052 closed

[2019-08-22 11:26] kevin-wangzefeng commented on #1061
We do need to run conformance tests, which is very helpful to identify whether any useful funcionalities from kubelet is broken in KubeEdge.

But we still need to clarify to feature set that KubeEdge offers, and tell users, adopters about our understanding on building platform for containers.

These are just twon different things, we don't need to mix them together.

[2019-08-22 12:01] #922 closed

[2019-08-22 15:41] gzqx opened #1062 "Script in doc not found"
I am not quite sure which category this issue should be labeled with and if it is a disturbance I apologize in advance

**What happened**:
When trying to install kubeEdge with minikube following [DOC](https://kubeedge.io/en/docs/getting-started-minikube/), both two provided scripts [script_1](https://raw.githubusercontent.com/Kubeedge/Kubeedge/${Kubeedge_TAG}/scripts/download.sh) and [script_2](ht

[2019-08-22 16:31] SpaghettiAndSalmon opened #1064 "Errors occur when try to build KubeEdge on mac"
**What happened**:
Follow the doc(https://docs.kubeedge.io/en/latest/setup/setup.html) to set up KubeEdge.
Errors occur in step _Build Cloud and edge_ .
[code]
Errors:
[code]
**What you expected to happen**:
successful build.
**How to reproduce it (as minimally and precisely as possible)**:
Please see the details in part _What happened_.
**Environment**:
- KubeEdge version:
the latest from the mas

[2019-08-23 12:14] kadisi opened #1068 "make cross_build faild on centos"
**What happened**:
when i make cross build edgecore on centos env. it faild:

[code]

`arm-linux-gnueabi-gcc` only works on ubuntu.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:
- Hardware configuration:
- OS (e.g. from /etc/os-release):
[code]

- Kernel (e.g. `uname -a

[2019-08-23 12:20] kadisi commented on #1068
cc @fisherxu @subpathdev @sids-b @kevin-wangzefeng

[2019-08-23 12:23] subpathdev commented on #1068
/assign @subpathdev

[2019-08-23 12:28] kadisi commented on #1068
@subpathdev , after i install arm-gcc in centos, and change CC option from `arm-linux-gnueabi-gcc` to `arm-linux-gnu-gcc`, it still output other error:
[code]

[2019-08-23 19:41] arslanqadeer commented on #651
I think I can work on it. /assign @arslanqadeer

[2019-08-26 07:53] #845 closed

[2019-08-26 08:07] kadisi opened #1070 "edgecore panic when run on raspberrypi 4"
**What happened**:
i compile edgecore on   raspberrypi 4 , and run it:
[code]

the code which trigger panic is
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version: master
- Hardware configuration: raspberrypi 4
- OS (e.g. from /etc/os-release):
 os image: https://www.ra

[2019-08-26 15:23] subpathdev commented on #1070
where do you build the edgecore? On the raspberry pi?

[2019-08-27 00:42] kadisi commented on #1070
@subpathdev  yes, on raspberry pi

[2019-08-27 01:20] kadisi commented on #1070
@subpathdev the default config of `edged-memory-capacity-bytes` is `7852396000` in edge.yaml.  `7852396000` > `2147483647`, golang think it is int64 type. so we need change int type to int64 type.
[code]

[2019-08-27 06:53] subpathdev commented on #1070
@kadisi raspberry pi4 is using armv8 and 64bit architecture
cite:

https://techcrunch.com/2019/06/23/the-raspberry-pi-foundation-unveils-the-raspberry-pi-4/

[2019-08-27 06:54] kadisi commented on #1070
yes, but the official os is 32 bit. https://www.raspberrypi.org/downloads/raspbian/

[2019-08-27 06:59] subpathdev commented on #1070
oh I understand the os is using 32 bit system; thank you raspbian

[2019-08-27 21:04] subpathdev commented on #1068
I didn't have a good solution to this. (I can say: this happens because the libraries are missing, which are can be used by the correct architecture.)

My solution is: you could download the tar.gz + the dependencies, which are used by Ubuntu or Debian to cross compile. And place the files in the correct paths on your system.

As you can see, my problem is my missing knowledge about centos / fedor

[2019-08-27 21:12] subpathdev commented on #1064
As you can see, you are not using gcc. You are using clang as C compiler. Perhaps you can use this to compile on macOS:
https://go.googlesource.com/gollvm/

[2019-08-27 21:20] subpathdev commented on #1062
This website is also missing: https://kubeedge.io/docs/started/getting-started-gke/#understanding-the-deployment-process

[2019-08-27 21:20] subpathdev commented on #1062
/cc @fisherxu @rohitsardesai83

[2019-08-28 04:57] #1070 closed

[2019-08-28 08:17] fisherxu opened #1076 "Add helm charts and quick install yaml for cloud part(cloudcore&admision)"
**What would you like to be added/modified**:

1. Add hem charts replace the yamls under build/cloud

2. Make the yamls under build/cloud and build/admission as one yaml file, generate it from helm chart.

example xref: [script for generate the yaml](https://github.com/volcano-sh/volcano/blob/master/hack/generate-yaml.sh),  [the generated yaml file](https://github.com/volcano-sh/volcano/blob/maste

[2019-08-28 08:38] kadisi commented on #1076
sounds great

[2019-08-28 09:26] fisherxu opened #1077 "Add a script to run kubeedge on one VM"
**What would you like to be added/modified**:
Add a script which run kubeedge on one VM, which can be used to develop test and e2e test in CI.
Xref: [the k8s local-up-cluster script](https://github.com/kubernetes/kubernetes/blob/master/hack/local-up-cluster.sh)

The k8s cluster can started used the [kind](https://github.com/kubernetes-sigs/kind), the kubeedge components run in the VM as process

*

[2019-08-28 11:01] matancarmeli7 commented on #291
Our use case is that i want to use Kubernetes on prem environment that is built from several vms and we have several raspberry pi edge devices that we want to deploy pods on them with our Kubernetes  cluster. Can we use KubeEdge in our use case?

Thanks very much!

[2019-08-29 08:23] fisherxu opened #1079 "Add arm CI job"
**What would you like to be added/modified**:
Now the CI haven't run in arm, add a CI job run in arm

**Why is this needed**:
Also run test on the arm platform.

[2019-08-29 10:12] jwzl opened #1080 "edgecore issue in ARM"
**Environment**:
- KubeEdge version:  v1.15.0-kubeedge-v1.0.0
- Hardware configuration:  ARM imx6q soc
- OS (e.g. from /etc/os-release):
ID="arago"
NAME="Arago"
VERSION="2019.05"
VERSION_ID="2019.05"
PRETTY_NAME="Arago 2019.05"
- Kernel (e.g. `uname -a`):   4.1.15-2.0.0

**How to reproduce it (as minimally and precisely as possible)**
When I cross compile the edgecore for arm, and run edgecore to

[2019-08-29 10:27] jwzl commented on #1080
@fisherxu @kadisi @subpathdev @sids-b  Thanks!

[2019-08-29 11:09] joeblew99 commented on #1064
also tinygo can be used instead of gollvm

https://github.com/tinygo-org/tinygo
https://news.ycombinator.com/item?id=20474530

Its also great for building IOT software

[2019-08-30 00:50] kadisi opened #1082 "move beehive and viaduct into kubeedge main respository"
**What would you like to be added/modified**:

i suggest to move  beehive and viaduct into kubeedge main respository.

**Why is this needed**:

now , beehive and viaduct are only imported by kubeedge main respository. If we add new features or bugfix to beehive and viaduct, it will be more difficult to merge into kubeedge main respository.  currently, beehive and viaduct are also lack of complete

[2019-08-30 01:34] kadisi opened #1083 "use kubelet instead of edged to manage containers"
**What would you like to be added/modified**:

**Why is this needed**:

currently,  kubeedge use edged module to manage containers on it`s node.  but we need to spend too much effort to enable edged to implement kubelet functionality（such as CRI, CNI, CSI, loadbalance)。  This will lead us to follow the changes in the community  in the future.  And it will also give users a sense of distrust, users

[2019-08-30 01:34] kadisi commented on #1083
cc @kevin-wangzefeng @sids-b @fisherxu @rohitsardesai83 @subpathdev @CindyXing

[2019-08-30 01:46] kadisi commented on #1082
if we  don't want to sync to the[ beehive library](https://github.com/kubeedge/beehive) regularly， we can only move into kubeedge `pkg` dir.  But I don't think it's necessary to set beehive as a separate library.

[2019-08-30 03:06] edisonxiang commented on #1082
Actually it is very good suggestion.
I have ever came across this same problem.
When we need to modify some thing in beehive,
firstly we need to update beehive and then update kubeedge vendor.

[2019-08-30 03:17] kevin-wangzefeng commented on #1082
The individual repos turn out not that useful as we expected, I agree to move code into the main repo to improve developer experience.
And even if we host beehive under `pkg`, there are still ways to sync code history to a separate repo for external/downstream uses (just in case).
Let's make it during next release.

/assign

[2019-08-30 03:22] fisherxu commented on #1082
+1, that will improve developer experience and easier to test

[2019-08-30 05:01] subpathdev commented on #1082
+1

[2019-08-30 05:04] rohitsardesai83 commented on #1082
+1

[2019-08-30 05:11] rohitsardesai83 commented on #1083
Can we consider if k3s kubelet can be used ? Resource constraints also needs to be considered.

[2019-08-30 05:25] subpathdev commented on #1083
I think this is a good idea. Let's target this after the current release and we should consider how much the size of the edge binary will change.

[2019-08-30 05:40] sids-b commented on #1082
Thanks @kadisi . It is a very good point

[2019-08-30 05:47] kadisi commented on #1083
@rohitsardesai83 that is a good idea, We can advise users to use k3s in kubeedge docs, but it depend on the user's decision.  And I personally feel that resource restrictions are no longer a problem in the near future. We should focus on cloud-side collaboration and edge-side self-management.

[2019-08-30 05:48] kadisi commented on #1083
@subpathdev  thanks

[2019-08-30 05:52] jwzl commented on #1083
I agree @rohitsardesai83   @subpathdev   Resource constraints also needs to be considered, in ARM side  especially.

[2019-08-30 06:02] sids-b commented on #1083
Kubelet opens multiple connections directly with k8s apiserver for receiving resource updates. Hence in office scenarios the reliability of messages cannot be guaranteed. So we created the cloudhub-edgehub so we can apply reliable message delivery on the connection between cloud and edge.

One thing we can do is separate out the edged and kubelet code so that kubelet can be ventured and easily upg

[2019-08-30 06:19] kadisi commented on #1083
@sids-b  we indeed use cloudhub-edgehub,  if we use kubelet, We just need to maintain reliable data transfer  cloud and edge.  when edgehub received data, it can passed to `metaManager` module. and we let  `metaManager` provides most of usefull features of apiserver and serving kubelet.

and by the way, we can replace sqlit with boltdb， Boltdb is a key value database, lighter than sql, and simpler

[2019-08-30 06:25] kadisi commented on #1083
@jwzl , i run native kubelet in my linux node, this is it`s proc status

[code]
i think Resource constraints indeed needs to be considered, but the priority is not the highest .

[2019-08-30 08:07] jwzl commented on #1083
If it's that,   MetaManger is more like a k8s apiserver.
then,  we can use many kubelet to connect the  MetaManger, and edge node change to a edge cluster.

[2019-08-30 09:43] kadisi commented on #1083
then, we can use many kubelet to connect the MetaManger, and edge node change to a edge cluster.

@jwzl no, i think `MetaManger` only needs to provide some of the functions of list 、watch and update for kubelet and serve only the kubelet on it`s host.

[2019-08-30 10:49] kevin-wangzefeng commented on #1083
Thanks for bringing this up. I think the fundamental thing is we need to rethink the relation ship between kubelet and edged.

In the early days implementaion, too many funcionanlities were removed in edged, that's why it took time to add things back into edged when CRI is needed. CSI is another story, since it's not just a plugin framework interacts with Kubelet.

From user perspective, as I said

[2019-08-30 12:26] kadisi commented on #1083
@kevin-wangzefeng that sounds great, thank you

[2019-08-30 15:36] sids-b commented on #1083
Agree with @kevin-wangzefeng

As I said earlier, if meta client is implemented in a way that it supports watch like functionality, we will be able to move a lot of code to vendor.
ping @edisonxiang to share his thoughts.

[2019-08-31 07:54] sids-b commented on #638
Closing this issue now. We have owners file in place for most of the modules

[2019-08-31 07:54] #638 closed

[2019-08-31 07:56] sids-b commented on #597
e2e tests are in place for mapper. They are just not running in CI as we need bluetooth protocol support. For time being we can expect the PR author to run the tests and post results along with the PR.

[2019-08-31 07:56] #597 closed

[2019-08-31 07:58] sids-b commented on #847
@fisherxu , does this issue still persists ?

[2019-08-31 08:00] sids-b commented on #961
@liyongxian , are you still facing this issue ?

[2019-08-31 08:01] sids-b commented on #918
@liyongxian , is this issue resolved ?

[2019-08-31 08:03] sids-b commented on #888
@Xuhao-ChangAn , can you try with the latest setup and let us know if it works for you ?

[2019-08-31 08:04] sids-b commented on #857
Closing this issue. Please feel free to reopen or ping on slack for further discussion :)

[2019-08-31 08:04] #857 closed

[2019-08-31 08:05] sids-b commented on #1079
+1

Currently we only have cross build job. We need a run job as well

[2019-08-31 08:08] sids-b commented on #1080
@jwzl , apologies for late response. We have tried deploying simple nginx app one RPi(ARM) all the create/delete functionality seems to work fine. Can you please try once with this deployment file ? https://github.com/kubeedge/kubeedge/blob/master/build/deployment-armv7.yaml

[2019-08-31 08:10] sids-b commented on #1077
Good idea @fisherxu . I think @sujithsimon22 is doing something similar in this PR #856

[2019-08-31 08:12] sids-b commented on #1061
Anyone interested to run and share the report of conformance tests ?

[2019-08-31 08:13] sids-b commented on #1023
Thanks @alien19880726 . Can I you please raise a PR to fix this issue ?

[2019-08-31 08:17] sids-b commented on #1020
@locol-media-dev , I think this issue is handled in the latest master code. Can you take a look and let us know ?

https://github.com/kubeedge/kubeedge/blob/1b69040f5f86360c43586f3ca5f98ec86f2cafb4/edge/pkg/edged/edged.go#L396-L405

[2019-08-31 08:18] sids-b commented on #1017
@kexun , can you please take a look at this one ??

[2019-08-31 08:19] sids-b commented on #1006
@chendave @subpathdev do you have any idea of this one ?

[2019-08-31 08:20] sids-b commented on #1007
+1

@ziyi-yan will it be possible for you to contribute support for this one ?

[2019-08-31 08:21] sids-b commented on #1007
This could be a very useful addition in keadm

[2019-08-31 08:22] fisherxu commented on #1006
Need to config the pause container image to arm version one, I have push one to kubeedge account in dockerhub.

[2019-09-02 00:33] jwzl commented on #1080
@sids-b  I also used this same deployment file (as you described) and has these failure.

[2019-09-02 03:51] fisherxu opened #1086 "Move all the compiled binary and container image to KUBEEDGE_ROOT/_output"
**What would you like to be added/modified**:
Move all the compiled binary and container image to KUBEEDGE_ROOT/_output

**Why is this needed**:
Consider improve Makefile and move all binary and container image  to a unified folder, KUBEEDGE_ROOT/_output.

[2019-09-02 06:43] kadisi commented on #1086
agree

[2019-09-02 06:44] kadisi commented on #1007
+1

[2019-09-02 06:48] fisherxu commented on #1061
/assign

[2019-09-02 08:12] sids-b commented on #1061
Thanks @fisherxu for volunteering !

[2019-09-03 04:17] #650 closed

[2019-09-03 04:44] sids-b commented on #1086
Umm, maybe we need to move the conf/ folder along with it as the binary will search for conf/ folder. Another option is to set the Goarchaius_config_path environment variable

[2019-09-03 06:33] kadisi commented on #1086
I think the configuration file can be moved to `/etc/kubeed/conf` in the future

[2019-09-03 06:48] fisherxu commented on #1086
Agree, and through a option field to find the config file instead of the Goarchaius_config_path environment variable

[2019-09-03 08:21] bugfest opened #1088 "Environment vars not passed to pods running on edge"
**What happened**:
Environment vars are not passed to PODs (edge part). Edgecore show the environment values in its logs (so they're been retrieved correctly by the edge part) but they're not passed to the scheduled container

**What you expected to happen**:
Environment variables properly passed/set in the running container

**How to reproduce it (as minimally and precisely as possible)**:
edgeco

[2019-09-03 10:12] kevin-wangzefeng commented on #826
We should not reject protocols that is not predefined in-tree, which will prevent people adding their own protocol/mapper implementations.
For protocols already defined in-tree, we can check if all the fields are filled correctly.

[2019-09-03 14:03] sids-b commented on #1088
@Baoqiang-Zhang Thoughts ?

[2019-09-03 14:16] fisherxu opened #1092 "Consider merge the cert generate script in admission and cloud/edge communition"
**What would you like to be added/modified**:
Merge the cert generate script in admission and cloud/edge communition, now we have two cert generate scripts for admission and cloud/edge communition, just merged them.

**Why is this needed**:

[2019-09-03 22:38] subpathdev commented on #1080
@jwzl
to your second point you could execute `kubectl delete pod <pod name> --force --grace-period 0` to remove the pod instantly from the cloud

to your first point could you please add the output of  `kubectl describe pod <pod name>, where <pod name> ist your executed nginx pod? Can you add the log file of the edgecore and the cloudcore too?

[2019-09-04 03:36] jwzl commented on #1080
warning: Immediate deletion does not wait for confirmation that the running resource has been terminated. The resource may continue to run on the cluster indefinitely.
Error from server (NotFound): pods "wordpress-69544d7b48-zfqd4" not found

[2019-09-04 05:38] jwzl commented on #1080
but in edged.go +700
`	// Restart the pod is foolish in there, it cause the  container can't  be deleted forever.
					klog.Errorf("sync loop get event container died, restart pod [%s]", pod.Name)
					key := types.NamespacedName{
						Namespace: pod.Namespace,
						Name:      pod.Name,
					}
					e.podAdditionQueue.Add(key.String())
`
When container is removed , then  this logic will restart i

[2019-09-04 06:02] kadisi opened #1093 "failed to read pod IP on RPi 4"
**What happened**:

1. run cloudcore on cloud side (centos vm)
2. run edgecore on edge side (RPi 4)
3. run scale command on cloudside
[code]
4. get error info from edgecore
[code]

other information:

deploy arm information:
[code]

edge node information:
[code]

pod information:
[code]

describe pod information:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and pre

[2019-09-04 06:03] kadisi commented on #1093
cc @kevin-wangzefeng @fisherxu @sids-b  @subpathdev

[2019-09-04 06:07] subpathdev commented on #1093
Do you have tested if the docker container could executed directly in doc weker? (You could use `docker container start arm32v7/nginx`)

[2019-09-04 06:29] subpathdev opened #1095 "using .deb package to install KubeEdge"
**What would you like to be added/modified**:
We can build a debian package (.deb) to install edgecore [and, or] cloudcore on debian based machines. The package could be placed by the other releases and could be installed with `dpkg -i edgecore.deb`

**Why is this needed**:
Easier way to install edgecore [and, or] cluodcore on debian based operation systems

[2019-09-04 06:29] subpathdev commented on #1095
/assign @subpathdev

[2019-09-04 06:34] kadisi commented on #1095
Do we need to also support the rpm package?

[2019-09-04 06:36] subpathdev commented on #1095
I didn't have any experience with the creation of rpm packages :(

[2019-09-04 06:42] fisherxu commented on #1095
Thanks! @subpathdev We need clear documentation and methods for how to install kubeedge in future :)

[2019-09-04 06:59] #1077 closed

[2019-09-04 07:10] kadisi opened #1096 "Improve the environment information for bug report"
**What would you like to be added/modified**:

**Why is this needed**:

now our bug report environment is:
[code]

I recommend dividing the environment information into cloud and side

[code]

[2019-09-04 07:11] kadisi commented on #1096
cc @kevin-wangzefeng @fisherxu @sids-b @subpathdev

[2019-09-04 07:15] fisherxu commented on #1096
Good idea.
[code]

And kubeedge version should be same for cloud/edge, like:
[code]
Thoughts?

[2019-09-04 07:17] kadisi commented on #1096
@fisherxu great
[code]

[2019-09-04 07:41] fisherxu commented on #847
now we have checked all the components now, let's close this.
/close

[2019-09-04 07:41] #847 closed

[2019-09-04 09:05] sids-b commented on #1096
+1
Good Idea @kadisi

[2019-09-04 10:15] sids-b commented on #943
/cc @kevin-wangzefeng @rohitsardesai83 @qizha  @fisherxu @subpathdev @kadisi @subpathdev

Do you guys think this will be useful ??

[2019-09-04 10:16] fisherxu opened #1097 "Edgemesh panic"
**What happened**:
![image](https://user-images.githubusercontent.com/28776356/64246817-1ba27900-cf40-11e9-9452-e211647afe8a.png)

**What you expected to happen**:
Judge the slice.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:
- Hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `u

[2019-09-04 10:17] fisherxu commented on #1097
/cc @anyushun @arcanique

[2019-09-04 10:50] arcanique commented on #1097
@

@fisherxu  Is not creating a service without a specified port？ The code is not judged here, there is a question. I will fix it.

[2019-09-04 10:52] fisherxu commented on #1097
yes, I run a e2e test, and paniced, we need to fix it. Thanks @arcanique

[2019-09-04 11:57] arcanique commented on #1097
@fisherxu I submitted a fixed PR. Please review，thanks

[2019-09-04 16:35] bugfest commented on #1088
Do you know if this functionality is tested as part of any automated test?

On a side note, I'm also facing issues to mount secrets as volumes - the behavior is similar, edgecore gets the object correctly but then does not mount it.

[2019-09-04 19:59] subpathdev commented on #1080
today I have removed a few times a container which on the described way and didn't had any problems by doing this. Yes I know this isn't the best way but when a container could not be deleted in another way we have force delete it.

Error from server (NotFound): pods "wordpress-69544d7b48-zfqd4" not found

Your error message here says, that the pod wordpress... could not be found -> it could not b

[2019-09-04 20:07] subpathdev commented on #1080
I have tested this issue and on my system the container is successfully removed (checked  in 2 executions) but I run into an different issue, the k8s api server didn't  register that this pod is removed and the pod hang into the terminated state.  But on a different operation system this could be handled  in a different way. (I have tested with an minikube (as cloud) and an ubuntu vm as edge).

[2019-09-05 02:24] fisherxu opened #1101 "Reuse e2e tests from upstream (K8s)"
**What would you like to be added/modified**:
Add e2e tests from upstream (K8s) to kubeedge.

**Why is this needed**:
We need  to reuse e2e tests from upstream to help check k8s releated features; and add them to the PR checks.

[2019-09-05 07:03] jwzl commented on #1080
Finally， I changed the the docker to a new version(19.0.3) in arm, all is okay! Thanks very much!
And My system spec as below:
CPU:  imx6 soc
Memory: 1G
Disk Size: 8G
System OS : yocto 2.1 Linux

Kubeedge has been ported to imx6 soc successfully.

[2019-09-05 07:07] sids-b commented on #1080
Thanks for the information @jwzl . It would be great if you could write a small document for any system configuration changes or any kubeedge env changes you had to do to make it work.

[2019-09-05 07:19] chendave commented on #823
per the comments from https://github.com/kubeedge/kubeedge/issues/826, I feel we can close this issue.

[2019-09-05 07:34] #1097 closed

[2019-09-05 09:13] subpathdev opened #1102 "push docker builds to dokerhub"
**What would you like to be added/modified**:
Actual we build the docker images to test if the build can run successfully but we can push these images to docker hub.

**Why is this needed**:
Allow users and developers to use the latest build from the master branch.

**sub tasks**:
- [ ] cloudimage
- [ ] admission image
- [ ] edge image
- [ ] edgesite image
- [ ] bluetooth image

[2019-09-06 03:35] dhdljd opened #1105 "怎么把CC2650的实时温度值上传到云端？"
**What would you like to be added/modified**:
通过bluetooth mappers，我现在已经可以实现在云端控制CC2650sensortag上面的灯，edge端可以正常的反馈灯的状态给云端。mappers里面同时把实时的温度值发送到mqtt服务器，但是，devicetwin里面没有对应的属性可以更新实时温度值。
我的问题是：
现在devicetwin的设计是不是只是针对可控的状态？如果我想在云端收集实时的温度值，该怎么实现？是不是需要去订阅edge端部署的mqtt服务器？
**Why is this needed**:

[2019-09-06 06:20] edisonxiang opened #1106 "Improve the env feature at edge"
**What would you like to be added/modified**:

Currently the pods running at edge can not set the environment variables
by the deployment yaml and inject into the containers,
We need to support more kinds of ways to set environment variables,
including directly setting and Reading from fieldRef.
Something like read from configmap and secret and so on.

**Why is this needed**:
inject environment va

[2019-09-06 06:21] edisonxiang commented on #1106
based on https://github.com/kubeedge/kubeedge/pull/1103

[2019-09-06 08:50] ryan-esty opened #1107 "controller didn't get renamed to edgecontroller in 05-configmap.yaml"
**What happened**:
When controller got renamed from controller to edgecontroller something got missed

**What you expected to happen**:
Expected to see an edgecontroller section instead of controller

**How to reproduce it (as minimally and precisely as possible)**:
https://github.com/kubeedge/kubeedge/blob/d3cebdf2a12b42ae90a2b2aa37275c853652bc17/build/cloud/05-configmap.yaml#L11
see above link t

[2019-09-06 09:07] fisherxu commented on #1107
@ryan-esty Thank you for pointing this out :)
 I renamed the edgecontroller before, and I haven't change it in this config file, because it has many hard code relate to it, like #[config](https://github.com/kubeedge/kubeedge/blob/master/cloud/pkg/edgecontroller/config/buffer.go#L59).

And we have a plan do not parse the configuration like this, and unmarshal the yaml file to struct directly. So wi

[2019-09-06 09:16] kadisi commented on #1107
yes, I recommend not changing the name of the configuration file first .This is not the most urgent thing, and it will bring incompatibility issues. we will solve this problem in the future release.

[2019-09-06 12:03] ryan-esty commented on #1107
I agree with @kadisi I didn't know if there were things dependent on this name and apparently there is. Solving it in a future release with the least impact is good enough for me.

[2019-09-06 12:08] fisherxu commented on #1107
@ryan-esty @kadisi Yes agree, let's fix it in a future release :)

[2019-09-06 12:52] Baoqiang-Zhang commented on #1105
@dhdljd 你可以参考这份文档从云端获取https://github.com/kubeedge/kubeedge/blob/master/docs/proposals/device-crd.md

[2019-09-06 15:49] dhdljd commented on #1105
@Baoqiang-Zhang 您好，非常感谢。文档我看了，但是没有理解，按照现在的设计，reported的是设备的实际值和从云端给twin设置的期望值不一样，然后把更新以后的实际值以后发送到云端，能控制的灯的状态好理解，但是实际的温度值是一个传感器只读的值，如何设置期望值？

[2019-09-06 16:37] guzhaqixin opened #1108 "Unexpected end of file when using keadm"
**What happened**:
When running `keadm init`, error is given:
[code]
**What you expected to happen**:
A success installation.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:0.3.0
- Hardware configuration:x86_64
- OS (e.g. from /etc/os-release):
NAME="Ubuntu"
VERSION="18.04.3 LTS (Bionic Beaver)"
ID=ubuntu

[2019-09-07 03:53] Baoqiang-Zhang commented on #1106
+1

[2019-09-07 18:01] #1108 closed

[2019-09-08 11:57] barak-silbert commented on #291
Our use case is about deploying software on the edge which will monitor the edge network.
It is mostly about POD management and node management
- Easy node provisioning
- deploy pods at scale
- determine which pods run on which nodes
- handle pods updates

I really like the way KubeEdge is leveraging kubernetes for such tasks. I have some questions regarding scale and real life deployments:
- What

[2019-09-09 06:55] kadisi commented on #1093
@subpathdev , yes i have tested.

[code]

[2019-09-09 07:32] kadisi commented on #1093
@subpathdev  has resolved

The reason is that I used the wrong pause image `mirrorgooglecontainers/pause`
in RPi4 , we need use `pause-arm` pause image.

change edge.yaml config, and restart edgecore, it works.
[code]

podsandbox-image can use ` kubeedge/pause-arm:3.1` or `mirrorgooglecontainers/pause-arm:3.1`

[2019-09-09 09:11] #1093 closed

[2019-09-09 12:58] #1017 closed

[2019-09-10 08:06] noizz opened #1113 "go.mod requires github.com/kubeedge/kubeedge but vendor/modules.txt does not include it."
https://docs.kubeedge.io/en/latest/setup/setup.html
Run KubeEdge
Setup cloud side
Run as a binary
Build cloudcore
`
[root@kubeedge-cloud kubeedge]# pwd
/usr/local/go/src/github.com/kubeedge/kubeedge
[root@kubeedge-cloud kubeedge]# make all WHAT=cloudcore
cd cloud && make cloudcore
make[1]: Entering directory `/usr/local/go/src/github.com/kubeedge/kubeedge/cloud'
go build -ldflags '-X github.com/ku

[2019-09-10 08:10] kadisi commented on #1113
Are you using the latest code?

Have you modified the code?

please exec: `git status`

[2019-09-10 09:26] noizz commented on #1113
Thanks.
I found some files changed .So I updated to the latest version and errors are the same.
`
[root@kubeedge-cloud kubeedge]# git fetch --all && git reset --hard origin/master && git pull
Fetching origin
HEAD is now at 37d48af Merge pull request #1059 from edisonxiang/addcsidriver
Already up-to-date.
[root@kubeedge-cloud kubeedge]# git status
# On branch master
nothing to commit, working direc

[2019-09-10 09:31] kadisi commented on #1113
@noizz can you show your go version?
`go version` and `go env`

[2019-09-10 18:06] ryan-esty commented on #1088
Right now I'm using deployments and I do see the environment variables coming across in the docker container. Would changing to a deployment be a work around?

[2019-09-10 18:11] sids-b commented on #1088
@ryan-esty , I think the env variables will also work if you use pods. No need for deployments.

[2019-09-10 18:11] sids-b commented on #1088
cc @edisonxiang

[2019-09-11 00:34] noizz commented on #1113
[root@kubeedge-cloud ~]# go version
go version go1.13 linux/amd64
[root@kubeedge-cloud ~]# go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/root/.cache/go-build"
GOENV="/root/.config/go/env"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GONOPROXY=""
GONOSUMDB=""
GOOS="linux"
GOPATH="/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/go/bin"
GOPRIVATE=""
GOPROX

[2019-09-11 01:04] noizz commented on #1113
OH,I found the reason.
The problem was solved after I changed the GOPATH to /root/go .
Thanks a lot.

[2019-09-11 01:04] #1113 closed

[2019-09-11 01:51] alien19880726 opened #1115 "what is the right time with calling "defer resp.Body.Close()"？"
**What happened**:calls “defer resp.Body.Close()” after nil-check for err

**What you expected to happen**:I think these two decision statements should exchange their order.

**How to reproduce it (as minimally and precisely as possible)**:code bug

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:
- Hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `

[2019-09-11 01:55] alien19880726 commented on #1115
In most cases, when your HTTP response fails, the resp variable will be nil and the err variable will be non-nil. However, when you get a redirection error, both variables will be non-nil. This means that you still end up leaking memory.

[2019-09-11 05:53] sids-b commented on #195
@edisonxiang

Will it be possible for you to help in this one ?

[2019-09-11 05:54] sids-b commented on #241
ping @anvithks

[2019-09-11 05:57] sids-b commented on #337
@kevin-wangzefeng @fisherxu @rohitsardesai83 @chendave @edisonxiang  @kadisi @subpathdev

What are your thoughts on this one ? Do we create a project charter or form small SIG and they charter.

[2019-09-11 05:58] sids-b commented on #372
Closing this issue. Please feel free to reopen or ping on slack for further discussions :)

[2019-09-11 05:58] #372 closed

[2019-09-11 06:00] sids-b commented on #696
@yamt , will it be possible for you raise a PR to fix this issue ?

[2019-09-11 06:01] sids-b commented on #679
@kevin-wangzefeng @edisonxiang @subpathdev  @chendave your thoughts ??

[2019-09-11 06:01] sids-b commented on #678
We have been creating seperate issue for each bug/enhancement. Closing this issue

[2019-09-11 06:01] #678 closed

[2019-09-11 06:06] sids-b commented on #646
@mazengxie @Toper2035  As per my understanding. If we reboot the edge_core process. The containers for old pod will no longer be managed by edged and hence will be garbage collected adn killed. The problem for not receiving the delete message will be solved by Reliable message delivery feature.

[2019-09-11 06:07] sids-b commented on #572
@todayisgood Maybe this can help ?

https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/#taint-based-evictions

[2019-09-11 06:09] sids-b commented on #556
@chenleji apologies for late response. Can you share your thoughts on how we can use gRPC to resolve this issue ?

[2019-09-11 06:10] sids-b commented on #541
@googlebabaio would you like to take this up ? Maybe share some of the detailed thoughts on what exactly you want to be added and how it can be achieved ?

[2019-09-11 06:12] sids-b commented on #529
I think this issue was reported fixed after increasing the value of qps, burst and then testing.

Closing this issue. Please reopen if this issue still persists.

[2019-09-11 06:12] #529 closed

[2019-09-11 06:13] sids-b commented on #522
@kadisi do you plan to take this one up ? I see a PR was opened and closed to resolve this issue.

[2019-09-11 06:16] sids-b commented on #469
I see a PR in beehive https://github.com/kubeedge/beehive/pull/27 to support log rotate. But since we have moved to klog, not sure if the PR is still valid.

[2019-09-11 06:19] sids-b commented on #900
@Baoqiang-Zhang will it be possible for you to take this one up ?

[2019-09-11 06:20] sids-b commented on #898
https://drive.google.com/file/d/1Qd_m0CTo5V0eVn3-k-ooXUDhssvi8hZy/view?usp=sharing

Here are a few results of the GRPC evaluation. Currently Websocket looks to be better performing,

[2019-09-11 06:22] sids-b commented on #888
Closing this issue. Please reach to us via slack or reopen the issue for further discussion :)

[2019-09-11 06:22] #888 closed

[2019-09-11 06:24] yamt commented on #696
@sids-b i'm not sure if i can work on this by myself.

[2019-09-11 06:26] sids-b commented on #881
Would anyone like to take this one up ?

[2019-09-11 06:26] sids-b commented on #872
ping @RicardoZPHuang

Can you share your thoughts

[2019-09-11 06:27] sids-b commented on #867
@subpathdev will it be possible for you to take this one up ?

[2019-09-11 06:28] sids-b commented on #769
@anyushun , Is this a problem with containerd or with our CRI implementation ?

[2019-09-11 06:29] sids-b commented on #753
@liangyuanpeng , are you still facing this issue ?

[2019-09-11 06:30] sids-b commented on #719
Closing this issue. Please feel free to reopen or ping us on slack for further discussion :)

[2019-09-11 06:30] #719 closed

[2019-09-11 06:31] sids-b commented on #718
@zhanglu0704 , Environment variables support has been merged in the master branch. Please let us know if you still face the issue. Closing this issue for now

[2019-09-11 06:31] #718 closed

[2019-09-11 06:31] sids-b commented on #698
ping @yamt

[2019-09-11 06:32] kadisi commented on #769
@sids-b

containerd support port mapping.

@anyushun you need change your cni configfile in `/etc/cni/net.d/`

such as
[code]

[2019-09-11 06:34] sids-b commented on #1020
Closing this issue. Please feel free to reopen or reach out to us for further discussion.

[2019-09-11 06:34] #1020 closed

[2019-09-11 06:35] sids-b commented on #1015
@subpathdev , Does this issue still exist ?

[2019-09-11 06:36] sids-b commented on #1014
@subpathdev , do you have any thoughts on how we could achieve this ?

[2019-09-11 06:38] sids-b commented on #1013
@anyushun as per our offline discussion, If the node becomes offline before querying any service. The calls will always fail. Closing this issue for now. Please reopen for further discussion.

[2019-09-11 06:38] #1013 closed

[2019-09-11 06:39] sids-b commented on #1006
@batazor , can you check again and let us know if it is working now ?

[2019-09-11 06:39] sids-b commented on #961
Closing this issue. Please reopen or reach out to us via slack for further discussions.

[2019-09-11 06:42] sids-b commented on #956
@liyongxian the document has been updated to use docker as well. Please let us know if it works out for you. Also the image has been pushed to kubeedge dockerhub repo.

Closing this issue

[2019-09-11 06:42] #956 closed

[2019-09-11 06:42] sids-b commented on #949
+1

[2019-09-11 06:42] sids-b commented on #951
+1

[2019-09-11 06:43] sids-b commented on #945
@vizero1 apologies for delayed response. Does the issue still persist ?

[2019-09-11 06:44] sids-b commented on #920
@kadisi , looks like a good change to me.

@kevin-wangzefeng @subpathdev @fisherxu @edisonxiang @chendave thoughts ?

[2019-09-11 06:45] sids-b commented on #918
Closing this issue. Please feel free to reopen or reach out to us via slack for further discussions

[2019-09-11 06:45] #918 closed

[2019-09-11 06:47] kadisi commented on #920
We can implement it in the next release if everyone agrees.

[2019-09-11 06:51] sids-b commented on #1106
@edisonxiang , is this issue fixed ?

[2019-09-11 06:52] sids-b commented on #1105
@dhdljd , is this issue resolved ? Please let us know if we can help in anyway

[2019-09-11 06:52] sids-b commented on #1102
+1

[2019-09-11 06:53] sids-b commented on #1101
Good idea @fisherxu . Upstream K8S has very good e2e tests for all their features.

[2019-09-11 06:54] sids-b commented on #1086
Looks good to me

[2019-09-11 06:55] sids-b commented on #1076
+1

[2019-09-11 06:56] sids-b commented on #1076
+1

[2019-09-11 06:57] sids-b commented on #1064
@SpaghettiAndSalmon Is this issue resoled ?

[2019-09-11 06:58] sids-b commented on #1051
@jwzl , Is this issue resolved ?

[2019-09-11 06:59] sids-b commented on #1030
@qiuhui , Is this issue resolved ?

[2019-09-11 07:00] sids-b commented on #1029
@alien19880726 , can you please share steps to reproduce this issue ?

[2019-09-11 09:26] dhdljd commented on #1105
@sids-b this issue is not resolved，by now i think the twin only update the controlled properties of devices，then mappers can compare the required and actual value of the devices，if different and then update the actual value。but if I want to update the realtime temperature of the sensor，it doesn't have any require value。i think I can use the last and current value，mappers compare there two values，i

[2019-09-11 09:40] batazor commented on #1006
Transferred to another project, now I do not have raspberry nearby

[2019-09-11 09:49] sids-b opened #1117 "Container-Runtime and K8S should not be in the management scope of keadm"
**What happened**:
Currently keadm installs of Container-Runtime (Docker) and Kubernetes

**What you expected to happen**:
keadm should only be responsible for management of kubeedge components. The cloud and edge part. We should provide link of guides to setup other prerequisites like docker, containerd, cni, k8s, etc.

[2019-09-11 09:50] sids-b commented on #1117
Thoughts @kubeedge/maintainers @fisherxu @edisonxiang @chendave @kadisi @subpathdev @sujithsimon22 @lidiyag

[2019-09-11 10:52] kadisi commented on #1082
@kevin-wangzefeng @fisherxu @rohitsardesai83 @subpathdev @edisonxiang  Do we need to move [example](https://github.com/kubeedge/examples) repo to the main repo as well ?

I suggest that the example  should try to reference the kubeedge code instead of copying it.
such as  [MsgTwin](https://github.com/kubeedge/examples/blob/ec42e72b6bcc272a4f2f50900c104d7c375f551b/led-raspberrypi/light_mapper.go#L8

[2019-09-11 12:59] subpathdev commented on #1014
no, I have to read the documentation about `kubectl logs` ...

[2019-09-11 12:59] fisherxu commented on #1117
Agreed.  In the cloud and edge side, users can install the k8s and runtime in their own way, and keadm only responsible for kubeedge components.

[2019-09-11 13:00] subpathdev commented on #867
yes
/assign @subpathdev

[2019-09-11 13:14] kadisi commented on #1117
agree

[2019-09-11 19:13] subpathdev commented on #679
As described [here](https://kubernetes.io/docs/concepts/overview/working-with-objects/kubernetes-objects/#object-spec-and-status), we should move the desired field to specs.

[2019-09-11 19:33] subpathdev commented on #1117
+1

[2019-09-11 21:31] subpathdev commented on #867
yes of course; I will do both in the pr, which fix this issue

[2019-09-12 04:43] subpathdev commented on #1014
@sids-b I have an idea but I could be wrong.

When we set the internal ip address of the edge node to the ip address of the cloudcore the get request, which is used by `kubecrl logs`, will be sent to the cloudcore. And we could forward the request the the edge.

But I don't know, if this will break something else.
Can multiple nodes in kubernetes have the same ip address?
I have to write a poc.

[2019-09-12 04:47] subpathdev commented on #1014
Another idea (perhaps better) we could start a pod foreach edge node in the cluster and set the internal ip address of the edge node to this ip address.

[2019-09-12 05:06] sujithsimon22 commented on #1117
Agreed, keadm should be primarily responsible for the setup of only KubeEdge components. But should we also think about have an optional mechanism in place to install prerequisites like Docker and Kubernetes ( This could be helpful for first time users/evaluators of KubeEdge, who might be unfamiliar with these technologies and might just be looking for an easy start-up mechanism). Just an alternat

[2019-09-12 06:05] subpathdev commented on #920
+1

[2019-09-12 06:09] subpathdev commented on #1082
I like the examples in a separate repo but I didn't have a strong opinion on this. Perhaps we can add a link to the examples in the README.md in the root directory of this repo.

[2019-09-12 06:22] sids-b commented on #1082
I think the examples repo could still continue to be a seperate repo. The examples only use kubeedge and are applications deployed or developed using kubeedge. They don't have any relation with the source code kubeedge.

[2019-09-12 06:53] sids-b commented on #1088
Closing this issue. Please reopen or ping us on slack if the issue persists or for further discussion.

[2019-09-12 06:53] #1088 closed

[2019-09-12 09:11] stormspiritzzz opened #1118 "can not excute edge_core in the node"
**What happened**:when i excute edge_core,it shows "-bash: ./edge_core: No such file or directory"

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:excute edge_core in the node

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:v0.3.0
- Hardware configuration:
- OS (e.g. from /etc/os-release):ubuntu16.04
- ARCH="arm"
- Kerne

[2019-09-13 13:40] lidiyag commented on #1117
+1

[2019-09-13 14:16] kadisi opened #1119 "kubeedge should provide mapper programming tutorial"
**What would you like to be added/modified**:

**Why is this needed**:

device model and device instance are very good disign.  But users will be confused how to write their own device mapper. In particular, it is confusing to use several topics（eg./twin/update. /twin/get/result and so on） of mqtt, and how to correctly use the DeviceTwinUpdate structure.

We should have a detailed example and desc

[2019-09-16 02:56] stormspiritzzz commented on #1118
When I try v1.0.0 in the master node,the result are as follows.There are some errors in the document.

root@master:/etc/kubeedge/cloud# pwd
/etc/kubeedge/cloud
root@master:/etc/kubeedge/cloud# ls
conf  edgecontroller
root@master:/etc/kubeedge/cloud# ./edgecontroller
-bash: ./edgecontroller: cannot execute binary file: Exec format error
root@master:/etc/kubeedge/cloud#

[2019-09-16 03:03] fisherxu commented on #1118
It seems that the platform and binary are not corresponding, could you please check that whether you are running the x86 binary on the arm platform or arm binary on x86 platform ? @stormspiritzzz  Thanks :)

[2019-09-16 08:45] stormspiritzzz commented on #1118
I try again in the edge,the results are as follows.
root@edge3:~# VERSION="v1.0.0"
root@edge3:~# OS="linux"
root@edge3:~# ARCH="arm"
root@edge3:~# curl -L "https://github.com/kubeedge/kubeedge/releases/download/${VERSION}/kubeedge-${VERSION}-${OS}-${ARCH}.tar.gz" --output kubeedge-${VERSION}-${OS}-${ARCH}.tar.gz && tar -xf kubeedge-${VERSION}-${OS}-${ARCH}.tar.gz  -C /etc  % Total    % Received %

[2019-09-16 08:57] stormspiritzzz opened #1120 "can not build the cloud"
**What happened**:
There are errors when build the cloud.

root@master:~/go/src/github.com/kubeedge/kubeedge# pwd
/root/go/src/github.com/kubeedge/kubeedge
root@master:~/go/src/github.com/kubeedge/kubeedge# make
cd cloud && make
make[1]: Entering directory '/root/go/src/github.com/kubeedge/kubeedge/cloud'
go build -ldflags '-X github.com/kubeedge/kubeedge/pkg/version.buildDate=2019-09-16T04:11:47Z

[2019-09-16 09:03] subpathdev commented on #1118
@stormspiritzzz
ARCH="arm" is not equal to "arm64"
We didn't have build binaries which could be used on arm64; you have to compile KubeEdge yourself

[2019-09-16 09:05] subpathdev commented on #1120
@stormspiritzzz which go version do you use?

[2019-09-16 09:06] stormspiritzzz commented on #1120
root@master:~/go/src/github.com/kubeedge/kubeedge# go version
go version go1.11 linux/amd64

[2019-09-16 09:26] subpathdev commented on #1120
I have to test this on my own system but I think it could be a problem with the go version do you use. How do you download the source code?

[2019-09-16 09:29] sids-b commented on #1120
@stormspiritzzz , could you try with go version 1.12 as our CI works with go version 1.12

[2019-09-16 09:29] subpathdev commented on #1120
You are not trying to build v1.0.0 I think you are trying to build the current master and then you have to use go version 1.12

[2019-09-16 09:30] sids-b commented on #1118
@subpathdev , can we add a makefile job to compile a binary for arm64 just incase someone wants to cross-compile and use ?

[2019-09-16 09:34] subpathdev commented on #1118
@sids-b
There is one :D
you can use `edge_cross_build_v8` to build the edgecore for arm64 (armv8 is in 64 bit architecture) But I didn't know if this is already present in release v1.0.0 ...

[2019-09-16 09:34] kadisi commented on #1120
https://github.com/kubeedge/kubeedge/issues/981

please try with go version 1.12

[2019-09-16 09:39] subpathdev commented on #1120
Seconds ago I have tried to build release 1.0.0 with go version 1.11.13 and it was successfull.

[2019-09-16 10:18] stormspiritzzz commented on #1118
Can you give me some guidance,which document would be more reliable

excute  the following commands in the edge(arm64)?
cd $GOPATH/src/github.com/kubeedge/kubeedge/edge
make edge_cross_build_v8

[2019-09-16 10:27] subpathdev commented on #1118
No, on the edge you can execute this: `make WHAT=edgecore`. The above command can be used to cross compile for arm64 bit. (Cross build means you build on a different architecture then you will execute the binary)

[2019-09-16 10:32] subpathdev commented on #1118
Do you want to have a setup description to build and run kubeedge yourself? https://github.com/kubeedge/kubeedge/blob/master/docs/getting-started/usage.md

@stormspiritzzz you can ping me in the kubeedge slack, if you need more guidance.

[2019-09-16 11:19] bretagne-peiqi opened #1121 "centosinstaller need to implement"
**What would you like to be added/modified**:

      I would like to implement the centosinstaller.go associated functions if it is not yet assigned.

**Why is this needed**:

       I build the keadm binary and try to install on my centos, I found centosinstaller is not implemented completely. and failed to install on my node.

[2019-09-16 11:29] fisherxu commented on #1121
Thanks! @bretagne-peiqi  Please just go ahead and implement it :)

[2019-09-16 14:01] sids-b commented on #1121
Thanks @bretagne-peiqi . It would be great if you could build on top of #721 . A few efforts have already been spent there

[2019-09-17 01:32] #1121 closed

[2019-09-17 01:35] jtcressy opened #1122 "Question: Deploy Cloud-side services in existing managed cluster?"
Would it be possible to deploy the cloud-side components into an existing managed cluster like GKE or EKS?

I may just have a hard time understanding the documentation, but It seems this is possible or was once possible by just deploying manifests into a standard cluster.

Has anyone attempted this and had any success? I want to create a demo of kubeedge for some colleagues using a couple raspberr

[2019-09-17 01:51] kadisi commented on #1122
if you have an existing cluster, you can deploy cloudcore on your cloudside, and deploy edgecore on your raspberry.

[2019-09-17 01:57] jtcressy commented on #1122
Ok, does `keadm init` work with existing clusters? i'm referring to the pdf version of the docs here: https://buildmedia.readthedocs.org/media/pdf/kubeedge/latest/kubeedge.pdf
under section 27.7.1

[2019-09-17 01:59] #1105 closed

[2019-09-17 02:40] liqiangno1 opened #1124 "timeout to receive response for message"
**What happened**:
when i run cloudcore and edgecore, there are some warning messages and can not register node successfully.
![image](https://user-images.githubusercontent.com/6667502/65006966-3c52d180-d937-11e9-91f7-812d3a1745ab.png)
![image](https://user-images.githubusercontent.com/6667502/65006987-4bd21a80-d937-11e9-8bc1-ab1b91f060b3.png)

**What you expected to happen**:

**How to reproduce

[2019-09-17 02:49] fisherxu commented on #1124
Does the cloud node run the kubelet?  Edge node(edgecore) also run a mini-kubelet(edged), it’s best not to let them run on a machine.

Now in kubeedge we must register the edge node manually first, then the edge side will only update the nodestatus. Ref: https://github.com/kubeedge/kubeedge/blob/master/docs/setup/setup.md#deploy-the-edge-node

[2019-09-17 02:54] fisherxu commented on #1124
@liqiangno1  If you just want to have a try and run kubeedge on one VM, you can try out [this script](https://github.com/kubeedge/kubeedge/blob/master/hack/local-up-kubeedge.sh). It starts a kubedge cluster in one VM, and it uses `kind` to start a k8s cluster, then run cloudcore/edgecore in the VM.

[2019-09-17 02:56] liqiangno1 commented on #1124
sorry ,it's my fault. I do not register the edge node manually. I mistakenly thought it can register automatically. Now when I register the edge node in advance, it's running well.  Thank you so much.

[2019-09-17 02:57] liqiangno1 commented on #1124
it's now running well. Thank you anyway!

[2019-09-17 02:59] #1124 closed

[2019-09-17 05:27] stormspiritzzz opened #1125 "New downstream controller failed with error"
**What happened**:
# When I excute the cloudcore,there is an error.The outputs are as follows.I have the file"~/.kube/config",but the log is " no such file or directory".

root@master:~/go/src/github.com/kubeedge/kubeedge/cloud# ./cloudcore
2019/09/17 13:20:49 RollingPolicy is empty, use default policy[size]
2019-09-17 13:20:49.572 +08:00 INFO go-archaius/archaius.go:53 Configuration files:
2019-0

[2019-09-17 05:47] subpathdev commented on #1122
I run kubeedge cloud part in a gke cluster and have a issues by adding more than one edge node this cluster. (I'm still searching for a solution)

[2019-09-17 05:51] subpathdev commented on #1122
No you can't use keadm init. It will set up a kubernetes cluster. But  you can use these yaml files to set up the cloudcore. https://github.com/kubeedge/kubeedge/tree/master/build/cloud

(I think `keadm join` should still work)

[2019-09-17 06:00] kadisi opened #1126 "add e2e test for device and mapper"
**What would you like to be added/modified**:

currently, kubeedge lack of e2e test about device crd and mapper.

**Why is this needed**:

cc @kevin-wangzefeng @sids-b @fisherxu @rohitsardesai83 @subpathdev

[2019-09-17 06:20] kadisi commented on #1125
@stormspiritzzz Try the absolute path ， `~/.kube/config` -> `/root/.kube/config`  , Are you running under the root user?

[2019-09-17 06:52] sids-b commented on #1126
@kadisi , the e2e tests for device crd have been merged. They will run in CI once https://github.com/kubeedge/kubeedge/pull/856 this PR is merged

[2019-09-17 06:53] sids-b commented on #1126
Also the bluetooth mapper e2e tests have been merged, but it is difficult to run in CI as we need machines with bluetooth support to run them

[2019-09-17 06:56] kadisi commented on #1126
yes, but we should use at least one mapper to e2e test

[2019-09-17 07:13] liqiangno1 opened #1127 "The pod cannot be terminated"
**What happened**:
I have runned the deployment demo and it's normal.  when the edgecore process is stopped , the pod is going to keep Terminating status and the cluster will start anothor pod(this pod is keeping pending status).  when the edgecore process return to normal. the pod is still keep on Terminating status.
`nginx-deployment-5f76494c55-bmj9k                     0/1     Pending

[2019-09-17 07:14] kadisi commented on #1126
I also don't have a good solution.

[2019-09-17 08:11] kadisi commented on #1127
I have also encountered this problem.  We need to consider consistent message transmission。

cc @kevin-wangzefeng @fisherxu @sids-b

[2019-09-17 08:24] liqiangno1 commented on #1125
I have also encountered this problem.  when modifed the path config to  absolute path, It's normal immediately. but I'm really running under the root user

[2019-09-17 08:33] alien19880726 commented on #1029
After I deployed KubeEdge environment, there is already such the problem

[2019-09-17 08:52] sids-b commented on #1127
This proposal once approved and implemented will solve this problem.

[2019-09-17 09:10] sids-b commented on #1120
@stormspiritzzz , are you still facing this issue ?

[2019-09-17 11:59] stormspiritzzz commented on #1125
root@master:/tmp# whoami
root
Where should I modify the path?  In the kubeedge\cloud\conf\controller.yaml？ And rebuild cloudcore?

[2019-09-17 12:05] stormspiritzzz commented on #1125
I try it and modify 2 places. it works.

[2019-09-17 13:32] kadisi commented on #1125
@stormspiritzzz Please close this issue if it has been resolved. thanks

[2019-09-17 18:21] jtcressy commented on #1122
@sids-b It looks like those manifests are missing the CRD's? When cloudcore starts up it cannot list v1alpha1.Device from the api server.

[2019-09-17 18:22] jtcressy commented on #1122
Nevermind, I found the CRD's in a parent directory. Trying them now.

[2019-09-17 20:23] jtcressy commented on #1122
I was able to successfully deploy cloudcore into my existing k8s cluster and expose it as a LoadBalancer service.

I am unable to test if an edge device can connect as keadm does not seem to support raspbian on the raspberry pi. If anyone has information around running edgecore on the raspberry pi with ease, let me know. It's out of the scope of this issue for now.

[2019-09-17 20:23] #1122 closed

[2019-09-18 01:48] kadisi opened #1131 "edgecore need to report the detail information to k8s cluster when container start error"
**What happened**:
[code]

use `kubectl logs  traffic-light-6d7b9f5c5-8qqb8` command , get nothing

use `kubectl describe pod traffic-light-6d7b9f5c5-8qqb8` only get successfully assigned events
[code]

i only need to ssh to host(192.168.4.27-pi1), I can only find the cause of the problem through docker logs.
[code]

**What you expected to happen**:
edgecore need to report the detail information t

[2019-09-18 19:18] naveensriram opened #1132 "keadm: Default version of KubeEdge installed by the installer keadm-v1.1.0-linux-amd64.tar.gz"
**What happened**:
Try to install kubeedge using keadm-v1.1.0-linux-amd64.tar.gz fails "reporting '/etc/kubeedge//kubeedge/edge/edgecore': No such file or directory"

**What you expected to happen**:
Installer should use latest package of kudeedge [As of now latest is kubeedge-v1.1.0-linux-amd64.tar.gz] instead "kubeedge-v0.3.0-linux-amd64.tar.gz" when installation with default option is opted (./

[2019-09-18 20:44] naveensriram opened #1133 "keadm: Installer fails to download kubeedge checksum_kubeedge-v1.1.0-linux-amd64.tar.gz.txt file"
**What happened**:
Fails to download Kubeedge release binary mapped checksum file and hence fails to validate checksum during the process of installation.
In the past checksum filenames had no "tar.gz" contained, because of this installer fails to download checksum file.

**What you expected to happen**:
Either the KubeEdge installer code need to be enhanced to handle the new checksum file name or

[2019-09-18 22:01] naveensriram opened #1134 "keadm: Post untar of keadm-v1.1.0-linux-amd64.tar.gz the created folder name should be kubeedge otherwise Installer will fail"
**What happened**:

Installer tries to find "edgecore" under specific path "/etc/kubeedge//kubeedge/edge/edgecore", usually "kubeedge" was the folder created post untar and unzip of kubeedge binary package earlier but with this package "keadm-v1.1.0-linux-amd64.tar.gz", "keadm-v1.1.0-linux-amd64" is the folder created and hence installer is not able to find the "edgecore".

**What you expected to

[2019-09-19 03:08] NoWhere-zh commented on #1132
the command is cp /etc/kubeedge//kubeedge/edge/edgecore /usr/local/bin/.
an extra '/' appears between the two 'kubeedge', maybe something is wrong when the code joined the path. let me check it.

[2019-09-19 06:32] naveensriram opened #1136 "keadm: Installer script should support –apiserver-advertise-address"
**What would you like to be added/modified**:
keadm init should also support passing the optional parameter –apiserver-advertise-address which will be used along with kubeadm init

**Why is this needed**:
Environment:-
The 2 VM nodes which I use 1 for Cloud and 1 for Edge set-up are having 2 virtual network adapters, one on Bridge mode and another one on host mode. The node use Bridge network mode

[2019-09-20 03:05] noizz opened #1138 "Nodes not ready at cloud"
**What happened**:
`
#kubectl get nodes
NAME                                   STATUS     ROLES    AGE     VERSION
fb4ebb70-2783-42b8-b3ef-63e2fd6d242e   NotReady   edge     2d23h
`
cloudcore.log:
`
I0920 19:16:25.830539  103929 eventhandler.go:201] event received for node fb4ebb70-2783-42b8-b3ef-63e2fd6d242e id: bb05a575-b329-48af-9df8-f96a0d7f341c, parent_id: , group: meta, source: edged, resour

[2019-09-20 03:16] noizz commented on #1138
`
# more conf/controller.yaml
controller:
  kube:
    master:     # kube-apiserver address (such as:http://localhost:8080)
    namespace: ""
    content_type: "application/vnd.kubernetes.protobuf"
    qps: 5
    burst: 10
    node_update_frequency: 10
    kubeconfig: "/etc/kubernetes/controller-manager.conf"   #Enter path to kubeconfig file to enable https connection to k8s apiserver, if master an

[2019-09-20 03:25] kadisi commented on #1138
@noizz This should be a permission issue。 your kubeconfig is `kubeconfig: "/etc/kubernetes/controller-manager.conf" `, Please make sure the user（system:kube-controller-manager） has sufficient permissions or change rbac。   It is recommended that you use the admin right user。

[2019-09-20 03:30] noizz commented on #1138
`
conf/edge.yaml
mqtt:
    server: tcp://127.0.0.1:1883 # external mqtt broker url.
    internal-server: tcp://127.0.0.1:1884 # internal mqtt broker url.
    mode: 2 # 0: internal mqtt broker enable only. 1: internal and external mqtt broker enable. 2: external mqtt broker enable only.
    qos: 0 # 0: QOSAtMostOnce, 1: QOSAtLeastOnce, 2: QOSExactlyOnce.
    retain: false # if the flag set true, se

[2019-09-20 03:34] kadisi commented on #1138
no， you need change kubeconfig config in conf/controller.yaml。 `system:kube-controller-manager` should have no permission to change the state of the node.

[2019-09-20 03:36] fisherxu commented on #1138
+1

And if you want to use your own mosquito,  set `mqtt mode:2` is correct :) @noizz

[2019-09-20 03:40] noizz commented on #1138
'
# more /etc/kubernetes/controller-manager.conf
apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: ......
    server: https://192.168.36.161:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: system:kube-controller-manager
  name: system:kube-controller-manager@kubernetes
current-context: system:kube-controller-manager@kubernetes
kind: Config
preferenc

[2019-09-20 05:18] sids-b commented on #1132
The problem over here is that in v1.1.0 the binary name is edgecore and edge_core in previous versions... I guess the issue is that the default version is v0.3.0

[2019-09-20 05:19] sids-b commented on #1132
We need an if else case in both cloud and edge installer for the binary names before and from v1.1.0

[2019-09-20 05:39] ryanpatiency opened #1139 "keadm v1.10 init failed"
**What happened**:
`sudo keadm init`
`error: failed to run 'sh -c cd /etc/kubeedge/ && tar -C /etc/kubeedge/ -xvzf kubeedge-v0.3.0-linux-amd64.tar.gz && cp /etc/kubeedge//kubeedge/edge/edgecore /usr/local/bin/.' because of error : exit status 1
`

[2019-09-20 06:17] NoWhere-zh commented on #1139
the pull request #1137 has fixed this bug. please try.
if it does not work, please check  keadm/app/cmd/util/ubuntuinstaller.go line 490

[2019-09-20 07:26] ryanpatiency commented on #1139
Thank you

[2019-09-20 09:07] sids-b commented on #1139
@ryanpatiency , try to use the --kubeedge-version flag and set it to v1.1.0

[2019-09-20 09:38] liuht777 opened #1140 "Docker & Kubernetes version"
./keadm init --docker-version=18.09.7 --kubernetes-version=1.15.4 --kubeedge-version=1.1.0 --kube-config=~/.kube/config

got error 'Expected Docker version is not available in OS repo'

What version is support for docker and Kubernetes ?

[2019-09-20 13:15] NoWhere-zh commented on #1133
hello, the reason of this bug is that the download path of the checksum file in the code is different from the release version.
the download path of the release version is just like this: https://github.com/kubeedge/kubeedge/releases/download/v1.1.0/checksum_kubeedge-v1.1.0-linux-amd64.tar.gz.txt

i have propose a pr#1141 to fix this bug.

if it is not merged, u can update the source code yourself

[2019-09-20 13:19] NoWhere-zh commented on #1134
there are two '/' between the two 'kubeedge' here:
 cp /etc/kubeedge//kubeedge/edge/edgecore /usr/local/bin/
the path is wrong

[2019-09-20 13:47] NoWhere-zh commented on #1120
maybe u can upgrade ur go version

ref:https://golang.org/pkg/crypto/tls/

[2019-09-20 15:21] #272 closed

[2019-09-23 00:50] kadisi commented on #1138
@noizz   you need change `kubeconfig: "/etc/kubernetes/controller-manager.conf"` config. because in `/etc/kubernetes/controller-manager.conf`, it is `system:kube-controller-manager` use, it  should have no permission to change the state of the node.

[2019-09-23 08:00] sjw1230 opened #1144 "Get kube config failed with error: invalid configuration: no configuration has been provided"
I0923 15:44:45.761653    9299 buffer.go:142] Update controller.buffer.query-persistentvolume: 1024
I0923 15:44:45.761655    9299 buffer.go:149] Update controller.buffer.query-persistentvolumeclaim: 1024
I0923 15:44:45.761658    9299 buffer.go:156] Update controller.buffer.query-volumeattachment: 1024
I0923 15:44:45.761661    9299 buffer.go:163] Update controller.buffer.query-node: 1024
I0923 15:44

[2019-09-23 08:04] codersdady commented on #1144
I have encountered the same problem, can you send a detailed registration step?

[2019-09-23 08:43] fisherxu commented on #1144
@sjw1230 @codersdady Have you specified the kubeconfig file Path? https://github.com/kubeedge/kubeedge/blob/master/cloud/conf/controller.yaml#L9

[2019-09-23 08:47] subpathdev commented on #1126
@kadisi can you explain your bad solution?

[2019-09-23 08:53] fisherxu commented on #1144
@sjw1230 yeah sure right, and does the `/root/.kube/config` exist in your VM?

[2019-09-23 08:59] sjw1230 commented on #1144
@fisherxu  Do you have Wechat?
yes,the /root/.kube/config exists in my VM.

[2019-09-23 09:04] sjw1230 commented on #1144
![2019-09-23 17-01-40屏幕截图](https://user-images.githubusercontent.com/44339184/65413505-26a44700-de24-11e9-9360-da936bd391ed.png)

[2019-09-23 09:06] kadisi opened #1147 "Add ci tests for different k8s versions"
**What would you like to be added/modified**:

Add ci tests for different k8s versions.

**Why is this needed**:

Users may have different versions of k8s， we need to verify if Kubeedge support different k8s versions（eg 1.13.*, 1.14.* ,1.15.* , 1.16.* ）.  so we can give users some suggestions .

cc @kevin-wangzefeng @sids-b @fisherxu @subpathdev @rohitsardesai83

[2019-09-23 09:06] sjw1230 commented on #1144
but config have nothing
![2019-09-23 17-05-12屏幕截图](https://user-images.githubusercontent.com/44339184/65413658-7f73df80-de24-11e9-9f42-0edf714ff438.png)

[2019-09-23 10:11] fisherxu commented on #1144
Yes, I think this is the problem, my Wechat is `csxufei10335` :)

[2019-09-24 03:02] huangy7 commented on #753
is this issue solved ? I have also encountered this issue：`error:Expected Docker version is not available in OS repo`

[2019-09-24 03:06] huangy7 commented on #753
@liangyuanpeng is this issue solved ? I am facing the same issue. I have run `keadm init`, then I got some error `error: Expected Docker version is not available in OS repo`

[2019-09-24 03:33] huangy7 commented on #753
@sids-b, is this issue solved?

[2019-09-24 03:35] huangy7 commented on #753
@sids-b ,I am facing the issue, what should I do? thanks!

[2019-09-24 03:39] huangy7 commented on #1140
@liuht777 ,is this issue solved?I am facing the issue.too

[2019-09-24 03:55] sids-b commented on #753
@huangy7 , can you run kubeadm reset and then run keadm init ? I guess it should work

[2019-09-24 06:53] NoWhere-zh commented on #1144
do u have config file in /etc/kubernetes/admin.conf ?
if the file has content, u can use it directly or copy it to /root/.kube/config
please try

[2019-09-24 07:28] NoWhere-zh opened #1149 "cannot delete a terminated pod"
**What happened**:
    i used kubeedge to deploy an etcd pod to an edge node. some errors occured and the pod was terminated. then i wanted to delete the terminated pod.
    but when i executed the deleting command, nothing happened after the deleting log was printed. the command was blocked. then i pressed <ctrl + c > to interrupt the command.  the pod was still there. i cannot delete it successf

[2019-09-24 07:35] subpathdev commented on #1149
you can delete the pod with this command: `kubectl delete pod <pod name> --force --grace-period 0`

It is useful to add an taint on the edge node, because an etcd or an kube-proxy should not executed on the edge-node. (I have to change the node.json definition ...)

[2019-09-24 07:35] huangy7 commented on #753
@sids-b I did as you said, but it still not didn't work, here are my actions and logs
`[root@master keadm]# kubeadm reset
[reset] Reading configuration from the cluster...
[reset] FYI: You can look at this config file with 'kubectl -n kube-system get cm kubeadm-config -oyaml'
[reset] WARNING: Changes made to this host by 'kubeadm init' or 'kubeadm join' will be reverted.
[reset] Are you sure you w

[2019-09-24 07:36] huangy7 commented on #753
[code]

[2019-09-24 07:37] huangy7 commented on #753
I did as you said, but it still not didn't work, here are my actions and logs
[code]

[2019-09-24 07:40] huangy7 commented on #753
@sids-b here are versions of my docker and kubernetes
[code]

[2019-09-24 07:50] huangy7 commented on #753
@sids-b , even though I added some optional flags to specify the version, it still didn't work.
[code]

[2019-09-24 08:49] NoWhere-zh commented on #1149
thank u very much. it worked.
but i wonder if it is a bug because i have to use --force to delete a terminated pod by force instead of    deleting it through normal methods.

one more thing. the edgecore on edge node is still trying to sync some infomation about a container after i have delete the etcd pod. i believe that the container has something related with the pod, which means that the cloud

[2019-09-24 08:50] NoWhere-zh commented on #1149
sorry the picture is down. i will try to upload it later. glad to discuss this issue.

[2019-09-24 13:37] stormspiritzzz opened #1150 "The pod network installed in the cluster(a master with ARCH="amd64" and a node with ARCH="ard64") cannot work"
**What happened**:I want to build a edge computing platform.Normally,the master will be a machime of amd64 and the node will be a machine of arm64.
When I try. The pod network installed in the cluster(a master with ARCH="amd64" and a node with ARCH="arm64") cannot work.
    I use the containers(amd64) of k8s in the master And  containers(arm64) in the node. The network component is calico. When I

[2019-09-25 01:30] sjw1230 commented on #1144
@NoWhere-zh  this problem has been solved，thank you very much.

[2019-09-25 02:26] NoWhere-zh commented on #1150
hello!
please check ur iptables and the firewall. it may help.

[2019-09-25 04:45] stormspiritzzz commented on #1150
root@master:~# systemctl status firewalld
● firewalld.service
   Loaded: not-found (Reason: No such file or directory)
   Active: inactive (dead)

When I excute "iptables -L", there are so much  imformation that I do not know which one is you want.

[2019-09-25 05:35] sjw1230 opened #1152 "ERROR client/ws.go:78 dial websocket error(read tcp 202.199.13.215:36152->202.199.6.92:30030: i/o timeout), response message:"
**What happened**:

I0924 09:26:38.293160    1625 generic.go:81] GenericLifecycle: Relisting
I0924 09:26:39.293491    1625 generic.go:81] GenericLifecycle: Relisting
I0924 09:26:40.293860    1625 generic.go:81] GenericLifecycle: Relisting
I0924 09:26:41.294184    1625 generic.go:81] GenericLifecycle: Relisting
I0924 09:26:42.294531    1625 generic.go:81] GenericLifecycle: Relisting
I0924 09:26:42.

[2019-09-25 06:10] kadisi commented on #1152
@sjw1230 please show your edge.yaml config.   and `telnet 202.199.6.92 30030`

[2019-09-25 06:17] sjw1230 commented on #1152
@kadisi
edge.yaml

edgehub:
    websocket:
        url: wss://202.199.6.92:30030/e632aba927ea4ac2b575ec1603d56f10/edge-raspi1/events
        certfile: /etc/kubeedge/certs/edge.crt
        keyfile: /etc/kubeedge/certs/edge.key
        handshake-timeout: 30 #second
        write-deadline: 15 # second
        read-deadline: 15 # second
    quic:
        url: 127.0.0.1:10001
        cafile: /etc/kubee

[2019-09-25 06:17] sjw1230 commented on #1152
@kadisi
telnet 202.199.6.92 30030

root@raspberrypi-1:/etc/kubeedge/edge/conf# telnet 202.199.6.92 30030
Trying 202.199.6.92...
Connected to 202.199.6.92.
Escape character is '^]'.

[2019-09-25 14:28] dhdljd opened #1153 "wrong temperature number"
**What happened**:
I used TI sensorTag(CC2650)+raspberry3b+kubeedge v1.0.0+CC2650example,I can read the temperature number from edge mqtt broker, but the number is wrong. For example the true number is about 25.4℃,the mapper feedback number is 32℃ or a very big big number ,and do not change.
**What you expected to happen**:
if the temperature is 25.4℃，then the feedback number from CC2650 is cb2, i

[2019-09-26 01:12] alien19880726 opened #1154 "edgecore does not work correctly"
**What happened**:
2019-09-25 16:49:07.605 +08:00 ^[[0;31mERROR^[[0m client/ws.go:78 dial websocket error(x509: certificate signed by unknown authority), response message:
2019-09-25 16:49:07.605 +08:00 ^[[0;31mERROR^[[0m wsclient/websocket.go:76 Init websocket connection failed x509: certificate signed by unknown authority

**What you expected to happen**: node which edgecore process is working a

[2019-09-26 02:46] qizha commented on #897
EdgeMesh can also act as ingress controller. Also, traefic can be another choice

[2019-09-26 02:48] arcanique commented on #897
/assign

[2019-09-26 07:50] NoWhere-zh commented on #1154
do u copy the correct certificate files to the edge?

[2019-09-26 17:13] kevin-wangzefeng commented on #1147
Sounds useful to me, we can use one primary version of k8s for PR checkings, and probably make the others checked nightly etc.

[2019-09-27 09:25] alien19880726 commented on #1154
I generated certificate files again, authentication issue is fixed, and then another error occurs, edgecore log as follows, did you deal with it before?
I0927 17:10:29.694545   10693 cpu_manager.go:155] [cpumanager] starting with none policy
I0927 17:10:29.694561   10693 cpu_manager.go:156] [cpumanager] reconciling every 0s
I0927 17:10:29.694571   10693 policy_none.go:42] [cpumanager] none policy:

[2019-09-27 09:27] sids-b opened #1159 "k8s master for CI is unreachable"
**Which jobs are failing**:
e2e

**Which test(s) are failing**:
e2e

**Reason for failure**:
The VM where k8s master used to run is down and hence k8s master in not reachable

**Anything else we need to know**:
Need to get #856 merged to solve this issue

[2019-09-27 09:27] sids-b commented on #1159
/assign @sujithsimon22

[2019-09-27 09:27] sids-b commented on #1159
@kevin-wangzefeng @fisherxu @kadisi @subpathdev @rohitsardesai83

[2019-09-27 09:31] sids-b commented on #1154
@alien19880726 , can try this out ? https://bugzilla.redhat.com/show_bug.cgi?id=1692131

[2019-09-27 09:34] sids-b commented on #522
ping @kadisi

[2019-09-27 09:35] sids-b commented on #488
@pavan187 , does this issue still persist ??

[2019-09-27 09:35] sids-b commented on #482
ping @trilokgm

[2019-09-27 09:37] sids-b commented on #327
This issue will be fixed once #856 is merged

[2019-09-27 09:38] sids-b commented on #296
@tedli , does this issue still persists in the latest releases ?

[2019-09-27 09:48] sids-b commented on #779
@todayisgood , does this issue still persists ?

[2019-09-27 09:49] sids-b commented on #807
/assign @sids-b @arcanique

[2019-09-27 09:49] sids-b commented on #823
Agree with @chendave. Closing this issue.

[2019-09-27 09:49] #823 closed

[2019-09-27 09:50] sids-b commented on #824
cc @chendave . Thoughts ??

[2019-09-27 09:50] sids-b commented on #826
cc @chendave . Thoughts ?

[2019-09-27 09:50] sids-b commented on #827
cc @chendave . Thoughts ?

[2019-09-27 09:51] sids-b commented on #843
cc @chendave . Thoughts ?

[2019-09-27 09:54] sids-b commented on #769
@kadisi , can you please change the edgemesh test guide so that we can close this issue ??

[2019-09-27 09:55] sids-b commented on #769
@arcanique , we can try this soultion to see if it solves the issue

[2019-09-27 09:57] sids-b commented on #753
can you change the value of --docker-version to just 18.06.3 and try ? if you don't use this flag while running the command, it will install the default version

[2019-09-27 09:58] sids-b commented on #646
Closing this issue now. Please feel free to reopen or ping on slack for further discussion :)

[2019-09-27 09:59] #961 closed

[2019-09-27 10:03] sids-b commented on #951
@subpathdev , is is possible for you to take this one up ?

[2019-09-27 10:04] sids-b commented on #945
Closing this issue. Please feel free to reopen or ping on slack for further discussion :)

[2019-09-27 10:04] #945 closed

[2019-09-27 10:06] sids-b commented on #920
@kadisi , can we take this up in this release ??

[2019-09-27 10:07] sids-b commented on #881
/assign

[2019-09-27 10:10] sids-b commented on #1106
I think this issue is fixed. Please reopen if it is not.

[2019-09-27 10:10] #1106 closed

[2019-09-27 10:14] sids-b commented on #1101
@fisherxu , is it possible for you to take this one up ?

[2019-09-27 10:15] sids-b commented on #1096
@kadisi @fisherxu , can you guys go-ahead and raise PR for the change so that we can close this issue ?

[2019-09-27 10:16] sids-b commented on #1092
Thanks @fisherxu . +1

[2019-09-27 10:17] sids-b commented on #1083
Closing this issue. We can create a new one once we kubelet is more modular and we plan to use it.

[2019-09-27 10:17] #1083 closed

[2019-09-27 10:17] arcanique commented on #769
@sids-b @kadisi Thank you very much, this change is OK. And I will do an e2e verification.

[2019-09-27 10:19] sids-b commented on #1064
Closing this issue. Please feel free to reachout on slack or reopen for further discussion :)

[2019-09-27 10:19] #1064 closed

[2019-09-27 10:21] sids-b commented on #1051
Closing this issue. Please feel free to reopen or ping on slack for further discussion.

[2019-09-27 10:21] #1051 closed

[2019-09-27 10:21] sids-b commented on #1045
/assign

[2019-09-27 10:46] kadisi commented on #522
@sids-b  please assign to me ,  I am working on kubeedge configuration。

[2019-09-27 10:50] kadisi commented on #920
@sids-b yes

[2019-09-27 10:52] kadisi commented on #1096
@sids-b ok,

[2019-09-27 11:27] qizha commented on #1149
I found that a running pod can not be deleted neither

[2019-09-27 18:27] chendave commented on #826
@sids-b , I agree with Kevin's comments, so the patch there has been updated (https://github.com/kubeedge/kubeedge/pull/1075) to only allow one protocol, and reject unknown protocols.

[2019-09-28 18:30] jonsys commented on #380
Hi @alien19880726

I am getting the exact error that you were getting. It would be great if you could explain how you fixed it in a little more detail.

[2019-09-29 07:45] fisherxu opened #1161 "Use client-go in e2e test"
**What would you like to be added/modified**:
Use client-go in e2e test instead of http client. Xref: [SendHttpRequest](https://github.com/kubeedge/kubeedge/blob/master////tests/e2e/utils/context.go#L40)

**Why is this needed**:
We can use kubeconfig to init the client.

[2019-09-29 08:33] fisherxu commented on #1101
Many upstream e2e cases rely on the logs api,  we must support logs api first.

[2019-09-29 09:34] tedli commented on #296
@sids-b
Sorry for late reply. I haven't follow with new commits these days, and didn't confirm whether this issue still persists. Feel free to close this one. I will report new issue if I find something not as expect.

[2019-09-30 03:40] chendave commented on #824
Let's close this, I don't think we really need to do this.

[2019-09-30 04:07] kevin-wangzefeng commented on #1082
As beehive and viaduct moved intree, extra commands need to be executed after "go mod vendor", to keep the symbol links in vendor (linked to the staging repos). I will create another PR to fix this.

[2019-09-30 08:29] xianhongdong opened #1166 "make cloudcore failed on centos"
**What happened**:
[root@k8s-master kubeedge]# make all WHAT=cloudcore
cd cloud && make cloudcore
make[1]: Entering directory `/root/go/src/github.com/kubeedge/kubeedge/cloud'
go build -ldflags '-X github.com/kubeedge/kubeedge/pkg/version.buildDate=2019-09-30T08:10:07Z -X github.com/kubeedge/kubeedge/pkg/version.gitCommit=3e9aea41b4d78e8ca5ab3db6a695747f9d5465a9 -X github.com/kubeedge/kubeedge/pkg

[2019-09-30 08:43] xianhongdong commented on #1113
@noizz i have the same problem with you,but your solusion not suitable for me

[2019-09-30 09:19] subpathdev opened #1167 "using go 1.13"
**What would you like to be added/modified**:
We should update our build system to use go 1.13.

**Why is this needed**:

[2019-09-30 09:19] subpathdev commented on #1167
/assign @subpathdev

[2019-09-30 09:38] xianhongdong commented on #1166
it was go version problem,my go version is 1.13. every things is ok when i switch to go 1.12,

[2019-09-30 12:04] zhangshen023 opened #1168 "Edge node get not ready"
**What happened**:
My edge node shows status not ready
![image](https://user-images.githubusercontent.com/12484497/65877146-7b643680-e3bd-11e9-93b3-d2a8dd5ba94e.png)

**What you expected to happen**:
My edge node hould be ready
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
 I post my logs below.
cloudcore.log:
![image](https://user-images.gi

[2019-09-30 15:11] jparrill commented on #1168
I've been dealing with the same problem from the past week: https://github.com/kubeedge/kubeedge/issues/1138#issuecomment-534560329

[2019-10-01 06:55] sids-b commented on #1138
@jparrill , can you try to use websocket protocol and see if the node comes up ? edgehub.controller.protocol: websocket

[2019-10-01 07:21] jparrill commented on #1138
I've tried with both... I'm thinking that could be something related with
K8s network, Kubeedge has any connectivity reqs to work properly?.

On Tue, Oct 1, 2019, 8:56 AM Siddharth Bhadri <notifications@github.com>
wrote:

[2019-10-01 09:33] subpathdev commented on #1168
@jparrill, @zhangshen023 can you upload your cloudcore configuration?

[2019-10-01 09:37] jparrill commented on #1168
You got all the conf files here: https://github.com/kubeedge/kubeedge/issues/1138#issuecomment-534560329

[2019-10-01 09:43] subpathdev commented on #1138
which protocol do you want to use for the connection between cloudhub and edgehub? you have enabled 3 protocols.

With this configuration controller configuration I've tested successfully:
[controller.yaml]
[code]

[2019-10-01 09:49] subpathdev commented on #1138
@jparrill can you test it with the configuration above?
(I think you have to change the address of the master node, the path of the kubeconfig and the certificates definitions)

[2019-10-01 09:54] jparrill commented on #1138
I've changed Kubeconfig one, the Address is still 0.0.0.0 because I want to expose to all interfaces, the certs stays in the same way, because exists in that place.

regards

[2019-10-01 10:00] jparrill commented on #1138
One question @subpathdev, why did you specify the `controller.kube.master` if you already has set the `controller.kube.kubeconfig`, also for `devicecontroller.kube.master` vs `devicecontroller.kube.kubeconfig`?

[2019-10-01 10:06] subpathdev commented on #1138
Good question I don't know. I copied the the configuration from [0] and had to enable the websocket_protocol:

[0] https://github.com/kubeedge/kubeedge/blob/master/build/cloud/05-configmap.yaml

[2019-10-01 10:12] subpathdev opened #1170 "please update the configuration when using cloudcore as kubernetes deployment"
**What happened**:
The configuration in https://github.com/kubeedge/kubeedge/blob/8eff45054ab3d2f29aae25830bffb9ddf461f4fb/cloud/conf/controller.yaml is different from https://github.com/kubeedge/kubeedge/blob/master/build/cloud/05-configmap.yaml

**What you expected to happen**:
I can find the same configuration in both files

**Environment**:
KubeEdge Version: current master branch

[2019-10-01 11:20] kadisi opened #1171 "Component Config tracking issue - aka. Modify configuration file format"
**What would you like to be added/modified**:

Modify  configuration file format.

**Why is this needed**:

currently, cloudcore/edgecore/edgesite\`s configuration files are in the conf directory at the same level  and have 3 configuration files .It is difficult to maintain and extend。

The plan is to merge the three configuration files into one yaml file and analyze the configuration file like ku

[2019-10-01 11:21] kadisi commented on #1171
/assign @kadisi

[2019-10-01 11:42] #1096 closed

[2019-10-07 09:02] NoWhere-zh commented on #1168
please try
`kubectl describe node testing1`
and post the logs

[2019-10-07 09:05] parkeunsoo commented on #313
I have a question. is it necessary to command " kubeadm join ~" on edge ?  who know this?
if not, What is how to fix edge's status NOTREADY to READY?

[2019-10-07 09:37] parkeunsoo commented on #1168
I have same issue, so I have a question, is it necessary to commans "kubeadm join~" on edge side? I don'n know why on cloud side edge's status is NOT READY, seeing cloudcore's log , Cloudcore knows edge is alive but kubectl get nodes show me edge's status is NOTREADY

[2019-10-07 09:58] subpathdev commented on #1168
@parkeunsoo can you please upload your cloudcore log?

[2019-10-07 11:54] NoWhere-zh commented on #1168
no need to command "kubeadm join" because the edgecore will take control it and make the edge node join the cluster.

[2019-10-07 14:13] subpathdev commented on #1168
the command `kubeadm join` take command line flags and will create the correct configuration. You can modify the configuration by hand. After the creation kubeadm will execute the edgecore binary.

[2019-10-07 23:57] parkeunsoo commented on #1168
@subpathdev here edge node's name is edge-node
![image](https://user-images.githubusercontent.com/32799518/66357400-a1836b00-e9a9-11e9-98f5-da6f02384244.png)

[2019-10-08 00:18] parkeunsoo commented on #1168
@NoWhere-zh  Thanks! :) can I ask you two question?

1. I post cloudcore, edgecore log above , there are communication edgecore and cloudcore , But when I command `kubectl get nodes` , there are edge-node's status is NOT READY so What I want to ask here is Regardless of 'kubectl get nodes' Is edgecore and cloudcore connected? If so, when is it like that? when I command `kubectl apply -f node.json`

[2019-10-08 00:37] zhangshen023 commented on #1168
controller:
  kube:
    master: http://localhost:8080
    namespace: "kube-system"
    content_type: application/vnd.kubernetes.protobuf
    qps: 100
    burst: 10
    node_update_frequency: 20s
    kubeconfig: "/etc/kubeedge/config"
cloudhub:
  address: 0.0.0.0
  port: 10000
  ca: /etc/kubeedge/ca/rootCA.crt
  cert: /etc/kubeedge/certs/edge.crt
  key: /etc/kubeedge/certs/edge.key
  keepalive-inte

[2019-10-08 00:38] zhangshen023 commented on #1168
controller:
  kube:
    master: http://localhost:8080
    namespace: "kube-system"
    content_type: application/vnd.kubernetes.protobuf
    qps: 100
    burst: 10
    node_update_frequency: 20s
    kubeconfig: "/etc/kubeedge/config"
cloudhub:
  address: 0.0.0.0
  port: 10000
  ca: /etc/kubeedge/ca/rootCA.crt
  cert: /etc/kubeedge/certs/edge.crt
  key: /etc/kubeedge/certs/edge.key
  keepalive-inte

[2019-10-08 00:44] zhangshen023 commented on #1168
Name:               testing1
Roles:              edge
Labels:             name=edge-node
                    node-role.kubernetes.io/edge=
Annotations:        node.alpha.kubernetes.io/ttl: 0
CreationTimestamp:  Mon, 30 Sep 2019 19:38:51 +0800
Taints:             node.kubernetes.io/unreachable:NoExecute
                    node.kubernetes.io/unreachable:NoSchedule
Unschedulable:      false
Conditio

[2019-10-08 00:51] zhangshen023 commented on #1168
![image](https://user-images.githubusercontent.com/12484497/66359190-bad7e780-e9a8-11e9-93ab-0179587f4d73.png)

[2019-10-08 00:57] zhangshen023 commented on #1168
We meet same problem!
If you solve your problem, can you tell me?

[2019-10-08 01:33] fisherxu commented on #1168
@zhangshen023  @parkeunsoo  Could you plz upload your cloudcore config file? And please check whether the kubeconfig PATH is correct :)

[2019-10-08 01:41] parkeunsoo commented on #1168
@fisherxu Thanks :) Here
1. controller.yaml
![image](https://user-images.githubusercontent.com/32799518/66361011-1c538280-e9b8-11e9-8008-22e9bb5d6bfb.png)

2. .kube/config
![image](https://user-images.githubusercontent.com/32799518/66360955-e910f380-e9b7-11e9-8306-a192b0e1735f.png)

[2019-10-08 01:49] zhangshen023 commented on #1168
correct,i'm sure

[2019-10-08 02:22] fisherxu commented on #1138
@jparrill  @subpathdev  If you have specified the kubeconfig, it's no need specify the master, the master address will override the kubeconfig file

[2019-10-08 02:27] fisherxu commented on #1138
@jparrill  you can try this script :) `hack/local-up-kubeedge.sh`, which start kubeedge in one VM

[2019-10-08 06:56] fisherxu commented on #824
/close

[2019-10-08 06:56] #824 closed

[2019-10-08 08:14] fisherxu opened #1175 "Cross build failed"
**Which jobs are failing**:
Cross build

**Reason for failure**:
Travis use 16.04 as default OS, we used 14.04 as default before, and need to do some installation.

**Anything else we need to know**:

/cc @subpathdev @kadisi @chendave @sids-b

[2019-10-08 12:21] NoWhere-zh commented on #1168
according to your result of 'kubectl describe', it seems that the edgecore has never reported the status of the edge node to the cloudcore.
i cannot find the reason according to the current information provided. it's strange.
have you transfered the edge.key to the correct path of the edge node?
and i've compared the edge.yaml between you and me. i just change the websocket url and all the id of t

[2019-10-08 12:35] NoWhere-zh commented on #1168
i'm not sure where is your problem. it's strange.
as for your two questions
1. it has been confirmed through 'kubectl get nodes' whether the edge node was ready. because if the node is not 'ready' according to the 'kubectl get nodes', the node will be labeled with 'not ready', and it  is an unacceptable stain for the deployments. no pod will be scheduled to a 'not ready' node.
and the edge node co

[2019-10-08 13:42] sids-b commented on #1167
+1

[2019-10-08 13:44] sids-b commented on #898
We are having better performance results in Websocket than GRPC as seen in the doc. Should we close this issue ?
@subpathdev @fisherxu @edisonxiang @kadisi @subpathdev

[2019-10-09 02:28] #1175 closed

[2019-10-09 02:28] zhangshen023 commented on #1144
i meet the same problem,could you tell me how to solve,thanks

[2019-10-09 02:49] sjw1230 commented on #1144
@zhangshen023
Please specified the kubeconfig path then change the cloud controller.yaml
or change the path in cloud controller.yaml to /etc/kubernetes/admin.conf

[2019-10-09 03:04] NoWhere-zh commented on #1144
it seems that there is no config file in your environment. please copy the /etc/kubernetes/admin.conf to $HOME/.kube/config. kubeedge will use it. please check the file ：)

[2019-10-09 03:08] NoWhere-zh commented on #1140
my docker version is 18.09.0 and kubernetes version is 1.15.0 and kubeedge version is 1.1.0
it works and i don't know if it matters
oh, i did not use keadm init but just start up the kubeedge with the binary file directly

[2019-10-09 03:21] NoWhere-zh opened #1181 "edgecore meet an 'index out of range' bug on aarch64"
**What happened**:
i'm cross-compilng the aarch64 version of the edgecore. it is compiled successfully but  it runs failed on aarch64 edge node.
when the edgecore runs, it will terminate soon after it exchange some data with the cloudcore.

**What you expected to happen**:
i expected that the edgecore worked on aarch64 edge node.

**How to reproduce it (as minimally and precisely as possible)**:
j

[2019-10-09 03:22] NoWhere-zh commented on #1181
sorry i can not upload the log of the error now.
i will post it later.

[2019-10-09 04:48] chendave commented on #1175
I am able to cross build on ubuntu16.04,

[code]

@fisherxu  what do you mean by installation?

install "gcc-arm-linux-gnueabi" for travis?

[2019-10-09 06:56] subpathdev opened #1182 "Using different ubuntu distributions ins travis"
**What would you like to be added/modified**:
We should test our build stages on different ubuntu distributions
KubeEdge (and the corss compiltation ) should be executed on ubuntu:
  - 14.04
   - 16.04
   - 18.04.

**Why is this needed**:
To getting early informed on problem on different distributions of ubuntu.

[2019-10-09 07:03] fisherxu commented on #1175
@chendave  We have install  `gcc-arm-linux-gnueabi` for travis now, and if we change the OS to 16.04, it will have some cross build error in travis.

https://github.com/kubeedge/kubeedge/blob/master/.travis.yml#L5
dist: trusty   14.04
dist: xenial   16.04

[2019-10-09 07:36] parkeunsoo commented on #1168
@NoWhere-zh Thanks! :) It really helped me a lot.
One of your comment: "because if the node is not 'ready' according to the 'kubectl get nodes', the node will be labeled with 'not ready', and it is an unacceptable stain for the deployments. no pod will be scheduled to a 'not ready' node."
I installed Kubeedge with reference to [https://docs.kubeedge.io/en/latest/setup/setup.html](url)
![image](htt

[2019-10-09 08:05] NoWhere-zh commented on #1168
edgehub->websocket->url:  the port should be 10000 if u did not change it somewhere else.
and no need to fill the edged->node-ip. remaining "" is ok.
maybe it will help. please try
when the edge node is ready, then u can try to  "Deploy Application on cloud side".

[2019-10-09 08:28] NoWhere-zh commented on #1181
Euler:~/work/edge # ./edgecore
2019-10-09 08:21:49.203 +00:00 DEBUG sync/once.go:44 init logger...
2019-10-09 08:21:49.204 +00:00 DEBUG go-archaius/configurationfactory.go:90 ConfigurationFactory Initiated
2019-10-09 08:21:49.205 +00:00 INFO go-archaius/archaius.go:53 Configuration files:
2019-10-09 08:21:49.205 +00:00 WARN config-manager/configurationmanager.go:140 empty configurtion from FileSou

[2019-10-09 08:30] NoWhere-zh commented on #1181
sorry i cannot upload pictures. here is the error log.  i found that the error was with edgemesh. when i delete the edgemesh in the modules.yaml, edgecore ran successfully.

[2019-10-09 10:11] fei922 commented on #857
@sids-b Could you tell me what “both k8s and nodes in the edge network” means?
Thanks.

[2019-10-10 01:47] parkeunsoo commented on #1168
@NoWhere-zh um..I tried this but to no avail.
I think may be there is a problem when I create cluster `kubeadm init` with config file
I don't know to need kubelet in process  but kubelet'log show error
Is it related to kubelet error or kubeadm init config file?
`systemctl status -l kubelet`
![image](https://user-images.githubusercontent.com/32799518/66532546-bc411580-eb4a-11e9-91a8-be58eb53ee9f.pn

[2019-10-10 02:10] fisherxu commented on #1168
@parkeunsoo Have you run kubelet in edge node? It's no need to run kubelet in edgenode, because edged in edgecore is a mini-kubelet. And for the cloudside, if you deploy cloudcore as a process(not container), it has no relationship with your kubelet.

[2019-10-10 02:23] parkeunsoo commented on #1168
@fisherxu I run kubelet in cloud , I think may be it run with kubeadm init
and Can I ask you two question? 1.Don't need kubelet on cloud? 2. After i command`kubectl describe node edge-node` message is "kubelet never posted node status" Does kubelet on the message mean edge's kubelet?

[2019-10-10 02:57] fisherxu commented on #1168
hi @parkeunsoo
1. If you don't run application in cloud, kubelet will no need.
2. edgecore's edged is a mini-kubelet, cut some alpha features in kubelet that are not needed at the edge, in fact, it's also a kubelet. And yes, kubelet on the message mean edge's kubelet.

[2019-10-10 03:37] parkeunsoo commented on #1168
@zhangshen023  @fisherxu @NoWhere-zh I solved the problem! Thansk to guys
![image](https://user-images.githubusercontent.com/32799518/66537169-80ae4780-eb5a-11e9-9edd-1facfebddc32.png)
the problem is kubelet cgroup driver is diffrent from docker cgroup driver on edge-node
so I modify docker cgroup driver to cgroupfs

[2019-10-10 03:50] fisherxu commented on #1168
@parkeunsoo sound good!!
@zhangshen023  Has your issue been solved?

[2019-10-10 05:36] zhangshen023 commented on #1168
yes,solved,thanks.But i don't konw why,i just follow this document https://docs.kubeedge.io/en/latest/setup/setup.html

[2019-10-10 05:36] #1168 closed

[2019-10-10 05:40] zhangshen023 commented on #1168
Mayby,solving way to my problem is the same as yours .My vm had ben destoryed。

[2019-10-10 06:06] Ranler commented on #1168
I have same problem, k8s is v1.14.1, kubeedge is v1.1.0， cloud side is vm node， edge side is raspberrypi.

And After create a new edge node, there will create a new kube-proxy but always Pending， and edge node is always NotReady.

![图片](https://user-images.githubusercontent.com/742910/66543116-0d5f0280-eb67-11e9-83cd-0466e158464c.png)

[2019-10-10 07:35] chendave opened #1185 "CI available on arm"
**What would you like to be added/modified**:
CI support on arm platform

**Why is this needed**:
current travis CI only support on x86 platform, it would be great to support arm as well, so that we can find the potential issues to run/build kubeedge on arm

[2019-10-10 07:35] chendave commented on #1185
/assign

[2019-10-10 07:35] chendave commented on #1185
cc @fisherxu  @kevin-wangzefeng

[2019-10-10 07:37] chendave commented on #1185
https://travis-ci.com/chendave/kubeedge if you can access it.

cc @sids-b @subpathdev too.

[2019-10-10 08:54] sids-b commented on #1185
Great @chendave . We will be able to ensure ARM builds with this.

[2019-10-10 09:54] Baoqiang-Zhang commented on #1181
@arcanique can you fix this issue

[2019-10-10 10:01] Baoqiang-Zhang commented on #1181
https://github.com/kubeedge/kubeedge/blob/535513b17756d0445893097aefbe83e4f123ca37/edgemesh/pkg/proxy/proxy.go#L380-L384

[2019-10-10 12:04] Ranler opened #1186 "Arm edge node always notready"
**What happened**:

ARM edge always NotReady in Cloud Node.

**Anything else we need to know?**:

cloudcore.log

[code]

edgecore output:

[code]

**Environment**:

- KubeEdge version: v1.1.0

**CloudSide Environment**:

- OS: Ubuntu 16.04 x86_64
- K8s: v1.14.1

**EdgeSide Environment**:

- edgecore version: v1.1.0
- Hardware: RaspberryPI 2B
- OS: Raspbian(Debian 9.11)
- Kernel (e.g. `uname -a`):

[2019-10-10 12:22] fisherxu commented on #1186
Can you show your cloud&edge config? @Ranler

[2019-10-10 13:56] Ranler commented on #1186
Hi, @fisherxu thanks

edge config:

[code]

edge node json:

[code]

cloud node k8s is create with `keadm init --kubeedge-version=1.1.0` and calico network.
Nothing changed in cloud node config.

[2019-10-11 00:54] kadisi commented on #1185
great

[2019-10-11 01:44] kevin-wangzefeng commented on #1185
Cool, let's add arm testing to PR checkings, tentatively non-blocking and turn to required once we fix currently failing ones.

[2019-10-11 02:17] fisherxu commented on #1186
The config looks fine, and from the log of cloudcore, cloudcore has received message from edgecore. Does the cloudcore connect to apiserver?

[2019-10-11 03:15] borlandor commented on #1119
Yes, for new to kubeedge, it would be great if the document of mapper or e2e  is more detailed:
https://github.com/kubeedge/examples/tree/master/led-raspberrypi
https://github.com/kubeedge/kubeedge/blob/master/docs/mappers/bluetooth_mapper.md#bluetooth-mapper
https://github.com/kubeedge/kubeedge/blob/master/docs/guides/bluetooth_mapper_e2e_guide.md

[2019-10-11 03:25] Ranler commented on #1186
Hi @fisherxu , I just kill cloudcore in cloud node which was start by `keadm` yesterday，and start it manually. now there are Ready for all edge node. I don't know why, maybe there has some problem in keadm.

[2019-10-11 03:28] #1186 closed

[2019-10-11 08:53] parkeunsoo opened #1187 "bluetooth-device-mapper-deployment container remain "creatingcontainer""
**What happened**:
   bluetooth-device-mapper-deployment container remain "creatingcontainer"
**What you expected to happen**:
  bluetooth-device-mapper-deployment container remain "running"

I referenced [this](https://docs.kubeedge.io/en/latest/mappers/bluetooth_mapper.html) and tried the bluetooth mapper application deployment. But the pod state does not change in the creatingcontainer.

Can yo

[2019-10-11 09:27] parkeunsoo commented on #1187
@fisherxu may be it has ens3
um.. I should try  changing ens3 to eth0
thanks :)

[2019-10-12 02:08] guanxingfeng commented on #646
I encounter the same problem on kubeedge release 1.1.0,what is the best way to solve it?
![image](https://user-images.githubusercontent.com/25924966/66693127-102d3500-ecd8-11e9-9758-c1f067143600.png)
describe new pod info:
![image](https://user-images.githubusercontent.com/25924966/66693135-2d620380-ecd8-11e9-91f8-62579daedf79.png)

[2019-10-12 02:20] guanxingfeng commented on #646
Additional information：
1.Deploy  kubeedge's edgecore  using binary
2.pod containerPort is different from hostPort，containerPort：9000，hostPort: 9003

[2019-10-12 06:19] sids-b commented on #1187
@parkeunsoo , did changing the interface name solve the issue ?

[2019-10-12 07:24] guanxingfeng commented on #646
but not find this problem on edgesite release 1.1.0,Different implementations of edgecore and  edgesite?

[2019-10-12 09:25] fei922 opened #1191 "Whether edgesite supports edgemesh"
**What would you like to be added/modified**:
There are some problems with edgecore, such as pod error can not automatically restart, but want to use edgemesh.  So I want edgesite to support edgemesh.
I modified the edgeSite.yaml and moudles.yaml files.
[code]
add  below content to edgeSite.yaml
[code]
Then execute `nohup ./edgesite > edgesite.log 2>&1 &` and create what-is-app and client deployme

[2019-10-12 09:49] fisherxu opened #1192 "Support HA for cloudcore"
**What would you like to be added/modified**:
Now the cloudcore doesn't support deployed in multi instances(HA), we need implement it for high availability and better performance.

[2019-10-12 10:12] kadisi commented on #1192
greate

[2019-10-13 08:30] jahentao commented on #1139
for `v1.1.0`, my fixes in #1193

[2019-10-13 14:07] jahentao commented on #1020
I have the same question in V1.1.0

[code]

[2019-10-14 01:04] parkeunsoo commented on #1187
@side-b I change but, it still remain creating container

[2019-10-14 11:56] gnodli commented on #1140
your environment is centos or Ubuntu？

[2019-10-16 04:21] kevin-wangzefeng opened #1197 "Go mod verify failure: servicecomb-kie checksum mismatch"
**What happened**:
Failure discovered from CI checking for https://github.com/kubeedge/kubeedge/pull/1195 and https://github.com/kubeedge/kubeedge/pull/1194

![image](https://user-images.githubusercontent.com/6914660/66887888-16405000-f00f-11e9-95fe-7317f65b21e0.png)

And was caused by servicecomb-kie receating its tag v0.1.0

**What you expected to happen**:

**How to reproduce it (as minimally a

[2019-10-16 08:35] #1197 closed

[2019-10-17 04:19] chenyg0911 opened #1203 "edge application develop reference?"
Hi, I trying kubeedge,  check the document, apps deploy on edge node(pods),what's the best practise for app to get/set device status/data? Sub/Pub event channel Or through k8s List/Watch API fetch from device CDR?
Sub/Pub seems simply against kube-api? What's your suggestion?

[2019-10-17 08:00] Baoqiang-Zhang opened #1205 "edgecore cpu usage rate will increase by container's num"
**What happened**:
edgecore cpu usage rate will increase by container's num。
cpu usage rate over 10% when 6 pods run
**What you expected to happen**:
edgecore's cpu usage rate below than kubelet
**How to reproduce it (as minimally and precisely as possible)**:
create some pod and check node's cpu usage rate
**Anything else we need to know?**:

**Environment**:
- KubeEdge version(e.g. `cloudcore/ed

[2019-10-17 09:10] #1133 closed

[2019-10-17 10:37] kevin-wangzefeng opened #1207 "main repo still depending on external beehive and viaduct"
**What happened**:

The go.mod files were not written correctly for in-tree beehive and viaduct.
Module names are not correct in those go.mod files
And The code are still partly depending on individual repos, which made the dependency graph massive.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-10-17 10:42] kevin-wangzefeng commented on #1207
/kind cleanup

[2019-10-17 10:44] kevin-wangzefeng commented on #1207
/remove-kind bug

[2019-10-17 13:19] #1207 closed

[2019-10-18 03:27] kadisi opened #1210 "compile cloudcore error"
**What happened**:

**What you expected to happen**:
[code]
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

git commit:   52945c93c538a823c93f71bacfc8720c96d0dbb7

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version`):

**CloudSide Environment**:
- Hardware configuration (e.g. `lscpu`):
- OS (e.g. `cat /etc/os-release`):
-

[2019-10-18 03:29] kadisi commented on #1210
cc @kevin-wangzefeng @fisherxu

[2019-10-18 04:00] kevin-wangzefeng commented on #1210
This error only occur when you executed `hack/update-vendor.sh` and then set` GO11MODULE=off`.
Which doesn't seem to be a real world case.

[2019-10-18 04:14] kevin-wangzefeng commented on #1210
Fixes in https://github.com/kubeedge/kubeedge/pull/1211.

[2019-10-18 07:44] dwSun commented on #439
is it possible with kubeedge 1.1?

[2019-10-18 08:30] fisherxu commented on #439
This should not be tested yet, will you help have a try? :) @dwSun

[2019-10-18 08:48] #1210 closed

[2019-10-18 09:20] dwSun commented on #439
we are working on a project which use both knative and kubeedge, any docs on how we can use them together?

[2019-10-18 09:35] fisherxu commented on #439
I think there is no corresponding documentation at this time... you have already run kative on kubeedge?

[2019-10-18 11:58] kadisi commented on #1171
cc @kevin-wangzefeng @fisherxu @sids-b

[2019-10-20 14:21] #1185 closed

[2019-10-20 18:10] cwhuang29 opened #1213 "Failed to run pod on edge node"
**What happened**:
I had installed k8s and every thing works well, then I install KubeEdge, and edge node is ready. However, even I can deploy pods or services on my edge node, the pod can't works properly.
If the pod is deployed on master node, its IP is `10.244.0.30` (starts with 10.244), and I can connect into pod by the command ` kubectl exec <pod_name> -it -- bash` or via Service/rs/rc. But f

[2019-10-20 18:22] cwhuang29 commented on #1213
This is cloud node's project/conf/controller.yaml
[code]
This is edge node's project/conf/edge.yaml:
[code]

[2019-10-21 02:53] kadisi opened #1214 "consider rename beehive context package name"
**What would you like to be added/modified**:

Now KubeEdge use `github.com/kubeedge/beehive/pkg/core/context` package to  pass messages in each module, I don't like the `context.Context` used in KubeEdge, but it is often confused with the [golang library context](https://golang.org/pkg/context/)  and makes the code less readable.

How about rename beehive context package name?

**Vote 1:**
change

[2019-10-21 02:53] kadisi commented on #1214
Vote 1

[2019-10-21 03:07] chendave commented on #1214
I think the second options would be much simpler to address the concern you have.

[2019-10-21 06:17] kevin-wangzefeng commented on #1214
Either set alias for golang context or github.com/kubeedge/beehive/pkg/core/context is fine.

[2019-10-21 06:19] sids-b commented on #1214
I think Vote2 would solve the concern

[2019-10-21 06:45] sids-b commented on #1159
This issue is resolved now.

[2019-10-21 06:45] #1159 closed

[2019-10-21 06:46] xiangxingyong commented on #1214
Vote3 makes sense:)

[2019-10-21 06:48] sids-b commented on #1213
@cwhuang29 , Currently KubeEdge doesn't support ``` kubectl logs ``` and ``` kubectl exec ``` commands. We support pod to pod communication running on nodes in same subnet using edgemesh. https://github.com/kubeedge/kubeedge/blob/master/docs/guides/edgemesh_test_env_guide.md

The development for communication between pods from cloud to edge and edge to cloud is currently ongoing :)

[2019-10-21 06:56] sujithsimon22 commented on #1214
Vote 3 looks better to me

[2019-10-21 06:58] fisherxu commented on #1214
+1, Keep golang native `context`, set alias to the context in beehive and reduce misunderstanding.
But `bcontext` seems not a good alias name, thoughts?

[2019-10-21 07:00] sids-b commented on #1214
Probably use `beehiveContext` ?

[2019-10-21 07:07] sujithsimon22 commented on #1214
+1

[2019-10-21 09:58] jahentao opened #1217 "Edge deployment ERROR when edge use crio as runtime and systemd as cgroup-manager"
**What happened**:

Follow the guide, [Run KubeEdge from source](https://github.com/kubeedge/kubeedge/blob/release-1.0/docs/getting-started/usage.md), I use `kubeadm` `v1.15.4` starts a Kubernetes cluster with version `v1.15.4` and Run KubeEdge cloud part and edge part, using kubeedge release binary file `cloudcore`(`edgecontroller`) and `edge_core` with version `v1.0.0`.

Everything is ok when de

[2019-10-21 10:26] guanxingfeng opened #1218 "DomainName resolution time is too long for end to end in Edgemesh-release1.1.0"
**What happened**:
I test end to end on Edgemesh-release1.1.0，Reference link：https://docs.kubeedge.io/en/latest/guides/edgemesh_test_env_guide.html
I found DomainName resolution time is too long，about 5s！！
![image](https://user-images.githubusercontent.com/25924966/67197345-2a30eb00-f42f-11e9-8eeb-43578b02115e.png)

**What you expected to happen**:
Response within 1 second

**How to reproduce it (

[2019-10-21 10:47] jahentao commented on #1217
I have tried to fix this issue based on git tag `v1.0.0` in #1219 .
After rebuild binary file `edge_core`, and run the [demo application](https://github.com/kubeedge/kubeedge/blob/release-1.0/docs/getting-started/usage.md#deploy-application), it seems ok to support `systemd` when using `crio` as runtime. :smile:

[2019-10-21 19:00] cwhuang29 commented on #1213
Thanks for replying :)
I've tried the tutorial from "Edgemesh test env config guide", and there are some errors:
1. In server and client's Deployment, there is a setting about restricting Deployment to run on edge node but not cloud node:
[code]
This setting seems not working, cause the pods created by this Deployment failed on reason _FailedScheduling_. Then, I replace the setting above with `nod

[2019-10-21 19:37] cwhuang29 commented on #1213
Thanks for your reply :)
I followed the tutorial on the website, Service and client-side Deployment works well, but server-side Deployment's pods are always in ContainerCreating status.
[code]
And the "describe" message is:
[code]
Besides, this is deployment:
[code]
And the "describe" message of server-side deployment is:
[code]
I can't find any error message from them
and below is the information

[2019-10-22 03:23] jianping0222 opened #1220 "Pod start failed when EdgeCore restart"
**What happened**:
if pod  deployment  use configmap, Pod  start failed when EdgeCore reboot,log is "E1022 10:47:55.200692   16302 configmap.go:232] Error creating atomic writer: stat /var/lib/edged/pods/ddc07b4a-b88d-4d46-afdb-98356c565ac5/volumes/kubernetes.io~configmap/modbus-config-volume: no such file or directory"
**What you expected to happen**:
Pod should be start successful.
**How to repr

[2019-10-22 03:56] fisherxu commented on #1217
Thanks for your test! @jahentao I recommend to use version 1.1 :)  And could you please resolve the conflict in your PR then we can review it, Thanks

[2019-10-22 03:57] fisherxu commented on #1217
I think we can add your test results to the doc.

[2019-10-22 05:29] jahentao commented on #1217
@fisherxu OK, I'll try it.

[2019-10-22 06:08] kadisi opened #1221 "suggest put all the module name definitions under /common/constants/module.go"
**What would you like to be added/modified**:

now , The name and group name of each module is defined under its own package , but we often need to quote each other. Even a lot of local code  redefined the module name.

**Why is this needed**:

suggest  put all the module name definitions under  `/common/constants/module.go`。Use these constants in the code as long as you use module name and group.

[2019-10-22 06:16] kadisi commented on #1221
cc @kevin-wangzefeng @fisherxu @sids-b @chendave @edisonxiang

[2019-10-22 06:17] sids-b commented on #1221
+1... Thanks @kadisi

[2019-10-22 06:17] sids-b commented on #1221
/assign

I will do it along with my PR for auto-register

[2019-10-22 07:45] jahentao commented on #1217
I try to deploy kubeedge with the compiled binary in branch `master`, but the `edge-node` in cloud is always `NotReady`

[code]

[2019-10-22 08:43] fisherxu commented on #1217
Does any errors exist in cloud/edge logs?

[2019-10-23 02:24] freekingdoms commented on #439
我们使用knative在kubeedge的edge端部署服务的时候遇到这么一个错误,这个status.podIP是knative特有的吗?我和dwSun是一个team的
I1021 02:07:30.010441    2661 record.go:19] Warning Failed Error: unsupported fieldPath: status.podIP
E1021 02:07:30.010488    2661 kuberuntime_manager.go:779] container start failed: CreateContainerConfigError: unsupported fieldPath: status.podIP
E1021 02:07:30.010594    2661 edged.go:794] worker [0] handle pod a

[2019-10-23 09:06] freekingdoms commented on #439
https://github.com/kubernetes/kubernetes/issues/79510
https://github.com/kubernetes/kubernetes/issues/64168
We found that in k8s' issue, someone mentioned the bug and it was fixed, but from the final result there was no new  version.
@fisherxu

[2019-10-23 09:25] fisherxu commented on #439
@freekingdoms what's your k8s version? Seems your k8s cluster version is 1.16.
In 1.15 it's [podIP](https://github.com/kubernetes/kubernetes/blob/v1.15.5/pkg/apis/core/types.go#L2874), but in 1.16 it's slice []podIPs.  We only support k8s 1.15 now.

[2019-10-23 09:37] freekingdoms commented on #439
@fisherxu Our version of k8s is 1.16.2, is there a plan for subsequent support for version 1.16?

[2019-10-24 06:41] fisherxu commented on #1218
/cc @arcanique

[2019-10-24 08:43] arcanique commented on #1218
Thanks for your commed. I will test and optimize it properly.

[2019-10-24 21:25] Salvocll opened #1226 "Info - k3s master and kubeedge-worker"
In the guide about the edge solution, the images show the communication between the kubeendge-worker node and the k3s master but the k8s master is used in the guide.

is it just a convention or is it possible to perform the same steps but using the k3s master and then connect to the nodes on which kubeedge-worker is installed?

During the kubecon it was said that given the use of the same API it w

[2019-10-25 10:42] wesley-fly opened #1227 "kubeedge deploy always pending"
**What happened**:
I have a k8s cluster, 2*master & 3*node, work fine, I want to add kubeedge to this k8s cluster, my network topology like:
k8scluster(VIP:192.168.51.9) ----- EdgeCloud(192.168.51.20) --- EdgeDevice(192.168.51.198)
I setup binary cloudcore at  EdgeCloud(192.168.51.20), edgecore at EdgeDevice(192.168.51.198)
at k8s use
[root@k8s-m1 nodes]# kubectl get node
NAME

[2019-10-26 10:34] wesley-fly commented on #1227
get a message {Header:{ID:0d397984-0c83-47d8-876a-6c25a1bf97a2 ParentID: Timestamp:1572085926966 Sync:true} Router:{Source:edged Group:meta Operation:update Resource:default/nodestatus/edge-node-inspur-ucpe-1} Content:{UID:38796d14-1df3-11e8-8e5a-286ed488f209 Status:{Capacity:map[cpu:{i:{value:1 scale:0} d:{Dec:<nil>} s:1 Format:DecimalSI} memory:{i:{value:642777088 scale:0} d:{Dec:<nil>} s:613Mi

[2019-10-26 10:36] wesley-fly commented on #1227
edgecore logs: alyways repeate
I1026 10:35:28.525755    3388 msg_processor.go:634] get a message {Header:{ID:fb4fb467-c84c-40b5-b6a2-8944d2294fa4 ParentID: Timestamp:1572086128515 Sync:true} Router:{Source:edged Group:meta Operation:update Resource:default/nodestatus/edge-node-inspur-ucpe-1} Content:{UID:38796d14-1df3-11e8-8e5a-286ed488f209 Status:{Capacity:map[cpu:{i:{value:1 scale:0} d:{Dec:<nil

[2019-10-26 15:47] wesley-fly commented on #380
@alien19880726
I am getting same issue, what does your network agent restriction means?https://github.com/kubeedge/kubeedge/issues/380#issuecomment-518959965

[2019-10-27 01:57] jahentao commented on #1217
follow the guide [Setup KubeEdge from sourcecode](https://github.com/kubeedge/kubeedge/blob/master/docs/setup/setup.md)

In the cloud logs:

[code]

In the edge logs:

[code]

[code]

[2019-10-27 10:13] subpathdev commented on #1226
Yes you can use k3s as master as well. There are a few difference by checking resource definitions.

[2019-10-28 00:42] wesley-fly commented on #380
@jonsys Hi
I am getting same issue, did you fixed it ? would you share some detail?
Thanks

[2019-10-28 01:41] fisherxu commented on #1227
You deploy the app to arm platform, and have you specified arm docker images(app and pause docker images)?

[2019-10-28 01:46] fisherxu commented on #1226
@Salvocll  Yes, we used the native K8s APIs, and K3s also sopport native K8s APIs.

[2019-10-28 02:18] alien19880726 commented on #380
There is a inner network for my edged vm, and I did not set the proxy, so it can not download docker image nginx. I fixed it by setting a network proxy. I  feel ashamed of myself for making such a silly mistake.

[2019-10-28 02:19] alien19880726 commented on #380
There is a inner network for my edged vm, and I did not set the proxy, so it can not download docker image nginx from outer website. I fixed it by setting a network proxy to access outer network correctly.

[2019-10-28 10:06] Salvocll commented on #1226
@subpathdev @fisherxu, thanks you very much for the reply, I'll try to link them

[2019-10-28 11:21] fisherxu commented on #1226
@Salvocll Thanks for the testing, could you please share your results then? :-)

[2019-10-29 02:01] kadisi opened #1231 "set edge.db installation path configurable"
**What would you like to be added/modified**:

Now edge.db is installed by default in the same level of edgecore. It is recommended that the installation path be configurable.

**Why is this needed**:

cc @kevin-wangzefeng @sids-b @fisherxu @subpathdev @chendave @edisonxiang

[2019-10-29 14:53] hacker-h opened #1233 "keadm init messes up path and name of edgecore binary"
**What happened**:
[code]

**What you expected to happen**:
install kubeedge without errors
replace `/etc/kubeedge//kubeedge/edge/edgecore` with `/etc/kubeedge/kubeedge/edge/edge_core`

**How to reproduce it (as minimally and precisely as possible)**:
Download keadm-v1.1.0-linux-amd64.tar.gz, extract it, run `sudo ./keadm init`

**Environment**
Ubuntu 18.04.3 LTS
Linux hhaecker-T480s 5.0.0-32-gene

[2019-10-29 15:08] hacker-h opened #1234 "keadm join messes up path and name of edgecore binary"
**What happened**:
[code]

**What you expected to happen**:
install kubeedge without errors
replace `/etc/kubeedge//kubeedge/edge/edgecore` with `/etc/kubeedge/kubeedge/edge/edge_core`

**How to reproduce it (as minimally and precisely as possible)**:
setup cloud component of kubeedge
run `sudo ./keadm join --cloudcoreip=<cloud_core_ip>`

**Environment**
Ubuntu 18.04.3 LTS
Linux hhaecker-T480s 5.0

[2019-10-30 05:48] #1227 closed

[2019-10-30 07:08] heng-Yuan opened #1235 "cloudcore deployment init container CrashLoopBackOff"
**What happened**:
When I create cloudcore deployment, it stuck in `Init:CrashLoopBackOff`,
[code]

**What you expected to happen**:
Creating cloudcore deployment successfully.

**Anythings else**:
cloudcore deployment yaml:
[code]

I'm running an init container standalone, it seems `apk --no-cache add coreutils` error.
[code]

**Environment**:
- KubeEdge version(e.g. `cloudcore/edgecore --version

[2019-10-30 07:11] qiuhui opened #1236 "Does kubeedge support pv and pvc?"
I can not see any description about pv and pvc in kubeedge docs, anyone know about this?

[2019-10-31 07:57] SemiLavender commented on #1236
Don't support volumes of pv and pvc. I tried to use the Prometheus at the KubeEdge, which component no work

[2019-10-31 08:35] fisherxu commented on #1236
@qiuhui @SemiLavender We have a [csi support doc](https://github.com/kubeedge/kubeedge/blob/master/docs/proposals/csi.md) here,  please take a look :)

[2019-10-31 10:44] freekingdoms opened #1239 "the pod on the edge side of kubeedge can not be managed by k8s clusters."
**What happened**:
<img width="588" alt="image" src="https://user-images.githubusercontent.com/15769322/67939495-a6d08000-fc0c-11e9-9469-0dbd33228930.png">

i deployment a nginx service and it run well.
(please ignore knative,,I haven't deployed anything with knative yet.)
<img width="914" alt="image" src="https://user-images.githubusercontent.com/15769322/67939464-90c2bf80-fc0c-11e9-9689-74361b83

[2019-10-31 11:02] dwSun commented on #1239
means that kubeedge only works as a container startup manager, not a part of k8s cluster?

[2019-10-31 17:22] Salvocll opened #1240 "make edgesite agent filled the ram"
Hi,

Once installed go, I executed the following commands on a raspberry pi model B + with stretch:

[code]
after a while i noticed with htop that the ram reached 100% after 10 minutes and the process crashed and the rasp consequently became unusable

I use go1.12.12.linux-armv6l of go version.

[2019-11-01 02:10] shaonanzh commented on #1125
I have encountered this bug too, it's still there. I think the reason is that golang "os" pakage cannot handle the path which has prefix like "~/". So there should have some preprocessing, or just config abosolute path instead.

[2019-11-01 05:51] gaoccnu opened #1241 "cross compiling kubeedge-v1.1.0 source code failed for armv7"
**What happened**:
cross compiling kubeedge-v1.1.0 source code failed for armv7
**What you expected to happen**:
cross compiling kubeedge-1.1.0 source code succeed  for armv7
**How to reproduce it (as minimally and precisely as possible)**:
in centos7.4 ，cross compile  kubeedge-1.1.0 for armv7 fail （go version1.12） ，Error is as follows
/home/gaoyu/go/pkg/too1/1inux_amcl64/1ink - o $SWORK/b001 /exe

[2019-11-01 08:43] xueyahui1 commented on #753
我也出现了此问题，请问应该如何解决?

[2019-11-01 08:46] xueyahui1 opened #1242 "CenOs系统keadm初始化出错error: Expected Docker version is not available in OS repo"
CenOs系统keadm初始化出错error: Expected Docker version is not available in OS repo，请教大家一下，如何解决

[2019-11-01 09:02] xueyahui1 commented on #454
支持Centos的Kubeedge安装程序能发给我一份吗？非常感谢

[2019-11-03 17:02] cwhuang29 opened #1243 "Edge node is NotReady"
**What happened**: I installed KubeEdge by "Setup KubeEdge from sourcecode", but the edge side is always notReady
node status:
[code]

**What you expected to happen**: Edge node be Ready.

**How to reproduce it (as minimally and precisely as possible)**: I follow the webpage https://docs.kubeedge.io/en/latest/setup/setup.html to install it. And k8s cluster had installed previously by following the

[2019-11-05 03:47] hhstu opened #1244 "support k8s dns"
What would you like to be added/modified:

1. edge.cluster-dns:"" this param may be shoud has an exampls,just like this:

edge.cluster-dns:"" example: "10.1.0.1,10.1.0.2"

2、if edge.cluster-dns == "",i want set it with the coredns-serviceip form kube-apiserver default.

Why is this needed:
1、when i first get the param,i dont not know how to use it until i see the code.
2、i want pod in edge can res

[2019-11-05 03:49] hhstu commented on #1244
now it is useful to set edge.cluster-dns=“cordns ip”，but not elegant than get  ip form apiserver

[2019-11-05 12:54] bitosky opened #1245 "keadm init error, cp: -r not specified"
**What happened**:
Use command like this:
[code]
Get error like this:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version 1.1.0:

**CloudSide Environment**:
Nothing

**EdgeSide Environment**:
Nothing

[2019-11-05 13:24] rzr commented on #1117
Yes I have the same opinion, I am patching HEAD to remove installer part and rely on static binaries built from source not downloaded from random location, my longer term project is to provide working deb packages that can be installed on (any) debian system (or derived like ubuntu, raspbian etc).

Track:
https://dl.bintray.com/rzr/deb/pool/k/kubeedge/

Relate-to: https://talk.maemo.org/showthread

[2019-11-05 14:18] hacker-h opened #1246 "keadm: debian 10 unsupported"
keadm does not support debian 10:
[code]

[2019-11-06 07:53] zongke commented on #416
Ask, when OPCUA go online?

[2019-11-07 11:31] cwhuang29 commented on #1243
I've solved this problem by replacing `Cgroup Driver: systemd` with `cgroupfs`

[2019-11-07 11:32] cwhuang29 commented on #1243
I've solved this problem by replacing Cgroup Driver: systemd with cgroupfs

[2019-11-11 07:40] hhstu opened #1254 "support service envs"
**What happened**:
dont have envs with kube-dns-service ,it case flannel can not start

[2019-11-11 15:32] fisherxu opened #1255 "Add support charts for k8s versions of different kubeedge versions"
**What would you like to be added/modified**:
Like https://github.com/fabric8io/kubernetes-client#compatibility-matrix, add support charts for k8s versions of different kubeedge versions.

**Why is this needed**:
Make K8s version dependencies more clearer.

[2019-11-12 03:23] kadisi commented on #1255
that sounds good

[2019-11-12 09:28] xiedidan opened #1256 "device event for sensor readings"
**What would you like to be added/modified**:
According to [device-crd#device-events](https://github.com/kubeedge/kubeedge/blob/master/docs/proposals/device-crd.md#device-events), it looks like sensor readings could NOT be watched as device events. So the readings could only be polled. So is there a way to watch these readings from k8s master/api/client?

**Why is this needed**:
To collect sensor

[2019-11-12 11:19] BeneaAlinAndrei opened #1257 "KubeEdge install failed - "make" command won't work"
I tried to install the edge side of KubeEdge, when i run the `make` command from this part in the tutorial
`cd $GOPATH/src/github.com/kubeedge/kubeedge/edgesite
make`   i receive the message:

`bash ../hack/verify-golang.sh
../hack/verify-golang.sh: line 26: go: command not found
go detail version:
../hack/verify-golang.sh: line 28: go: command not found
Makefile:9: recipe for target 'verify' fail

[2019-11-12 11:27] kadisi commented on #1257
you should install go package （version >1.12)
https://golang.org/dl/

[2019-11-12 11:35] BeneaAlinAndrei commented on #1257
Thank you, now the command works!

[2019-11-12 11:35] #1257 closed

[2019-11-12 11:46] BeneaAlinAndrei commented on #1257
P.s. After i run it again it gives me yet another error:
`go: k8s.io/apimachinery@v0.0.0-20190612165923-1799e75a0719: invalid pseudo-version: does not match version-control timestamp (2019-06-12T20:58:21Z)
Makefile:5: recipe for target 'edge_site' failed
make: *** [edge_site] Error 1
(base) ifdstudent@kmaster:/s`

[2019-11-12 12:39] kadisi commented on #1240
set swap on

[2019-11-12 12:41] kadisi commented on #1257
export  GO111MODULE=of f

[2019-11-12 12:46] BeneaAlinAndrei commented on #1257
Nope, dose not work.

`go build -ldflags '-X github.com/kubeedge/kubeedge/pkg/version.buildDate=2019-11-12T12:43:10Z -X github.com/kubeedge/kubeedge/pkg/version.gitCommit=33b972ae0589c55a3b695b4b8dad135e7ef76bfa -X github.com/kubeedge/kubeedge/pkg/version.gitTreeState=clean -X github.com/kubeedge/kubeedge/pkg/version.gitVersion=v1.1.0-beta.0.192+33b972ae0589c5 -X github.com/kubeedge/kubeedge/pkg/v

[2019-11-13 09:45] guanxingfeng commented on #1218
additional，
using image ubuntu:latest、busybox:latest nslookup is ok,but nginx:stable nslookup is slow

[2019-11-13 09:48] guanxingfeng commented on #1218
I think the problem may be in dns AAAA record response。

[2019-11-13 12:53] rzr commented on #1246
I managed to build a deb package for debian 10

Ping me if you want to test my patches  or  try package at:
https://dl.bintray.com/rzr/deb/pool/k/kubeedge/

[2019-11-13 15:11] rzr commented on #1234
I suspect an issue with the installer part ... did you run "init" command ?

Relate-to: https://github.com/kubeedge/kubeedge/issues/1117

[2019-11-13 15:17] rzr commented on #1167
Relate-to: https://github.com/kubeedge/kubeedge/pull/1252

[2019-11-14 02:29] dwSun commented on #1239
@fisherxu
will you fix this at v1.2?
in your *KubeEdge Community Sync Meeting Notes*, I saw this:

[2019-11-14 03:30] fisherxu commented on #1239
@freekingdoms Edged in edgecore is a mini-kubelet which cut from kubelet, and kubeedge edgenode is part of k8s cluster. Your issue here is that you can't access the edge svc from cloud, which not means `the pod on the edge side of kubeedge can not be managed by k8s clusters.`, if not   managed by k8s clusters, we can't deploy and delete pod from cloud side.
And the edgemesh in kubeedge, we support

[2019-11-14 03:38] fisherxu commented on #1239
@freekingdoms  If you want to access the service in edge from cloudside, you need install the CNI plugin to edge same as in cloudside, this's not bug for kubeedge :)

[2019-11-14 03:38] fisherxu commented on #1239
/close

[2019-11-14 03:38] #1239 closed

[2019-11-14 04:01] fisherxu commented on #1254
@hhstu You means don't have envs about service in pod?

[2019-11-14 04:05] hhstu commented on #1254
yes，i use continued。 so that  the pods  shoud  range to  apiserver just like flannel、node-exporter....

[2019-11-14 04:05] fisherxu commented on #1243
Have the `Edge node is NotReady` been resolved now or have some other issues? @cwhuang29

[2019-11-14 04:09] fisherxu commented on #1254
Oh, If the problem has been solved, welcome raise PR to community :)

[2019-11-14 04:47] cwhuang29 commented on #1243
I've solved it

[2019-11-14 05:16] fisherxu commented on #1243
Ok, let's close first :) If have any other issue, can reopen.

[2019-11-14 05:16] #1243 closed

[2019-11-14 05:42] dwSun commented on #1239
@fisherxu we are working on a project which will use Knative to deploy and auto-scale some services.
The problem right now is we can't use Knative to manage network traffic of pods on edge.
All our effort of trying to install CNI plugins are failed.
Is there anything special we should pay attention to when install cni plugins?

[2019-11-14 16:48] Ssx5 opened #1263 "go: k8s.io/apimachinery@v0.0.0-20190612165923-1799e75a0719: invalid pseudo-version: does not match version-control timestamp (2019-06-12T20:58:21Z)"
`cd cloud && make
make[1]: Entering directory '/home/song12300560/gopath/src/github.com/kubeedge/kubeedge/cloud'
bash ../hack/verify-golang.sh
go detail version: go version go1.13.1 linux/amd64
go version: 1.13.1
go build -ldflags '-X github.com/kubeedge/kubeedge/pkg/version.buildDate=2019-11-14T16:44:27Z -X github.com/kubeedge/kubeedge/pkg/version.gitCommit=19180d74ccb85ce900a06d09456d0d5fc25ebc5

[2019-11-15 04:45] cwl233 commented on #1263
maybe you can use go version 1.12, and try again

[2019-11-15 06:10] fengding2 opened #1264 "[edgemesh] support edgemesh in arm arch edge node"
**What would you like to be added/modified**:
I use raspberry pi as the edge node hardware in my solution.
I also check the doc[https://kubeedge.readthedocs.io/en/latest/guides/edgemesh_test_env_guide.html] about edgemesh test deployment. BUT the init container (kubeedge/edgemesh_init:v1.0.0) doesn't work in raspberry pi, and the pod cannot be created also.
I need an edgemesh solution working well

[2019-11-15 07:23] fisherxu commented on #1263
Yes, you can use go version 1.12 and set GO111MODULE=off. @Ssx5

[2019-11-15 08:56] huangy7 commented on #753
[我最后没有通过这个方式部署，运行二进制部署或者容器部署，可以参考下这篇文章
[KubeEdge 详解](http://huangy.top/2019/10/28/KubeEdge%E8%AF%A6%E8%A7%A3/)

[2019-11-15 09:18] Ssx5 commented on #1263
I use go v1.12 and set GO111MODULE=on, run success.
so the problem is go v1.13
Thanks

[2019-11-15 09:18] #1263 closed

[2019-11-17 05:22] zhh2005757 opened #1268 "k8s pod network flannel deployed failed on Raspberry Pi"
One of my edge node is running on a Raspberry Pi 3B+, and I have changed the kube-flannel.yml to adapt the structure of arm, but it still started failed on the edge, the edge node is always in NotReady.Then I ran the commmand "kubectl describe pod kube-flannel-ds-arm-fwnrc -n kube-system" to check out the failed started pod it shows the following:

Warning  Failed          <invalid>

[2019-11-17 10:40] kadisi commented on #1268
@zhh2005757 can you show your edge.yaml ?

[2019-11-19 23:15] hasanlussa commented on #646
i still found this problem on edgesite 1.1.0

[2019-11-20 04:13] zhanglianx111 commented on #672
i use kubeedge version 1.1.0 and the same problem
E1120 12:00:35.140756   12077 configmap.go:252] Error creating atomic writer: stat /var/lib/edged/pods/de3243fe-0ac2-11ea-a913-fa163e736e9f/volumes/kubernetes.io~configmap/kube-proxy: no such file or directory

[2019-11-20 09:54] fisherxu commented on #1264
/cc @arcanique

[2019-11-20 14:19] zhh2005757 commented on #1268
.: /usr/bin/make
_: /usr/bin/make
GOARCHAIUS.CONFIG.PATH: /root/GoProj/src/github.com/kubeedge/kubeedge/edge
GOARCHAIUS_CONFIG_PATH: /root/GoProj/src/github.com/kubeedge/kubeedge/edge
GOPATH: /root/GoProj
GOPROXY: https://goproxy.io
GOROOT: /usr/local/go
HOME: /root
KUBECONFIG: /etc/kubernetes/admin.conf
LANG: zh_CN.UTF-8
LANGUAGE: zh_CN:zh
LOGNAME: root
MAIL: /var/mail/root
MAKE.TERMERR: /dev/pts

[2019-11-20 14:33] zhh2005757 commented on #1268
And I found kube-proxy of edge node was always CrashLoopBackOff, I ran kubeclt describe kube-proxy-r9lqm and it showed the following:
Name:                 kube-proxy-r9lqm
Namespace:            kube-system
Priority:             2000001000
Priority Class Name:  system-node-critical
Node:                 node-1/192.168.137.245
Start Time:           Wed, 20 Nov 2019 22:05:49 +0800
Labels:

[2019-11-22 02:05] zhh2005757 opened #1279 "No where to find the configmap"
I wanna try to deploy a led-control application on the Raspberry Pi board, and I referred this guide [https://github.com/kubeedge/examples/tree/master/led-raspberrypi](url)
But when I ran the command "kubectl apply -f deployment.yaml, the pod maintained the status "ContainerCreating", and I describe the pod it said like the following:
**Warning  FailedMount  <invalid> (x6 over <invalid>)  kubelet,

[2019-11-22 07:34] #1203 closed

[2019-11-22 07:34] chenyg0911 commented on #1203
no response, yet. close it.

[2019-11-23 10:34] bitosky opened #1282 "Cannot use ConfigMap on the edge side"
**What happened**:

I wrote a yaml file to deploy a standalone spark cluster.

And I use a ConfigMap to save master ip config.

But all of my setting is empty  when I check the edge pod log
(everything is OK on the cloud side)

yaml file:
[code]
edge pod log
[code]

`/bin/sh: SPARK_MASTER_IP: command not found` means it's not exists.

**What you expected to happen**:
edge pod get the values of SPA

[2019-11-23 10:39] bitosky commented on #1282
I think I met with the same problem when I try to install calico with calico.yaml. (there is a ConfigMap in the calico.yaml)

[2019-11-25 15:07] Baoqiang-Zhang opened #1283 "image gc manager remove image when process path disk usage rate reach high threshold percent"
**What happened**:image gc manager remove image when process path but not image path disk usage rate reach high threshold percent

**What you expected to happen**: remove image when image path disk usage rate reach high threshold percent

**How to reproduce it (as minimally and precisely as possible)**:
1. create a vm ;
2. mount a disk to /opt
3. run edge_core in /opt
4. use tool dd to full /opt d

[2019-11-25 15:07] Baoqiang-Zhang commented on #1283
https://github.com/kubeedge/kubeedge/blob/66d2f3a194c633109bcfa799ae425972c6243486/edge/pkg/edged/images/image_gc_manager.go#L35

[2019-11-25 17:24] ludfun commented on #1245
Same issue, did you solve it?

[2019-11-26 08:21] bitosky commented on #1245
@ludfun

'/etc/kubeedge//kubeedge/cloud/cloudcore' should be a binary file, but it is a folder.

So I change '/etc/kubeedge//kubeedge/cloud/cloudcore'  into '/etc/kubeedge//kubeedge/cloud/cloudcore/cloudcore'.

But I failed in the end. There are some other BUGs.

Finally, I use source code installation instead.

[2019-11-27 09:00] w-huaqiang opened #1287 "pod is pending"
version: kubeedge-v1.1.0-linux-amd64.tar

**### cloudcore:**
**[root@ansible-server cloudcore]# kubectl get pod -o wide**
NAME                                READY   STATUS    RESTARTS   AGE   IP            NODE        NOMINATED NODE   READINESS GATES
nginx-58f5559846-wl4br              1/1     Running   1          28d   10.244.41.6   node4       <none>           <none>
nginx-deployment-5969ff6c74

[2019-11-27 09:30] vishuPPatel opened #1288 "recipe for target 'cloudcore' failed"
Hello Team

Please Guide us to when i execute command "make all WHAT=cloudcore" get the error.

root@RPCHW002:/src/github.com/kubeedge/kubeedge# make all WHAT=cloudcore
cd cloud && make cloudcore
make[1]: Entering directory '/src/github.com/kubeedge/kubeedge/cloud'
bash ../hack/verify-golang.sh
go detail version: go version go1.13.4 linux/amd64
go version: 1.13.4
go build -ldflags '-X github.com/k

[2019-11-27 09:51] cwl233 commented on #1288
maybe you can use go version 1.12, and try again
similar to #1263

[2019-11-27 13:50] fisherxu commented on #1287
@mysteryman-huaqiang Your k8s version is 1.13？I'd suggest use 1.14/15

[2019-11-28 03:27] clumsy456 commented on #1242
keadm目前还不支持centos吧

[2019-11-28 03:47] clumsy456 opened #1290 "edgecore_image cannot be set correctly by run_daemon.sh"
**What happened**:
I tried to execute `./run_daemon.sh set edgecore_image="kubeedge/edgecore:v1.1.0"`, but `EDGECOREIMAGE` variable in [.env](https://github.com/kubeedge/kubeedge/blob/master/build/edge/.env) file is not changed.

**What you expected to happen**:
The `EDGECOREIMAGE` in [.env](https://github.com/kubeedge/kubeedge/blob/master/build/edge/.env) should equals `kubeedge/edgecore:v1.1.0`.

[2019-11-28 04:50] mysteryman-huaqiang commented on #1287
@fisherxu version is 1.15.3
[root@ansible-server ec2-user]# kubectl version
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5e63777c332469e0cba2", GitTreeState:"clean", BuildDate:"2019-08-19T11:05:50Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCo

[2019-11-28 05:17] vishuPPatel commented on #1288
Yes, i try using the 1.12 go version.

Same issues occurred bellow mentioned.

root@RPCHW002:/src/github.com/kubeedge/kubeedge# make all WHAT=cloudcore
cd cloud && make cloudcore
make[1]: Entering directory '/src/github.com/kubeedge/kubeedge/cloud'
bash ../hack/verify-golang.sh
go detail version: go version go1.12 linux/amd64
go version: 1.12
go build -ldflags '-X github.com/kubeedge/kubeedge/pkg/

[2019-11-28 09:29] hjwoohakimwhj opened #1292 "Can kubeedge deal with gtp protocal? Thanks a lot"
Hi, could you please tell me if kubeedge can parse gtp traffic? Thanks a lot.

[2019-11-28 15:02] #1288 closed

[2019-11-28 15:20] vishuPPatel commented on #1288
hey @kubeedge-bot

what is the problem in this execute the make

root@kube-master:/src/github.com/kubeedge/kubeedge# make all WHAT=cloudcore
cd cloud && make cloudcore
make[1]: Entering directory '/src/github.com/kubeedge/kubeedge/cloud'
go build -ldflags '-X github.com/kubeedge/kubeedge/pkg/version.buildDate=2019-11-28T15:05:08Z -X github.com/kubeedge/kubeedge/pkg/version.gitCommit=d968372eb72ba7

[2019-11-29 06:57] vishuPPatel opened #1294 "make[1]: Leaving directory '/src/github.com/kubeedge/kubeedge/cloud'"
Hello Team

I follow the instruction to Setup cloud side but get the

git clone https://github.com/kubeedge/kubeedge.git $GOPATH/src/github.com/kubeedge/kubeedge
cd $GOPATH/src/github.com/kubeedge/kubeedge

$GOPATH/src/github.com/kubeedge/kubeedge/build/tools/certgen.sh genCertAndKey edge

cd $GOPATH/src/github.com/kubeedge/kubeedge/
make all WHAT=cloudcore

root@kube-master:/src/github.com/kubeed

[2019-11-29 10:54] hjwoohakimwhj opened #1295 "devicecontroller.kube.master configuration key error key does not exist"
**What happened**:
I follow the guides in https://docs.kubeedge.io/en/latest/setup/setup.html to install openedge. However when I run the command "systemctl start cloudcore", cloudcore fails with the following output:
Nov 29 02:45:32 ubuntu cloudcore[60496]: I1129 02:45:32.334879   60496 config.go:85] can not get devicecontroller.context.response-module key, use default value cloudhub
Nov 29 02:45

[2019-11-29 12:50] vishuPPatel opened #1296 "make[1]: Leaving directory"
Hello Team,

I follow your given instruction, i getting the error.

How to fix It.

Thank In Advance.

root@RPCHW002:/src/github.com/kubeedge/kubeedge# cd $GOPATH/src/github.com/kubeedge/kubeedge/
root@RPCHW002:/src/github.com/kubeedge/kubeedge# make all WHAT=cloudcore
cd cloud && make cloudcore
make[1]: Entering directory '/src/github.com/kubeedge/kubeedge/cloud'
bash ../hack/verify-golang.sh
go

[2019-11-30 07:25] #1290 closed

[2019-11-30 08:28] kadisi commented on #1295
#1297

[2019-11-30 19:55] Sellto commented on #1279
I have exactly the same issues....

[2019-12-02 06:24] jedyang commented on #1243
I had the same problem，tks for your solution @cwhuang29
I solved this by change the value of _edged.cgroup-driver_ to _systemd_ in edge.yaml
it workrd
[code]

[2019-12-02 08:11] tengzhexiao opened #1298 "How to make a distinction between k8s cloudnode and edgenode？"
what‘'s the best way to make a distinction between k8s cloudnode and edgenode?
I try to use taints feature, but it's need modify the cloudnode , Is that any other better way to set the edgeside node or cloudside node ?

[2019-12-02 08:39] #1298 closed

[2019-12-02 12:12] fisherxu commented on #1296
Your build is right and successful, what's the problem here? :) @vishuPPatel

[2019-12-02 12:15] fisherxu commented on #1294
Duplicate with #1296 , close first :)
/close

[2019-12-02 12:16] #1294 closed

[2019-12-02 12:17] fisherxu commented on #1295
Does the kubeconfig that you configed in `controller.yaml` exist? @hjwoohakimwhj

[2019-12-02 12:22] fisherxu commented on #1292
Hi, could you please clarify that What will you going to do with this protocol？For edgenode access the device or edgenode access the cloud part?

[2019-12-02 12:28] fisherxu commented on #1287
Does your edgenode have been ready?

[2019-12-02 12:45] fisherxu commented on #1256
I think the device event will be sent to MQTT broker, then send to cloud through device api(devicetwin), we can watch the device state in cloud, thoughts? @xiedidan

[2019-12-02 13:11] fisherxu commented on #1279
@zhh2005757  @Sellto  Sorry for the dely, now in kubeedge when we create the device CRD(`device model/deviceinstance and in the device CRD there will be some configuration about the device which connected to the edgenode`), the devicecontroller will create a configmap, so when you deploy the app to edgenode, which will access the device, so it need read device configuration from configmap.

I gues

[2019-12-02 13:19] fisherxu commented on #1144
Seems issue has been resolved, close it now :)
/close

[2019-12-02 13:19] #1144 closed

[2019-12-02 13:26] vishuPPatel commented on #1296
hey @fisherxu

your point of you above show the log it's successfully build code.

I want to say that **make[1]: Leaving directory**  get the that mean what??

how to know the successfully build.

Thanks in advance.

[2019-12-02 13:29] fisherxu commented on #1296
When you use `make` cmd, it will output `make[1]: Leaving directory`. You can enter the cloud or edge dir, check the binary.
And in shell, you can check the value of `$?`, `0` is success.

[2019-12-03 08:08] xiedidan commented on #1256
@fisherxu that's right, we could watch device events in the cloud...

[2019-12-03 08:08] #1256 closed

[2019-12-03 09:55] fisherxu commented on #1296
Will close first :)

[2019-12-03 09:55] #1296 closed

[2019-12-03 12:23] csehra commented on #454
Hi, Cong
I need help installing KubeEdge on my Centos Server, (Kube Cluster is already installed) , Please can you help or share some steps or link to follow.
Thanks in advance.
Let me know if we can connect on this.
Reachable on:  chiragsehra44@gmail.com

[2019-12-04 02:49] hjwoohakimwhj commented on #1295
Thanks a lot. I miss controller.yaml

[2019-12-04 02:49] #1295 closed

[2019-12-04 02:54] hjwoohakimwhj commented on #1292
Hi. Thanks a lot for your replay. I hope to place the edgenode behind a base which uses gtp protocal. So IoT devices can also use lte to access edgenode.

[2019-12-04 03:21] fisherxu commented on #1292
Hi, at this point we only support websocket and quic protocol for cloud and edge communication. I think you can describe your application scenario in detail, then we can have a further discussion to decide whether support in community :)

[2019-12-04 06:55] vishuPPatel opened #1302 "runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized"
Hello Team

I setup kubeedge using this steps(One Click).

bellow step of log here.

Please guide us here is facing issue.

Thanks In advance.

https://kubeedge.readthedocs.io/en/latest/setup/installer_setup.html

root@kubemaster:/home/vishal# ls
keadm  keadm-v1.0.0-linux-amd64.tar.gz
root@kubemaster:/home/vishal# cd keadm
root@kubemaster:/home/vishal/keadm# ls
keadm  version
root@kubemaster:/home

[2019-12-04 06:58] VipinKrizz commented on #753
@sids-b When i was running keadm init in my Ubuntu machine (version 18.04 LTS) i am getting this error.
error execution phase preflight: [preflight] Some fatal errors occurred:
	[ERROR Port-10250]: Port 10250 is in use
	[ERROR DirAvailable--var-lib-etcd]: /var/lib/etcd is not empty
[preflight] If you know what you are doing, you can make a check non-fatal with `--ignore-preflight-errors=...`
Error

[2019-12-04 09:05] hjwoohakimwhj commented on #1292
Hi，thanks for your reply. KubeEdge documents reveal that device can use different IoT protocals to communicate with edge node. I am just wondering if these devices use 4/5G to transfer their IoT packages to edgenode through radio base, could edgenode parse this kind of  traffic which are IoT packages encapsulated by GTP-U protocal? Thanks a lot.

[2019-12-04 09:38] hjwoohakimwhj opened #1303 "could we know which edge node some devices belong to?"
Hi ! The file named edge.yaml defines the ip of external mqtt server which means edgenode can connect to external mqtt server. However, I am confused that if mult-edgenode could connect to the same external mqtt server.  If so, how could the devices connected to this mqtt server know which edgenode they belong to? Thanks a lot.

[2019-12-04 09:46] VipinKrizz commented on #452
@sids-b **Error which i am getting while doing keadm init in ubuntu machine version18.04 LS.**
**NOTE**
kubernetes version: 1.14.1
docker version: 18.06.3
kubeedge version: 1.0.0

**ERROR LOG**

al027@k8-master:/usr/local/go/src/github.com/kubeedge/kubeedge/keadm$ sudo ./keadm init --kubeedge-version=1.0.0 --kubernetes-version=1.14.1 --docker-version=18.06.3 --kube-config=/root/.kube/config
Same v

[2019-12-04 12:21] yxzking opened #1304 "keadm init show below: error: not able add the apt key due to error : exit status 2"
root@kubeedge-cloudcore:~/go/src/github.com/kubeedge/kubeedge/keadm# ./keadm init --image-repository=registry.aliyuncs.com/google_containers --kubeedge-version=1.1.0 --kubernetes-version=1.16.3 --pod-network-cidr=10.244.0.0/16 --kube-config=/root/.kube/config
Same version of docker already installed in this host
Ubuntu distribution version is bionic
Deb suite to use: kubernetes-xenial
Hit:1 https:

[2019-12-04 15:02] zhh2005757 commented on #1279
I have created the device CRD, but it still didn't work. Where should I go to check whether the configmap was created?

[2019-12-04 15:16] fisherxu commented on #1279
You can use `kubectl get cm -n NAMESPACE` to check the configmap :)

[2019-12-05 02:51] tengzhexiao opened #1306 "10255port not work"
when I start edge_integration_test ,test failed by the 10255port cannot connect.
so I checked in edge-node, the edgecore service is started by 10255port not work.
``
![image](https://user-images.githubusercontent.com/23517745/70199634-1e825500-174d-11ea-81c3-5bc3ebd845e1.png)

that's is the edgecore logs:
2019-12-05 10:47:55.642 +08:00 DEBUG loadbalancer/strategy.go:23 Installed strategy plugin: R

[2019-12-05 06:53] zhh2005757 commented on #1279
I tried it but there still was not the configMap.
NAMESPACE     NAME                                 DATA   AGE
kube-public   cluster-info                         3      20h
kube-system   coredns                              1      20h
kube-system   extension-apiserver-authentication   6      20h
kube-system   kube-flannel-cfg                     2      10h
kube-system   kube-proxy

[2019-12-05 09:07] hjwoohakimwhj opened #1307 "init new edged error"
**What happened**:
When I run "journalctl -u edgecore", I could see these output:
init new edged error, misconfiguration: kubelet cgroup driver: "cgroupfs" is different from docker cgroup driver: "systemd"

which means the cgroup driver of kubelet is cgroups.

However, when I ran "ps aux | grep kubelet":
root        804  2.6  1.9 1308240 75924 ?       Ssl  02:11   4:46 /usr/bin/kubelet --bootstrap

[2019-12-05 09:31] du2016 commented on #1307
edgecore have a mini kubelet,and the host of edgecore should not running kubelet or kubelet is in not ready states,the cgroup driver of edgecore is config by edged.cgroup-driver in edge.yaml

[2019-12-05 11:05] SESA258801 commented on #1233
Usage of KubeEdge v1.1.0 should be forced with the command line:
`sudo ./keadm init --kubeedge-version="1.1.0"`

[2019-12-05 12:01] VipinKrizz opened #1308 "kubeedge not properly installing on both ubuntu and RaspberryPi 3b"
Hi everyone,
I have been trying to install kubeedge on RaspberryPi 3b using this link.
 https://docs.kubeedge.io/en/latest/setup/installer_setup.html

But when i do the make command i'm getting error about make file. saying makefile error and go command not found. At the beginning i installed go version 1.13.x but while installing kubeedge, it specifically said that it requires go version 1.12.x i

[2019-12-05 12:02] VipinKrizz commented on #1308
![kubeedgeerror1](https://user-images.githubusercontent.com/58075083/70233766-3aa1e880-1785-11ea-8ee5-3ecf6cdf3b17.png)
![kubeedgeerror2](https://user-images.githubusercontent.com/58075083/70233767-3aa1e880-1785-11ea-93fb-81d9eed8019d.png)
![kubeedgeerror3](https://user-images.githubusercontent.com/58075083/70233769-3aa1e880-1785-11ea-99d4-672b2cbd2206.png)

[2019-12-05 13:48] sids-b commented on #1308
cc @subpathdev @fisherxu @kadisi

[2019-12-06 01:44] tengzhexiao commented on #1306
Because of my k8s cluster set the kubelet read-only-port disabled, reopen it gona be ok.

[2019-12-06 01:44] #1306 closed

[2019-12-06 06:05] tengzhexiao opened #1309 "edge_integration_test failed in TC_TEST_APP_DEPLOYMENT_1"
during edge_integration_test failed in TC_TEST_APP_DEPLOYMENT_1:

Test application deployment and delete deployment
  /home/gopath/src/github.com/kubeedge/kubeedge/edge/test/integration/appdeployment/application_test.go:41
    TC_TEST_APP_DEPLOYMENT_1: Test application deployment in edgecore [It]
    /home/gopath/src/github.com/kubeedge/kubeedge/edge/test/integration/appdeployment/application_test

[2019-12-06 06:18] hjwoohakimwhj commented on #1307
Thanks a lot.

[2019-12-06 06:18] #1307 closed

[2019-12-06 07:39] tengzhexiao commented on #1309
when I create a pod use testManager ,show :
W1206 15:37:31.545679  118189 context_channel.go:295] Failed to get channel, type:edged
W1206 15:37:31.545712  118189 context_channel.go:72] Get bad module name :edged when send message, do nothing

[2019-12-06 08:11] hjwoohakimwhj opened #1310 "Are there any guide to instruct us to make a client to communicate with event bus?"
Hi. I read the guides in https://docs.kubeedge.io/en/latest/modules/edge/eventbus.html. As the pages  show, a client communicate with eventbus through mosquitto. Eventbus subscribe and publish a series of topic to mosquitto.
My questions are:
(1)If we want to make a client like your examples "testmachine", what should I do to construct the data which can be processed by eventbus and devicetwin? If

[2019-12-06 09:23] tengzhexiao commented on #1309
Failed to get channel is ok,but the another exception is:
"failed to read pod IP from plugin/docker: Couldn't find network status for default/redis through plugin: invalid network status for" when I try to deploy the redis pod into edge-node.

[2019-12-06 14:31] #1304 closed

[2019-12-07 04:11] VipinKrizz commented on #1308
@sids-b
the issue is still persisting can somebody suggest any help.

[2019-12-07 19:05] subpathdev commented on #1308
Sorry for the late replay:

Addressing the first problem. ( go command not found)
This says you didn't have installed go or the binary, which called go could not be found. When you download go and unpack it to /usr/local you have to append /usr/local/go/bin in your path. This command can be used
[code]

[2019-12-07 19:07] subpathdev commented on #1308
The tool keadm will not used the master branch. It will download the latest release and start edgecore or cloudcore from this build. If you want to use the master branch, you have to build the binaries on your own.

[2019-12-07 19:11] subpathdev commented on #1308
On which system you want to installed the package "gcc-arm-linux-gnueabiu"?

This is a used to cross compile the binary on a different architecture, to be used on the raspberry pie. You can use the normal gcc package on your raspberry pie to build the required binaries.

[2019-12-07 19:31] subpathdev commented on #1308
On your laptop can you please upload the output of the following commands `free` and `sudo kubeadm init --pod-network-cidr=10.0.0.0/10`

[2019-12-08 13:15] #1213 closed

[2019-12-09 02:46] #1292 closed

[2019-12-09 05:39] VipinKrizz commented on #1308
Yes sir, My go command issue was fixed.

[2019-12-09 05:47] VipinKrizz commented on #1308
@subpathdev
Sir actually i want to install kubeedge on raspberrypi. After the git cloning and taring when i do the make command i am the error
![IMG_20191209_111407](https://user-images.githubusercontent.com/58075083/70410557-7c78aa80-1a75-11ea-9acb-e480158f03e7.jpg)