[2019-05-09 08:50] tedli commented on #486
Did the 'curl' output you provide taken inside cluster or outside cluster?
If outside the cluster (like you curl on a host machine), you need to try inside cluster. You can deploy a alpine nginx, then exec into the nginx pod and in the pod, try curl to apiserver, to see connectivity.
If inside the nginx pod still cannot connect to apiserver. Then it is the network setting problem. Not kubeedge's w

[2019-05-09 08:57] googlebabaio commented on #486
Thanks! Let me try.

[2019-05-09 09:24] kadisi opened #487 "how to add new package into vendor"
**What would you like to be added**:

do we have some instruction if i want to add new package or upgrade package  into vender?
i can not find vender.json file.

**Why is this needed**:

[2019-05-09 10:01] #487 closed

[2019-05-09 12:15] #478 closed

[2019-05-09 12:26] pavan187 opened #488 "Randomly deployment application pod on KubeEdge node are not getting deleted"
**What happened**:
Application pod deployed in kubeedge node are not getting deleted.
**What you expected to happen**:
Application pod should be deleted when the deployment deleted
**How to reproduce it (as minimally and precisely as possible)**:
1. Setup KubeEdge Env
2. Created multiple deployments on to KubeEdge Node
3. Wait untill all pods come into Running state.
4. Delete all the deployements

[2019-05-09 12:26] pavan187 commented on #488
/assign @sids-b

[2019-05-09 17:24] CindyXing commented on #482
Agree with this request. Our test dependency shouldn't be in product.

When first setting up KubeEdge, one would be asked to ensure c++ compiler installed. I assume it was due to dbtest.

[2019-05-09 17:29] sids-b commented on #482
+1
@CindyXing , gcc is required for setting up sqlite3.

[2019-05-09 17:31] sids-b commented on #483
This looks like a very valuable and must have feature.

[2019-05-09 17:37] sids-b commented on #469
Looks a reasonable feature to add.

[2019-05-10 07:49] sujithsimon22 opened #491 "Bluetooth mapper pod keeps restarting"
**What happened**:
The bluetooth mapper pod keeps restarting after the deployment is created. This is caused because the program exits when it does not find the file device_profile.yaml.

**What you expected to happen**:
The mapper should be able to find the file it is expecting from the config map which is loaded as a volume to the container.

**How to reproduce it (as minimally and precisely as

[2019-05-10 07:52] sujithsimon22 commented on #491
thanks @lidiyag for helping me with this issue :)

[2019-05-10 09:51] #491 closed

[2019-05-10 13:46] sids-b commented on #292
Hi @priyankt68 , were you able to run KubeEdge on MacOS

[2019-05-10 14:26] rohitsardesai83 opened #495 "docs: Add usage instructions to run kubeedge using a release package."
**What happened**:
There are no documentation steps to show how to run kubeedge using a release package.

**What you expected to happen**:
Introduce a section in the [usage](https://github.com/kubeedge/kubeedge/blob/master/docs/getting-started/usage.md#usage) which can show how to download a kubeedge release package ( e.g v0.3) from https://github.com/kubeedge/kubeedge/releases and run.
Users migh

[2019-05-10 14:28] rohitsardesai83 commented on #441
Opened #495 to track item 2.

[2019-05-10 14:30] rohitsardesai83 commented on #441
/assign @edisonxiang

[2019-05-10 14:45] rohitsardesai83 commented on #471
@kadisi , its good that we can have common constants defined in the common package.
Is this list of duplicate constants big or small ? If small , we can live with it for now. Else we move to common.

[2019-05-10 15:03] srivatsav123 opened #496 "build : cross compilation of edge_core binary on arm arch fails."
**What happened**:
When we make edge_core(inside edge folder),cross compilation of edge_core is not sucessfull for arm architecture.
**What you expected to happen**:
file edge_core(command must show you ARM,in this case its not showing)
**How to reproduce it (as minimally and precisely as possible)**:
cd $GOPATH/src/github.com/kubeedge/kubeedge/edge
make edge_core
file edge_core(check arm is there

[2019-05-10 15:11] srivatsav123 commented on #495
@rohitsardesai83 :Please refer PR for README.md installer
https://github.com/kubeedge/kubeedge/pull/489

[2019-05-10 18:21] rohitsardesai83 commented on #232
@mryalamanchi , the device CRD feature is now available . Please feel free to try out and let us know your feedback.

[2019-05-10 18:29] rohitsardesai83 commented on #341
we need to see how kubernetes handles such tests and try to attempt and write whatever we can .

[2019-05-10 18:33] rohitsardesai83 commented on #265
the issue mentions support for mqtt and rest . service bus supports rest only right ?
are we targeting mqtt in future release ?

[2019-05-10 18:35] rohitsardesai83 commented on #241
@anvithks , how do we proceed with this issue ?

[2019-05-10 18:38] rohitsardesai83 commented on #291
@wrannaman , @batazor , can we come up with some document which can have your use cases documented ?

[2019-05-10 18:39] rohitsardesai83 commented on #312
@kevin-wangzefeng , how do we go about this ? Do we need to have a document in place which describes this ?

[2019-05-10 18:42] rohitsardesai83 commented on #304
@yongwww , did you get a chance to look into this issue ? we have introduced an installer as well now for which the documentation is in progress. https://github.com/kubeedge/kubeedge/issues/477.
Please check. Thanks.

[2019-05-10 18:43] rohitsardesai83 commented on #315
Sorry for the delayed response , I will think more about this . Do you mean to say ConfigMapGroup is a new CRD ?

[2019-05-10 18:51] rohitsardesai83 commented on #405
we need to identify which issues we can finish in v0.3 timeframe and then take up the rest of the issues in 1.0. @sids-b , please create separate issues for things we can't do in 0.3 release.

[2019-05-11 03:00] zhanghongtong commented on #464
@edisonxiang Sorry to reply so late, I use the node selector to specify nginx-deployment to the edge node, but, nginx-deployment is still deployed in the container of the ded-deamon in the pod of the edgenode. The pod of the edgenode is running on the cloud node, so the nginx-deployment is not deployed on the edge node host.

[2019-05-11 12:23] priyankt68 commented on #292
Here are the results for my run on an Ubuntu machine. @srivatsav123 @sids-b

#### Exporting environment variables for cross compiling
[code]

#### Build edge_core in Ubuntu
[code]

[2019-05-13 01:14] #496 closed

[2019-05-13 02:40] qizha opened #498 "add the real usage scenarios as motivations in edgesite design doc"
**What would you like to be added**:
Update the design doc of the edgesite to add the usage scenarios why we need to run edge in this mode.

**Why is this needed**:
In some of the usage scenarios, people need to use edgesite and the lightweight is one requirement under those use cases. We need to clarify those useage scenarios in the design document coz lightweight is not the only thing there we n

[2019-05-13 03:14] googlebabaio commented on #486
Problems Caused by Network Configuration

[2019-05-13 03:14] #486 closed

[2019-05-13 04:47] #498 closed

[2019-05-13 04:51] sids-b commented on #463
/assign @rohitsardesai83

[2019-05-13 07:23] edisonxiang commented on #464
@zhanghongtong perhaps I have some misunderstandings with the `edgenode` which you were talking about.  Actually the `edgenode` is not a vm in this kind of deployment. the `edgenode` is a pod which will connect with the `edgecontroller` in the pod. so in this kind of deployment, actually
it is not neccessary to distinguish the cloud and the edge:)

[2019-05-13 08:25] zhanghongtong commented on #464
I feel that I need to re-describe my problem to avoid meaningless misunderstandings.

First we define several concepts

- cloud node : cloud physical machine
- edge node : edge physical machine
- edge controller pod : edge controller deployed via k8s
- edge core pod : edge core deployed by k8s

Currently I am trying to use a cloud node and an edge node to form a cluster by k8s deployment. I did th

[2019-05-13 08:42] #463 closed

[2019-05-13 08:55] #461 closed

[2019-05-13 15:20] srivatsav123 commented on #292
yes..i too faced..
I just referred the blog,It says
we have to create **OS X cross compiler tool chain**.To build the edge_core for mac(darwin)
If time permits please refer this blog
**https://rwalk.xyz/rust-cross-compiling-from-ubuntu-to-os-x/**
I tried but,ended up in vain since i dont have valid apple login account to download **Xcode_7.3.1.dmg**.....!!

[2019-05-13 16:02] kevin-wangzefeng opened #505 "docs: Clarify membership criteria"
**What would you like to be added**:
Clarify membership criteria

**Why is this needed**:
Help new contributors understand the community roles setup, and how to contribute more to the community.

[2019-05-14 03:53] kevin-wangzefeng commented on #312
Yes, we need a document for this. Currently I'm working on the versioning doc, not yet started the API convention and general graduation / deprecation guide.

[2019-05-14 04:43] lidiyag opened #507 "ConatinerName should be given as a flag in run_daemon.sh"
**What would you like to be added**:
![IssueContainerName](https://user-images.githubusercontent.com/14183934/57671116-f0fa8080-762f-11e9-9936-d0ffe6a7b4f1.png)
Here by default the name of container is always edgecore(github.com/kubeedge/kubeedge/build/edge/run_daemon.sh). The script should be able to take container name as a flag

**Why is this needed**:
This is required to run multiple container

[2019-05-14 04:44] lidiyag commented on #507
cc @rohitsardesai83  @sids-b  @edisonxiang  @pavan187

[2019-05-14 06:07] sids-b commented on #507
Sounds Fair @lidiyag

[2019-05-14 08:07] chendave commented on #443
Actually, I didn't get the point of using qemu-*-static here, since it is used for cross-build, but obviously, the dockerfile here don't have any clue with cross build.

The below doc mention this, but it looks like a different for deployment.
https://github.com/kubeedge/kubeedge/blob/master/build/edge/README.md#deploy-kubeedges-edge-nodes-using-containers

BTW, I am on this.

[2019-05-14 10:05] #507 closed

[2019-05-14 13:55] samy2019 opened #513 "Enhancements to kubeEdge installer"
**What would you like to be added**:
1. It is better to have separate Flag options controller and k8s apiserver
2. Creation of cloud and edge node configuration files should be dynamic using json and structures
3. Use Curl to add KubeEdge edge nodes to K8S api-server, rather than kubectl. It helps in reduce memory footprint in edge side.
4. Flag to set KubeEdge edge node ID by user, if not provide

[2019-05-14 13:56] samy2019 commented on #513
/assign @samy2019

[2019-05-14 14:24] pavan187 opened #515 "Over Quic Protocol, edgecontroller is allowing to add nodes more than the node-limit configured"
**What happened**:
Over quic protocol Edgecontroller is allowing to add EubeEdge edgenodes more the node-limit mentioned, while testing over websocket edgecontroller is not allowed to add KubeEdge Edge nodes more than the node-limit.

**What you expected to happen**:
Edgecontroller should not allow to add more than the node-limit configured.
**How to reproduce it (as minimally and precisely as pos

[2019-05-14 14:24] pavan187 commented on #515
/assign @kexun

[2019-05-15 01:37] zhanghongtong commented on #464
Anything update?

[2019-05-15 02:16] kevin-wangzefeng opened #517 "docs: Add guidance for submitting changes to github and get accepted"
**What would you like to be added**:
Describe the workflow that we apply for checking-in changes.

**Why is this needed**:
Useful to new contributors.
ref: https://github.com/kubeedge/kubeedge/pull/506#issuecomment-492476244

[2019-05-15 06:09] samy2019 opened #518 "Lint is not being performed over for all the folders in repo"
**What happened**:
Lint is not being performed in all the folders in the repo. Hence the PR which has lint issues don't get detected and pass the lint test

**What you expected to happen**:
Lint should be performed over all the folders.
Code from Makefile

-------------------------------------------
.PHONY: edge_verify
edge_verify:
	cd edge && $(MAKE) verify
---------------------------------------

[2019-05-15 06:22] #477 closed

[2019-05-15 09:40] samy2019 commented on #518
/unassign @samy2019
/assign @pavan187

[2019-05-15 09:45] samy2019 opened #519 "KubeEdge Installer: Add file checksum comparison while downloading KubeEdge binaries"
**What would you like to be added**:
File checksum check for KubeEdge binaries is missing in installer flow. It was possible before because checksum of any of the binaries were not added for any release < 0.3.0-beta.0.
Now with Issue #437 done, it should be possible.

**Why is this needed**:
Keeping checksum of release artifices are important because, then the automation tool will know in runtime

[2019-05-15 09:50] samy2019 opened #520 "KubeEdge Installer: Adding support to establish secure connectivity between edgecontroller and K8S api-server"
**What would you like to be added**:
Insecure mode of connectivity between edgecontroller and K8S api-server is supported now so that end user can start using KubeEdge installer and explore KubeEdge.
Now we should also support "Secure" connectivity.

**Why is this needed**:
Secure connectivity is always preferred than insecure mode. Hence it is required to be supported.

[2019-05-15 09:53] sujithsimon22 opened #521 "Device controller not copying data correctly to config map in the case of bluetooth"
**What happened**:
Device controller not copying the data to the config map correctly in case of bluetooth devices in  the data write section of visitor config.

**What you expected to happen**:
The values given through the input files should not be modified
![image](https://user-images.githubusercontent.com/35599628/57766620-4c5a6a80-7725-11e9-999d-15d39803d18d.png)

**How to reproduce it (as min

[2019-05-15 09:54] sujithsimon22 commented on #521
@sids-b Can u pls take a look at this issue ?

[2019-05-15 09:54] samy2019 opened #522 "KubeEdge Installer: Add configurable parameters for all the required fields in controller.yaml and edge.yaml"
**What would you like to be added**:
Adding configurable parameters to KubeEdge init and join, so that it can be used to populate the required fields in controller.yaml and edge.yaml.

**Why is this needed**:
It gives more and better user experience to run own efficient KubeEdge environment and deployment.

[2019-05-15 10:39] yangbin1212 opened #523 "the node is notready,and the kube-proxy pod always pending;"
**What happened**:
follow the step <https://github.com/kubeedge/kubeedge/blob/master/docs/getting-started/usage_zh.md> --**kubectl apply -f $GOPATH/src/github.com/kubeedge/kubeedge/build/node.json**  to creat edgenode,but the node is notready,and the kube-proxy pod always pending;
[code]
from the dashboard ,i see :** 0/2 nodes are available: 1 Insufficient pods, 1 node(s) didn't match node selecto

[2019-05-15 11:21] sids-b commented on #521
![propertyvisitor](https://user-images.githubusercontent.com/30088497/57771867-a19c7900-7731-11e9-95d8-d99e9631873f.png)
We just directly copy the full structure as is.

[2019-05-15 16:17] sids-b commented on #523
@yangbin1212 , after applying the node.json, we need to start edge_core and it should get connected to edgecontroller successfully to get the node ready.

[2019-05-15 16:36] CindyXing opened #525 "Consolidate the kube config at controller"
**What happened**:
In both edgecontroller and edgesite controller code, there are many fields to define the kubernetes configuration.

**What you expected to happen**:
This is code cleanup/enhancement. We should:
1. wrap all KubeX fields into a struct
2. wrap all default values into several structs
3. use struct copy / deep copy to set default values for KubeX fields, and then rewrite those user i

[2019-05-15 18:10] rohitsardesai83 commented on #443
/assign @chendave

[2019-05-15 18:37] rohitsardesai83 commented on #482
@trilokgm , any updates on this ?

[2019-05-15 18:38] rohitsardesai83 commented on #471
@kadisi , any update on this ?

[2019-05-15 18:41] rohitsardesai83 commented on #464
@edisonxiang , can you please check ?

[2019-05-15 18:41] rohitsardesai83 commented on #452
@srivatsav123 , is this taken care of ?

[2019-05-15 18:43] rohitsardesai83 commented on #488
@sids-b , we need to check this soon.

[2019-05-16 01:54] yangbin1212 commented on #523
I had run the edge_core and the edgecontroller,but the edgecontroller log shows:
[code]
the edge_core`s log show:
[code]
What should I do next?

[2019-05-16 02:06] yangbin1212 commented on #523
I also transfer the certificate file and the edge`s "conf/"  to the edge node,and modify the edge.yaml ;

[2019-05-16 02:08] m1093782566 commented on #523
@yangbin1212

Did you try the one-click installer to install kubeedge https://github.com/kubeedge/kubeedge/blob/master/keadm/README.md?

[2019-05-16 02:19] yangbin1212 commented on #523
I have not tried，I just refer to this doc <https://github.com/kubeedge/kubeedge/blob/master/docs/getting-started/usage.md>

[2019-05-16 02:47] yangbin1212 commented on #523
In this way, if my cloud nodes and edge nodes need ubuntu's X86 architecture platform, my edge nodes are ready to be deployed on the arm platform. Is it supported?

[2019-05-16 02:50] m1093782566 commented on #523
I think this is a reasonable feature request. @srivatsav123

[2019-05-16 02:57] kadisi opened #526 "Why doesn't edge reference dockershim to support multiple container runtimes？"
**What would you like to be added**:

**Why is this needed**:
when i want let edge support multiple container runtime . i found that edge do not reference dockershim , and only use dockerclient to operator container directly。
[code]
and if we only support docker, it is ok.

but if we support multiple container runtime, There will be a lot of trouble。 We lack a consistent cri implementation like ku

[2019-05-16 03:02] m1093782566 commented on #526
@kadisi

Yes, correct and CRI support is in our v1.0 roadmap.

[2019-05-16 03:13] kadisi commented on #526
@m1093782566 can i let it support dockershim first ?

[2019-05-16 03:15] m1093782566 commented on #526
I think it's OK but let's discuss with @naveensriram and @gpinaik before starting the project.

[2019-05-16 05:11] sids-b commented on #488
I think this will solve the problem https://github.com/kubeedge/beehive/pull/8
cc @edisonxiang

[2019-05-16 05:16] srivatsav123 commented on #523
@yangbin1212 @m1093782566
 currently one click installer supports for only ubuntu os(x86) architecture...It will not support arm architecture
But you could try these below steps to run edge node in arm machine
1.take ubuntu(above 16.04), architecture x86 - cloud node
refer: **https://github.com/kubeedge/kubeedge/blob/master/keadm/README.md**
setup kubernetes and edgecontroller in one machine using

[2019-05-16 05:32] srivatsav123 commented on #452
currently no...
if we didnt apply these yaml,there will be no effect on the desired output.(kubeedge installer will work fine)
I mean the edge node will sucessfully register , to the edgecontroller...
But since device crds are not created the device controller will not startup and the logs will be shown as put above..

I have a query related to the apply of CRDS should we statically apply the  dev

[2019-05-16 05:36] rohitsardesai83 commented on #452
we can have an argument to install device crds or not , based on that the yamls need to be applied. The yamls cannot be changed . If new properties need to be added , a PR has to be submitted with code generation.

[2019-05-16 05:48] srivatsav123 commented on #523
@sids-b, But whatever the image yangbin has uploaded.. there i saw kubeproxy pod is pending may be that effecting the setup???..
@yangbin1212 -can you please describe the kubeproxy pod, and put the results here so that debugging will be easy..

[2019-05-16 06:12] sids-b commented on #523
@srivatsav123 KubeProxy pod is not required for KubeEdge setup to comeup.

[2019-05-16 06:16] kadisi commented on #520
@samy2019 , we can use `controller.kube.kubeconfig` config to support "secure" connectivity.  is it right?

[2019-05-16 06:17] yangbin1212 commented on #523
First of all, after I created the master of kubernetes, all the pods are in the running state. Then I follow the documentation and it will automatically start a proxy. The newly created proxy will always belong to pending.
[code]

[2019-05-16 06:19] yangbin1212 commented on #523
Execute **kubectl apply -f $GOPATH/src/github.com/kubeedge/kubeedge/build/node.json** and a new proxy will be created.

[2019-05-16 06:23] pavan187 opened #528 "Pod Deployment failed when EdgeCore re-initialized to use Quic from websocket"
**What happened**:
Pod Deployment is failing when re-initializing edgecore to use QUIC protocol from Websocket protocol.

**What you expected to happen**:
Pod deployment should be successful.
**How to reproduce it (as minimally and precisely as possible)**:
1. Setup Kubeedge Env
2. Register EdgeNode to K8s Master
2. Do the cloudcore deployment.
3. Do the Edgecore deployment with protocol: websocke

[2019-05-16 06:25] pavan187 commented on #528
/assign @kexun

[2019-05-16 06:28] kadisi commented on #526
#295

[2019-05-16 06:35] sids-b commented on #523
Yess, It may get created but it will not stop kubeedge from coming up and giving Ready state in apiserver.

[2019-05-16 06:53] pavan187 commented on #528
[edge_core.logs.zip](https://github.com/kubeedge/kubeedge/files/3185730/edge_core.logs.zip)

[2019-05-16 07:33] #443 closed

[2019-05-16 07:38] #438 closed

[2019-05-16 09:53] yangbin1212 commented on #523
I don't know how to get it, re-do it again, the edge node has gotten up. At this time, the proxy state becomes ContainerCreating, but the deployed application can't be accessed. We still need to continue troubleshooting. If this method solves the deployment, we will try your back. Another option.

[2019-05-16 11:07] srivatsav123 commented on #304
@sids-b -can we close this issue?. Installer README.md got merged..!!

[2019-05-16 13:11] #523 closed

[2019-05-16 13:23] pavan187 opened #529 "Stresstest : Randomly pod is taking long time to Delete/Create on KubeEdge node"
**What happened**:
Application deployed on KubeEdge node taking long time to comes into Running state/Deleting from EdgeNode.
**What you expected to happen**:
1. Ideally when the image exist in the KubeEdge node, application deployed on Edgenode should not take longtime. Same applies for delete pod , delete Pod should not take long time.

**Pod Creation logs:**
![image](https://user-images.githubu

[2019-05-16 13:26] sids-b commented on #529
Glad to see that we are finding issues with Performance testing. Thanks @edisonxiang and @pavan187 .

[2019-05-16 13:35] sids-b opened #530 "e2e test failing randomly"
**Which jobs are failing**:
e2e test job is failing

**Reason for failure**:
I suspect IP is not reachable sometimes.

[2019-05-16 13:35] sids-b commented on #530
/assign @pavan187

[2019-05-16 13:36] sids-b commented on #530
Lets try to make an alternative setup if the IP is not reachable. Many PR's CI is failing.

[2019-05-16 13:45] ugvddm commented on #529
Hi @pavan187 , how many edge nodes in your test environment? was it spent time in schedule phase? how about the  resource usage of kube-apiserver/edge-controller and other component?  please post more information, thx.

[2019-05-16 13:48] sids-b commented on #304
@yongwww , please have a look at our latest README. We have broken down README into relevant seperate docs. If you have setup KubeEdge on MAC, please add a few steps in README. Thanks

[2019-05-16 14:38] pavan187 commented on #530
Seems like environment issue api server response is getting timeout, redeployed the e2e env..now tests are passing.

[2019-05-16 18:15] CindyXing opened #531 "Consolidate the controller code for kubeedge edgenode and edgesite"
**What happened**:
Currently we dup-ed controller code for edgenode and edgesite.

**What you expected to happen**:
To enable code reuse, we should remove the un-necessary redundancy and prevent too many branching in the code.

The proposal is to keep the controller/manager code for edge and edgesite where edgesite will query pod/configmap/secret metadata specifically for the node; and edge code w

[2019-05-17 03:52] lzx258 opened #532 "handlePodListFromEdgeController don't work"
**What happened**:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:
- Hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Others:

[2019-05-17 03:53] m1093782566 commented on #532
cc @sids-b

[2019-05-17 03:55] #257 closed

[2019-05-17 03:57] sids-b commented on #532
@lzx258 , can you please describe the issue more precisely ? Please answer these questions
1) What happened ?
2) What you expected to happen ?
3) How to reproduce it ?

[2019-05-17 04:10] sids-b commented on #532
Ohh, I get it now @lzx258 , Thats a nice catch.
I think the solution would be to move UnMarshall above the for loop
[code]

Can please verify the solution and raise PR with the fix? There is also a handlePodListFromMetaManager function just above this function for reference if the above solution causes some problem :)

[2019-05-17 04:14] sids-b commented on #530
Thanks @pavan187 , I am closing the issue then.

[2019-05-17 04:14] #530 closed

[2019-05-17 04:59] yangbin1212 commented on #365
Hello, I have encountered this problem. How do you solve it? Look at another issue, I don’t understand it. Is it not supported?

[2019-05-17 05:02] sids-b commented on #365
@yangbin1212 , yess logs and exec is not supported as it seems edged doesn't expose any port for that.

[2019-05-17 05:11] yangbin1212 commented on #365
What I want to ask is how do I confirm that my application has been deployed successfully? Because I didn't see the page I could eventually access.

[2019-05-17 05:15] sids-b commented on #365
We are have ing a eature in pipeline called EdgeMesh in pipeline. Once it is implemented, we can access the application running on edgeNode . Please see the design here https://github.com/kubeedge/kubeedge/blob/master/docs/proposals/edgemesh-design.md

[2019-05-17 07:01] yangbin1212 opened #533 "Refine document description"
**What would you like to be added**:

Before running ./edgecontroller and Edge_core, is there any other need to modify this configuration file in addition to the configuration on the documentation?
edge.yaml (edge) inside the edged: **interface name: eth0**, this eth0 should be changed to the edge node's interface name, this I have changed，If not modified, edgenode will prompt an error and cannot

[2019-05-17 07:03] m1093782566 commented on #533
cc @srivatsav123

[2019-05-17 07:12] lzx258 commented on #532
ok, I raise PR for this bug see https://github.com/kubeedge/kubeedge/pull/534
pls review

thinks

[2019-05-17 07:53] #513 closed

[2019-05-17 09:09] #532 closed

[2019-05-17 13:16] samy2019 commented on #520
@kadisi , Yes you are correct. Please refer KubeEdge README.md.
This information should be set from CLI of "kubeedge init" flag and saved to controller.yaml, so that it will be read by k8s api-server and edgecontroller for secure connectivity.

[2019-05-17 13:29] pavan187 opened #538 "StressTest :EdgeController is not updating node ready status to K8s Master"
**What happened**:
Deployed 50 EdgeNode through K8s Deployment.
Kubeedge node pods came up and Running in 30s of time, and nodestatus event being send to cloud. But KubeEdge Nodes ready status is not deing updated to k8s master by EdgeController.

**What you expected to happen**:
EdgeController should update the node ready status to k8s master as on when the event is received from EdgeNode.
*
**Ho

[2019-05-17 13:29] pavan187 commented on #538
/assign @sids-b
/cc @rohitsardesai83

[2019-05-17 13:30] pavan187 commented on #538
/cc @rohitsardesai83

[2019-05-17 13:50] pavan187 commented on #529
@ugvddm , currently i tested with 20 EdgeNodes,  no delay in scheduling, issue is in pod creation and deletion on EdgeNodes, as it is observed that taking more time to create/delete.

Coming to resource utilization, currently im working on that, will post the info once it is done.
Thanks.

[2019-05-17 15:15] Raul14 opened #539 "Error creating CRDS yaml files for device and devicemodel"
Hi, I'm Raúl:

I'm just trying to install KubeEdge for research within the platform, but following the instructions of the README note I've been stopped before running the cloud component. I cannot create the _"devices_v1alpha1_devicemodel.yaml"_ or the _"devices_v1alpha1_device.yaml"_ becouse of the next error:

Error from server (Forbidden): error when creating "devices_v1alpha1_decivemodels.yam

[2019-05-17 18:15] sids-b commented on #539
It looks like some issue with Kubernetes setup. Can you please share the k8s version and how did you bring it up ?

[2019-05-18 04:46] ugvddm commented on #529
It's kind of weird, need more test

[2019-05-18 04:55] #505 closed

[2019-05-18 05:02] sids-b commented on #538
@pavan187 , check the PR #536 . One cause for this could be the limiting of resources for edgecontroller. Since edge controller is a cloud component, we may not have resource constraint environment. That PR solves the issue. After the pr merge, we can verify this issue again.

[2019-05-18 05:15] sids-b commented on #529
@pavan187 @ugvddm ,I think it is because we are miss reliable message delivery and also because of resource limiting of edgecontroller container

[2019-05-18 08:25] pavan187 commented on #538
@sids-b , EdgeNodes are coming into running state after 3 to 4 minutes of time, i dont think the resource limit will solve the issue, issue is delay in updating the staus to master by edgecontroller

[2019-05-18 08:35] sids-b commented on #538
Lets put some extra logs in this function https://github.com/kubeedge/kubeedge/blob/master/cloud/pkg/controller/controller/upstream.go#L244 and see at which point we are hitting error condition. The updateStatus function call has to executed successfully to update the node status in apiserver. The call is on line https://github.com/kubeedge/kubeedge/blob/master/cloud/pkg/controller/controller/upst

[2019-05-18 09:06] ugvddm commented on #529
That is a really problem, any plan?

[2019-05-18 12:11] googlebabaio opened #541 "suggest add metrics api on edged"
**What would you like to be added**:
add  metrics api on edged

**Why is this needed**:
such like metrics api on kubelet , can docking prometheus.

[2019-05-18 16:16] sids-b commented on #529
Not sure exactly. Need to think. Do you have a suggestion? @ugvddm

[2019-05-19 05:26] googlebabaio commented on #464
1. Programs of `edge_core` should be running on edge node ,It can be binary or image.
2.Want to see the edge node's status is `ready`, edge node needs to start the  `edge_core` program. If it's running as image, start it with `docker run`  ,not deploy in k8s.
3. the purpose for start edge_core is:
(1) Start the client of websocket on edge node
(2) Connect the web socker server provided by Cloud-Ed

[2019-05-19 08:29] #528 closed

[2019-05-19 08:59] sids-b opened #543 "Use Viaduct to start Websocket server in CloudHub"
**What happened**:
Websocket Server in cloudHub is not started using viaduct

**What you expected to happen**:
Viaduct is a wrapper for quic and websocket. We should use viaduct to start both quic and websocket server in cloudhub

[2019-05-19 08:59] sids-b commented on #543
cc @kexun

[2019-05-19 09:49] sids-b commented on #528
@pavan187 , Can you please verify once again ? We can reopen if the issue persists

[2019-05-19 10:00] #515 closed

[2019-05-19 14:27] ugvddm commented on #529
@sids-b , I have a simple idea to address it,  First of all, Edge core,  periodically, sends a full amount of information（e.g, pod, configmap） to the cloud side,  edgecontroller compare of it  that has been cached, and if it is inconsistent, sends a difference of section to the edge side,  edge side will be consistent with cloud side finally, thoughts?

[2019-05-19 14:31] sids-b commented on #529
Yess, This PR does something similar. It checks if pod exists in cloud and if not, it will send delete message to edge core. https://github.com/kubeedge/kubeedge/pull/537

[2019-05-19 14:54] ugvddm commented on #529
It's some different, All of operation will be cached in edge controller, include create/update/delete. when sync full info from edge side, we'll know that which message is missed, then resend it.

[2019-05-19 19:23] sids-b commented on #529
@ugvddm Sounds like a plan. Can you raise a PR for this solution ?

[2019-05-20 01:30] ugvddm commented on #529
yes ，but we need more discuss, @qizha  thoughts?

[2019-05-20 01:49] zhanghongtong commented on #464
@googlebabaio Oh, I know, thx.
Bug if the edge core cannot be deployed through k8s, why does [this document](https://github.com/kubeedge/kubeedge/blob/master/build/edge/kubernetes/README.md) exist?

[2019-05-20 02:11] googlebabaio commented on #464
@zhanghongtong  Yes,I think  u r right!

I just run edge_core contaniner by docker-compose. [Deploy kubeedge's edge nodes using containers](https://github.com/kubeedge/kubeedge/tree/master/build/edge)

I do not deploy the edge part into a k8s cluster.. I think this is a chicken and egg problem.hhh..

[2019-05-20 02:20] zhanghongtong commented on #464
@googlebabaio Yes, the analogy of chicken and egg is very appropriate, hhh...
So this is a ubiquitous problem. Do you have a plan to solve it? Do we need to reassign the labels and milestones of this issue?

[2019-05-20 03:19] edisonxiang commented on #464
@zhanghongtong @googlebabaio
sorry for late.
I think your conversations are reasonable.
Actually the key point is that we should deploy edge_core pod on the `edge node vm`
but in your test case, the edge-core pod is running on the `cloud node vm`

Perhaps you have the question about that
since the edge node is added into k8s cluster,
why do we need to run one ore more edge_core pods on this edge n

[2019-05-20 03:25] zhanghongtong commented on #464
@edisonxiang Thank you for your answer, so deploying edge core with k8s is not suitable for deployment on physical edge nodes, right?

[2019-05-20 03:32] edisonxiang commented on #464
@zhanghongtong you are welcome.
since the edge node vm is already added into k8s cluster.
so it is not neccessary to add the edge node again by kubeedge.
yep. Perhaps we can find some actual user scenarios about this in some day.
and today we can use it as a test or some experiments.
since we can deploy edge_controller and edge_core in pods which are running in one ore more vms, like you had deplo

[2019-05-20 03:36] zhanghongtong commented on #464
@edisonxiang Ok, I understand, I will close this issue, thank you for your reply.

[2019-05-20 03:36] #464 closed

[2019-05-20 03:38] edisonxiang commented on #464
@zhanghongtong Thanks. Your feedback is always useful for the team.

[2019-05-20 06:23] lidiyag opened #545 "Action not performing as expected in Bluetooth Mapper"
**What happened**:
While using bluetooth mapper with CC2650-sensortag , it is observed that the Action Manager is not performing action as specified in the config file.

**What you expected to happen**:
It is expected to perform action as specified in the config file.

**How to reproduce it (as minimally and precisely as possible)**:
Run bluetooth mapper and test using CC3650-SensorTag

**Anything

[2019-05-20 06:23] lidiyag commented on #545
@sujithsimon22 please have a look. Thanks

[2019-05-20 06:26] sujithsimon22 commented on #545
Thanks @lidiyag I will take a look at it :)

[2019-05-20 06:26] sujithsimon22 commented on #545
/assign @sujithsimon22

[2019-05-20 07:36] kadisi opened #546 "edge_core only support "one-container-per-Pod" model?"
**What would you like to be added**:

does edge_core only support `one-container-per-Pod`  model  now ?

**Why is this needed**:

[2019-05-20 09:21] #546 closed

[2019-05-20 09:24] Raul14 commented on #539
The k8s is 1.14.1 and the process to bring up the cluster was following the steps indicated by the prerequisites section within the setup guide of KubeEdge page -link below-.

https://docs.kubeedge.io/en/latest/setup/setup.html

[2019-05-20 09:32] #533 closed

[2019-05-20 11:03] pavan187 opened #547 "logs are inconsistent in both edgecontroller and edgecore modules"
**What happened**:
Logs generation in both edgecontroller and edgecore are inconsistent(prints are in byte format).

**What you expected to happen**:
logs should be consistent across the modules

**How to reproduce it (as minimally and precisely as possible)**:
1. Deploy applications on EdgeEdge node and check the both edgecontroller and edge_core logs.
**Anything else we need to know?**:
NA
**Env

[2019-05-20 11:20] pavan187 commented on #515
Thanks @shouhong @kexun , Issue is fixed now and it works fine.

[2019-05-20 11:20] pavan187 commented on #528
Thanks @shouhong @kexun , Issue is fixed now and it works fine.

[2019-05-20 12:23] pavan187 commented on #529
@ugvddm @sids-b
I have retested with simple application deployment (hello-world), i could see the application creation in edgenode itself is taking long time. for example i did a deployment of 100 applications into 1 Edgenode.
even though the image is exist in the EdgeNode the POD creation on EdgeNode is taking too long.

Please see the blow screenshots for reference
**Application contianers on Ed

[2019-05-20 13:14] samy2019 opened #548 "KubeEdge Installer: Not able to identify edge node id if K8S api-server flag is not provided in join command"
**What happened**:
When "kubeedge join" command is used without --k8sapiserver flag, then it didn't show the unique id on the console. Without the unique id displayed the used will not be able to add the node in the cloud host using "kubectl apply/create -f node.json" command.

**What you expected to happen**:
The unique ID of KubeEdge should be displayed

**How to reproduce it (as minimally and p

[2019-05-20 13:14] samy2019 commented on #548
/assign @samy2019

[2019-05-20 13:17] samy2019 opened #549 "KubeEdge Installer: Update README.md and Scope.md"
**What would you like to be added**:
After PR #535, README.md and kubeedge_scope.md document required an update.

**Why is this needed**:
From PR #535, There is a modification and addition in "kubeedge join" command flags. The same has been captured in the document to help the user

[2019-05-20 13:17] samy2019 commented on #549
/assign @samy2019

[2019-05-20 16:12] yongwww commented on #304
@sids-b thanks, I will come back to add them when I have some cycles

[2019-05-20 16:12] #304 closed

[2019-05-21 10:04] chendave commented on #456
@sids-b , could you tell me how to change the actual status of device? the device I created is based on the sample template, it is a fake device, so how do I simulate the change on the device?

[2019-05-22 11:27] cwl233 opened #553 "Try to deploy device-plugin in the edge node but edge_core crashes"
**What happened**:
Try to deploy device-plugin in the edge node to make it support GPU but edge_core crashes instantly.
Process:
1. run "sudo kubeedge init --docker-version=18.09.6" on the server.
2. run "sudo kubeedge join --server=202.38.86.171:8080 --docker-version=18.09.6" on the edge node.
3. run "kubectl create -f https://raw.githubusercontent.com/NVIDIA/k8s-device-plugin/1.0.0-beta/nvidia-d

[2019-05-23 09:49] Raul14 commented on #539
Just solved. The problem was within the KUBECONFIG export path. Now, the cloub is running, but I have found some troubles at the edge-node deployment. I'm opening another issue.

Thanks @sids-b !

[2019-05-23 09:49] #539 closed

[2019-05-24 01:13] #553 closed

[2019-05-24 01:25] #547 closed

[2019-05-24 01:32] #332 closed

[2019-05-24 08:01] CindyXing opened #556 "Separate network communication channel between control plane and data plane"
**What would you like to be added**:
Currently we are using the same websocket channel between cloudhub & edgehub for both system level communication as well as application level one (e.g. device twin data)

**Why is this needed**:
From both security and network bandwidth's perspective, we should separate them. The QOS level and business charge would be different too.

[2019-05-24 08:03] CindyXing commented on #556
For edgemesh, we are creating router for micro-services communicate each other. Here we should purposely make sure routing in data plane is separate from control plane

[2019-05-24 09:14] qizha commented on #556
can we leverage quic's multiple stream to achieve that?

[2019-05-25 08:41] #525 closed

[2019-05-25 08:43] #548 closed

[2019-05-25 08:43] #549 closed

[2019-05-27 08:16] #526 closed

[2019-05-27 09:15] kadisi commented on #399
seem feeling. Agree with @CindyXing .

[2019-05-27 14:04] sujithsimon22 opened #560 "Bluetooth mapper panics when desired state values are not set before starting the watcher"
**What happened**:
A panic is caused when the watcher component of the  bluetooth mapper is started without setting the desired state of the device is set

**What you expected to happen**:
The watcher should not panic and should wait for the desired state to be set .

**How to reproduce it (as minimally and precisely as possible)**:
1. Start Kubeedge Cloud and Edge
2. Create device CRD for bluetoo

[2019-05-27 14:12] lidiyag opened #562 "BlueToothMapper:Error handling required in scheduler when invalid actionname is given"
**What would you like to be added**:
Proper error handling required when invalid value is given

[2019-05-27 14:12] lidiyag commented on #562
@sujithsimon22 please have a look

[2019-05-27 14:26] sujithsimon22 commented on #562
Thanks @lidiyag. Could you please edit the issue name to mention explicitly what is meant by invalid value ex: "invalid action name". It will help other users understand what this issue is about

[2019-05-27 17:11] subpathdev opened #564 "gencerten.sh generate key and csr, generate certificate from csr"
**What would you like to be added**:
 It should be possible to use gencerts.sh to generate only an csr. And generate a certificate from the csr + CA certificate + CA key

**Why is this needed**:
This can be used to generate the certificates, when cloud and edge part are on different systems. In the future the typical usage is not that the edge and the cloud are on the same system so we should supp

[2019-05-28 01:46] #425 closed

[2019-05-28 01:46] #560 closed

[2019-05-28 01:48] #564 closed

[2019-05-28 04:42] sujithsimon22 commented on #521
@sids-b Actually the problem is not here. It looks to me like the data has come

[2019-05-28 04:45] #562 closed

[2019-05-28 04:49] sujithsimon22 commented on #521
@rohitsardesai83 @sids-b This issue seems to have been raised in the github repo of golang.  For your reference: https://github.com/golang/go/issues/16815

[2019-05-28 04:55] sids-b opened #566 "Create a common inside cloud/pkg to place common/types"
**What happened**:
common/types contains code which is only used by cloud.

**What you expected to happen**:
common should have code which is used by both cloud and edge

1) common in root directory should have common code used by both cloud and edge
2) common in cloud/pkg should have common code used by different cloud modules
3) common in edge/pkg should have common code  used by different edge

[2019-05-28 04:56] sids-b commented on #566
cc @m1093782566 @shouhong

[2019-05-28 05:09] Jaanki opened #567 "Broken links in the testing user guide"
**What happened**:
The links to example tests in testing user guide is broken.

**What you expected to happen**:
Correct links to point to example tests.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:
- Hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Others:

[2019-05-28 05:17] sids-b commented on #567
Hi @Jaanki , We are discussing the same in #288 . Please take a look and share your thoughts. We want to resolve the issue soon. Thanks :)

[2019-05-28 05:25] #567 closed

[2019-05-28 06:57] shouhong commented on #566
@sids-b Which code in common/types is only used by cloud?
The new added KubeInfo struct is used by both cloud and edgesite.

[2019-05-28 07:04] sids-b commented on #566
@shouhong , edgesite code will soon refer to controller from cloud. We plan to have only cmd/ and conf/ in edgesite. we already have an issue for that #531. Along with that or post that we can resolve this issue. @samy2019 is working on #531

[2019-05-28 07:44] todayisgood opened #572 "Support long-term offline edge node, the status of pod could be running but not terminating after the edge node is ready?"
**What would you like to be added**:
The status of the pod should be running but not terminating after the edge node is ready, if the container is running normally at the edge node.
**Why is this needed**:
One pod is running on a edge node. After the edge node is not ready, the status of the pod will be on "Unknown".  And after the edge node is read, the status of the pod will be on "Terminating"

[2019-05-28 07:45] shouhong commented on #566
@sids-b I see. Thanks!

[2019-05-28 08:32] chuanyezaici opened #576 "How can i get device messages which eventhub send to deviceT"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:
- Hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Others:

[2019-05-28 08:36] chuanyezaici opened #577 "eventhub"
**How can i get the device message which eventhub send to deviceTwin？**:

**i want to find the message that eventhub subscribe on mosquitte server**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:
- Hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Others:

[2019-05-28 11:57] #545 closed

[2019-05-28 13:48] rohitsardesai83 commented on #521
I think we can change the value to an int instead of []byte , and then convert the int to a byte array in the code :  https://www.socketloop.com/tutorials/golang-convert-int-to-byte-array-byte

[2019-05-28 15:08] sujithsimon22 commented on #521
@rohitsardesai83 if we convert int to byte array the value we expect will change. For example if we use the value 1 as integer we will get []byte value as [49] but we are expecting value as [1]

[2019-05-28 15:15] sids-b commented on #521
@sujithsimon22 try this. It is working for me
[code]

[2019-05-28 15:16] sids-b commented on #521
1 thing to learn here is that we need priority labels. For eg: priority/low , priority/medium , priority/high

This way high priority issues can be identified easily and taken-up

[2019-05-28 15:21] sids-b commented on #521
BTW, The package has many functions for Uint16, Uint8.... We can use whichever is suitable.

[2019-05-28 19:07] sujithsimon22 commented on #521
@sids-b this method looks to be working, I guess we can go ahead with changing the value to int instead of []byte

[2019-05-28 19:11] sujithsimon22 commented on #521
@sids-b , @rohitsardesai83 I will change the implementation of bluetooth mapper according to this change, maybe either of you could take up changing []byte to int for device CRD ?? Thanks :)

[2019-05-29 02:01] m1093782566 commented on #521
I don't get the point of changing []byte to int for device CRD.

Can't we convert the string `configMap.Data[DeviceProfileJSON]` back to []byte and then Unmarshal the []byte to structed data? I just did a simple test, please check: https://play.golang.org/p/cEPY7QkTTUW

[2019-05-29 02:04] m1093782566 opened #596 "Missing e2e tests for device management"
**What would you like to be added**:

Add e2e tests for device management.

**Why is this needed**:

[2019-05-29 02:04] m1093782566 opened #597 "Missing e2e tests for mapper(device driver)"
**What would you like to be added**:

Add e2e tests for device driver(mapper).

**Why is this needed**:

[2019-05-29 03:14] sujithsimon22 commented on #521
@m1093782566 While storing the data into config map doesn't it have to be in string format ? When we convert the marshalled data to string the []byte does not get stored in the manner we expect

[2019-05-29 03:18] m1093782566 commented on #521
Sorry I still don't understand. Can you please tell what you except for data store manner?

Struct -> []byte -> string(stored in configmap) -> []byte -> struct.

Does the dataflow works for you?

[2019-05-29 03:39] sids-b commented on #596
Duplicate of #597 ?

[2019-05-29 03:39] sids-b commented on #597
+1

[2019-05-29 05:20] sids-b commented on #521
+1 to @m1093782566 , I think the dataflow should not have any problem.
1) Initial structure
2)  array of bytes when marshaled
3)  string(bytes)
4) string received at edge
5) Converted string back to bytes
6) Unmarshal back to structure

(3,4) , (2,5) , (1,6) should be same. At which point are they not same ?

[2019-05-29 05:23] sids-b commented on #521
the data field in v1.ConfigMap structure is of type map[string]string so it has to be string

[2019-05-29 07:31] sujithsimon22 commented on #521
looks like you are right @m1093782566 . Since the mapper converts the string --> []byte --> struct it will get the right values. Also since the only consumer of the config map is going to be the mapper, it does not make a difference whether the data stored in the configmap is in human readable form .

Hence closing this issue

[2019-05-29 07:31] #521 closed

[2019-05-29 11:38] #519 closed

[2019-05-29 11:50] kadisi commented on #471
@rohitsardesai83 PTAL

[2019-05-29 14:56] vizero1 opened #608 "KubeEdge Installer (keadm) fails"
**What happened**:
Tried to install kubeedge with keadm but after connecting my my edge node(ubuntu) to the server(ubuntu) in google cloud it fails and kubectl get nodes shows that my server and edge node are in state NotReady.

**What you expected to happen**:
That my edge node would connect to the master and with kubectl I should show state Ready for both.
**How to reproduce it (as minimally and

[2019-05-29 15:36] sids-b commented on #608
cc @samy2019 @srivatsav123

[2019-05-30 01:55] kadisi opened #609 "why cloud can start both websocket and quic server?"
**What would you like to be added**:
why cloud can start both websocket and quic server?

if cloud start both websocket and quic server , and edge start both websocket and quic client. Will there be data redundancy？？

**Why is this needed**:

[2019-05-30 01:57] m1093782566 commented on #609
cc @kexun Can you point out your scenarios?

[2019-05-30 01:59] #471 closed

[2019-05-30 02:01] kadisi commented on #609
@m1093782566 ,agree with you, edge need check this conflict。

[2019-05-30 02:09] kadisi commented on #609
@m1093782566 edge has done with this confliction. sorry.
[code]

[code]

[2019-05-30 02:09] #609 closed

[2019-05-30 02:21] #520 closed

[2019-05-30 04:05] sids-b opened #612 "Add EdgeSite and Installer build jobs in CI"
**What would you like to be added**:
Installer and EdgeSite build jobs in CI

**Why is this needed**:
To make sure Installer and EdgeSite always build

[2019-05-30 05:06] rohitsardesai83 commented on #405
moving this to backlog as we can have minimal validation for 1.0 release. let's create separate issues for each of the items , else its difficult to track them.
for 1.0 , I will add a specific issue for validation.

[2019-05-30 05:10] rohitsardesai83 commented on #485
moving the documentation for device crd to 1.0

[2019-05-30 05:12] rohitsardesai83 commented on #495
Are we assuming user will only use the kubeedge installer to install kubeedge ?
What if I just want to download the kubeedge release tar and install the kubeedge components manually ?

[2019-05-30 05:14] rohitsardesai83 commented on #191
@pavan187 , @edisonxiang  , how do we want to handle the progress of this issue ? we did perf tests and had numbers , how do we proceed  with this ? Can we create separate issue to target specific benchmarks and close this with the bechmarks we have already tested ?

[2019-05-30 05:53] m1093782566 opened #613 "Make release via script"
**What would you like to be added**:

Make release via script in Makefile, e.g. make quick-release.

**Why is this needed**:

[2019-05-30 05:53] m1093782566 commented on #613
cc @sids-b @rohitsardesai83

[2019-05-30 05:57] Toper2035 opened #614 "Docs: misspell words"
**What happened**:

there's misspell words of following document :

The KubeEdge version used in cloud and **cdge** side should be same

https://github.com/kubeedge/kubeedge/blob/master/keadm/README.md

**What you expected to happen**:

The KubeEdge version used in cloud and **edge** side should be same

[2019-05-30 06:07] rohitsardesai83 commented on #484
Is this achievable in 1.0 ? I think we can move this to backlog and address after 1.0

[2019-05-30 06:11] #614 closed

[2019-05-30 06:37] srivatsav123 commented on #608
@vizero1 : From the above log which you shared, I can conclude that since the device crds are not applied...Device controller is failing to list the respective device...
**Please refer https://github.com/kubeedge/kubeedge/issues/452**
For further debugging Please share cloud and edge side **console output logs**
**edge_core.log** ,conf file and **kubectl describe node** (node name) logs..

[2019-05-30 06:40] srivatsav123 commented on #495
![image](https://user-images.githubusercontent.com/39593583/58613574-c0734180-82d3-11e9-9678-b0109bbc6edc.png)

@rohitsardesai83 : we have also mentioned manual installation steps

[2019-05-30 06:42] m1093782566 commented on #608
@sids-b

Do you think device controller should rely on Device CRDs?

[2019-05-30 06:44] rohitsardesai83 commented on #608
See https://github.com/kubeedge/kubeedge/issues/452

[2019-05-30 06:48] rohitsardesai83 commented on #608
I think the issue describes that the edge node is **not ready**. Although we get device controller error logs , the edge node should still be ready.

[2019-05-30 06:49] rohitsardesai83 commented on #608
@vizero1 , can you provide the edge_core logs running on your edge node ?

[2019-05-30 06:52] m1093782566 commented on #608
+1

[2019-05-30 06:54] sids-b commented on #608
I think yes... If the api-resource is not present in k8s api-server, deviceController cannot watch on the resource.

[2019-05-30 07:05] m1093782566 commented on #608
I have different opinion. In my view, device controller should be able to work as normal when it is able to connect Kubernetes API Server. In other words, device controller should recover after users creating the CRDs.

[2019-05-30 08:36] sids-b commented on #608
Yes @m1093782566 , It is just logging that CRDs are not created. As soon as you create CRDs it will stop logging as well. It is not a panic, it is just a log message.

[2019-05-30 08:42] m1093782566 commented on #608
OK, I buy it. Thnaks!

[2019-05-30 09:12] Toper2035 opened #617 "can't make cloudimage using command: make cloudimage"
**What happened**:
Self build cloud side images error.
cd $GOPATH/src/github.com/kubeedge/kubeedge
[root@localhost kubeedge]# make cloudimage
docker build -t kubeedge/edgecontroller:v0.3.0-beta.0-148-gf7664c0 -f build/cloud/Dockerfile .
Sending build context to Docker daemon 112.5 MB
Step 1 : FROM golang:1.12.1-alpine3.9 AS builder
Error parsing reference: "golang:1.12.1-alpine3.9 AS builder" is n

[2019-05-30 10:39] sids-b opened #619 "Update in protocol config should update the configmap"
**What happened**:
Update the protocol config of a device, it didn't update in configmap

**What you expected to happen**:
Protocol config should be updated

**How to reproduce it (as minimally and precisely as possible)**:
1) Create a device instance
2) Update the protocol config
3) check configmap

**Environment**:
- KubeEdge version: v0.3.0

[2019-05-30 10:40] sids-b commented on #619
/assign @sids-b

[2019-05-30 11:01] samy2019 commented on #612
/unassign @samy2019
/assign @pavan187

[2019-05-30 11:07] sids-b commented on #613
+1 to @m1093782566 , This is very important. For 1st version we can target generation of the binaries, run all the integration and e2e test cases on the binaries, create release tar's and their checksum's. This tar's and checksum's can then be manually uploaded by one of the Maintainers for now.

[2019-05-30 11:13] sids-b commented on #596
/assign @sujithsimon22

[2019-05-30 11:13] sids-b commented on #597
/assign @lidiyag

[2019-05-30 11:13] m1093782566 commented on #613
We also need to reach agreement on what will be included in the release package.

[2019-05-30 11:41] sids-b commented on #613
@m1093782566 , yess.... currently we have 3 tars in release asset and their respective checksum's.
1) kubeedge amd64
2) kubeedge arm
3) installer amd64

We may need to add 2more in the future releases which are
4) EdgeSite amd64
5) EdgeSite arm

Need to discuss on this more.

[2019-05-30 11:48] vizero1 commented on #608
Edge Core logs:

[2019-05-30 11:50] vizero1 commented on #608
kubectl describe node:
[code]

[2019-05-30 11:59] rohitsardesai83 commented on #608
@vizero1 , can you delete the existing edge core log , clean up the edge.db and restart edge_core and then paste the logs ?

[2019-05-30 12:01] vizero1 commented on #608
I have my kubeedge server in the cloud. Do I need to open specific ports for my edge node? For my edge node I have currently opened http, https, 8080 and 6443.  Should port 10000 also be open for my node? Could not find that anywhere in the documentation.
Thanks in advance.
@rohitsardesai83  yes will do that.

[2019-05-30 12:17] rohitsardesai83 commented on #608
Yes, port 10000 needs to be opened.

[2019-05-30 12:24] vizero1 commented on #608
@rohitsardesai83 Thanks. Now my edge node is in state Ready. But still it shows in kubectl get nodes that my server is in state NotReady. Should my server even be shown in that command?

[2019-05-30 13:49] #617 closed

[2019-05-31 04:33] rohitsardesai83 commented on #608
@srivatsav123 , @samy2019 , could you please help vizero with this ? I guess the master node is ready only after some network add-on is installed ?

[2019-05-31 04:37] fengjing1009 opened #623 "边缘node上不能启动多个nginx pod"
**What happened**:
pod调度成功后无法在边缘节点上正常被创建
**What you expected to happen**:
pod被调度成功后能够正常被创建
**How to reproduce it (as minimally and precisely as possible)**:
创建完第一个deploy 以后，使用相同的镜像创建第二个不同名称的deploy，并被调度到相同node上，第二个pod一直处于创建状态
**Anything else we need to know?**:
我使用vagrant 创建的我的两个poc 节点，下面是我的配置文件
[code]
**Environment**:
- KubeEdge version: 0.3
- Hardware configuration:
- OS (e.g. from /etc/os-releas

[2019-05-31 04:46] sids-b commented on #623
cc @m1093782566 @edisonxiang

[2019-05-31 05:55] sids-b opened #624 "Run e2e tests with edgesite implementation"
**What would you like to be added**:
Run KubeEdge application deployment test for edgesite

**Why is this needed**:
The kubeedge e2e tests related to application deployment can ensure application deployment scenarios for edgesite. Just need to run edgesite binary instead of edgecontroller and edge_core.

[2019-05-31 05:55] sids-b commented on #624
/assign @samy2019

[2019-05-31 06:40] srivatsav123 commented on #608
@rohitsardesai83  :As of know creation of network plugin is not in Kubeedge installer scope!!
Yes master node will be ready only after network plugins is created(flannel/calico)...It can be manually created

[2019-05-31 07:16] sids-b opened #627 "Request Existing Organization Members to enable two-factor authentication"
As per the latest KubeEdge Community Membership document and to keep KubeEdge github organization secure, one of the requirement for being a member is to enable two-factor authentication. The organization settings currently don't enforce this but we will soon be enforcing to meet the membership guidelines. So I request the existing members to enable two-factor authentication for their github accou

[2019-05-31 07:17] sids-b commented on #627
/assign @chendave @CindyXing @dingyin @kadisi @qizha @rohitsardesai83 @shouhong @skdwriting

[2019-05-31 08:56] kadisi commented on #627
done

[2019-05-31 09:12] chendave commented on #627
done too

[2019-05-31 09:34] vizero1 commented on #608
@rohitsardesai83 @srivatsav123  Thanks. I understand now the problem.
Shouldn't the documentation explicitly mention which ports needs to be open for the server?
If I understand it right port 8080, 6443, 10000 needs to be open. What about 80 and 443?

[2019-05-31 10:20] m1093782566 commented on #608
If I understand it right port 8080, 6443, 10000 are used by kubeedge.

You can raise a PR to fix this.

[2019-05-31 10:26] #619 closed

[2019-05-31 10:29] rohitsardesai83 commented on #627
done

[2019-05-31 11:25] pavan187 opened #630 "Enahance the Performance framework for Benchmark the Resource Consumption SLO's"
**What would you like to be added**:
Enhance the performance framework for Benchmarking Resource consumtion SLO's

**Why is this needed**:
This is helps in measuring the resource consumption(Memory and CPU) of a KubeEdge Node when user deploy various no.of application Pod's.Which will help in validating the KubeEdge node performance based on application load.

[2019-05-31 11:25] pavan187 commented on #630
/assign @pavan187

[2019-05-31 11:25] naveensriram commented on #265
@qizha , can you specify the scope w.r.t v1.0.0 ie., only we can cover pod to pod communication within same node.

[2019-05-31 12:05] #244 closed

[2019-05-31 12:10] kevin-wangzefeng commented on #627
removing assignees that have turned on 2FA.
/unassign @kadisi @chendave

[2019-05-31 12:11] kevin-wangzefeng commented on #627
/unassign @rohitsardesai83

[2019-05-31 12:18] rohitsardesai83 commented on #495
I need steps to install kubeedge from the release package. I don't see steps to do that.

[2019-05-31 12:25] rohitsardesai83 opened #631 "devicecrd: add basic validation for device model and device instance management."
**What would you like to be added**:
An issue  #405   was created to track pending issues with respect to device crd implementation and stability. We cannot cover all the items in 1.0 release. So we can address basic validations first and then address the remaining items. This issue tracks what basic validations can be addressed for 1.0

**Why is this needed**:
To provide a solid implementation of

[2019-05-31 15:06] shouhong commented on #627
done

[2019-05-31 18:01] kevin-wangzefeng opened #633 "Make test failure under macOS"
**What happened**:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:
- Hardware configuration:
- OS (e.g. from /etc/os-release): macOS
- Kernel (e.g. `uname -a`): Darwin
- Others:

[2019-05-31 18:01] kevin-wangzefeng commented on #633
/assign

[2019-05-31 18:04] kevin-wangzefeng opened #634 "Failed to build for darwin"
**What happened**:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:
- Hardware configuration:
- OS (e.g. from /etc/os-release): macOS
- Kernel (e.g. `uname -a`): Darwin
- Others:

[2019-06-01 01:47] #633 closed

[2019-06-01 01:47] #634 closed

[2019-06-01 01:52] m1093782566 commented on #495
+1

[2019-06-01 06:43] sids-b commented on #627
/unassign @shouhong

[2019-06-01 06:46] sids-b commented on #292
This issue is similar to #634 and PR #635 fixes it. Closing this issue

[2019-06-01 06:46] #292 closed

[2019-06-01 06:46] m1093782566 commented on #292
Please check: #635

[2019-06-01 08:28] shouhong commented on #623
@fengjing1009 As you created the issue with Chinese, I would restate the problem you mentioned for others to know the context.

**Problem:**
Not able to run multiple nginx pods (with exactly the same nginx image) on the same edge node.

**How to reproduce it:**
The problem was tested with the 3 yaml files you provided above (test.yaml, test1.yaml, test2.yaml). First creating a deployment with test

[2019-06-01 09:55] sharmmoh1983 opened #636 "Edge core not getting Ready"
Edge node (raspberry pi)was initially  getting connected to master node(ec2) but now it is now in not ready state

Logs:
[code]

what can be the root cause?

[code]

due to which edge core is not getting connected

[2019-06-02 20:20] sids-b commented on #577
Please see this devicetwin documentation http://docs.kubeedge.io/en/latest/modules/edge/eventbus.html
Also tryout led demo https://github.com/kubeedge/examples/tree/master/led-raspberrypi

[2019-06-02 20:25] sids-b opened #638 "Create OWNERS file for proper review and approval process"
**What would you like to be added**:
We should have OWNERS file with reviewers and approvers entry for proper review of a PR

**Why is this needed**:
A PR needs to be reviewed buy members who have worked or have knowledge in the the are where changes will be made. This will help in proper review of all PRs and will also distribute work load.

Currently we may not add OWNERS file in all packages. W

[2019-06-02 20:26] sids-b commented on #638
cc @kevin-wangzefeng @m1093782566 @rohitsardesai83 @shouhong @kadisi @chendave @subpathdev

[2019-06-03 02:29] fengjing1009 commented on #623
thanks for  your reply, I will close this issue @shouhong

[2019-06-03 02:30] #623 closed

[2019-06-03 06:19] srivatsav123 commented on #495
ok will work on it
/assign @srivatsav123

[2019-06-03 06:19] srivatsav123 commented on #495
/assign @srivatsav123

[2019-06-03 06:21] srivatsav123 commented on #495
ok

[2019-06-03 06:38] m1093782566 commented on #638
+1

[2019-06-03 06:49] kadisi commented on #638
+1

[2019-06-03 06:56] shouhong commented on #638
+1

[2019-06-03 07:02] chendave commented on #638
Good idea, +1.

[2019-06-03 08:43] dsxing opened #639 "how to send msg sync from cloud module to edge module?"
**how to send msg sync from cloud module to edge module?**:

**Why is this needed**:

[2019-06-03 09:24] rohitsardesai83 commented on #538
This issue needs to be worked on asap. This is affecting our performance numbers.

[2019-06-03 09:26] rohitsardesai83 commented on #529
this issue needs to be fixed asap. This affects our performance numbers badly.

[2019-06-03 10:04] subpathdev opened #640 "race condition @ DTContext.Lock / DTContext.Unlock"
**What happened**:
We have a potential race @ locking / unlocking the device mutex. (https://github.com/kubeedge/kubeedge/blob/0ddc4b3f7752fb527c73bec4d5d2adbe5f3635f2/edge/pkg/devicetwin/dtcontext/dtcontext.go#L107-L128)

EXAMPLE CASE:
- 2 messages from the same device
- start handling first message
  - run dtc.Lock('xyz')
      - success on dtc.Mutex.Lock()
      - success on deviceMutex.Lock()

[2019-06-03 10:06] m1093782566 commented on #640
Oh, nice catch! @subpathdev

[2019-06-03 10:26] sujithsimon22 commented on #451
/unassign @sujithsimon22

[2019-06-03 10:44] rohitsardesai83 commented on #488
@m1093782566 , we need to merge https://github.com/kubeedge/beehive/pull/8 and upgrade beehive in vendor and verify this issue is fixed .

[2019-06-03 11:24] subpathdev commented on #640
Do we really need dtc.Mutex.Lock() / dtc.Mutex.Unlock() in this context?

[2019-06-03 11:39] rohitsardesai83 commented on #636
@sharmmoh1983 , please check the edge core log , if the web socket connection to the cloud is ok.

[2019-06-03 11:44] sharmmoh1983 commented on #636
@rohitsardesai83 I have checked the logs and websocket connection to cloud is fine

[2019-06-03 15:39] kevin-wangzefeng commented on #638
+1

[2019-06-03 18:03] skdwriting commented on #627
done

[2019-06-03 19:01] sids-b commented on #640
Thats a nice catch @subpathdev . But the lock function is called only once at the beginning of the deviceTwin module in a synchronous for loop.
https://github.com/kubeedge/kubeedge/blob/be4d5e34012d41246919296ee378c1834b9ec097/edge/pkg/devicetwin/dtcontroller.go#L185-L204

The SyncDeviceFromSqlite then calls the lock function.

The main reason for dtc.Mutex.Lock is to guard against race condition

[2019-06-03 19:16] sids-b commented on #640
But yess, the lock function can cause a deadlock as it can be called for same devices for 2 different messages as explained by you. But I think removing dtc.Mutex.Lock won't be a correct solution.

[2019-06-03 19:32] sids-b commented on #640
I was thinking a solution could be removing dtc.Mutex.Lock() only from the Unlock function. Would it be a correct solution though ?
cc @m1093782566 @rohitsardesai83 @subpathdev

[2019-06-03 19:36] sids-b commented on #639
@dsxing , can you please give little more details about what you would like to know ?

[2019-06-03 19:38] sids-b commented on #638
looks like we may have consensus. First let us start creating OWNERS file one by one for packages. Later review and approve permissions can be enforced by the bot.

[2019-06-03 19:39] sids-b commented on #627
/unassign @skdwriting

[2019-06-03 19:39] sids-b commented on #627
ping @CindyXing @qizha @dingyin

[2019-06-03 19:45] sids-b commented on #627
@CindyXing and @dingyin have also enabled 2FA

/unassign @CindyXing @dingyin

[2019-06-03 21:01] sids-b opened #643 "KubeEdge didn't add a role label while creating a node"
**What happened**:
Kubedge Installer didn't add the role label while creating a node.

**What you expected to happen**:
KubeEdge installer should add the role as edge for a node

**How to reproduce it (as minimally and precisely as possible)**:
run kubeedge join

**Anything else we need to know?**:
The addition of role has become mandatory as KubeEdge uses role to differentiate between edge nodes

[2019-06-03 21:12] sids-b commented on #643
/assign @sids-b

[2019-06-03 21:13] subpathdev commented on #640
The actual state doesn't provide the described functionality in all states. Here is an example of what can go wrong:

we receive a message of a device:
-> lock dtc.Mutex
-> lock device mutex
-> unlock dtc.Mutex

now running dealMembershipDetail
-> lock dtc.Mutex

at this point we can modify the device twin without locking the dtc.Mutex.
( I hate race conditions )

I think we should lock the device

[2019-06-03 21:23] sids-b commented on #640
@subpathdev , I think there is one more step here

now running dealMembershipDetail
-> lock dtc.Mutex
-> lock deviceMutex

We may get stuck in a deadlock here as device message has not yet unlocked dtc.Mutex is in lock state.

How about make dtc.Mutex a RWMutex. We can use readlock in Lock and Unlock functions and then not have deadlock. Thoughts ?

[2019-06-04 01:13] #608 closed

[2019-06-04 03:08] mazengxie opened #646 "edge node reboot，but pod cannot recover"
**What happened**:

1. node ready

[code]
2. pod running

[code]

3. edge shutdown and reboot
[code]
4. edge ready agian

[code]

**but pod never recover**
[code]

**What you expected to happen**:

pod recover

**How to reproduce it (as minimally and precisely as possible)**:
shutdown your edge node
reboot edge node util nodes status is not ready

**Anything else we need to know?**:
none
**Environ

[2019-06-04 05:41] #531 closed

[2019-06-04 05:56] subpathdev commented on #640
Yes I think that is the right way. Thank you @sids-b .

[2019-06-04 05:58] rohitsardesai83 commented on #405
Created #631 to target limited set of validations for 1.0.0.

[2019-06-04 06:04] rohitsardesai83 commented on #631
Came across this : https://swagger.io/docs/specification/data-models/data-types/#required.
Required properties can be validated like this. Our device model and device instance crd yamls need to have such enforcements.

[2019-06-04 06:08] rohitsardesai83 commented on #630
@pavan187 , are we targeting this for 1.0 ?

[2019-06-04 06:10] sids-b commented on #627
Thanks @qizha for enabling 2FA

[2019-06-04 06:10] sids-b commented on #627
/unassign @qizha

[2019-06-04 06:10] #627 closed

[2019-06-04 06:15] rohitsardesai83 commented on #636
@naveensriram , can we ask someone to test this issue once ?

@sharmmoh1983 , please try stopping edge_core , clean the edge.db on the rpi , and then restart the edge_core process.  Please collect edge_core logs and share them once you observe the issue again.

[2019-06-04 06:17] rohitsardesai83 commented on #646
can you check the docker logs of the container on the edge node? Also, please share the edge_core log.

[2019-06-04 06:18] rohitsardesai83 commented on #613
can we take this up in the next community meeting ?

[2019-06-04 06:39] dragon9783 opened #648 "edgecontroller occupies too much memory (8G)"
**What would you like to be added**:
edgecontroller occupies too much memory (8G)

**Why is this needed**:
edgecontroller occupies too much memory (8G)
[code]
[code]
[code]

[2019-06-04 06:44] rohitsardesai83 commented on #566
#531 is resolved now. Can we proceed with this ?

[2019-06-04 06:49] m1093782566 commented on #613
+1

[2019-06-04 09:46] subpathdev commented on #640
I would use the lock dtc.Mutex in the dtc.Lock function and unlock it in the dtc.Unlock() function. (like the commit above) Thoughts?

[2019-06-04 10:28] kadisi opened #650 "edgecontroller and edge_core need support show current detail version"
**What would you like to be added**:
edgecontroller and edge_core and other kubeedge binary need support print current detail version, such as
[code]
**Why is this needed**:

we can use this detail version info to debug or track some question.

and our bug report will more detailed。
such as
[code]

[2019-06-04 11:44] mazengxie commented on #646
[edge_core.log](https://github.com/kubeedge/kubeedge/files/3252152/edge_core.log)

reboot time
[code]

[2019-06-04 12:05] srivatsav123 opened #651 "E2E test to be added to make sure kubeedge Installer stability"
**What would you like to be added**:
Currently when Pr gets raised, there is no test case to check the stability of KubeEdge installer for each PR.
**Why is this needed**:
To make sure KubeEdge Installer is stable for each PR.

[2019-06-04 12:45] subpathdev opened #652 "travis: adding build keadm"
**What would you like to be added**:
we should add 'build keadm' as a travis job

**Why is this needed**:
ci - of keadm

[2019-06-04 12:48] subpathdev commented on #652
is done in Test Jobs! sry

[2019-06-04 12:48] #652 closed

[2019-06-04 16:16] Netonline2016 opened #655 "KubeEdge Installer - the "kube-proxy" will be "FailedScheduling" at edge node, because "0/x nodes are available: 1 Insufficient pods, x node(s) didn't match node selector.""
- there is a issue with `KubeEdge Installer` [Getting Started with KubeEdge Installer](https://github.com/kubeedge/kubeedge/blob/master/keadm/README.md), the related version as below:
[code]

- i use `kubeedge join`  at the edge node, the prompt information as below:
[code]

- but when I run the following command on the cloud component,  the prompt message indicates that the node is `NotReady` :
[

[2019-06-05 01:41] m1093782566 commented on #655
@samy2019 Please clarify the issue.

[2019-06-05 01:42] edisonxiang commented on #191
Hey @rohitsardesai83
Thanks your remind. Sorry for late.
The new issue is ok for me.
We have a plan to test quic between cloudhub and edgehub.
We can open a new issue since that is a specific test item.

[2019-06-05 02:14] Netonline2016 commented on #655
- there are some new phenomena in `edge_core.log` :
[code]
- i scp `certs.tgz` from `cloud component` to `edge component`, and untar `certs.tgz` to the required location, then the above error message disappeared, but the new error message has appeared:
[code]
- first, i think the `certs.tgz` related files will automatic generated by `kubeedge join`, but not.
- second, there is no 10000 ports open

[2019-06-05 05:54] Toper2035 commented on #646
I encounter the same problem.
Ifdown the ethernet interface also reproduce the problem.
Is the old pod can't release the hostport that result  the new pod can't create and then status pending?

[2019-06-05 06:28] mazengxie commented on #646
After successfully deleting a pod with --force and --grace-period=0, the pod is still pending.
Oddly enough，the controller-manager never try agian.
Do you think of a reasonable solution?

[2019-06-05 10:18] Toper2035 commented on #646
@mazengxie , I deploied your nginx deployment to a k8s node, and disconnected and recover this node network then  the pods status show as follows:
[root@node1 kubeedge]# kubectl get pods --all-namespaces -o wide | grep node3 | grep nginx-deployment
default        nginx-deployment-6d8994fc4-2lb7p                                  0/2       PodFitsHostPorts    0          9m        <none>           no

[2019-06-06 03:09] mazengxie commented on #646
edge doesn't receive "remove" message, so I watch the event of deployment in master with wathch-apis as follow:

[code]

then, reproduce agian.

[code]
in k8s master

[code]

in edge node

From edge_core.log, we know, event handling errors lead to this result that add old pod never handle the new pod.
I think this is the reason.
we should delete the pod and recreate the new pod.

[code]

[2019-06-06 05:06] samy2019 opened #657 "E2E Testing: Even though actually the tests have failed the report shows it has passed"
**What happened**:
Executed e2e tests and it due to some reason all the tests failed. but the report still showed all the test passed. Below is the output.

Ran 7 of 0 Specs in 66.631 seconds
FAIL! -- 0 Passed | 7 Failed | 0 Pending | 0 Skipped
Running Suite: kubeedge App Deploymet Suite
SUCCESS! -- 7 Passed | 0 Failed | 0 Pending | 0 Skipped
Integration Test Final Summary Report
=================

[2019-06-06 05:07] samy2019 commented on #657
/assign @pavan187

[2019-06-06 06:58] Toper2035 commented on #646
@mazengxie , I got that logs from edge_core.log:
[code]

[2019-06-06 07:51] stormspiritzzz opened #660 "can not build cloud in ubuntu16.04"
**What happened**:fail to build cloud

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:Release 0.3
- Hardware configuration:
- OS (e.g. from /etc/os-release):ubuntu16.04
- Kernel (e.g. `uname -a`):Linux master 4.4.0-142-generic #168-Ubuntu SMP Wed Jan 16 21:00:45 UTC 2019 x

[2019-06-06 08:01] subpathdev commented on #660
Which go version do you use?

[2019-06-06 08:10] stormspiritzzz commented on #660
go version go1.6.2 linux/amd64

[2019-06-06 08:13] subpathdev commented on #660
you have to use a newer version of go; we are testing with go1.11

[2019-06-06 08:56] stormspiritzzz commented on #660
it works,thank you

[2019-06-06 08:57] pavan187 commented on #538
/assign @srivatsav123

[2019-06-06 09:09] pavan187 commented on #529
/assign @omung-g

[2019-06-06 09:38] dsxing commented on #639
I want to Send messages synchronously from the cloud to the edge，for example：I want to send messages from the 'devicecontroller' module to the 'servicebus'  module， I use the 'send' method in the 'devicecontroller' module , and then the 'servicebus'  module will receive the message asynchronously by 'Beehive framework' , I want to know how can I make this process synchronous.
i want to  get the re

[2019-06-06 10:00] Toper2035 commented on #646
@mazengxie , I fond the terminating pod's namespace is wrong too, but after clean edge_core.log/edge.db  and repreduce this problem, all of the pod's namespaces is correct.
edge_core.log shows edged has received the pod delete event but done nothing, then new container can't start because of port is in use.
I use hostNetwork: true in nginx yaml.

[2019-06-06 11:18] #495 closed

[2019-06-06 14:58] vizero1 opened #661 "Installing kubeedge manually using release package fails"
**What happened**:
Running ./edgecontroller on my cloud vm fails.
**What you expected to happen**:
That edgecontroller starts and I can afterwards setup my edge vm
**How to reproduce it (as minimally and precisely as possible)**:
Replicating the steps from the documentation for "Setting up Kubeedge using release package".
https://github.com/kubeedge/kubeedge/blob/master/docs/getting-started/releas

[2019-06-06 20:42] sids-b commented on #660
Thanks @subpathdev :)

[2019-06-06 20:42] #660 closed

[2019-06-06 20:44] sids-b commented on #661
@vizero1 , please take a look at #244 . We have resolved the issue in master branch :)

[2019-06-06 21:34] subpathdev opened #662 "pointer error in cloud/pkg/devicecontroller/controller/downstream.go"
**What happened**:
If you set a desired value for only one parameter the value will used by all twins.
**What you expected to happen**:
the value should only be used by the expected twin
**How to reproduce it (as minimally and precisely as possible)**:
git diff to add more debugging:
--- a/cloud/pkg/devicecontroller/controller/downstream.go
+++ b/cloud/pkg/devicecontroller/controller/downstream.go

[2019-06-06 21:39] subpathdev commented on #662
a solution could be this:
[code]

[2019-06-07 04:54] rohitsardesai83 opened #663 "installer: Rename `kubeedge` installer binary to `keadm`"
**What would you like to be added**:
The installer binary is currently named `kubeedge` which doesn't look correct. It is not a binary which will start the kubeedge processes. It is a binary to help install kubeedge components.

We need to handle the following tasks :
- [ ] The binary name from `kubeedge` to `keadm`.
`keadm` expands to `kubeedge adm`  ( like `kubeadm` tool is used to install kuber

[2019-06-07 04:56] rohitsardesai83 commented on #663
@naveensriram , @srivatsav123 , please take a look.

[2019-06-07 04:57] rohitsardesai83 commented on #483
Pushing to backlog as it can't be done in 1.0 timeframe.

[2019-06-07 05:00] rohitsardesai83 commented on #469
@srivatsav123 , looks like we need to have log rotation. We can target this after 1.0 release ?
Moving to backlog now. Please get back if it needs to go in 1.0.

[2019-06-07 05:04] samy2019 commented on #655
@Netonline2016 , For issues:

1. Not ready issue
2. Certificate generation in edge side while executing "kubeedge join"

Yes you have to copy the certificates manually. It is clearly mentioned here https://github.com/kubeedge/kubeedge/blob/master/keadm/README.md#2-manually-copy-certstgz-from-cloud-host-to-edge-hosts . There is no certificate generation in edge side during "kubeedge join".

3. seco

[2019-06-07 05:48] naveensriram commented on #663
/assign @naveensriram

[2019-06-07 05:49] naveensriram commented on #663
/assign @naveensriram

[2019-06-07 05:53] pavan187 commented on #663
/assign @pavan187

[2019-06-07 05:55] pavan187 commented on #663
/assign @pavan187

[2019-06-07 06:01] pavan187 commented on #663
/assign @rohitsardesai83

[2019-06-07 06:06] pavan187 commented on #663
/assign @rohitsardesai83

[2019-06-07 06:07] pavan187 commented on #663
/unassign @rohitsardesai83

[2019-06-07 06:07] pavan187 commented on #663
/assign @naveensriram

[2019-06-07 12:20] vizero1 commented on #661
@sids-b thanks. Could set up kubeedge by compiling the master branch :)
Can find in the logs a lot of time warnings, e.g.
On the edge site logs:
[code]
On the cloud site logs:
[code]

Why is it showing this warning? I dont have any deployment and beehive module defined for the communication. That is shown between the edge node and master communication.

[2019-06-07 12:21] subpathdev commented on #636
@sharmmoh1983 can you please upload your edge/conf/edge.yaml?

[2019-06-07 13:00] subpathdev opened #665 "reduce configuration issues"
**What would you like to be added**:
https://github.com/kubeedge/kubeedge/blob/master/edge/conf/edge.yaml#L11
- remove static path of the url
- remove the path which is somewhere else configured

**Why is this needed**:
this will reduce mistakes by configuring the edge_client

[2019-06-08 04:10] sharmmoh1983 commented on #636
@rohitsardesai83  I have created new edge core on raspi still same issue

Logs:
2019-06-08 04:05:55.465 +00:00 ERROR edged/edged_status.go:354 Unable to construct v1.Node object for edge: operation timeout: context deadline exceeded

2019-06-08 04:05:55.306 +00:00 INFO metamanager/msg_processor.go:304 list pod status, no record, skip sync
2019-06-08 04:05:55.313 +00:00 ERROR containers/container_m

[2019-06-08 04:12] sharmmoh1983 commented on #636
@subpathdev

Please find the following edge.yaml
[code]

[2019-06-08 04:20] sharmmoh1983 commented on #636
@rohitsardesai83  Can I use Kubeedge installer to install edge core on raspi? Any steps for the same?

[2019-06-08 06:43] subpathdev commented on #636
You can not use an url to connect to the cloud part. (compare to pr #645 )

[2019-06-08 06:53] sharmmoh1983 commented on #636
@subpathdev I have been using the same configuration earlier and edge node was getting connected but now it is working so I don't think url is the issue

[2019-06-08 07:48] rohitsardesai83 commented on #636
No the installer doesn't support arm.

[2019-06-08 07:54] rohitsardesai83 commented on #636
2019-06-08 04:05:55.465 +00:00 **ERROR** edged/edged_status.go:354 Unable to construct v1.Node object for edge: operation timeout: context deadline exceeded

We need to debug further why is this error coming .
Can you put more logs in the intialNode func

https://github.com/kubeedge/kubeedge/blob/master/edge/pkg/edged/edged_status.go#L352

[2019-06-09 06:19] sharmmoh1983 commented on #636
@rohitsardesai83 There is no source code available in raspi installable .There is only executable file so can't put log statements in code

Also following is appearing in edgecontroller :
2019-06-09 06:13:36.339 +00:00 ERROR handler/websockethandler.go:89 read error, connection for node raspi will be closed, reason: read tcp 172.31.5.21:10000->49.195.101.134:20546: i/o timeout
2019-06-09 06:13:36.

[2019-06-09 15:01] Netonline2016 commented on #655
@samy2019
for `there is no 10000 ports open on the cloud component indeed` , the meaning is that there isn't any process listend on 10000 port after the cloud component had been sucessful installed. not because of security gourps or iptabes, even the reachable, and so on.
thers is no output by the below command
[code]

### the setup:
- in cloud component
[code]
the prompt info is success.

- in ed

[2019-06-10 09:21] rohitsardesai83 commented on #662
@subpathdev , so as per above example , do you mean to say that setting desired cpu_id to "12313",
the desired CPU_Temperatur is also set to "12313" ?

[2019-06-10 09:32] subpathdev commented on #662
@rohitsardesai83 yes that is happening

[2019-06-10 10:55] SupriyaSupu commented on #636
@rohitsardesai83 @sharmmoh1983 @naveensriram

I tried to regenerate the scenario by connecting Edge node which is running on raspberry pi to master node which is running on Ubuntu OS on laptop. Its working fine. I tried to stop edge_core and deleted node and tried again to connect. I have checked log as well.  In all cases its working fine.

I am not able to reproduce the error.

[2019-06-10 11:10] #566 closed

[2019-06-10 11:53] lzx258 opened #672 "edged run error"
**What happened**:
edged  run errror
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version: v0.3.0-beta.0
- Hardware configuration: x86 amd64
- OS (e.g. from /etc/os-release):4.18.0-15-generic #16~18.04.1-Ubuntu SMP Thu Feb 7 14:06:04 UTC 2019 x86_64 x86_64 x86_64 GNU/Linu

[2019-06-10 11:54] lzx258 commented on #672
edge need install flannel?

[2019-06-10 12:19] sharmmoh1983 commented on #636
@SupriyaSupu

Can you provide me list of steps you followed right from start (from cloud to edge)  installation and making them connected and get in  ready state, so that I can follow the same and see the difference?

[2019-06-10 14:04] srivatsav123 commented on #538
@pavan187 I was able to reproduce the issue..
One thing i noticed in the log is ,IT failed to update the node status which is clearly visible in the logs as attachd below..
![error](https://user-images.githubusercontent.com/39593583/59198421-5438ed80-8bb1-11e9-8e7d-242c34aee05b.png)
![code](https://user-images.githubusercontent.com/39593583/59200794-a4ff1500-8bb6-11e9-950a-3f8c6932d353.png)

As pe

[2019-06-10 15:35] sids-b opened #673 "EdgeMesh implementation"
**What would you like to be added**:
To support service mesh capabilities on edge to support microservice communication cross cloud and edge. The service discovery, communication should be considered in this feature. Developers can define services on top of the deployments deployed on the cloud or edges in a unified manner without caring about their location. The service name is the only thing the

[2019-06-10 15:35] sids-b commented on #673
creating this issue to track edgemesh implementation
cc @qizha @anyscoding

[2019-06-11 04:56] rohitsardesai83 commented on #636
@SupriyaSupu , please try to recreate with cloud vm instead of laptop.

[2019-06-11 05:54] SupriyaSupu commented on #636
@sharmmoh1983

Cloud:
Follows steps from link given below to run cloud:
https://github.com/kubeedge/kubeedge/blob/master/docs/getting-started/release_package.md

Edge:
1. Download binary to rasberry pi from:
https://github.com/kubeedge/kubeedge/releases
named "kubeedge-v0.3.0-linux-arm.tar.gz"

2. Untar binary and change master IP with your VM IP in kubeedge/edge/conf/edge.yaml file

3. Copy certi

[2019-06-11 05:56] SupriyaSupu commented on #636
@rohitsardesai83
I will try to recreate with cloud VM.

[2019-06-11 06:36] rohitsardesai83 opened #675 "devicrcrd: Invalid values for access mode in crd samples"
**What happened**:
Encountered an invalid value "Read" for the access mode :
https://github.com/kubeedge/kubeedge/blob/master/build/crd-samples/devices/led-light-device-model.yaml#L19

**What you expected to happen**:
As per the api spec , the access mode can be one of "ReadWrite" or "ReadOnly".
https://github.com/kubeedge/kubeedge/blob/master/cloud/pkg/devicecontroller/apis/devices/v1alpha1/devic

[2019-06-11 07:08] stormspiritzzz opened #676 "get errors when run edge_core : Image garbage collection failed"
**What happened**:get errors when run edge_core

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
cloud:
- KubeEdge version:Release 0.3
- Hardware configuration:
- OS (e.g. from /etc/os-release):ubuntu16.04
- Kernel (e.g. `uname -a`):Linux master 4.4.0-142-generic #168-Ubuntu SMP Wed Jan 16 21

[2019-06-11 07:52] sujithsimon22 opened #678 "Bluetooth mapper design/implementation enhancements"
**What would you like to be added**:
This can be treated as an umbrella issue for issues/bugs/possible enhancements in bluetooth mapper design/implementation

**Why is this needed**:
For improving bluetooth mapper design/implementations

[2019-06-11 09:28] fisherxu opened #679 "Consider move Device Twin's Desired field to spec"
**What would you like to be updated**:

Now the Device Twin's Desired field [L134](https://github.com/kubeedge/kubeedge/blob/master/cloud/pkg/devicecontroller/apis/devices/v1alpha1/device_instance_types.go#L134) is in DeviceStatus, users operating on device must set this status field. And we also need to validate the status fields in CRD.

In the design concept of kubernetes user should not update

[2019-06-11 11:00] samy2019 commented on #663
/unassign @naveensriram
/assign @samy2019

[2019-06-11 11:47] subpathdev opened #681 "adding type support"
**What would you like to be added**:
 The type of value of a device should not only by string.

As you can see we are setting the type static to string. ([cloud/pkg/devicecontroller/downstream.go Line 417](https://github.com/kubeedge/kubeedge/blob/master/cloud/pkg/devicecontroller/controller/downstream.go#L417) OR [cloud/pkg/devicecontroller/downstream.go Line 648](https://github.com/kubeedge/kube

[2019-06-11 12:43] mg9 commented on #521
Hi there,
I have problems for generating configmaps.
After I applied the CC2650 device model and device instances any configmap hasn't been generated and when I do "kubectl get cm -o yaml" the only result returning is the information of edgecontroller configmap created at previous building cloud steps.
Is there something I should do after applying .yaml files to generate configmaps?

Thanks for yo

[2019-06-11 13:14] sids-b commented on #679
cc @kevin-wangzefeng @rohitsardesai83 @chendave

[2019-06-11 17:34] lidiyag opened #683 "Conversion operation missing for read operation in action manager"
**What would you like to be added**:
Add conversion operation for read operation in action manager.

**Why is this needed**:
When read operation that requires data conversion is added in action manager, mapper fails to handle it.

[2019-06-11 17:35] lidiyag commented on #683
@sujithsimon22 please have a look

[2019-06-11 17:37] sujithsimon22 commented on #683
/assign @sujithsimon22

[2019-06-12 06:33] anyscoding opened #686 "update istio-iptables url and fix typo"
**What happened**: click istio-iptables.sh url in edgemesh-design.md got 404 Not Found, and ```Resutst``` miswritten as ```Request```

**What you expected to happen**:click istio-iptables.sh url then redirect to istio-iptables.sh page

**How to reproduce it (as minimally and precisely as possible)**:open docs/proposals/edgemesh-design.md page

**Anything else we need to know?**:no

**Environment**

[2019-06-12 09:07] Vivek1012 commented on #648
Hi @dragon9783,

We can not see that much memory consumption for edge controller. I tried reproducing the same but memory allocation is in MB’s. Can you please recheck whether this is valid or not. If yes then please mention the steps and screenshot for same.

I am attaching the screenshot of "top", before running edgecontroller and after running edgecontroller for your reference.

Before running

[2019-06-12 09:49] liuzhenhee opened #690 "Deployment is not running, run kubeedge from source"
Hi,
 I run kubeedge from source step by step just like this:

 on cloud node:
(1)kubeadm init
(2)# $GOPATH/src/github.com/kubeedge/kubeedge/build/tools/certgen.sh genCertAndKey edge
(3)change path in $GOPATH/src/github.com/kubeedge/kubeedge/cloud/conf/controller.yaml
   cloudhub.ca
   cloudhub.cert
   cloudhub.key
(4)cd $GOPATH/src/github.com/kubeedge/kubeedge/build/crds/devices
    kubectl create

[2019-06-12 09:51] liuzhenhee commented on #690
The output on master by 'kubectl describe pod':
Name:               nginx-65f88748fd-rssjk
Namespace:          default
Priority:           0
PriorityClassName:  <none>
Node:               ubuntu/192.168.1.107
Start Time:         Wed, 12 Jun 2019 16:00:57 +0800
Labels:             app=nginx
                    pod-template-hash=65f88748fd
Annotations:        <none>
Status:             Running
IP:
C

[2019-06-12 09:59] #686 closed

[2019-06-12 10:16] SupriyaSupu commented on #636
@sharmmoh1983 @rohitsardesai83
I tried to reproduce scenario with cloud VM. I am not able to reproduce the error.

[2019-06-12 10:56] rohitsardesai83 commented on #690
the container state is showing as Terminated. Can you share the edge_core log please ?

[2019-06-12 10:56] rohitsardesai83 commented on #681
:+1: , let's target this post 1.0 release ?

[2019-06-12 11:06] subpathdev commented on #681
@rohitsardesai83 Yes, can you put this in the backlog?

[2019-06-12 11:15] subpathdev commented on #681
thanks

[2019-06-12 12:36] xiayanshangda opened #691 "a problem on installing kubeedge in centos"
i install kubeedge in centos,when execute this step
![image](https://user-images.githubusercontent.com/39492112/59351634-70739080-8d51-11e9-9a0a-2fab19c9439c.png)

a error is reported:

[root@lab01 keadm]# kubeedge init
Expected Docker version is not available in OS repo
Expected kubeadm version is not available in OS repo
InstallKubeEdge called
open /etc/kubeedge/certgen.sh: no such file or direc

[2019-06-12 12:53] subpathdev commented on #691
to install docker on centos: https://docs.docker.com/install/linux/docker-ce/centos/
to install kubernetes on centos: https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

[2019-06-12 13:03] subpathdev commented on #691
cc @kevin-wangzefeng @samy2019

[2019-06-12 13:19] xiayanshangda commented on #691
@subpathdev i have already installed docker and k8s, but the version is not the default version of kubeedge

[2019-06-12 13:50] maurya-anuj opened #692 "E2E Test Cases For EdgeMesh Module"
**What would you like to be added**:
E2E Test Cases required for EdgeMesh module.

**Why is this needed**:
Check weather communication between pods in a node is happening through edgeMesh or not.

No. | Test Case | To-Do | Result Expected
-- | -- | -- | --
1 | Create two pods and check the pods are communicating or not | deploy deployment-1 | Result of pod to pod communication must come.
  |   | c

[2019-06-13 01:56] liuzhenhee commented on #690
The edge_core log part 1:
root@ubuntu:~/gopath/src/github.com/kubeedge/kubeedge/edge# ./edge_core
2019/06/12 01:10:20 WARN: empty configurtion from [CommandlineSource]
2019/06/12 01:10:20 WARN: empty configurtion from [MemorySource]
New file source added for configuration: /root/gopath/src/github.com/kubeedge/kubeedge/edge/conf/edge.yamlNew file source added for configuration: /root/gopath/src/git

[2019-06-13 01:57] liuzhenhee commented on #690
The edge_core log part 2:
2019-06-12 01:10:31.433 -07:00 INFO edged/edged.go:622 request content is ["{\"metadata\":{\"creationTimestamp\":\"2019-05-06T15:42:04Z\",\"generateName\":\"kube-proxy-\",\"labels\":{\"controller-revision-hash\":\"6488cfdd59\",\"k8s-app\":\"kube-proxy\",\"pod-template-generation\":\"1\"},\"name\":\"kube-proxy-l7s8c\",\"namespace\":\"kube-system\",\"ownerReferences\":[{\"a

[2019-06-13 01:58] liuzhenhee commented on #690
The edge_core log part 3:
{\"nodeAffinity\":{\"requiredDuringSchedulingIgnoredDuringExecution\":{\"nodeSelectorTerms\":[{\"matchExpressions\":null}]}}},\"containers\":[{\"command\":[\"/usr/local/bin/kube-proxy\",\"--config=/var/lib/kube-proxy/config.conf\",\"--hostname-override=$(NODE_NAME)\"],\"env\":[{\"name\":\"NODE_NAME\",\"valueFrom\":{\"fieldRef\":{\"apiVersion\":\"v1\",\"fieldPath\":\"spec.

[2019-06-13 02:00] liuzhenhee commented on #690
The edge_core log part 4:
2019-06-12 01:10:31.457 -07:00 INFO edged/edged.go:730 start sync addition for pod [kube-proxy-l7s8c]
2019-06-12 01:10:31.458 -07:00 INFO edged/edged.go:744 success sync addition for pod [kube-proxy-l7s8c]
2019-06-12 01:10:31.459 -07:00 INFO edged/edged.go:730 start sync addition for pod [nginx-deployment-d86dfb797-6vq2l]
2019-06-12 01:10:31.459 -07:00 INFO edged/edged.go

[2019-06-13 02:01] liuzhenhee commented on #690
The edge_core log part 5:
2019-06-12 01:10:31.743 -07:00 INFO metamanager/msg_processor.go:418 get a message {Header:{ID:b5b3afff-0e11-4b08-b39b-1a1b85909502 ParentID: Timestamp:1560327031730 Sync:true} Router:{Source:edged Group:meta Operation:query Resource:kube-system/secret/kube-proxy-token-978sd} Content:<nil>}
2019-06-12 01:10:31.744 -07:00 INFO metaclient/metaclient.go:86 send sync message

[2019-06-13 02:02] liuzhenhee commented on #690
The edge_core log part 6:
2019-06-12 01:10:31.909 -07:00 INFO metaclient/metaclient.go:86 send sync message kube-system/secret/kube-proxy-token-2fvxv successed and response: {{7990b7b2-5465-4061-8aa9-daba6e7b7aed 32facfbf-8fc1-4d97-aa6d-84ad9cc02ae1 1560327031905 false} {metaManager meta response kube-system/secret/kube-proxy-token-2fvxv} [{"data":{"ca.crt":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1

[2019-06-13 02:03] liuzhenhee commented on #690
The edge_core log part 7:
2019-06-12 01:10:31.822 -07:00 INFO metaclient/metaclient.go:86 send sync message kube-system/secret/kube-proxy-token-6mvhr successed and response: {{0fc6f2db-39d9-4b9d-a999-4804ea123c00 b0df9250-44d8-4d81-9cea-8fc01baed5eb 1560327031822 false} {metaManager meta response kube-system/secret/kube-proxy-token-6mvhr} [{"data":{"ca.crt":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1

[2019-06-13 02:04] liuzhenhee commented on #690
The edge_core log part 8:
2019-06-12 01:10:31.896 -07:00 INFO metaclient/metaclient.go:86 send sync message kube-system/secret/kube-proxy-token-rthts successed and response: {{b5ab3fe2-59b8-4cf5-9c73-22bfd582f9d0 48e6d7de-930a-44cd-888f-56739fa8e2a7 1560327031889 false} {metaManager meta response kube-system/secret/kube-proxy-token-rthts} [{"data":{"ca.crt":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1

[2019-06-13 02:42] xiayanshangda commented on #691
@subpathdev i have tried this method yesterday,but not successful
![image](https://user-images.githubusercontent.com/39492112/59399773-da2e8180-8dc7-11e9-9ef0-f9c77e44b8cf.png)
how to know the version of kubernetes

[2019-06-13 04:25] rohitsardesai83 commented on #691
@xiayanshangda , please see this: https://github.com/kubeedge/kubeedge/tree/master/keadm#limitation

[2019-06-13 05:20] #675 closed

[2019-06-13 05:21] rohitsardesai83 commented on #241
let's take this up post 1.0 release .

[2019-06-13 05:26] #683 closed

[2019-06-13 05:29] xiayanshangda commented on #691
@rohitsardesai83  I followed the installation instructions,but failed in this step
![image](https://user-images.githubusercontent.com/39492112/59406039-4799dc80-8ddf-11e9-9eb9-9a8671028734.png)

[2019-06-13 09:05] yamt opened #696 "downstream controller startup seems too eager"
**What happened**:

when `controller.NewDownstreamController` failed for some reasons,
the caller retries immediately, possibly leaking resources.

**What you expected to happen**:

- NewDownstreamController should clean up goroutines it created before returning an error. eg. it should stop managers.
- the caller should sleep for a while before making another attempt to avoid DoS'ing k8s server
-

[2019-06-13 09:07] yamt commented on #696
i observed the symptom with keadm `kubeedge init`.
it seemed that it started the controller while k8s is still starting up.

[2019-06-13 09:13] samy2019 commented on #655
@sids-b , Please look into this issue. Looks like edgecontroller for some reason is not able to open port 10000 in master (cloud) node.

[2019-06-13 09:24] yamt opened #698 "keadm should not ignore errors"
**What happened**:

in many cases, keadm ignores errors and continues.

**What you expected to happen**:

it should stop processing and prompt the user.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version: 0.3.0
- Hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Others:

[2019-06-13 09:28] sids-b commented on #691
@xiayanshangda Currently kubeedge installer doesn't support CentOS. Please see #454

[2019-06-13 09:35] xiayanshangda commented on #691
@sids-b thank you, I have found this problem

[2019-06-13 09:40] sids-b commented on #691
Thanks @xiayanshangda . I am closing this issue :) If possible do contribute the centOS installer :)

[2019-06-13 09:57] xiayanshangda commented on #691
@sids-b haha ,I believe in you.

[2019-06-13 10:10] #691 closed

[2019-06-13 10:49] qizha opened #700 "there is no servicediscovery handler in edgemesh"
**What would you like to be added**:
Add the LB handler to handler the service discovery capability

**Why is this needed**:
Need to pick up a instance from service/endpoints definition

[2019-06-14 02:13] yamt commented on #288
IMO, the majority of doc should stay within the repo because it helps to keep code and doc in sync.

the md/html mismatch issue can be fixed programmatically. Like https://github.com/kubeedge/kubeedge/pull/704/commits/13da7623373c310d52811c2f62f95222080cff25

[2019-06-14 02:43] kadisi opened #705 "kubeedge need add dep check ci"
**What would you like to be added**:

kubeedge need add dep check ci  to check if imports, Gopkg.toml, and Gopkg.lock are in sync
**Why is this needed**:
check kubeedge need add dep check ci

[2019-06-14 02:46] kadisi commented on #705
when i exec `dep check`, it output out of sync error:
[code]

[2019-06-14 06:48] congfairy commented on #454
I have fulfilled the kubeedge installer for centos based on the ubuntu version.I have tested the code and it works. My git is  git@github.com:congfairy/kubeedge.git.I hope it could help .

[2019-06-14 07:24] subpathdev commented on #454
@congfairy please create a pull request

[2019-06-14 09:34] #663 closed

[2019-06-14 10:04] #705 closed

[2019-06-14 10:49] sids-b commented on #454
@congfairy , it would be great if you could raise a PR :)

[2019-06-14 10:52] #643 closed

[2019-06-14 11:01] congfairy commented on #454
Ok,I will do that.

                            cong

                                    邮箱：congfairy2536@gmail.com

Signature is customized by Netease Mail Master

            On 06/14/2019 18:49, Siddharth Bhadri wrote: @congfairy , it would be great if you could raise a PR :)

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread

[2019-06-16 11:45] anvithks commented on #288
@yamt the AutoStructify option seems to be something that can help.
Thanks.

[2019-06-17 04:39] #662 closed

[2019-06-17 08:33] subpathdev opened #709 "updating device values"
**What happened**:
[code]

the concrete problem seems to be this:
[code]

I've create an minimal example to understand this problem: https://play.golang.org/p/JepBWmp_YxD
I think the problem is this:
 - json.Marshal doesn't remove the desired field

An possible solution is could the Usage of Struct-Pointer as TwinValues.

**What you expected to happen**:
Updating the values of a device in the kube

[2019-06-17 09:29] subpathdev commented on #709
also an valid solution could be this one:
diff --git a/cloud/pkg/devicecontroller/apis/devices/v1alpha1/device_instance_types.go b/cloud/pkg/devicecontroller/apis/devices/v1alpha1/device_instance_types.go
index d7f91bc..d2a3c82 100644
--- a/cloud/pkg/devicecontroller/apis/devices/v1alpha1/device_instance_types.go
+++ b/cloud/pkg/devicecontroller/apis/devices/v1alpha1/device_instance_types.go
@@ -1

[2019-06-17 09:30] subpathdev commented on #709
I like the second solution. Thoughts?

[2019-06-17 10:39] sujithsimon22 opened #711 "Device Type Metadata getting overwritten to "string" type"
**What happened**:
Device instance Metadata gets overwritten to "string" value even if it is created with "int" value

**What you expected to happen**:
The metadata type given by user should be retained instead of overwriting it

**How to reproduce it (as minimally and precisely as possible)**:
1. Setup kubeedge cloud and edge
2. Create device model and a device instance with desired metadata type

[2019-06-17 10:59] sids-b commented on #711
I think the problem is in these 2 lines

[2019-06-17 11:00] rohitsardesai83 commented on #709
thanks @subpathdev for raising the issue. Just wanted to check if you have applied the new yamls for the device model and device instance crds : https://github.com/kubeedge/kubeedge/pull/669

this PR enforces some required fields in the schema. Have you applied the schema with these validations ?

[2019-06-17 11:16] subpathdev commented on #711
Compare to issue #681

[2019-06-17 11:35] subpathdev commented on #709
Yes I've used the new yamls.

[2019-06-18 01:54] mazengxie commented on #646
Need we modify kubeedge code?

mazengxie@126.com

发件人： Toper
发送时间： 2019-06-06 18:00
收件人： kubeedge/kubeedge
抄送： mazengxie; Mention
主题： Re: [kubeedge/kubeedge] edge node reboot，but pod cannot recover (#646)
@mazengxie , I fond the terminating pod's namespace is wrong too, but after clean edge_core.log/edge.db and repreduce this problem, all of the pod's namespaces is correct.
edge_core.log shows edg

[2019-06-18 05:54] #711 closed

[2019-06-18 06:43] subpathdev commented on #681
is fixed by pr #712

[2019-06-18 08:31] zhanglu0704 opened #718 "using “fieldPath: spec.nodeName” Error."
**What happened**:
    When I apply daemonset in kubeedge ，I used the "valueFrom: fieldRef:  fieldPath: spec.nodeName" to set node name as env value.
    But I fand the pod's status is false, and got the ERROR log:"F0617 11:47:36.114866       1 main.go:65] MY_NODE_NAME environment variable not set".
    I check the env value in the container —— is empty， But I check the pod's info as "kubectl get

[2019-06-18 08:56] zhanglu0704 opened #719 "pod use hostname to communicates"
**What would you like to be added**:

I found that edge nodes were only allowed to use hostport,But we need to deploy an application that communicates with each pods  via hostname.

[2019-06-19 03:50] #640 closed

[2019-06-19 08:24] kadisi commented on #399
@CindyXing please assign to me

[2019-06-19 09:31] sujithsimon22 opened #722 "User guide for device CRD"
**What would you like to be added**:
There should be a user guide available for device CRD feature

**Why is this needed**:
A user guide would help new users understand the usage of the feature.

[2019-06-19 09:44] #624 closed

[2019-06-19 09:47] rohitsardesai83 opened #724 "Remove commands defined as constants from e2e tests"
**What would you like to be added**:

Currently our e2e tests need to bring up the edgecontroller , edgecore processes . For these commands , constants have been here :

https://github.com/kubeedge/kubeedge/blob/master/tests/e2e/constants/constants.go#L4

It's better we remove such commands from constants and put some scripts which can be called via os.exec().

**Why is this needed**:

Better prog

[2019-06-19 09:47] sids-b opened #725 "Reliable message delivery from cloud to edge"
**What would you like to be added**:
Create a mechanism to make sure each message is delivered reliably to edge.

**Why is this needed**:
In offline scenarios, when there is an update in pods or device, the message is not send to edge and it is lost. So the edgeNode is not aware of the changes.

[2019-06-19 09:49] sids-b commented on #725
cc @kadisi @shouhong @chendave @subpathdev

[2019-06-19 09:53] Vivek1012 commented on #648
Hi @dragon9783,

can you please close the issue, if there is no proper findings regarding the same or else provide the follow on steps to recreate the issue.

[2019-06-19 09:54] kadisi commented on #725
please assign to me

[2019-06-19 09:58] rohitsardesai83 commented on #725
/assign @kadisi .

[2019-06-19 09:59] rohitsardesai83 commented on #725
Let's come up with some kind of design first as to how can we achieve this.

[2019-06-19 09:59] kadisi commented on #725
@rohitsardesai83 ok

[2019-06-19 11:34] anyushun opened #726 "dependencies version incorrect"
**What happened**:some dependencies version is behind, get CI failed when create pull request to kubeedge

**What you expected to happen**:
all dependencies version keep correct

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:
- Hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `unam

[2019-06-20 05:34] xiayanshangda opened #729 "a problem about keadm init when installing kubeedge"
I use ubuntu 16.04.5 LTS. when I install kubeedge, the first time execute "keadm init", the result is
![image](https://user-images.githubusercontent.com/39492112/59823172-dcf91b80-935f-11e9-8374-bba6b0881ca0.png)

then, I execute  "keadm init" again, the result is
![image](https://user-images.githubusercontent.com/39492112/59823210-09ad3300-9360-11e9-92e6-f2d576e9832c.png)

how to solve this probl

[2019-06-20 06:34] xiayanshangda commented on #729
@samy2019 @srivatsav123

[2019-06-20 06:58] xiayanshangda commented on #729
@sids-b @rohitsardesai83

[2019-06-20 10:55] #722 closed

[2019-06-20 13:16] Warok21 opened #733 "Clarification during installation"
Hi,
During the installation of KubeEdge, on [this web site ](https://docs.kubeedge.io/en/latest/setup/setup.html)
they say to modify

before clonning the repository. It would be more clear if you change this.

Warok

[2019-06-20 13:23] sujithsimon22 opened #734 "Bluetooth mapper trying to use data converter for reading even when data converter not specified"
**What happened**:
Bluetooth mapper trying to use data converter for reading even when data converter is not specified in the device model

**What you expected to happen**:
Bluetooth mapper should report the data that is read as it is without converting it if no conversion data is specified

**How to reproduce it (as minimally and precisely as possible)**:
Setup Kubeedge
Apply device model and dev

[2019-06-20 13:23] sujithsimon22 commented on #734
/assign @sujithsimon22

[2019-06-20 17:13] #734 closed

[2019-06-21 05:58] rohitsardesai83 opened #739 "Update docs.kubeedge.io"
**What would you like to be added**:

Update docs.kubeedge.io with the following :

1. Bluetooth mapper
2. Modbus mapper
3. Edge site
4. Device CRD / device controller
5. CRI support with containers
6. Edge mesh
7. Include installer documentation

**Why is this needed**:
The documentation needs to reflect all the new features we have introduced since 0.3 release.

[2019-06-21 05:58] rohitsardesai83 commented on #739
/assign @naveensriram , @sids-b , @rohitsardesai83 , @kevin-wangzefeng , @qizha

[2019-06-21 06:54] kadisi commented on #725
@rohitsardesai83 @sids-b

take websocket as an example , we need to deal with  two things.

one is write message error , we need to judge whether this error is ErrCloseSent.
https://github.com/kubeedge/kubeedge/blob/master/cloud/pkg/cloudhub/handler/eventhandler.goL255
[code]

add the following judgement:
[code]
if we found this is `ErrCloseSent`, we need cache this msg. so this is the second thin

[2019-06-21 08:36] Warok21 opened #740 "Error while make all"

[2019-06-21 08:40] #740 closed

[2019-06-21 09:35] sujithsimon22 opened #742 "Documentation for device controller missing"
**What would you like to be added**:
Documentation for device controller is missing and needs to be added.

**Why is this needed**:
It would help users understand the implementation of device controller

[2019-06-21 14:51] #733 closed

[2019-06-21 15:44] qizha opened #748 "Change to use gomod to manage the dependencies"
**What would you like to be added**:
Use gomod to manage the dependies and remove the vendor from the project

**Why is this needed**:
To manage the dependiences more efficient

[2019-06-21 21:26] anyushun opened #750 "get panic when send request to edgemesh tcp server"
**What happened**:
get panic when send a request to edgemesh, stack is:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:
- Hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Others:

[2019-06-21 22:33] #750 closed

[2019-06-22 06:05] liangyuanpeng opened #753 "keadm init error"
i am trying to keadm init
[code]

and i got some err:
[code]

OS:ubuntu16

so what should i do?

[2019-06-22 15:32] gpinaik opened #754 "Pods created using CRI on deletion remain in terminating status"
**What happened**: Pod created using CRI like containerd on deleteion in terminating status

**What you expected to happen**: Pod should be removed from pod list

**How to reproduce it (as minimally and precisely as possible)**: Create pod using CRI like containerd. Delete the pod. Observe status using kubectl.

**Anything else we need to know?**:

**Environment**: Containerd runtime
- KubeEdge ve

[2019-06-23 17:52] #742 closed

[2019-06-23 19:04] sids-b commented on #295
CRI support has been merged.

[2019-06-23 19:04] #295 closed

[2019-06-23 19:43] #754 closed

[2019-06-24 02:14] anyushun opened #769 "Containerd does not support port mapping"
**What happened**:create a deployment with hostPort, it not work

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:release-1.0
- Hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Others:

[2019-06-24 03:31] anyushun opened #770 "When the service selector is updated, the associated pods cannot be synchronized to the edge node."
**What happened**:When the service selector is updated, the associated pods cannot be synchronized to the edge node.

**What you expected to happen**:the associated pods be synchronized to the edge node when service selector is updated.

**How to reproduce it (as minimally and precisely as possible)**:
1. create a service with selector:```app: myapp```(no pod matched)
2. update the service selecto

[2019-06-24 05:26] todayisgood opened #779 "Unable to get GPU information of edge nodes"
**What happened**:

The edge node is GPU type, but can't get the gpu resource info when run `kubectl get node edge-node -o yaml` , olny get the cpu and memory info:
[code]

**What you expected to happen**:

The edgecore can report GPU information to the cloud，and can get the  “nvidia.com/gpu”  info  when  run `kubectl get node edge-node -o yaml` , like this:
[code]

**How to reproduce it (as minim

[2019-06-24 07:49] #709 closed

[2019-06-24 10:04] rohitsardesai83 commented on #196
@pavan187 , can you please check if this issue still holds true ?

[2019-06-24 10:05] rohitsardesai83 commented on #260
@tedli , what can we do about this issue ?

[2019-06-24 10:06] rohitsardesai83 commented on #232
@mryalamanchi , did you get a chance to look at the device crd feature ?

[2019-06-24 10:21] tedli commented on #260
@rohitsardesai83
My solution of syncing all pods every time edge connect to cloud indeed lacks of consideration, and according to the discussion above, I agree with introducing cache mechanism. However by doing so things turns complicated. I think it should be considered at  architecture level of edge-cloud communication. It's a big topic at code level. (AFAIK edgecontroller cannot run with replic

[2019-06-24 17:09] rohitsardesai83 commented on #729
can you try from a clean state again ? looks like there were problems downloading the tar balls.

[2019-06-24 17:11] rohitsardesai83 commented on #779
@todayisgood , thanks for reporting this. Did you get a chance to look for possible causes ?

[2019-06-24 17:12] rohitsardesai83 commented on #748
:+1:

[2019-06-24 17:13] rohitsardesai83 commented on #726
@anyushun , can we close this ?

[2019-06-24 17:14] rohitsardesai83 commented on #698
@yamt , do you have a plan to address the problems step by step ? it would be good if we can have work items for solving the ignored errors.

[2019-06-24 17:19] rohitsardesai83 commented on #718
@zhanglu0704 , currently edged doesn't support environment variables.
@gpinaik , can you please take a look ?

[2019-06-24 17:22] rohitsardesai83 commented on #696
@yamt , thanks for pointing out. did you have a chance to codify this approach you suggested ?

[2019-06-24 17:27] rohitsardesai83 commented on #661
@vizero1 ,

What exactly is the rChannel and why is it removed for my master node instance-1? Can somebody explain me that?

every edge node is connected to the cloud node via a dedicated receiver channel i.e rChannel.
since the master node is not an edge node , you see messages indicating the channel is removed .
This was fixed as part of https://github.com/kubeedge/kubeedge/pull/294

Another que

[2019-06-25 01:19] #726 closed

[2019-06-25 07:56] subpathdev commented on #681
The type will be overwritten somewhere => reopening issue

[2019-06-25 09:03] HeathKang opened #803 "docs: bug of release_package.md, urls were wrong"
Just a little urls location bug when I following the steps to run kubeedge. The contents of  `kubeedge/docs/getting-started/release_package.md`:

I think URLS were wrong since I used the commands just got HTML file. And the right urls are below:
## Generate Certificates
[code]
- Create device model and device CRDs
[code]

[2019-06-25 09:25] subpathdev commented on #681
OK I think this is only a documentation problem. By creating a new device we have to set the value and the type in the desired field and not in the reported field. (The reported field will be ignored)

Also the ValueType which is set by the DeviceModel.yaml, will be ignored.

[2019-06-25 09:27] rohitsardesai50 opened #804 "Add dockershim support in edged"
**What would you like to be added**:
Add dockershim support in edged

**Why is this needed**:
Currently edged talks to the docker runtime using legacy docker tools ( docker client ).
The preferred interface to talk to any container runtime is CRI. dockershim allows us to talk to the docker runtime via the CRI interface.

[2019-06-25 09:46] jwzl opened #805 "edgecore can connect to edgecontroller by websocket, but use "kubectl get nodes" show that the edge node is not ready."
I follow this guide :https://docs.kubeedge.io/en/latest/setup/setup.html#deploy-the-edge-node to setup the kubeedge.
the cloude side in k8s pos, and edge side run in  docker.

After this , I use "kubectl get nodes" to get the edge node status, and show that edge node is not  ready.

find the log about  edgecontroller, and find this err log:
new downstream controller failed with error: Get https://

[2019-06-25 10:39] rohitsardesai83 opened #806 "Upgrade to Kubernetes 1.15"
**What would you like to be added**:
Currently kubeedge vendors in kubernetes 1.10.9 .
Gopkg.toml :

[code]

Need to upgrade to latest Kubernetes release ( 1.15 )

**Why is this needed**:
Align edged with the latest architectural changes that Kubernetes has gone through from 1.10.9 to 1.15, leverage support of CSI for PV/PVC  , have a clean separation between vendored code and support added in edg

[2019-06-25 10:41] rohitsardesai83 opened #807 "edgemesh: Support edge-cloud communication"
**What would you like to be added**:
Support communication of applications between cloud and edge.

**Why is this needed**:
Currently, pod to pod communication between edge nodes in the same network is supported. Edge to cloud communication is required.

[2019-06-25 12:05] gilles537 commented on #753
It looks like you already have a cluster running. Keadm init creates a cluster for you.

[2019-06-25 13:32] sujithsimon22 opened #808 "Bluetooth mapper should only discover the characteristics once"
**What would you like to be added**:
Bluetooth mapper currently discovers characteristics each time before performing operations, this is not an efficient method. It should only discover it once at the beginning and reuse the same information

**Why is this needed**:
Bluetooth mapper currently discovers characteristics each time before performing operations, this is not an efficient method and may

[2019-06-25 13:32] sujithsimon22 commented on #808
/assign @sujithsimon22

[2019-06-25 14:38] subpathdev commented on #748
/assign subpathdev

[2019-06-25 14:53] subpathdev opened #810 "split ci in different stages"
**What would you like to be added**:
It could be useful to split the CI in different stages.
- build all parts
- unit tests
- e2e test
- cross build
....

**Why is this needed**:
- increase clearity of the ci tests

toughs?

[2019-06-25 18:54] Warok21 opened #811 "Failed to list *v1.Secret: Get http://localhost:8080/api/v1/secrets?limit=500&resourceVersion=0: dial tcp 127.0.0.1:8080: socket: too many open files"
**What happened**:
[code]

**What you expected to happen**: the edge controller should start normaly

**How to reproduce it (as minimally and precisely as possible)**:

(using the https://docs.kubeedge.io/en/latest/setup/installer_setup.html)

**Anything else we need to know?**:
Modified
`vim cloud/conf//controller.yaml` with     `master: http://ipToaccesstoMyMaster:8080`
And added the two followi

[2019-06-25 20:21] subpathdev commented on #811
the error to many open files is reported by your file system. To solve this problem you can raise the limit of open files. Here you can find an how to: http://posidev.com/blog/2009/06/04/set-ulimit-parameters-on-ubuntu/

[2019-06-25 22:27] subpathdev commented on #748
@qizha do you have started with this issue?

[2019-06-26 05:54] Warok21 commented on #811
Apparently, your solution worked, but now I'have a different error:
[code]
Anyway, thanks :)

[2019-06-26 06:19] rohitsardesai83 commented on #811
Please apply the device crd yamls : https://github.com/kubeedge/kubeedge/blob/master/docs/setup/setup.md

[2019-06-26 06:19] rohitsardesai83 commented on #811
[code]

[2019-06-26 07:33] #648 closed

[2019-06-26 07:44] Warok21 commented on #811
My bad, I forgot those :)
I also forget to install a network addon :https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/
Is this error :
`2019-06-26 09:41:31.195 +02:00 ERROR channelq/channelq.go:103 rChannel for edge node kubernetesmaster is removed`
bad?

[2019-06-26 07:54] subpathdev commented on #811
No the message says, that your master node hasn't an own rChannel. I think we have to remove this message for not edge nodes.

[2019-06-26 07:58] Warok21 commented on #811
This message is from the log of the master:
`2019-06-26 09:41:31.195 +02:00 ERROR channelq/channelq.go:103 rChannel for edge node kubernetesmaster is removed`
And this one is from the client who want to join the cluster :
 `Post http://86.119.28.207:8080/api/v1/nodes: dial tcp 86.119.28.207:8080: i/o timeou`

[2019-06-26 12:27] qizha commented on #748
@subpathdev not yet, please go ahead. thanks

[2019-06-26 13:38] #811 closed

[2019-06-26 13:45] Warok21 opened #816 "Failed to list *v1alpha1.Device: the server could not find the requested resource (get devices.devices.kubeedge.io)"
**What happened**: When checking the  `edg econtroller.log`

**What you expected to happen**:Controller working correctly

**How to reproduce it (as minimally and precisely as possible)**:`/keadm init`
Installing calico :https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/
adding the following line
[code]
and changed `address: 0.0.0.0` to `address: <your IP

[2019-06-26 19:19] subpathdev commented on #748
I get the following error: go: github.com/Sirupsen/logrus@v1.4.2: parsing go.mod: unexpected module path "github.com/sirupsen/logrus"

As you can see on the github.com/docker/docker dependencies they are using github.com/Sirupsen/logrus

I think the problem can be found in the usage of the caps in Sirupsen. If anybody knows a solution feel free to contribute. (currently you can find the actual sta

[2019-06-27 03:18] jwzl commented on #805
Ooops, Finally, I found this issue about the k8s cluster:  the DNS can't resloved the url. When I fix my cluster DNS issue , then it work well.

[2019-06-27 03:18] #805 closed

[2019-06-27 04:31] #739 closed

[2019-06-27 04:34] rohitsardesai83 commented on #803
@HeathKang , thanks for pointing this out , can you please raise a PR with this fix ?

[2019-06-27 04:34] rohitsardesai83 commented on #803
@srivatsav123 , just fyi.

[2019-06-27 04:41] rohitsardesai83 commented on #816
@Warok21 , what is the current problem you are facing ? Is the edge controller up and running , and the error logs related to device crds are still showing up even after applying the crd yamls ?

Can you check which kubernetes cluster you are connected to ?

[code]

[2019-06-27 04:44] HeathKang commented on #803
@rohitsardesai83 sure

[2019-06-27 04:53] rohitsardesai83 commented on #779
[code]

@todayisgood , can you please set  gpu-plugin-enabled: true  in conf/edge.yaml

[2019-06-27 04:54] rohitsardesai83 commented on #719
@qizha , @sids-b , @anyushun

[2019-06-27 05:07] rohitsardesai83 commented on #655
@Netonline2016 , did you check the edgecontroller.log file ?
@srivatsav123 , can you please help debug the issue ?

Just fyi ,
The 1.0.0 version of the installer is out , you can try with this installer .

[2019-06-27 05:25] rohitsardesai83 commented on #679
yes , it sounds logical to move things which users want to control on device via spec and not status.
let's solicit more feedback from users / community ?

[2019-06-27 05:26] rohitsardesai83 commented on #657
@pavan187 , can you please check this issue ?

[2019-06-27 05:53] rohitsardesai83 commented on #810
:+1: , can we have some proposal / design on how to do this ?

[2019-06-27 06:15] rohitsardesai83 commented on #725
@kadisi , the idea sounds good to use work queue, we need to think more about :

1. what happens if we get an event from the queue and for some reason can't process the event. since it is not marked done, the other events in the queue will be blocked or starved?
2. what happens if there are some events in the queue and the edge controller crashes ?

I would suggest we create a design proposal for

[2019-06-27 06:18] edisonxiang commented on #191
we may close this issue. what do you think about that?
@sids-b @rohitsardesai83

[2019-06-27 06:43] kadisi commented on #725
@rohitsardesai83 ok

[2019-06-27 06:48] Warok21 commented on #816
`sudo systemctl status kubelet.service` say :  active (running).
I run the

[2019-06-27 08:11] subpathdev commented on #810
@rohitsardesai83 I will create it.

[2019-06-27 08:13] subpathdev commented on #748
If we use another version of github.com/docker/docker the problem, which I described above should be solved. I will focus this later.

[2019-06-27 08:17] sids-b commented on #810
@subpathdev , all stages are executed serially. So it increases the time required for CI to pass for a PR. Since our e2e and UT's take a lot of time to pass, we currently have only 2 stages
1) dep check
2) All other checks
Lets carefully think of the order of stages as well as jobs in a stage so as to reduce the time in CI. (for eg: e2e and UT in same stage).

[2019-06-27 08:19] sids-b commented on #816
@Warok21 , use this command of see if yaml's re applied
[code]

[2019-06-27 08:24] sids-b commented on #816
And restart the edgecontroller after this

[2019-06-27 08:26] Warok21 commented on #816
Still the same error in the log after, `keadm reset`, and then `keadm init`

[2019-06-27 08:48] Warok21 commented on #816
Btw, in :"

Under "controller, kube, kubeconfig" it's empty, should I change it?

[2019-06-27 08:52] #808 closed

[2019-06-27 10:24] kadisi commented on #399
@CindyXing @sids-b  PTAL

[2019-06-27 10:48] sids-b commented on #748
@subpathdev ,which version of docker you used to solve the problem ?

[2019-06-27 12:30] anyushun opened #819 "edgemesh end to end test guide unclear"
**What happened**:
1. endpoint in the picture incomplete
2. server deployment no need add init container because of no need to traffic hijacking

**What you expected to happen**:doc clear

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:v1.0.0
- Hardware configuration:
- OS (e.g. from /etc/os-release):
- Ke

[2019-06-27 12:50] anyushun commented on #770
Tested again, did not reproduce the problem

[2019-06-27 12:50] #770 closed

[2019-06-27 12:57] #803 closed

[2019-06-27 17:43] ryan-esty commented on #268
This might be a a little late but if you have a edge_controller for each customer does that really scale well if you are using name spaces per customer? If there are a bunch of customers with only a couple of devices you won't be able to share an edge_controller and you will only have a couple of devices per edge controller. I'm not sure how big the edge_controller is but it seems wasteful to have

[2019-06-28 08:56] kadisi opened #822 "question about connect Event in EnrollNode()"
**What would you like to be added**:
in EnrollNode() function,  it will publish connectEvent to `controller` group.
https://github.com/kubeedge/kubeedge/blob/0885ec6a1477a0388163156f3ded3b15029ceadb/cloud/pkg/cloudhub/handler/eventhandler.go#L176

but i can not find out where to handler this event.

in dispatchMessage()  function, it also do not handler this event, https://github.com/kubeedge/kube

[2019-06-28 09:03] #819 closed

[2019-06-28 09:09] #822 closed

[2019-06-28 09:21] sids-b commented on #725
@kadisi , Also we need to be careful with in-memory queue. An edgeNode may be offline for a long period of time. In this case it will consume a lot of memory.
Also we can think of few mechanisms to save B/W for eg:
If there are 2 pod update messages when edgenode is offline, we only send the last one...

Thoughts ?

[2019-06-28 09:22] rohitsardesai83 commented on #816
If the api server is running in secure mode , then you can pass the location of the kubeconfig file.
If not , then this can be left empty.

[2019-06-28 09:29] rohitsardesai83 commented on #485
/close

[2019-06-28 09:29] #485 closed

[2019-06-28 10:17] kadisi commented on #725
@sids-b yes, i am thinking about it.

[2019-06-28 10:43] rohitsardesai83 opened #823 "devicecrd : device model property type can be only string or int64. Other types are not supported."
**What would you like to be added**:
When creating a device model , we need to validate if the property type is one of [ int64 , string ].

**Why is this needed**:
Validation of crds is needed for ensuring valid metadata is persisted for use by mappers / platform.

[2019-06-28 10:45] rohitsardesai83 opened #824 "device crd: Reject property visitors other than bluetooth, modbus and opcua protocol."
**What would you like to be added**:
When creating a device model, add validation to support Property visitors for bluetooth, modbus and opcua protocols only. Other protocol visitors are not supported.

**Why is this needed**:
Validation of crds is needed for ensuring valid metadata is persisted for use by mappers / platform.

[2019-06-28 10:53] lucifercr07 opened #825 "Unable to deploy local image as pod"
**What happened**:
Tried to deploy a local docker image to edge node. The status of pod is always in `Container creating` state. Even set the `imagePullPolicy` in yaml file which seems to not being adhered while deployment.

root@ubuntu:~# kubectl describe pod liota-pod-6f5585cc59-xtzg7
Name:               liota-pod-6f5585cc59-xtzg7
Namespace:          default
Priority:           0
PriorityClassNa

[2019-06-28 10:56] rohitsardesai83 opened #826 "devicecrd: Reject protocol configs for protocols other than OPC UA , Modbus and Bluetooth."
**What would you like to be added**:
While creating a device instance, protocol configs are optional, but if provided, they can be one of [OPC UA, Modbus, and Bluetooth]. Other protocol configs are not supported.

**Why is this needed**:
Validation of CRDs is needed for ensuring valid metadata is persisted for use by mappers/platform.

[2019-06-28 10:57] rohitsardesai83 commented on #631
/close

[2019-06-28 10:57] #631 closed

[2019-06-28 11:04] rohitsardesai83 commented on #825
@lucifercr07 , can you start edge_core with log level of ERROR and share the edge_core log  ?

[2019-06-28 11:08] rohitsardesai83 opened #827 "devicecrd: Allow deletion of device model if no devices are referring to it"
**What would you like to be added**:
Deletion of device model should succeed only if there are no device instances referring to it.

**Why is this needed**:
Currently , we allow deletion of a device model without checking if there are any device instances referring to it. There will be mappers running on the edge consuming the config maps which would still refer to these devicemodels for accessing

[2019-06-28 13:39] ryan-esty commented on #268
As pointed out to me on the message boards it seems my concern for the edgeController is not necessary it seems the edgeController can watch in all namespaces which means the cloud portion can easily scale.

[2019-06-29 04:00] Baoqiang-Zhang opened #830 "implment docker runtime as one of remote container runtime"
**What would you like to be added**:
implment docker runtime as one of remote container runtime as in kubelet
**Why is this needed**:
current, edged use switch case way to support docker and remote container runtime, we want to implment docker runtime as one of remote container runtime.
https://github.com/kubeedge/kubeedge/blob/91cdb130cc7f6196e1cc5a5de6c6ff57bc1ca975/edge/pkg/edged/edged.go#L241-

[2019-06-29 09:48] edisonxiang commented on #538
Hi @pavan187 @srivatsav123 @sids-b @rohitsardesai83
I tested in my environment.
I found the updatenodestatus function in the upstream.go may cost 400ms once.
and the message will stuck at this function.
As the message numbers are increased, this nodestatus will not be updated.
I tested 200 edge nodes, some node status will be firstly become Ready,
and then become NotReady. The node status is not s

[2019-07-01 04:47] pavan187 commented on #538
@edisonxiang , Thanks for your input, Yes, with theese configurations we do the test again in our env for #538, @529, #488

[2019-07-01 07:20] srivatsav123 commented on #538
@edisonxiang 100 nodes are coming up in 55 secs after changing qps: 200
    burst: 400..
Thanks for your analysis and solution..

[2019-07-01 08:27] edisonxiang commented on #538
@pavan187 @srivatsav123 great. Thanks your feedback.

[2019-07-01 09:45] OlympusHo opened #839 "cross build kubeedge edge failed(ARM64)"
**What happened**:
cross build kubeedge edge failed(ARM64)
**What you expected to happen**:
cross build kubeedge edge success(ARM64)!
**How to reproduce it (as minimally and precisely as possible)**:
cd $GOPATH/src/github.com/kubeedge/kubeedge/edge
sudo apt-get install gcc-arm-linux-gnueabi
export GOARCH=arm64
export GOOS="linux"
export GOARM=7
export CGO_ENABLED=1
export CC=arm-linux-gnueabi-gcc

[2019-07-01 20:22] subpathdev commented on #748
We have also to increase the version of k8s.io/[kubernetes,api,...]. The kubernetes package include docker and I run into the same sirupsen error.

Currently I use ``gotip`` instead of ```go```.  Gotip shows the include path, so we can identify the package which make problems. As an example:
[code]

vs
[code]

[2019-07-01 20:24] subpathdev commented on #748
@sids-b If I knew the required version, I will write the required versions here.

[2019-07-01 20:37] subpathdev commented on #839
can you please try this command:
[code]

[2019-07-02 00:53] OlympusHo commented on #839
Thanks for your reply!
cross compile success as your reply,but the edge can't  run up, error infos as below:

root@c05c2f13d4f75373a39f60b27d8d4cb9:/home/olympus/kubeedge/edge# ./edge_core
2019/07/02 00:43:04 WARN: empty configurtion from [CommandlineSource]
2019/07/02 00:43:04 WARN: empty configurtion from [MemorySource]
New file source added for configuration: /home/olympus/kubeedge/edge/conf/ed

[2019-07-02 02:25] OlympusHo commented on #839
change the CC=arm-linux-gnueabi-gcc to CC=aarch64-linux-gnu-gcc，compile success!

[2019-07-02 02:25] #839 closed

[2019-07-02 03:42] RainbowMango commented on #28
/assgin @xyjin

[2019-07-02 04:39] rohitsardesai83 opened #843 "devicecrd: Handle device model updates"
**What would you like to be added**:
1. We create a device model, device instance referring to the model.
2. The mapper consumes the config map generated after creating the device instance, connects to the device and starts doing read/write operations on the device.
3. Now say we want to update a device property or a visitor in the model or delete a device property from the model.

| Update Type

[2019-07-02 05:46] sids-b commented on #748
@subpathdev , can we try something like this  ??https://stackoverflow.com/questions/55537287/unexpected-module-path-github-com-sirupsen-logrus

[2019-07-02 05:50] sids-b commented on #748
Some similar discussions are happening here as well https://github.com/golang/go/issues/28489

[2019-07-02 10:18] kadisi commented on #725
@sids-b @rohitsardesai83  I think we should deal with issue #339 (pr:  https://github.com/kubeedge/beehive/pull/21)  .  Data transmission format should be resolved first and then reliable message delivery.

[2019-07-02 10:33] chendave opened #845 "creation of DeviceModel should fail if there is any misconfiguration"
**What would you like to be added**:

[code]

$ kubectl create -f crd-samples/devices/CC2650-device-model.yaml
devicemodel.devices.kubeedge.io/cc2650-sensortag created

**Why is this needed**:

The configuration doesn't follow crd schema validation, there should be a way to reject the creation.  It would be nice to have some other approach beside crd validation exposed by the updating of the yaml

[2019-07-02 10:34] chendave commented on #845
/assign

[2019-07-02 10:34] chendave commented on #845
cc @rohitsardesai83 @sids-b

[2019-07-02 10:41] chendave commented on #405
#845

[2019-07-02 10:44] sids-b commented on #845
+1

[2019-07-02 10:45] chendave commented on #845
should be under the umbrella of #405 as well.

[2019-07-02 11:20] subpathdev opened #846 "travis didn't run"
**What happened**:
CI didn't run (compare conversation to pr  #844)

**What you expected to happen**:
CI run

[2019-07-02 11:20] subpathdev commented on #846
/assign subpathdev

[2019-07-02 11:39] fisherxu opened #847 "Add golint&govet check to all the component"
**What would you like to be added**:
Add golint&govet check to all the components, and fix all the lint/vet issue exist now.

**Why is this needed**:
Make the code more standardized.

[2019-07-02 12:31] #288 closed

[2019-07-02 19:54] subpathdev commented on #748
Thank you this seems to work to solve the sirupsen bug.

[2019-07-03 05:04] rohitsardesai83 opened #852 "keadm: Introduce phases and workflow based approach"
**What would you like to be added**:
Improve the installer code by introducing phases and runners for different operations.
See https://github.com/kubernetes/kubernetes/tree/master/cmd/kubeadm/app/cmd/phases/workflow for reference

**Why is this needed**:
improved code modularity .

[2019-07-03 13:39] sujithsimon22 opened #855 "CI using a static K8s setup for e2e tests"
**What would you like to be added**:
CI is using a static K8s setup for running e2e tests. So parallel builds triggered for PRs  will cause problems while creating/deleting the kubernetes resource for device and device model in e2e tests for device management. Each build should use its own K8s setup

**Why is this needed**:
Parallel builds triggered for PRs  will cause problems while creating/dele

[2019-07-04 06:36] RocMe opened #857 "question:how edgesite communicate with cloud"
**What would you like to be added**:
Hello.I want to know how edge site  communicate with the cloud. If I use the edgesite , does it mean giving up edge_core?
**Why is this needed**:
When the cloud sends messages, how does edgesite handle it?

[2019-07-04 06:47] RocMe commented on #807
Hello,I want to know how to achieve "pod to pod communication"  in kubeedge .Can you offer the network design? Thanks.

[2019-07-04 06:57] sids-b commented on #857
@RocMe , edgesite is for scenarios where the k8s master is available in the edge network. So we have only removed the cloudhub-edgehub websocket communication. The controller directly sends pod/secret/configmap messages to metaManager.

You don't have to giveup edge_core, all modules of edge_core as well as edgecontroller will be part of edgesite except for edgehub. Curently edgesite only support

[2019-07-04 07:09] RocMe commented on #857
Thanks. The k8s master is at the edge for edgesite but k8s master is at the cloud for edge_core. If I want to send some message from cloud to edgesite part , what should I do?

[2019-07-04 09:06] #543 closed

[2019-07-04 10:13] sids-b commented on #807
Hi @RocMe , try this try this out https://github.com/kubeedge/kubeedge/blob/master/docs/guides/edgemesh_test_env_guide.md

The design proposal is here https://github.com/kubeedge/kubeedge/blob/master/docs/proposals/edgemesh-design.md

[2019-07-04 10:17] pavan187 commented on #538
Closing after verification

[2019-07-04 10:17] #538 closed

[2019-07-04 13:38] sids-b commented on #312
This issue is fixed by #850

[2019-07-04 13:38] #312 closed

[2019-07-04 13:41] sids-b commented on #278
@kexun , I think this is the expected behaviour. k8s containers are started by Kubelet and edged is unaware of it. So it kills the containers. I think even kubelet garbage collects in similar way. Closing this issue... Please reopen if I am wrong :)

[2019-07-04 13:45] sids-b commented on #612
The installer and edgesite build jobs are added in CI

[2019-07-04 13:45] #612 closed

[2019-07-04 13:45] sids-b commented on #577
@chuanyezaici , can we close this issue ?

[2019-07-04 13:46] sids-b commented on #576
This is a dup of #577 closing this issue.

[2019-07-04 13:46] #576 closed

[2019-07-04 13:50] sids-b commented on #719
Can you try out edgemesh feature ? Service name can be used to communicate between pods https://github.com/kubeedge/kubeedge/blob/master/docs/guides/edgemesh_test_env_guide.md

[2019-07-04 13:52] sids-b commented on #690
@liuzhenhee , apologies for delayed response. It is difficult to debug from such big logs. Can you please share specific error logs ? Thanks

[2019-07-04 13:54] sids-b commented on #661
ping @vizero1 , was your issue solved ?

[2019-07-04 13:54] sids-b commented on #657
Closing this issue. Didn't observe similar behaviour

[2019-07-04 13:54] #657 closed

[2019-07-04 13:55] sids-b commented on #636
@sharmmoh1983 , are you still facing this issue ??

[2019-07-04 13:56] sids-b commented on #847
Closing #518 as this issue covers the scope

[2019-07-04 13:57] sids-b commented on #518
Closing this issue as the scope is covered in #847

[2019-07-04 13:57] #518 closed

[2019-07-04 14:01] zhanglu0704 commented on #719
ok，I'll try what follow your advice,thank you.

[2019-07-04 14:42] vizero1 commented on #661
@sids-b Yes, thanks to the new release I could install kubeedge.
@rohitsardesai83 Thanks.

[2019-07-04 14:42] #661 closed

[2019-07-04 14:45] sids-b commented on #661
Great. Thanks @vizero1

[2019-07-04 15:40] vizero1 opened #860 "Kubeedge compatibility with LoadBalancer/ Ingress Controllers"
Hi guys,

I have a kubeedge cluster running with my master in Google Cloud and my node locally.
KubeEdge version is 1.0.0
I deployed a container (with a nodejs webserver) as a pod to my node and read in the documentation about the limitation to set hostPort and contaienrPort. With setting hostPort my application is now accessible from outside the cluster. But I would rather like to use a service a

[2019-07-04 18:03] Warok21 opened #861 "Stuck at ContainerCreating"
**What happened**: the pod is not deployed

**What you expected to happen**:pod deployed

**How to reproduce it (as minimally and precisely as possible)**: my deployement fails,
**Anything else we need to know?**:

[code]

[code]
[code]
If you want, here is my [deployement.yaml](https://pastebin.com/V848zWeg)
**Environment**:
- KubeEdge version:
- Hardware configuration:
- OS (e.g. from /etc/os-re

[2019-07-05 02:17] RocMe commented on #807
Thanks.

[2019-07-05 04:40] sids-b commented on #860
Thanks @vizero1 for pointing out regarding the slack link. We will fix it soon.
You can also reach out to us via our mailing list which can be found here https://github.com/kubeedge/kubeedge#contact

You can use service to access your pods. Please see an example guide here. https://github.com/kubeedge/kubeedge/blob/master/docs/guides/edgemesh_test_env_guide.md
Currently there is an issue with port

[2019-07-05 07:20] subpathdev commented on #861
can you attach the logfile from edge_core of node2?

[2019-07-05 07:28] Warok21 commented on #861
Here it is :https://pastebin.com/uy1xTcWi
Btw, I precise that my cluster seems to be OK:
[code]

[2019-07-05 07:29] subpathdev commented on #861
yes I think I know the problem but I have to check the log file.

[2019-07-05 07:29] subpathdev commented on #861
/assign subpathdev

[2019-07-05 07:34] subpathdev commented on #861
please have a look on line 24 of your log file
I think you have a problem with the name of your network interface

[2019-07-05 07:38] subpathdev commented on #861
you can get the name of your network interface by using ```ip a``` and you have to add this in your edge configuration

[2019-07-05 07:56] Warok21 commented on #861
The file to modify, is

Cause I still have the same issue

[2019-07-05 08:08] Warok21 commented on #861
Nope, it's still doesn't work with the same error :
`2019-07-05 10:07:40.942 +02:00 ERROR containers/container_manager.go:936 Cannot get host IP: failed to get network interface: eth0 err:route ip+net: no such network interface
`

[2019-07-05 08:18] subpathdev commented on #861
do you have restarted the edge?

[2019-07-05 08:19] subpathdev commented on #861
show ```ip a s eth0``` an ip address?

[2019-07-05 08:19] Warok21 commented on #861
with :`sudo systemctl restart kubelet.service`?

[2019-07-05 08:20] Warok21 commented on #861
Nope

[2019-07-05 08:22] subpathdev commented on #861
kubelet service is from kuberenetes

you can stop edge_core with the kill command and the process id (to get the process id you can use ``` ps ax | grep edge_core```

[2019-07-05 08:28] Warok21 commented on #861
Just to be sure, to restart the service, wich command should i use?
`sudo ./keadm join --` ?

[2019-07-05 08:29] rohitsardesai83 commented on #861
there are no systemd services configured for edge_core. You need to manually kill the edge_core process like how @subpathdev described in the previous comment.

[2019-07-05 08:33] Warok21 commented on #861
But the service start automatically?
Cause now I just have
[code]

[2019-07-05 08:39] subpathdev commented on #861
I think ```keadm join``` should work to start the edge_core.

[2019-07-05 08:40] Warok21 commented on #861
This will not override the changes that I've made?

[2019-07-05 08:53] sids-b opened #866 "edge_core cannot connect to edgecontroller after disconnecting once"
**What happened**:
Stopped and started edge_core, it caused problem while creating websocket connection

**What you expected to happen**:
Connect successfully via websocket

**How to reproduce it (as minimally and precisely as possible)**:
1) Start edgecontroller
2) Start edge_core
3) Stop edge_core
4) Start edge_core again
Error logs will come in both edgecontroller and edge_corethen

**Anything

[2019-07-05 08:53] sids-b commented on #866
/assign @shouhong @kexun

[2019-07-05 08:54] Warok21 commented on #861
Apparently, this erase the changes that i've made in `/etc/kubeedge/kubeedge/edge/conf/edge.yaml
`

[2019-07-05 08:57] sids-b commented on #860
@vizero1 It would be great if you could join the development effort of ingress support at edge.

[2019-07-05 09:15] vizero1 commented on #860
@sids-b Thanks for the clarification.Is the edgemesh beta version released in kubeedge 1.0.0. At least it is mentioned in the Roadmap notes. Or do I need to build kubeedge by source( master branch) to test edgemesh?
Are there any notes or information how ingress support should be implemented in kubeedge? In the proposals directory I could not find anything.

[2019-07-05 09:19] sids-b commented on #860
@vizero1 , you can try with v1.0.0 release packages as well.

Currently there is no proposal, the effort for ingress support at edge is yet to start. We will create an issue for that soon.

[2019-07-05 09:24] subpathdev commented on #861
sorry my fault

I though the edge core would only start. You can start this via your shell:
 ```cd /etc/kubeedge/; ./edge_core```

[2019-07-05 09:33] subpathdev opened #867 "add keadm only start edge_core"
**What would you like to be added**:
it should be possible to start the edge_core via keadm

**Why is this needed**:
people only know keadm so they should use that tool to start the edge_core

[2019-07-05 09:37] subpathdev opened #868 "keadm join network interface"
**What would you like to be added**:
we should add an flag to specify the network interface or auto detection of the used network interface.

**Why is this needed**:
eth0 is not the standard network interface, so we should be able to set or autodetect them

[2019-07-05 10:33] sids-b commented on #867
@subpathdev can you share a little more details ?
keadm join starts edge_core

[2019-07-05 12:23] subpathdev commented on #867
yes but it doesn't check if you have already a configuration. It will every time create a new configuration and overwrite your changes.

[2019-07-05 12:56] Warok21 commented on #861
Yeah, it worked fine. Thanks 👍

[2019-07-05 12:56] #861 closed

[2019-07-05 17:38] sids-b commented on #867
got it... +1

[2019-07-07 20:17] subpathdev opened #872 "modbus_mapper lint checking"
**What would you like to be added**:
We should add lint checking for this part. I've tried to add this via eslint but run into multiple errors.

execution:
[code]
I recieve the following errors:
[code]

**Why is this needed**:
Increase code quality

[2019-07-08 06:56] sids-b opened #874 "EdgeHub Unit Tests randomly failing"
**Which jobs are failing**:
Edge Unit Test

**Which test(s) are failing**:
EdgeHub tests in folder edgehub/ and edgehub/config

**Reason for failure**:
To test different possible configurations, the configurations in the config file are overwritten, but sometimes it take time for archaius to detect the change and load them again and test fails.

[2019-07-08 07:06] sujithsimon22 opened #875 "Add Dockerfile for Edgesite"
**What would you like to be added**:
Currently we do not have a dockerfile present for edgesite. There needs to be a Dockerfile added for edgesite which would be helpful to users who want to run edgesite as a container as opposed to running it as a binary.

**Why is this needed**:
A Dockerfile for edgesite would be helpful to users who want to run edgesite as a container as opposed to running it a

[2019-07-08 07:06] sujithsimon22 commented on #875
/assign @sujithsimon22

[2019-07-08 16:41] #875 closed

[2019-07-09 02:58] edisonxiang commented on #191
The test result is published in the kubeedge google group.
https://groups.google.com/forum/#!topic/kubeedge/GjmtkxSKegk
So let's close this issue.

[2019-07-09 02:58] #191 closed

[2019-07-09 06:05] sujithsimon22 opened #880 "Edge node not coming to ready state"
**What happened**:
While deploying cloud core and edgecore as deployments, the following errors are observed in edgecore logs
![image](https://user-images.githubusercontent.com/35599628/60860573-c7776300-a234-11e9-854b-82069d7915c6.png)
But the same logs show that the connection to the cloud was established

Due to this the edge node does not come to ready state

**What you expected to happen**:
T

[2019-07-09 06:09] sujithsimon22 commented on #880
@shouhong @kexun Could you please help me with this ?

[2019-07-09 06:21] rohitsardesai83 commented on #880
the logs mention use of closed connection. I guess #870 tries to fix this issue.
@shouhong , can you confirm ?

[2019-07-09 08:41] fisherxu opened #881 "Create and register node from edge part"
**What would you like to be added**:
Now when install kubeedge, after install the cloud part, if user want to add a edge node, must create node object by user self.
Consider create and register node all by edge part, like kubelet done in native k8s.

**Why is this needed**:
User only install edge part, no need create node manually.

[2019-07-09 12:42] mazengxie commented on #646
@Toper2035  Can you resolve this problem?

[2019-07-09 13:16] shouhong commented on #880
@rohitsardesai83 PR #870 is for bug #866 which happens when stop and then start edge node within keepalive interval.  The reproducing steps of this problem does not include stopping the edge node. It seems the reason of this problem is different from #866.

@sujithsimon22 Does this problem only happen when deploying with K8S deployment? How about directly run the edgecontroller and  edge_core as L

[2019-07-10 05:21] #830 closed

[2019-07-10 09:29] Baoqiang-Zhang commented on #825
@lucifercr07 Did you set `imagePullPolicy` as `IfNotPresent` ?

[2019-07-10 09:42] SkyRain97 opened #883 "no kubeedge-v0.3.0-linux-armhf.tar.gz found with keadm join command on ubuntu 18.04"
**What happened**:
I have init my kubeEdge cloud and was trying to join my node from a Raspberry pi 3 that ran on ubuntu mate 18.04. With keadm join <my cloud ip>, it didn't join to the cloud server.

here is my log

**Output failed:  exit status 2
not able add the apt key
Host has mosquit+ already installed and running. Hence skipping the installation steps !!!
--2019-07-10 15:28:48--  https://gi

[2019-07-10 11:24] lucifercr07 commented on #825
@Baoqiang-Zhang yes have tried that

[2019-07-10 11:29] arcanique opened #884 "Edge_core crashing if there is no bridge decvice when starting"
**What happened**:
Edge_core crashing if there is no bridge decvice when starting

**What you expected to happen**:
Edge_core waiting for creating bridge device when starting

**How to reproduce it (as minimally and precisely as possible)**:
delete the bridge device "docker0", and restarting the edge_core program.

**Anything else we need to know?**:

**Environment**:
- KubeEdge version:
- Hardwar

[2019-07-11 01:49] edisonxiang opened #887 "Roadmap update"
**What happened**:
Since we have released v1.0, we should update the roadmap and features in release versions.
https://github.com/kubeedge/kubeedge#roadmap

**What you expected to happen**:
Correct roadmap in kubeedge

[2019-07-11 02:53] Xuhao-ChangAn opened #888 "Unable to create edge pod!"
I constructed k8s environment, and ran cloud and edge part as binary in my local nodes, the environment are as below:
master: centos7   kernal-version:3.10.0-957.12.2.el7.x86_64        docker://18.6.3
node: Ubuntu 18.04.2 LTS      kernal-version: 4.15.0-54-generic        docker://18.6.3

the edged module should be mini-kubelet, so I stop kubelet service on node, and modified edged server port(1025

[2019-07-11 04:53] sids-b commented on #883
@SkyRain97 , currently keadm doesn't support arm.... It only supports amd64

[2019-07-11 05:42] sujithsimon22 opened #889 "Device details not reaching edge in the current master code"
**What happened**:
Device details not reaching edge from cloud, in the current master code

**What you expected to happen**:
Device details should reach edge from the device controller in cloud

**How to reproduce it (as minimally and precisely as possible)**:
1. Start cloud and edge .
2. Create device model and device instance
3. Update the status of device twin
4. Get the twin details at the edg

[2019-07-11 07:52] jwzl opened #890 "Unmarshal update request body failed, Please check the request"
When I enable the devicetwin,   the error messege from edge " Unmarshal update request body failed, Please check the request"

[2019-07-11 07:58] jwzl commented on #816
No permmition for list  device by your serviceaccount?
or, may be you have not create a device

[2019-07-11 07:59] sids-b commented on #890
I think #889 is a same issue....
cc @sujithsimon22

[2019-07-11 08:02] arcanique opened #892 "version information in the cni-plugin configuration file causes a exception"
**What happened**:
Follow the instructions in the guide, if the cni-plugin version is set to 0.3.0 , there will be an error with  "failed to find network info for sandbox".

**What you expected to happen**:
Follow the instructions in the guide,  the system is all right

**How to reproduce it (as minimally and precisely as possible)**:
use any of the 0.1.0 to 0.4.1versions of  cni-plugin ,and set t

[2019-07-11 08:04] jwzl commented on #890
Yes, we are same issue.
the edge sides  call dttype.UnmarshalDeviceTwinUpdate(content) to unmarshall the content.
But in the cloude sides don't call any marshall action.

[2019-07-11 08:18] SkyRain97 commented on #883
But I found the arm release package on official git site: https://github.com/kubeedge/kubeedge/releases

and on KubeEdge website they also say they support arm (

[2019-07-11 08:22] sids-b commented on #883
Yess @SkyRain97 KubeEdge supports to be run on arm.... but it cannot be installed using the installer. You will have to setup using the binary

[2019-07-11 08:31] SkyRain97 commented on #883
So I can't use "keadm join"?

I can't find any docs on how to use KubeEdge binary to setup the edge side. Can you please share it to here.

[2019-07-11 08:42] sids-b commented on #883
Can you try this out ? https://github.com/kubeedge/kubeedge/blob/master/docs/getting-started/release_package.md ..... Please note that the node.json file has to applied at cloud machine(in k8s master) and the latest version is v1.0.0

[2019-07-11 08:47] SkyRain97 commented on #883
Just to confirm, should I use K8S master at cloud? because I am trying to work with KubeEdge.

[2019-07-11 08:50] SkyRain97 commented on #883
I looked at the doc you sent and was confused about why we should use MQTT? Since I didn't see any connection between cloud and edge using MQTT?

[2019-07-11 08:55] sids-b commented on #883
MQTT is for connection with devices at the edge.... if you don't have anyy devices, no need to start MQTT . You can remove eventbus , deviceTwin from the conf/modules.yaml at the edge. Yess, k8s master run at cloud.

[2019-07-11 09:15] SkyRain97 commented on #883
okay, let me try this!

[2019-07-11 10:28] sujithsimon22 commented on #890
@jwzl Yeah I think you are right, I feel maybe this might be the problem:
![image](https://user-images.githubusercontent.com/35599628/61043556-35b65400-a3f4-11e9-92af-4b4c03cbc914.png)

@shouhong could this be the reason for the unmarshal issue we are facing ? I see that the previous code was marshalling the incoming message and sending and i see that in the current implementation we are sending t

[2019-07-11 12:21] #860 closed

[2019-07-11 15:45] shouhong commented on #890
@sujithsimon22 Previously the WebSocket and Quic prototols have different WriteData() function implementions. The WebSocket implementation directly uses WebSocket interface and Quic implementation uses unified Viaduct interface. So we selected Quic implementation as the unified one for both protocols.

I have two doubts for the above guess:
1. If the problem lies here, it means this feature does n

[2019-07-12 02:26] jwzl commented on #890
"In WriteData(), it marshalled the whole Message struct. But UnmarshalDeviceTwinUpdate() only unmarshalled Message.Content part. This does not match."
Yes, this is the problem!@shouhong

[2019-07-12 02:39] jwzl commented on #890
@sujithsimon22  Indeed, WriteData() finally call websocket send(), and  this method will translator.NewTran().Encode(rawData, msg)  to encode the msg, and reciver sides will call translator.NewTran().Decode(rawData, msg) to Decode the messge.  that is , message in websocket  layer should be okay.

In cloud sides, msg.content dosen't decode the msg.content,  but in edge side, devicetwin call    Unm

[2019-07-12 04:27] sujithsimon22 commented on #890
@jwzl @shouhong On converting the contentData variable (the one that the code tries to unmarshal) to string and  printing it, i get the following result
![image](https://user-images.githubusercontent.com/35599628/61102255-c475b000-a48a-11e9-9e32-2f4c73d1d908.png)
It looks to me that the content of the message is encoded

[2019-07-12 04:34] sujithsimon22 commented on #890
If we see the device controller implementation (as shown below) the structure is stored as such in the content part of the message, without any encoding. This makes me think that problem lies somewhere between sending of the message from device controller and its reception in the membership module of devicetwin
![image](https://user-images.githubusercontent.com/35599628/61102545-e9b6ee00-a48b-11e9

[2019-07-12 06:19] #846 closed

[2019-07-12 07:28] SkyRain97 commented on #883
Hi Siddharth,
I set up my edge.yaml file according to the link you sent, and when I ran the edge.core file it shows segmentation fault.
root@kube-master:/etc/kubeedge/kubeedge# cd edge
root@kube-master:/etc/kubeedge/kubeedge/edge# ls
conf  edge_core
root@kube-master:/etc/kubeedge/kubeedge/edge# ./edge_core
Segmentation fault. Is this due to something wrong in my edge.yaml file?

[2019-07-12 07:46] #892 closed

[2019-07-12 08:09] kadisi commented on #881
@fisherxu   ref #431

[2019-07-12 08:22] kadisi commented on #881
@sids-b  @CindyXing  should we discuss it again?

[2019-07-12 08:45] #884 closed

[2019-07-12 08:53] jwzl commented on #890
@sujithsimon22   Finally, I found this problem is that : we call the json.Marshal(message.Msg.Content)  in github.com/kubeedge/kubeedge/edge/pkg/devicetwin/dtcontroller.go:
`func classifyMsg(message *dttype.DTMessage) bool {
  .....
 } else if strings.Contains(message.Msg.Router.Resource, "twin/cloud_updated") {
			message.Action = dtcommon.TwinCloudSync
			content, err := json.Marshal(message.Msg

[2019-07-12 09:08] sids-b commented on #883
maybe because of arm32 or arm64 problem ? I am not sure about this.
cc @rohitsardesai83 , any idea ?

[2019-07-12 09:08] sids-b commented on #883
cc @subpathdev

[2019-07-12 09:09] jwzl commented on #890
var   s=[]byte{123, 34, 101, 118, 101, 110, 116, 95, 105, 100, 34, 58, 34, 100,98,98, 49,56, 53, 53, 48, 45, 100, 48, 97, 49, 45, 52, 51, 100, 51, 45, 97, 99, 52, 98, 45, 56, 99, 102, 102, 101, 57, 59, 54, 100, 102, 49, 51, 34, 44, 34, 116, 105, 109, 101, 115, 116, 97, 109, 112, 34, 58, 49, 53, 54, 50, 57, 49, 53, 56, 55, 53, 51, 53, 56, 44, 34, 116, 119, 105, 110, 34, 58, 123, 34, 116, 101, 109,

[2019-07-12 09:24] SkyRain97 commented on #883
Please help

[2019-07-12 09:41] sids-b commented on #883
@SkyRain97 , a good option would be to clone the source code and checkout to release tag v1.0.0 and compile and try to run

[2019-07-12 10:37] qizha opened #897 "Support Ingress on edge"
**What would you like to be added**:
Add ingress support on edge

**Why is this needed**:
User want to deploy services on edge which may include multiple instances with a Nginx in front of them so that they can leverage a powerful machine

[2019-07-12 11:00] sids-b opened #898 "Evaluate GRPC implementation between cloudHub and edgeHub"
**What would you like to be added**:
GRPC communication between cloudhub and edgehub

**Why is this needed**:
Currently default communication protocol between cloudHub and edgeHub is websocket. An alternate protocol QUIC was introduced to see if better performance results can be achieved. But the performance results indicated that websocket gives better performance.

gRPC is a modern open source h

[2019-07-12 11:01] sids-b commented on #898
/cc @qizha @kevin-wangzefeng @fisherxu @rohitsardesai83 @kadisi @shouhong @subpathdev @chendave  for thoughts ?

[2019-07-12 13:20] kadisi commented on #898
agree,  at the seem time,  we can change model message to protobuf message.

[2019-07-13 02:52] Baoqiang-Zhang opened #900 "support Active/standby mode on edge"
**What would you like to be added**: we want implement active/standby mode on edge nodes, it will help eedge node and application(service) with high availability.

**Why is this needed**:
use case:
1.user have two edge node and register to kubeedge by active/standby mode;
2.user create application on kubeedge and it will run on active node;
3.in case of active node down, standby node will change t

[2019-07-13 02:53] Baoqiang-Zhang commented on #898
+1

[2019-07-13 05:34] Baoqiang-Zhang commented on #888
can you check nginx container's status on edge node and share your edge_core.log?

[2019-07-13 12:42] mryalamanchi commented on #232
@rohitsardesai83 my apologies, I have been busy for a while with my project.
Yes, I did manage to skim through the CRD. But haven't really deep dived into the docs. Let me back to you shortly. Thanks.

[2019-07-13 19:38] subpathdev commented on #883
we are building the edge_core for arm6 architecture. I think for the usage of edge_core on a raspberry pi 3, we have to build it with GOARM=7

I will be updating the makefile tomorrow.

[2019-07-14 02:33] luguanglong opened #901 "keadm init crash"
**What happened**:
A crash happend when execute "keadm init" on not supportted systems(eg:debian).

**What you expected to happen**:
I know now only support ubuntu.  But it should not crash directly. It should exit  with some errors.

**How to reproduce it (as minimally and precisely as possible)**:
Execute "keadm init" on systems other than ubuntu and centos.

**Anything else we need to know?**:

[2019-07-14 12:24] subpathdev commented on #898
+1, @kadisi I think it does not depend on protobuf messages . So we can apply protobuf messages before adding GRPC or vice versa.

[2019-07-14 12:26] subpathdev commented on #901
@luguanglong could you raise a pr to this bug?

After debian buster is stable we can think about adding debian buster to the list of supported os

[2019-07-14 12:42] subpathdev opened #906 "store device values (mind term) on the edge"
**What would you like to be added**:
Add influxdb or timescale db to store device values on the edge

**Why is this needed**:
In the current state we store the value of an device until a new value has arrived. I think it's a nice feature to store values over a longer time and I think a time serious db is the best way to do this. After a specific time the values should be deleted automatically. (I

[2019-07-14 12:43] subpathdev commented on #906
/cc @sids-b @qizha @kevin-wangzefeng @fisherxu @rohitsardesai83 @kadisi @shouhong @chendave

[2019-07-14 12:51] subpathdev opened #907 "prometheus exporter on the cloud component"
**What would you like to be added**:
a prometheus exporter of the reported and expected device values
(supported value types are: int, float and bool ( true = 1; false = 0 ))

**Why is this needed**:
users can monitor theire devices and we have a way to display values without using kubernetes specif commands (like kuebctl get device ....).
When they installing prometheus they could also view the h

[2019-07-14 15:47] sujithsimon22 commented on #898
+1

[2019-07-15 00:55] kadisi commented on #898
@subpathdev yes

[2019-07-15 04:58] sujithsimon22 opened #908 "Device twin update from edge to cloud is not updated"
**What happened**:
Device twin update from edge to cloud is not updated

**What you expected to happen**:
Device twin update from edge to cloud should be updated without any issues

**How to reproduce it (as minimally and precisely as possible)**:
1. Start cloud and edge .
2. Create device model and device instance
3. Update the status of device twin at the edge

[2019-07-15 05:00] sujithsimon22 commented on #908
![image](https://user-images.githubusercontent.com/35599628/61196331-85926500-a6eb-11e9-8a5c-1ea492fcbab0.png)

[2019-07-15 05:07] sujithsimon22 commented on #890
That is a great observation @jwzl . I found a similar issue in the updation of device information from edge to cloud #908

[2019-07-15 06:15] sujithsimon22 opened #909 "Remove code in bluetooth mapper to update device state"
**What would you like to be added**:
Remove code in bluetooth mapper to update device state (Online/Offline)

**Why is this needed**:
Our device controller implementation does not update the state of the device (online/offline). Hence this should  be removed from bluetooth mapper

[2019-07-15 06:16] sujithsimon22 commented on #909
/assign @sujithsimon22

[2019-07-15 06:25] SkyRain97 commented on #883
Would you let me know when you update it? THANKS

[2019-07-15 09:12] subpathdev commented on #883
I have updated it, currently I have a problem with travis to build this automatically (I can't install a package dependency). I will write, if I have a solution to this build problem.

[2019-07-15 16:39] fisherxu opened #913 "Unifying logging library to klog"
The `beehive logger` ["github.com/kubeedge/beehive/pkg/common/log"]("github.com/kubeedge/beehive/pkg/common/log")
E.g. `log.LOGGER.Infof("ServiceBus receive msg")`

and glog ["github.com/golang/glog"]("github.com/golang/glog")
E.g. `glog.V(8).Infof(format, data)`

Today both of these logging libraries are used in edge_core, which is expensive to maintain and confusing to end users.
As we are going

[2019-07-16 01:32] kevin-wangzefeng commented on #913
Agreed, this useful.

[2019-07-16 01:46] chendave commented on #913
sound good to me.

[2019-07-16 02:47] kadisi commented on #913
agree

[2019-07-16 03:09] edisonxiang commented on #913
Hey @fisherxu, +1
I saw that lots of external kubernetes projects has using "k8s.io/klog" instead of glog.
What about klog?

[2019-07-16 03:29] fisherxu commented on #913
@edisonxiang `klog` is fine, actually `klog` is forked from `glog`, and we can use the `klog`. ref: [https://github.com/kubernetes/klog](https://github.com/kubernetes/klog)

[2019-07-16 03:57] SkyRain97 commented on #883
Hi Jan,
I kept having problem with making file. Can you update the executable file for arm7 once you finish it?

[2019-07-16 04:00] zhanglu0704 commented on #719
I deploied edged on devices using ARM64 architecture, So I'm trying to compil CNI on the ARM64 device. I encountered such a mistake when I build host-local.
'''
Building API
Building reference CLI
Building plugins
   flannel
   tuning
   bridge
   ipvlan
   loopback
   macvlan
   ptp
   dhcp
# github.com/appc/cni/vendor/golang.org/x/sys/unix
gopath/src/github.com/appc/cni/vendor/golang.org/x/sys/u

[2019-07-16 04:11] sujithsimon22 commented on #913
Agreed, this would help in avoiding confusion among new contributors regarding which logging libraries to use

[2019-07-16 05:40] rohitsardesai83 commented on #804
dup of #836 .
/close

[2019-07-16 05:40] #804 closed

[2019-07-16 06:16] subpathdev commented on #883
I have only problems to build an proper solution for armv8. I will stop this and uploading only the solution for armv7.

[2019-07-16 06:33] subpathdev commented on #883
I didn't have any upload rights; you can build it on your device and then copy; I think we will support armv7 build in the next release version. (cc @sids-b )

[2019-07-16 06:38] SkyRain97 commented on #883
Right now I am modifying the Makefile and changing armv = 6 to 7. Is that good enough for building on armv7 device?

[2019-07-16 06:42] subpathdev commented on #883
have a look in the pr #903

[2019-07-16 07:14] zhanglu0704 commented on #719
I find that ,the version 0.2 don't have types_linux_arm64.go in vendor/golang.org/x/sys/unix/, it means version 0.2 doesn't support  arm64 for packeg unix .But I tried to use version 0.7 , it is supported.

[2019-07-16 07:25] arcanique commented on #719
yess, This is the compilation information on my environment.
`[root@kwephicprd01496 plugins-0.2.0]# ./build
Building API
Building reference CLI
Building plugins
   flannel
   tuning
   bridge
   ipvlan
   loopback
   macvlan
   ptp
   dhcp
github.com/appc/cni/vendor/golang.org/x/sys/unix
gopath/src/github.com/appc/cni/vendor/golang.org/x/sys/unix/flock.go:18:42: undefined: Flock_t
gopath/src/githu

[2019-07-16 07:50] rohitsardesai83 opened #914 "Support running daemonsets at the edge"
**What would you like to be added**:
We should be able to run daemonset pods at the edge.

**Why is this needed**:
Daemonset pods are required for running system process on each edge node for different operations like logging , monitoring.

[2019-07-16 07:55] kadisi opened #915 "beehive do not need to handle config."
**What would you like to be added**:

**Why is this needed**:

the core function of beehive is handling the cross-module communication. but it also handle config (such as commandline config and yaml config).

Issue #913 unify the logging library to glog,and I think beehive also don`t need to handle those config. we need let kubeedge to handle it .

currently, edgemesh , keadm  process their own pr

[2019-07-16 08:11] kadisi commented on #915
/cc @rohitsardesai83 @sids-b @qizha @kevin-wangzefeng @subpathdev @chendave @edisonxiang @sujithsimon22 @Baoqiang-Zhang @kexun

[2019-07-16 10:31] jwzl opened #917 "the edge dosen't resolve the $hw/devices/+/events/properties/get"
The topic $hw/devices/+/events/properties/get  from the modbus mapper, but the edge  dosen't recieve the type message.
The topic is that report the twin staus from device!

[2019-07-16 10:40] liyongxian opened #918 "Modbus_mapper Pod Start Failture"
****What happened**:**
After Create Device Instance by DeviceModel,and the device is connected to edge node.When kubectl apply -f deployment.yaml,the pod start failture.
**What you expected to happen**:
The Pod of modbus-mapper running
**How to reproduce it (as minimally and precisely as possible)**:
1.devicemodel and device
create-device-model.yaml and create-device-instance.yaml
2.modbus_app
kub

[2019-07-17 01:35] kadisi opened #920 "chang websocket url format of edge.yaml"
**What would you like to be added**:

**Why is this needed**:

currently,   the websocket url format of edge.yaml  like this:
[code]
It requires the user to manually change the format of the url。 It often results in user configuration errors。And users often confuse `controller.node-id`, `controller.project-id`, and `edged.hostname-override`.
[code]

so I suggest changing the url format ， like quic

[2019-07-17 02:03] kadisi commented on #915
https://github.com/kubeedge/beehive/issues/14

[2019-07-17 02:30] fisherxu commented on #914
@rohitsardesai83  Curious what do we need to add at the edge, I think to edged, all is about pod.

[2019-07-17 02:46] kadisi commented on #913
That makes sense， I'm interested in this.

[2019-07-17 05:34] #917 closed

[2019-07-17 05:45] rohitsardesai83 commented on #914
We just need to ensure whether the pods created by daemonset controller on the cloud are able to run on the edge.

[2019-07-17 06:07] rohitsardesai83 commented on #914
Tested the following scenarios for daemonset :
# Create Daemonset
- [x] A kubeedge node is added to the cluster. Daemonset controller should ensure the daemonset pod runs on that node.
  - [x]  If .spec.template.spec.nodeSelector is specified , then the DaemonSet controller will create Pods on edge nodes which match that node selector.
  - [x] If .spec.template.spec.affinity is specified , then Da

[2019-07-17 06:08] rohitsardesai83 commented on #914
@qizha , @Baoqiang-Zhang , any more scenarios need to be verified for supporting daemonsets at the edge ?

[2019-07-17 07:39] SkyRain97 commented on #883
Hi, I finally managed to work out edge_core. now i am trying to run the edgecontroller on my cloud server. But it got stuck in the terminal everytime. I am wondering if you guys know what is going on

root@kube-master:~/kubeedge-1.0.0/cloud# ./edgecontroller
2019/07/17 15:22:31 RollingPolicy is empty, use default policy[size]
2019-07-17 15:22:31.626 +08:00 INFO go-archaius/archaius.go:54 Configura

[2019-07-17 08:37] sids-b commented on #673
#807 is the second phase for edgemesh implementation

[2019-07-17 08:39] kevin-wangzefeng commented on #913
Just went through a few relevant upstream issues (xref: https://github.com/kubernetes/kubernetes/issues/70264), and double checked K8s v1.15.0 code, glog has been replaced with klog, so let's move to klog as well.

[2019-07-17 08:44] sujithsimon22 commented on #920
Changing the format of websocket URL to hold something simple like "url: 127.0.0.1:10000" and recreating the existing url within edge_core sounds like a good idea to me

[2019-07-17 08:45] qizha opened #922 "Support L4 proxy in edgemesh"
**What would you like to be added**:
Add L4 proxy capability in the edgemesh

**Why is this needed**:
In the current edgemesh implementation, REST is the only protocol supported. However, the native K8S service is L4 based. L4 service is necessary in many scenarios, like DB visiting.

[2019-07-17 08:46] kevin-wangzefeng commented on #913
Revised issue title and description to reflect discussion updates.

[2019-07-17 08:47] sids-b commented on #748
@subpathdev , is there any update on this one ?

[2019-07-17 08:58] qizha commented on #922
/assign @arcanique

[2019-07-17 09:01] arcanique commented on #922
/assign @arcanique

[2019-07-17 09:10] arcanique commented on #922
/assign @arcanique

[2019-07-17 09:48] lidiyag opened #923 "Pod not coming up when edge and cloud runs on single machine"
**What happened**:
While trying to deploy an application with edge and cloud running on same machine, the pod coming up fails and gives message as "ConatinerCannotRun".
![PodCreationStatus](https://user-images.githubusercontent.com/14183934/61365780-ee254180-a8a5-11e9-907c-2464f22deec4.png)
Sharing the edge core logs below:
![PodStartFailedError](https://user-images.githubusercontent.com/14183934/

[2019-07-17 14:48] subpathdev commented on #748
I am struggling with cadvisor:
[code]
uthe problems could be referenced to github.com/prometheus/client_golang. I have to read the documentation about a way to solve this issue;

[2019-07-18 02:38] edisonxiang commented on #748
hey @subpathdev
Thanks your efforts.
I am working on #806
perhaps we can work together.
We need to update some codes if we want to use k8s 1.15.

[2019-07-18 04:26] fisherxu commented on #923
Seems some error about network, does docker run can start the Container?

[2019-07-18 04:33] sids-b commented on #923
I think both and cloud are not supposed to run on the same machine. Kubelet will keep killing the edged spawned containers and edged will kill the kubelet containers.

[2019-07-18 04:38] #866 closed

[2019-07-18 06:06] sids-b commented on #918
@RicardoZPHuang can you please take a look ?

[2019-07-18 06:08] sids-b commented on #880
@sujithsimon22 ,can you please check if this issue still persists ?

[2019-07-18 06:53] RicardoZPHuang commented on #918
@liyongxian it looks like a build problem when using npm install to download the node_modules. Could u please tell me the version of npm?  If u updated the npm, u can try `rm -rf node_modules` in `kubeedge/device/modbus_mapper/src` and rebuild the image by `make`

[2019-07-18 07:33] subpathdev commented on #748
@edisonxiang Yes I think that is a good idea.

[2019-07-18 09:50] fisherxu opened #927 "NodeSelector matchExpressions in Device CRD should select by node label"
Now the matchExpressions key in Device CRD  set "", that's not the node label. and selector should relate to the node label.
This will make users confusing.

[code]

/cc @sujithsimon22 @rohitsardesai83 @sids-b

[2019-07-18 10:00] sujithsimon22 commented on #927
Agreed, maybe we can maybe have the key name as "node-name" ? Thoughts @sids-b @rohitsardesai83 @fisherxu

[2019-07-18 10:04] fisherxu commented on #927
Just match node label as in k8s, don't define it by ourself @sujithsimon22

[2019-07-18 10:27] sujithsimon22 commented on #927
oh...ok, now i get it

[2019-07-18 15:21] rohitsardesai83 commented on #923
@lidiyag , can we close this issue ?

[2019-07-18 15:30] rohitsardesai83 commented on #907
We need monitoring solutions like prometheus to get useful data like you suggested.
we can monitor all edge nodes running , their status , number of devices , their desired / reported states etc.
Also, we need to think about efficient ways of monitoring at the edge as well, since in offline scenarios, monitoring at the edge would become important.
We need to start thinking of best approaches for s

[2019-07-18 15:34] rohitsardesai83 commented on #906
@subpathdev , this is a valid requirement for data processing/storage at the edge.
we need to consider the resource constraints at the edge while selecting the database to use.
Data ingested into the edge via the event bus can be in varied formats like images, text , video frames etc.
Do we support storing all such data formats at the edge ?
We need deeper analysis on this. Can we start documentin

[2019-07-18 15:35] rohitsardesai83 commented on #890
@jwzl , do you want to submit a PR with a fix you described ?

[2019-07-18 15:36] rohitsardesai83 commented on #872
@RicardoZPHuang , any inputs on this ?

[2019-07-19 01:42] liyongxian commented on #918
@RicardoZPHuang
**node -v**
  v6.17.1

**npm -v**
  3.10.10

Thanks.

[2019-07-19 01:56] liyongxian commented on #918
@sids-b @RicardoZPHuang
I have done as what @RicardoZPHuang said. **"rm -rf node_modules in kubeedge/device/modbus_mapper/src and rebuild the image by make"**. but it is **wrong**. The problem is the same.
Thanks a lot.

[2019-07-19 03:11] RicardoZPHuang commented on #918
@liyongxian The container works fine with node version 10.15 and npm version 6.9.0 here. Could u please try to upgrade ur node/npm to higher version like node 10.15 and npm 6.9? Since the node version using in images is 10.16. I think maybe we should move `npm install ` process in docker build rather than copy the node_modules into images.

[2019-07-19 04:06] liyongxian commented on #918
@RicardoZPHuang  When I upgraded node/npm to  node 10.16.0 and npm 6.10.1,that problem is gone.**But the container can not start.**
**Error info:**
CONNECTOR_DPL_NAME=dpl/deviceProfile.json
CONNECTOR_MQTT_IP=127.0.0.1
CONNECTOR_MQTT_PORT=1883
[2019-07-19T03:57:02.701] [INFO] appenders - start to watch dpl config
[2019-07-19T03:57:02.710] [INFO] appenders - start to check devicetwin state
[2019-07-

[2019-07-19 04:17] RicardoZPHuang commented on #918
@liyongxian Did u use the ModbusRTU protocol to connect device with serial ports not open or wrong serial ports? Could u please provide the create-device-instance.yaml？

[2019-07-19 04:49] jwzl commented on #890
Yes, If I can

[2019-07-19 06:17] liyongxian commented on #918
@RicardoZPHuang  **create-device-instance.yaml Info:**

apiVersion: devices.kubeedge.io/v1alpha1
kind: Device
metadata:
  name: sensor-tag-instance-01
  labels:
    description: TISimplelinkSensorTag
    manufacturer: TexasInstruments
    model: CC2650
spec:
  deviceModelRef:
    name: sensor-tag-model
  protocol:
    modbus:
      rtu:
        **serialPort: '1'**
        baudRate: 115200

[2019-07-19 06:22] kexun commented on #890
@rohitsardesai83 @jwzl i have fixed the bug, i will push this PR later.

[2019-07-19 06:54] RicardoZPHuang commented on #918
@liyongxian this sample yaml is using rtu protol with serial ports 1, which should be some thing like `/dev/ttyUSB0`  in linux or `COM1` in windows. And also the device(simulator) should be connected to the serial port. If u want to try modbusTCP protocol, u can replace the rtu part with following tcp config.
tcp:
prot: 5020
ip: "127.0.0.1"
slaveID: "1"

[2019-07-19 07:59] #909 closed

[2019-07-19 08:25] rohitsardesai83 commented on #672
@lzx258 , no flannel is not needed. is the edge_core process up and running ? is the edge node ready ?

[2019-07-19 08:30] fisherxu commented on #927
/milestone v1.1

[2019-07-19 08:33] lzx258 commented on #898
+1

[2019-07-19 09:07] rohitsardesai83 commented on #914
closing this issue. please reopen if something is not addressed.
/close

[2019-07-19 09:08] rohitsardesai83 commented on #827
/milestone 1.1

[2019-07-19 09:12] rohitsardesai83 commented on #816
@Warok21 , any updates on this issue ?

[2019-07-19 09:22] liyongxian commented on #918
@RicardoZPHuang  Sorry,The Pod of modbus_mapper can NOT run well.

**Device-instance config:**
tcp:
        port: 5020
        ip: "127.0.0.1"
        baudRate: 115200
        dataBits: 8
        parity: even
        stopBits: 1
        slaveID: "1"

**The Pod info:**
NAME                                           READY            STATUS                    RESTARTS                        AGE
modbu

[2019-07-19 09:59] RicardoZPHuang commented on #918
@liyongxian for tcp it only contains port, ip and slaveID. The baudRate, dataBits, parity, stopBits is for rtu. The whole yaml should be the following.
apiVersion: devices.kubeedge.io/v1alpha1
kind: Device
metadata:
name: sensor-tag-instance-01
labels:
description: TISimplelinkSensorTag
manufacturer: TexasInstruments
model: CC2650
spec:
deviceModelRef:
name: sensor-tag-model
protocol:
modbus:
tcp:

[2019-07-19 10:22] liyongxian commented on #918
@RicardoZPHuang  I am so Sorry.  The Pod of modbus_mapper can NOT run well,and its status is **ContainerCreating**
Device-instance config:
![edge-nodejpeg](https://user-images.githubusercontent.com/18571576/61528490-857ac800-aa51-11e9-9823-75e64d9a3972.jpg)

Thanks a lot.

[2019-07-19 10:24] liyongxian commented on #918
**Describe the Pod:**

![QQ截图20190719182326](https://user-images.githubusercontent.com/18571576/61528848-6c264b80-aa52-11e9-880f-c91832b09c28.jpg)

[2019-07-19 11:09] sids-b commented on #898
/assign @sids-b @edisonxiang

[2019-07-19 11:23] lidiyag opened #934 "Container gets killed in bluetooth mapper when multiple schedules are given runtime"
**What happened**:
While giving multiple runtime updates to scheduler in bluetooth mapper , the container gets killed before performing all schedules.

**What you expected to happen**:
Mapper is expected to execute any number of schedules given runtime.

**How to reproduce it (as minimally and precisely as possible)**:
Run Bluetooth Mapper
Provide multiple runtime schedule updates

[2019-07-19 11:23] lidiyag commented on #934
cc @sujithsimon22 @rohitsardesai83 @sids-b

[2019-07-19 11:24] RicardoZPHuang commented on #918
@liyongxian ok seems the problem is starting container in edge_core. could u please search the log with `cat edge_core.log | grep modbus-device-mapper-deployment | grep edged.go` ?

[2019-07-19 11:25] sids-b commented on #923
Closing this issue

[2019-07-19 11:27] sids-b commented on #923
Also @lidiyag , you need to delete the existing pause and nginx containers which might not have been deleted as per the error logs shown in edged.... without deleting them, new containers won't come up even if the cloud components are run on a seperate node.

[2019-07-19 11:27] #923 closed

[2019-07-19 15:08] sids-b commented on #927
1 problem here would be that if multiple nodes match the labels, how do we device which edge-node we bind the device to ?

[2019-07-19 15:13] fisherxu commented on #927
That should let the user to guarantee, not that we change the semantics of the k8s selector
/cc @kevin-wangzefeng

[2019-07-19 15:19] sids-b commented on #927
How about use nodeName directly ?
https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#nodename

[2019-07-19 15:27] fisherxu commented on #927
Use nodeName directly is also a clearly implementation, maybe not friendly to sync device info to a **node group**, not sure do we have this kind of scene now?

[2019-07-19 15:43] sids-b commented on #927
Currently we only support 1 device to a single node... It can be moved but at a single time it is bind to single node.

[2019-07-19 20:23] subpathdev commented on #906
I think we should support storing all data types. If we don't support these we are making restrictions on the usage of kubeedge.

Where do you like to have these documentation and discussion? I think an issue is an good first place.
(We can discuss further points of this on the meeting in 3 weeks (next week I have a training :( )

[2019-07-20 04:43] liyongxian commented on #918
@RicardoZPHuang Thanks. The Pod's status is running now. After I restart the edge_core,delete the deployment and create it again. The pod is  running. It is amazing.I do not know  why ?

[2019-07-20 05:55] RicardoZPHuang commented on #918
@liyongxian well, if the pod status is containerCreating, it could be in processing of image pulling or volume mounting. Maybe we can find out the reason by searching log as I said above. `cat edge_core.log | grep modbus-device-mapper-deployment | grep edged.go` can show if there are some problem creating container.

[2019-07-21 07:49] BlankCHN opened #937 "keadm init not work"
when I type 'keadm init',it shows
   'kubeadm version v1.14.3 not found in OS repo
kubeadm version 1.14.1 not found in OS repo
Error: Expected kubeadm version is not available in OS repo'.

what should I do next?

[2019-07-21 07:50] BlankCHN commented on #937
This is all I typed
"sudo ./keadm init --docker-version=18.09.6 --kubernetes-version=v1.14.3"

[2019-07-21 08:02] BlankCHN commented on #937
Can I use different registry here?

[2019-07-21 08:22] #937 closed

[2019-07-21 13:57] sids-b commented on #39
Closing this issue.

[2019-07-21 13:57] #39 closed

[2019-07-21 13:59] sids-b commented on #196
Closing this issue as currently no plan to change the current impl

[2019-07-21 13:59] #196 closed

[2019-07-21 14:01] sids-b commented on #260
@tedli , I think this issue can be fixed with #725 ?

[2019-07-21 14:06] sids-b commented on #337
/assign @sids-b

[2019-07-21 14:09] sids-b commented on #517
cc @rohitsardesai83 @naveensriram , we need to take this one up.

[2019-07-21 14:10] sids-b commented on #399
/assign @kadisi

[2019-07-21 14:14] sids-b commented on #577
closing this issue. @chuanyezaici , please feel free to reach out to us via slack or reopen this issue for further discussions :)

[2019-07-21 14:14] #577 closed

[2019-07-21 14:15] sids-b commented on #636
closing this issue. please free to reach out us via slack or reopen this issue for further discussions :)

[2019-07-21 14:15] #636 closed

[2019-07-21 14:18] sids-b commented on #639
@dsxing , apologies for delayed response. I think the code which you have written is correct. We have similar implementations for sync message in metamanager as well;
https://github.com/kubeedge/kubeedge/blob/767620a85d8d66a4319e6dae3c00101276a40bd9/edge/pkg/metamanager/msg_processor.go#L415-L457

[2019-07-21 14:22] sids-b commented on #646
@mazengxie , I think the issue here is that since the node was offline for sometime, k8s master tried to evict the pod but edge core can manage the pod in offline mode. So when the node came online again, a new pod was scheduled and the old was not killed as well.

I think similar concern was shared in KubeCon shanghai
cc @kevin-wangzefeng @fisherxu @sids-b

[2019-07-21 14:23] sids-b commented on #655
closing this issue . Please feel free to reach out to us via slack or reopen this issue for further discussions.

[2019-07-21 14:23] #655 closed

[2019-07-21 14:25] sids-b commented on #920
#665 is also a similar issue

[2019-07-21 14:25] sids-b commented on #665
closing this issue. Lets move the discussions to #920

[2019-07-21 14:25] #665 closed

[2019-07-21 14:26] sids-b commented on #676
@stormspiritzzz , apologies for late response, are you still facing this issue ?

[2019-07-21 14:27] sids-b commented on #681
@subpathdev , does this issue still persists ?

[2019-07-21 14:28] sids-b commented on #690
closing this issue. please feel free to reach out to us via slack or reopen this issue for further discussions

[2019-07-21 14:28] #690 closed

[2019-07-21 14:33] sids-b commented on #753
@liangyuanpeng , is this issue solved ?

[2019-07-21 14:34] sids-b commented on #729
closing this issue. Please feel free to reach to us via slack or reopen this issue for further discussion

[2019-07-21 14:34] #729 closed

[2019-07-21 14:36] sids-b commented on #273
Similar to #700 . Closing this issue.

[2019-07-21 14:36] #273 closed

[2019-07-21 14:39] sids-b commented on #857
@RocMe , the edgecontroller module in edgesite watches on k8s master and all the updates are absorbed.  EdgeSite is for scenarios where there is no cloud and all components are at edge.

[2019-07-21 14:40] sids-b commented on #825
@lucifercr07 , can you please share the error loags ?

[2019-07-21 14:41] sids-b commented on #816
closing this issue. please feel free to reach out to us via slack or reopen this issue for further discussions :)

[2019-07-21 14:41] #816 closed

[2019-07-21 14:45] sids-b commented on #868
@subpathdev will it possible for you to take up this issue after the gomod change ?

[2019-07-21 14:47] sids-b commented on #883
@SkyRain97 , can share any specific error logs that occur when you run edgecontroller ?

[2019-07-21 14:49] sids-b commented on #890
@jwzl , @shouhong @sujithsimon22 , can you guys review #936 ? Thanks

[2019-07-21 21:30] subpathdev commented on #868
Yes I will take up.
/assign subpathdev

[2019-07-22 01:03] tedli commented on #260
Glad to know the progress about this. I will close this issue, and #725 take this over.

[2019-07-22 01:03] #260 closed

[2019-07-22 03:37] liyongxian commented on #918
@RicardoZPHuang The Pod of modbus_mapper is running now.but its container log info:
[2019-07-22T03:26:58.952] [INFO] appenders - chechking devicetwin state
[2019-07-22T03:26:58.953] [ERROR] appenders - failed to update devicetwin[temperature] of device[sensor-tag-instance-01], err:  **PortNotOpenError {
  name: 'PortNotOpenError',
  message: 'Port Not Open',
  errno: 'ECONNREFUSED' }**

The device

[2019-07-22 03:44] kevin-wangzefeng commented on #810
@sids-b
2 stages is not enough.
For example UT can run in parallel with e2e tests, and we need to make it visibable which test job failed in the status section under a Pull Request.

A fine grained PR checking setup makes it easier to enable more prow functionalities including skiping those already succeeded when executing `retest` command.

[2019-07-22 04:21] #890 closed

[2019-07-22 04:26] RicardoZPHuang commented on #918
@liyongxian this port indicate the device port. u need to set ur modbus device or simulator with port 5020. For example, modbus slave simulator.

[2019-07-22 04:26] fisherxu commented on #913
@kadisi How about let's kubeedge and beehive use klog directly, and init klog in kubeedge components

[2019-07-22 04:42] sujithsimon22 commented on #889
/close

[2019-07-22 04:42] #889 closed

[2019-07-22 04:43] sujithsimon22 commented on #908
/close

[2019-07-22 04:43] #908 closed

[2019-07-22 05:44] sujithsimon22 commented on #880
closing this issue for the time being as it is not currently not observed. This issue can be reopened if this issue pops up again in the future

[2019-07-22 05:44] #880 closed

[2019-07-22 06:49] liyongxian commented on #918
@RicardoZPHuang  I can not find anything about **modbus slave simulator** in  KubeEdge, and how can I do? I Need Your Help.
Thanks.

[2019-07-22 08:36] KyleOh commented on #523
Sorry for reopening this issue, but has this problem been resolved?
I'm suffering with this same issue now.
Any help would be very appreciated :)

[2019-07-22 08:37] dragon9783 opened #942 "Run led-light example failed"
**What happened**:
Run led-light example failed, cannot controller led light on or off

**What you expected to happen**:
Run successfully

**How to reproduce it (as minimally and precisely as possible)**:
1. run edgecontroller, edge_core
2. kubectl get node check edge node status
3. git clone https://github.com/kubeedge/examples.git
4. make and push docker image
5. kubectl create -f led-light/depl

[2019-07-22 08:41] sids-b commented on #523
@KyleOh , KubeEdge doesn't support to run kube-proxy on the edge-node. So even though the status of kube-proxy may not be ready, it will not stop kubeedge to function properly :)

[2019-07-22 08:42] sujithsimon22 commented on #942
Are u using external mqtt server address in edge_core as well
By default the conf/edge.yaml uses mqtt mode as 0 which is only internal mqtt broker

[2019-07-22 08:44] KyleOh commented on #523
@sids-b , Got it! Thanks!
Then how can I make edge node Ready status? I thought the proxy was related to the edge node's status.

[2019-07-22 08:45] sujithsimon22 commented on #942
Can u pls ensure that the mapper and edge core as using the same mqtt broker (i.e, if edge_core is running on internal mqtt mode then the mapper also should run on the internal mqtt mode, the same applies for external mqtt mode)

[2019-07-22 08:59] sids-b commented on #523
@KyleOh , If the setup is done correctly, the edge-node will be ready.
This guide will help setup KubeEdge from source. https://github.com/kubeedge/kubeedge/blob/master/docs/setup/setup.md

[2019-07-22 09:08] qq897807460 commented on #636
Please help me!!!
In the cloud, we encountered the same problem. At the edge, it seems that there is no connectivity.
Cloud：
         ERROR wsserver/server.go:147 failed to consume event for node raspi, reason: failed to get message from cluster, reason: channel is closed
Edge：

![edge](https://user-images.githubusercontent.com/44339024/61619714-fadcd780-aca1-11e9-8e93-1b52e515f9ce.jpg)

we have m