[2021-11-17 11:45] beyondyinjl2 opened #3303 "Unit kubepods.slice already exists"
kubeedge-v1.8.2  /usr/local/bin/edgecore start error:
I1117 11:37:49.465879   15393 websocket.go:93] Websocket connect to cloud access successful
I1117 11:37:49.467793   15393 process.go:317] node connection event occur: cloud_connected
I1117 11:37:49.467863   15393 process.go:282] DeviceTwin receive msg
I1117 11:37:49.467924   15393 process.go:66] Send msg to the CommModule module in twin
I1117 1

[2021-11-17 12:51] baoquach14 commented on #3182
Hi Zc2638

Thank you for command.
I now have Kubernetes version 1.20.0-00, on Master Node.
I was able to install KubeEdge version 1.8.2 and successfully run commad
$./keadm init --kubeedge-version=1.8.2 --kube-config=/root/.kube/config

My cloudcore is running. Please see cloudcore.log file.
My KubeEdge on Edge device also join and edgecore service is running.
[cloudcore.log](https://github.com/ku

[2021-11-18 03:25] stingshen commented on #3045
This commit may mitigate the issue:

https://github.com/kubeedge/kubeedge/commit/bd19593fee28bc4d5cc788cc656c0b59c1a39574#diff-435879603c8c2c6b20c971bd976216fe2e635ca24de924ef494f888a910b4b64L223

[2021-11-18 07:55] baoquach14 commented on #3182
Hi Zc2638

Can you please me know, how I can verify the Edgecore is registered successfully with CloudCore on MasterNode.
Also, how can I deploy simple Docker container (i.e helloworld) from Cloudcore from Master to EdgeCore on Edge device and get EdgeCore to start and manage simple Docker container (i.e helloworld).

Thank you for your help and support

[2021-11-18 11:57] beyondyinjl2 commented on #3042
@lonelyCZ Which branch or tag did you modify on? After I modified it, the compilation was successful, and the same error was reported after running.

[2021-11-18 11:59] beyondyinjl2 commented on #3042
Compiled with the master branch, another error is reported:
E1118 11:58:41.010155 32283 node_container_manager_linux.go:57] "Failed to create cgroup" err="Unit kubepods.slice already exists." cgroupName=[kubepods]
E1118 11:58:41.010207 32283 edged.go:810] Failed to start container manager, err: Unit kubepods.slice already exists.
E1118 11:58:41.010235 32283 edged.go:301] initialize module error: U

[2021-11-18 12:35] zc2638 commented on #3182
Verify edge node:
[code]

You can use it in the way of k8s application deployment.
1. Create a file (nginx.yml) like this.
[code]
2. Run kubernetes command
[code]

[2021-11-18 13:53] lonelyCZ commented on #3042
It should be v1.7.2 at that time.

[2021-11-18 20:21] #2891 closed

[2021-11-18 20:21] #2917 closed

[2021-11-19 02:03] Rachel-Shao opened #3317 "dial tcp 127.0.0.1:12345: connect: connection refused"
**What happened and what you expected to happen**:
When I `make integrationtest`, an `dial tcp 127.0.0.1:12345: connect: connection refused` ​​error randomly
![image](https://user-images.githubusercontent.com/34911960/142544506-87382c59-2c53-4242-84ab-5849325b9ee7.png)

This is related to `testmanager`, `testmanager` is an http server, used to send msg to MetaManager during testing (the port is `1

[2021-11-19 05:52] loveplxf commented on #3283
hi, I have the same problem. Can you tell me how you solved it? thanks

[2021-11-19 06:14] loveplxf opened #3319 "The pod cannot be completed. The status is always being ContainerCreating"
**What happened**:
The pod cannot be completed. The status is always being ContainerCreating
same problem #3283
cloudcore log:
[code]
edgecord log
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):v1.21.5
- KubeEdge version(e.g. `cloudcore --v

[2021-11-19 07:39] 359859461 opened #3321 "no route to host"
**What happened**:
**after execute**
"./keadm join --cloudcore-ipport=10.1.28.172:10000 --edgenode-name=edge1 --kubeedge-version=1.8.0 --token=3a0a30db83552cf96e195027aa84a34602ee41db9913dcde09ad2235d295b49e.eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2MTMwMTgxMDZ9.UaGcyIeTvzQ7vnJEhhZuimG_u_OXtKkitfZSctH74nU"
**i check the log**
"journalctl -u edgecore.service -f"
**found**
Nov 19 15:19:16 hos

[2021-11-19 07:44] gy95 commented on #3321
Nov 19 15:19:16 host-10-19-28-172 edgecore[2704]: F1119 15:19:16.347813 2704 certmanager.go:93] Error: failed to get CA certificate, err: Get "https://10.19.28.176:10002/ca.crt": dial tcp 10.19.28.176:10002: connect: no route to host

[2021-11-19 07:45] gy95 commented on #3321
Are both IP and port correct? If true, please confirm the IP and port can be reached.

[2021-11-19 08:10] 359859461 commented on #3321
@gy95 thanks for the remind。because of iptables 。after i clear up all the rules，edge register to cloud successfully！

[2021-11-19 08:11] #3321 closed

[2021-11-19 09:30] Icedroid commented on #2906
@llhuii

[2021-11-19 12:55] OJumpyo commented on #3295
in the past days, i have searched that we could monitor the edgenode with prometheus using its serviceMonitor to scrape metrics from metrics server, since kubeedge has provided metrics api with edgestream and cloudstream enabled to deliver its metrics.
Now, what puzzles me is that how could i configure it to scrape the metrics from metrics-server via https?

i tried the streamCA.crt and stream.crt

[2021-11-19 13:05] mjlshen opened #3322 "Builds failing on macOS"
**How to reproduce it (as minimally and precisely as possible)**:
`make test`

Results in these errors and warnings on macOS:
[code]

and this build failure:
[code]

The errors have been fixed upstream by https://github.com/shirou/gopsutil/issues/976 and https://github.com/shirou/gopsutil/issues/958. So it can likely be fixed by just bumping the version of gopsutil

[2021-11-19 16:02] mjlshen opened #3324 "Lacking developer onboarding documentation"
**What would you like to be added/modified**: Currently this page is empty: https://kubeedge.io/en/docs/developer/build/

**Why is this needed**: It should describe pre-requisites and a basic development workflow for contributors

[2021-11-19 16:08] mjlshen commented on #3324
Closing because I realize it should go to kubeedge/website

[2021-11-19 16:08] #3324 closed

[2021-11-20 07:14] #2920 closed

[2021-11-21 07:28] #2924 closed

[2021-11-21 07:28] #2892 closed

[2021-11-21 09:50] baoquach14 commented on #3182
Hi zc2638
When I run "kubectl get nodes" the master node it output
NAME                                               STATUS     ROLES                                    AGE                     VERSION
eveitsdsfew02.tmb.rta.nsw.gov.au   NotReady   worker                                  2d1h                    v1.20.0
eveitsdsfew03.tmb.rta.nsw.gov.au   NotReady   control-plane,master           2d1

[2021-11-22 00:05] avyamsh commented on #2756
/assign

[2021-11-22 01:42] llhuii commented on #2906
@Icedroid 最近没有很多时间深入这个问题，但是我有几个简单问题：
1. cloudcore和edgecore日志时间对不太上
2. 日志时间跨度再大点，最好一个timeout（60s）

[2021-11-22 03:30] QeelinDarly opened #3328 "Secret can't send to edge in SecretKeyRef"
**What happened**:
If a secret send to edge by _spec.containers.env.valueFrom.SecretKeyRef_, it will be empty in docker enviroment.
![image](https://user-images.githubusercontent.com/67089648/142796445-57db45d5-48ce-44bb-8ede-82d44a214d60.png)
![image](https://user-images.githubusercontent.com/67089648/142796469-f87db00a-c202-4ecf-a939-958133e6aec9.png)
![image](https://user-images.githubuserconte

[2021-11-22 03:31] QeelinDarly commented on #3328
And I have fix it by myself. Can I pull request?

[2021-11-22 03:34] gy95 commented on #3328
of course yes, just submit a PR. thanks for your contribution. 👍

[2021-11-22 04:03] loveplxf commented on #3319
原因：通过cloudcore的日志分析，发现cloudcore的clusterrole没有serviceaccounts/token create的权限。
解决办法：更新clusterrole增加权限，定义cloudcore.yaml文件，kubectl apply -f cloudcore.yaml，问题解决。
[code]

[2021-11-22 04:03] #3319 closed

[2021-11-22 06:17] QeelinDarly commented on #3328
/assign @QeelinDarly

[2021-11-22 10:38] baoquach14 commented on #3182
Hi zc2638
How are doing ?
Can please spare some value time to answers some of my questions below. Thankyou very much for your help.

When I run "kubectl get nodes" the master node it output
NAME                                                STATUS          ROLES                          AGE                  VERSION
eveitsdsfew02.tmb.rta.nsw.gov.au     NotReady       worker

[2021-11-23 01:47] lvchenggang opened #3336 "Csi driver report error: "illegal base64 data at input byte 0""
Step1: Use Dockerfile exist in build/csidriver to build csidriver image used in cloud at project root directory.
![image](https://user-images.githubusercontent.com/68538306/142959573-a706ba05-e55f-4668-92c8-4290e6157d1e.png)
......
![image](https://user-images.githubusercontent.com/68538306/142959587-3c84cce0-db3f-4679-a6aa-05d0552ee4c0.png)

Step2: Use YAML build/csisamples/hostpath/deploy/csicon

[2021-11-23 01:51] lvchenggang commented on #3336
It seems that the uds communication between csidriver and cloudhub's udsserver not encrypted by base64 algorithm

[2021-11-23 02:44] Icedroid commented on #2906
我们纳管了几百个节点，是cloudcore由于CPU或内存不足的原因一直重启导致的。升级CPU和内存就可以了。
主要是cloudcore没有因为OOM原因的日志，所以一直没发现这个问题。我Close 这个Issus了。

[2021-11-23 03:00] llhuii commented on #2906
👍 。能帖一下这种情况下cloudcore所耗的内存吗?

[2021-11-23 06:52] QeelinDarly commented on #3303
Has kubelet been installed on your system? Edgecore cannot run in an environment with kubelet.

[2021-11-23 07:06] jidalong opened #3345 "keadm get nodes -A print namespace while node resource whithout namespace actually"
**What happened**:
When I excute “keadm get nodes/node -A/--all-namespaces ”，keadm may print the namespace with null while in original k8s， the resource of node does not have any namespaces.
![image](https://user-images.githubusercontent.com/53475708/142982281-cb7d5107-1a54-4313-ae4d-6d81e231feee.png)
The following is **kubectl** get nodes -A in original k8s cluster:
![image](https://user-images.g

[2021-11-23 07:13] SaltySooda opened #3347 "the pod is alwasys ContainerCreating"
**What happened**:
1.create pod:
 kubectl apply -f modbustcp.yaml
2.check status:
root@ubuntu:/home/test# kubectl get pod
NAME                         READY   STATUS              RESTARTS   AGE
modbustcp-7978cfff57-mgft8   0/1     ContainerCreating   0          42m

**What you expected to happen**:
create pod successfully
**How to reproduce it (as minimally and precisely as possible)**:
kubectl ap

[2021-11-23 07:18] QeelinDarly commented on #3347
You can view the events related to it through `kubectl decribe pod modbustcp-7978cfff57-mgft8`.

[2021-11-23 07:27] QeelinDarly commented on #3347
`"Failed to pull image" err="rpc error: code = Unknown desc = Error response from daemon: pull access denied for modbustcp/latest, repository does not exist or may require 'docker login': denied: requested access to the resource is denied" image="modbustcp/latest:latest"`
Your docker repository didn't have this image, so it can't pull.

[2021-11-23 07:42] gy95 commented on #3345
after PR #3346 , what does  command `keadm get nodes/node -A/--all-namespaces ` print

[2021-11-23 07:47] jidalong commented on #3345
@gy95 after PR #3346 , command keadm get nodes/node -A/--all-namespaces print like the following which is consistent with original k8s print:
![image](https://user-images.githubusercontent.com/53475708/142986820-5a18f181-204b-40b1-9135-eadac106a25e.png)

[2021-11-23 07:49] gy95 commented on #3345
oh, yes, not print NAMESPACE column anymore 👍

[2021-11-23 08:03] 359859461 commented on #3347
@QeelinDarly
thanks，i added the image to docker，seems worked！but new problem happend！
**1.edgecore log**
11月 23 15:54:46 ubuntu edgecore[12213]: I1123 15:54:46.286210   12213 edged.go:1018] start to consume added pod [kube-flannel-ds-sf9wr]
11月 23 15:54:46 ubuntu edgecore[12213]: I1123 15:54:46.287546   12213 record.go:19] Normal Pulled Container image "quay.io/coreos/flannel:v0.13.1-rc2" already

[2021-11-23 08:16] QeelinDarly commented on #3347
That's your kube-flannel. You don't need it in your edge. Perhaps you can add nodeSelector for your kube-flannel deamonset, ignore your edge(:  Or you can add affinity for your kube-flannel daemonset.
Actually, it won't have any effect. And you can use edgemesh for edge network communication.

[2021-11-23 08:22] fisherxu commented on #3197
Close the issue, free to reopen it if there's any problem.
/close

[2021-11-23 08:22] #3197 closed

[2021-11-23 09:57] moolen commented on #3336
Hey @lvchenggang, i found a couple of more issues with the CSI integration:
1. cloudhub/channelq drops messages towards edgecore that do not contain a resourceVersion [see here](https://github.com/kubeedge/kubeedge/blob/master/cloud/pkg/cloudhub/channelq/channelq.go#L91)
2. edged: the `content` passed to `handleVolume()` is a json-escaped string that has to be unmarshaled twice [see here](https://

[2021-11-23 12:04] 359859461 commented on #3347
@QeelinDarly
I change the yml file and re-create the pod,then the flannel problem did not show.the pod is created on edge successfully!
I am pretty confused····· thanks for the explain anyway
**new modbustcp.yml:**
metadata:
  labels:
    app: modbustcp
    version: v1
  name: modbustcp
  namespace: default
kind: Deployment
spec:
  template:
    metadata:
      labels:
        app: modbustcp

[2021-11-23 12:24] QeelinDarly commented on #3347
Kubeedge does not need kube-flannel to support the network. It realizes the network communication at the edge through edgemesh :) I'm so happy to hear you've solved the problem.

[2021-11-24 01:34] lvchenggang commented on #3336
Aggree. I also found some other problems:
5. edge side fixed csi driver as csi-hostpath in code, which can not use other csi plugin. This problem fixed in #3326
6. csi driver handle response message error, that is current issue's content, this fixed in #3343
7. edged module lack necessary code which csi storage need.
8. currently the edge node is write in csinode.yaml, this leads to cloud could on

[2021-11-24 01:37] yoseihouyn commented on #3153
same problem

[2021-11-24 06:35] beyondyinjl2 commented on #3303
No kubelet installed

[2021-11-24 08:04] gitolicious commented on #3328
Hey all, is this related to #2229 and #2230?

[2021-11-24 10:41] nuckydong opened #3362 "k8s service边缘节点无法使用"
你好, 我在集群开了一个nodeport类型的service , 但是边缘节点的端口为啥没开呀,我理解的edgemesh就是要做处理这样的事情, 我理解的不对么.
![image](https://user-images.githubusercontent.com/19926347/143222425-d248827d-152c-45eb-a870-89c7715086a9.png)
云端节点 端口打开了

[2021-11-24 16:46] yenhsunli opened #3365 "keadm init fail :　per-version schemas may not all be set to identical values"
**What happened**:
franklee@franklee-noteBook:~/keadm-v1.8.0-linux-amd64/keadm$ sudo ./keadm init --kubeedge-version=1.8.0  --kube-config=/home/franklee/.kube/config
Kubernetes version verification passed, KubeEdge installation will start...
Error: CustomResourceDefinition.apiextensions.k8s.io "devices.devices.kubeedge.io" is invalid: spec.versions: Invalid value: []apiextensions.CustomResourceDef

[2021-11-24 21:21] jasha64 opened #3367 "Error applying kubeedge-speaker-model.yaml and devices_v1alpha2_devicemodel.yaml"
**What happened**:

I was trying to deploy the `web-demo` example.

When I ran `kubectl apply -f examples/web-demo/kubeedge-web-app/deployments/kubeedge-speaker-model.yaml`, it said:

`unable to recognize "kubeedge-speaker-model.yaml": no matches for kind "DeviceModel" in version "devices.kubeedge.io/v1alpha2" `

Then I tried adding `device/v1alpha2` by myself and ran `kubectl create -f https://gi

[2021-11-25 01:27] gy95 commented on #3367
Can you give more logs about this error `error converting YAML to JSON: yaml: line 141: mapping values are not allowed in this context`

[2021-11-25 01:41] QeelinDarly commented on #3365
Maybe you can update your golang version to 1.17

[2021-11-25 01:49] jasha64 commented on #3367
That's all the logs the system produced.
[code]

[2021-11-25 01:51] gy95 commented on #3367
Is there some logs in /var/log/kubeedge/cloudcore.log? If so, look into this log file to find more details.

[2021-11-25 01:58] #3345 closed

[2021-11-25 02:01] gy95 commented on #3367
please ref: https://kubeedge.io/en/docs/setup/local/#create-crds  to create CRDs

your command is not correct, we cannot use this URL https://github.com/kubeedge/kubeedge/blob/master/build/crds/devices/devices_v1alpha2_devicemodel.yaml directly

[2021-11-25 03:42] #2930 closed

[2021-11-25 11:58] Rachel-Shao commented on #1560
@fisherxu   Is there any docs about cloudcore multi-instance deployment? I can implement ha in hot-standby mode according to the relevant pr tips, but I can't implement multi-instance mode. I use keepalived. Do I need to use other LoadBalancer?

[2021-11-25 11:59] 359859461 commented on #3158
@haotaogeng so，how did you fix that?

[2021-11-25 12:22] 359859461 commented on #3158
found the problem! I am using the VM. so when I return to the old iso,the date changed too,then the auth info expired!
then I update the date, solved!

[2021-11-25 14:46] #2932 closed

[2021-11-25 21:03] #2584 closed

[2021-11-25 21:03] #2933 closed

[2021-11-26 02:27] #3367 closed

[2021-11-26 02:54] mjlshen opened #3385 "Refactor sh -c curl --> Go net.http"
**What would you like to be added/modified**:
https://github.com/kubeedge/kubeedge/blob/8629fe4de73aa985d5383121b6020b01299cd27c/keadm/cmd/keadm/app/cmd/util/common.go#L167-L177

In this function, there's no need to depend on the shell and curl being installed when we can just use Go's net.http instead.

**Why is this needed**:
This removes a dependency on curl and furthermore we should probably n

[2021-11-26 08:08] QeelinDarly commented on #3328
Yes, it is.

[2021-11-26 08:08] #3328 closed

[2021-11-26 12:00] OJumpyo commented on #3295
having had a talk with kubeedge's engineer,  question solved. thanks @fisherxu .

/close

[2021-11-26 12:00] #3295 closed

[2021-11-26 17:52] mjlshen opened #3391 "go-sqlite3 warnings"
**What happened**:
[code]

**What you expected to happen**:
No warnings

**Anything else we need to know?**:
This should be fixed by updating to the latest version of go-sqlite3

[2021-11-26 21:16] #2833 closed

[2021-11-27 02:34] gy95 commented on #3391
just execute the command `make test` and will output the warning logs?
I didn't encounter the warning logs in Linux ubuntu.

[2021-11-27 02:43] mjlshen commented on #3391
My mistake, it happens during build, not test. I see it during `make` on Ubuntu when building cloudcore, edgecore, and keadm

[2021-11-27 02:48] gy95 commented on #3391
what commands do you execute to make binaries? I also didn't find these warnings during `make all` to build all components binaries.
Could you please copy all output logs here, including the running command? :)

[2021-11-27 02:49] mjlshen commented on #3391
[code]

[2021-11-27 02:53] gy95 commented on #3391
This is mine,  not sure about the reason of warnings
[code]

[2021-11-27 02:54] mjlshen commented on #3391
Maybe it's the gcc version? Here's mine:
[code]

[2021-11-27 02:55] gy95 commented on #3391
maybe, not sure, no warning error gcc version
[code]

[2021-11-27 02:58] mjlshen commented on #3391
Seems like it, I found https://github.com/mattn/go-sqlite3/issues/803#issuecomment-625611551 which says it started being an issue with gcc version 10

[2021-11-28 15:34] mr-ma opened #3394 "Raspbian OS support"
Is Raspian OS for the edge component supported yet?
If not, any target dates? Also, if this is not a prio for your team, what are the difficulties to support Raspbian?

[2021-11-29 01:49] coder-faker opened #3395 "CRD meaning"
Hello, developers, recently we are doing custom CRDs, and then found that you have customized 6 CRDs, but because there is too little information in this area on the Internet, can you please explain your custom CRDs Thank you

[2021-11-29 02:48] lclxg opened #3397 "apiserver can not call webhook"
![image](https://user-images.githubusercontent.com/21101847/143800441-2a1f8e74-7802-4f0a-8f5a-de502bf1503b.png)
apiserver call offlinemigration webhook failed. it cause the pod status error when the edge node network disconnection with master node in kubeedge1.8.1

[2021-11-29 02:54] baoquach14 opened #3398 "How to deploy user or open source Docker container to aparticular Edge device using KudgeEdge"
**What happened and what you expected to happen**:

I would like what are steps and syntax requied to configure users  or open source Docker container to aparticular Edge device using KudgeEdge ?

I get an error of
error parsing edge-hostname-nginx.yaml: error converting YAML to JSON: yaml: line 20: mapping values are not allowed in this context

**How to reproduce it (as minimally and precisely a

[2021-11-29 02:56] lclxg opened #3400 "apiserver can not call webhook"
![image](https://user-images.githubusercontent.com/21101847/143800441-2a1f8e74-7802-4f0a-8f5a-de502bf1503b.png)
apiserver call offlinemigration webhook failed. it cause the pod status error when the edge node network disconnection with master node in kubeedge1.8.1

[2021-11-29 03:13] zhaosonghai opened #3402 "边缘节点跨网络join问题解决"
cloud端:192.168.173.77（资源池1）
edge:198.132.7.13（资源池2）
中转网：173.16.253.196 （资源池1）【业务网】  [承载网为166.7.18.152]
cloud端和edge网络无法直通，需要使用中转网(173.16.253.196)中转，即192.168.177.77（业务网）----->173.16.253.196（业务网）--->198.132.7.13(业务网),但是 173.16.253.196连接 198.132.7.13 是通过承载网173.16.253.196的承载网(166.7.18.152)进行连接，现在192.168.173.77和173.16.253.196  网络是全通，173.16.253.196 [承载网为166.7.18.152] 与198.132.7.13开通了10000到10500，20000到205

[2021-11-29 10:45] lclxg commented on #3400
@daixiang0

[2021-11-30 00:46] jasha64 commented on #1744
How do we (and do we need to) extract the certificate and send it to the edge?

[2021-11-30 02:49] davedavedavid opened #3410 "It took over a minute for a pod to terminate /pod sutcked at Terminating status and cannot be deleted automatically"
**What happened**:
![image](https://user-images.githubusercontent.com/87642892/143975516-95a2dd6c-79f3-4f8c-b616-2794ab9e655f.png)
yolo-v5-train-t9w2r is running on edgenode, it took over a minute to terminate since job is deleted.
Sometime it just stucks at Terminating status and cannot be deleted automatically, like yolo-v5-train-hnts4
**What you expected to happen**:
pod can be deleted properly

[2021-11-30 03:16] QeelinDarly commented on #3410
You can try to use `kubectl delete yolo-v5-train-t9w2r --force --grace-period=0` to delete your pod.

[2021-11-30 03:17] #3385 closed

[2021-11-30 03:21] davedavedavid commented on #3410
delete manually is functional , but is there any problem with kubeedge cloud-edge communication and status synchronization

[2021-11-30 03:25] QeelinDarly commented on #3410
Can you say more about _How to reproduce it_?

[2021-11-30 03:43] mjlshen opened #3411 "Refactor out deprecated io/ioutil"
**What happened**:
In Go 1.16, all of `io/ioutil`'s functionality has been moved to other packages https://go.dev/doc/go1.16#ioutil, https://github.com/kubeedge/kubeedge/pull/3409#discussion_r758871055

We should refactor out the rest of them:
[code]
[code]

[2021-11-30 03:43] mjlshen commented on #3411
I'll work on getting a PR ready

[2021-11-30 03:44] davedavedavid commented on #3410
i just create job to create the pod,  runing my bunisess , then delete the job, nothing special.
the problem occurs occasionally.

[2021-11-30 03:47] gy95 commented on #3411
there's already a PR https://github.com/kubeedge/kubeedge/pull/3222

[2021-11-30 03:48] gy95 commented on #3411
hold for waiting request for golang 1.16
:)

[2021-11-30 04:08] mjlshen commented on #3411
Ah, go.mod is already on Go 1.16, so I assumed it was already ready. Good thing you already got the PR ready!

[2021-11-30 06:45] ankitrgadiya commented on #3016
The chances of reproducing this issue are lower but it does happen.

This is the code from SendSync function which sends the message to the Module. Only after sending the message does it allocate a new channel. If it so happens that the module calls SendResp before the channel is added in the map then it will not send the message and the above issue will happen. This can be artificially simulated

[2021-11-30 08:57] ankitrgadiya commented on #3016
/assign

[2021-11-30 10:06] baoquach14 commented on #3398
Hi KubeEdge team

Can you please help to answers to my questions.

Thank you for help and supports.

[2021-11-30 16:12] jambu commented on #2956
Is this bug fixed in 1.8.2 ? I am getting the same error, when trying to integrate kubeEdge with EKS in AWS

[2021-12-01 01:06] gy95 commented on #2956
yes, can you please help submit a PR to fix it? thanks very much.

[2021-12-01 02:17] gy95 commented on #3394
Linux arm is supported now.

[2021-12-01 09:17] pengbinbin1 opened #3416 "why not use the map ipBySvc ?"
When a service is added,the proxy controller will store the  service's cluster IP into the map ipBySvc,the key is serviceName.namespace. In the dns module,when we request use the servicename.namespace,dns resolve the domain by the function APIConn.GetSvcIP,but why do not get clusterIP by the map ipBySvc?

[2021-12-01 10:06] zhu733756 commented on #3300
Can we open this issue? @gy95 @fisherxu, and also take a look at the two uncompleted prs.

Thanks！

[2021-12-01 11:42] gy95 commented on #3300
/reopen

[2021-12-02 02:34] #3416 closed

[2021-12-02 14:41] moolen commented on #3336
Just for the record: I've been working on the csi-driver ([my branch](https://github.com/moolen/kubeedge/tree/exp/topo-impl)) to support multiple edge nodes by making it topology-aware in combination with `volumeBindingMode=WaitForFirstConsumer`. What's missing is to autocreate a `Kind=CSINode` for every edge node. I'll upstream it bit by bit once legal stuff is out of the way.
@lvchenggang I thin

[2021-12-04 17:28] yenhsunli opened #3424 "Create pod by cri-o+crun on edge , but pod status always is pending on master"
**What happened**:
I setup two virtual nodes by KVM on local for deploying pod to edge node that runtime is CRI-O + Curn.
Pod status is always pending on master.

1. master status

`kubectl get node`
[code]

`kubectl describe pod wasi-demo2`
[code]

2. edge log

`journalctl -u edgecore.service -b`

[code]

**What you expected to happen**:

Create create pod by cri-o+crun on edge success , pod stat

[2021-12-05 04:23] BangHonor commented on #3424
I guess the errors are:
Dec 04 16:40:15 edge edgecore[6438]: E1204 16:40:15.274298    6438 remote_runtime.go:116] "RunPodSandbox from runtime service failed" err="rpc error: code = DeadlineExceeded desc = context deadline exceeded"
Dec 04 16:40:15 edge edgecore[6438]: E1204 16:40:15.274391    6438 kuberuntime_sandbox.go:68] "Failed to create sandbox for pod" err="rpc error: code = DeadlineExceeded

[2021-12-05 17:38] jasha64 opened #3425 "Obsolete information in keadm-scope.md"
**What would you like to be added/modified**:
Update obsolete information in `keadm-scope.md`.

**Why is this needed**:
According to the issue https://github.com/kubeedge/kubeedge/issues/1744, In KubeEdge 1.3, the certificate won't be saved locally; they will be in the secret cloudcoresecret and casecret of kubeedge namespace.
However, because the document still says `cert`s will be generated in a

[2021-12-06 11:28] jasha64 commented on #3425
FYI: I am using `kind` for the deployment, and I wrote this script:
[code]

[2021-12-07 08:52] zivAnyvision opened #3438 "Add arm64 builds to CloudCore docker containers"
On DockerHub there are only amd64 builds. (https://hub.docker.com/r/kubeedge/cloudcore/tags)
My usecase is to deploy the CloudCore locally on arm64 SoC.

[2021-12-07 09:29] lvfei103650 opened #3439 "We use nginx for load balancing between cloudcore and edgecore, how can we ensure that port 10000 and port 10004 are loaded to the same cloudcore server?"
**What happened and what you expected to happen**:

Ask a question, we use nginx for load balancing between cloudcore and edgecore, how can we ensure that port 10000 and port 10004 are loaded to the same cloudcore server?

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge

[2021-12-07 09:55] MoXinQian opened #3440 "KubeEdge CRI containerd error"
According to officail documention：[here](https://kubeedge.io/en/docs/advanced/cri/#containerd)
but when i started edgecore，it's error as flollow:

   Loaded: loaded (/etc/systemd/system/edgecore.service; disabled; vendor preset: enabled)
   Active: activating (auto-restart) (Result: exit-code) since Tue 2021-12-07 17:28:11 CST; 7s ago
  Process: 27756 ExecStart=/usr/local/bin/edgecore (code=exited

[2021-12-07 10:48] gy95 commented on #3440
look at logs: /var/log/kubeedge/edgecore.log

[2021-12-07 17:37] zivAnyvision opened #3442 "imagePullSecrets is not working on the CloudCore helm chart"
**What happened**:
imagePullSecrets is not working on the CloudCore helm chart.

**What you expected to happen**:
imagePullSecrets to be templated correctly while installing the chart.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Environment**:
- KubeEdge version: 1.9.0

[2021-12-08 00:26] MoXinQian commented on #3440
when i open the `/var/log/kubeedge/`，but it's error as follow:

-bash: cd: /var/log/kubeedge/: No such file or directory

[2021-12-08 02:08] MoXinQian commented on #3440
I have updated the comment,can you help me to see again?

[2021-12-08 02:11] davedavedavid opened #3445 "list-watch Not running properly on edgenode"
After a service is created on the K8S, the list-watch operation of the edge node is abnormal. After an add operation, there are consecutive delete operations.

**What you expected to happen**:
Services can be added properly on edge nodes.

{"type":"ADDED","object":{"apiVersion":"v1","kind":"Service","metadata":{"creationTimestamp":"2021-12-08T01:46:38Z","labels":{"federatedlearningjob.sedna.io/nam

[2021-12-08 03:08] #3362 closed

[2021-12-08 03:10] gy95 commented on #3440
not quite sure, which container runtime do you use? and what's the version.

[2021-12-08 03:13] allenleu opened #3446 "在边缘网络断开连接时对应用进行操作出现的问题/ Problems with operating applications when the edge network is disconnected"
我创建了一个deploymentA，它在边缘节点启动了一个podA。这个时候我把边缘节点的网络关掉，然后node状态变成了notready。5分钟之后，我去修改deploymentA的信息，改变它的cpu大小并保存。由于此时云端和边端无法通信，podA变成了terminating状态无法重启。然后我将边缘的网络重新开启，一段时间后，node状态变成了ready。但是podA仍然处于terminating状态。并且它无法被删除，需要我对它进行强制删除。有人知道这是什么原因吗？
I created a deploymentA, which starts a podA at the edge node. At this time, I turned off the edge node network, and the node status changed to notready. After

[2021-12-08 06:39] MoXinQian commented on #3440
thanks for you!
I have resovled this problem by using another machine that only installed containerd。

[2021-12-08 06:54] MoXinQian opened #3447 "CRI containerd cannot start image"
According to official documentation:[here](https://kubeedge.io/en/docs/advanced/cri/)
The edge had joined cloud side，as follow:
[code]
I use officail deployment and nodeName changes to`kk-virtual-machine ,it's as follow:
![image](https://user-images.githubusercontent.com/82023054/145161662-ec60d3cf-416e-42e7-a159-f3d9d5ebd059.png)

but the pod awalys pending:
[code]
who can help me? thanks

[2021-12-08 07:23] llhuii opened #3448 "keadm 1.9.0 failed to init with `--kubeedge-version=1.9.0`"
**What happened**:

[code]
**What you expected to happen**:
keadm init normally

**How to reproduce it (as minimally and precisely as possible)**:
just run `keadm init --kubeedge-version=1.9.0`
**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):
- <details><summary>Cloud nodes E

[2021-12-08 07:26] gy95 commented on #3448
what's k8s version? :)

[2021-12-08 07:27] llhuii commented on #3448
The bug is here:
https://github.com/kubeedge/kubeedge/blob/4ff2d99da342e3623141665696f23ca85e12d675/keadm/cmd/keadm/app/cmd/util/k8sinstaller.go#L149-L153

`build/crds/devices/devices_v1alpha2_device.yaml` in [release 1.9](https://github.com/kubeedge/kubeedge/blob/release-1.9/build/crds/devices/devices_v1alpha2_device.yaml) is `apiextensions.k8s.io/v1`, in [release 1.8](https://github.com/kubeedge

[2021-12-08 07:31] llhuii commented on #3448
Other crds(`reliablesyncs/cluster_objectsync_v1alpha1.yaml`, `reliablesyncs/objectsync_v1alpha1.yaml`) are `apiextensions.k8s.io/v1`.
So we just remove the `else` branch? https://github.com/kubeedge/kubeedge/blob/4ff2d99da342e3623141665696f23ca85e12d675/keadm/cmd/keadm/app/cmd/util/k8sinstaller.go#L149-L153

[2021-12-08 07:34] fisherxu commented on #3448
#3444 is trying to fix this bug.

[2021-12-08 07:45] llhuii commented on #3448
OK

[2021-12-08 08:13] gy95 commented on #3448
can you try applying for the patch https://github.com/kubeedge/kubeedge/pull/3444
build keadm from source codes and use it to check whether it fix the problem

[2021-12-08 09:37] davedavedavid commented on #3445
it would recover with perform "kubectl delete objectsync --all "

[2021-12-08 09:52] llhuii commented on #3448
keadm need to be able to install lower version kubeedge, e.g. 1.8.0

[2021-12-08 10:09] fisherxu commented on #3448
Will release the v1.9.1 to fix this bug :)

[2021-12-08 22:21] #2918 closed

[2021-12-08 22:21] #2910 closed

[2021-12-08 22:21] #2944 closed

[2021-12-08 22:21] #2946 closed

[2021-12-08 22:21] #2947 closed

[2021-12-09 02:27] MoXinQian opened #3450 "CRI containerd error"
error info as follow:
E1209 10:23:12.638067    1250 metaclient.go:112] send sync message default/serviceaccounttoken/default failed, error:timeout to get response, retries: 1

E1209 11:47:10.194994    1935 nestedpendingoperations.go:301] Operation for "{volumeName:kubernetes.io/projected/4ed23c05-b28b-41fa-85ff-17259f3d2550-kube-api-access-sbjjv podName:4ed23c05-b28b-41fa-85ff-17259f3d2550 nodeNam

[2021-12-09 07:50] llhuii commented on #3445
总结: kubeedge自定义资源objectsync存在残余的service对象, 新建同名service后,cloudcore的synccontroller 处理同名不同UID的资源时会一直发送deleted事件, 导致边侧watch会收到删除事件

具体来说:
- **某种未知原因**下, 系统存在残余的objectsync对象: Kind为Service, 名字为ct-yolo-v5
-  cloudcore的objectsync.go会一直定时扫到该ct-yolo-v5，然后和对比现有的service（通过ns/名字），如果没有, 打印错误https://github.com/kubeedge/kubeedge/blob/acf3985312fb017707616599e891c83e958cc18f/cloud/pkg/synccontroller/objectsync.go#

[2021-12-09 07:55] fisherxu commented on #3445
@llhuii it's better to use english :)

[2021-12-09 08:09] llhuii commented on #3445
几个问题:
1. 为什么有残余的objectsync对象? 什么时候清理?
2. 当objectsync处理同名,不同UID的情况时, 不应该发送新对象的delete事件
3. edgecore的metaserver处理watch时, 还得考虑UID不一致的情况,不仅仅以下字段 https://github.com/kubeedge/kubeedge/blob/acf3985312fb017707616599e891c83e958cc18f/edge/pkg/metamanager/metaserver/kubernetes/storage/sqlite/imitator/watchhook/hooks.go#L68-L74

[2021-12-09 09:55] lgy1027 opened #3451 "dial tcp 192.168.194.132:10002: connect: connection refused"
kubeedge: v1.8.2
deploy:    k8s
An error occurred when Edge connected to Cloud
[code]

I have cloud deployed in the cloud and the port is open
[code]

[2021-12-09 10:06] #3451 closed

[2021-12-09 13:30] jambu opened #3453 "cloudcore trying to contact non kubeedge nodes"
I have a AWS EKS Cluster where I have deployed cloudcore as a deployment in k8s. There are non kubeedge nodes in EKS where I run some other central workloads.

The cloudcore is trying to contact these nodes and keeps printing messages like the following
[code]

How to avoid this ? Is there a config to blacklist nonkubeedge nodes.

Cloudcore Version: v1.8.2

[2021-12-09 13:37] fisherxu commented on #3453
Do you have install the edge node?

[2021-12-10 03:32] khalid-jobs commented on #3453
I think the cloudcore will no try to connect non kubeedge nodes, it only accept connection from edge node.

[2021-12-10 03:40] khalid-jobs commented on #3402
如果可以提供一个直观点的网路拓扑图，会容易理解一些。另外你的INTERNAL-IP 是指什么? edge 在join的时候，具体报错信息可以贴全一些。

[2021-12-10 03:50] khalid-jobs commented on #3438
The community provides a binary version of arm. You can use the binary installation method first

[2021-12-10 04:32] jambu commented on #3453
All these IPs are the node IPs. I have spot instances for nodes which are being rolled over. The logs indicate ips of nodes which are even out of service currently.
not sure if this a config issue.

[2021-12-10 07:36] zc2638 opened #3454 "Remove the remote request for the default version in `keadm`."
**What would you like to be added/modified**:

Remove the remote request for the default version in `keadm`.

**Why is this needed**:

We don’t need to pass an extra place to ensure the default version.
We can completely rely on the constant `DefaultKubeEdgeVersion` in package `keadm/cmd/keadm/app/cmd/common/constant.go`
In any case, what is used in CICD should be the associated version of the cur

[2021-12-10 07:37] zc2638 commented on #3454
/cc @fisherxu @gy95

[2021-12-10 12:49] fisherxu commented on #3454
If we want to publish a new release, we need to modify the code of DefaultKubeEdgeVersion first, but now we still haven't the related release, so the latest release can't be tested? We can have to look how k8s/kubeadm deal with this issue.

[2021-12-10 13:13] zc2638 commented on #3454
submit the hash according to the current code to build the version, and confirm according to the tag when releasing.
1. build the main components according to the code (e.g. cloudcore, edgecore)
2. build a tar archive
3. start an API server to download local static (tar.gz) files
4. build keadm and test.
5. ...

We should use the currently submitted code to carry out the correct test.
WDYT? @fishe

[2021-12-10 13:17] zc2638 commented on #3454
Just like `kubeadm` can customize the image registry, should `keadm` specify a custom download address?

[2021-12-11 22:25] #2740 closed

[2021-12-12 07:54] #2954 closed

[2021-12-13 01:40] QeelinDarly commented on #3453
Cloudcore will try to connect to edgecore only after edgecore has connected to cloudcore. Can you describe how you deployed kubeedge?

[2021-12-13 03:13] SmileCaoJ opened #3460 "can not delete pod"
**What happened**:
1.  setup edgecore on node
2. stop edgecore on node.  to simulates network offline
3. create a pod
4. status of pod is pending
5. delete the pod
6. status of pod is Terminating  for a long time
7.  setup edgecore on node
8. status of pod is Terminating  for a long time

**What you expected to happen**:
1. the pod has been deleted

**How to reproduce it (as minimally and precisel

[2021-12-13 04:01] SmileCaoJ opened #3462 "container of pod can not been delete"
**What happened**:
1. setup edgecore on node
2. create a pod
3. delete edgecore on node to simulates network offline
4. delete the pod ,  set gracePeriodSeconds = 0
5. the pod has been deleted
6. create a new pod with the same name
7. setup edgecore on node
8. the old container is still running for a long time
9. delete the new pod ,  set gracePeriodSeconds = 0
10. the new pod has been deleted
11.

[2021-12-13 09:16] SmileCaoJ opened #3465 "status of pod is still pending when node online again"
**What happened**:
1.  stop edgecore on node
2. create a pod   (status of node is still Ready)
3. status of pod is pending
4. setup edgecore on node, status of node is ready
5. status of pod is still pending

**What you expected to happen**:
1. status of pod is running

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubern

[2021-12-13 09:26] gy95 commented on #3454
seems that should support `make release` cmd?

[2021-12-13 09:40] stingshen commented on #3465
This may be related. https://github.com/kubeedge/kubeedge/issues/3108#issuecomment-969943066

In conclusion, the issue should be resolved on v1.9.0.

[2021-12-13 09:42] stingshen commented on #3019
This may be related. https://github.com/kubeedge/kubeedge/issues/3108#issuecomment-969943066

In conclusion, the issue should be resolved on v1.9.0.

[2021-12-13 10:41] gy95 commented on #3108
@stingshen  do you mean that we should revert https://github.com/kubeedge/kubeedge/pull/3229? :)

[2021-12-13 12:50] #2665 closed

[2021-12-13 14:53] stingshen commented on #3108
No. Actually, #3229 fixes the issue from my observation.

[2021-12-14 09:38] fisherxu commented on #3411
The pr has merged, so close this now :)
/close

[2021-12-14 09:38] #3411 closed

[2021-12-15 03:22] zc2638 commented on #3454
Yes, maybe we need a command to build release to test.
@gy95

[2021-12-15 09:44] markretallack opened #3470 "nodeSelector not preventing container running on edge."
**What happened**:

Docker on edge device (edgecore) is showing that a container that should not be enabled for the edge device is in "paused" state. In my case it is an MQTT broker that should only be run in the cloud.

[code]

If I view all stopped containers I can see it tried to run the actual container:

[code]

The edge device is an arm64 device, and so the container wont run (as expected):

[2021-12-15 11:06] moolen opened #3471 "csidriver: support multiple edge nodes /multiple csi drivers per edge node"
related: original [csi design doc](https://github.com/container-storage-interface/spec/blob/master/lib/go/csi/csi.pb.go#L802)

tl;dr
* csidriver needs to be able to send `Volume*` requests to specific edge nodes
* we can use the CSI topology feature to address specific nodes
* csidriver needs a way to support multiple csi drivers (like hostpath, nfs etc.) on a given edge node.

**Why is this neede

[2021-12-16 03:35] llhuii commented on #3448
#3444 has been merged
/close

[2021-12-16 03:35] #3448 closed

[2021-12-16 06:42] #2957 closed

[2021-12-16 08:55] zhu733756 opened #3475 "Plans for Installation and Deployment Optimization"
Hey guys, we have plans for installation and deployment optimization for KubeEdge, the installation tool keadm will be refactored.

If you have features to achieve or to get involved in the development, please see the project form below, and you can add other todos here as you want:

- [ ] 1. **Cloud side**: use tools like `istioctl`  to integrate cloud components and provide stronger functions in

[2021-12-16 09:44] windghoul commented on #3365
i have the same problem

[2021-12-16 10:00] #3391 closed

[2021-12-16 10:39] zc2638 commented on #3454
will refactor keadm in #3475.
/close

[2021-12-16 10:39] #3454 closed

[2021-12-17 03:23] lgy1027 opened #3477 "About edgenode log collection issues"
Currently we use loki as the log collection component, but after deploying kubeedge, the container logs deployed by the edge node cannot be collected normally. May I ask, do you have any thoughts on the collection of container logs by kubeedge?

[2021-12-17 05:56] #2959 closed

[2021-12-17 05:56] #2960 closed

[2021-12-17 05:56] #2961 closed

[2021-12-17 05:56] #2962 closed

[2021-12-17 07:10] gy95 commented on #3475
some work about cloudcore container deployment: maybe we can define required k8s resources in a string, or just use go `embed`
https://github.com/kubeedge/kubeedge/pull/2853

[2021-12-17 07:14] zc2638 commented on #3475
Because we need to support `helm` deployment, there should not be two yaml definitions, so a better way is to generate yaml resources through `helm`

[2021-12-17 07:17] lgy1027 commented on #3477
What if a k8S resource needs to be called inside a container deployed on an edge node

[2021-12-17 07:20] gy95 commented on #3477
you mean using `kubectl logs` command to get pod logs on the edge node?
you can ref: https://kubeedge.io/en/docs/advanced/debug/

[2021-12-17 07:27] lgy1027 commented on #3053
Has this problem been solved? I have a similar problem. What should I do if the application deploying edge node needs to query K8S resources, for example, when constructing go-Client tool

[2021-12-17 09:17] gy95 commented on #3475
you mean the new keadm will only support install cloudcore using helm? : https://github.com/kubeedge/kubeedge/blob/master/build/helm/cloudcore/README.md#install-examples
or maybe also need to support common pod deployment?

[2021-12-17 09:30] lgy1027 commented on #3477
What I mean is to collect the logs of edge nodes, just like ELK is deployed in a cluster, and you can pull the logs of each node.

[2021-12-17 11:38] zhu733756 commented on #3477
You may need a log agent deployed in edge nodes, like fluent-bit daemon agents,  grafana/agent or promtail, opentelemetry-collector? You can have a try.

[2021-12-17 12:40] zhu733756 commented on #3475
Yeah, keadm will support the function of what helm can do.

[2021-12-17 15:15] zc2638 commented on #3475
Sure, as @zhu733756 say.
Two deployment methods will be supported by default, one is helm and the other is native k8s resource deployment.
k8s resources are dynamically generated through helm.

[2021-12-18 11:05] #2968 closed

[2021-12-18 11:05] #2963 closed

[2021-12-19 07:05] #2969 closed

[2021-12-19 12:27] yz271544 opened #3482 "How to configure kubectl logs ?"
**What happened and what you expected to happen**:
[code]
**How to reproduce it (as minimally and precisely as possible)**:
yep, i have multiple acitve cloudcore, replicas = 2, they are on cloud node.
and i have 3 edge node.
edgemesh-server deploy on the master node, and all of nodes deployed the edgemesh-agent.

:ambulance:
even if config the  iptables on the master node 10.200.50.118 (apiserver

[2021-12-19 22:13] #2965 closed

[2021-12-19 22:13] Jeaniowang commented on #2965
报告收到

[2021-12-20 01:29] lgy1027 commented on #3477
Yes, what I use now is to deploy pormtail, but promtail will call k8s API to get data and do some log label processing, which is not available at edge nodes

[2021-12-20 02:12] lirui79 opened #3484 "How to deploy binary programs from the cloud to the edge？"
If the edge cannot support the operation of docker containers, can you deploy binary programs from the cloud to the edge and control their startup, operation, and exit, and upgrades?

**Environment**:
- Kubernetes version (v1.23.0):
- KubeEdge version(e.g. `cloudcore --v1.9.0` and `edgecore --v1.9.0`):

[2021-12-20 02:42] zhu733756 commented on #3482
Have you tested 10351?  I remember that the ports have changed to 10351+ since KubeEdge supports multi-ha.

[2021-12-20 02:44] zhu733756 commented on #3484
Let's join #3475 to talk about it.

[2021-12-20 02:59] zhu733756 commented on #3477
Promtail will collect logs on edge nodes and always send them to Loki. If you want to call k8s API, and the logs are so larger, you may need to build your own client by using kubeconfig.   Actually, I don't know your scene, you can collects docker logs from edges and forwards them to the center logging component. See https://gist.github.com/ruanbekker/c6fa9bc6882e6f324b4319c5e3622460

[2021-12-20 03:27] lirui79 commented on #3484
very sorry! I am not asking about KubeEdge system component deployment. What I want to know is that I have an application that needs to be deployed on the edge, but the edge cannot run docker containers. Can I deploy this application binary program to the edge through the cloud? Can the KubeEdge system be used to control the start, run, stop and update of applications on the edge?

[2021-12-20 03:36] zhu733756 commented on #3484
Does the kubelet support it? you could think edgecore as a simple kubelet but not all.

[2021-12-20 03:44] lirui79 opened #3485 "Will the edge update the docker image file be sent from the cloud to the edge or the edge downloads it from the docker image library website?"
**What happened and what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):

[2021-12-20 04:35] lgy1027 commented on #3477
We now use loki+promtail as the log collector. Promtail is deployed on all nodes, but after promtail is deployed on edge nodes, label information cannot be processed, because this involves obtaining node information from the cluster and pod information deployed in the current node

[2021-12-20 07:00] zc2638 commented on #3485
The edge directly pulls the image from the image registry

[2021-12-20 07:05] zc2638 commented on #3477
You can try to connect to metaServer on the edge side, which is the apiServer that exposes k8s resources on the edge side. I don’t know if it can meet the demand.
@lgy1027

[2021-12-20 07:17] lgy1027 commented on #3477
The address of the edge link is 127.0.0.1:13350 to get the metadata, but I deployed it to the edge node container through k8s. This does not seem to work. In fact, in some scenarios, the container application deployed to the edge node needs to call apiserver to get the cluster. Related information, but is there a better way

[2021-12-20 07:19] zc2638 commented on #3477
Consider `hostNetwork` ?

[2021-12-20 07:28] zhu733756 commented on #3300
Will  be refactored in https://github.com/kubeedge/kubeedge/issues/3475

[2021-12-20 07:28] #3300 closed

[2021-12-20 07:36] lgy1027 commented on #3477
I was wrong. I can get the data by accessing curl -s http://127.0.0.1:10550/api/v1/pods on the edge node. If my edge node is deployed using keadm, can I set up hostnetwork? Are there any encapsulated APIs that can be used by container applications deployed on edge nodes?

[2021-12-20 08:20] fisherxu commented on #3484
KubeEdge now only support containerization application @lirui79 What's your usage scenario, embedded device management?

[2021-12-20 09:43] zhu733756 commented on #3477
As far as I know, you may need a monitoring agent deployed on edges like [here](https://github.com/kubeedge/edgemesh/blob/main/docs/proposal/observability-support-proposal.md).  The agent would scape the edge metrics and send them to the central cloud.  BTW, grafana/agent can do this also. Then, you can query it through promtheus query API for everywhere. Do you mean this solution?

[2021-12-20 10:01] Icedroid commented on #2906
`top`
[code]

[2021-12-20 10:56] jambu commented on #3453
I used the kubernetes objects under build/cloud, made some modifications for permissions for cloudcore. Deployed on a fresh EKS cluster. Did not use the helm chart since this was version 1.8.x. Also tried using the 1.9.x image now. No edge is onboarded, the EOF messages start showing up as soon as cloudcore is booted up.

[code]

[code]

[2021-12-20 10:59] jambu commented on #2956
This error shows up only when there is a permission error in cloudcore. I had to give permission for serviceaccount/token and couple of more objects after checking the cloudcore logs. After that this error went away. Not sure if this will be the actual fix

[2021-12-20 13:23] jambu commented on #3453
After looking around some more, I found that there are other golang projects which are getting this error too when using a AWS Network Load Balancer to expose their services. Probably the tcp healthcheck from the NLB is causing this.

[2021-12-20 13:56] jambu commented on #3453
The TLS handshake logs stopped after I added a HTTPS healthcheck for the NLB
[code]
Closing this issue here, probably a healthcheck url is required for deploying behind load balancers, rather than ca.crt

[2021-12-20 13:56] #3453 closed

[2021-12-21 05:51] yz271544 opened #3489 "cloud container be scheduled to the edge node"
**What happened**:
this is my cluster info, it work on kubeedge in v1.8.2 version.
![1 normal-first](https://user-images.githubusercontent.com/16499075/146874982-16a92c14-fde3-4e6e-9fa0-49d9d8b683d4.png)

#### Testing process #3293
1. prepare
`systemctl stop edgecore` on all of the edgenode.
and clean all of the config on the edgenode
[code]
and remove the `reliablesyncs.kubeedge.io` and it's chil

[2021-12-21 05:53] yz271544 commented on #3489
It is preliminarily determined from the log that it is related to the message sent by the `dynamiccontroller`;

[2021-12-21 07:17] lirui79 commented on #3484
Our application scenario is relatively simple. The edge node may be a set-top box, and its resources are very limited. I am afraid that it cannot run docker containers.

[2021-12-21 08:48] gy95 commented on #3475
I would like to join this task, what work could I participate in? :) not sure how to implement this `keadm` optimization 😆

[2021-12-21 08:50] zhu733756 commented on #3475
Let's talk about it tomorrow on the zoom. @gy95

[2021-12-21 09:13] #2976 closed

[2021-12-21 11:34] yz271544 commented on #3489
I just communicated with @Poorunga ; and did not start edgemesh on the edge side, direct called edgemesh's listwatch API on the edge side, which also triggered this bug.
[code]

![2](https://user-images.githubusercontent.com/16499075/146923604-bd926848-5099-4039-8256-52ed038d25e8.png)

[2021-12-21 12:14] yz271544 commented on #3489
I am directly on v1.8.2, modify according to #3293, ignore other fixes, and then start cloudcore and edgecore respectively, and curl listwatch api on the edge node
[code]

![5 only-3293-on-v1 8 2](https://user-images.githubusercontent.com/16499075/146927544-f12a096e-f0b1-4c51-9d4f-a3c871af5910.png)

This time there is no edgemesh influence, but cloudcore don’t keep trying to transfer to edgenode.

[2021-12-21 12:48] Rachel-Shao commented on #3489
It seems that dynamicController does not filter non-edge pod resources, will fix soon

[2021-12-21 21:43] #2977 closed

[2021-12-22 09:11] ttlv commented on #2956
/assign

[2021-12-22 11:38] yz271544 commented on #3482
u mean's i should :
[code]

[2021-12-23 07:51] allenleu opened #3497 "An error occurred when starting 100 pods at the edge node"
Start 100 pods at the edge node, and finally about 50 can be started. Checking the status of the edge node container, about 110 containers were started. At present, the maximum number of containers tested in the up state can reach 114. Containers exceeding this number are in the created state and cannot be forced to start.

[2021-12-23 08:17] allenleu commented on #3497
The following is a screenshot of the log：
![内网通截图20211223152733](https://user-images.githubusercontent.com/79303312/147210053-7673e902-3232-491d-a6f3-31b477046493.jpg)

[2021-12-23 08:24] gy95 commented on #3497
feel that the core error log is `failed to get fd for socket:xxxx, ........  too many open files`, it seems that it's due to docker restriction. not sure.

[2021-12-23 08:43] gy95 commented on #3497
i guess it's related to docker or linux restriction:  https://stackoverflow.com/questions/29403185/docker-error-too-many-open-files

[2021-12-23 09:26] stingshen opened #3498 "Identify session by node name instead of ip"
**What would you like to be added/modified**:

Identify session by node name instead of ip. Currently, session is identified by node ip when exec and get metrics. It breaks if two edge nodes with the same internal ip are added to the cluster. https://github.com/kubeedge/kubeedge/pull/3136 fixes the behavior on logs. Maybe exec and get metrics could be fixed similarly.

**Why is this needed**:

It

[2021-12-23 12:05] beyondyinjl2 opened #3500 "Does kubeedge support the openEuler system?"
Does kubeedge support the openEuler system?

[2021-12-23 12:06] gy95 commented on #3500
yes

[2021-12-23 12:07] gy95 commented on #3500
ref: https://github.com/kubeedge/kubeedge/pull/3089
https://github.com/kubeedge/kubeedge/pull/3159

[2021-12-23 13:14] #3016 closed

[2021-12-24 00:27] #2979 closed

[2021-12-24 00:27] #2911 closed

[2021-12-24 06:00] allenleu commented on #3497
Yes, but I checked the information related to it and modified some configurations, but it didn't work.

[2021-12-24 06:00] allenleu commented on #3497
Yes, but I checked the information related to it and modified some configurations, but it didn't work.

[2021-12-24 15:19] beyondyinjl2 opened #3506 "Can the mosquito mqtt used by the edge node be replaced with other mqtt?"
Can the mosquito mqtt used by the edge node be replaced with other mqtt? For example, emq, if so, how to configure it, the default is the installed mosquito

[2021-12-25 03:38] MoXinQian opened #3507 "containerd cni error"
**What happened**:
edgecore error log:

cloudcore：pod always pending!

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):1.21.6
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):1.8.2
- <details><summary>Cloud nodes Environment:

[2021-12-26 04:45] #2950 closed

[2021-12-26 04:45] #2634 closed

[2021-12-26 04:45] #2980 closed

[2021-12-26 04:45] #2981 closed

[2021-12-27 12:35] fisherxu commented on #3489
👍  Other components running in edge will may list pods through metaServer, so we indeed need the filter for edged.

[2021-12-28 01:43] sdghchj commented on #3506
Of course, as long as  it follows mqtt 3.1/3.1.1

[2021-12-28 02:25] sdghchj commented on #3498
The blog article you mentioned is a sulotion given by my team in China mobile Co.
We used kubesphere 1.3 which integrated kubeedge 1.6  half a year ago and ran into the edge ip conflict issue, so we posted that alternative sulotion to kubeSphere. I am not sure whether kubesphere adopted the sugested solution in their new version.
But, that solution removes the real ip of edge node, which will brea

[2021-12-28 09:20] beyondyinjl2 opened #3516 "failed to try resolving symlinks in path "/var/log/pods/default_"
View log report error:
kubectl logs mqttfire-1-66ff697667-hn6jz
failed to try resolving symlinks in path "/var/log/pods/default_mqttfire-1-66ff697667-hn6jz_94fcd001-436e-499e-82ff-9bf588a01b25/mqttfire-arm64/0.log": lstat /var/log/pods/default_mqttfire-1-66ff697667-hn6jz_94fcd001-436e-499e-82ff-9bf588a01b25: no such file or directory

 kubectl version
Client Version: version.Info{Major:"1", Minor:

[2021-12-28 11:41] fisherxu opened #3518 "Support make image and make crossbuild image"
**What would you like to be added/modified**:
Now we support make image in makefile like:
[code]
how about unnify the image cmd like `make binary` as blow?
[code]

We can also add the make crossbuild image for arm platform:
[code]

How do you think? cc @zhu733756 @gy95 @zc2638

[2021-12-28 11:47] gy95 commented on #3518
/assign @gy95

[2021-12-29 07:26] pi-bit opened #3521 "Fail to keadm init 1.8.1 with k8s: 1.21.0?"
**What happened**:
cloud@cloud:/tmp$ sudo cp keadm-v1.8.1-linux-amd64/keadm/keadm /usr/local/bin/
cloud@cloud:/tmp$ cd
cloud@cloud:~$ sudo keadm init --advertise-address=192.168.27.128 --kube-config=$HOME/.kube/config
Kubernetes version verification passed, KubeEdge installation will start...
W1228 23:03:44.002787 2054198 warnings.go:70] apiextensions.k8s.io/v1beta1 CustomResourceDefinition is dep

[2021-12-29 08:52] gy95 opened #3523 "e2e for iptablesmanager"
**What would you like to be added/modified**:
we need some e2e tests for iptablesmanager, please ref: https://github.com/kubeedge/kubeedge/pull/3512
**Why is this needed**:

[2021-12-29 08:54] gy95 commented on #3523
/help

[2021-12-30 01:20] jacoovan opened #3526 "pod status after edgenode joined"
There's a issue about pod status.

Everything worked well before edge join cloud.

But if a edgenode join, pod status will be error, but actually pod status is ok .

And pod status will be fine in ten seconds,  for every minute.

kubeedge1.9.1 + kubernetes 1.19.7 + edgemesh latest.

[2021-12-30 01:46] khalid-jobs opened #3527 "Memory consumption of autonomic Kube-API"
**What happened**:
After I open autonomic kube-api, the memory consumption of edgecore will get bigger and bigger. For example, the following edgeocre's memory consumption reach 700MB.
![image](https://user-images.githubusercontent.com/13484086/147714821-47feb28c-eb98-40ee-8f51-6cb8ca56cbbb.png).

Here are some information I've gathered.
1. If I not open autonomic kube-api in edgecore, the edgecor

[2021-12-30 03:04] pi-bit commented on #3182
Hi Bao, if you want to install kubeedge, we suppose not to install k8s(kubernertes on edge side). Just init k8s at cloud side, and **do not join**. You can follow this instruction to install docker and kubeedge.
kubeadm, docker : https://kkh913.github.io/kubernetes/kubeadm---kubernetes-on-ubuntu-(docker)/
keadm, kubeedge: https://kkh913.github.io/kubernetes/kubeedge-(2)-installation-on-ubuntu-/

[2021-12-30 07:04] fisherxu commented on #3497
This issue have been fixed? @allenleu

[2021-12-30 07:22] allenleu commented on #3497
yes，I changed some of the docker configuration and it worked

[2021-12-30 07:48] fisherxu commented on #3497
OKey, let's close the issue, please reopen it if there's any other issue :)
/close

[2021-12-30 07:48] #3497 closed

[2021-12-30 09:37] baoquach14 commented on #3182
Hi Pi-bit

Thank for reply and provide suggestions during holiday season.
I did exact what you suggested few weeks ago, I have running Kubernetes Clusters (1 Master(with Cloudcore), 2 worker nodes) running on Premise and 2 Compulab Edge computers running KubeEdge(Edgecore).

I have two questions that would need your help
1. Can you please provide me document links to setup and configurre 2 to 3 Ma

[2021-12-30 10:57] pi-bit commented on #3182
1/ Just getting clearly that the fact is you can not have both kubeedge and kubernetes running on 1 edge node. And you also don't need that to get everything works well. My option is you can create 1 cloud node (running on kubernetes and kubeedge), and create some edge nodes **(each node just running kubernestes or kubeedge).**  If you want more cloud, do it similarly.
2/ I use this command to joi

[2022-01-03 12:55] kevinniu666 commented on #3022
Can anybody help to check and resolve this issue? Thanks.

[2022-01-04 10:39] wfchair commented on #2919
same requirement on edgesite docs update.

[2022-01-04 16:01] markretallack commented on #3470
Closing issue, found that the cloud label I was selecting on was incorrect :)

[2022-01-04 16:01] #3470 closed

[2022-01-05 09:02] TianTianBigWang commented on #3264
I think that at this stage we need to investigate EdgeX and Akri frameworks, such as:
- What feature do they support
- What are the special features of these frameworks
- Can our predefined interface cover the life cycle management of the entire device
- What additional customization features do we need
These should be discussed.

We can also discuss the future deployment method of DMI.

[2022-01-06 06:35] lgy1027 opened #3531 "About the acquisition of edge node related resources"
I would like to ask, after resources are deployed to edge nodes, how to obtain the relevant resources of the corresponding POD, such as network IO, disk usage, CPU, GPU and other resources. We now use prometheus to face various exporter components.

[2022-01-06 06:35] #3477 closed

[2022-01-06 06:53] fw-ctf opened #3532 "Mount /a /a/b to the container and change the directory attribute in the container to implement container escape."
**What happened**:
This is a security breach.
**What you expected to happen**:
I want you to give me a new version to fix it or provide mitigations.
**How to reproduce it (as minimally and precisely as possible)**:
1. Create container A running as the root user and mount the /home/test directory of the host to the /home/tmp directory of container A.
2. In container A, run the mkdir command to crea

[2022-01-07 01:44] Msunshineboy opened #3535 "How do I completely remove Kubeedge deployed through binary on a node？"
How do I clean up and redeploy？

[2022-01-07 07:52] sdghchj commented on #3532
How does kubelet solve this issue?

[2022-01-10 10:34] pidb opened #3541 "Add retries for QuicClient.Connect"
**What would you like to be added/modified**:

Should retries be added for QuicClient Connect when edgehub is initialized?

**Why is this needed**:

[2022-01-11 02:13] liuwnzh commented on #3532
No. You can mount the soft link of the host in the container to implement container escape.

[2022-01-11 03:27] lgy1027 opened #3543 "how to get pod's GPU metrics on the edgeside？"
I install dcgm-exporter on the edge node, and then we can get the GPU metrics of the node

perfer to:
https://developer.nvidia.com/zh-cn/blog/monitoring-gpus-in-kubernetes-with-dcgm/
if we want to get the pod GPU metrics, the dcgm-exprter needs to collect it from /var/lib/kubelet/pod-resources

How to get the pod resouces info like this in the edge node? how to get the pod's GPU metrics on the edg

[2022-01-11 03:29] #3531 closed

[2022-01-11 09:07] SiHyun970430 opened #3544 "Minimum hardware requirements for KubeEdge"
I want to use KubeEdge in my project. but i can't find minimum hardware requirements, not even in the KubeEdge page
I want to know how much hardware or resource(CPU, memory, Storage etc.) i need to use KubeEdge, both minimum and recommend settings.
CloudCore and EdgeCore may be used in diffenrent environment so they may need seperate requirements.
And if there is requirements listed in somewhere(g

[2022-01-11 11:36] lgy1027 commented on #3543
#3545 Made some modifications, can basically meet the use

[2022-01-12 03:18] MrHanLei opened #3546 "dial tcp xx.xx.xx.xx:10350: connect: connection refused"
Get "https://192.168.xx.xx:10350/containerLogs/kube-system/calico-node-5t4nr/calico-node?tailLines=5000×tamps=true": dial tcp 192.168.xx.xx:10350: connect: connection refused

kubeedge节点报错
pod/calico-node-d7bsk                             0/1     Init:Error    28
pod/coredns-85967d65-qpvvr                  0/1     Terminating   28
pod/nodelocaldns-cxn79                           0/1     Running

[2022-01-12 03:24] fisherxu opened #3547 "Fix tokensecret created in cloudcore hardcode in kubeedge namespace"
**What happened**:
If users deploy the cloudcore in other namespace, tokensecret and other certs will still created in `kubeedge` ns.

**What you expected to happen**:
Create them in same ns with cloudcore.

cc @gy95 @zhu733756

[2022-01-12 03:43] khalid-jobs commented on #3527
It seems that if I only open the automic Kube-API and do not any application to use the feature, the edgecore will be normal. And after I deploy an application which use the feature (such as edgemesh), the edgecore's memory consumption will increase and be bigger and bigger

[2022-01-12 03:45] zhu733756 commented on #3547
/assign @zhu733756

[2022-01-12 09:48] honeis opened #3549 "kubectl apply -f device.yaml 时只match了第一个- matchExpressions:下的 -key"
**What happened**:
kubectl apply -f device.yaml 时只match了第一个- matchExpressions:下的 -key

nodeSelector:
    nodeSelectorTerms:
    - matchExpressions:
      - key: "aaa"
        operator: In
        values:
        - edge1
      - key: "kubernetes.io/hostname"
        operator: In
        values:
        - edge1-xxx
      - key: kubernetes.io/arch
        operator: In
        values:
        - amd64

[2022-01-12 10:30] MrHanLei opened #3550 "安装KubeEdge coreDns无法启动"
查看日志journalctl -u edgecore.service -b -f

![微信图片_20220112180453](https://user-images.githubusercontent.com/50442900/149123295-3cb4d037-2727-4dc7-b3bd-18c91251ff5d.png)

发现coreDns报错，查看容器日志
![微信图片_20220112182548](https://user-images.githubusercontent.com/50442900/149123518-9951faf8-197c-479d-8b02-b5c66e74d5f1.png)

[2022-01-12 10:32] MrHanLei commented on #3550
请问这个是啥原因，怎么解决呢？

[2022-01-12 10:59] khalid-jobs commented on #3550
coredns需要连接apiserver，看输出，你的coredns是被调度到边侧了。在边侧的话，你需要把kubeedge Autonomic Kube-API Endpoint feature 开启，然后把apiserver的地址换为边侧的，也就是http://127.0.0.1:10550
你在边侧部署coreDNS的目的是什么

[2022-01-12 14:27] MrHanLei commented on #3550
谢谢回复，coredns和calico是在安装边缘节点时，集群自动安装的，请问如果我想让集群正常，应该做哪些操作呢？
keadm join --cloudcore-ipport=192.168.20.50:10000 --token=27a37ef16159f7d3be8fae95d588b79b3adaa
![image](https://user-images.githubusercontent.com/50442900/149158095-932af558-2bab-42c7-8e83-fcae044f02b7.png)

[2022-01-13 02:31] khalid-jobs commented on #3550
参考 https://github.com/kubeedge/kubeedge/issues/2677

主要就是加入如下的亲和性
[code]

[2022-01-13 12:41] shumintao commented on #3336
Recently I use csidriver , I meet same problems. I see your branch,but don’t work

[2022-01-14 01:13] fw-ctf commented on #3532
My product uses a trustlist to restrict the mounting directory of customers. For the first time, you can use soft links to bypass the trustlist check and fix this vulnerability.The customer bypassed our check again in the preceding scenario, so I think this issue should be resolved by the open source software itself.

[2022-01-14 07:45] khalid-jobs commented on #3550
报错信息是什么？有试着用连接所给的配置试试吗？是否可行

[2022-01-14 08:00] fisherxu opened #3555 "Lots of duplicate logs "Failed to get obj" in objectsync.go L36"
**What happened**:
Everytime we send a obj like Pod successfully to edge, cloudcore will create a `objectsync` cr in cloud.
In normal condition, if we delete the obj in cloud, cloudcore will send the delete event to edge, if obj in edge deleted successfully, then delete the  `objectsync`.

But if edgenode is offline, at this point if users force delete the obj(Pod) in cloud, then can't deleted it

[2022-01-14 08:22] shumintao commented on #3471
When I use your CSI branch (Topo-IMPLL), the pod is still pending and I find cloudcore reporting this error. Here is my Cloudcore role profile.

[code]

- cloudcore yaml:

[code]

- ` k logs csi-hostpath-controller-0 csi-provisioner`:

[code]

- ` k logs csi-hostpath-controller-0 csi-driver`:

[code]

- pvc && pod

[code]

[2022-01-14 11:43] moolen commented on #3471
hey, this is an old branch, integration tested from this branch: https://github.com/moolen/kubeedge/tree/wip/topo-integration it contains all the changes needed to get it running.

I created this gist with a stripped down version of the manifests i use for testing: https://gist.github.com/moolen/4313754c376d3f81d5e15147463aea85

Also don't forget to label the nodes correctly

[code]
Also note that

[2022-01-16 14:09] baoquach14 opened #3556 "It is possible to install KuberEdge on Edge device that blocked from access to Internet"
Hi KubeEdge Support

Can you please let me know, if it is possible to install KuberEdge on Edge device that blocked from access to Internet, but allow access to local network or intranet.
Our customers environment such as on Premsie or Edge devces do NOT have access to internet or GiT version control.

**- Kubernetes version (use `kubectl version`):**
Client Version: version.Info{Major:"1", Minor:

[2022-01-17 02:51] MrHanLei commented on #3550
您好，目前集群看上去正常了，但是在边缘节点上部署了一个pod，却无法通过service对这个pod进行访问。 请问这个是kubeedge正确的使用方式吗？是否需要通过其它方式进行访问呢？
![1642387775(1)](https://user-images.githubusercontent.com/50442900/149700696-53a0a472-1d5c-4327-9ac2-e96bc2219335.png)

[2022-01-17 03:51] shumintao commented on #3471
I seems to have a permission problem

- csi-hostpath-controller
![image](https://user-images.githubusercontent.com/26895243/149704992-37d589f5-7991-4f90-b0d0-6e921036dad2.png)

- cloudcore

![image](https://user-images.githubusercontent.com/26895243/149705009-9e2a0fdf-3228-40e9-8736-06e6c2d749b2.png)

[2022-01-17 07:35] moolen commented on #3471
I think the error you mentioned is unrelated (i see those, too). However the `csi-hostpath-controller` has a RBAC issue. The setup is in [their repo](https://github.com/kubernetes-csi/csi-driver-host-path/blob/master/deploy/kubernetes-1.21/hostpath/csi-hostpath-plugin.yaml). Feel Free to hit me up in Kubedge or Kubernetes slack if you have any issues.

[2022-01-17 07:57] shumintao commented on #3471
Thank you for your reply, I found that there's an error in [https://github.com/moolen/kubeedge/tree/wip/topo-integration](https://github.com/moolen/kubeedge/tree/wip/topo-integration) branch,  I repaired the two places can run at present：

- edged.go
[code]

- 03-clusterrole.yaml

[code]

[2022-01-17 08:39] moolen commented on #3471
Thanks @shumintao, i completely forgot about that :sweat_smile: that was part of #3458.

[2022-01-17 09:17] JooKS-me commented on #3523
/assign

I want to try it~

[2022-01-17 16:50] JooKS-me opened #3562 "No prompt when executing `make all` without sed"
**What happened**:

Currently, if we do not have sed installed and execute `make all`, we will get the result below. This is not what we want because `Please install gnu-sed (brew install gnu-sed)` does not show up.

<img width="544" alt="截屏2022-01-18 上午12 24 20" src="https://user-images.githubusercontent.com/62384022/149808607-1965e87e-58d7-49b5-95ea-42041429e445.png">

**What you expected to hap

[2022-01-18 04:54] baoquach14 opened #3564 "Can you advise for Production environment what the minium Kubernetes master nodes need to setup to manage 1000 KubeEdges on Edge devices"
Hi KubeEdge Team

Can you advise for Production environment what the minium Kubernetes master nodes and worker nodes need to setup to manage 1000 KubeEdges on Edge devices , PostregSQL, Prometheus and Alert Manager Prometheus.

**Environment**:
- Kubernetes version (use kubectl version):
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.4", GitCommit:"b695d79
03a96986f1750a35eb

[2022-01-18 09:06] #3562 closed

[2022-01-18 09:16] fisherxu commented on #3556
KubeEdge edgenode need to connect to the cloudside, so you only need to make sure the edge nodes can access to the cloudnode/cloudcore :)

[2022-01-18 09:17] fisherxu commented on #3564
What's the meaning of ` 1000 KubeEdges on Edge devices , PostregSQL, Prometheus and Alert Manager Prometheus.`?

[2022-01-18 09:33] JamesJiang1024 opened #3565 "SyncController sync failed, the resource and object kind problem should be solved (pods/pod, configmaps/configmap)"
### Problem Description ###

#### Environment ####

* node01:
    * roles:
        * k8s master: v.1.19.16
        * cloudcore: v1.6.2
* node02:
    * roles:
        * edgecore: v1.6.2

#### Steps ####

* Create comfigmap-1
* Create pod-1 and mount configmap-1，nodeAffinity with node02
* When pod-1 start up succeed，disconnect the cloud edge network connection.
* Modify configmap-1
* Reboot cloudcor

[2022-01-18 10:17] baoquach14 commented on #3564
What's the meaning of 1000 KubeEdges on Edge devices , PostregSQL, Prometheus and Alert Manager Prometheus.?
means:
 1000 instances on KubeEdges  running  on 1000  Edge devices (edge computers)
One instance PostregSQL running on a Worker node
One instance Prometheus  running on a Worker node
One instance Alert Manager Prometheus  running on a Worker node

Regards, Bao

[2022-01-18 12:48] fisherxu commented on #3565
cc @Rachel-Shao

[2022-01-18 12:54] fisherxu commented on #3564
You'd better to deploy 3 k8s masters and 2~3 cloudcores to manage 1000 edge nodes.

[2022-01-18 13:23] fisherxu commented on #3532
In step5, restart containerB will start a new container?

[2022-01-18 13:51] fisherxu commented on #3532
I just test with `docker run`, I mount the `/home/test` to container `/home/tmp1`. Then in container under `/home/tmp1`, run `ln -s / ./childtest`. Then I found in container, the childtest points / of container. And in host, the childtest  points to / of host. So I think this is the design of container runtime? :)

[2022-01-18 13:56] fisherxu commented on #3532
Through the MountPropagation, the operation in pod/container will not reflict in host? @sdghchj

[2022-01-19 03:24] neiba opened #3567 "beehiveContext.SendToGroup error the message channel is full when edgenode reconnect"
### Environment

* k8s master: v.1.19.16
* cloudcore: v1.6.2
* edgecore: v1.6.2

### What happened

* First, when edgenode disconnect, metamanager still update podstatus msg to cloud, and edged still update nodestatus msg to cloud, there msg were sent to edgehub, but were not consumed. Edgehub message channel will be full, and there are lots of goroutine would be created and halt when msg channel

[2022-01-19 09:14] moolen commented on #3471
As discussed in the community meeting today, we want to explore the alternative of running all csi related drivers (provisioner, attacher, driver...) on the edge node. These components require access to the control plane - that can be implemented using edgemesh.

[2022-01-20 01:32] #3033 closed

[2022-01-20 06:03] dafanshu opened #3572 "keadm-v1.8.2-linux-arm/keadm/keadm: 1: Syntax error: word unexpected (expecting ")")"
**What happened**:
when excute file : keadm-v1.8.2-linux-arm/keadm/keadm

**What you expected to happen**:
get the help msg

**How to reproduce it (as minimally and precisely as possible)**:
run on raspberry pi 3B+

**Anything else we need to know?**:
download from here : https://github.com/kubeedge/kubeedge/releases/download/v1.8.2/keadm-v1.8.2-linux-arm.tar.gz

**Environment**:
- Kubernetes vers

[2022-01-20 07:26] vincentgoat opened #3575 "Plans for Pod Scheduling/Service Scope within a node group"
**What would you like to be added/modified**:
support for pod scheduling/service scope within a node group

**Why is this needed**:
In edge computing scenarios, nodes are geographically distributed. The same application may be deployed on nodes at different locations.

[2022-01-20 07:28] vincentgoat commented on #3575
proposal #3574

[2022-01-20 11:47] #3555 closed

[2022-01-20 12:49] suwu opened #3579 "After the edge node is powered off, the application cannot be restored when it is powered on again one day later"
**What happened**:
An application is deployed on the edge node. After shutting down for a period of time, many records of the application in terminating status will appear on the cloud, and the application cannot return to normal after the edge node is powered on.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?*

[2022-01-20 13:22] fisherxu commented on #3579
This is because the pod eviction?

[2022-01-20 13:40] fisherxu commented on #3471
We can use the metaServer in edgecore to connect to the control plane, edgemesh also use this server to talk to the control plane.
This issue explains how to use the metaServer to enable the flannel which needs to talk to the control plane running in th edge.
https://github.com/kubeedge/kubeedge/issues/2677

I'll also write some docs for it.  @moolen

[2022-01-20 18:10] moolen commented on #3471
I stitched together a [example gist](https://gist.github.com/moolen/796a257a079e472b6925996eda148356) that someone can use as a reference point (e.g. for documentation).

However i have a problem with current master branch:

[code]

This is fixed with https://github.com/moolen/kubeedge/commit/c9194f88e5358dc3a88a85307fe5ddf93c9c667f.

I'll talk to my client and check if distributed provisioning is

[2022-01-21 03:13] Poorunga opened #3580 "metaServer cannot return k8s version information"
**What happened**:
Now, metaServer cannot return k8s version information, like:
[code]

**What you expected to happen**:
I hope metaServer can return k8s version information correctly, like:
[code]

**Environment**:
- Kubernetes version (use `kubectl version`): 1.21.8
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`): 1.8.2
- <details><summary>Cloud nodes Environment:</summar

[2022-01-21 09:11] moolen commented on #3471
Distributed provisioning works for my client, once #3581 is merged we can close this issue. We'll do some thorough testing and see if any other issues arise from that approach.

[2022-01-21 09:28] #3575 closed

[2022-01-21 09:29] vincentgoat opened #3582 "Plans for Node Group Management and Service Scope Management"
Hi guys, we have plans for achieving the feature of Pod Scheduling among node groups in phase 1, and we also make plans for achieving the feature of Service Scope within a node group in phase 2.

If you have features to achieve or to get involved in the development, please see the project form below, and you can add other todos here as you want:
**Phases 1: Node Group Management**
- [ ] Define a N

[2022-01-23 16:13] JooKS-me commented on #3523
Hello big brother, please allow me to tell me my thoughts about the e2e test of iptablesmanager, I am a newbie, can you give me some advice?

First, we add a `job` to `main.yml`, such as "iptablesmanager_e2e_test". Here we first use kind to build the kubernetes environment, and finally run `make iptablesmanager_e2e_test`.

Second, we add an `iptablesmanager_e2e_test` to the `Makefile`, where we ru

[2022-01-24 01:23] gy95 commented on #3523
cc @zhu733756 @fisherxu PTAL, are these above e2e thoughts right?

[2022-01-24 02:09] zhu733756 commented on #3523
Seems good to me.  Call server localhost:10351 will help us to trace the routes between upstream and edge.

Can we use helm to install it?

[2022-01-24 03:27] vincentgoat commented on #3582
2022.1.24 Meeting Minutes:
1. Achieve the override in cloud core, not only override images path but also other attributes, the data comes from an independent policy.
2. Use the kubectl plug-in to new operations for node group.
3. The controller runtime version depends on the Kubeedge version update.
4. Determine the API.
5. Create a Google Doc for more details about the proposal.

[2022-01-24 05:14] JooKS-me commented on #3523
Hi @zhu733756 . I'm new to helm QAQ. Currently in the helm directory of kubeedge, if we want to install iptablesmanager with helm, we need to install cloudcore at the same time, right?

Or do I need to create a separate chart for iptablesmanager under the helm directory? Or we can directly use the existing chart and install iptablesmanager at the same time as cloudcore is installed?

[2022-01-24 05:19] zhu733756 commented on #3523
You can try to install it through
[code]

By the way, can you also give a pr to patch iptablesManager.image.tag=v1.9.1. See https://hub.docker.com/r/kubeedge/iptables-manager/tags

[2022-01-24 06:20] JooKS-me commented on #3523
@zhu733756 OK, I will do it. Thank you so much.

[2022-01-24 06:22] zhu733756 commented on #3523
No pls. haha.

[2022-01-24 07:30] #3035 closed

[2022-01-24 09:58] neiba opened #3585 "pv's objectsync spec.ObjectKind is empty"
**What happened**:

persistentvolume's objectsync spec.ObjectKind is empty

**What you expected to happen**:

persistentvolume's objectsync spec.ObjectKind should be persistentvolumes

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

i think k8s client get object, which typemeta is nil, caused the problem. https://github.com/kubeedge/k

[2022-01-24 09:58] dafanshu opened #3586 "type.**k8s.io/kubelet/pkg/apis/deviceplugin/v1beta1.ContainerPreferredAllocationRequest: dwarf: definition of unknown kind 0"
**What happened**:
compile error in raspberry pi 3B+:
`ubuntu@ubuntu:~/kubeedge-1.8.2$ CGO_ENABLED=1 GOARM=7 GOOS=linux GOARCH=arm go build -o ./_out ./edge/cmd/edgecore
# github.com/kubeedge/kubeedge/edge/cmd/edgecore
type.**k8s.io/kubelet/pkg/apis/deviceplugin/v1beta1.ContainerPreferredAllocationRequest: dwarf: definition of unknown kind 0
panic: runtime error: slice bounds out of range [40:36]

[2022-01-24 10:25] baoquach14 opened #3587 "Can you please advise if KubeEdge can be compile and run on custom Linux with 4.9.18 kernel"
Hi KubeEdge Team

I would like compile and run a  KubeEdge v1.8.2 on Swarco ITC-3 controller of CPU Arm Cortex-A5 with custom Linux with 4.9.18 kernel.

Can you please advise if KubeEdge  v1.8.2  can be compile and run on custom Linux with 4.9.18 kernel.

Here is link to custom Linux with 4.9.18 kernel source code.
https://cdn.kernel.org/pub/linux/kernel/v4.x/linux-4.9.18.tar.sign
https://cdn.kern

[2022-01-25 00:40] gy95 commented on #3587
you can try to download the codes and run `make all` to check whether kubeedge can be compiled.

[2022-01-25 03:36] gy95 commented on #3586
you can just try to run `make all WHAT=edgecore` on your raspberry pi 3B+ machine.
the print error seems not to belong to compile errors.

[2022-01-25 06:36] dafanshu commented on #3586
I got the result below，when execute：make all WHAT=edgecore
`root@ubuntu:/home/ubuntu/pkg/kubeedge# make all WHAT=edgecore
hack/verify-golang.sh
go detail version: go version go1.17.6 linux/arm
go version: 1.17.6
KUBEEDGE_OUTPUT_SUBPATH=_output/local hack/make-rules/build.sh edgecore
building github.com/kubeedge/kubeedge/edge/cmd/edgecore
+ go build -o /home/ubuntu/pkg/kubeedge/_output/local/bin/ed

[2022-01-25 07:07] fisherxu commented on #3586
Maybe because the memory of  the 3B is not enough, the memory is 1GB?

[2022-01-25 07:25] gy95 commented on #3586
[code]

not sure, what's your arch, please run `uname -a` and what's the output?

[2022-01-25 07:41] gy95 commented on #3586
you can try golang1.16 or 1.17 lower version to check whether it's related to go version.

[2022-01-25 08:50] dafanshu commented on #3586
Linux ubuntu 5.4.0-1042-raspi #46-Ubuntu SMP PREEMPT Fri Jul 30 00:36:54 UTC 2021 armv7l armv7l armv7l GNU/Linux

[2022-01-25 08:51] dafanshu commented on #3586
Linux ubuntu 5.4.0-1042-raspi #46-Ubuntu SMP PREEMPT Fri Jul 30 00:36:54 UTC 2021 armv7l armv7l armv7l GNU/Linux

[2022-01-25 08:53] dafanshu commented on #3586
yes ,but i swap 1GB

[2022-01-25 09:00] dafanshu commented on #3586
I am trying to complie in another ubuntu amd64 node , use comond :
`make crossbuild WHAT=edgecore GOARM=GOARM7`
It work well , but raspberry pi 3B+ can not recognize it
`
ubuntu@ubuntu:~$ sh edgecore

edgecore: 1: Syntax error: word unexpected (expecting ")")

`
help~~~

[2022-01-25 09:01] gy95 commented on #3586
just run ./edgecore

[2022-01-25 09:06] dafanshu commented on #3586
can‘t work too
`ubuntu@ubuntu:~$ ./edgecore`
`-bash: ./edgecore: No such file or directory`

[2022-01-25 09:10] gy95 commented on #3586
you should run `./edgecore` in the directory where binary `edgecore` is located. you can run `ls` to ensure that you've already cd in the right directory.

[2022-01-25 09:28] dafanshu commented on #3586
the directory is right， raspberry pi 3B+ can not recognize the binary edgecore …… so print No such file-_-

[2022-01-25 10:18] dafanshu commented on #3586
try many times, I can't compile in rastberry pi 3B+,
but at last, I find this param is work :  CC=arm-linux-gnueabi**hf**-gcc, when i use crossbuild：
`export CC=arm-linux-gnueabihf-gcc`
every thing is ok，

 “arm-linux-gnueabi-gcc” is not work well.

[2022-01-25 10:39] gy95 commented on #3586
try set GOARM variables:
https://github.com/golang/go/wiki/MinimumRequirements#arm

[2022-01-26 02:18] #3572 closed

[2022-01-26 02:19] dafanshu commented on #3586
thx

[2022-01-26 02:19] #3586 closed

[2022-01-26 02:44] My-pleasure opened #3588 "Edged's Mount propagation is not supported "None" mode"
We know Kubernetes have three MountPropagation: None, HostToContainer, Bidirectional.(https://kubernetes.io/docs/concepts/storage/volumes/#mount-propagation)

But Edged is only supported `HostToContainer` and `Bidirectional` mode. And it will return error when I use `None` in Pod.(https://github.com/kubeedge/kubeedge/blob/master/edge/pkg/edged/edged_pods.go#L446)

I wonder why KubeEdge doesn't sup

[2022-01-26 02:48] dafanshu opened #3589 "failed to get the edged's cgroup: mountpoint for memory not found. Edged system container metrics may be missing"
**What happened**:
when use containerd from runtime，got error：
**failed to get the edged's cgroup: mountpoint for memory not found. Edged system container metrics may be missing**
Jan 26 02:35:22 ubuntu systemd[1]: Started edgecore.service.
Jan 26 02:35:23 ubuntu edgecore[30674]: I0126 02:35:23.335402   30674 server.go:70] Version: v1.8.2-dirty
Jan 26 02:35:23 ubuntu edgecore[30674]: I0126 02:35:2

[2022-01-26 02:55] vincentgoat commented on #3582
proposal: #3574

[2022-01-26 04:04] Congrool commented on #3582
2022.1.26 Meeting:
1. Only focus on new applications which have not been deployed.
2. Find some way to solve the contention when applying propogation policy, such as make pods with specified label/annotation in pending state until the extender finds the relative policy.
3. Modify the PropagationPolicy API to support  scheduling explicit number of pods to specified nodegroups.

[2022-01-26 05:48] #3589 closed

[2022-01-26 08:08] fisherxu commented on #3588
I think it's because in 2017-18 we build the edged, at that time kubelet still don't support the none/provate mode..
Have a double check, none is introduced in 2018, and the K8s upgrade haven't cover it.

[2022-01-28 01:04] fw-ctf commented on #3532
Change the directory in container B to a soft link and restart the container by exhausting resources. When the container restarts, the directory pointed to by the soft link is mounted to container B to implement container escape.
This can be done with two containers, and in extreme cases one container can.
I think this is a CVE, not a bug, so the community should issue a CVE number.

[2022-01-30 09:30] stingshen opened #3593 "Edgecore syncs too many pods from cloud"
**What would you like to be added/modified**:

Edgecore syncs only pods that are assigned to the node. The behavior is similar to DAO cloud kubeedge:

![image](https://user-images.githubusercontent.com/6214067/151694039-7090348e-84d6-40a7-a3c5-e85bfd7f653d.png)

https://www.modb.pro/db/229142

**Why is this needed**:

Currently, edgecore syncs all pods from cloud. There may be thousands of pods on

[2022-02-01 16:34] fisherxu opened #3595 "Design and add more e2e tests especially for edge scenarios"
**What would you like to be added/modified**:
We have many features for edge scenarios, as edge autonomy, reliable message transmission, etc. We need to add e2e tests for them.

[2022-02-01 16:46] fisherxu opened #3596 "Move edge native k8s api interface GA"
**What would you like to be added/modified**:
Now we have add the ` edge native k8s api interface`, apps like operator running in edgeside can access the apiserver and obtain resources. We still need to fix bug and improve the stability.

[2022-02-02 01:43] arturrez opened #3597 "skip TLS verification"
Is it possible to use `--insecure-skip-tls-verify` or something like that for `edgecore` to communicate to `cloudcore`?

[2022-02-06 17:06] #3012 closed

[2022-02-06 17:06] #3015 closed

[2022-02-07 02:41] wackxu commented on #3597
We do not support it now,
https://github.com/kubeedge/kubeedge/blob/37469d5ecfde337a6e751f7a7e82ac97a1f1fbec/edge/pkg/edgehub/clients/wsclient/websocket.go#L68-L72

we can make it configurable in the edgeCore config.

[2022-02-09 10:59] yz271544 opened #3600 "Could not listwatch istio resource on the edgenode"
**What happened**:
watch istio resource on the edgenode
[code]
get istio resource on the edgenode
[code]

**What you expected to happen**:
i hope can listwatch istio resource on the edgecore, to support the edgemesh-gateway dynamic expose gateway port to edgenode.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes

[2022-02-09 20:38] arturrez commented on #3597
thank you. Looking forward to it

[2022-02-10 02:23] dafanshu opened #3601 "Parse message: 1852b766-71b0-468e-966f-5cfbdef6827a resource type with error: unknown resource, found: node/edge154/device/temperature-no3/state/update"
**What happened**:
Parse message: 1852b766-71b0-468e-966f-5cfbdef6827a resource type with error: unknown resource, found: node/edge154/device/temperature-no3/state/update

**What you expected to happen**:
 update device state ， but nothing todo

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
message from topic ：$hw/events/device/temperature-n

[2022-02-10 02:35] fisherxu opened #3602 "Add the full configuration info for cloudcore in helm"
Now we only add part of the configuration info for cloudcore, we can add the full configuration in helm->configmap.

[2022-02-10 03:04] yz271544 commented on #3600
@fisherxu @GsssC @Rachel-Shao
discuss with Poorunga, I suspect that the content discussed in #2769 before, the logic of simply adding `ies` to `y` may deviate from kubernetes, istio, etc.;

on the edgenode, i try :
[code]
![edgecore-gatewaies](https://user-images.githubusercontent.com/16499075/153328731-70533498-7eab-4200-bb38-036d10db2cac.png)

but on the cloud control node, we are running the `k

[2022-02-10 06:44] #3489 closed

[2022-02-10 12:15] fisherxu commented on #3527
This issue still need continuous fixed.

[2022-02-10 12:18] fisherxu opened #3607 "Upgrade K8s dependency to 1.22"
**What would you like to be added/modified**:
K8s has released v1.22.6, we need to upgrade to v1.22

[2022-02-10 12:34] Shelley-BaoYue commented on #3527
watch channel not closed when context done，cause the memory leak in edgesite,  the edgecore's memory consumption increases and be bigger and bigger.  This bug fixed in pr #3605,  memory consumption keeps below 130MB

![image](https://user-images.githubusercontent.com/48788150/153409504-c5872301-e17c-446e-bba3-9549d36e427a.png)

[2022-02-10 12:36] Shelley-BaoYue commented on #3527
watch channel not closed when context done，cause the memory leak in edgesite,  the edgecore's memory consumption increases and be bigger and bigger.  This bug fixed in pr #3605,  memory consumption keeps below 130MB.
![image](https://user-images.githubusercontent.com/48788150/153409795-7f260227-9d1c-4b7b-a440-cc072bd2b29c.png)

[2022-02-11 01:45] fisherxu opened #3608 "Init UI dashboard for kubeedge"
**What would you like to be added/modified**:

Init the UI dashboard for kubeedge, users can operate the kubeedge objs in dashboad.

Should be create a new repo for it.

[2022-02-11 06:14] #3029 closed

[2022-02-11 06:14] #3013 closed

[2022-02-11 08:04] #3243 closed

[2022-02-11 09:42] neiba commented on #3565
Unified singular and plural form：

1. edge sqlite store resource with singular form: default/pod/pod-1
2. edgecontroller msg resource with singular form: node/edge-node/default/pod/pod-1
3. program constant use singular form: pod
4. objectsync.spec.objectkind use singular form: Pod
5. synccontroller msg use plural form: node/edge-node/default/pods/pod-1, and cause the sync
failed problem.

So, we

[2022-02-11 09:43] haiker2011 commented on #3602
I want to have a try

[2022-02-11 09:43] haiker2011 commented on #3602
/assign

[2022-02-11 09:59] beyondyinjl2 opened #3610 "What is the difference between the three modes of mqtt? Are mqttServerExternal and mqttServerInternal corresponding to two different mqtt brokers?"
What is the difference between the three modes of mqtt? Are mqttServerExternal and mqttServerInternal corresponding to two different mqtt brokers?
     mqttMode: 2
     mqttServerExternal: tcp://127.0.0.1:1883
     mqttServerInternal: tcp://127.0.0.1:1884

[2022-02-12 08:15] #2982 closed

[2022-02-12 08:30] neiba commented on #3565
it seems the problem had been sloved.
https://github.com/kubeedge/kubeedge/pull/3570, objectsync send sync msg using singular form.
https://github.com/kubeedge/kubeedge/commit/59848f632f590679378a9df5e3698914a66936dc, dynamiccontroller send msg use singular form.
https://github.com/kubeedge/kubeedge/pull/3594, edged filter pod using pod.spec.nodename

@fisherxu

[2022-02-12 17:30] #3023 closed, assigned to nobody

[2022-02-14 01:08] algobot76 opened #3611 "Message not printed correctly"
**What happened**:

When I was experimenting the code in `staging/src/github.com/kubeedge/beehive/test`, I notcied that the message was printed as `{{feebdb70-511f-411f-ace9-cdddb65ffd85  1644800569157  false } {sourcemodule   insert test}`.

**What you expected to happen**:

However, according to the `String` method defined on the `Message` type, it should printed as `MessageID: 2d05baa2-2b45-406

[2022-02-14 01:40] fisherxu commented on #3611
@algobot76 Thanks for pointing out the issue, and would you like to fix it?

[2022-02-14 01:41] algobot76 commented on #3611
Sure

[2022-02-14 01:44] fisherxu commented on #3610
There is a built-in mqttserver in edgecore, so users can use the built-in mqttserver with `mqttServerInternal`, and use the external mqtt with mode `mqttServerExternal` @beyondyinjl2

[2022-02-14 02:04] fisherxu commented on #3601
/cc @RyanZhao10

[2022-02-14 06:09] Cleyhilton-Nascimento opened #3612 "0 por [Jack-Rogers](https://github.com/D3VL/L3MON/issues?q=is%3Aissue+author%3AJack-Rogers) foi fechadoon 23 Dec 2020"
#150 por [Jack-Rogers](https://github.com/D3VL/L3MON/issues?q=is%3Aissue+author%3AJack-Rogers) foi fechadoon 23 Dec 2020

[2022-02-14 06:21] fisherxu commented on #3612
What's meaning of the issue? I'll close it now, feel free to reopen it if there's any other question.
/close

[2022-02-14 06:21] #3612 closed

[2022-02-14 07:23] algobot76 commented on #3611
Another problem with the `String()` method is that fields, such as `ParentID`,  could be empty. So an empty `ParentID` will be printed as `ParentID:` . Should we make it explilcit? Something like `ParentID: ""`.

[2022-02-15 00:59] beyondyinjl2 commented on #3610
@fisherxu If the mode of mqtt is changed to internalMqttMode, is it not necessary to install mqtt software externally when starting edgecore?

[2022-02-15 01:53] fisherxu commented on #3610
Yes, sure.

[2022-02-16 07:34] benjaminhuo commented on #3582
Looks like NodeGroup and ServiceScope is trying to achieve goals similar to [OpenYurt YurtAppManager](https://openyurt.io/docs/core-concepts/yurt-app-manager) and [SuperEdge ServiceGroup](https://superedge.io/docs/components/servicegroup/)  but in different ways?

Both [OpenYurt YurtAppManager](https://openyurt.io/docs/core-concepts/yurt-app-manager) and [SuperEdge ServiceGroup](https://superedge.

[2022-02-16 09:58] Congrool commented on #3582
@benjaminhuo Thanks for your feedback.

It's the problem that we need take into consideration. This is not the final design and any other suggestions are welcome.

Do you mean Serivce Scope based on something like node group? And a pod can only reach endpoints in the same nodegroup. In my mind, it is still under designing.

[2022-02-16 10:04] benjaminhuo commented on #3582
Yep, I mean one multi-nodegroup deployment should only have one service, and the access to this service from a pod in the same nodegroup should only be able to find endpoints in the same nodegroup.

[2022-02-16 10:33] Congrool commented on #3582
Well, because KubeEdge doesn't have the concept of node group before this proposal, I think the proposal of service scope based on it haven't been post yet. You can watch [the edgemesh repo](https://github.com/kubeedge/edgemesh) which mantains the network solutions of KubeEdge and any new information will be post there.
@benjaminhuo

[2022-02-16 11:04] beyondyinjl2 commented on #3610
Okay thank you

[2022-02-16 12:29] fisherxu commented on #3582
@benjaminhuo  I personally tend to wrap the workload in a CRD, then distribute the workload to the node group.

You mean only create one service for all the node groups? That maybe leads to the pods(ip) from different group located in one endpointSlice. Hard to seprated for groups.

[2022-02-16 13:34] benjaminhuo commented on #3582
My previous conclusion is based on the current proposal because there is only one deployment for multiple node groups in the current proposal.

Current design might work for deployment, but not for statefulset and might have issues for service.

[2022-02-16 22:02] #3046 closed

[2022-02-17 11:50] fysd opened #3617 "Could KubeEdge run on device with RISC-V architechture?"
**What would you like to be added/modified**:

**Why is this needed**:

[2022-02-17 15:09] jonlar opened #3618 "Pods/containers on edge node down after reboot with unavailable cloudcore"
**What happened and what you expected to happen**:

I have been doing some resilience testing on kubeedge. One thing I have discovered is that if I stop the kubernetes master with cloudcore (only one master in my test) to simulate an outage in the data center followed by a restart of a kubeedge node then the pods/containers on the edge node are **not** started until the edge node successfully rees

[2022-02-18 02:10] neiba opened #3619 "synccontroller delete new objectsync when old objectsync's uuid not equal resource' uuid"
**What happened**:

synccontroller delete new objectsync when old objectsync's uuid not equal resource' uuid

**What you expected to happen**:

synccontroller should delete the old objectsync when old objectsync's uuid not equal resource' uuid

**How to reproduce it (as minimally and precisely as possible)**:

1. create configmap-1
2. create deployment-1 on edgenode and use configmap-1 as volume
3

[2022-02-18 06:08] neiba opened #3620 "metamanager can't update db with error "UNIQUE constraint failed" when cloudcore restart"
**What happened**:

metamanager can't update db with error "UNIQUE constraint failed" when cloudcore restart

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

1. create configmap-1 and deployment-1 to edge, deployment-1 use configmap-1 as volume
2. stop cloudcore
3. update configmap-1
4. start cloudcore

**Anything else we need to know?**:

1. Wh

[2022-02-18 06:27] neiba commented on #3585
https://github.com/kubeedge/kubeedge/pull/3599

[2022-02-18 06:27] #3585 closed

[2022-02-18 08:30] MrHanLei opened #3621 "kubeedge 指标显示不完整"
在边缘节点上，运行命令“curl http://127.0.0.1:10350/metrics/cadvisor |grep container_memory_usage_bytes”，pod 和命名空间字段返回空字符串
![b64c9530fe9481e06ad05dfb7e97453](https://user-images.githubusercontent.com/50442900/154646269-c5e3e133-7bcd-43b0-be8d-52d56380cb39.png)
这个是我使用的版本
![3862dcebf85164f38ae57023d531d3b](https://user-images.githubusercontent.com/50442900/154646305-9d7459d2-b201-4dc7-a8d0-4a25a611d3ca.png)

[2022-02-18 08:40] neiba opened #3622 "cloudhub's addMessageToQueue compare msg resource version with msgInStore"
**What happened**:

i think cloudhub's addMessageToQueue comparing msg resource version with msgInStore is wrong. Think case like this:

A configmap-1 created and addMessageToQueue got msg from edgecontroller. The msg key was pushed to nodeQueue and the msg was store in nodeQueue, but this msg was loss in network.
Now synccontroller find objectsync's objectResourceVersion less then resource's reso

[2022-02-18 09:20] fisherxu commented on #3622
I think we should set the msg to Store if only the message is sent successfully?  cc @My-pleasure

[2022-02-20 09:32] #3047 closed

[2022-02-21 01:01] #3471 closed

[2022-02-21 03:23] My-pleasure commented on #3622
This way is a littile complex because it should get the latest object from `Store` when send msg to edge in func `MessageWriteLoop`.

Here are some of my thoughts:
1. We don't delete the msg's key in func `MessageWriteLoop` if this msg hasn't send to edge.(https://github.com/kubeedge/kubeedge/pull/3244)
2. Base case 1, can we stop the synccontroller from sending the latest messages that have not b

[2022-02-21 05:09] neiba commented on #3622
can we add nodeStore.Delete(msg) when nodeQueue.Done(key) in func `MessageWriteLoop` to fix this problem.

[2022-02-21 13:00] ujnzxw opened #3623 "keadm give a wrong tips when there are multiple container runtime"
**What happened**:
In my environment, there are two container runtime, docker and cri-o, when I run `keadm reset` to reset a node, keadm remind me there are two running container runtime, I should use `--cri-socket` flag to specify one container runtime: `please use --cri-socket to select one: /var/run/dockershim.sock, /var/run/crio/crio.sock`, the detail log is as below:

[code]

But when I add t

[2022-02-22 02:06] fisherxu commented on #3582
As we discussed lately, for the workload like deployment, we decide to deploy sub-workload to every group through CRD, so every group will have a workload(deployment).

But for the service, if we create only one for all workload, now in k8s there're two features related to the topology(worked with kube-proxy):
1. Service topology keys: It can keep the traffic within a zone. But the feature is depr

[2022-02-22 02:28] Congrool commented on #3582
@fisherxu
I'm not be familiar with edgemesh, so it's just my thought:
Beacause edgemesh takes over the work of kube-proxy as well as coreDNS, can we make the edgemesh aware of the nodegroup? So that edgemesh can remain endpoints in the same nodegroup and discard other endpoints that not. In this way, only iptables rules for endpoints in the same nodegroup will be set and the dns will only be resol

[2022-02-22 02:37] fisherxu commented on #3582
Yes, EdgeMesh is one networking solution for us, and will do this :)
And I think we still need to consider to compatible with other solutions as kube-proxy even service mesh like istio.

[2022-02-23 03:56] benjaminhuo commented on #3582
I agree that EdgeMesh should be aware of the nodegroup.

As regarding the kube-proxy approach, OpenYurt is using [EndpointSliceProxying](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) together with topologyKeys to use one service for all sub deployment in all nodepool. https://github.com/openyurtio/openyurt/blob/master/docs/tutorial/service-topology.md

But it re

[2022-02-23 07:00] alongL commented on #3617
k8s can run on risc-v, so KubeEdge can also run on riscv, may be need little adapter.
https://github.com/carlosedp/riscv-bringup/tree/master/kubernetes

[2022-02-23 08:42] #3009 closed

[2022-02-23 08:42] #3057 closed

[2022-02-24 11:20] Jassi10000 commented on #3608
@fisherxu Sir I would like to contribute to this as GSOC is approaching and I wish to apply for Kubeedge , can you please help me get started now only so that I can be good with the codebase and other things about the project till GSOC actually starts

[2022-02-25 02:28] vincentgoat commented on #3623
@ujnzxw thanks for the feedback, keadm didn't support the flag --cri-socket yet, you can uninstall the other runtime first for a temporary workaround, and also it would be welcomed if you wanna achieve the flag --cri-socket.

[2022-02-25 02:37] lgy1027 opened #3627 "Traffic forwarding problem"
kubeedge version: 1.8.2
After enabling iptables forwarding, logs and metrics are sometimes available but not available
[code]

[2022-02-25 03:00] #3067 closed

[2022-02-27 06:13] #3000 closed

[2022-02-27 06:13] #3070 closed

[2022-02-27 06:13] #3074 closed

[2022-02-28 06:54] wfchair opened #3630 "problems when run edgecore on Android"
**What happened**:

We run edgecore on Android, and we have to use static binary of edgecore.
the kubeedge release of arm64 is dynamic binary, so we have to build it in the following way:

docker build -t kubeedge/edgecore:v1.8.2 -f build/edge/Dockerfile .
docker cp $(docker create --rm kubeedge/edgecore:v1.8.2):/usr/local/bin/edgecore ./edgecore.1.8.2

we run edgecore.1.8.2 on Android,
1) edgecor

[2022-02-28 07:21] fisherxu commented on #3630
docker build -t kubeedge/edgecore:v1.8.2 -f build/edge/Dockerfile .
docker cp $(docker create --rm kubeedge/edgecore:v1.8.2):/usr/local/bin/edgecore ./edgecore.1.8.2

You build it in Android directly?

And what runtime are you using in Android?

[2022-02-28 09:07] baoquach14 commented on #439
Hi All

Is "Support Knative for functions" now support in latest version of KubeEdge ?

Regards, Bao

[2022-02-28 09:54] wfchair commented on #3630
Build on arm64 server (cavium)

the default docker.

[2022-02-28 11:06] fisherxu commented on #3630
Ohh, I'm wondering whether the docker container with runc can run on Android? cc @Poorunga

[2022-02-28 12:34] #3607 closed

[2022-02-28 15:17] Poorunga commented on #3630
About 2 years ago, I tried to run runc on Android and it failed. I later replaced it with crun(https://github.com/containers/crun) and I succeeded.  @fisherxu

We haven't tried edgemesh-agent running on Android, it's very interesting and hopefully can share if it works. @wfchair

[2022-02-28 15:17] abhinavjha126 opened #3632 "Node status not ready after restarting"
I have installed Kubeedge on my Ubuntu Server.
Kubeedge version -1.8.1
Ubuntu version -20.04
Kubernetes Version -1.21.0
Crio used

Kubeedge Setup (1 Cloud Node and 2 Edge node)
master1
worker1
worker2
My installation was successfull. I deployed nginx on worker1. I stopped worker1 and noticed that all pods were running but as soon as i restarted that edge node(worker1), i saw that edge status stuck

[2022-02-28 20:54] siredmar commented on #3281
This error means that `iptables` cannot be called because the binary is missing.

[2022-03-01 02:39] wfchair commented on #3630
docker (runc) itself on Android 11 is OK.

uname -a
Linux rk3568 4.19.193 #13 SMP PREEMPT Tue Feb 15 12:07:32 CST 2022 aarch64

[2022-03-01 07:50] siredmar opened #3633 "v1.9.1: kubectl logs feature not working"
**What happened**:
I'm trying to get the `kubectl logs` feature to work within a local k3d cluster. Adding some kubeedge nodes and deploy some workload works fine. When trying to view the logs of a pod scheduled on a kubeedge node (e.g. node1), i receive the error:
[code]

**What you expected to happen**:
I expect the logs from the pod to be printed.

**How to reproduce it (as minimally and precis

[2022-03-01 12:44] abhinavjha126 commented on #3632
I used this command on edge node and afterwards edgenode gets ready automatically.
Command:-
sudo systemctl daemon-reload
sudo systemctl enable crio --now

[2022-03-01 12:44] #3632 closed

[2022-03-01 12:50] abhinavjha126 commented on #3633
@siredmar Follow these commands to enable logs
echo -e "Enable kubectl logs Feature..."
export CLOUDCOREIPS=$MASTER_IP
cd ~
git clone https://github.com/kubeedge/kubeedge.git
cp ./kubeedge/build/tools/certgen.sh /etc/kubeedge/
/etc/kubeedge/certgen.sh stream

kubectl get cm tunnelport -nkubeedge -oyaml

iptables -t nat -A OUTPUT -p tcp --dport 10351 -j DNAT --to $MASTER_IP:10003
sudo sed -i '/clou

[2022-03-01 12:55] siredmar commented on #3633
@abhinavjha126 thanks for your answer. I am currently debugging the setup. What you mention is the basic setup of kubeedge with all what is necessary. I already did that. I narrowed down the problem. It seems that k3d is the problem here.
I verified the logs feature running an RKE cluster on some hetzner machines.
**I can confirm that the `kubectl logs` feature is working in `v1.9.1` out of the bo

[2022-03-01 13:29] tomgiggs opened #3634 "cloudcore restart error"
**What happened**:

cloudcore restart, it may be caused by panic

**What you expected to happen**:
cloudcore should not restart  at any time

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):
- <details><summar

[2022-03-02 07:22] vincentgoat commented on #3582
EdgeApplication proposal: [https://docs.google.com/document/d/19FHzmHB-a-OSUukmicEVga6neMCeHz_ozPFxaGXqJ1I/edit#heading=h.d5vhf8rdz3fj](url)

[2022-03-02 07:40] gy95 commented on #3582
no authority :)

[2022-03-02 11:43] allenleu opened #3638 "Modify configmap when edge is offline"
**What happened**:
If the configmap is modified when the edge is offline, the value in the pod is not updated after the network is restored.
**What you expected to happen**:
The content of the configmap updated during offline is synchronized with the pod after the network is restored.
**How to reproduce it (as minimally and precisely as possible)**:
Create a deploy mount configmap and schedule it

[2022-03-02 11:47] siredmar commented on #3633
I opened up a discussion on k3d-io/k3d: https://github.com/k3d-io/k3d/discussions/992

Feel free to join the discussion there.

[2022-03-02 12:56] abhinavjha126 commented on #3634
Use kubeedge version 1.8.1
Version > 1.9.0 are having bugs

[2022-03-02 12:57] abhinavjha126 opened #3639 "Test case issue"
I want to check pod status when connection is unsable/break between core and edge.
What should i do or which ports should i stop to cut the connection between core and edge???

[2022-03-02 14:27] benjaminhuo commented on #3582
Yeah, this doc is not open yet

[2022-03-03 08:57] vincentgoat commented on #3582
2022.3.2 meeting：
1、Readability optimization for unified packaging;
2、Consider the EdgeApplication concept in the cloud and edge side.

[2022-03-03 09:20] vincentgoat commented on #3582
Plz join the group kubeedge@googlegroups.com

[2022-03-04 09:14] allenleu opened #3644 "shut down and restart the edge node, there is a problem with dns parsing"
**What happened**:
Create a pod on the edge node, use the command  `kubectl exec -it ` to view the pod, there is a nameserver in etc/resolv.conf, after the edge node is shut down and restarted, use the command `kubectl exec -it` to view the pod, the nameserver disappears.
**What you expected to happen**:
After the edge node is shut down and restarted, use the command `kubectl exec -it ` to view th

[2022-03-06 03:16] #3122 closed

[2022-03-06 03:16] #3059 closed

[2022-03-06 03:16] #3091 closed

[2022-03-06 03:16] #3100 closed

[2022-03-06 03:16] #3106 closed

[2022-03-07 01:24] vincentgoat commented on #3644
Hi @allenleu, what kind of edge node, is it a  virtual machine on the cloud(like an ecs on Huawei Cloud)? maybe the /etc/resolv.conf file refreshed by the back-end management software for the machine when it restart.

[2022-03-07 03:30] vincentgoat commented on #3582
2022.3.7 meeting:
1. Simplify EdgeApplication status field, the status show sub-resource summary status and where sub-resource located at;
2. Summary status contains progressing/available.

[2022-03-08 03:17] vincentgoat commented on #3639
Hi @abhinavjha126, here is the way I tried before:
1. On edge node, find the TCP connection of edgecore websocket, default port 10000
netstat -napl |grep edgecore |grep 10000
tcp        0      0 192.168.0.84:**37850**      192.168.0.84:10000      ESTABLISHED **25186**/edgecore
2. lsof -np **25186** |grep **37850**
edgecore 25186 root   **21u**     IPv4             106396      0t0     TCP 192.168.0

[2022-03-08 07:34] allenleu commented on #3644
yes，it is a virtual machine.But the resolv file in the machine host directory has not been modified, only the resolv file in the container has been modified.

[2022-03-09 02:08] pidb opened #3653 "Any plans to link KubeEdge and BlockChain?"
**What happened and what you expected to happen**:
Any plans to link KubeEdge and BlockChain? such as Hyperledger Fabric?

[2022-03-09 07:43] fisherxu opened #3660 "Move helm from build to root dir"
Now the helm is related in build, let's move it to root dir.

kubeedge/build/helm -> kubeedge/helm

[2022-03-09 07:47] alongL commented on #3617
跳过验证 tarball 的sum

file: keadm/cmd/keadm/app/cmd/util/common.go
@@ -35,7 +35,6 @@
 	"k8s.io/client-go/discovery"
 	"k8s.io/client-go/rest"
 	"k8s.io/client-go/tools/clientcmd"
-	"k8s.io/klog/v2"

 	types "github.com/kubeedge/kubeedge/keadm/cmd/keadm/app/cmd/common"
 	"github.com/kubeedge/kubeedge/pkg/apis/componentconfig/edgecore/v1alpha1"
@@ -258,7 +257,7 @@
 	filePath := fmt.Sprintf("%s/%s", opt

[2022-03-09 08:34] vincentgoat commented on #3638
Hi @allenleu we solved this issue by this PR #3578

[2022-03-09 09:30] fisherxu commented on #3653
No clear plan so far, but if there's any user scenarios, we can do some discussion. @7bytes Has any ideas?

[2022-03-10 01:18] wfchair commented on #3630
docker log edgemesh-agent on android:
tunnel.go:28] Connection between agent and server [/ip4/172.21.205.182/tcp/20004 /ip4/127.0.0.1/tcp/20004 /ip4/8.142.141.36/tcp/20004] is not established, try connect

I changed httpServer & websocket.server from 8.142.141.36 to 39.100.104.24 in /etc/kubeedge/config/edgecore.yaml and restart, but edgemesh-agent still tried to connect previous edgemesh-server i

[2022-03-10 01:41] Poorunga commented on #3630
`/ip4/172.21.205.182/tcp/20004 /ip4/127.0.0.1/tcp/20004 /ip4/8.142.141.36/tcp/20004` is edgemesh-server public IP.
have you deployed edgemesh-server?

[2022-03-10 02:03] vincentgoat commented on #3638
Hi @allenleu, What is the query result of the kubectl command for pod status after network restore?  Terminating or something else? I reproduced the same problem and the pod status is Terminating.

[2022-03-10 02:05] wfchair commented on #3630
OK, fixed. Thanks.
helm install edgemesh \
--set server.nodeName specified the previous node name.

[2022-03-10 02:39] wfchair commented on #3630
As per https://github.com/kubeedge/edgemesh/blob/main/docs/guide/test-case.md
kubectl exec -it alpine-test -- sh
(in the cloud vm server container environment)
/ # curl hostname-svc:12345
curl: (56) Recv failure: Connection reset by peer

kubectl get ep
NAME           ENDPOINTS            AGE
hostname-svc   172.17.0.3:9376      14h

On Android edge node,
./curl 172.17.0.3:9376
hostname-edge-84cb45

[2022-03-10 02:57] #3638 closed

[2022-03-10 03:02] allenleu commented on #3638
Modifying configMap alone does not change the POD state, but mounting configMap while offline, or any other action that causes the POD to restart, changes the POD to the terminating state.

[2022-03-10 06:17] Poorunga commented on #3630
edgemesh-server and **every** edgemesh-agent images need to be born on the same date.

this is good :)
[code]

this is not good :(
[code]

**Note that all edgemesh-agent images need to have the same date of birth**

[2022-03-10 11:08] ujnzxw opened #3668 "edgecore cannot report Liveness/Readiness Probe info back to cloud"
**What happened**:
When deploying an application with `livenessProbe`/`readinessProbe`:
[code]
The pod will hang with pod unhealthy status:
[code]
But the pod in edge node is exactly running well:
[code]
**What you expected to happen**:
edgecore support all kinds of `livenessProbe`/`readinessProbe`, such as TCP, HTTP/HTTPS, shell scripts, an so on.

**How to reproduce it (as minimally and precisel

[2022-03-10 11:56] fisherxu opened #3669 "Move apis under kubeedge/cloud/pkg/apis to kubeedge/pkg/apis"
Let's move all the apis to one place.

[2022-03-10 12:05] fisherxu commented on #3669
The generated client under kubeedge/cloud/pkg also need to move to kubeedge/pkg.

[2022-03-10 12:32] gy95 opened #3674 "lint error"
`make lint ` on my local machine, not sure why it didn't occur in ci.
[code]

[2022-03-10 12:52] gy95 opened #3676 "whitenoise check in `make lint`"
It seems that on ci machine, there's no master branch, so whitenoise will not be checked.
we should fix it or just remove these.
https://github.com/kubeedge/kubeedge/blob/1e677ff46ccd35bfbdf59066ffec8c13a59055a0/hack/lib/lint.sh#L58-L72

[2022-03-10 12:53] gy95 commented on #3676
found in ci log
[code]

[2022-03-10 12:56] zz952332446 opened #3677 "edgemesh's pod can't work on the edge"
### master
* network: public server with public ip
* k8s:1.21.0 ( installed with kubeadm)
* keadm: 1.8.2
[code]
* kubeedge: 1.8.2

* edgemesh: installed with HELM :
[code]
I config edgemesh according to [EdgeMesh](https://edgemesh.netlify.app/zh/guide/getting-started.html)

### agent
* net: Campus Network
* keadm: 1.8.2
* kubeedge: 1.8.2

### question
edgemesh's pod can work on the master, but on

[2022-03-10 13:07] fisherxu commented on #3677
/assign @Poorunga

[2022-03-10 13:08] fisherxu commented on #3668
@ujnzxw We have try to fix it in #3665

[2022-03-10 13:53] Poorunga commented on #3677
@zz952332446 please move this issue to https://github.com/kubeedge/edgemesh/issues

[2022-03-10 14:51] zz952332446 commented on #3677
ok，done

[2022-03-10 14:52] #3668 closed

[2022-03-10 22:21] #3138 closed

[2022-03-10 22:21] #3107 closed

[2022-03-10 22:21] #3062 closed

[2022-03-10 22:21] #3151 closed

[2022-03-10 22:21] #2788 closed

[2022-03-11 01:27] sdghchj opened #3681 "How does the dns module work"
I see the edge dns module is disabled in the configmap configuration [here](https://edgemesh.netlify.app/reference/config-items.html#edgemesh-agent), also disabled in the configmap.yaml in the helm package.

So, I wonder how does edge resolve a service when the service name is requested ?

[2022-03-11 01:39] fisherxu commented on #3681
/assign @Poorunga

[2022-03-11 01:40] fisherxu commented on #3677
I'll close this one :)

[2022-03-11 01:40] fisherxu commented on #3677
/close

[2022-03-11 01:41] #3677 closed

[2022-03-11 02:00] wfchair commented on #3630
Now, I use kubeedge/edgemesh-agent:v1.10.0 & kubeedge/edgemesh-server:v1.10.0
on x86 cloud vm server, edgemesh agent & server started OK.

but on edge android arm64 node:
server.go:57] run edgemesh-agent failed: [
  register module edgeproxy error: new proxy server err: unable to create proxier: failed to initialize iptables: error checking rule: exit status 2: iptables v1.8.3 (legacy): Couldn't l

[2022-03-11 02:49] inadquatecoding opened #3682 "Deploying metrics server, unsure of the required deployment.yaml file."
Following the keadm guide here:

https://kubeedge.io/en/docs/setup/keadm/

Step 3 of Support Metrics-server in Cloud says:

**Apply the deployment yaml. For specific deployment documents, you can refer to https://github.com/kubernetes-sigs/metrics-server/tree/master/manifests.**

I found a deployment.yaml under /base/

https://github.com/kubernetes-sigs/metrics-server/blob/master/manifests/base/de

[2022-03-11 03:24] wfchair commented on #3630
As a good news, when I use kubeedge/edgemesh-{agent,server}:v1.9.0,
the first edgemesh test-case is OK.

kubectl exec -it alpine-test -- sh
/ # curl hostname-svc:12345
hostname-edge-544cf7d79b-4hd5v

[2022-03-11 04:35] zhu733756 commented on #3682
You may use https://raw.githubusercontent.com/kubernetes-sigs/metrics-server/master/manifests/base/deployment.yaml

[2022-03-11 08:10] fisherxu opened #3687 "Add the option to build binaries in container"
**What would you like to be added/modified**:
Now we only support build binaries in host, which will depends on the env in host, uses maybe need to install some libs to do the compilation.

We can add an option as in k8s or istio to support building in container, which can avoid the dependencies of the host env.

Ref:  https://github.com/istio/istio/blob/master/Makefile#L31
https://github.com/isti

[2022-03-11 08:25] lgy1027 opened #3688 "get metrics Failed"
An error occurred in the edge node log, and the metrics and log cannot be viewed
[code]

[2022-03-11 09:40] RyanZhaoXB commented on #3688
could you please provide more logs about this problem?

[2022-03-11 09:49] lgy1027 commented on #3688
[code]
cloudcore log

[2022-03-11 09:53] lgy1027 commented on #3688
After you restart Edgecore, it returns to normal, but after a while, the same error occurs again and logs and metrics cannot be retrieved

[2022-03-11 10:04] wackxu opened #3690 "Deploy the edge part into a k8s cluster in build/edge/kubernetes can not work"
**What happened**:

**What you expected to happen**:
Deploy the edge part into a k8s cluster in build/edge/kubernetes can not work
1、[03-configmap-edgenodeconf.yaml](https://github.com/kubeedge/kubeedge/blob/master/build/edge/kubernetes/03-configmap-edgenodeconf.yaml) is old config and should update to the new component config
2、the [02-edgenode.yaml](https://github.com/kubeedge/kubeedge/blob/mast

[2022-03-11 10:05] wackxu commented on #3690
/help-wanted

[2022-03-11 12:07] ArunaLakmal commented on #2357
Any thoughts on this? I'm seeing the similar issues with my deployment?

[2022-03-11 14:38] ArunaLakmal commented on #1826
Same here and any experience or thoughts would be really appreciated!

[2022-03-11 22:51] zhu733756 commented on #3682
Seems that lack of some fields.  Can you try this link https://raw.githubusercontent.com/kubesphere/ks-installer/ca60be2ea729faccc523487545b1229b25016aa4/roles/metrics-server/templates/metrics-server.yaml.j2? It implements sa, role, and role bindings as well.

[2022-03-12 03:14] inadquatecoding commented on #3682
Thank you, I reset keadm, I will come back to this.

[2022-03-12 03:56] inadquatecoding opened #3691 "Flannel pod automatically deployed after edgecore is joined to cloudcore using keadm immediatly fails"
**What happened and what you expected to happen**:
joined my edgenode to my cloudcore but after the edgenode joins to the cloudcore it automatically trys to deploy a flannel container which subsequently fails.

Expectation is that a flannel pod that is automatically deployed within the edgenode after joining to the cloud core would also automagically work.

**How to reproduce it (as minimally and

[2022-03-12 19:28] inadquatecoding commented on #2083
HI @daixiang0 , is this still the case? [I'm having this same problem with flannel. ](https://github.com/kubeedge/kubeedge/issues/3691)

[2022-03-13 19:54] #3004 closed

[2022-03-13 19:54] #3001 closed

[2022-03-13 19:54] #3094 closed

[2022-03-14 02:26] sdghchj commented on #3681
/resolved

[2022-03-14 03:19] yoseihouyn opened #3697 "services "coredns" not found"
**What happened**:
cloudcore report the error as below :
`E0314 10:58:41.685645       1 application.go:422] [metaserver/applicationCenter]failed to process Application((NodeName=pingxiangzhilong;Key=/core/v1/services/kube-system/coredns;Verb=get;Status=Rejected;Reason=services "coredns" not found)), services "coredns" not found`

**What you expected to happen**:
no such error in the log.

**How to

[2022-03-14 06:52] Mrzx0925 opened #3701 "cloud agent not work"
### Discussed in https://github.com/kubeedge/kubeedge/discussions/3695

<div type='discussions-op-text'>

<sup>Originally posted by **Mrzx0925** March 14, 2022</sup>
after kubectl apply -f build/agent/kubernetes/edgemesh-agent/

run kubectl get all -n kubeedge -o wide
![image](https://user-images.githubusercontent.com/52132244/158095571-03eaa319-08d5-4ca0-b52f-3fbdfd3311eb.png)
Why is there no age

[2022-03-14 07:31] Mrzx0925 opened #3702 "cloud agent not work"
### Discussed in https://github.com/kubeedge/kubeedge/discussions/3695

<div type='discussions-op-text'>

<sup>Originally posted by **Mrzx0925** March 14, 2022</sup>
after kubectl apply -f build/agent/kubernetes/edgemesh-agent/

run kubectl get all -n kubeedge -o wide
![image](https://user-images.githubusercontent.com/52132244/158095571-03eaa319-08d5-4ca0-b52f-3fbdfd3311eb.png)
Why is there no age

[2022-03-14 07:32] #3702 closed

[2022-03-14 07:34] #3669 closed

[2022-03-14 08:50] vincentgoat commented on #3701
/cc @Poorunga

[2022-03-14 09:38] fisherxu commented on #3697
@yoseihouyn You deploy the edgemesh in egdenode？

[2022-03-15 05:41] fisherxu opened #3711 "Bump containerd version to 1.5.10"
Now the containerd version <1.5.10 has security alert, so we need to bump the containerd version to 1.5.10.

[2022-03-15 08:12] koulq commented on #3582
hi，In this design, have you ever considered the certificate management of device access?For example, with my same application deployment packaged in node groups A and node group B, do I require node groups A and node group B to use the same set of certificates issued by CA?

[2022-03-15 08:47] vincentgoat commented on #3582
Hi @koulq , thanks for the feedback, we currently manage workload and service through nodegroup, and management of device certificates can be considered in future evolutions, and also you are welcome to follow up on this process.

[2022-03-16 03:55] zhu733756 opened #3714 "deliveries the configuration on the cloud to restart edge nodes in batches"
**What would you like to be added/modified**:

**Why is this needed**:

[2022-03-16 06:09] Mrzx0925 commented on #3701
Thank you, this problem is solved, but I have another question, does edgemesh need to rely on the cloud coredns module?

[2022-03-16 12:19] abhinavjha126 commented on #3639
@vincentgoat Thanku..i will try and let u know

[2022-03-16 16:49] 916264367 opened #3716 "When I use kubernetes clusters, This error message appears "unable to connect to the server net/http: TLS""
**What happened**:
First of all, thank you very much
![image](https://user-images.githubusercontent.com/51771785/158642502-06c244db-979b-4bdc-930e-47d75bde199f.png)
As the picture shows, when I created a pod, and check the status of the pod. I encountered this problem.
Then my system became very slow, Some people told me that the memory of the master node is insufficient, But is it really the case

[2022-03-17 02:55] fisherxu commented on #3716
How is your k8s deployed? Using kubeadm? And KubeEdge does not modify the K8S control plane, so you need to check why the Apiserver return this error. Or have you used the right kubeconfig?

[2022-03-17 03:06] fisherxu commented on #3714
Let's write a proposal google docs for Edge Node Upgrading?

[2022-03-17 03:12] zhu733756 commented on #3714
OK.

[2022-03-17 03:53] 916264367 commented on #3716
The command I used“ sudo kubeadm init --apiserver-advertise-address=192.168.129.128 --pod-network-cidr=10.244.0.0/16” to deployed k8s.

[2022-03-17 03:53] 916264367 commented on #3716
The command I used“ sudo kubeadm init --apiserver-advertise-address=192.168.129.128 --pod-network-cidr=10.244.0.0/16” to deployed k8s.

[2022-03-17 08:36] #3711 closed

[2022-03-17 09:42] fisherxu commented on #3716
You should check what's wrong with the kube-apiserver :)

[2022-03-17 10:18] #3142 closed

[2022-03-19 16:06] #3178 closed

[2022-03-20 02:39] #3653 closed

[2022-03-20 08:23] swetabhgit commented on #1613
![image](https://user-images.githubusercontent.com/43088897/159154133-87fac003-dddb-4bd4-8d36-ecdb065fe831.png)

getting above issue even adding "cgroup_enable=memory cgroup_memory=1" to /boot/cmdline.txt

I am stuck with this issue.

[2022-03-21 03:17] RyanZhaoXB commented on #3716
hello. where did you execute the command 'kubectl get pod'? master node or edge node? if edge node, please check the network connection status to the master node and verify your kubeconfig. if master node, please check if the kube-apiserver runs properly.

[2022-03-21 03:24] RyanZhaoXB commented on #3688
as far as i can see it, every time the metrics url is called, a new connection to the edge node will be added in the session. and when the metrics request call is done, as well as context.Done() is called, cloudcore will send a "remove connect" message to edgecore and edgecore will stop metrics scan. then edgecore will send a "remove connect" message to cloudcore and cloudcore will remove the the

[2022-03-21 08:01] lgy1027 commented on #3688
If this is the case, then I will initiate a new request to get the data when I execute the top node or view the log, but sometimes it will be stuck and cannot be obtained, and the call to cadvisor will also fail.

[2022-03-22 05:49] abhinavjha126 opened #3727 "How to Construct MultiMaster LoadBalancer in Kubeedge?"
Hi i am using KubeEdge v1. 8.1.
I want to construct multimaster loadbalancer setup so that if one or more master goes down... Then also application is accessible.How can we do that??
Please suggest something

[2022-03-22 06:24] fisherxu commented on #3727
Ref: https://github.com/kubernetes/kubeadm/blob/main/docs/ha-considerations.md#options-for-software-load-balancing

This is the docs about how to set up a multimaster k8s, you can take a look. @abhinavjha126

[2022-03-22 07:16] MohammedAbuibaid commented on #3546
@MrHanLei , have you found the root cause or a solution?

[2022-03-22 07:26] abhinavjha126 commented on #3727
@fisherxu I have already tried this but this didn't work. In this setup we have to provide a virtual ip other than the ip's of masters. In Kubeedge gateway we have to provide <single node name> which should be one of the names of master.Suppose if that master goes down then application will go down.In this case multimaster loadbalancer doesn't works.
Please correct me if i am wrong or suggest me s

[2022-03-22 07:37] coldy1992 opened #3728 "Does the mode with mqttmode 0 support TLS?"
**What happened and what you expected to happen**:
I want the mqttmode 0 can support tls
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):1.6.x
- Does the mode with mqttmode 0 support TLS？when the mqttmode is 0

[2022-03-22 08:02] abhinavjha126 commented on #3639
@vincentgoat Thanku...it worked

[2022-03-22 14:03] fisherxu commented on #3728
@coldy1992 Yes, now we only support Username/Password for mqtt in eventbus, and v1.6.1 is a old version... Do you want to use tls for the  mqtt in eventbus?

[2022-03-23 02:48] coldy1992 commented on #3728
@fisherxu Yes,I want to use tls for the mqtt in eventbus.But I found that even the latest version of kubeedge, the mqttmode0 mode of eventbus does not support the use of TLS.Is that so？thank you

[2022-03-23 03:38] fisherxu commented on #3728
Yes, because before we always run mqtt on localhost(127.0.0.1), so haven't add the tls.
You will open the mqtt port? If need, would you like to open a pr to add it?

[2022-03-23 06:20] coldy1992 commented on #3728
No, In my project I also run mqtt on localhost(127.0.0.1). I just want to confirm whether  mqttmode0 supports TLS.
OK,my question has been solved,Thank you very much!

[2022-03-23 06:35] flyme001 opened #3729 "Error from server (InternalError): Internal error occurred"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):
- <details><summary>Cloud nodes Environment:</summary>

  - Hardware configuration (e.g. `lscpu`):
  - OS

[2022-03-23 06:43] RyanZhaoXB commented on #3729
please provide more logs of cloudcore and edgecore

[2022-03-23 06:50] flyme001 commented on #3729
实验目的
调试led灯

边端版本信息
kubeadm version: &version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.2", GitCommit:"8b5a19147530eaac9476b0ab82980b4088bbc1b2", GitTreeState:"clean", BuildDate:"2021-09-16T02:51:00Z", GoVersion:"go1.16.7", Compiler:"gc", Platform:"linux/arm64"}

root@ubuntu:~# keadm version
version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.0", GitCommit:"8b0913e04ef4ef826af6715d336

[2022-03-23 06:53] flyme001 commented on #3729
root@ubuntu:~# edgecore --version
2022-03-23 06:51:02.711351 I | INFO: Install client plugin, protocol: rest
2022-03-23 06:51:02.711707 I | INFO: Installed service discovery plugin: edge
KubeEdge v1.6.1
root@ubuntu:~# cat /etc/os-release
NAME="Ubuntu"
VERSION="20.04.2 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.2 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubuntu.com/"

[2022-03-23 06:59] flyme001 commented on #3729
root@ubuntu:~# journalctl -u edgecore.service -n 100
-- Logs begin at Sat 2021-11-13 09:03:31 UTC, end at Wed 2022-03-23 06:58:29 UTC. --
Mar 23 06:53:13 ubuntu edgecore[23667]: I0323 06:53:13.629985   23667 process.go:525] start to sync pod status in edge-store to cloud
Mar 23 06:53:16 ubuntu edgecore[23667]: I0323 06:53:16.490724   23667 edged.go:881] worker [1] get pod addition item [led-light-

[2022-03-23 07:03] flyme001 commented on #3729
W0323 15:02:14.892634       1 upstream.go:92] Parse message: b044a2ca-2088-431c-a9d9-98abfb4f952a resource type with error: unknown resource
I0323 15:02:14.892640       1 upstream.go:88] Dispatch message: b6b671b5-8968-4c5a-9cdf-dbd9d90cb504
W0323 15:02:14.892645       1 upstream.go:92] Parse message: b6b671b5-8968-4c5a-9cdf-dbd9d90cb504 resource type with error: unknown resource
I0323 15:02:14.89

[2022-03-23 07:08] RyanZhaoXB commented on #3729
according to this part of log, the connection between cloudcore and edgecore was broker. the specific reason still needs to be further analyzed
![image](https://user-images.githubusercontent.com/100741994/159642628-4b473357-b18b-4e23-bab5-4a19bca9fe0a.png)

[2022-03-23 07:53] sdghchj commented on #3728
MQTT server has two ways to authenticate a client. one by username/password, another by a client cert.
I see in v1.9 when external mqtt server is used, the mqtt client is able to set a client cert, however, whether surpprt tls transportation and client cert authentication depends on the external server side.
But, the internal mqtt server now listens without tls, so it doesn't surpport tls and clie

[2022-03-23 07:55] 916264367 commented on #3716
i execute the command 'kubectl get pod' on master node. After reporting the error, the system starts to jam, I can't do anything.

[2022-03-24 01:43] coldy1992 commented on #3728
That's true, now I only need to use mqtt locally at the edge node, so... it's OK.Now I understand. Thank you so much！

[2022-03-24 01:43] coldy1992 commented on #3728
That's true, now I only need to use mqtt locally at the edge node, so... it's OK.Now I understand. Thank you so much！

[2022-03-24 02:29] leofang94 commented on #3264
I'm interested with DMI, current there are some design about it?

[2022-03-24 07:40] fisherxu commented on #3264
cc @RyanZhaoXB  Now there're some designs(maybe need the design doc link) and the bi-weekly meeting for SIG Iot-Device. @leofang94

[2022-03-25 01:11] #3180 closed

[2022-03-25 01:11] #3194 closed

[2022-03-25 01:11] #3195 closed

[2022-03-25 01:11] #2929 closed

[2022-03-25 02:36] elihe2011 opened #3735 "Why KubeEdge will create pod continuously in an offline edge node? it causes so many Terminating pod!"
**After I shut down my edge node for a while, I found that some pods are scheduled to this edge node, and their status is terminating:**
root@ke-cloud:~# kubectl get pod -o wide
NAME                                   READY   STATUS        RESTARTS   AGE     IP              NODE        NOMINATED NODE   READINESS GATES
kubeedge-counter-app-b685d8f99-scwwg   1/1     Running       0          2d18h   1

[2022-03-25 06:05] elihe2011 commented on #3735
In Kubernetes, if a pod has been scheduled to a specified node, when this node is offline, it will create a lot terminating pods too, but **after the node is online, these terminating pods will be deleted automatically.**
In KubeEdge, I think that may be common that some edge nodes are offline, for example the network is unstable.

TWO suggestions to KubeEdge:
1) If the edge node is offline, stop

[2022-03-25 07:32] farawaychen opened #3736 "When an edge node goes offline, many Terminating pods are generated"
**What happened**:
1、When an edge node goes offline, many Terminating pods are generated。
2、Terminating Pods are not removed while edge node is online
3、EdgeCloud crash after a long time when edgemesh is enabled.

**What you expected to happen**:
1、Do not produce many Terminating Pods when an edge node is offline.
2、Terminating Pods are removed while edge node is online

**How to reproduce it (as

[2022-03-25 09:35] fisherxu commented on #3736
When specifying nodename for deploymet, the k8s control plane will always think pod has been schduled. So when the node is offline，the node-controller will evict the pods schduled to this node, including  the pod in pending states. So node-controller will delete the pending pod and create new one, because the node is offline, the teminating pod can't be deleted. So lot's of teminating pods will be

[2022-03-26 01:39] fisherxu commented on #3736
/assign @vincentgoat

[2022-03-29 03:59] #3202 closed

[2022-03-29 03:59] #3206 closed

[2022-03-29 11:14] Berndinox opened #3749 "Networking: error dialing backend"
**What happened and what you expected to happen**:
I dont know if this is a normal behaviour, but networking does not seem to work.
[code]
I also can not curl any service (NodePort as well as ClusterIP)
when i schedule pods on the master (from which i made the test) i can curl and exec into the pods/services.
when i schedule the pods on the edge nodes, everything seems fine, but not for the networ

[2022-03-30 01:52] zhu733756 commented on #3714
Ref: https://github.com/zhu733756/kubeedge-upgrade

Optional, we could add a upgrade service to keadm.

Other refs: https://github.com/kubernetes/kubeadm/blob/ecb3d2206a00b1aab25d754a0c4c95d781ac0909/kinder/pkg/cluster/manager/actions/kubeadm-upgrade.go#L108

[2022-03-30 03:09] skrlin opened #3752 "Hello, does kubeedge have UI components for front-end display, such as kuboard of k8s"
**What happened and what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):

[2022-03-30 03:15] fisherxu commented on #3752
Now we have plan to implement a UI dashboard for kubeedge, still in design. And you can use k8s dashboard instead now, because kubeedge all use standard k8s api. @skrlin Or are you interested to join us to design it?

[2022-03-30 07:01] snstaberah opened #3753 "update TLS default version in streamserver ?"
I found that in cloudstream  streamserver use default tlsconfig to launch httpserver,  and tunnelserver  used  TLS1.2 as minversion，why not use 1.2 as  default tls version in streamserver？

**What would you like to be added/modified**:
add MinVersion:   tls.VersionTLS12, in streamserver
**Why is this needed**:
this can improve security of cloudcore，and pass some security test

[2022-03-30 07:04] fisherxu commented on #3753
@snstaberah Thanks for pointing out it, and would you like to open a pr to fix it?

[2022-03-30 07:12] gy95 commented on #3687
by test, we can just use the followint command to build binaries using docker images
[code]
with -v flag  `Bind mount a volume` and -o to output the binary file to the mounted path

[2022-03-30 09:04] wackxu opened #3755 "Add verify boilerplate shell and add this check to CI"
**What happened**:

we have some go file that do not have boilerplate header, we should add boilerplate header for every go file
 so we can add shell for check this and add the check to CI.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEd

[2022-03-31 02:14] gy95 opened #3757 "fixing rely on gcc version"
**What would you like to be added/modified**:
Now we import github.com/mattn/go-sqlite3 to do sql operation, and according to the official repo say: `go-sqlite3 is cgo package` , so it may rely on gcc.
And i use golang:1.16 image to build bianary like below:
`docker run --rm -v /root/go/src/github.com/kubeedge/kubeedge:/kubeedge -w /kubeedge golang:1.16 /usr/local/go/bin/go build -o /kubeedge/_out

[2022-03-31 02:23] gy95 commented on #3757
by passing environment `-e CGO_ENABLED=0` to `docker run` command, we can fix this problem, `edgecore` included... 😮

[2022-03-31 06:30] flyme001 opened #3759 "设备模型与设备实例对应cm 文件无法同步"
**What happened and what you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):

[2022-03-31 06:32] flyme001 commented on #3759
^C[root@ks-all-in-one ~]# kubectl delete cm device-profile-config-edge-1
configmap "device-profile-config-edge-1" deleted
[root@ks-all-in-one ~]# kubectl get cm -w
NAME                                  DATA   AGE
baetyl-cloud-config                   7      262d
device-profile-config-edge-136        1      7d1h
device-profile-config-edge-node       1      309d
device-profile-config-edge-node1

[2022-03-31 08:27] leofang94 commented on #3264
How to join SIG Iot-Device?

[2022-03-31 09:39] RyanZhaoXB commented on #3264
hello, welcome to join the SIG IoT-Device. here is the [meeting note](https://shimo.im/docs/RKAWVexBG6cKZlk8) of the SIG IoT Device. please feel free to join the disscussion and make proposal if you have.

[2022-03-31 09:43] leofang94 commented on #3264
OK，thanks！

[2022-03-31 09:43] leofang94 commented on #3264
OK，thanks！

[2022-03-31 14:19] RyanZhaoXB opened #3760 "Umbrella issue for Device Management Interface(DMI)"
hello guys. we have make a proposal for Device Management Interface (i.e. DMI), which integrates the device management interface and optimizes the device management capability of KubeEdge.

designing doc for en: [DMI doc](https://docs.google.com/document/d/143y_ZqkDzUt95J6S99Wc9cJHx8k3mRy18a6T_4ZqaO8/edit#heading=h.1plg3hjvj5c3)

desining doc for zh: [DMI文档](https://shimo.im/docs/pmkxQg2bxyTlYjAN)

[2022-04-01 01:42] LRaito opened #3761 "设备孪生更新性能问题"
**What happened and what you expected to happen**:
设备孪生更新慢，资源消耗大

**How to reproduce it (as minimally and precisely as possible)**:
1 node，30 device，每个 device 每秒上报 3 次孪生数据，每次上报仅更新一个字段，云端 k8s-api-server 已到极限，cpu 超过了 1300%，请问如何解决？

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`

[2022-04-01 02:54] wackxu commented on #3761
理论上来说，每秒90个写请求不应该会占用这么高的cpu，你能贴下kube-apiserver、cloudcore的日志和监控信息吗？你的孪生数据消息体有多大呢？我分析一下

[2022-04-01 02:56] wackxu commented on #3759
@[RyanZhaoXB](https://github.com/RyanZhaoXB)

[2022-04-01 07:38] LRaito commented on #3761
- 孪生数据消息体很小，仅更新一个字段
- cloudcore 我提高了 deviceUpdate channel 容量，稍微增大了向 kube-apiserver update device 的 goroutine 数
- kube-apiserver [日志中无错误日志，都是](url) device（cdr） patch 消息
- 使用 goprof 工具查看 cpu ，见这个仓库下：https://github.com/LRaito/tmp

[2022-04-01 07:43] LRaito commented on #3761
另外请问 kubeedge 有性能测试文档么？

[2022-04-01 07:55] feng-crazy commented on #3760
设备管理是基于 K8S的CRD的，K8S的apiserver，没有批量创建CRD的接口，如果我要建几万个设备的话，就会很慢，我们的场景是这样的，我们做了一个创建设备模板和实例的界面，界面上一个批量创建设备的功能，是根据导入excel解析设备，来创建的设备实例，所以要循环调用创建CRD的接口，这个过程非常的长。

[2022-04-01 09:29] wfchair opened #3763 "What will happen if edge node ip changed?"
**What happened and what you expected to happen**:

kubeedge edgecore was deployed onto an edge node whose ip was dhcp allocated.
the edge node ip changed by some reason.

1) Can I fix the potential problem ( problem of edgemesh etc. components included)
by change /etc/kubeedge/config/edgecore.yaml as per real ip?

2) What will happen if no action was taken for ip change?
Do I have to modify edgec

[2022-04-02 02:52] vincentgoat commented on #3763
@wfchair it may cause some error for streaming and DNS function, you can set CustomInterfaceName on edged to avoid IP change problem, FYI [https://github.com/kubeedge/kubeedge/blob/master/edge/cmd/edgecore/app/server.go#L93](url)

[2022-04-02 05:37] #3763 closed

[2022-04-02 08:22] sdghchj commented on #3761
所以我们只用kubeedge来做应用管理，IoT部分别外实现。

[2022-04-02 08:24] sdghchj commented on #3736
mark

[2022-04-03 06:06] ORKO06 commented on #3608
I would like to contribute in this issue under GSOC 22.  I am currently majoring in Industrial design so I can also develop the UI of the dashboard. I have developed many website using html, css and javascript.

[2022-04-03 07:24] Berndinox commented on #3567
**Can confirm.**
If the cluster is runnin "for a longer time", and i disconnect one node for more than 15 minutes i got the same results.

[2022-04-03 12:22] #3749 closed

[2022-04-04 13:22] JotaCruz20 commented on #3295
Could you explain what you did to fix?

[2022-04-04 18:26] halfrost opened #3765 "[feature] Integrate gofuzz"
I will work on this feature.

[2022-04-05 09:37] deeponder opened #3766 "when can keadm support mac m1? or kubeedge is available for mac m1?"
rt

[2022-04-06 03:21] #3687 closed

[2022-04-07 00:33] deeponder opened #3772 "[edgecore] start failed with websocket error"
**What happened and what you expected to happen**:

1. `keadm join --cloudcore-ipport=xxx:10002 --token xxx` ok
2. All settings/config are default, I suppose
3. Check `journalctl -u edgecore.service -b`
[code]
4. No error logs  in  /var/log/kubeedge/cloudcore.log from cloud

**Environment**:
- Kubernetes version (use `kubectl version`):  1.21.2
- KubeEdge version(e.g. `cloudcore --version` and `ed

[2022-04-07 01:20] gy95 opened #3773 "unknown resource"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
start the cloudcore without any edge nodes connecting to the cloudcore and  without any devices already created,
`_output/local/bin/cloudcore --config /etc/kubeedge/config/cloudcore.yaml`
and pressing `ctrl+c` to stop the cloudcore, and logs have two lines about `unknown resource

[2022-04-07 01:42] wackxu commented on #3773
it may be come from here: https://github.com/kubeedge/kubeedge/blob/697b8be4139ad86e08ad4c457210acfbc21e79f9/cloud/pkg/cloudhub/handler/messagehandler.go#L253-L268

when node is disconnectd or connectd, the cloudhub will broadcast this message

[2022-04-07 02:00] gy95 commented on #3773
not related to this, on my kubeedge, there's no edge node, and no devices, I just run cloudcore lonely, and by debug, these messages contain nothing useful.

[2022-04-07 07:49] zxyy-bys commented on #3691
@inadquatecoding You can modify the DaemonSet.spec.template.spec.nodeAffinity of the flannel yaml file to avoid scheduling the flannel on your edge node, and use edgeMesh instead.

[2022-04-07 09:04] TianTianBigWang commented on #3773
may be default to send to `edgeController`?
https://github.com/kubeedge/kubeedge/blob/697b8be4139ad86e08ad4c457210acfbc21e79f9/cloud/pkg/cloudhub/channelq/channelq.go#L313-L324

[2022-04-08 01:15] liveej commented on #3761
KubeEdge目前这套走K8S CRD的方式，适合用在大量密集时序数据的采集吗？最好另外做个旁路通道来处理时序数据？

[2022-04-12 05:51] xiaoyang-chen opened #3787 "tag v1.10.0 go mod tidy fail. go sum report mismatch"
**What happened and what you expected to happen**:
<img width="1429" alt="image" src="https://user-images.githubusercontent.com/61339960/162889496-39cbdbf1-6c7b-49fd-afc2-f45b29850636.png">

**How to reproduce it (as minimally and precisely as possible)**:
git clone this repo, and branch switch to tag v1.10.0, then run go mod tidy
**Anything else we need to know?**:

**Environment**:
- Kubernetes

[2022-04-12 06:23] gy95 commented on #3787
i tried on my local machine, and did't encounter this error. which golang version are you using? :)

[2022-04-12 07:16] gy95 commented on #3787
oh, if so, it's better to just run `make verify` command directly, and there're some verification scripts. you can take a look at these scripts.

[2022-04-12 07:29] xiaoyang-chen commented on #3787
make verify report this error

root@ubuntu:/home/wjd/Desktop/kubeedge# make verify
hack/verify-golang.sh
go detail version: go version go1.18 linux/amd64
go version: 1.18
hack/verify-vendor.sh
/home/wjd/Desktop/kubeedge/staging/src/github.com/kubeedge/beehive /home/wjd/Desktop/kubeedge
running 'go mod tidy' for beehive
go: downloading github.com/google/uuid v1.1.2
go: downloading gopkg.in/yaml.v2

[2022-04-12 07:55] xiaoyang-chen commented on #3787
https://github.com/panjf2000/ants/issues/49
report similar issue,
https://github.com/panjf2000/ants/issues/168  fix it, it seems that docker vendor re-tagged after kubeedge tag v1.10.0

[2022-04-14 07:33] jiangxuhui commented on #2647
hi，dude,  i have the same problem. how you solve this question at last?

[2022-04-15 03:26] gy95 commented on #3714
/assign

[2022-04-15 03:54] WLBF opened #3798 "Pod running on edge node has invalid serviceaccount token"
**What happened**:
Pod running on edge node has invalid serviceaccount token.

**What you expected to happen**:
Valid serviceaccount token.

**How to reproduce it (as minimally and precisely as possible)**:
Create a deploy and delete pod, After new pod is created, run `kubectl exec -it <POD_NAME>  -- cat /var/run/secrets/kubernetes.io/serviceaccount/token` get token then decode it, will find out t

[2022-04-15 10:02] alongL opened #3799 "Is there some gui tools good for kubeedge?"
I want to view status of edge nodes  and controll it .
Is the some gui tools works  for kubeedge?
I have tried Kubesphere, but I think it's very hard to use with little document.
Greatly increase our work.

Can some other web gui application can be used to  monitor kubeedge and edge node?

[2022-04-16 03:03] vincentgoat commented on #3798
Hi @WLBF, I've met this problem also, and I would love to fix it. Will let you know If there is any further progress  : )

[2022-04-16 07:09] gy95 commented on #3714
ref: https://docs.google.com/document/d/1INQXYA4VahOI8w7V00coYRIhEEq4rsbBXB3ukitBIO4/edit?usp=sharing

[2022-04-16 08:29] fisherxu commented on #3799
@alongL Now we aleady have the plan to design a dashboard for kubeedge. Now dashbord of k8s can used to monitor kubeedge and edge node. Ref: https://github.com/kubernetes/dashboard

[2022-04-16 09:49] #3753 closed

[2022-04-18 02:22] kevin-wangzefeng commented on #3798
/assign @vincentgoat

[2022-04-18 03:10] alongL commented on #3799
dashboard seems good.

![image](https://user-images.githubusercontent.com/5533883/163748473-f3a2b6f5-1cfd-4dc4-a63b-7da40741a3ca.png)

[2022-04-18 03:52] xiaoyang-chen commented on #3787
already fix in my code-repo, close this issue? @gy95

[2022-04-18 06:13] gy95 commented on #3787
sure, it's up to you if there's no need to fix it in the main repo.

[2022-04-18 07:59] amberboxi opened #3801 "https for router"
**What would you like to be added/modified**:
tlsconfig here is unfinish status.
![image](https://user-images.githubusercontent.com/43173417/163774732-d8061c5b-7f13-4101-8eac-e1c6f0152ca1.png)

**Why is this needed**:
For safety enhance, https server  running in cloud site need to send a https request to router.

![image](https://user-images.githubusercontent.com/43173417/163776703-0a5db08f-f9a4-4

[2022-04-18 09:07] #3787 closed

[2022-04-19 07:48] hey-kong commented on #3299
I have the same question, do you know how to sovle it now?

[2022-04-19 09:06] keyword1983 commented on #3299
i thought the Architecture of kubeedge was not allowed to do that.

always flow top-down.

[2022-04-19 13:47] RyanZhaoXB opened #3804 "improve the reliability of device management information"
**What would you like to be added/modified**:

the reliability of device management information should be improved. kubeedge has got the reliability mechanism for pod management using the CRD of objectsyncs.reliablesyncs.kubeedge.io. and the method for device is still marked as TODO.
[code]

**Why is this needed**:
when the connection between cloud and edge is broken, the modification of a device

[2022-04-20 01:19] fisherxu commented on #3801
@amberboxi Thanks for pointing out, and would you like to open a PR to dd this?

[2022-04-20 01:34] fisherxu opened #3805 "Add Authentication and Authorization for MetaServer"
**What would you like to be added/modified**:
Now the MetaServer  is listening at `127.0.0.1`, and the certificate authentication and authorization are missing. We need to add it for high security.

[2022-04-20 01:37] fisherxu commented on #3805
cc @sdghchj

[2022-04-20 01:51] wfchair opened #3806 "coexistance of k3s and kubeedge on same edge node"
In our scenario, edge nodes forms K3s small local cluster; meanwhile, the same edge node joins cloud kubeedge as edgecore node. The k3s / kubeedge clusters are independent of each other, so k3s and kubeedge need to coexist in the same edge node.

**What happened**:
k3s / edgecore processes started normally, but kubectl failed to deploy pod to edge node.
if k3s stopped, kubeedge pod can be deployed

[2022-04-20 03:08] sdghchj commented on #3805
Now, the edgecore resolves a whole REST request but headers from an edge pod into an `application` object and send it to cloudcore, then the cloudcore calls k8s REST API with dynamic kubeclient.

![image](https://user-images.githubusercontent.com/20944466/164142486-17520e93-6a83-42b9-a43f-492a094e77e0.png)

So the problems are:
1. All the headers including `Authorization` are ignored at edge.
2. E

[2022-04-20 03:14] fisherxu commented on #3805
cc @vincentgoat

[2022-04-20 07:08] vincentgoat commented on #3798
@WLBF please refer to the attached PR, thanks.

[2022-04-20 10:17] My-pleasure commented on #3773
It maybe: in all modules, there are `beehive.Done()` and `default` like following:
[code]
When we kill the cloudcore, it will trigger the graceful shutdown.(https://github.com/kubeedge/kubeedge/blob/master/staging/src/github.com/kubeedge/beehive/pkg/core/core.go#L51)
And the graceful shutdown will trigger the `beehive.Done()` and then close the channel. But the number of goroutine processes at the

[2022-04-21 02:12] wfchair commented on #3806
failed code:
vendor/github.com/opencontainers/runc/libcontainer/process_linux.go : start()

[2022-04-21 07:37] deeponder commented on #3772
--cloudcore-ipport is wrong, should be ws, not https

[2022-04-21 07:37] #3772 closed

[2022-04-24 03:13] fisherxu commented on #3799
OKey, I'll close this issue, please reopen it if there's any issue.
/close

[2022-04-24 03:13] #3799 closed

[2022-04-25 09:12] yookacn opened #3811 "keadm init fail, Error: CustomResourceDefinition.apiextensions.k8s.io "devices.devices.kubeedge.io" is invalid: spec.versions: Invalid value:"
**What happened**:
Please help, keadm init fail, error information:
 keadm init --kubeedge-version=1.7.1 --advertise-address=192.168.8.101
Kubernetes version verification passed, KubeEdge installation will start...
Error: CustomResourceDefinition.apiextensions.k8s.io "devices.devices.kubeedge.io" is invalid: spec.versions: Invalid value: []apiextensions.CustomResourceDefinitionVersion{apiextension

[2022-04-25 10:41] WLBF opened #3812 "HostAliases not working if pod network is set to hostNetwork"
**What happened**:
HostAliases not working if pod network is set to hostNetwork

**What you expected to happen**:
HostAliases is injected to `/etc/hosts` correctly in hostNetowork mode.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
kubelet and edgecore have different behavior.

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kube

[2022-04-25 11:58] stavbernazanv opened #3813 "Pods stuck in Pending if imagePullSecret is configured but doesn't exist in kubernetes cluster"
**What happened**:
Had a consul DaemonSet with imagePullSecrets configured. The secret wasn't created in the kubernetes cluster.
The pod successfully turned "Running" on a kubernetes node, but was stuck in "Pending" state in the kubeedge (edgecore) node.

**What you expected to happen**:
Pods should be scheduled normally just like in regular kubernetes cluster

**How to reproduce it (as minimally

[2022-04-25 12:23] vincentgoat commented on #3813
@stavbernazanv thanks for the feedback, it is because KubeEdge returns an error directly when there is a `secret not found` error, I would love to fix this issue and will let you know if any further process is made.
/assign @vincentgoat

[2022-04-26 06:59] vincentgoat commented on #3813
@stavbernazanv Please refer to the attached PR, thanks.

[2022-04-26 07:08] RyanZhaoXB commented on #3811
hello.  based on your error logs, it can be determined that the problem is in the CRD version.  your problem is the same as this issue (https://github.com/kubernetes/kubernetes/issues/82443 ). it is a version mapping issue. kubernetes provides a new version, which is apiextensions.k8s.io/v1, since kubernetes 1.17 and the defination of CRD is changed (https://kubernetes.io/zh/docs/tasks/extend-kube

[2022-04-26 07:29] vincentgoat commented on #3765
Hi @halfrost, How's the go-fuzzing integration going? I would love to follow your process.

[2022-04-26 07:45] stavbernazanv commented on #3813
@vincentgoat Thanks for your help with this issue.
PR seems legit

[2022-04-27 06:56] #3813 closed

[2022-04-27 09:44] zjcomeon commented on #3752
I'm interested in dashboard's plans.How can I join? @fisherxu

[2022-04-27 10:14] yookacn commented on #3811
@RyanZhaoXB， thanks，least >v1.9 install successfly!

[2022-04-28 11:58] #3811 closed

[2022-05-02 13:01] siredmar opened #3823 "Pod finalizers are not taken into account"
**What happened**:

Setting finalizers to Pods and deleting it results in a immediate termination of the container on the kubeedge node.
This must not happen, because finalizers are used to cleanup things before terminating the containers.

**What you expected to happen**:

The container running on the node should not be terminated until the finalizer is removed.

**How to reproduce it (as minimal

[2022-05-05 02:42] RyanZhaoXB commented on #3761
是的，KubeEdge目前这套方式不太适合大量数据采集场景，数据量过大会占用云边websocket通道，K8s的大量写操作也可能把ETCD冲挂。我们目前在搞一套新的KubeEdge设备管理方案DMI，在考虑使用单独做个通道来传输本地数据，方案相关如下链接，欢迎多提意见。 https://github.com/kubeedge/kubeedge/issues/3760

[2022-05-05 02:47] RyanZhaoXB commented on #3760
批量创建设备这个能力确实是需要的，我们后续方案设计中会做考虑，目前想到的方法是做一个单独的批量设备的CRD，用户只要预先准备好一个CR的yaml，执行一次kubectl create -f就可以实现批量创建设备的操作，但如果设备数量过多，在kube-apiserver和etcd这里仍然会有时间瓶颈。可能还有需要考虑的一点就是，批量创建的设备跟每个单独的设备之间是什么关系，是否批量设备的CR创建完其生命周期就结束了，每个设备后续可以单独管理。

[2022-05-05 02:55] sdghchj commented on #3761
单独做通道来传IoT数据只是解决通道隔离的问题，并没有解决大量写操作etcd的问题吧，如果没有改变用etcd来管理设备的现状态，始终会面临该问题。

[2022-05-05 06:32] RyanZhaoXB commented on #3761
嗯新方案里不会把采集的数据保存到etcd里，而是在边缘侧按需分发，比如缓存本地数据库，推送到云或边的指定APP，被数据应用主动GET查询等，kubeedge及etcd只保存设备管理相关信息以及配置类数据，可以大大降低etcd的负载

[2022-05-05 06:34] RyanZhaoXB commented on #3759
请检查cloudcore是否正常运行，如果是正常运行中，请检查cloudcore的日志，看有什么报错信息

[2022-05-05 12:37] wackxu commented on #3812
/assign

[2022-05-06 09:24] gy95 opened #3828 "Refactor keadm functions about copying files from container to host"
**What would you like to be added/modified**:
Now `keadm beta join` command pull images and copy edgecore binary from it, and support both `docker` and `remote` ContainerRuntime. But both two  `CopyResources` seems confusing, now it only support copy from container to the same path of the host, such as copy /usr/local/bin/edgecore to  /usr/local/bin/edgecore , the src and dest path must be the sam

[2022-05-06 15:56] Congrool opened #3829 "bump ginkgo from v1 to v2"
**What would you like to be added/modified**:

Bump ginkgo to v2.
Currently, kubeedge is using `ginkgo v1.14.0`, I think we need to bump it to `ginkgo v2.1.4` which is the latest released version.

**Why is this needed**:
There're two reasons for this bump.
1. As described in the [official doc of ginkgo](https://onsi.github.io/ginkgo/MIGRATING_TO_V2#:~:text=With%20the%20release%20of%20Ginkgo%202.0

[2022-05-06 15:56] Congrool commented on #3829
And if we actually need to do this, I'd like to take over this work.

[2022-05-07 01:40] gy95 opened #3830 "optimize code-gen restriction ${GOPATH}/src/github.com/kubeedge/kubeedge"
**What would you like to be added/modified**:
/help

Now we run `make verify-codegen` to do code generation verification or exec shell script https://github.com/kubeedge/kubeedge/blob/master/hack/update-codegen.sh to update code generated.
But there's one restriction: the repo codes must be located to ${GOPATH}/src/github.com/kubeedge/kubeedge. Due to `deepcopy-gen` or some other generate-code too

[2022-05-07 03:53] fisherxu commented on #3829
@Congrool Sounds good, go ahead.

[2022-05-07 06:07] Congrool commented on #3829
/assign

[2022-05-09 01:47] QeelinDarly opened #3832 "Add test case coverage for KubeEdge in edge scenarios"
**What would you like to be added/modified**:
Design and implement KubeEdge test cases in edge scenarios, improve the test coverage of the KubeEdge project, and ensure the stability of the project.
**Why is this needed**:
We need KubeEdge reliability use case when the edge is offline. Also need reliability use cases for KubeEdge offline autonomy at the edge.

[2022-05-09 10:26] lwabish commented on #3688
Is this case an actual error？I found my cloudcore and edgecore logs similar to the log in this issue,but `kubectl top nodes` works fine.

[2022-05-09 11:55] tobiasbbb opened #3833 "Connect MQTT device without Mapper?"
Hello and thanks for creating such an amazing project!

I would like to use devices that already support MQTT (e.g smart plugs) and connect them to my KubeEdge cluster. Do I need a Mapper for that or is it possible to connect the Smart Plug directly to the MQTT-Broker without a dedicated MQTT Mapper?

Thanks in advance.

[2022-05-09 13:16] RyanZhaoXB commented on #3833
hello. thanks for your attention.

in my opinion, it depends on how smart is your Smart Plug. it is necessary for KubeEdge to connect to a device through a converting component. it could be a mapper deployed independently in the KubeEdge Cluster or it could also be just an app or a module running on the smart device itself. this mapper component could not just convert one protocol to another but a

[2022-05-09 14:23] wackxu commented on #3823
from kubernetes doc  https://kubernetes.io/docs/concepts/overview/working-with-objects/finalizers/

[code]
when we delete pod with finalizers, kubelet or edgecore will not respect the finalizers and delete the container according to the DeletionGracePeriodSeconds and PreStop LifecycleHandler, and then the pod is in the terminating  state until we delete the finalizers, so if you want to do some cl

[2022-05-10 00:52] insbire commented on #2906
遇到类似的问题。测试集群：1个Cloud，3个Edge。Edge无规律的NotReady，而且是全部Edge同时NotReady。
![image](https://user-images.githubusercontent.com/86938244/167520060-31893f90-8e43-40c3-96f5-8cf079960858.png)
Edge连接Cloud，被拒绝。也是重新运行一下Cloudcore，可以解决问题。
![image](https://user-images.githubusercontent.com/86938244/167520187-65a6c402-ec31-434d-8e17-8fbae04012a4.png)
Edge端显示websocket信道已满，是需要在Cloud端做设置吗？请问，如何才能保证云端之间连接的持久性、可靠性？

[2022-05-10 02:20] insbire commented on #2906
I0510 02:10:20.835225 1779552 server.go:77] Version: v1.9.2
I0510 02:10:22.036166 1779552 module.go:52] Module cloudhub registered successfully
I0510 02:10:22.098572 1779552 module.go:52] Module edgecontroller registered successfully
I0510 02:10:22.098750 1779552 module.go:52] Module devicecontroller registered successfully
I0510 02:10:22.100548 1779552 module.go:52] Module synccontroller register

[2022-05-10 03:01] vincentgoat opened #3837 "meta client takes too much time waiting for cloud response"
**What happened**:
If there is no resource on the cloud, meta client will wait for response util timeout when query resource (e.g. configmap,secret) from edge to cloud.

edge query: [processRemoteQuery](https://github.com/kubeedge/kubeedge/blob/master/edge/pkg/metamanager/process.go#L278)
cloud doesn't response: [queryInner](https://github.com/kubeedge/kubeedge/blob/master/cloud/pkg/edgecontroller

[2022-05-10 03:18] XiaoDouGeGe opened #3838 "How to implement active/standby configuration of two devices"
The situation is that there are 2 devices, one is the master and the other is the backup. When the master is abnormal, the backup device can work normally, thus achieving high availability.

[2022-05-10 03:35] huanwei opened #3839 "[Feature] To support edge nodes running on OpenHarmony"
**What would you like to be added/modified**:
To support edge nodes running on OpenHarmony.

**Why is this needed**:
At present, most edge computing frameworks in the industry only discuss GPOS scenarios. While the future of edge computing will definitely extend to scenarios that require more real-time and lower power consumption. Therefore, it is very challenging and meaningful to realize the sup

[2022-05-10 08:16] cl2017 opened #3840 "deployment tolerations failed when there are too many nodes"
**What happened and what you expected to happen**:

Deployment tolerations failed when there are too many nodes.
I'm setting deployment yaml like this:
[code]

Within ten edge nodes, tolerations works fine.
But after I add many not ready edge nodes to the cluster(e.g. 100+), tolerations don't work.
The deployment expels the pod on the NotReady node, but does not schedule a new pod

**How to reprod

[2022-05-11 08:25] vincentgoat opened #3841 "meta"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):
- <details><summary>Cloud nodes Environment:</summary>

  - Hardware configuration (e.g. `lscpu`):
  - OS

[2022-05-12 06:38] neiba opened #3842 "dynamiccontroller message was sent in MessageWriteLoop function"
**What happened**:
1. enable dynamiccontroller and metaserver, watching pod resource in edge node.
2. dynamiccontroller send message to edge with MessageWriteLoop function instead of ListMessageWriteLoop.
3. objectsync for these pod there are not scheduling to edge node was created.

**What you expected to happen**:
1. dynamiccontroller send message to edge with ListMessageWriteLoop function.
2. o

[2022-05-12 07:11] zirain opened #3843 "support custom namespace on `keadm beta`"
**What would you like to be added/modified**:

right now, the namespace is constant when you run `keadm beta init`.

https://github.com/kubeedge/kubeedge/blob/629398eed1a542de82a25673e633730b509afd39/keadm/cmd/keadm/app/cmd/beta/init.go#L151

**Why is this needed**:

it would be nice to allow users install CloudCore in an custom namespace, especially in multi-tenant.

[2022-05-14 22:49] fujitatomoya opened #3846 "KubeEdge supports Istio?"
This is general question if KubeEdge supports Istio.
I can see `Unified Service Mesh support (Integrate with Istio/OSM etc.)` in [roadmap](https://kubeedge.io/en/docs/roadmap) 2021, but could not find the official support announcement.

there are a couple of related questions as below.

- https://github.com/kubeedge/kubeedge/issues/2314
- https://github.com/kubeedge/kubeedge/issues/2677

After all

[2022-05-16 02:30] vincentgoat opened #3848 "Failed to integrate nginx ingress controller on edge node"
**What happened**:
Failed to integrate nginx ingress controller on edge node, and it logs this error:
W0516 02:20:22.718781       1 client_config.go:615] Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.
W0516 02:20:22.718827       1 client_config.go:620] error creating inClusterConfig, falling back to default config: unable to loadin-cluster config

[2022-05-16 02:56] JieweiYan commented on #3832
What functional modules are involved in this issues?

[2022-05-16 06:22] QeelinDarly commented on #3832
There are two cases here that we need to cover. One of KubeEdge reliablility use case when the edge is offline, other is offline autonomy at the edge. I have roughly collected the files that need to be covered by the test, including some functions for data collection. We just need to focus on the edge part of the code. There are 5 parts we need to cover. But it is still rough and needs to be subdi

[2022-05-16 12:34] fisherxu commented on #3846
@fujitatomoya Yes, now we can deploy Istio with KubeEdge, but you need to ensure the edge nodes can connect to each other. And could you please provide more details that how do you want to use istio in edge? :)

[2022-05-16 22:37] fujitatomoya commented on #3846
@fisherxu awesome! and thanks for the quick response!

Is this supposed to mean that all edge nodes running edgecore, they all must be accessible via network? i think it is unlikely that edge devices are in the same network... in that case, we need to configure edge nodes to connect each other with using like VPN or something.
Or does that mean Pods/Containers on edge nodes need to be accessible v

[2022-05-17 06:14] yz271544 opened #3850 "why have a random port listening by edgecore"
**What happened and what you expected to happen**:

i found have a random port listening by edgecore,  how happen it?
![random-port-on-edgecore](https://user-images.githubusercontent.com/16499075/168741347-e9b2df7a-35af-48c4-b110-48858f4130d3.png)

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kub

[2022-05-17 06:45] yz271544 commented on #3850
found it is a http service:
![random-port-on-edgecore-http](https://user-images.githubusercontent.com/16499075/168746256-07dda72e-02fa-4457-8c42-49829ecb7b16.png)

[2022-05-17 09:08] QeelinDarly commented on #3850
Maybe you can check it in your K8s service.
`kubectl get svc -A`
If you have a service in your edge, it will expose a port for your service.

[2022-05-17 10:31] yz271544 commented on #3850
I checked the `svc -A` and `gateway of edgemesh-gateway`.
Sorted out the exposed ports of cluster services and gateways.
Sadly I don't get these ports.

I use the kubeedge version > v1.9.1, but not v1.9.2.
If your cluster not these suspicious port, i think shoud be try a new version.

[code]

[2022-05-17 11:25] siredmar commented on #3823
Thanks.

[2022-05-17 11:25] #3823 closed

[2022-05-17 11:54] wjf222 opened #3851 "Join edge-node: Faild to get CA certificat"
**What happened and what you expected to happen**:
When I run the command: keadm beta join --cloudcore-ipport=192.168.1.210:10000. the following error appears
![image](https://user-images.githubusercontent.com/52238329/168804149-692e8c3e-e87f-4939-b69a-1a8ecc572e27.png)
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
The solution mentioned in

[2022-05-17 22:05] fujitatomoya opened #3852 "KubeEdge supports WeaveNet?"
This is general question if KubeEdge supports [WeaveNet](https://www.weave.works/docs/net/latest/overview/) one of CNI implementation.
I can see CNI plugin support (Integration and verification of third-party CNI) in [roadmap](https://kubeedge.io/en/docs/roadmap) 2021, is it officially supported including WeaveNet?

`third-party CNI` means any CNI implementation, so as long as implementation is bu

[2022-05-17 22:06] fujitatomoya commented on #3852
CC: @fisherxu @FengGaoCSC

[2022-05-17 22:06] fujitatomoya commented on #3852
related to https://github.com/kubeedge/kubeedge/issues/3846

[2022-05-18 01:33] lgy1027 commented on #3688
Sometimes kubectl top node is used to obtain unknowns

[2022-05-18 02:58] Aix6 opened #3853 "The "Edge access cloud" test case does not work"
**What happened**:
Using the following test case:
https://edgemesh.netlify.app/guide/test-case.html#cross-edge-cloud
When I deploy the "Cloud access edge " test case, they are scheduled correctly. But when I try using the "Edge access cloud" test case, I get the error "telnet: bad address 'tcp-echo-cloud-svc.cloudzone'".
**What you expected to happen**:
The service on the edge side can access the

[2022-05-18 12:13] syedelec opened #3854 "CC variable is hard coded"
**What happened and what you expected to happen**:
hack/lib/golang.sh hardcoded CC to arm-linux-gnueabi-gcc.

**How to reproduce it (as minimally and precisely as possible)**:
Use a different toolchain to build

**Anything else we need to know?**:
Allow setting CC for cross compiling

Related issue: https://github.com/kubeedge/kubeedge/issues/1568

[2022-05-18 22:14] VMois commented on #3660
I think this issue can be closed.

[2022-05-19 03:08] Chen-Hongji commented on #3153
I also have this problem after running edgecore with no load for a while, will it be fix in kubeedge1.10.x ?

[2022-05-19 03:12] zc2638 commented on #3153
/cc @fisherxu

[2022-05-20 06:24] QeelinDarly commented on #3851
Can you check your cloudcore running? Please print your cloudcore logs here.

[2022-05-21 07:01] gy95 opened #3860 "run systemd edgecore.service in pure go"
**What would you like to be added/modified**:
when we run `keadm beta join` command to start an edge node, we run systemd related commands in our source codes to start edgeocre systemd service, such as
https://github.com/kubeedge/kubeedge/blob/bef4c51ee551d315e3eb5e75db4878dd023b867f/keadm/cmd/keadm/app/cmd/edge/joinbeta.go#L250-L254

I find a go package https://github.com/coreos/go-systemd , mayb

[2022-05-21 16:50] wjf222 commented on #3851
I have previously confirmed that CloudCore is up and logging properly. I installed it successfully by installing version 1.8 and don't intend to reinstall version 1.9 and 1.10.
After following the steps on the official website, CloudCore Service starts as shown in the diagram in the question, only the internal port is open, but not the external port.
![image](https://user-images.githubusercontent.

[2022-05-21 20:36] robpickerill commented on #3860
I think to switch this over we could use the dbus package from go-systemd, and it would look something like this:

[code]

What do you think? I'll tidy it up, and publish the PR if this is the kind of approach you were seeking here.

[2022-05-24 06:49] #3830 closed

[2022-05-25 03:12] liuwnzh opened #3869 "forged kube-proxy or kubelet process is deployed in the environment, the edgecore cannot be restarted"
**What happened and what you expected to happen**:

In malicious attack scenarios, if a forged kube-proxy or kubelet process is deployed in the environment, the edgecore cannot be restarted.

![image](https://user-images.githubusercontent.com/17447711/170171103-e51cc44e-7460-495b-9f00-e8cfe116b7d4.png)

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to k

[2022-05-25 03:15] liuwnzh commented on #3869
Is there a better way to check for process conflicts than simply checking the process name?

[2022-05-25 06:30] zirain opened #3870 "run `keadm beta reset` fail"
**What happened**:

[code]

**What you expected to happen**:

reset edge node success

**How to reproduce it (as minimally and precisely as possible)**:

run `keadm beta reset` on an edge node

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): ``
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`): `version: version.Info{Major:"

[2022-05-25 08:11] zirain opened #3874 "no error when run `keadm beta join` failed"
**What happened**:

no error report when run ` /usr/local/bin/keadm beta join --token= --cloudcore-ipport=x.x.x.x:8080` failed

[code]

**What you expected to happen**:

exit code should not be 0 in this scenario。

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version

[2022-05-25 08:17] gy95 commented on #3874
The management directory /etc/kubeedge/ is not clean, please remove it first
should rm /etc/kubeedge dir

[2022-05-25 08:21] zirain commented on #3874
I think we should return error when prerun failed, not only run failed.

[2022-05-25 08:24] gy95 commented on #3874
yes, we can refactor function to fix this: `PreRun` to `PreRunE`, `Run` to `RunE`
https://github.com/kubeedge/kubeedge/blob/88f708e75ca1365baacf78c4b9ce95d1b304fe02/keadm/cmd/keadm/app/cmd/edge/joinbeta.go#L67
https://github.com/kubeedge/kubeedge/blob/88f708e75ca1365baacf78c4b9ce95d1b304fe02/keadm/cmd/keadm/app/cmd/edge/joinbeta.go#L92

[2022-05-25 08:38] gy95 commented on #3874
[code]
I just change PreRun to PreRunE, Is this OK? @zirain

[2022-05-25 08:48] zirain commented on #3874
I think that would be better

[2022-05-26 06:43] #3874 closed

[2022-05-26 17:28] #3852 closed

[2022-05-27 01:11] wackxu commented on #3153
Can you provide the log of edgecore? And how about the network quality of edge nodes and the cloud? Are there frequent disconnections?

[2022-05-27 02:21] gy95 opened #3879 "keadm cmds update"
keadm installation updates, we will use `keadm beta` cmd implement by default, the before cmd `keadm init/join/reset` implement will be deprecated
 IMO, this task can be divided into the below two steps
- [ ] move `keadm init/join/reset`  cmds to deprecated  #3880
- [ ] move `keadm beta` command to GA

[2022-05-27 02:42] gy95 commented on #3879
/assign

[2022-05-29 12:02] algobot76 opened #3884 "make all WHAT=cloudcore GOLDFLAGS="" GOGCFLAGS="-N -l" doesn't work as expected"
**What happened**:

Wrong flags were used during compilation.

![image](https://user-images.githubusercontent.com/20016835/170866823-d7bc6611-8f6d-48c8-808c-49b72fbe6b82.png)

**What you expected to happen**:

- gcflags="-N -l" -ldflags=""

**How to reproduce it (as minimally and precisely as possible)**:

Run `make all WHAT=cloudcore GOLDFLAGS="" GOGCFLAGS="-N -l"`

**Anything else we need to kno

[2022-05-30 00:27] gy95 commented on #3884
now we build binaries in container mode by default, and this is due to we don't pass in the env ` GOLDFLAGS` and `GOGCFLAGS` to the running container.
https://github.com/kubeedge/kubeedge/blob/d3c65540eedb782a92ef67d24a1cf7eb5244c16c/hack/make-rules/build_with_container.sh#L30-L35
by logging the variable `$@`, this variable only contains `hack/make-rules/build.sh keadm`, without any information ab

[2022-05-30 02:20] hey-kong commented on #3526
I had the same problem.
kubeedge1.9.1.

[2022-05-30 02:21] gy95 commented on #3884
/assign @algobot76

[2022-05-31 02:45] QianQianowo opened #3888 "Add extended http handler for websocket server"
**What would you like to be added/modified**:
To add extended http handler for the websocket server of cloudhub

**Why is this needed**:
Currently, the websocket server of kubeedge supports only one HTTP handler. We want to extend it to invoke more HTTP handers through the WebSocket server.

[2022-05-31 08:45] AdamKorcz commented on #3765
KubeEdge is now being fuzzed continuously by way of go-fuzz and OSS-fuzz.
KubeEdges fuzzers that are running continuously can be found here: https://github.com/cncf/cncf-fuzzing/tree/main/projects/kubeedge.
The OSS-Fuzz integration can be found here: https://github.com/google/oss-fuzz/tree/master/projects/kubeedge.

[2022-05-31 09:20] jinfahua opened #3890 "Support Windows OS for managed nodes"
**What would you like to be added/modified**:
Currently, only the nodes installing with Linux system can be supported. But there are some cases that the nodes deployed at the edge installed with Windows OS. Especially for the users in IIoT. For the legacy problem, the default OS installed in Industrial PC is Windows.

**Why is this needed**:
IIoT could possibly widely adopt KubeEdge, and it's impo

[2022-05-31 13:16] vincentgoat commented on #3850
FYI: [Why is my kubelet listening on a random port](https://alexbrand.dev/post/why-is-my-kubelet-listening-on-a-random-port-a-closer-look-at-cri-and-the-docker-cri-shim/)

[2022-06-01 01:33] #3853 closed

[2022-06-01 01:53] RyanZhaoXB opened #3895 "tracking issue about feature DMI"
hello guys. we have proposed an [issue](https://github.com/kubeedge/kubeedge/issues/3760) about DMI and we are working to implement it these days. here is the working plan for DMI and welcome to join us.

alpha version：
- [ ]  DMI Interface Adaptation @RyanZhaoXB

1. provide DMI definition
2. the device operation logic of devicetwin in the original edgecore is modified to invoke the DMI interface.

[2022-06-02 10:45] kevin-wangzefeng commented on #3890
Thanks for bringing back the windows support topic, could you provide more details? E.g. OS version.

I think the major challenge is container runtime maturity on Windows, for EdgeCore it's easy to support.

[2022-06-02 14:27] ppt93 opened #3898 "run lots of edgemesh-agent in edge node"
when I run damonset of edgemesh-agent, It is giving me a headache。
Each edge node runs 7 containers of edgemesh-agent just like this :
I use "crictl ps in the edge node":

CONTAINER           IMAGE               CREATED             STATE               NAME                ATTEMPT             POD ID
5dca92111b73b       9d055bb5d3ee9       8 minutes ago       Running             edgemesh-agent      0

[2022-06-02 14:29] ppt93 commented on #3898
![image](https://user-images.githubusercontent.com/106756188/171652680-e12297d3-0b78-4eff-92b6-4094a57e5f65.png)
![11db11f0cfd53b4fce9ee59c3e8fd7d](https://user-images.githubusercontent.com/106756188/171652798-ba5abbe7-592f-40b8-bd2d-5046150fb00f.png)
![22ac02b3b230ee575517209a5ec625b](https://user-images.githubusercontent.com/106756188/171652835-fcd45b90-8fb3-4862-bab2-8dcf279c6828.png)

[2022-06-02 14:58] ppt93 commented on #3898
I use kubectl get pods -n kubeedge -o wide -w to watch pod like this:
![image](https://user-images.githubusercontent.com/106756188/171659072-0f55fd08-6e05-48cf-9aaf-f642c79e9231.png)

[2022-06-06 10:30] farawaychen opened #3901 "Provides an indication of whether the edge is in a NotReady state"
**What would you like to be added/modified**:
Provides an indication of whether the edge is in a NotReady state
**Why is this needed**:
It is common for an edge to become a NotReady state after running for a long time.We can add the circumvention logic by determining the added state.Such as restart edgecore

[2022-06-09 06:15] snstaberah opened #3905 "support for kubernetes after v1.22"
**What would you like to be added/modified**:
check compatibility for kubernetes after v1.22
**Why is this needed**:
many beta api has been removed in kubernetes 1.22，such as apiextensions、admissionregistration
[https://kubernetes.io/zh/docs/reference/using-api/deprecation-guide/#v1-22](url)
but some api are still in use in kubeedge code；so kubeedge can't run correctly after kubernetes v1.22
![ima

[2022-06-09 07:06] flyme001 opened #3906 "10350: connect: connection refused"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):
- <details><summary>Cloud nodes Environment:</summary>

  - Hardware configuration (e.g. `lscpu`):
  - OS

[2022-06-09 07:09] flyme001 commented on #3906
[root@vm10 ~]# kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.5", GitCommit:"aea7bbadd2fc0cd689de94a54e5b7b758869d691", GitTreeState:"clean", BuildDate:"2021-09-15T21:10:45Z", GoVersion:"go1.16.8", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.5", GitCommit:"aea7bbadd2fc0cd689de94a54e5b7b758869d69

[2022-06-09 07:11] flyme001 commented on #3906
什么叫iptunnelport  两个tunnelport 这块问题属于哪里尼 配置 这样解决 iptables -t nat -I OUTPUT -p tcp --dport 10350  -j DNAT --tcp 192.168.0.30:10003  这样在cloud端 和 边端都加了 还是无法解决 我看其他issiue 回答模糊的很

[2022-06-09 09:18] yeqiugt commented on #3860
/assign

[2022-06-10 01:16] gy95 commented on #3906
你是用kubectl logs查看边缘侧pod的日志吗？需要参考下面的文档开启stream功能
ref：https://kubeedge.io/en/docs/advanced/debug/

[2022-06-13 22:59] mlowa opened #3912 "installation of the edgecore fails."
**What happened**:
Hallo, I have a machine on which i have installed three virtual machines. i use an ip-adress as a proxy to redirect the traffic on the three virtual machines through different ports. one of the virtual machines is accessible through port 2522 and it is on this machine that i have installed the cloudcore. the installation of the cloudcore seems to work normally but the installati

[2022-06-14 07:14] snstaberah opened #3913 "support for old CRDs convertion to newer ones"
**What would you like to be added/modified**:
With the rapid update of kubeedge version, the kubeedge CRD content  and the api version of CRD will also be updated; How to upgrade an existing kubeedge cluster to a new kubeedge version， and upgrade the existing CRD resources in the cluster to the corresponding new version is a practical problem that users face in the process of using kubeedge;

mayb

[2022-06-14 08:09] vincentgoat commented on #3912
Hi @mlowa, I think you should start cloudcore with the parameter --advertise-address="**Proxy-IP-Address**"

[2022-06-14 11:05] #3843 closed

[2022-06-14 13:35] RyanZhaoXB opened #3919 "create mapper automatically when a device instance is created"
**What would you like to be added/modified**:
i want to modify the cloudcore to create a mapper deployment automatically when a device is created.

**Why is this needed**:
when a user create a device, he should have created a mapper deployment on the specific edge node in advance. now we improve the user experience. when a user create a device with mapper image filled in the device annotation with

[2022-06-16 05:40] JiaweiGithub commented on #2242
I would like to work on this

[2022-06-16 06:12] JiaweiGithub commented on #2242
/assign

[2022-06-16 06:56] yeqiugt opened #3927 "fix typo error"
**What would you like to be added/modified**:
kubeedge\edge\cmd\edgecore\app\server.go
**Why is this needed**:
fix typo error

[2022-06-16 07:11] yeqiugt opened #3929 "delete it please"
**What would you like to be added/modified**:
edge/pkg/edged/edged.go
**Why is this needed**:
fix typo err

[2022-06-16 08:39] #3870 closed

[2022-06-16 09:13] gy95 commented on #3929
This is duplicated? If you want to delete this issue, you can just close it :)

[2022-06-16 09:15] yeqiugt commented on #3929
think u

[2022-06-16 09:15] #3929 closed

[2022-06-17 00:25] FengGaoCSC opened #3935 "[issue] KubeEdge didn't support Weave CNI"
**What happened**:
KubeEdge didn't support Weave CNI plugin

**What you expected to happen**:

Except KubeEdge support Weave CNI as KubeEdge can support flannel CNI with issue #2677

**How to reproduce it (as minimally and precisely as possible)**:
`my environment :`

[code]
`After deployment the weavenet cni`
[code]

`and after check the description of weave pod we can see that`

[code]
` and onl

[2022-06-17 03:09] fujitatomoya commented on #3935
CC: @fisherxu

[2022-06-17 05:34] JiaweiGithub commented on #2241
I want to do this

[2022-06-17 05:34] JiaweiGithub commented on #2241
/assign

[2022-06-17 06:36] abhinavjha126 commented on #3853
@Aix6 Can u please let me know how you achieved this test case successfully....i am also getting same error

[2022-06-18 16:38] fujitatomoya opened #3939 ""cgroupfs" is different from docker cgroup driver: "systemd""
**What happened**:

`edged` daemon failed to initialize because of inconsistency for `cgroup driver`.

[code]

**What you expected to happen**:

`edged` initializes w/o error.

**How to reproduce it (as minimally and precisely as possible)**:

try to join the cluster via `keadm`

[code]

**Anything else we need to know?**:

The KubeEdge default `cgroupfs` is defined as `cgroupfs` including `/etc/k

[2022-06-18 16:38] fujitatomoya commented on #3939
related issue,

- https://github.com/kubeedge/kubeedge/issues/1772
- https://github.com/kubeedge/kubeedge/issues/1960

[2022-06-18 16:39] fujitatomoya commented on #3939
Work-around is to modify `/etc/kubeedge/config/edgecore.yaml`

[code]

[2022-06-18 16:39] fujitatomoya commented on #3939
kubelet default cgroupDriver is `systemd`, this is recommended. but why not KubeEdge???
probably KubeEdge edgecore default config can be also set as `systemd`?

[2022-06-20 02:37] ldk273427673 opened #3941 "Edge Node autonomy？ why pod in edgenode will rebuild on the network is reconnnect?"
**Which jobs are failing**:
i want use kubeedge to mange the edgenode and i need the edgenode can autonomy
when my edgenode is offline , i can see the pod nginx on this node is running ,but when i repaire the edgenode 's network , i found the nginx pod seems to termianlly and rebuild a new nginx pod ,
i do not want the pod is the new states , why i cannot keep the pod old,

**Which test(s) are fai

[2022-06-20 02:38] WintonChan opened #3942 "Node IP is different from the network IP of edge device"
**What happened**:
  In mobile network, the IP of a edge device had been changed. But its node IP in the cluster of kubeedge still keep old ip.

**What you expected to happen**:

the edge device of node ip remain the same with the ip of mobile network.

**How to reproduce it (as minimally and precisely as possible)**:

when edge device had connected to the cloud, chane the ip of edge device.

**An

[2022-06-20 02:55] wackxu commented on #3942
the node ip is detected when the edgecore started, maybe you can try  restart the edgecore

[2022-06-20 06:01] FengGaoCSC opened #3944 "[Question] Dose edgecore support Reserve Compute Resources for System Daemons like kubelete with argument --kube-reserved and --system-reserved"
**What happened and what you expected to happen**:
Dose `edgecore` support to **Reserve Compute Resources for System Daemons** like `kubelete` with argument --kube-reserved and --system-reserved ?

**Anything else we need to know?**:
In /etc/kubeedge/config/edgecore.yaml
[code]
What is this edgedMemoryCapacity means?

**Environment**:
- Kubernetes version (use `kubectl version`):
  - 1.21.4
- Kube

[2022-06-20 06:03] FengGaoCSC commented on #3944
CC: @fisherxu  @fujitatomoya

[2022-06-20 11:50] yeqiugt opened #3946 "fix typo err"
**What would you like to be added/modified**:
edge/pkg/metamanager/process_test.go
**Why is this needed**:
fix typo err

[2022-06-20 15:04] JiaweiGithub opened #3952 "Is there any way to limit network bandwidth for edgenode applications?"

[2022-06-21 06:34] vincentgoat commented on #3935
Hi @fujitatomoya, as you describe above, the weave pod can't access api-server cause this error. Can you set the api-server address to the local meta server address (default is 127.0.0.1:10550). Also, the prerequisite is to turn on the meta server module in the edgecore.yaml and dynamicController module in the cloudcore.yaml.

[2022-06-21 06:49] FengGaoCSC commented on #3935
hi @vincentgoat

-  I see the issue#2677 that flannel can set the the local meta server address (default is 127.0.0.1:10550) with following
[code]
but the `--kube-api-url=http://127.0.0.1:10550`  arguments is one of options of  `flanneld`.  and `Weave CNI` plugin haven't this options, Could you tell me how to set the api-server address to the local meta server address(default 127.0.0.1:10550)?

ve

[2022-06-21 11:47] JiaweiGithub commented on #3952
@Poorunga  Could you give me some advice?

[2022-06-21 13:28] siredmar opened #3959 "Add ability for EdgeApplications to target NodeGroups by label"
**What would you like to be added/modified**:

I'd like to add the ability to use NodeGroups not only by name, but also by label.

**Why is this needed**:
Using the scenario below it is possible to handle an EdgeApplication for different (dynamic created/deleted) NodeGroups.

In the example below there are two NodeGroups: blue and green containing blue and green nodes accordingly.
Both NodeGroups

[2022-06-21 14:54] jsjxyjl commented on #3546
我也遇到了这个问题，怎么解决啊

[2022-06-22 15:19] jsjxyjl commented on #3906
我也遇到了，怎么解决呀

[2022-06-23 02:01] vincentgoat commented on #3959
That would be great, looking forward to it.
cc @Congrool

[2022-06-23 02:11] vincentgoat commented on #3935
Which is the api-server that the `Weave CNI` use? Can you check it in the weave log files?

[2022-06-23 02:32] Congrool commented on #3959
Thanks for your feedback. Sounds good to me. I'll implement it later. It's also welcome if you would like to take over this work. @siredmar

[2022-06-23 05:02] fujitatomoya commented on #3935
@vincentgoat are you suggesting that it weave init should issue the API to get `KUBE_PEERS` to the local meta server address (default is 127.0.0.1:10550)? instead of k8s api-server.

@FengGaoCSC i am not sure how this is doable though. any thoughts? probably we need to adjust the weave implementation or init script or something?

this seems to be correct.

[2022-06-23 14:15] siredmar commented on #3959
@Congrool would be nice to if you'd implement this. I currently have no spare time to do this.

[2022-06-24 01:50] dafanshu opened #3977 "The module twin message channel is full"
**What happened**:
Jun 24 01:19:17 kubeedge002 edgecore[6121]: W0624 01:19:17.686694    6121 context_channel.go:180] The module twin message channel is full, message: {Header:{ID:054edd38-8f43-4127-b897-4d62789f80e7 ParentID: Timestamp:1656033557686 ResourceVersion: Sync:false MessageType:} Router:{Source:bus Destination: Group:user Operation:response Resource:JGh3L2V2ZW50cy9kZXZpY2UvbWFpbi1tZXRlc

[2022-06-24 06:59] wackxu commented on #3977
what is the frequency of device twin updates?

[2022-06-24 07:29] regicied opened #3978 "meta_v2 info sync bug on edge side"
![809d6198c5b5d2da3454a81d02eb5e7](https://user-images.githubusercontent.com/44462546/175485022-16880589-7b86-4a6e-8c65-04c8f8046289.png)

when the cloud frequently update the meta_v2 info on edge side , there will be a sqlite transcation error @RyanZhaoXB

[2022-06-24 10:12] 8183736 commented on #3729
192.168.2.170
122.231.47.238
报错的这2个IP是什么角色？edgemesh server还是agent？

[2022-06-24 10:35] dafanshu commented on #3977
total 10 properties，every 1s

[2022-06-24 10:46] dafanshu opened #3983 "can't delete pod on edge node,"
**What happened**:
messagehandler.go:471] Failed to send event to node: kubeedge002, affected event: id: c509975e-b2f4-42fa-aa06-45d7cde857fe, parent_id: , group: resource, source: edgecontroller, resource: default/pod/benthos-mapper-179-5bd88b49d9-956v2, operation: update, err: use of closed network connection

**What you expected to happen**:
delete pod on the edge node

**How to reproduce it (a

[2022-06-24 11:42] mhh12121 commented on #3567
It seems that I also met the same problem, but I'm not sure how to trigger it again, wat I got just the following logs(cloudcore)
[code]

And my edgecore just threw me sth 'cannot connect to cloudcore' etc error cuz the cloudcore was already down;

[2022-06-24 11:49] Berndinox commented on #3567
Disconnect the Edge Node, wait longer than 15 minutes, Boom!
I‘m curious there is not a single response from the devs yet, because at the edge longer downtimes can occoure more often.

[2022-06-25 01:19] wackxu commented on #3977
Could you paste the cloudcore and edgecore log so we can analyze in detail

[2022-06-25 07:51] kevin-wangzefeng opened #3984 "Easy way to provision containerized multi-node KubeEdge env for app development/testing purpose"
**What would you like to be added/modified**:
A tool that easily spin up a multi-node KubeEdge environment (and better on just one machine).

**Why is this needed**:

For app development cases, developers need an easy way to get a multi-node KubeEdge environment, so that they can focus on the application or other upper-layer platform development.

Differenct to EdgeMark which uses hollow edge node

[2022-06-25 07:57] kevin-wangzefeng commented on #3984
Initial idea -- we can wrap Kind for implementing this tool:
1. rely on Kind for the control-plane provisioning
2. implement containerized edgenodes part by ourselves.
3. the edgenode part we can also refer to the kind node construction process and import some basic building blocks.

[2022-06-25 07:57] kevin-wangzefeng commented on #3984
/cc @fisherxu @gy95

[2022-06-27 01:46] dafanshu commented on #3983
NAME           STATUS   ROLES                         AGE     VERSION                    INTERNAL-IP     EXTERNAL-IP   OS-IMAGE                KERNEL-VERSION                CONTAINER-RUNTIME

- dss            Ready    control-plane,master,worker   3d23h   v1.20.10                   192.168.1.250   <none>        CentOS Linux 7 (Core)   3.10.0-1160.45.1.el7.x86_64   docker://20.10.11

- edgenode-179

[2022-06-27 01:54] dafanshu commented on #3977
**no error on cloudcore**

` I0627 09:52:37.323279       1 upstream.go:188] Message: 3c2391d6-9e69-41e7-a628-9a5e52bb7169 process successfully

 I0627 09:52:47.165969       1 upstream.go:89] Dispatch message: ed8b9577-a9fe-4c19-a8b3-f12f7f2a35cc

 W0627 09:52:47.166010       1 upstream.go:93] Parse message: ed8b9577-a9fe-4c19-a8b3-f12f7f2a35cc resource type with error: unknown resource, found: nod

[2022-06-27 01:58] dafanshu commented on #3977
every other status is ok

[2022-06-27 08:27] vincentgoat commented on #3736
@mhh12121 Please try this PR #3743 to make sure if this issue can be solved in your kubeedge version.

[2022-06-30 11:52] vincentgoat opened #3999 "Integrating CodeQL into CI"
**What would you like to be added/modified**:
Integrating CodeQL into CI to harden KubeEdge security.
/help

**Why is this needed**:
CodeQL code scanning is a feature that can be used to analyze the code in a GitHub repository to find security vulnerabilities and coding errors.

[2022-06-30 12:01] vincentgoat commented on #3983
Seems the same issue #3743.

[2022-06-30 12:06] gy95 commented on #3999
ref: https://github.com/github/codeql-action

[2022-06-30 13:15] vincentgoat opened #4001 "Set InsecureSkipVerify to false in http request"
**What would you like to be added/modified**:
Set InsecureSkipVerify to false in http request

**Why is this needed**:
“InsecureSkipVerify controls whether a client verifies the server's certificate chain and host name. If InsecureSkipVerify is true, crypto/tls accepts any certificate presented by the server and any host name in that certificate. In this mode, TLS is susceptible to machine-in-the-